@import models.common.Staking._
@import utilities.MicroNumber
@import views.html.base._
@import views.html.base.cards._
@import views.html.component.blockchain.account.{accountDelegationsDelegated, accountDelegationsRedelegating, accountDelegationsUndelegating}

@import scala.collection.immutable.ListMap

@(delegations: ListMap[String, MicroNumber], undelegations: ListMap[String, Seq[UndelegationEntry]], validatorsMoniker: Map[String, String], redelegations: ListMap[(String, String), Seq[RedelegationEntry]])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.ACCOUNT_DELEGATIONS) {
} {
    @commonHorizontalSwitcher(ListMap(
        constants.View.DELEGATED -> accountDelegationsDelegated(delegations, validatorsMoniker),
        constants.View.UNDELEGATING -> accountDelegationsUndelegating(undelegations, validatorsMoniker),
        constants.View.REDELEGATING -> accountDelegationsRedelegating(redelegations, validatorsMoniker),
    ))
}
