@import views.html.base._
@import models.common.Serializable.Coin
@import scala.collection.immutable.ListMap
@import utilities.MicroNumber

@(withdrawAddress: String, stakingDenom: String, totalRewards: Coin, validatorRewards: ListMap[String, Coin], validatorsMap: Map[String, String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div>
    @commonHtmlInfo(constants.View.WITHDRAW_ADDRESS, commonJavascriptLink(withdrawAddress, JavaScript(s"""componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.wallet('${withdrawAddress}'))""")))
    @commonTextInfo(constants.View.TOTAL_REWARDS, totalRewards.getAmountWithNormalizedDenom())
    @validatorRewards.map { case (validatorAddress, amount) =>
        @commonJavascriptLink(validatorsMap.getOrElse(validatorAddress, validatorAddress), JavaScript(s"""componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.validator('${validatorAddress}'))""")): @amount.getAmountWithNormalizedDenom()
    }
</div>