@import views.html.base._
@import models.common.Serializable.Coin
@import scala.collection.immutable.ListMap

@(accountBalances: Seq[Coin])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="pieChartContainer">
	@if(accountBalances.nonEmpty) {
		<div class="ibcDenom">
		@accountBalances.map { coin =>
			@commonTextInfo(coin.normalizeDenom, utilities.NumericOperation.formatNumber(coin.amount))
		}
		</div>
		@defining[ListMap[String, Double]](ListMap(accountBalances.map(x => x.normalizeDenom -> x.amount.toDouble): _*)) { data =>
			@commonPieChart("accountWalletAllTokensChart", data, showLegend = false)
		}
	} else {
		@Messages(constants.View.EMPTY_WALLET)
	}
</div>