@import views.html.component.blockchain.authorization
@import models.blockchain.Authorization
@import views.html.base.buttons._

@(granted: Seq[Authorization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@if(granted.nonEmpty) {
    <table class="cmuk-table cmuk-table-striped">
        <thead>
            <tr>
                <th>@Messages(constants.View.ASSIGNED)</th>
                <th>@Messages(constants.View.MESSAGES_TYPE)</th>
                <th>@Messages(constants.View.EXPIRATION)</th>
            </tr>
        </thead>
        <tbody>
        @granted.zipWithIndex.map { case (authz, index) =>
            <tr>
                <td class="blockHeightItem">@commonJavascriptLink(authz.grantee, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.wallet('${authz.grantee}'))"))</td>
                <td>@Messages(constants.View.TxMessagesMap.getOrElse(authz.msgTypeURL, authz.msgTypeURL))</td>
                <td id='@Seq(authz.granter, authz.grantee, index.toString).mkString("_")'>
                    <script>
                            fromEpochDateToLocal(@authz.expiration, '@Seq(authz.granter, authz.grantee, index.toString).mkString("_")')
                    </script>
                </td>
            </tr>
        }
        </tbody>
    </table>
}