@import views.html.base.cards._
@import views.html.base.buttons._
@import views.html.base._

@(address: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.ACCOUNT_TRANSACTIONS) {
} {
    <div id="accountTxs"></div>
    @commonSpinner("accountTransactionsPageChangeSpinner")
    <div class="paginationButtonContainer">
        @commonPaginationButton(constants.View.BACK, JavaScript(s"getAccountTxs('${address}', -1)"), icon = "backArrow", size = "small", iconFirst = true, Symbol("id") -> "accountTransactions_BACK")
        @commonPaginationButton(constants.View.NEXT, JavaScript(s"getAccountTxs('${address}', 1)"), icon = "nextArrow", size = "small", iconFirst = false, Symbol("id") -> "accountTransactions_NEXT")
    </div>
    <script>
            componentResource('accountTxs', jsRoutes.controllers.ComponentViewController.accountTransactionsPerPage('@address', 1), 'accountTransactionsPageChangeSpinner', 'pageChange');
    </script>
    <script src="@routes.Assets.versioned("javascripts/accountTransactions.js")" type="text/javascript"></script>
}