@import views.html.base._
@import models.common.Serializable.UndelegationEntry
@import scala.collection.immutable.ListMap

@(undelegations: ListMap[String, Seq[UndelegationEntry]], validatorsMoniker: Map[String, String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<table class="cmuk-table cmuk-table-striped">
    <thead>
        <tr>
            <th>@Messages(constants.View.VALIDATOR_ADDRESS)</th>
            <th>@Messages(constants.View.AMOUNT_UNDELEGATING)</th>
            <th>@Messages(constants.View.COMPLETION_TIME)</th>
        </tr>
    </thead>
    <tbody>
    @undelegations.map { case (validatorAddress, undelegationEntries) =>
        <tr>
            @undelegationEntries.map { undelegationEntry =>
                <td>
                    @commonJavascriptLink(validatorsMoniker.getOrElse(s"${validatorAddress}", s"${validatorAddress}"), JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.validator('${validatorAddress}'))"))
                </td>
                <td>@utilities.NumericOperation.formatNumber(utilities.NumericOperation.roundOff(undelegationEntry.balance.toDouble))</td>
                <td>@utilities.Date.bcTimestampToString(undelegationEntry.completionTime)</td>
            }
        </tr>
    }
    </tbody>
</table>