@import models.common.Serializable.Coin
@import views.html.base._

@import scala.collection.immutable.ListMap

@(withdrawAddress: String, stakingDenom: String, totalRewards: Coin, validatorRewards: ListMap[String, Coin], validatorsMap: Map[String, String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div>
    @commonHtmlInfo(constants.View.WITHDRAW_ADDRESS, commonJavascriptLink(withdrawAddress, JavaScript(s"""componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.wallet('${withdrawAddress}'))""")))
    @commonTextInfo(constants.View.TOTAL_REWARDS, totalRewards.getAmountWithNormalizedDenom())
    <div class="cmuk-text-left title">@Messages(constants.View.VALIDATORS)</div>
    @validatorRewards.map { case (validatorAddress, amount) =>
    @commonHtmltoHtmlInfo(key = commonJavascriptLink(validatorsMap.getOrElse(validatorAddress, validatorAddress), JavaScript(s"""componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.validator('${validatorAddress}'))""")), value = Html(amount.getAmountWithNormalizedDenom()))
    }
</div>