@import views.html.base.buttons._
@import models.blockchain.Transaction
@import models.blockchain.Block
@import views.html.base._

@(transactions: Seq[Transaction], blocks: Seq[Block])(implicit requestHeader: RequestHeader, getMessagesProvider: MessagesProvider)

@if(transactions.nonEmpty) {
    <table class="cmuk-table cmuk-table-striped">
        <thead>
            <tr>
                <th>@Messages(constants.View.TRANSACTION_HASH)</th>
                <th>@Messages(constants.View.HEIGHT)</th>
                <th>@Messages(constants.View.MESSAGES_TYPE)</th>
                <th>@Messages(constants.View.STATUS)</th>
                <th>@Messages(constants.View.TIME)</th>
            </tr>
        </thead>
        <tbody>
        @transactions.map { tx =>
            <tr>
                <td class="blockHeightItem" title=@tx.hash>
                    @commonJavascriptLink(tx.hash, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.transaction('${tx.hash}'))"))
                </td>
                <td>
                    @commonJavascriptLink(tx.height.toString, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.block(${tx.height}))"))
                </td>
                <td id="transactionListPageItemTxMessageTypes_@index">@if(tx.getMessages.length == 1) {
                    @Messages(constants.View.TxMessagesMap.getOrElse(tx.getMessages.head.getTypeUrl, tx.getMessages.head.getTypeUrl))
                } else {
                    @Messages(constants.View.TxMessagesMap.getOrElse(tx.getMessages.head.getTypeUrl, tx.getMessages.head.getTypeUrl))
                    (+@(tx.getMessages.length - 1))
                }</td>
                <td>
                @if(tx.status) {
                    <span class="statusCheck">@commonIcon("check")</span>
                } else {
                    <span class="statusClose">@commonIcon("close")</span>
                }
                </td>
                <td id="accountTxDate_@tx.hash">
                    <script>
                            fromEpochDateToLocal('@blocks.find(_.height == tx.height).fold(0L)(_.time)', "accountTxDate_@tx.hash")
                    </script>
                </td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="emptyBlockTransaction">@Messages(constants.View.NO_TRANSACTIONS_FOUND)</div>
    <script>hideElement('accountTransactions_NEXT');</script>

}