@import models.common.Serializable.Coin
@import views.html.base.buttons._
@import views.html.base.cards._

@(withdrawAddress: String, stakingDenom: String, totalRewards: Coin)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="tableCard">
    <div class="cmuk-card-body">
    @commonTable(id = "accountWalletRewardsDetail", tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.TOTAL_REWARDS)</div>
                    <div class="tableFieldValue">@totalRewards.getAmountWithNormalizedDenom()</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.WITHDRAW_ADDRESS)</div>
                    <div class="tableFieldValue">@commonJavascriptLink(withdrawAddress, JavaScript(s"""componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.wallet('${withdrawAddress}'))"""))</div>
                </div>
            </td>
        </tr>
    }
    </div>
</div>