@import views.html.base.cards._
@import models.common.Parameters.MetaParameter
@import views.html.base.commonIcon

@(metaParameter: MetaParameter)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.METAS_PARAMETER) {
} {
    @commonTable(id = "metasParameter", tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.REVEAL_ENABLED):</div>
                    <div class="tableFieldValue">
                    @if(metaParameter.revealEnabled) {
                        <span class="statusCheck">@commonIcon("check")</span>
                    } else {
                        <span class="statusClose">@commonIcon("close")</span>
                    }
                    </div>
                </div>
            </td>
        </tr>
    }
}