@import views.html.base.cards._
@import models.common.Parameters.OrderParameter
@import views.html.base.commonIcon

@(orderParameter: OrderParameter)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.ORDERS_PARAMETER) {
} {
    @commonTable(id = "ordersParameters", tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.MAX_ORDER_LIFE):</div>
                    <div class="tableFieldValue">
                        @orderParameter.maxOrderLife Blocks
                    </div>
                </div>
            </td>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.PUT_ENABLED):</div>
                    <div class="tableFieldValue">
                    @if(orderParameter.putEnabled) {
                        <span class="statusCheck">@commonIcon("check")</span>
                    } else {
                        <span class="statusClose">@commonIcon("close")</span>
                    }
                    </div>
                </div>
            </td>
        </tr>
    }
}