@import views.html.base.cards._
@import views.html.base.commonIcon
@import models.common.Parameters.SplitParameter

@(splitParameter: SplitParameter)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.SPLITS_PARAMETER) {
} {
    @commonTable(id = "splitsParameters", tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.TRANSFER_ENABLED):</div>
                    <div class="tableFieldValue">
                    @if(splitParameter.transferEnabled) {
                        <span class="statusCheck">@commonIcon("check")</span>
                    } else {
                        <span class="statusClose">@commonIcon("close")</span>
                    }
                    </div>
                </div>
            </td>
        </tr>
    }
}