@import views.html.base._
@import models.blockchain.Transaction

@(transactions: Seq[Transaction])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@if(transactions.nonEmpty) {
    <table class="cmuk-table cmuk-table-striped">
        <thead>
            <tr>
                <th>@Messages(constants.View.TRANSACTION_HASH)</th>
                <th>@Messages(constants.View.HEIGHT)</th>
                <th>@Messages(constants.View.MESSAGES_TYPE)</th>
                <th>@Messages(constants.View.STATUS)</th>
                <th>@Messages(constants.View.TIME)</th>
            </tr>
        </thead>
        <tbody>
        @transactions.map { tx =>
            <tr>
                <td class="blockHeightItem">
                    @commonJavascriptLink(tx.hash, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.transaction('${tx.hash}'))"))
                </td>
                <td>
                @commonJavascriptLink(tx.height.toString, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.block(${tx.height}))"))
                </td>
                <td id="transactionListPageItemTxMessageTypes_@index">@if(tx.messages.length == 1) {
                    @Messages(constants.View.TxMessagesMap.getOrElse(tx.messages.head.messageType, tx.messages.head.messageType))
                } else {
                    @Messages(constants.View.TxMessagesMap.getOrElse(tx.messages.head.messageType, tx.messages.head.messageType))
                    (+@(tx.messages.length - 1))
                }</td>
                <td>
                @if(tx.status) {
                    <span cmuk-icon="check" class="check"></span>
                } else {
                    <span cmuk-icon="close" class="close"></span>
                }
                </td>
                <td>@utilities.Date.bcTimestampToString(tx.timestamp)</td>
            </tr>
        }
        </tbody>
    </table>
} else {
    @Messages(constants.View.NO_TRANSACTIONS_FOUND)
   <script>hideElement('validatorTransactions_NEXT');</script>
}