@import views.html.base._
@import views.html.base.infos._
@import views.html.base.buttons._
@import views.html.base.cards._
@import models.blockchain.Validator

@(validator: Validator, selfDelegationAddress: String, votingPower: String, bondedStatus: String, keyBaseValidatorAccount: Option[keyBase.ValidatorAccount])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(validator.description.moniker) {
    <div>
        @if(validator.status == bondedStatus) {
            <span class="cmuk-badge verified">@Messages(constants.View.ACTIVE)</span>

        } else {
            <span class="cmuk-badge pending">@Messages(constants.View.INACTIVE)</span>
        }
        @if(validator.jailed) {
            <span class="cmuk-badge rejected">@Messages(constants.View.JAILED)</span>
        }
    </div>
} {
    @commonTable(id = "validatorDetail", tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.OPERATOR_ADDRESS)</div>
                    <div class="tableFieldValue">@validator.operatorAddress</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.WALLET_ADDRESS)</div>
                    <div class="tableFieldValue">@commonJavascriptLink(selfDelegationAddress, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.wallet('${selfDelegationAddress}'))"))</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.COMMISSION_RATE)</div>
                    <div class="tableFieldValue">@utilities.NumericOperation.formatNumber(validator.commission.commissionRates.rate * 100)%</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.VOTING_POWER)</div>
                    <div class="tableFieldValue">@Seq(votingPower, "%", s"(${validator.tokens.toString})").mkString(" ")</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.VALIDATOR_WEBSITE)</div>
                    <div class="tableFieldValue">@validator.description.website</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.VALIDATOR_SECURITY_CONTACT)</div>
                    <div class="tableFieldValue">@validator.description.securityContact</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.VALIDATOR_DESCRIPTION_DETAILS)</div>
                    <div class="tableFieldValue">@validator.description.details</div>
                </div>
            </td>
        </tr>
    }
}