@import views.html.base.cards._
@import scala.collection.immutable.ListMap

@(uptime: Double, uptimeMap: ListMap[Int, Boolean], hexAddress: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.UPTIME) {
    @uptime %
} {
    <div id="@hexAddress">
        <div id="missingBlocksCounter" style="display: flex; flex-wrap: wrap">
        @defining(uptimeMap.keySet.last) { lastHeight =>
            @uptimeMap.map { case (height, present) =>
                @defining(height - lastHeight) { index =>
                    <div id="@Seq("missingBlocksCounter", 99 - index).mkString("_")">
                        <div class="block" cmuk-tooltip="@height" id="@height">
                        @if(present) {
                            <div class="full"></div>
                        } else {
                            <div class="empty"></div>
                        }
                        </div>
                    </div>
                }
            }
        }
        </div>
    </div>
}

