@import controllers.actions.LoginState
@import models.master.Classification
@import views.html.base.form._
@import views.html.base.cards._
@import views.html.base.infos._
@import views.html.base.buttons._

@(classifications: Seq[Classification])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.ORDER_DEFINITIONS) {
    @commonFormButton(constants.Form.ORDER_DEFINE)
} {
    @classifications.map { classification =>
        @commonVerticalInfoBox() {
            @commonVerticalTextInfo(constants.View.CLASSIFICATION_ID, classification.id)
            @commonVerticalBooleanInfo(constants.View.STATUS, classification.status)
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonModalButton(constants.View.PROPERTIES, routes.javascript.EntityController.properties, 'parameters -> s"'${classification.id}', '${constants.Blockchain.Entity.ORDER_DEFINITION}'")
            </div>
            <div class="buttonsListChild">
            @commonFormButton(constants.Form.ORDER_MAKE, 'parameters -> s"'${classification.id}'")
            @commonFormButton(constants.Form.MAINTAINER_DEPUTIZE, 'parameters -> s"'${classification.id}', '${constants.Blockchain.Entity.ORDER_DEFINITION}'")
            </div>
        }
    }
}