@import models.masterTransaction.TokenPrice
@import views.html.base.cards._
@import views.html.base.charts._

@import scala.collection.immutable.ListMap

@(tokenPrices: Seq[TokenPrice], stakingDenom: String, tokenTickers: Seq[constants.AppConfig.TokenTicker])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.TOKEN_PRICE) {
    <p>$@tokenTickers.find(_.denom == stakingDenom).fold(stakingDenom)(_.normalizedDenom)</p>
} {
    @if(tokenPrices.nonEmpty) {
        @commonLineChart(Seq("tokenPricesChart", stakingDenom).mkString("_"), ListMap(tokenPrices.map(token => token.createdOnMillisEpoch.fold("")(x => utilities.Date.getTimeFromEpoch(x)) -> token.price).reverse: _*), tokenTickers.find(_.denom == stakingDenom).fold(stakingDenom)(_.normalizedDenom), showLegend = false, constants.View.TIME, constants.View.USD)
    }
    @* <script src="@routes.Assets.versioned("javascripts/tokensPrices.js")" type="text/javascript"></script>*@
}