@import models.masterTransaction.Notification
@import views.html.base._

@(notifications: Seq[Notification])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="timeline recentActivityBox" cmuk-scrollspy="target: > div; cls: cmuk-animation-fade; delay: 100; repeat: true">
    @if(notifications.nonEmpty) {
        @notifications.map { notification =>
            <div class="timeline-item notification">
                <div class="timeline-icon">
                    @commonIcon("infoIcon")
                </div>
                <div onclick="onNotificationClick(@notification.jsRoute.getOrElse(""), @notification.jsRoute.getOrElse("").split("\\.").contains("ViewController"))" class="timeline-content">
                    <div>
                        <div class="textLineOverflow activityContent" title="@Messages(notification.template, notification.notificationTemplate.parameters: _*)">
                            <div class="cmuk-text-bolder timelineItemTitle">@Messages(notification.title)</div>
                            <div class="timelineItemMessage">@Messages(notification.template, notification.notificationTemplate.parameters: _*)</div>
                        </div>
                        <div id="time_@notification.id" class="notificationTime timelineItemTime">@notification.createdOnMillisEpoch</div>
                        <script>fromEpochDateToLocal(@notification.createdOnMillisEpoch, 'time_@notification.id')</script>
                    </div>
                </div>
            </div>
        }
    } else {
        <div class="noActivity cmuk-position-center cmuk-margin-top">@Messages(constants.View.NO_ACTIVITIES)</div>
    }
</div>
