@import controllers.actions.LoginState
@import constants.AppConfig.OtherApp

@(txHash: Option[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, otherApps: Seq[OtherApp], loginState: LoginState = null)

@if(txHash.isEmpty) {
    @views.html.index(Option(constants.View.TRANSACTIONS))
} else {
    @views.html.index(Option(""))
    <script>
            componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.transaction('@txHash.getOrElse("")'))
    </script>
}
