@import controllers.actions.LoginState
@import views.html.base._

@(identityIDs: Seq[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.UNPROVISIONED_IDENTITIES) {
} {
    @identityIDs.map { identityID =>
        @commonVerticalInfoBox() {
            @commonVerticalTextInfo(constants.View.IDENTITY_ID, identityID)
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonModalButton(constants.View.PROVISIONED_ADDRESS_LIST, routes.javascript.ComponentViewController.provisionedAddresses, 'parameters -> s"'${identityID}'")
            </div>
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonModalButton(constants.View.UNPROVISIONED_ADDRESS_LIST, routes.javascript.ComponentViewController.unprovisionedAddresses, 'parameters -> s"'${identityID}'")
            </div>
        }
    }
}