@import controllers.actions.LoginState
@import models.master.Identity
@import views.html.base._

@(identities: Seq[Identity])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.UNPROVISIONED_IDENTITIES) {
} {
    @identities.map { identity =>
        @commonVerticalInfoBox() {
            @commonVerticalTextInfo(constants.View.LABEL, identity.label.getOrElse(""))
            @commonVerticalTextInfo(constants.View.IDENTITY_ID, identity.id)
            @commonVerticalBooleanInfo(constants.View.STATUS, identity.status)
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonModalButton(constants.View.PROVISIONED_ADDRESS_LIST, routes.javascript.ComponentViewController.provisionedAddresses, 'parameters -> s"'${identity.id}'")
            </div>
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonModalButton(constants.View.UNPROVISIONED_ADDRESS_LIST, routes.javascript.ComponentViewController.unprovisionedAddresses, 'parameters -> s"'${identity.id}'")
            </div>
        }
    }
}