@import helper._
@import constants.FormField.DateFormField

@(formData: Form[_], formField: DateFormField, arguments: Seq[(Symbol, Any)] = Seq(), value: Option[String] = None)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(Seq('_label -> Messages(formField.name), 'placeholder -> Messages(formField.name), 'class -> "cmuk-input", 'required -> true, 'value -> value.getOrElse("")) ++ arguments) { htmlArguments =>
    @inputDate(formData(formField.name), htmlArguments: _*)
}