@import scala.collection.immutable.ListMap
@(id: String, data: ListMap[String, Double], Legend: String, showLegend: Boolean, xLabel: String, yLabel: String)(implicit messagesProvider: MessagesProvider)
<div class="chartContainer">
    <canvas id="@id" width="600" height="400"></canvas>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/Chart.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/Chart.bundle.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/lineChart.js")" type="text/javascript"></script>
    @defining[ListMap[String, Double]](data.map { case (k, v) => Messages(k) -> v }) { transformedData =>
        <script>lineChart('@id', '@transformedData.keys.toString', '@transformedData.values.toString', '@Messages(Legend)', @showLegend, '@Messages(xLabel)', '@Messages(yLabel)')</script>
    }
</div>