@(key: String, function: JavaScript, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

<button type="button" class='@Seq("cmuk-button", arguments.toMap.get('class).map(_.toString).getOrElse("cmuk-button-primary")).mkString(" ")'  onclick="@function">
@Messages(key)
</button>

@* Example Usage: `@commonButton(constants.View.IDENTIFICATION_DETAILS, JavaScript("""componentResource('identificationDetails', jsRoutes.controllers.ComponentViewController.identificationDetails('Kumar', 'Abhinav', 1996))"""))` *@