@import play.api.routing.JavaScriptReverseRoute

@(form: constants.Form, route: JavaScriptReverseRoute, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)
@*//The `route: JavaScriptReverseRoute`  will go in class Form in constants. Kept here for testing purposes.*@

<button type="button" class='@Seq("cmuk-button", arguments.toMap.get('class).map(_.toString).getOrElse("cmuk-button-primary")).mkString(" ")'  onclick="getForm(@utilities.String.getJsRouteString(route, arguments.toMap.get('parameters).map(_.toString).getOrElse("")))">
@Messages(form.legend)
</button>

@*Example Usage: `@commonFormButton(constants.Form.IDENTIFICATION, routes.javascript.AccountController.identificationForm, 'parameters -> "'Abhinav', 1996")` *@