@import constants.FormField.{BooleanFormField, NestedFormField}
@import helper._
@import play.api.data.Field

@(formData: Form[_], formField: BooleanFormField, arguments: (Symbol, Any)*)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, nestedFormField: Option[NestedFormField] = None, field: Option[Field] = None)

<div class='@arguments.toMap.get(constants.View.FIELD_CLASS).map(_.toString).getOrElse("")'>
    @Messages(formField.name)
    @defining(Seq('_label -> Messages(formField.name), 'class -> "cmuk-checkbox")) { defaultArguments =>
        @if(field.isDefined) {
            @checkbox(field.get.apply(formField.name), defaultArguments ++ arguments: _*)
        } else {
            @checkbox(formData(if(nestedFormField.isDefined) Seq(nestedFormField.get.name, formField.name).mkString(".") else formField.name), defaultArguments ++ arguments: _*)
        }
    }
</div>
