@import helper._
@import views.html.base._

@(formTemplate: constants.Form, formData: Form[_])(fieldset: Html)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@form(action = formTemplate.route, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <fieldset class="cmuk-fieldset cmuk-form-stacked">
        <legend class="cmuk-legend">
        @Messages(formTemplate.legend)
        </legend>
        <hr>
        @CSRF.formField
        @fieldset
        @if(formData.hasGlobalErrors) {
            <ul class="signupErrorList">
            @for(error <- formData.globalErrors) {
                <li class="error">@error.format</li>
            }
            </ul>
        }
        @commonJavascriptButton(formTemplate.submit, JavaScript("""submitForm(this)"""))
    </fieldset>
}