@(name: String, function: JavaScript, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

<button type="button" id='@arguments.toMap.get('id).map(_.toString).getOrElse("")' class='@Seq("cmuk-button", arguments.toMap.get('class).map(_.toString).getOrElse("cmuk-button-primary cmuk-button-small")).mkString(" ")'  onclick="@function">
@Messages(name)
</button>

@* Example Usage: @commonJavascriptButton(constants.View.IDENTIFICATION_DETAILS, JavaScript("""componentResource('identificationDetails', jsRoutes.controllers.ComponentViewController.identificationDetails('Abhinav', 1996))""")) *@