@(key: String, value: String, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

<div class="cmuk-flex infoRow">
    <div id='@arguments.toMap.get('keyID).map(_.toString).getOrElse("")' class='@arguments.toMap.get('keyClass).map(_.toString).getOrElse("infoRowLabel red")'>
        @Messages(key)
    </div>
    <div id='@arguments.toMap.get('valueID).map(_.toString).getOrElse("")' class='@arguments.toMap.get('valueClass).map(_.toString).getOrElse("infoRowValue")'>
        @value
    </div>
</div>