@import constants.FormField.{NestedFormField, StringFormField}
@import helper._
@import play.api.data.Field

@(formData: Form[_], formField: StringFormField, arguments: (Symbol, Any)*)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, nestedFormField: Option[NestedFormField] = None, sequentialNestedFormfield: Option[Field] = None)

@defining(Seq('_label -> Messages(formField.name), 'placeholder -> Messages(formField.name), 'class -> "cmuk-input")) { defaultArguments =>
    @sequentialNestedFormfield match {
        case Some(field: Field) => {
            @* //This case handles sequential subForms under a nested field. See UserUpdateUBOs for example.*@
            @inputText(field.apply(formField.name).copy(value = arguments.toMap.get('value).map(_.toString)), defaultArguments ++ arguments: _*)
        }
        case None => {
            @nestedFormField match {
                case Some(field: NestedFormField) => {
                    @* //This case handles nested fields. See AddOrganization for example.*@
                    @inputText(formData(Seq(field.name, formField.name).mkString(".")).copy(value = arguments.toMap.get('value).map(_.toString)), defaultArguments ++ arguments: _*)
                }
                case None => {
                    @* //This case handles generic fields.*@
                    @inputText(formData(formField.name).copy(value = arguments.toMap.get('value).map(_.toString)), defaultArguments ++ arguments: _*)
                }
            }
        }
    }
}