@import constants.FormField.StringFormField
@import helper._
@import play.api.data.Field
@(formData: Form[_], formField: StringFormField, arguments: Seq[(Symbol, Any)] = Seq(), value: Option[String] = None)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, prefix: String)

@defining(Seq('_label -> Messages(formField.name), 'placeholder -> Messages(formField.name), 'class -> "cmuk-input", 'required -> true, 'value -> value.getOrElse("")) ++ arguments) { htmlArguments =>
    @inputText(formData(utilities.String.nestedFormField(formField.name)), htmlArguments: _*)
}