@import helper._
@import constants.FormField.BooleanFormField

@(formData: Form[_], formField: BooleanFormField, fieldClass: Option[String] = None, arguments: Seq[(Symbol, Any)] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class='@fieldClass.getOrElse("")'>
    @Messages(formField.name)
    @defining(Seq('_label -> Messages(formField.name), 'class -> "cmuk-checkbox") ++ arguments) { htmlArguments =>
        @checkbox(formData(formField.name), htmlArguments: _*)
    }
</div>
