@import helper._

@(formTemplate: constants.Form, formData: Form[_])(fieldset: Html)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@form(action = formTemplate.route, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <fieldset class="cmuk-fieldset cmuk-form-stacked">
        <legend class="cmuk-legend" id='@formTemplate.legend.replace(".","_")'>
        @Messages(formTemplate.legend)
        </legend>
        <hr>
        @CSRF.formField
        @fieldset
        @if(formData.hasGlobalErrors) {
            <ul class="signupErrorList">
            @for(error <- formData.globalErrors) {
                <li class="error">@error.format</li>
            }
            </ul>
        }
        <button type="button" class="cmuk-button cmuk-button-primary" id='@Seq(formTemplate.legend, constants.Form.SUBMIT).mkString("").replace(".","_")' onclick="submitForm(this)">@Messages(formTemplate.submit)</button>
    </fieldset>
}