@import controllers.Assets.Asset

@(title: String, arguments: (Symbol, Any)*)(headerContent: Html = Html(""))(content: Html = Html(""))(implicit messagesProvider: MessagesProvider)

<div class="cmuk-card cmuk-card-default">
    <div class="cmuk-card-header cmuk-flex" style="align-items: center ;
        justify-content: space-between;">
        <div>
            @if(arguments.toMap.get('cardIconPath).map(_.toString).isDefined) {
                <svg class="icon"><use xlink:href='@routes.Assets.versioned(Asset(arguments.toMap.get('cardIconPath).map(_.toString).getOrElse("")))'/></svg>
            }
            <span class="headerFontSize">@Messages(title)</span>
        </div>
        @headerContent
    </div>
    <div class="cmuk-card-body cmuk-height-medium cmuk-overflow-auto">
        @content
    </div>
</div>