@import controllers.actions.LoginState
@import views.html.base.form._
@import views.companion.master.memberCheck.AddAssetMemberCheck

@(addAssetBackgroundCheckForm: Form[AddAssetMemberCheck.Data] = AddAssetMemberCheck.form, assetID: String, scanID: Int, resultID: Option[Int])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ADD_ASSET_MEMBER_CHECK, addAssetBackgroundCheckForm) {
  @commonInputText(addAssetBackgroundCheckForm, constants.FormField.ASSET_ID, 'value -> assetID, 'readonly -> true)
  @commonInputInt(addAssetBackgroundCheckForm, constants.FormField.SCAN_ID, 'value -> scanID, 'readonly -> true)
  @commonInputInt(addAssetBackgroundCheckForm, constants.FormField.RESULT_ID, 'value -> resultID.getOrElse(""), 'readonly -> true, 'required -> false)
  @commonCheckbox(addAssetBackgroundCheckForm, constants.FormField.STATUS)

}
