@import controllers.actions.LoginState
@import views.html.base.form._
@import views.companion.master.memberCheck.MemberCheckCorporateScan

@(memberCheckCorporateScanForm: Form[MemberCheckCorporateScan.Data] = MemberCheckCorporateScan.form, organizationID: String, companyName: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.MEMBER_CHECK_CORPORATE_SCAN, memberCheckCorporateScanForm) {
  @commonInputText(memberCheckCorporateScanForm, constants.FormField.ORGANIZATION_ID, 'value -> organizationID)
  @commonInputText(memberCheckCorporateScanForm, constants.FormField.COMPANY_NAME, 'value -> companyName)
}
