@import controllers.actions.LoginState
@import queries.responses.memberCheck.MemberScanResponse
@import views.html.base.form._
@import views.html.base.infos._
@import views.html.base.buttons._

@(memberScanResponse: MemberScanResponse.Response, uboID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
<legend class="cmuk-legend">
    @Messages(constants.View.MEMBER_CHECK_SCAN_RESPONSE)
</legend>
<hr>
<div class="modalInfoBlock">
    @commonIntInfo(constants.View.SCAN_ID, memberScanResponse.scanResult.scanId)
    @commonTextInfo(constants.View.RESULT_URL, memberScanResponse.scanResult.resultUrl)
    @commonIntInfo(constants.View.MATCHED_NUMBER, memberScanResponse.scanResult.matchedNumber)
    @memberScanResponse.scanResult.matchedEntities match {
        case Some(entities) => {
            @entities.map { entity =>
                @commonIntInfo(constants.View.RESULT_ID, entity.resultId)
                @commonIntInfo(constants.View.UNIQUE_ID, entity.uniqueId.getOrElse(0))
                @commonIntInfo(constants.View.MATCH_RATE, entity.matchRate.getOrElse(0))
                @commonTextInfo(constants.View.FIRST_NAME, entity.firstName)
                @commonTextInfo(constants.View.LAST_NAME, entity.lastName)
                @Messages(constants.View.DECISION_DETAIL)
                @entity.decisionDetail match {
                    case Some(detail) => {
                        @commonTextInfo(constants.View.TEXT, detail.text)
                        @commonTextInfo(constants.View.MATCH_DECISION, detail.matchDecision)
                        @commonTextInfo(constants.View.ASSESSED_RISK, detail.assessedRisk)
                        @commonTextInfo(constants.View.COMMENT, detail.comment)
                    }
                    case None => {
                        @Messages(constants.View.NOT_RELEVANT)
                    }
                }
                @commonTextInfo(constants.View.CATEGORY, entity.category.getOrElse(""))
                @commonTextInfo(constants.View.PRIMARY_LOCATION, entity.primaryLocation.getOrElse(""))
                @commonTextInfo(constants.View.MONITORING_STATUS, entity.monitoringStatus.getOrElse(""))
            @commonJavascriptButton(constants.View.DETAILS, JavaScript(s"componentResource('scanDetailedResult', jsRoutes.controllers.BackgroundCheckController.memberScanResult(${entity.resultId}))"))
            @commonFormButton(constants.Form.MEMBER_CHECK_MEMBER_SCAN_RESULT_DECISION, 'parameters -> s"${entity.resultId}")
            @commonFormButton(constants.Form.ADD_UBO_MEMBER_CHECK, 'parameters -> s" '${uboID}', ${memberScanResponse.scanResult.scanId}, ${entity.resultId}")
            }
        }
        case None => {
                    @commonFormButton(constants.Form.ADD_UBO_MEMBER_CHECK, 'parameters -> s" '${uboID}', ${memberScanResponse.scanResult.scanId}")
        }
    }
    <div id="scanDetailedResult"></div>
</div>
