@import controllers.actions.LoginState
@import views.html.base.infos._
@import queries.responses.memberCheck.MemberScanResultResponse

@(response: MemberScanResultResponse.Response)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
<legend class="cmuk-legend">
    @Messages(constants.View.MEMBER_CHECK_SCAN_RESULT)
</legend>
<hr>
<div class="modalInfoBlock">
    @commonIntInfo(constants.View.ID, response.id)
    @commonIntInfo(constants.View.UNIQUE_ID, response.person.uniqueId)
    @commonTextInfo(constants.View.CATEGORIES, response.person.categories)
    @commonTextInfo(constants.View.SUBCATEGORY, response.person.subcategory.getOrElse(""))
    @commonTextInfo(constants.View.GENDER, response.person.gender.getOrElse(""))
    @commonTextInfo(constants.View.DECEASED, response.person.deceased)
    @commonTextInfo(constants.View.PRIMARY_FIRST_NAME, response.person.primaryFirstName)
    @commonTextInfo(constants.View.PRIMARY_MIDDLE_NAME, response.person.primaryMiddleName.getOrElse(""))
    @commonTextInfo(constants.View.PRIMARY_LAST_NAME, response.person.primaryLastName)
    @commonTextInfo(constants.View.TITLE, response.person.title.getOrElse(""))
    @commonTextInfo(constants.View.POSITION, response.person.position.getOrElse(""))
    @commonTextInfo(constants.View.DATE_OF_BIRTH, response.person.dateOfBirth.getOrElse(""))
    @commonTextInfo(constants.View.DECEASED_DATE, response.person.deceasedDate.getOrElse(""))
    @commonTextInfo(constants.View.PLACE_OF_BIRTH, response.person.placeOfBirth)
    @commonTextInfo(constants.View.IMAGE, response.person.image.getOrElse(""))
    @commonTextInfo(constants.View.PRIMARY_LOCATION, response.person.primaryLocation.getOrElse(""))
    @Messages(constants.View.GENERAL_INFO) : @response.person.generalInfo
    @commonTextInfo(constants.View.FURTHER_INFORMATION, response.person.furtherInformation.getOrElse(""))
    @Messages(constants.View.XML_FURTHER_INFORMATION) : @response.person.xmlFurtherInformation
    @commonTextInfo(constants.View.ENTER_DATE, response.person.enterDate.getOrElse(""))
    @commonTextInfo(constants.View.LAST_REVIEWED, response.person.lastReviewed.getOrElse(""))
    @Messages(constants.View.DESCRIPTIONS)
    @response.person.descriptions.map { description =>
        @commonTextInfo(constants.View.DESCRIPTION_1, description.description1)
        @commonTextInfo(constants.View.DESCRIPTION_2, description.description2)
        @commonTextInfo(constants.View.DESCRIPTION_3, description.description3)
    }
    @Messages(constants.View.NAME_DETAILS)
    @response.person.nameDetails.map { nameDetail =>
        @commonTextInfo(constants.View.NAME_TYPE, nameDetail.nameType)
        @commonTextInfo(constants.View.FIRST_NAME, nameDetail.firstName)
        @commonTextInfo(constants.View.MIDDLE_NAME, nameDetail.middleName.getOrElse(""))
        @commonTextInfo(constants.View.LAST_NAME, nameDetail.lastName)
    }
    @Messages(constants.View.ORIGINAL_SCRIPT_NAMES) : @response.person.originalScriptNames
    @Messages(constants.View.ROLES)
    @response.person.roles.map { roleList =>
        @roleList.map { role =>
            @commonTextInfo(constants.View.TITLE, role.title)
            @commonTextInfo(constants.View.TYPE, role.`type`.getOrElse(""))
            @commonTextInfo(constants.View.STATUS, role.status.getOrElse(""))
            @commonTextInfo(constants.View.COUNTRY, role.country)
            @commonTextInfo(constants.View.FROM, role.from.getOrElse(""))
            @commonTextInfo(constants.View.TO, role.to.getOrElse(""))
        }
    }
    @Messages(constants.View.IMPORTANT_DATES)
    @response.person.importantDates.map { date =>
        @commonTextInfo(constants.View.DATE_TYPE, date.dateType)
        @commonTextInfo(constants.View.DATE_VALUE, date.dateValue)
    }
    @Messages(constants.View.LOCATIONS)
    @response.person.locations.map { location =>
        @commonTextInfo(constants.View.COUNTRY, location.country)
        @commonTextInfo(constants.View.CITY, location.city.getOrElse(""))
        @commonTextInfo(constants.View.ADDRESS, location.address)
    }
    @Messages(constants.View.COUNTRIES)
    @response.person.countries.map { country =>
        @commonTextInfo(constants.View.COUNTRY_TYPE, country.countryType)
        @commonTextInfo(constants.View.COUNTRY_VALUE, country.countryValue)
    }
    @Messages(constants.View.OFFICIAL_LISTS)
    @response.person.officialLists.map { officialList =>
        @commonTextInfo(constants.View.KEYWORD, officialList.keyword)
        @commonTextInfo(constants.View.CATEGORY, officialList.category)
        @commonTextInfo(constants.View.DESCRIPTION, officialList.description)
        @commonTextInfo(constants.View.COUNTRY, officialList.country)
        @commonBooleanInfo(constants.View.IS_CURRENT, Some(officialList.isCurrent))
    }
    @Messages(constants.View.ID_NUMBERS)
    @response.person.idNumbers.map { idNumber =>
        @commonTextInfo(constants.View.TYPE, idNumber.`type`)
        @commonTextInfo(constants.View.ID_NOTES, idNumber.idNotes)
        @commonTextInfo(constants.View.NUMBER, idNumber.number)
    }
    @Messages(constants.View.SOURCES)
    @response.person.sources.map { source =>
        @commonTextInfo(constants.View.URL, source.url)
        @commonTextInfo(constants.View.CATEGORIES, source.categories)
        @commonTextInfo(constants.View.DATES, source.dates)
    }
    @Messages(constants.View.LINKED_INDIVIDUALS)
    @response.person.linkedIndividuals.map { linkedIndividual =>
        @commonTextInfo(constants.View.FIRST_NAME, linkedIndividual.firstName)
        @commonTextInfo(constants.View.MIDDLE_NAME, linkedIndividual.middleName.getOrElse(""))
        @commonTextInfo(constants.View.LAST_NAME, linkedIndividual.lastName)
        @commonTextInfo(constants.View.OTHER_CATEGORIES, linkedIndividual.otherCategories)
        @commonTextInfo(constants.View.SUB_CATEGORIES, linkedIndividual.subcategories.getOrElse(""))
        @commonTextInfo(constants.View.DESCRIPTIONS, linkedIndividual.description)
    }

    @Messages(constants.View.LINKED_COMPANIES)
    @response.person.linkedCompanies.map { linkedCompany =>
        @commonTextInfo(constants.View.NAME, linkedCompany.name)
        @commonTextInfo(constants.View.CATEGORIES, linkedCompany.categories)
        @commonTextInfo(constants.View.SUB_CATEGORIES, linkedCompany.subcategories.getOrElse(""))
        @commonTextInfo(constants.View.DESCRIPTIONS, linkedCompany.description.getOrElse(""))
    }
</div>