@import controllers.actions.LoginState
@import views.html.base.form._
@import views.companion.master.MemberCheckMemberScanResultDecision

@(memberCheckMemberScanResultDecisionForm: Form[MemberCheckMemberScanResultDecision.Data] = MemberCheckMemberScanResultDecision.form, resultID: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.MEMBER_CHECK_MEMBER_SCAN_RESULT_DECISION, memberCheckMemberScanResultDecisionForm) {
  @commonInputInt(memberCheckMemberScanResultDecisionForm, constants.FormField.RESULT_ID, 'value -> resultID, 'readonly -> true)
  @commonSelect(memberCheckMemberScanResultDecisionForm, constants.FormField.MATCH_DECISION)
  @commonSelect(memberCheckMemberScanResultDecisionForm, constants.FormField.ASSESSED_RISK)
  @commonInputText(memberCheckMemberScanResultDecisionForm, constants.FormField.COMMENT)
}
