@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.MemberCheckCorporateScanResultDecision

@(memberCheckCorporateScanResultDecisionForm: Form[MemberCheckCorporateScanResultDecision.Data] = MemberCheckCorporateScanResultDecision.form, resultID: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.MEMBER_CHECK_CORPORATE_SCAN_RESULT_DECISION, memberCheckCorporateScanResultDecisionForm) {
  @commonInputInt(memberCheckCorporateScanResultDecisionForm, constants.FormField.RESULT_ID, 'value -> resultID, 'readonly -> true)
  @commonSelect(memberCheckCorporateScanResultDecisionForm, constants.FormField.MATCH_DECISION)
  @commonSelect(memberCheckCorporateScanResultDecisionForm, constants.FormField.ASSESSED_RISK)
  @commonInputText(memberCheckCorporateScanResultDecisionForm, constants.FormField.COMMENT)
}
