@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.TRANSACTIONS) {

} {
    @commonHorizontalSwitcher(ListMap(
        constants.View.DEFINE -> routes.javascript.ComponentViewController.getTransaction,
        constants.View.MAKE -> routes.javascript.ComponentViewController.getTransaction,
        constants.View.TAKE -> routes.javascript.ComponentViewController.getTransaction,
        constants.View.CANCEL -> routes.javascript.ComponentViewController.getTransaction,
    ),
        'DEFINE_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.ORDER_DEFINE}'",
        'MAKE_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.ORDER_MAKE}'",
        'TAKE_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.ORDER_TAKE}'",
        'CANCEL_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.ORDER_CANCEL}'"
    )
}



