@import models.blockchain.Order
@import views.html.base.cards._
@import views.html.base.infos._
@import views.html.component.blockchain.classification._
@import views.html.component.blockchain.identity._

@(order: Order)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.ORDER) {
    <span class="stringEllipse" title="@order.id">@order.id</span>
} {
    @commonClassificationIDInfo(order.id.classificationID)
    @commonTextInfo(constants.View.MAKER_OWNABLE_ID, order.id.makerOwnableID)
    @commonTextInfo(constants.View.TAKER_OWNABLE_ID, order.id.takerOwnableID)
    @commonTextInfo(constants.View.RATE_ID, order.id.rateID)
    @commonTextInfo(constants.View.CREATION_ID, order.id.creationID)
    @commonIdentityIDInfo(order.id.makerID)
    @views.html.component.blockchain.properties(mutableProperties = order.mutables.properties.propertyList, immutableProperties = order.immutables.properties.propertyList)
}
<script>
        checkAndPushState(jsRoutes.controllers.ViewController.order().url, '@order.id.asString', "order");
</script>