@import views.html.base._
@import models.blockchainTransaction.OrderTake

@(orderTakeTransactions: Seq[OrderTake])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div id="takeTransaction">
    @orderTakeTransactions.map {takeTransaction =>
        @commonVerticalInfoBox(){
            @commonVerticalTextInfo(constants.View.TX_HASH, takeTransaction.txHash.getOrElse(""))
            @commonVerticalTextInfo(constants.View.FROM_ID, takeTransaction.fromID)
            @commonVerticalBooleanInfo(constants.View.STATUS, takeTransaction.status)
        }
    }
</div>