@import views.html.base._
@import models.blockchainTransaction.OrderMake

@(orderMakeTransactions: Seq[OrderMake])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div id="makeTransaction">
    @orderMakeTransactions.map {makeTransaction =>
        @commonVerticalInfoBox(){
            @commonVerticalTextInfo(constants.View.TX_HASH, makeTransaction.txHash.getOrElse(""))
            @commonVerticalTextInfo(constants.View.FROM_ID, makeTransaction.fromID)
            @commonVerticalBooleanInfo(constants.View.STATUS, makeTransaction.status)
        }
    }
</div>