@media (min-width: 640px) {
  :root {
    --paragraphFontSizeLarge: 18px;
    --paragraphFontSizeMedium: 16px;
    --paragraphFontSizeSmall: 14px; } }
@media (max-width: 640px) {
  :root {
    --paragraphFontSizeLarge: 16px;
    --paragraphFontSizeMedium: 14px;
    --paragraphFontSizeSmall: 12px; } }
html, body {
  height: 100%;
  background: #F0F0F0;
  scroll-behavior: smooth; }

.scroller {
  scrollbar-color: #E2E4E6 white;
  scrollbar-width: thin; }

::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

::-webkit-scrollbar-track {
  background: white; }

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px; }

::-webkit-scrollbar-thumb {
  background: #E2E4E6;
  border-right: 1px solid white; }

.leftSideContainer .financial ul li .wallet .walletIcon, .leftSideContainer .financial ul li .payable .payableIcon, .leftSideContainer .financial ul li .receivable .receivableIcon, .leftSideContainer .financial ul li .leftDays .leftDaysIcon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 15px;
  position: relative; }

.userIcons .buyerIcon, .userIcons .sellerIcon, .userIcons .financierIcon {
  display: inline-flex;
  height: 26px;
  width: 26px;
  line-height: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  font-size: var(--paragraphFontSizeSmall);
  align-items: center;
  justify-content: center; }

.leftSideContainer .financial ul li .wallet .cmuk-comment-meta, .leftSideContainer .financial ul li .payable .cmuk-comment-meta, .leftSideContainer .financial ul li .receivable .cmuk-comment-meta, .leftSideContainer .financial ul li .leftDays .cmuk-comment-meta {
  color: #061728;
  font-size: var(--paragraphFontSizeMedium); }

.leftSideContainer .cmuk-card-default {
  background: #FAFAFA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

.profileDetails .cmuk-button-link, .contactDetails .cmuk-button-link {
  font-weight: bold;
  font-size: var(--paragraphFontSizeSmall);
  text-decoration: none; }

.comdex .cmuk-badge.verified, .comdex .cmuk-badge.rejected, .comdex .cmuk-badge.pending, .profileDetails .cmuk-badge {
  font-weight: bold;
  border-radius: 5px;
  font-size: 10px; }

.wordBreak {
  word-break: break-all; }

.centerScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; }

.bodyContainer {
  height: auto;
  min-height: 100%;
  background: #F0F0F0;
  margin: 0 auto -138px; }

.pageContainer,
.dataContainer,
.pageContent {
  height: 100%; }

.toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1; }

.headerFontSize {
  font-size: var(--paragraphFontSizeMedium); }

.title {
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen;
  font-weight: bold; }

.logoutContainer .commonCheckBox {
  justify-content: center; }

.MnemonicQuiz .hidden,
.hidden {
  display: none; }

.flexContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start; }

.flexItem {
  text-align: center;
  padding-top: 15px; }

.flexBox {
  padding: 5px;
  margin: 10px; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flexGraph {
  width: 95%; }

.flexGrowth {
  flex-grow: 1; }

.box {
  background: lightblue;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  margin: 0px 5px 10px 0px;
  border-radius: 5px;
  padding-bottom: 15px; }

.firstBox {
  width: 30%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px; }

.secondBox {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px; }

.thirdBox {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px; }

.toggleElement {
  text-align: center;
  background-color: #0862BE;
  color: #FFFFFF; }

.showToggleElement {
  background-color: #0862BE;
  cursor: pointer;
  color: #10292e; }

.toggleElement:hover {
  cursor: pointer;
  color: #FFFFFF; }

.leftText {
  text-align: left;
  word-break: break-all; }

.rightText {
  text-align: right; }

.centerText {
  text-align: center; }

.scrollableFirst {
  min-height: min-content;
  max-height: 85vh;
  overflow-y: scroll; }

.scrollableSecond {
  min-height: min-content;
  max-height: 50vh;
  overflow-y: scroll; }

.scrollableThird {
  min-height: min-content;
  max-height: 20vh;
  overflow-y: scroll; }

.progressContainer {
  width: 100%;
  border-radius: 3px;
  background-color: #ddd;
  height: 13px;
  margin-bottom: 5px; }

.progressBar {
  width: 0;
  border-radius: 3px;
  height: 13px;
  background-color: #5eaf50; }

.profilePicture {
  height: 100px;
  width: 100px; }

.profilePictureContainer {
  border-radius: 50%; }

.uploadBar {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  width: 30%;
  height: 50px;
  margin: auto; }

.uploadBar img {
  height: 32px; }

.uploadProgress {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 30%;
  margin-top: 20px;
  margin: auto; }

.uploadProgressOuter {
  background-color: #20201F;
  border-radius: 20px;
  padding: 4px; }

.uploadProgressOuter > div {
  text-align: center;
  background-color: #2196F3;
  height: 16px;
  border-radius: 10px; }

.approve {
  background-color: #4CAF50; }

.reject {
  background-color: #f44336; }

.lightBlue {
  background-color: #a8b1ff !important; }

.red {
  color: rgba(131, 0, 4, 0.71); }

.hashCode {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  width: 120px; }

.footer {
  margin-top: 20px;
  width: 100%;
  padding: 30px 0px;
  font-size: var(--paragraphFontSizeSmall);
  background: #031221; }
  .footer .copyright {
    margin: 10px 0px;
    font-family: Oxygen;
    font-weight: bold;
    color: #053C75; }
    .footer .copyright a {
      text-decoration: none;
      color: #053C75; }

.status {
  width: 20px;
  height: 20px; }

.copyIcon {
  cursor: pointer; }

.leftSide .leftSideMenuIcon {
  color: #fff; }

.tableName {
  background: #d2edef; }

.backButton {
  background: #fff;
  padding: 2px 10px;
  border-radius: 4px; }

.cmuk-accordion li {
  margin: 0px 5px 5px 0px;
  background: #F9F9F9;
  flex-grow: 1;
  padding: 0px;
  color: #Fff;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); }

.alretName {
  font-weight: bold;
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen; }

.cmuk-accordion-buttons {
  background: #fff;
  padding: 10px; }

.profileDropdown li {
  padding: 5px 20px; }

.tablePadding tr td,
.tablePadding tr th {
  padding: 5px 12px; }

.tablePadding tr th {
  font-weight: 700; }

.profileDocuments {
  display: flex;
  flex-wrap: wrap; }

.document {
  width: 100px;
  height: 90px;
  border: 3px solid #1e87f0;
  text-align: center;
  padding: 5px;
  margin: 5px; }

.documentImage img {
  width: 80px;
  height: 50px;
  padding: 10px 0px; }

.registerButton button {
  font-size: 14px;
  line-height: 230%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border-radius: 2px;
  text-transform: capitalize; }

.passphraseMessage {
  color: red; }

.dataContainer .cmuk-alert {
  margin: 0px; }

.switch {
  position: relative;
  display: inline-block;
  width: 37.76px;
  height: 21.13px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

.signupErrorList {
  padding: 0px;
  list-style: none; }
  .signupErrorList li {
    text-align: left; }

.usernameAvailibilty {
  position: relative; }
  .usernameAvailibilty .result {
    position: absolute;
    right: -25px;
    top: 40px; }

.mainlist {
  padding: 0px; }

.listItem {
  display: inline-flex;
  background: #cccc;
  margin: 0;
  margin-bottom: 10px; }

.listItemchild {
  margin: 10px; }

.listItemchildhTitle {
  font-weight: bold;
  color: black; }

.Editdropdown {
  display: none;
  position: absolute;
  z-index: 1020;
  box-sizing: border-box;
  width: 200px;
  padding: 25px;
  background: #fff;
  color: #666;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15); }

.hiddenLabel label {
  display: none; }

.fileName {
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen;
  color: #0862BE;
  margin-bottom: 5px; }

.dropBox {
  font-family: Oxygen; }

.profileDocuments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.mobileNumberUpdate .countryCode {
  margin-top: 32px;
  width: 80px;
  margin-right: 10px; }
.mobileNumberUpdate .mobileNumber {
  width: 100%; }
.mobileNumberUpdate .mobileNumber label {
  margin-left: -77px; }

.commonhomeData {
  font-size: var(--paragraphFontSizeSmall); }
  .commonhomeData p, .commonhomeData h3 {
    margin: 5px 0px; }

.connectionError {
  height: 100px;
  position: relative;
  top: 25%;
  margin: auto;
  padding: 40px;
  border-radius: 3px;
  font-family: Oxygen;
  font-size: var(--paragraphFontSizeSmall);
  background: #e6e6e6;
  width: 100px;
  color: red; }

.commonCheckBox dt {
  width: 200px;
  word-break: break-word; }

.unRead {
  color: #1e87f0;
  background: lightblue;
  text-align: center;
  margin: 5px;
  border-radius: 5px; }

.graphCard {
  margin-bottom: 20px; }
  .graphCard .cmuk-card-header {
    padding: 15px 20px; }

.textLineOverflow {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.loginButton {
  font-family: Rubik; }

.updateDocumentField {
  position: relative; }
  .updateDocumentField button {
    position: absolute;
    top: 9px;
    left: 25%;
    font-weight: bold; }

.comdex .cmuk-sticky-fixed {
  width: 100% !important; }
.comdex .buttonForm {
  background: #0862BE;
  color: #FFFFFF;
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen;
  font-weight: bold; }
.comdex .buttonForm:active, .comdex .buttonForm.cmuk-active {
  background-color: #053C75; }
.comdex .cmuk-input {
  background: #FFFFFF;
  cursor: auto;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgba(5, 60, 117, 0.22);
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen; }
  .comdex .cmuk-input::placeholder {
    color: #848A91;
    font-size: var(--paragraphFontSizeSmall);
    font-family: Oxygen; }
  .comdex .cmuk-input:focus {
    border: 1px solid  #0862BE; }
.comdex .cmuk-input, .comdex .cmuk-select, .comdex .cmuk-textarea {
  padding: 0px 15px; }
.comdex input:-webkit-autofill,
.comdex input:-webkit-autofill:hover,
.comdex input:-webkit-autofill:focus,
.comdex input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset; }
.comdex .error {
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen;
  color: #f0506e; }
.comdex .cmuk-badge.verified {
  background-color: #49A948; }
.comdex .cmuk-badge.rejected {
  background-color: #FE4350; }
.comdex .cmuk-badge.pending {
  background-color: #faa05a; }
.comdex .cmuk-button {
  font-family: Oxygen; }
.comdex .cmuk-button-primary {
  border: none;
  font-size: var(--paragraphFontSizeSmall); }
.comdex .primaryFont {
  font-family: Rubik; }
.comdex .secondaryFont {
  font-family: Oxygen; }
.comdex .cmuk-alert-warning p {
  text-decoration: underline;
  cursor: pointer; }
.comdex .cmuk-alert .failureIcon,
.comdex .cmuk-alert .warningIcon,
.comdex .cmuk-alert .successIcon,
.comdex .cmuk-alert .infoIcon {
  width: 20px;
  height: 20px; }
  .comdex .cmuk-alert .failureIcon .icon,
  .comdex .cmuk-alert .warningIcon .icon,
  .comdex .cmuk-alert .successIcon .icon,
  .comdex .cmuk-alert .infoIcon .icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px; }
.comdex .cmuk-alert p {
  font-family: Oxygen;
  font-size: var(--paragraphFontSizeSmall); }
.comdex .cmuk-card-header {
  color: #061728;
  font-family: Oxygen;
  padding: 15px 20px; }
  .comdex .cmuk-card-header .cmuk-button {
    padding: 0 15px;
    line-height: 28px; }
.comdex .cmuk-button-link {
  color: #0862BE; }
.comdex .cmuk-button-primary {
  background-color: #0862BE; }
.comdex .cmuk-legend {
  font-weight: bold;
  text-align: center;
  color: #061728;
  font-weight: bold;
  font-family: Oxygen;
  font-size: var(--paragraphFontSizeLarge); }
.comdex .cmuk-spinner > * > * {
  stroke-width: 2 !important;
  stroke: #0862BE !important; }
.comdex .cmuk-accordion-title::before {
  background-image: url("../../images/chevron-up.svg"); }
.comdex .cmuk-open > .cmuk-accordion-title::before {
  background-image: url("../../images/chevron-down.svg"); }
.comdex .cmuk-table th, .comdex .cmuk-button {
  text-transform: capitalize; }
.comdex .modalBody .cmuk-button {
  margin-bottom: 5px; }
.comdex .modalBody .infoRowValue {
  text-align: left;
  margin-left: 30px; }
.comdex .cmuk-accordion > :nth-child(n+2) {
  margin-top: 0px; }
.comdex .cmuk-accordion-title {
  padding: 15px;
  color: #373E46; }
.comdex .cmuk-accordion-content {
  margin-top: 0px;
  background: #fff;
  color: #272829;
  padding: 8px; }
.comdex .cmuk-accordion-title:focus,
.comdex .cmuk-accordion-title:hover {
  color: #373E46; }
.comdex .errorInput {
  border: 1px solid red; }
.comdex .cmuk-panel-scrollable {
  resize: none;
  max-height: 100px;
  padding: 0px; }
.comdex .panelHeader {
  font-size: var(--paragraphFontSizeMedium);
  font-family: Oxygen;
  font-weight: normal;
  color: #272829;
  line-height: 2; }

.header {
  background: #053C75; }
  .header .cmuk-navbar-container:not(.cmuk-navbar-transparent) {
    background: #053C75;
    padding: 0px 0px 0px 35px; }
  .header .cmuk-navbar-item,
  .header .cmuk-navbar-nav > li > a,
  .header .cmuk-navbar-toggle {
    min-height: 60px;
    font-family: Oxygen;
    text-transform: none; }
  .header .cmuk-logo {
    padding: 0px 40px 0px 0px;
    border-right: 1px solid #1C5998; }
    .header .cmuk-logo img {
      width: 120px; }
  .header .cmuk-navbar-right .cmuk-navbar-nav > li > a {
    padding: 0px 25px;
    border-left: 1px solid #1C5998; }
  .header .cmuk-navbar-right .cmuk-navbar-nav .buttonRegister {
    background-color: #FE4350;
    font-size: var(--paragraphFontSizeSmall);
    font-family: Rubik;
    color: #FFFFFF;
    line-height: inherit;
    padding: 5px 30px;
    border-radius: 3px; }
  .header .cmuk-navbar-right .cmuk-navbar-nav li .loginLink {
    padding: 0px 45px 0px 45px; }
  .header .cmuk-navbar-right .loginIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px 5px;
    padding: 3px; }
  .header .cmuk-navbar-nav > li > a {
    padding: 0px 25px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: var(--paragraphFontSizeSmall);
    box-sizing: border-box;
    letter-spacing: 0.4px; }
  .header .dashboardIcon .icon {
    width: 20px;
    height: 16px;
    margin-bottom: 3px; }
  .header .dashboardIcon, .header .traderIcon, .header .accountIcon, .header .transactionIcon {
    margin-right: 8px;
    width: 20px;
    height: 20px; }
  .header .icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF; }
  .header .cmuk-navbar-nav > li:hover > a, .header .cmuk-navbar-nav > li > a.cmuk-open, .header .cmuk-navbar-nav > li > a:focus {
    color: #FFFFFF; }
  .header .cmuk-navbar-nav > li > a.active {
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    padding-top: 3px; }
    .header .cmuk-navbar-nav > li > a.active .icon {
      fill: red; }

.notificationDropdown .cmuk-dropdown {
  max-height: 500px;
  padding: 0px;
  overflow: scroll; }
.notificationDropdown .dropdownHeader p {
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid #e7eaf3; }
.notificationDropdown .dropdownBody {
  padding: 0px;
  height: 400px;
  overflow-y: scroll; }

.modal {
  display: none;
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 30px;
  text-align: center; }
  .modal .modalContent {
    word-break: break-all;
    top: 20%;
    border-radius: 3px;
    padding: 20px;
    margin: auto;
    background-color: #FAFAFA;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    width: auto;
    overflow-y: auto;
    max-height: 600px;
    display: inline-block; }
    .modal .modalContent .modalBody {
      padding: 20px;
      text-align: center;
      font-family: Oxygen; }
      .modal .modalContent .modalBody .infoRowLabel {
        text-align: left;
        font-family: Oxygen; }
      .modal .modalContent .modalBody .title {
        margin: 10px 0px; }
      .modal .modalContent .modalBody form .cmuk-card-default {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none; }
      .modal .modalContent .modalBody .documentItem form {
        width: auto; }

.MnemonicQuiz .titleMnemonic {
  font-weight: bold; }
.MnemonicQuiz .errorMnemonicInput {
  display: none;
  color: red;
  padding: 10px;
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen; }
.MnemonicQuiz .verifyMnemonic {
  flex-wrap: wrap;
  justify-content: center; }
  .MnemonicQuiz .verifyMnemonic .verifyMnemonicbutton {
    width: 114px;
    height: 38px;
    font-family: Oxygen;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px; }
    .MnemonicQuiz .verifyMnemonic .verifyMnemonicbutton input {
      color: #061728;
      text-align: center; }
    .MnemonicQuiz .verifyMnemonic .verifyMnemonicbutton .mnemonicField {
      background-color: #FFffff; }
.MnemonicQuiz .buttonForm {
  font-size: var(--paragraphFontSizeSmall); }
.MnemonicQuiz .mnemonicNote {
  background-color: #FF2938;
  font-family: Oxygen;
  font-size: var(--paragraphFontSizeSmall);
  text-align: justify;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  font-weight: bold;
  padding: 15px;
  margin: 20px 0px;
  background-image: url("../../images/note.svg");
  background-repeat: no-repeat;
  background-position: 103%;
  background-size: contain;
  display: flex;
  align-items: center; }
  .MnemonicQuiz .mnemonicNote .mnemonicNoteText {
    width: 73%; }
  .MnemonicQuiz .mnemonicNote .mnemonicInfoIcon {
    padding: 10px 20px 10px 10px;
    width: 20px;
    height: 20px; }
    .MnemonicQuiz .mnemonicNote .mnemonicInfoIcon .icon {
      width: 20px;
      height: 20px; }

.bannerContainer {
  background-color: #031221;
  background-image: url("../../images/bannerImage.svg");
  background-repeat: no-repeat;
  background-position: 80% 8%;
  height: 363px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .bannerContainer .bannerText {
    max-width: 600px;
    padding: 50px 0px; }
    .bannerContainer .bannerText h3 {
      font-family: Oxygen;
      margin: 0px;
      font-size: 45px;
      font-weight: normal;
      color: #FFFFFF; }
    .bannerContainer .bannerText p {
      font-family: Oxygen;
      font-size: 20px;
      line-height: 172%;
      letter-spacing: 0.01em;
      color: #627F9F; }
  .bannerContainer .cmuk-slider {
    position: absolute;
    bottom: 0px; }
    .bannerContainer .cmuk-slider .cmuk-slider-items {
      height: 37.63px;
      align-items: center; }
      .bannerContainer .cmuk-slider .cmuk-slider-items li:before {
        content: ' ';
        position: absolute;
        width: 0px;
        height: 0px;
        left: -20px;
        top: 7px;
        border: 3px solid red;
        transform: rotate(-45deg); }
      .bannerContainer .cmuk-slider .cmuk-slider-items li span {
        font-size: var(--paragraphFontSizeSmall);
        line-height: 172%;
        letter-spacing: 0.01em; }
      .bannerContainer .cmuk-slider .cmuk-slider-items li .sliderItemName {
        font-weight: bold;
        color: #6C7883;
        font-family: Oxygen; }
      .bannerContainer .cmuk-slider .cmuk-slider-items li .sliderItemValue {
        font-weight: bold;
        color: #FFFFFF;
        font-family: Rubik; }
      .bannerContainer .cmuk-slider .cmuk-slider-items li .sliderItemPercentage {
        color: #5EB55C;
        font-family: Oxygen; }

.tabsSection p {
  font-family: Oxygen;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 40px; }
.tabsSection .cmuk-subnav-pill {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px; }
  .tabsSection .cmuk-subnav-pill li:first-child a {
    border-radius: 5px 5px 0px 0px; }
  .tabsSection .cmuk-subnav-pill li:nth-child(2) {
    border-top: 1px solid #e7eaf3;
    border-bottom: 1px solid #e7eaf3; }
  .tabsSection .cmuk-subnav-pill li:last-child a {
    border-radius: 0px 0px 5px 5px; }
  .tabsSection .cmuk-subnav-pill li a {
    background-color: #FAFBFD;
    padding: 15px 0px 15px 20px;
    font-family: Oxygen;
    font-size: var(--paragraphFontSizeLarge);
    text-transform: capitalize;
    color: #0862BE;
    font-weight: bold; }
    .tabsSection .cmuk-subnav-pill li a:before {
      content: "";
      width: 1.4em;
      height: 1.4em;
      padding-right: 0px;
      margin-left: 25px;
      float: right;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url(../../images/chevron-down-blue.svg);
      padding-left: 25px; }
.tabsSection .cmuk-subnav-pill > .cmuk-active > a {
  background: #053C75;
  color: #FFFFFF; }
  .tabsSection .cmuk-subnav-pill > .cmuk-active > a:before {
    background-image: url(../../images/chevron-right.svg); }
.tabsSection .cmuk-switcher li {
  font-family: Oxygen;
  font-size: var(--paragraphFontSizeLarge);
  color: #365575;
  letter-spacing: 0.01em;
  line-height: 1.8; }
  .tabsSection .cmuk-switcher li div > div {
    text-align: justify; }

.left {
  height: 30px;
  align-items: center;
  padding: 0px 0px 15px 0px;
  word-break: break-all;
  justify-content: space-between; }
  .left .backIcon {
    width: 31px;
    height: 31px;
    background: #E4E4E4;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: #053C75;
    font-weight: bold; }
  .left .quoteIdTtitle {
    color: #6C7883;
    font-weight: bold;
    font-size: var(--paragraphFontSizeSmall); }
  .left .quoteId {
    font-size: var(--paragraphFontSizeSmall); }

.userIcons .userIcon {
  margin-right: -5px; }
.userIcons .buyerIcon {
  background: #FFD5D7;
  color: #061728; }
.userIcons .sellerIcon {
  background: #9ECCFB; }
.userIcons .financierIcon {
  background: #A7FFC0; }

.notifications {
  width: 600px;
  min-height: 45px;
  display: flex;
  align-items: center; }
  .notifications .cmuk-alert {
    width: 250px;
    padding: 10px 25px 10px 10px;
    margin: 0px;
    font-size: var(--paragraphFontSizeMedium); }
  .notifications .cmuk-alert-close {
    top: 15px; }

.right {
  padding: 0px 0px  15px 0px;
  height: 30px;
  justify-content: flex-end; }
  .right .refresh {
    font-family: Oxygen;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    background: #FFFFFF;
    border: 0.908233px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 37.2375px;
    margin-right: 10px;
    color: #061728;
    cursor: pointer;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    outline: none; }
    .right .refresh span {
      padding: 0px 5px; }
    .right .refresh .icon {
      width: 13px;
      height: 13px; }
  .right .live {
    align-items: center; }
  .right .liveText {
    font-weight: bold;
    margin-right: 10px;
    font-size: var(--paragraphFontSizeSmall);
    color: #272829; }
  .right .liveIcon {
    width: 6px;
    height: 6px;
    background-color: #5EB55C;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #A1ED9F; }

.pageContainer {
  padding-bottom: 137px; }
  .pageContainer .pageContent {
    padding-top: 10px; }
  .pageContainer .middle .cmuk-card-default {
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
  .pageContainer .middle .mainTabs .cmuk-card-body {
    padding: 0px; }
    .pageContainer .middle .mainTabs .cmuk-card-body .cmuk-switcher {
      padding: 15px 30px; }
    .pageContainer .middle .mainTabs .cmuk-card-body .cmuk-subnav {
      margin: 0px;
      width: 100%;
      margin: 0px;
      border-bottom: 1px solid #e5e5e5; }
    .pageContainer .middle .mainTabs .cmuk-card-body .cmuk-subnav li {
      padding: 0px;
      flex: 1;
      text-align: center; }
      .pageContainer .middle .mainTabs .cmuk-card-body .cmuk-subnav li:first-child {
        border-right: 1px solid #cccccc; }
      .pageContainer .middle .mainTabs .cmuk-card-body .cmuk-subnav li a {
        padding: 15px 0px;
        font-family: Oxygen;
        text-transform: capitalize;
        font-size: var(--paragraphFontSizeMedium); }
    .pageContainer .middle .mainTabs .cmuk-card-body .cmuk-subnav > .cmuk-active > a {
      font-family: Oxygen;
      color: #061728;
      background: none;
      font-weight: bold;
      border-bottom: 2px solid #0862BE; }
  .pageContainer .middle .mainTabs .docViewList a {
    margin-right: -11px; }
  .pageContainer .middle .mainTabs .tradeTerms .traderCommodity {
    display: flex;
    align-items: center;
    margin: 15px 0px; }
    .pageContainer .middle .mainTabs .tradeTerms .traderCommodity .commodityImage {
      width: 44px;
      height: 44px;
      display: inline-flex;
      background: #F2F2F2;
      border: 1.51312px solid #E3E3E3;
      position: relative;
      text-align: center;
      border-radius: 50%;
      align-items: center;
      margin-right: 15px;
      justify-content: center; }
      .pageContainer .middle .mainTabs .tradeTerms .traderCommodity .commodityImage img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
    .pageContainer .middle .mainTabs .tradeTerms .traderCommodity .tradeName {
      color: #4B4B4B;
      font-weight: bold;
      font-family: Oxygen;
      font-size: var(--paragraphFontSizeMedium); }
  .pageContainer .middle .mainTabs .tradeTerms .tradeTermsData {
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding: 25px 0px 15px 0px;
    margin-bottom: 25px;
    font-family: Oxygen;
    color: #848A91;
    font-size: var(--paragraphFontSizeSmall);
    font-weight: bold; }
  .pageContainer .middle .mainTabs .tradeTerms .terms .term {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #F8F9FC;
    border: 1px solid #E2E4E6;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px 0px;
    align-items: center; }
    .pageContainer .middle .mainTabs .tradeTerms .terms .term .serialNumber {
      color: #859EB9;
      font-family: "Oxygen", sans-serif;
      font-size: var(--paragraphFontSizeMedium);
      margin-right: 10px; }
    .pageContainer .middle .mainTabs .tradeTerms .terms .term .termIcon {
      margin-right: 10px; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .termIcon .icon {
        width: 16px;
        height: 16px;
        margin-bottom: 3px; }
    .pageContainer .middle .mainTabs .tradeTerms .terms .term .termName {
      color: #0862BE;
      font-family: Oxygen;
      font-size: var(--paragraphFontSizeSmall);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      font-style: normal; }
    .pageContainer .middle .mainTabs .tradeTerms .terms .term .termValue {
      color: #061728;
      font-family: Oxygen;
      font-size: var(--paragraphFontSizeMedium);
      margin-right: 10px; }
    .pageContainer .middle .mainTabs .tradeTerms .terms .term .creditTerms {
      text-indent: 40px;
      margin-top: 5px; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .creditTerms p {
        font-family: Oxygen;
        font-size: var(--paragraphFontSizeMedium);
        color: #061728;
        margin: 0px;
        margin-bottom: 5px; }
    .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus {
      display: flex;
      align-items: center;
      font-family: Rubik;
      color: #061728; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .commonCheckBox dt {
        width: auto;
        display: none; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .commonCheckBox dl {
        margin-bottom: 0px; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .cmuk-checkbox {
        height: 22px;
        width: 22px;
        border: 1px solid #5EB55C; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .cmuk-checkbox:focus, .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .cmuk-radio:focus {
        border-color: #5EB55C; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .cmuk-checkbox:checked, .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .cmuk-checkbox:indeterminate, .pageContainer .middle .mainTabs .tradeTerms .terms .term .termStatus .cmuk-radio:checked {
        background-color: #5EB55C; }
    .pageContainer .middle .mainTabs .tradeTerms .terms .term .subTerms {
      text-indent: 30px;
      margin-top: 10px; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .subTerms .infoRowLabel {
        color: #061728;
        font-weight: normal;
        width: auto;
        margin: 2px 0px 3px 0px; }
      .pageContainer .middle .mainTabs .tradeTerms .terms .term .subTerms .infoRowValue {
        color: #061728;
        font-weight: bold; }
  .pageContainer .middle .mainTabs .tradeTerms .terms hr {
    margin: 15px 0px; }
  .pageContainer .middle .mainTabs .tradeTerms .sellerTerm {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #F8F9FC;
    border: 1px solid #E2E4E6;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px 0px;
    align-items: center; }
    .pageContainer .middle .mainTabs .tradeTerms .sellerTerm .infoRowLabel {
      width: auto;
      color: #0862BE;
      font-family: Oxygen;
      font-size: var(--paragraphFontSizeSmall);
      font-weight: bold;
      text-transform: uppercase;
      margin: 2px 0px 3px 0px; }
    .pageContainer .middle .mainTabs .tradeTerms .sellerTerm .infoRowValue {
      font-family: Oxygen;
      color: #061728;
      font-size: var(--paragraphFontSizeSmall);
      margin-left: 20px; }
    .pageContainer .middle .mainTabs .tradeTerms .sellerTerm .sellerTermStatus {
      font-family: Rubik;
      color: #061728; }
    .pageContainer .middle .mainTabs .tradeTerms .sellerTerm .documentTitle {
      color: #061728;
      font-family: Oxygen;
      font-size: var(--paragraphFontSizeSmall);
      margin: 0px 0px 5px 0px; }
  .pageContainer .middle .mainTabs .tradeTerms button {
    padding: 0 15px;
    line-height: 28px;
    font-size: 14px; }

.leftSideContainer .financial {
  margin-bottom: 20px; }
.leftSideContainer .cmuk-card-header {
  padding: 15px 20px;
  color: #061728;
  font-size: var(--paragraphFontSizeMedium);
  font-family: Oxygen; }
  .leftSideContainer .cmuk-card-header .icon {
    margin-bottom: 2px; }
.leftSideContainer .cmuk-card-body {
  padding: 0px;
  overflow-y: auto; }
  .leftSideContainer .cmuk-card-body ul {
    padding: 0px;
    margin: 0px; }
  .leftSideContainer .cmuk-card-body .refresh {
    padding: 10px 0px 10px 0px;
    margin: 0px 20px;
    font-family: Oxygen;
    font-size: var(--paragraphFontSizeSmall); }
    .leftSideContainer .cmuk-card-body .refresh button {
      text-decoration: none;
      color: #848A91;
      font-weight: bold; }
    .leftSideContainer .cmuk-card-body .refresh .refreshIcon .icon {
      width: 14px;
      height: 14px;
      margin-right: 3px; }
.leftSideContainer .financial ul li {
  justify-content: space-between;
  padding: 15px 0px;
  margin: 0px 20px; }
  .leftSideContainer .financial ul li:first-child {
    padding-top: 25px; }
  .leftSideContainer .financial ul li:last-child {
    border: 0px; }
  .leftSideContainer .financial ul li .wallet {
    align-items: center; }
    .leftSideContainer .financial ul li .wallet .walletIcon {
      background: #053C75;
      box-shadow: 0 0 0 3px rgba(106, 103, 226, 0.25); }
  .leftSideContainer .financial ul li .ctitle {
    color: #5C6166;
    line-height: 2;
    font-size: var(--paragraphFontSizeSmall);
    font-family: Oxygen; }
  .leftSideContainer .financial ul li .payable {
    align-items: center; }
    .leftSideContainer .financial ul li .payable .payableIcon {
      background: #B004DB;
      box-shadow: 0 0 0 3px rgba(106, 103, 226, 0.25); }
  .leftSideContainer .financial ul li .receivable {
    align-items: center; }
    .leftSideContainer .financial ul li .receivable .receivableIcon {
      background: #0CCB08;
      box-shadow: 0 0 0 3px rgba(83, 217, 81, 0.25); }
  .leftSideContainer .financial ul li .leftDays {
    align-items: center; }
    .leftSideContainer .financial ul li .leftDays .leftDaysIcon {
      background: rgba(94, 181, 92, 0.27); }
.leftSideContainer .addBalanceButton {
  text-transform: capitalize;
  font-family: Rubik;
  padding: 8px 8px;
  font-size: var(--paragraphFontSizeSmall);
  line-height: normal;
  background: rgba(8, 98, 190, 0.1);
  border-radius: 103px;
  color: #0862BE;
  font-size: 12px;
  border: 0; }
  .leftSideContainer .addBalanceButton .plusIcon .icon {
    width: 10px;
    height: 10px;
    fill: #0862BE; }
.leftSideContainer .walletIcon .icon, .leftSideContainer .receivableIcon .icon, .leftSideContainer .payableIcon .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto;
  right: 0;
  bottom: 2px; }
.leftSideContainer .icon {
  width: 20px;
  height: 20px; }
.leftSideContainer .zoneTradeFinancial .cmuk-card-body {
  padding: 0; }
  .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-subnav {
    border-bottom: 1px solid #e5e5e5; }
    .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-subnav li {
      padding: 0px;
      flex: 1;
      text-align: center;
      margin: 0; }
      .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-subnav li:first-child {
        border-right: 1px solid #cccccc; }
      .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-subnav li a {
        padding: 15px 0px;
        font-family: Oxygen;
        text-transform: capitalize;
        font-size: var(--paragraphFontSizeMedium); }
  .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-subnav > .cmuk-active > a {
    font-family: Oxygen;
    color: #061728;
    background: none;
    font-weight: bold;
    border-bottom: 2px solid #0862BE; }
  .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-switcher {
    height: 300px;
    overflow: auto; }
    .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-switcher .cmuk-comment-meta {
      color: #061728;
      font-size: var(--paragraphFontSizeMedium); }
  .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-switcher > li {
    padding: 0px;
    margin: 0px; }
    .leftSideContainer .zoneTradeFinancial .cmuk-card-body .cmuk-switcher > li li {
      margin: 0 30px; }

.rightSideContainer .recentActivityContainer {
  margin-bottom: 20px; }
  .rightSideContainer .recentActivityContainer .cmuk-card-header {
    padding: 15px 20px; }
    .rightSideContainer .recentActivityContainer .cmuk-card-header .icon {
      width: 18px;
      height: 18px;
      margin-bottom: 2px; }
  .rightSideContainer .recentActivityContainer .cmuk-card-body {
    overflow-y: auto; }
.rightSideContainer .cmuk-card-default {
  background: #FAFAFA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
.rightSideContainer .cmuk-card-header {
  font-size: var(--paragraphFontSizeMedium);
  padding: 15px 20px;
  font-family: Oxygen; }
.rightSideContainer .cmuk-card-body {
  font-family: Oxygen;
  padding: 0px 13px; }
.rightSideContainer .chatRoom .cmuk-card-body {
  height: 360px; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatList {
    padding: 5px 0px; }
    .rightSideContainer .chatRoom .cmuk-card-body .chatList button {
      padding: 5px 10px;
      margin: 0px 5px; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatMessages {
    height: 250px;
    overflow: auto; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatform .sendFormField {
    position: relative; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatform .sendFormField input {
    outline: none;
    border-color: #e5e5e5; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatform .sendIconButton {
    background: none;
    padding: 0px 10px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0; }
    .rightSideContainer .chatRoom .cmuk-card-body .chatform .sendIconButton .icon {
      width: 17px;
      height: 17px; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatform .replyBox {
    background-color: #FFffff;
    position: absolute;
    left: 0;
    right: 0;
    top: -65px;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatform .replyAccount {
    font-size: 12px;
    font-weight: bold;
    color: #3f7fc9; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatform .replyMessage {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px; }
  .rightSideContainer .chatRoom .cmuk-card-body .chatMoveTop {
    position: relative;
    bottom: 50px; }
.rightSideContainer .chatContainer .cmuk-card-body {
  font-family: Oxygen;
  padding: 0px; }
  .rightSideContainer .chatContainer .cmuk-card-body .chat_history ul {
    margin: 0;
    padding: 0 20px 10px;
    max-height: 270px;
    overflow-y: auto; }
  .rightSideContainer .chatContainer .cmuk-card-body .chat_history .overview {
    width: 100%; }

.documentcontainer .documentcontainerbutton {
  margin: 10px 0px; }
  .documentcontainer .documentcontainerbutton .cmuk-button {
    background: #5EB55C;
    border-radius: 3px;
    color: #ffffff;
    line-height: 2;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0px 20px;
    font-family: Oxygen;
    font-size: var(--paragraphFontSizeSmall);
    font-weight: bold; }

.documentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  flex-wrap: wrap;
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding: 0px 15px;
  background: #ffffff; }
  .documentItem .documentContentTop {
    font-size: var(--paragraphFontSizeMedium);
    font-family: Oxygen;
    margin: 10px; }
    .documentItem .documentContentTop a {
      color: #053C75;
      text-decoration: none; }
  .documentItem .documentThumbnail {
    margin: 10px; }
  .documentItem .documentThumbnail img {
    width: 20px;
    height: 20px; }
  .documentItem .documentThumbnail .documentIcon {
    width: 20px;
    height: 20px; }
    .documentItem .documentThumbnail .documentIcon .icon {
      width: 16px;
      height: 16px; }
  .documentItem .documentContentBottom {
    margin: 10px;
    font-size: var(--paragraphFontSizeSmall);
    text-align: left; }

.identificationDetails .documentContentBottom .infoRowLabel {
  display: none; }

.timeline .timeline-item:after,
header:before,
.timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

.timeline,
.timeline *,
.timeline *:before,
.timeline *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.timeline {
  line-height: 1.5em;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  margin: 10px 0px;
  transition: all 0.4s ease; }
  .timeline:before {
    content: "";
    width: 0px;
    height: 100%;
    border-right: 2px dashed #CECECE;
    left: 30px;
    top: 0;
    position: absolute; }
  .timeline .timeline-item {
    margin-bottom: 20px;
    height: 55px;
    position: relative; }
    .timeline .timeline-item .timeline-icon {
      background: #E4EBF2;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      position: relative;
      top: 0;
      display: inline-block;
      left: 10px;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .timeline .timeline-item .timeline-icon .icon {
      fill: #0862BE;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 15px;
      height: 15px; }
    .timeline .timeline-item .timeline-content {
      width: 80%;
      padding: 0px;
      position: relative;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .timeline .timeline-item .timeline-content .activityContent {
        color: #000000;
        font-family: Oxygen;
        font-size: var(--paragraphFontSizeSmall); }
    .timeline .timeline-item .timeline-content.right {
      float: right; }
    .timeline .timeline-item .timeline-content.right:before {
      left: -5px;
      right: inherit; }
  .timeline .notification > div {
    padding: 0px; }
  .timeline .NotificationButton {
    font-size: var(--paragraphFontSizeSmall);
    font-family: Oxygen;
    font-weight: bold;
    padding: 0px 0px 0px 40px; }

.docView .cmuk-card-header, .docView .cmuk-card-body, .docView .documentlist {
  padding: 0px; }
.docView .documentlist {
  height: 200px;
  overflow-y: scroll; }
.docView .cmuk-tab > .cmuk-active > a {
  font-family: "Oxygen", sans-serif;
  color: #636363;
  font-weight: bold;
  font-size: var(--paragraphFontSizeSmall);
  border-bottom: 2px solid #0862BE; }
.docView .documentlist .cmuk-table td {
  padding: 16px 5px;
  vertical-align: top;
  font-size: var(--paragraphFontSizeSmall); }
.docView .documentlist .docIcon {
  background: #FFFFFF;
  border: 0.411524px solid #EAEAEA;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 1.6461px;
  margin-right: 5px; }
  .docView .documentlist .docIcon .icon {
    width: 12px;
    height: 15px; }
.docView .documentlist .moreIcon span {
  width: 15px; }
.docView .documentlist .seenIcon {
  padding: 5px;
  background: #DDE8F3;
  border-radius: 2px; }
  .docView .documentlist .seenIcon .icon {
    width: 20px;
    height: 16px; }
.docView .documentlist .table-scroll tbody {
  height: 200px; }
  .docView .documentlist .table-scroll tbody tr {
    padding: 6px 0px;
    border-bottom: 1px solid #E0E0E0; }
    .docView .documentlist .table-scroll tbody tr td:first-child {
      padding-left: 15px;
      color: #262525;
      font-size: var(--paragraphFontSizeSmall); }
    .docView .documentlist .table-scroll tbody tr td:last-child {
      padding-right: 10px; }
.docView .documentlist .primayDocs {
  font-size: var(--paragraphFontSizeMedium);
  color: #636363; }
.docView .cmuk-card-default {
  overflow-y: auto;
  height: calc(100% - 400px); }
.docView .cmuk-card-body .cmuk-tab {
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #e5e5e5; }
  .docView .cmuk-card-body .cmuk-tab::before {
    border: none; }
  .docView .cmuk-card-body .cmuk-tab .first {
    border-right: 1px solid #cccccc; }
  .docView .cmuk-card-body .cmuk-tab li {
    width: 49%;
    padding: 0px;
    margin: 0; }
    .docView .cmuk-card-body .cmuk-tab li a {
      padding: 15px 0px;
      font-size: var(--paragraphFontSizeSmall);
      font-family: Oxygen;
      text-transform: capitalize; }
.docView .cmuk-card-body {
  height: 360px;
  overflow-y: auto; }
  .docView .cmuk-card-body .uploadDoc {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    background: #fff;
    padding: 15px 10px;
    margin: auto; }
  .docView .cmuk-card-body .js-upload {
    width: 100%; }
    .docView .cmuk-card-body .js-upload .cmuk-button {
      background: #EDEDED;
      border: 1px dashed #848A91;
      box-sizing: border-box;
      border-radius: 10px;
      width: 100%;
      text-transform: capitalize;
      font-size: var(--paragraphFontSizeSmall);
      font-family: Rubik; }

.loginForm .inputField {
  display: flex; }
  .loginForm .inputField .inputFieldIcon {
    display: flex;
    align-items: center;
    height: 40px;
    background: #ebebeb;
    margin-top: 19px;
    padding: 0px 10px; }
  .loginForm .inputField .inputFieldBody {
    width: 100%; }
  .loginForm .inputField .inputFieldBody input {
    font-size: var(--paragraphFontSizeSmall); }
.loginForm .cmuk-button-link {
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen;
  font-weight: bold;
  margin: 5px;
  text-decoration: none; }

.infoRow {
  line-height: 1.8;
  align-items: flex-start;
  word-break: break-all;
  font-size: var(--paragraphFontSizeSmall);
  font-family: Oxygen; }
  .infoRow .infoRowLabel {
    color: #4B4B4B;
    width: 125px;
    height: min-content;
    word-break: break-word; }
  .infoRow .infoRowValue {
    flex: 1 1;
    color: #767f8d;
    font-weight: 400;
    height: min-content; }

.fixedElement {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.chat {
  padding: 0px 10px 0px 0px; }
  .chat .chatMessage {
    font-size: var(--paragraphFontSizeSmall); }
  .chat .chatName {
    color: #FFFFFF;
    background: #193759;
    display: inline-flex;
    height: 26px;
    width: 26px;
    -moz-border-radius: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--paragraphFontSizeSmall);
    align-items: center;
    justify-content: center; }
  .chat li {
    list-style: none; }
  .chat .sender {
    justify-content: flex-end;
    align-items: flex-end; }
  .chat .receiver {
    align-items: flex-end; }
  .chat li {
    display: flex;
    list-style: none; }
  .chat .partner {
    word-break: break-all;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background: #E8E8E8;
    position: relative;
    border-bottom-left-radius: 0px; }
    .chat .partner::after {
      position: absolute;
      left: -8px;
      bottom: 0;
      content: "";
      border-top: .5rem solid transparent;
      border-bottom: .5rem solid #E8E8E8;
      border-left: .5rem solid transparent;
      border-right: .5rem solid #E8E8E8; }
    .chat .partner .messageInfo {
      color: #848A91;
      font-size: var(--paragraphFontSizeSmall); }
    .chat .partner .replytoMessage p {
      border-left: 2px solid #0862BE;
      padding: 0px 10px; }
    .chat .partner .messageContent {
      color: #061728;
      font-size: var(--paragraphFontSizeSmall); }
      .chat .partner .messageContent p {
        margin: 0px;
        color: #0862BE;
        text-align: left; }
    .chat .partner p {
      margin: 0px; }
  .chat .you {
    word-break: break-all;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background: #0862BE;
    color: #fff;
    position: relative;
    border-bottom-right-radius: 0px; }
    .chat .you::after {
      position: absolute;
      right: -8px;
      bottom: 0;
      content: "";
      border-top: .5rem solid transparent;
      border-bottom: .5rem solid #0862BE;
      border-left: .5rem solid #0862BE;
      border-right: .5rem solid transparent; }
    .chat .you .messageInfo {
      color: #6CA8E7;
      font-size: var(--paragraphFontSizeSmall); }
    .chat .you .replytoMessage p {
      border-left: 2px solid #6CA8E7;
      padding: 0px 10px; }
    .chat .you .messageContent {
      color: #FFFFFF;
      font-size: var(--paragraphFontSizeSmall); }
      .chat .you .messageContent p {
        margin: 0px;
        color: #6CA8E7;
        text-align: left; }
    .chat .you p {
      margin: 0px; }
  .chat .chatSubmit {
    width: 92%;
    margin: auto;
    padding: 10px 0px;
    display: block; }

.commonList {
  padding: 0px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid rgba(5, 60, 117, 0.12);
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 5px;
  overflow: auto;
  flex-wrap: wrap; }
  .commonList .listItemChild {
    margin: 0px;
    padding: 20px 0px;
    font-size: var(--paragraphFontSizeSmall);
    font-family: Oxygen;
    font-weight: bold; }
    .commonList .listItemChild:last-child .listItemChildValue {
      max-width: 100%; }
    .commonList .listItemChild .listItemChildTitle {
      margin: 0px;
      color: #061728; }
    .commonList .listItemChild .listItemChildValue {
      margin: 20px 0px 0px 0px;
      color: #272829;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 120px; }
    .commonList .listItemChild .listItemButton {
      margin-bottom: 0px; }
    .commonList .listItemChild button a, .commonList .listItemChild button a:hover {
      text-decoration: none;
      color: #fff; }

.accountName {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #FFFFFF;
  margin: 0px;
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: #5EB55C transparent transparent #5EB55C; }
  .accountName span {
    position: absolute;
    top: -15px;
    left: -10px;
    text-align: center;
    font-size: var(--paragraphFontSizeSmall);
    font-weight: bold;
    transform: rotate(-45deg);
    display: block; }

.salesQuoteList .cmuk-card-header {
  padding: 15px 20px; }
  .salesQuoteList .cmuk-card-header .cmuk-button {
    padding: 0 15px;
    line-height: 28px; }
.salesQuoteList .cmuk-card-body .commonList .cmuk-button {
  padding: 0 15px;
  line-height: 28px; }
.salesQuoteList .cmuk-card-body .cmuk-card {
  margin-bottom: 10px; }
.salesQuoteList .cmuk-card-body .cmuk-switcher li .title {
  margin-bottom: 5px; }

.profileContainer .infoRow {
  font-size: var(--paragraphFontSizeSmall);
  line-height: 2; }
.profileContainer .infoRowLabel {
  color: #061728;
  font-family: Oxygen; }
.profileContainer .infoRowValue {
  text-align: right;
  font-family: Oxygen; }
.profileContainer .cmuk-card-header {
  font-family: Oxygen;
  padding: 15px 20px; }
.profileContainer .cmuk-card-body {
  font-family: Rubik; }
  .profileContainer .cmuk-card-body .cmuk-card-body {
    background-color: #FFFFFF; }
.profileContainer .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px; }
.profileContainer .plusIcon .icon {
  width: 11px;
  height: 11px;
  fill: #0862BE; }

.profileDetails .editIcon,
.profileDetails .editIcon .icon, .profileDetails .icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  margin-bottom: 3px; }

.contactDetails .infoRowBox {
  justify-content: space-between; }
  .contactDetails .infoRowBox .infoRowLabel {
    width: auto;
    margin-right: 5px; }
.contactDetails .cmuk-button-link {
  font-family: Oxygen; }
.contactDetails .cmuk-badge {
  margin-left: 10px; }
.contactDetails .cmuk-card-default {
  margin-bottom: 5px; }
.contactDetails .cmuk-card-header {
  padding: 15px 20px; }
.contactDetails .cmuk-card-body {
  position: relative; }
  .contactDetails .cmuk-card-body .cmuk-card {
    border: 1px solid #EDEDED;
    border-radius: 5px;
    box-shadow: none; }
    .contactDetails .cmuk-card-body .cmuk-card .cmuk-card-body {
      padding: 10px 15px;
      border-radius: 5px;
      background-color: #FFFFFF; }

.toolTip {
  position: relative;
  display: inline-block; }
  .toolTip .toolTipText {
    visibility: hidden;
    width: 140px;
    background-color: #0862BE;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s; }
    .toolTip .toolTipText:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #0862BE transparent transparent transparent; }

.toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1; }

.notification {
  word-break: break-all;
  transition: all 1s ease-in-out;
  list-style: none;
  margin-bottom: 1px; }
  .notification .read {
    background-color: #fff2e8; }
  .notification .notificationTime {
    font-size: 10px; }

.notification > div, .NotificationButton {
  padding: 15px 25px; }

.NotificationButton {
  border-bottom: none; }

dl .info {
  background-color: #dadada;
  color: #838383;
  text-align: center;
  border-radius: 6px;
  position: relative;
  top: 5px;
  float: right;
  font-size: smaller;
  padding: 0;
  display: none; }
  dl .info:after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dadada transparent; }

.notificationDropdown .cmuk-navbar-dropdown,
.profileDropdown .cmuk-navbar-dropdown {
  padding: 0px;
  border-radius: 3px;
  top: 60px;
  border: 1px solid #e7eaf3; }

.commonCheckBox {
  display: flex; }
  .commonCheckBox input {
    margin-left: 10px; }
  .commonCheckBox dl {
    display: flex; }

.tradeList .cmuk-card-header {
  padding: 15px 20px;
  font-family: Oxygen; }
.tradeList .cmuk-card-body .cmuk-card {
  margin-bottom: 10px; }
  .tradeList .cmuk-card-body .cmuk-card .cmuk-card-body {
    padding: 20px; }
.tradeList .cmuk-card-body button a {
  color: #FFFFFF; }

.switcherCard {
  margin-bottom: 20px; }
  .switcherCard .cmuk-card-body {
    padding: 0px; }
    .switcherCard .cmuk-card-body .cmuk-card {
      margin-bottom: 5px; }
      .switcherCard .cmuk-card-body .cmuk-card .cmuk-card-body {
        padding: 20px; }
  .switcherCard .cmuk-subnav {
    margin: 0px;
    justify-content: center;
    border-bottom: 1px solid #e7eaf3; }
    .switcherCard .cmuk-subnav li {
      text-align: center;
      padding: 0;
      flex: 1;
      font-family: Oxygen; }
      .switcherCard .cmuk-subnav li a {
        font-size: var(--paragraphFontSizeSmall); }
  .switcherCard .cmuk-subnav-pill > .cmuk-active > a {
    background-color: #0862BE;
    color: #FFffff; }
  .switcherCard .cmuk-subnav-pill > * > :first-child {
    color: #0862BE;
    text-transform: capitalize;
    font-weight: bold; }
  .switcherCard .cmuk-switcher {
    height: 220px;
    overflow: auto;
    padding: 20px; }
    .switcherCard .cmuk-switcher .cmuk-button {
      padding: 0 15px;
      line-height: 28px; }

.traderRelationList .cmuk-card-header {
  padding: 13px 20px; }

.organizationDetails .cmuk-card-body .cmuk-card-default, .organizationUbos .cmuk-card-body .cmuk-card-default {
  margin-bottom: 5px; }

.cmuk-panel {
  padding: 0px;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgba(5, 60, 117, 0.22);
  font-size: 14px;
  font-family: Oxygen; }
  .cmuk-panel ul li {
    font-size: var(--paragraphFontSizeSmall);
    font-family: Oxygen;
    color: #272829;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    background: #e7eaf3; }

/*# sourceMappingURL=class.css.map */
