@media (max-width: 640px) {
  .pageContent {
    margin: 20px; }

  .MnemonicQuiz {
    max-width: 500px; }

  .banner {
    background-size: contain;
    background-position: center bottom; }
    .banner .bannerText {
      width: 100%; }
      .banner .bannerText h3 {
        font-size: 30px; }

  .mobile .cmuk-offcanvas-bar {
    padding: 30px; }

  .mobile .cmuk-button {
    background-color: #0862BE; }

  .switcherCard .cmuk-subnav {
    flex-wrap: nowrap;
    justify-content: start;
    overflow: auto;
    overflow: -moz-scrollbars-none; }
    .switcherCard .cmuk-subnav li {
      flex: none; }
    .switcherCard .cmuk-subnav::-webkit-scrollbar {
      height: 0 !important; }
  .switcherCard .cmuk-subnav-pill > * > :first-child {
    padding: 5px 20px; }

  .commonList {
    display: block;
    padding: 20px; }
    .commonList .listItemChild {
      display: flex;
      padding: 5px 0px; }
      .commonList .listItemChild .listItemChildTitle {
        width: 100px; }
      .commonList .listItemChild .listItemChildValue {
        margin: 0px;
        white-space: normal; }

  .modal {
    padding: 30px 15px; }
    .modal .modalContent {
      padding: 15px;
      min-height: 150px;
      max-height: calc(100% - 20px);
      top: auto;
      transform: translateY(0);
      margin: 0 auto;
      width: 600px;
      transition: .3s linear;
      transition-property: opacity,transform; }
      .modal .modalContent form {
        text-align: center; }

  .MnemonicQuiz {
    text-align: center; }
    .MnemonicQuiz .verifyMnemonic .verifyMnemonicButton {
      width: 95px; }

  .pageContainer .middle .mainTabs .tradeTerms .sellerTerm {
    flex-wrap: wrap; } }
@media (min-width: 640px) {
  .modalBody form {
    width: 600px;
    text-align: center; }

  form hr {
    margin: 0px; }

  .MnemonicQuiz {
    text-align: center;
    max-width: 750px; }

  .kycDocumentsView {
    display: flex; }

  .cmuk-card-body .cmuk-subnav li a {
    text-transform: capitalize; } }
@media (min-width: 960px) and (max-width: 1080px) {
  .header .cmuk-navbar-nav > li > a {
    padding: 0px 15px; }

  .header .cmuk-navbar-right .cmuk-navbar-nav > li > a {
    padding: 0px 15px; } }
@media (min-width: 960px) {
  .verticalDataTabsData {
    display: flex; }

  .comdex .mobileNavigation {
    display: flex;
    flex: auto; } }
@media (min-width: 1200px) {
  .pageContainer .leftSide {
    height: 100%;
    float: left;
    left: 0;
    margin-right: 0.5%;
    width: 24.5%;
    margin-bottom: 5px; }
  .pageContainer .middle {
    width: 50%;
    height: calc(100% - 128px);
    float: left; }
  .pageContainer .rightSide {
    height: 100%;
    width: 24.5%;
    float: left;
    margin-left: 0.5%;
    right: 0;
    margin-bottom: 5px; } }
@media (max-width: 1200px) {
  .pageContainer .middle {
    margin-bottom: 20px; } }
@media (max-width: 992px) {
  .MnemonicQuiz .mnemonicNote {
    background-image: none; }
    .MnemonicQuiz .mnemonicNote .mnemonicNoteText {
      width: 100%; }

  .modal .modalContent .modalBody .infoBlock {
    flex-direction: column;
    max-width: 500px;
    max-height: 410px; }
    .modal .modalContent .modalBody .infoBlock .infoBlockItem {
      flex: none; }
      .modal .modalContent .modalBody .infoBlock .infoBlockItem .infoBlockItemRight {
        padding: 0;
        border: none; } }
@media (min-width: 992px) and (max-width: 1600px) {
  .modal .modalContent {
    top: 10%;
    max-height: 530px; }
    .modal .modalContent .modalBody form .formBody {
      max-height: 409px; }
    .modal .modalContent .modalBody .modalInfoBlock {
      max-height: 409px; }
    .modal .modalContent .modalBody .infoBlockHeight {
      max-height: 399px; }
    .modal .modalContent .modalBody .infoBlock {
      width: 800px; }

  .leftContainer .financial {
    margin-bottom: 15px; }
    .leftContainer .financial .cmuk-card {
      height: 265px; }
      .leftContainer .financial .cmuk-card .cmuk-switcher {
        height: 210px;
        overflow: auto; }
  .leftContainer .financial .cmuk-switcher ul li {
    padding: 10px 0; }
  .leftContainer .addBalanceButton {
    text-transform: capitalize;
    font-family: Rubik;
    padding: 8px 8px;
    line-height: normal;
    background: rgba(8, 98, 190, 0.1);
    border-radius: 103px;
    color: #0862BE;
    border: 0; }
  .leftContainer .documentView .cmuk-card-header, .leftContainer .documentView .cmuk-card-body, .leftContainer .documentView .documentList {
    padding: 0px; }
  .leftContainer .documentView .documentList {
    height: 150px; }
  .leftContainer .documentView .cmuk-card {
    height: 265px; }
  .leftContainer .zoneTradeFinancial .cmuk-card-body {
    height: auto; }
    .leftContainer .zoneTradeFinancial .cmuk-card-body .cmuk-switcher {
      height: 210px; }

  .rightContainer .recentActivityContainer {
    margin-bottom: 15px; }
    .rightContainer .recentActivityContainer .cmuk-card-body {
      height: 210px; }
      .rightContainer .recentActivityContainer .cmuk-card-body .recentActivityMessages {
        height: 210px; }
  .rightContainer .chatRoom .cmuk-card-body {
    height: 264px; }
    .rightContainer .chatRoom .cmuk-card-body .chatMessagesContainer {
      height: 160px; }

  .switcherViewCard .cmuk-subnav li a {
    padding: 11px; }

  .comdex .cmuk-height-medium {
    height: 210px; }
  .comdex .cmuk-card-header .cmuk-button {
    line-height: 26px; }
  .comdex .updateDocumentField button {
    position: absolute;
    top: 12px;
    left: 115px;
    font-weight: bold; }

  .switcherCard .cmuk-switcher {
    height: 170px; }

  .timeline:before {
    left: 19px; }
  .timeline .timeline-item .timeline-icon {
    left: 0px; }

  .salesQuoteCard .salesQuoteCardLeft {
    flex: 32%; }
  .salesQuoteCard .salesQuoteCardMiddle {
    flex: 41%; }
  .salesQuoteCard .salesQuoteCardRight {
    flex: 27%; } }
@media (max-width: 1599px) {
  :root {
    font-size: 13px; }

  .comdex .cmuk-input, .comdex .cmuk-select:not([multiple]):not([size]) {
    height: 40px; }

  .signUpForm .usernameAvailability .checkIcon,
  .signUpForm .showPassword {
    top: 51px; }

  .profileContainer .identificationDetails .documentItem {
    padding: 10px; }
    .profileContainer .identificationDetails .documentItem .documentContentTop {
      margin: 0px 7px 0px 0px; }
    .profileContainer .identificationDetails .documentItem .documentThumbnail {
      margin: 0px 7px 0px 0px; }
    .profileContainer .identificationDetails .documentItem .documentContentBottom {
      margin: 0px; }
      .profileContainer .identificationDetails .documentItem .documentContentBottom .infoRowLabel {
        width: auto;
        margin-right: 5px; }

  .cmuk-card-body .cmuk-subnav li a {
    text-transform: capitalize; }

  .tabSection .cmuk-grid-divider {
    display: block; }
  .tabSection .cmuk-grid-divider.cmuk-grid-stack > .cmuk-grid-margin {
    margin: 10px 0px 0px 0px; }
  .tabSection .cmuk-grid-divider > :not(.cmuk-first-column)::before,
  .tabSection .cmuk-grid-divider.cmuk-grid-stack > .cmuk-grid-margin::before {
    border: none; }

  .mobileNumberUpdate .countryCode {
    margin-top: 38px; } }
@media (min-width: 1600px) {
  :root {
    font-size: 16px; }

  .showPassword, .checkIcon {
    top: 37px; } }
@media (max-width: 1920px) {
  .comdex .cmuk-container {
    max-width: 100%; } }
@media (min-width: 1921px) {
  .comdex .cmuk-container {
    max-width: 1920px; } }
@media (max-width: 959px) {
  .comdex .mobileNavigationHeader {
    display: flex; }
  .comdex .mobileNavigation {
    display: none; }
    .comdex .mobileNavigation li a {
      justify-content: left;
      padding: 0px; }
  .comdex .header .cmuk-logo {
    border: none; }
  .comdex .header .buttonRegister {
    background-color: #FE4350;
    font-family: Rubik;
    color: #FFFFFF;
    line-height: inherit;
    padding: 5px 30px;
    border-radius: 3px; }
  .comdex .header .cmuk-navbar {
    display: block; }
  .comdex .header .cmuk-navbar-nav {
    display: block; }
  .comdex .header .cmuk-navbar-right .cmuk-navbar-nav > li > a {
    border: none;
    padding: 0px; } }

/*# sourceMappingURL=mediaQueries.css.map */
