:root {
    font-family: "Montserrat", sans-serif !important;
    box-sizing: border-box;
    --primary-color:#FFC640;
    --bg-light-primary: #F0F0F0;
    --bg-light-card: #FAFAFA;
    --dark-1: #1E1E1E;
    --dark-2: #2C2C2C;
    --white-font: #FFFFFF;
    --lightmode-border: #e7eaf3;
    --darkmode-color-1: #D0D0D0;
    --darkmode-color-2: #3E3E3E;
    --darkmode-color-3: #9D9D9D;
    --darkmode-icon-fill: #848589;
    --darkmode-border: #E5E5E5;
    --success-color: #0F9C0C;
    --error-color: red;
    --font-type-1: "Work Sans";
    --font-type-2: "Lato";
    --header-bg: rgba(4, 4, 4, 0.8);
    --text-medium: rgba(255, 253, 250, 0.75);
    --gray: #B0B0B0;
    --mantle-off-white: #FFFDFA;
    --dark: #F2AF13;
    --card-color: #252525;
    --bg-popup: #030301;
    --inactive-grey: rgba(255, 253, 250, 0.5);
    --disabled: #5F5D5A;
    --line: #383838;
}