@import utilities.MicroNumber
@import views.html.base._
@import scala.collection.immutable.ListMap

@(availableAmount: MicroNumber, delegatedAmount: MicroNumber, undelegatingAmount: MicroNumber, delegationRewards: MicroNumber, isValidator: Boolean, commissionRewards: MicroNumber, stakingDenom: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="pieChartContainer">
    <div>
        @commonTextInfo(constants.View.AVAILABLE, s"${utilities.NumericOperation.formatNumber(availableAmount.toMicroDouble)} ${stakingDenom}")
        @commonTextInfo(constants.View.DELEGATED, s"${utilities.NumericOperation.formatNumber(delegatedAmount.toMicroDouble)} ${stakingDenom}")
        @commonTextInfo(constants.View.UNDELEGATING, s"${utilities.NumericOperation.formatNumber(undelegatingAmount.toMicroDouble)} ${stakingDenom}")
        @commonTextInfo(constants.View.DELEGATOR_REWARDS, s"${utilities.NumericOperation.formatNumber(delegationRewards.toMicroDouble)} ${stakingDenom}")
        @if(isValidator) {
            @commonTextInfo(constants.View.COMMISSION_REWARDS, Seq(commissionRewards.toString, stakingDenom).mkString(" "))
        }
    </div>
    @if(availableAmount != MicroNumber.zero || delegatedAmount != MicroNumber.zero || undelegatingAmount != MicroNumber.zero) {
        @defining(if(isValidator)
            ListMap(
                constants.View.AVAILABLE -> availableAmount.toDouble,
                constants.View.DELEGATED -> delegatedAmount.toDouble,
                constants.View.UNDELEGATING -> undelegatingAmount.toDouble,
                constants.View.DELEGATOR_REWARDS -> delegationRewards.toDouble,
                constants.View.COMMISSION_REWARDS -> delegationRewards.toDouble,
            ) else ListMap(
                constants.View.AVAILABLE -> availableAmount.toDouble,
                constants.View.DELEGATED -> delegatedAmount.toDouble,
                constants.View.UNDELEGATING -> undelegatingAmount.toDouble,
                constants.View.DELEGATOR_REWARDS -> delegationRewards.toDouble,
            )
        ) { dataMap =>
            @commonPieChart("accountWalletStakingTokenChart", dataMap, showLegend = true)
        }
    }
</div>

