@import views.html.base._
@import models.blockchain.Transaction

@(transactions: Seq[Transaction])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@if(transactions.nonEmpty) {
    <table class="cmuk-table cmuk-table-striped">
        <thead>
            <tr>
                <th>@Messages(constants.View.TRANSACTION_HASH)</th>
                <th>@Messages(constants.View.HEIGHT)</th>
                <th>@Messages(constants.View.STATUS)</th>
                <th>@Messages(constants.View.TIME)</th>
            </tr>
        </thead>
        <tbody>
        @transactions.map { tx =>
            <tr>
                <td class="blockHeightItem">
                    @commonLink(tx.hash, routes.ViewController.transaction(tx.hash))
                </td>
                <td class="blockHeightItem">
                @commonLink(tx.height.toString, routes.ViewController.block(tx.height))
                </td>
                <td>
                @if(tx.status) {
                    <span cmuk-icon="check" class="check hidden"></span>
                } else {
                    <span cmuk-icon="close" class="close hidden"></span>
                }
                </td>
                <td>@utilities.Date.bcTimestampToString(tx.timestamp)</td>
            </tr>
        }
        </tbody>
    </table>
} else {
    @Messages(constants.View.NO_TRANSACTIONS_FOUND)
}