@import views.html.base._
@import models.blockchain.Validator
@import utilities.MicroNumber

@(validators: Seq[Validator], totalBondedAmount: MicroNumber, keyBaseValidators : Seq[keyBase.ValidatorAccount])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<table class="cmuk-table cmuk-table-striped tableSort">
    <thead>
        <tr>
            <th>@Messages(constants.View.VALIDATOR)</th>
            <th>@Messages(constants.View.VOTING_POWER)</th>
            <th>@Messages(constants.View.COMMISSION_RATE)</th>
        </tr>
    </thead>
        <tbody>
            @validators.map { validator =>
                <tr>
                    <td class="blockHeightItem">
                        @keyBaseValidators.find(x=>x.address == validator.operatorAddress && x.pictureURL.isDefined).flatMap(_.pictureURL) match {
                            case Some(pictureURL)=>{@commonImageResource(pictureURL)}
                            case None=>{@commonImage("note.svg")}
                        }
                        <span>@commonVerticalHtmlInfo(constants.View.VALIDATOR, commonLink(validator.description.moniker, routes.ViewController.validator(validator.operatorAddress)))</span>
                    </td>
                    <td>@validator.tokens (@utilities.NumericOperation.roundOff((validator.tokens * 100/totalBondedAmount).toDouble)%)</td>
                    <td>@validator.commission.commissionRates.rate.toString %</td>
                </tr>
            }
        </tbody>
</table>
<script src="@routes.Assets.versioned("javascripts/dataTables/dataTable.js")" type="text/javascript"></script>