@import helper._
@import views.companion.blockchain.AddKey

@(addKeyFrom: Form[AddKey.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.ADD_KEY_TITLE)) {
    @form(action = routes.AddKeyController.blockchainAddKey) {
        @CSRF.formField
        @inputText(addKeyFrom(constants.Forms.NAME),'_label-> Messages(constants.Forms.NAME))
        @inputText(addKeyFrom(constants.Forms.SEED),'_label-> Messages(constants.Forms.SEED))
        @inputPassword(addKeyFrom(constants.Forms.PASSWORD),'_label-> Messages(constants.Forms.PASSWORD))

        @if(addKeyFrom.hasGlobalErrors) {
            <ul>
            @for(error <- addKeyFrom.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.ADD_KEY_TITLE)</button>
    }
}