@import helper._
@import views.companion.blockchain.AddKey

@(addKeyFrom: Form[AddKey.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.AddKeyController.blockchainAddKey, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.ADD_KEY)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(addKeyFrom(constants.FormField.NAME.name), '_label -> Messages(constants.FormField.NAME.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.NAME.name), 'required -> true)
        @inputPassword(addKeyFrom(constants.FormField.PASSWORD.name), '_label -> Messages(constants.FormField.PASSWORD.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.PASSWORD.name), 'required -> true)

        @if(addKeyFrom.hasGlobalErrors) {
            <ul>
            @for(error <- addKeyFrom.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.ADD_KEY)</button>
    </div>
}
