@import helper._
@import views.companion.blockchain.AddOrganization

@(addOrganizationForm: Form[AddOrganization.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("AddOrganization")) {
    @form(action = routes.AddOrganizationController.addOrganization) {
        @CSRF.formField
        @inputText(addOrganizationForm(Messages("from")))
        @inputText(addOrganizationForm(Messages("to")))
        @inputText(addOrganizationForm(Messages("organizationID")))
        @inputText(addOrganizationForm(Messages("chainID")))
        @inputPassword(addOrganizationForm(Messages("password")))


        @if(addOrganizationForm.hasGlobalErrors) {
            <ul>
            @for(error <- addOrganizationForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("AddOrganization")</button>
    }
}