@import helper._
@import views.companion.blockchain.AddOrganization

@(addOrganizationForm: Form[AddOrganization.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.AddOrganizationController.blockchainAddOrganization, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.ADD_ORGANIZATION)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(addOrganizationForm(constants.FormField.FROM.name), '_label -> Messages(constants.FormField.FROM.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.FROM.name), 'required -> true)
        @inputText(addOrganizationForm(constants.FormField.TO.name), '_label -> Messages(constants.FormField.TO.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.TO.name), 'required -> true)
        @inputText(addOrganizationForm(constants.FormField.ORGANIZATION_ID.name), '_label -> Messages(constants.FormField.ORGANIZATION_ID.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.ORGANIZATION_ID.name), 'required -> true)
        @inputText(addOrganizationForm(constants.FormField.ZONE_ID.name), '_label -> Messages(constants.FormField.ZONE_ID.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.ZONE_ID.name), 'required -> true)
        @inputText(addOrganizationForm(constants.FormField.GAS.name), '_label -> Messages(constants.FormField.GAS.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.GAS.name), 'required -> true)
        @inputPassword(addOrganizationForm(constants.FormField.PASSWORD.name), '_label -> Messages(constants.FormField.PASSWORD.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.PASSWORD.name), 'required -> true)

        @if(addOrganizationForm.hasGlobalErrors) {
            <ul>
            @for(error <- addOrganizationForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="validateForm(this)">@Messages(constants.Form.ADD_ORGANIZATION)</button>
    </div>
    }

