@import views.companion.blockchain.AddZone
@import views.html.base._

@(addZoneForm: Form[AddZone.Data] = AddZone.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_ADD_ZONE, addZoneForm) {
    @commonInputText(addZoneForm, constants.FormField.FROM)
    @commonInputText(addZoneForm, constants.FormField.TO)
    @commonInputText(addZoneForm, constants.FormField.ZONE_ID)
    @commonInputInt(addZoneForm, constants.FormField.GAS)
    @commonInputPassword(addZoneForm, constants.FormField.PASSWORD)
}