@()(implicit messagesProvider: MessagesProvider)
<div id="allBlocksTable" class="allBlocksTableBottomDivision">
    <table>
        <tr>
            <th>@Messages(constants.Form.HEIGHT)</th>
            <th>@Messages(constants.Form.TIME)</th>
            <th>@Messages(constants.Form.NUM_TXS)</th>
        </tr>
        <tbody id="allBlocksTableBody"></tbody>
    </table>
    <script src="@routes.Assets.versioned("javascripts/showAllBlocks.js")" type="text/javascript"></script>
    <script>initialTableContent()</script>
    <button onclick='onClickPrevious()'>@Messages(constants.Form.PREVIOUS)</button>
    <button onclick='onClickNext()'>@Messages(constants.Form.NEXT)</button>
    <br>
    <button onclick='goBackAllBlocksTable()()' >@Messages(constants.Form.BACK)</button>
</div>