@import views.html.component.blockchain.immutables
@import views.html.component.blockchain.mutables
@import views.html.base._
@import models.blockchain.Asset

@(asset: Asset)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.ASSET) {
} {
    @commonTextInfo(constants.View.ASSET_ID, asset.id)
    @commonIntInfo(constants.View.LOCK, asset.lock)
    @commonIntInfo(constants.View.BURN, asset.burn)
    @immutables(asset.immutables)
    @mutables(asset.mutables)
}