@import com.google.protobuf.{Any => protoAny}
@import views.html.base.infos._
@import models.Abstract.Authorization
@import models.common.Authz._

@(authorization: protoAny)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonTextInfo(constants.View.AUTHORIZATION_TYPE, constants.View.AuthzAuthorizationMap.getOrElse(authorization.getTypeUrl, authorization.getTypeUrl))
@authorization.getTypeUrl match {
    case schema.constants.Authz.SEND_AUTHORIZATION => {
        @defining(Authorization(authorization).asInstanceOf[SendAuthorization]) { sendAuthorization =>
            @commonTextInfo(constants.View.SPEND_LIMITS, sendAuthorization.spendLimit.map(_.getAmountWithNormalizedDenom()).mkString(", "))
        }
    }
    case schema.constants.Authz.GENERIC_AUTHORIZATION => {
        @defining(Authorization(authorization).asInstanceOf[GenericAuthorization]) { genericAuthorization =>
            @commonTextInfo(constants.View.MESSAGE, genericAuthorization.msg)
        }
    }
    case schema.constants.Authz.STAKE_AUTHORIZATION => {
        @defining(Authorization(authorization).asInstanceOf[StakeAuthorization]) { stakeAuthorization =>
            @commonTextInfo(constants.View.MAX_TOKENS, stakeAuthorization.maxTokens.getAmountWithNormalizedDenom())
            @if(stakeAuthorization.allowList.address.nonEmpty) {
                @commonTextInfo(constants.View.ALLOW_LIST, stakeAuthorization.allowList.address.mkString(", "))
            } else {
                @commonTextInfo(constants.View.DENY_LIST, stakeAuthorization.denyList.address.mkString(", "))
            }
            @commonTextInfo(constants.View.STAKE_AUTHORIZATION_TYPE, stakeAuthorization.authorizationType)
        }
    }
    case _ => {

    }
}