@()(implicit messagesProvider: MessagesProvider)


<div id="blockHeightBottomDivision" >
    <div class="cmuk-card
                cmuk-card-default
                cmuk-card-body">
                <a class="back-button" onclick='back()' > <span cmuk-icon="arrow-left"></span> @Messages(constants.Form.BACK)</a><br>
                @Messages(constants.Form.BLOCK): <p id="blockHeightPageHeight"></p>
                @Messages(constants.Form.TIME): <p id="blockHeightPageTime"></p>
                @Messages(constants.Form.NUM_TXS): <p id="blockHeightPageNumTxs"></p>
                @Messages(constants.Form.TRANSACTIONS):
                <p id="blockHeightPageDataHash"></p>
                @Messages(constants.Form.EVIDENCE_HASH):
                <p id="blockHeightPageEvidenceHash"></p>
                @Messages(constants.Form.VALIDATORS_HASH):
        <p id="blockHeightPageValidatorsHash"></p>
    </div>
</div>