@import views.html.base._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="cmuk-overflow-auto">
        <div class="cmuk-card-header">
                <p class="leftText"> @Messages(constants.View.BLOCKS)</p>
        </div>
        <div class="productTable">
                <table class="cmuk-table cmuk-table-striped">
                        <tbody id="blockListPage">
                        </tbody>
                </table>
        </div>
</div>


@commonSpinner("blockListPageChangeSpinner")
@commonJavascriptButton(constants.View.BACK, JavaScript("getBlockList(-1)"), 'id -> "blockList_BACK")
@commonJavascriptButton(constants.View.NEXT, JavaScript("getBlockList(1)"), 'id -> "blockList_NEXT")

<script>
        componentResource('blockListPage', jsRoutes.controllers.ComponentViewController.blockListPage(1), 'blockListPageChangeSpinner', 'pageChange');
</script>
<script src="@routes.Assets.versioned("javascripts/blockList.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/getPage.js")" type="text/javascript"></script>


