@()(implicit messagesProvider: MessagesProvider)
@import views.html.base._
<div id="blockHeightBottomDivision" >
    <a onclick='back()' ><span cmuk-icon="arrow-left" title="Back"></span>@Messages(constants.Form.BACK)</a>
    @commonCard() {
    }{
        <div class="cmuk-overflow-auto">
            <table class="cmuk-table cmuk-table-divider">
                <tbody>
                    <tr>
                        <th>@Messages(constants.Form.BLOCK)</th>
                        <td> <span id="blockHeightPageHeight"></span></td>
                    </tr>
                    <tr>
                        <th>@Messages(constants.Form.TIME)</th>
                        <td><span id="blockHeightPageTime"></span></td>
                    </tr>
                    <tr>
                        <th>@Messages(constants.Form.NUM_TXS)</th>
                        <td><span id="blockHeightPageNumTxs"></span></td>
                    </tr>
                    <tr>
                        <th>@Messages(constants.Form.DATA_HASH)</th>
                        <td><span id="blockHeightPageDataHash"></span></td>
                    </tr>
                    <tr>
                        <th>@Messages(constants.Form.EVIDENCE_HASH)</th>
                        <td><span id="blockHeightPageEvidenceHash"></span></td>
                    </tr>
                    <tr>
                        <th>@Messages(constants.Form.VALIDATORS_HASH)</th>
                        <td><span id="blockHeightPageValidatorsHash"></span></td>
                    </tr>

                </tbody>
            </table>
        </div>
    }
</div>