@import helper._
@import views.companion.blockchain.BuyerExecuteOrder

@(buyerExecuteOrderForm: Form[BuyerExecuteOrder.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.BuyerExecuteOrderController.blockchainBuyerExecuteOrder, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(buyerExecuteOrderForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM))
    @inputText(buyerExecuteOrderForm(constants.Form.BUYER_ADDRESS), '_label -> Messages(constants.Form.BUYER_ADDRESS))
    @inputText(buyerExecuteOrderForm(constants.Form.SELLER_ADDRESS), '_label -> Messages(constants.Form.SELLER_ADDRESS))
    @inputText(buyerExecuteOrderForm(constants.Form.FIAT_PROOF_HASH), '_label -> Messages(constants.Form.FIAT_PROOF_HASH))
    @inputText(buyerExecuteOrderForm(constants.Form.PEG_HASH)   , '_label -> Messages(constants.Form.PEG_HASH))
    @inputText(buyerExecuteOrderForm(constants.Form.MODE), '_label -> Messages(constants.Form.MODE))
    @inputPassword(buyerExecuteOrderForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD))

    @if(buyerExecuteOrderForm.hasGlobalErrors) {
        <ul>
        @for(error <- buyerExecuteOrderForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" onclick="submitForm(this)">@Messages(constants.Form.BUYER_EXECUTE_ORDER)</button>
}
