@import views.companion.blockchain.ChangeSellerBid
@import views.html.base._

@(changeSellerBidForm: Form[ChangeSellerBid.Data] = ChangeSellerBid.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_CHANGE_SELLER_BID, changeSellerBidForm) {
    @commonInputText(changeSellerBidForm, constants.FormField.FROM)
    @commonInputText(changeSellerBidForm, constants.FormField.TO)
    @commonInputInt(changeSellerBidForm, constants.FormField.BID)
    @commonInputInt(changeSellerBidForm, constants.FormField.TIME)
    @commonInputText(changeSellerBidForm, constants.FormField.PEG_HASH)
    @commonInputLong(changeSellerBidForm, constants.FormField.GAS)
    @commonSelect(changeSellerBidForm, constants.FormField.MODE)
    @commonInputPassword(changeSellerBidForm, constants.FormField.PASSWORD)
}
