@import helper._
@import views.companion.blockchain.ChangeSellerBid

@(changeSellerBidForm: Form[ChangeSellerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.CHANGE_SELLER_BID)) {
    @form(action = routes.ChangeSellerBidController.blockchainChangeSellerBid) {
        @CSRF.formField
        @inputText(changeSellerBidForm(constants.Forms.FROM),'_label-> Messages(constants.Forms.FROM))
        @inputText(changeSellerBidForm(constants.Forms.TO),'_label-> Messages(constants.Forms.TO))
        @inputText(changeSellerBidForm(constants.Forms.BID),'_label-> Messages(constants.Forms.BID))
        @inputText(changeSellerBidForm(constants.Forms.TIME),'_label-> Messages(constants.Forms.TIME))
        @inputText(changeSellerBidForm(constants.Forms.PEG_HASH),'_label-> Messages(constants.Forms.PEG_HASH))
        @inputText(changeSellerBidForm(constants.Forms.GAS),'_label-> Messages(constants.Forms.GAS))
        @inputPassword(changeSellerBidForm(constants.Forms.PASSWORD),'_label-> Messages(constants.Forms.PASSWORD))

        @if(changeSellerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- changeSellerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.CHANGE_SELLER_BID)</button>
    }
}