@import helper._
@import views.companion.blockchain.ChangeBuyerBid

@(changeBuyerBidForm: Form[ChangeBuyerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.CHANGE_BUYER_BID)) {
    @form(action = routes.ChangeBuyerBidController.blockchainChangeBuyerBid) {
        @CSRF.formField
        @inputText(changeBuyerBidForm(constants.Forms.FROM),'_label-> Messages(constants.Forms.FROM))
        @inputText(changeBuyerBidForm(constants.Forms.TO),'_label-> Messages(constants.Forms.TO))
        @inputText(changeBuyerBidForm(constants.Forms.BID),'_label-> Messages(constants.Forms.BID))
        @inputText(changeBuyerBidForm(constants.Forms.TIME),'_label-> Messages(constants.Forms.TIME))
        @inputText(changeBuyerBidForm(constants.Forms.PEG_HASH),'_label-> Messages(constants.Forms.PEG_HASH))
        @inputText(changeBuyerBidForm(constants.Forms.GAS),'_label-> Messages(constants.Forms.GAS))
        @inputPassword(changeBuyerBidForm(constants.Forms.PASSWORD),'_label-> Messages(constants.Forms.PASSWORD))

        @if(changeBuyerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- changeBuyerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.CHANGE_BUYER_BID)</button>
    }
}
