@import helper._
@import views.companion.blockchain.ChangeBuyerBid
@import views.html.base._

@(changeBuyerBidForm: Form[ChangeBuyerBid.Data] = ChangeBuyerBid.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_CHANGE_BUYER_BID, changeBuyerBidForm) {
    @commonInputText(changeBuyerBidForm, constants.FormField.FROM.name)
    @commonInputText(changeBuyerBidForm, constants.FormField.TO.name)
    @commonInputText(changeBuyerBidForm, constants.FormField.BID.name)
    @commonInputText(changeBuyerBidForm, constants.FormField.TIME.name)
    @commonInputText(changeBuyerBidForm, constants.FormField.PEG_HASH.name)
    @commonInputText(changeBuyerBidForm, constants.FormField.GAS.name)
    @commonInputText(changeBuyerBidForm, constants.FormField.MODE.name)
    @commonInputPassword(changeBuyerBidForm, constants.FormField.PASSWORD.name)
}

