@import helper._
@import views.companion.blockchain.ChangeBuyerBid

@(changeBuyerBidForm: Form[ChangeBuyerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.ChangeBuyerBid)) {
    @form(action = routes.ChangeBuyerBidController.changeBuyerBid) {
        @CSRF.formField
        @inputText(changeBuyerBidForm(constants.Forms.from),'_label-> Messages(constants.Forms.from))
        @inputText(changeBuyerBidForm(constants.Forms.to),'_label-> Messages(constants.Forms.to))
        @inputText(changeBuyerBidForm(constants.Forms.bid),'_label-> Messages(constants.Forms.bid))
        @inputText(changeBuyerBidForm(constants.Forms.time),'_label-> Messages(constants.Forms.time))
        @inputText(changeBuyerBidForm(constants.Forms.pegHash),'_label-> Messages(constants.Forms.pegHash))
        @inputText(changeBuyerBidForm(constants.Forms.gas),'_label-> Messages(constants.Forms.gas))
        @inputPassword(changeBuyerBidForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

        @if(changeBuyerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- changeBuyerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.ChangeBuyerBid)</button>
    }
}
