@import helper._
@import views.companion.blockchain.ConfirmBuyerBid

@(confirmBuyerBidForm: Form[ConfirmBuyerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.ConfirmBuyerBid)) {
    @form(action = routes.ConfirmBuyerBidController.confirmBuyerBid) {
        @CSRF.formField
        @inputText(confirmBuyerBidForm(constants.Forms.from),'_label-> Messages(constants.Forms.from))
        @inputText(confirmBuyerBidForm(constants.Forms.to),'_label-> Messages(constants.Forms.to))
        @inputText(confirmBuyerBidForm(constants.Forms.bid),'_label-> Messages(constants.Forms.bid))
        @inputText(confirmBuyerBidForm(constants.Forms.time),'_label-> Messages(constants.Forms.time))
        @inputText(confirmBuyerBidForm(constants.Forms.pegHash),'_label-> Messages(constants.Forms.pegHash))
        @inputText(confirmBuyerBidForm(constants.Forms.gas),'_label-> Messages(constants.Forms.gas))
        @inputPassword(confirmBuyerBidForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

        @if(confirmBuyerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- confirmBuyerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.ConfirmBuyerBid)</button>
    }
}