@import views.companion.blockchain.ConfirmBuyerBid
@import views.html.base._

@(confirmBuyerBidForm: Form[ConfirmBuyerBid.Data] = ConfirmBuyerBid.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_CONFIRM_BUYER_BID, confirmBuyerBidForm) {
    @commonInputText(confirmBuyerBidForm, constants.FormField.FROM)
    @commonInputText(confirmBuyerBidForm, constants.FormField.TO)
    @commonInputInt(confirmBuyerBidForm, constants.FormField.BID)
    @commonInputInt(confirmBuyerBidForm, constants.FormField.TIME)
    @commonInputText(confirmBuyerBidForm, constants.FormField.PEG_HASH)
    @commonInputText(confirmBuyerBidForm, constants.FormField.BUYER_CONTRACT_HASH)
    @commonInputMicroLong(confirmBuyerBidForm, constants.FormField.GAS)
    @commonSelect(confirmBuyerBidForm, constants.FormField.MODE)
    @commonInputPassword(confirmBuyerBidForm, constants.FormField.PASSWORD)
}
