@import models.common.FeeGrant.{AllowedMsgAllowance, BasicAllowance, PeriodicAllowance}
@import views.html.base.infos._
@import models.Abstract.FeeAllowance
@import com.google.protobuf.{Any => protoAny}

@(allowance: protoAny, index: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonTextInfo(constants.View.ALLOWANCE_TYPE, constants.View.FeeGrantAllowanceMap.getOrElse(allowance.getTypeUrl, allowance.getTypeUrl))
@allowance.getTypeUrl match {
    case schema.constants.FeeGrant.BASIC_ALLOWANCE => {
        @defining(FeeAllowance(allowance).asInstanceOf[BasicAllowance]) { basicAllowance =>
            @commonTextInfo(constants.View.SPEND_LIMITS, basicAllowance.spendLimit.map(_.getAmountWithNormalizedDenom()).mkString(", "))
            @if(basicAllowance.expiration == 0) {
                @commonTextInfo(constants.View.EXPIRATION, constants.View.NO_EXPIRY_DATE)
            } else {
                @commonEpochInfo(constants.View.EXPIRATION, basicAllowance.expiration)
            }
        }
    }
    case schema.constants.FeeGrant.PERIODIC_ALLOWANCE => {
        @defining(FeeAllowance(allowance).asInstanceOf[PeriodicAllowance]) { periodicAllowance =>
            @commonTextInfo(constants.View.SPEND_LIMITS, periodicAllowance.basicAllowance.spendLimit.map(_.getAmountWithNormalizedDenom()).mkString(", "))
            @if(periodicAllowance.basicAllowance.expiration == 0) {
                @commonTextInfo(constants.View.EXPIRATION, constants.View.NO_EXPIRY_DATE)
            } else {
                @commonEpochInfo(constants.View.EXPIRATION, periodicAllowance.basicAllowance.expiration)
            }
            @commonTextInfo(constants.View.PERIOD, periodicAllowance.period.toString)
            @commonTextInfo(constants.View.PERIOD_SPEND_LIMIT, periodicAllowance.periodSpendLimit.map(_.getAmountWithNormalizedDenom()).mkString(", "))
            @commonTextInfo(constants.View.PERIOD_CAN_SPEND, periodicAllowance.periodCanSpend.map(_.getAmountWithNormalizedDenom()).mkString(", "))
            @commonEpochInfo(constants.View.PERIOD_RESET, periodicAllowance.periodReset)
        }
    }
    case schema.constants.FeeGrant.ALLOWED_MSG_ALLOWANCE => {
        @defining(FeeAllowance(allowance).asInstanceOf[AllowedMsgAllowance]) { allowedMsgAllowance =>
            @commonTextInfo(constants.View.ALLOWED_MESSAGES, allowedMsgAllowance.allowedMessages.mkString(", "))
            @views.html.component.blockchain.feeGrantAllowance(allowedMsgAllowance.allowance.toProto, index)
        }
    }
    case _ => {

    }
}