@import views.html.component.blockchain.immutables
@import views.html.component.blockchain.mutables
@import views.html.base._
@import models.blockchain.Identity

@(identity: Identity)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonModalInfo(constants.View.PROPERTIES) {
} {
    @commonTextInfo(constants.View.IDENTITY_ID, identity.id)
    @commonTextInfo(constants.View.PROVISIONED_ADDRESS_LIST, identity.provisionedAddressList.mkString(", "))
    @commonTextInfo(constants.View.UNPROVISIONED_ADDRESS_LIST, identity.unprovisionedAddressList.mkString(", "))
    @immutables(identity.immutables)
    @mutables(identity.mutables)
}