@import views.html.base._
@import scala.collection.immutable.ListMap
@import controllers.actions.LoginState

@()(nubTx: Html = Html(""))(defineTx: Html = Html(""))(issueTx: Html = Html(""))(provisionTx: Html = Html(""))(unprovisionTx: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.TRANSACTIONS) {

} {
    <div>
    @commonHorizontalSwitcher(ListMap(
        constants.View.NUB -> nubTx,
        constants.View.DEFINE -> defineTx,
        constants.View.ISSUE -> issueTx,
        constants.View.PROVISION -> provisionTx,
        constants.View.UNPROVISION -> unprovisionTx,
    ))
    </div>
}