@import helper._
@import views.companion.blockchain.IssueAsset

@(issueAssetForm: Form[IssueAsset.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@form(action = routes.IssueAssetController.blockchainIssueAsset, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.ISSUE_ASSET)</h4>
    </div>
    <div>
    <div class="latest_card-body ml-cb">
    @CSRF.formField
    @inputText(issueAssetForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM),'class -> "form-control",
        'placeholder->Messages(constants.Form.FROM),'required->true)
    @inputText(issueAssetForm(constants.Form.TO), '_label -> Messages(constants.Form.TO),'class -> "form-control",
        'placeholder->Messages(constants.Form.TO),'required->true)
    @inputText(issueAssetForm(constants.Form.DOCUMENT_HASH), '_label -> Messages(constants.Form.DOCUMENT_HASH),
        'class -> "form-control",'placeholder->Messages(constants.Form.DOCUMENT_HASH),'required->true)
    @inputText(issueAssetForm(constants.Form.ASSET_TYPE), '_label -> Messages(constants.Form.ASSET_TYPE),
        'class -> "form-control",'placeholder->Messages(constants.Form.ASSET_TYPE),'required->true)
    @inputText(issueAssetForm(constants.Form.ASSET_PRICE), '_label -> Messages(constants.Form.ASSET_PRICE),
        'class -> "form-control",'placeholder->Messages(constants.Form.ASSET_PRICE),'required->true)
    @inputText(issueAssetForm(constants.Form.QUANTITY_UNIT), '_label -> Messages(constants.Form.QUANTITY_UNIT),
        'class -> "form-control",'placeholder->Messages(constants.Form.QUANTITY_UNIT),'required->true)
    @inputText(issueAssetForm(constants.Form.ASSET_QUANTITY), '_label -> Messages(constants.Form.ASSET_QUANTITY),
        'class -> "form-control",'placeholder->Messages(constants.Form.ASSET_QUANTITY),'required->true)
        <div class="input-group-prepend">
            @checkbox(issueAssetForm(constants.Form.MODERATED))
            <span class="input-group-text">
            @Messages(constants.Form.MODERATED)
            </span>
        </div>
    @inputText(issueAssetForm(constants.Form.TAKER_ADDRESS), '_label -> Messages(constants.Form.TAKER_ADDRESS),
        'class -> "form-control",'placeholder->Messages(constants.Form.TAKER_ADDRESS),'required->true)
    @inputText(issueAssetForm(constants.Form.MODE), '_label -> Messages(constants.Form.MODE),'class -> "form-control"
        ,'placeholder->Messages(constants.Form.MODE),'required->true)
    @inputPassword(issueAssetForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),
        'class -> "form-control",'placeholder->Messages(constants.Form.PASSWORD),'required->true)

    @if(issueAssetForm.hasGlobalErrors) {
        <ul>
        @for(error <- issueAssetForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.ISSUE_ASSET)</button>
    </div>
    </div>

    }
