@import helper._
@import views.companion.blockchain.IssueFiat
@import views.html.base._

@(issueFiatForm: Form[IssueFiat.Data] = IssueFiat.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@baseForm(constants.Form.BLOCKCHAIN_ISSUE_FIAT, issueFiatForm) {
    @inputText(issueFiatForm(constants.FormField.FROM.name), '_label -> Messages(constants.FormField.FROM.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.FROM.name), 'required -> true)
    @inputText(issueFiatForm(constants.FormField.TO.name), '_label -> Messages(constants.FormField.TO.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.TO.name), 'required -> true)
    @inputText(issueFiatForm(constants.FormField.TRANSACTION_ID.name), '_label -> Messages(constants.FormField.TRANSACTION_ID.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.Form.TRADER_ID), 'required -> true)
    @inputText(issueFiatForm(constants.FormField.TRANSACTION_AMOUNT.name), '_label -> Messages(constants.FormField.TRANSACTION_AMOUNT.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.TRANSACTION_AMOUNT.name), 'required -> true, 'type -> "number")
    @inputText(issueFiatForm(constants.FormField.GAS.name), '_label -> Messages(constants.FormField.GAS.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.GAS.name), 'required -> true, 'type -> "number")
    @inputText(issueFiatForm(constants.FormField.MODE.name), '_label -> Messages(constants.FormField.MODE.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.MODE.name), 'required -> true)
    @inputPassword(issueFiatForm(constants.FormField.PASSWORD.name), '_label -> Messages(constants.FormField.PASSWORD.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.PASSWORD.name), 'required -> true)
}
