@import helper._
@import views.companion.blockchain.IssueFiat
@import views.html.base._

@(issueFiatForm: Form[IssueFiat.Data] = IssueFiat.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_ISSUE_FIAT, issueFiatForm) {
    @commonInputText(issueFiatForm, constants.FormField.FROM.name)
    @commonInputText(issueFiatForm, constants.FormField.TO.name)
    @commonInputText(issueFiatForm, constants.FormField.TRANSACTION_ID.name)
    @commonInputText(issueFiatForm, constants.FormField.TRANSACTION_AMOUNT.name)
    @commonInputText(issueFiatForm, constants.FormField.GAS.name)
    @commonInputText(issueFiatForm, constants.FormField.MODE.name)
    @commonInputPassword(issueFiatForm, constants.FormField.PASSWORD.name)
}
