@import views.html.base.cards._

@(blockHeight: Int, proposer: String, time: Long, averageBlockTime: Double, chainID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.LATEST_BLOCK_HEIGHT) {
} {
    @commonTable(id = "latestBlockHeight", tableType = "cmuk-table-divider") {
        @Messages(constants.View.LATEST_BLOCK_HEIGHT)
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.HEIGHT)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@blockHeight</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.PROPOSER)</div>
                    <div id="latestBlockHeight_proposer" class="tableFieldValue">@proposer</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.TIME)</div>
                    <div id="latestBlockHeight_time" class="tableFieldValue"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.AVERAGE_BLOCK_TIME)</div>
                    <div id="latestBlockHeight_averageBlockTime" class="tableFieldValue">@(s"${averageBlockTime}s")</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.CHAIN_ID)</div>
                    <div class="tableFieldValue">@chainID</div>
                </div>
            </td>
        </tr>
    }
}

<script>
    fromEpochDateToLocal(@time, "latestBlockHeight_time")
</script>