@import models.common.Serializable.Property

@(mutableProperties: Seq[Property], immutableProperties: Seq[Property])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<table class="cmuk-table cmuk-table-striped tableSort">
    <thead>
        <tr>
            <th>@Messages(constants.View.PROPERTY_ID)</th>
            <th>@Messages(constants.View.FACT_TYPE)</th>
            <th>@Messages(constants.View.FACT_HASH)</th>
            <th>@Messages(constants.View.MUTABLE)</th>
        </tr>
    </thead>
    <tbody>
        @mutableProperties.map { mutableProperty =>
            <tr>
                <td><span class="hashCode" title="@mutableProperty.id">@mutableProperty.id</span></td>
                <td>@Messages(constants.View.FactTypesMap.getOrElse(mutableProperty.fact.factType, mutableProperty.fact.factType))</td>
                <td><span class="stringEllipse" title="@mutableProperty.fact.hash">@mutableProperty.fact.hash</span></td>
                <td><span cmuk-icon="check" class="check"></span></td>
            </tr>
        }
        @immutableProperties.map { immutableProperty =>
            <tr>
                <td><span class="hashCode" title="@immutableProperty.id">@immutableProperty.id</span></td>
                <td>@Messages(constants.View.FactTypesMap.getOrElse(immutableProperty.fact.factType, immutableProperty.fact.factType))</td>
                <td><span class="stringEllipse" title="@immutableProperty.fact.hash">@immutableProperty.fact.hash</span></td>
                <td><span cmuk-icon="close" class="close"></span></td>
            </tr>
        }
    </tbody>
</table>