@import controllers.actions.LoginState
@import views.html.base._

@(identityID: String, provisionedAddresses: Seq[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

    @commonModalInfo(constants.View.PROVISIONED_ADDRESS_LIST) {
        @commonTextInfo(constants.View.IDENTITY_ID, identityID)
        @provisionedAddresses.map { address =>
            @address
            @loginState match {
                case Some(login) => {
                    @commonFormButton(constants.Form.IDENTITY_UNPROVISION, 'parameters -> s"'${identityID}', '${address}'")
                }
                case None => {}
            }
        }
    }