@import helper._
@import views.companion.blockchain.RedeemFiat
@import views.html.base._

@(redeemFiatForm: Form[RedeemFiat.Data] = RedeemFiat.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_REDEEM_FIAT, redeemFiatForm) {
    @commonInputText(redeemFiatForm, constants.FormField.FROM.name)
    @commonInputText(redeemFiatForm, constants.FormField.TO.name)
    @commonInputText(redeemFiatForm, constants.FormField.REDEEM_AMOUNT.name)
    @commonInputText(redeemFiatForm, constants.FormField.GAS.name)
    @commonInputText(redeemFiatForm, constants.FormField.MODE.name)
    @commonInputPassword(redeemFiatForm, constants.FormField.PASSWORD.name)
}
