@import helper._
@import views.companion.blockchain.RedeemAsset

@(redeemAssetForm: Form[RedeemAsset.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.RedeemAsset)) {
    @form(action = routes.RedeemAssetController.redeemAsset) {
        @CSRF.formField
        @inputText(redeemAssetForm(constants.Forms.from),'_label-> Messages(constants.Forms.from))
        @inputText(redeemAssetForm(constants.Forms.to),'_label-> Messages(constants.Forms.to))
        @inputText(redeemAssetForm(constants.Forms.pegHash),'_label-> Messages(constants.Forms.pegHash))
        @inputText(redeemAssetForm(constants.Forms.gas),'_label-> Messages(constants.Forms.gas))
        @inputPassword(redeemAssetForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

        @if(redeemAssetForm.hasGlobalErrors) {
            <ul>
            @for(error <- redeemAssetForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.RedeemAsset)</button>
    }
}