@import helper._
@import views.companion.blockchain.RedeemFiat

@(redeemFiatForm: Form[RedeemFiat.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.RedeemFiatController.blockchainRedeemFiat, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(redeemFiatForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM))
    @inputText(redeemFiatForm(constants.Form.TO), '_label -> Messages(constants.Form.TO))
    @inputText(redeemFiatForm(constants.Form.REDEEM_AMOUNT), '_label -> Messages(constants.Form.REDEEM_AMOUNT))
    @inputText(redeemFiatForm(constants.Form.MODE), '_label -> Messages(constants.Form.MODE))
    @inputPassword(redeemFiatForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD))

    @if(redeemFiatForm.hasGlobalErrors) {
        <ul>
        @for(error <- redeemFiatForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" onclick="submitForm(this)">@Messages(constants.Form.REDEEM_FIAT)</button>
}
