@import helper._
@import views.companion.blockchain.ReleaseAsset

@(releaseAssetForm: Form[ReleaseAsset.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.ReleaseAssetController.blockchainReleaseAsset, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(releaseAssetForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM))
    @inputText(releaseAssetForm(constants.Form.TO), '_label -> Messages(constants.Form.TO))
    @inputText(releaseAssetForm(constants.Form.PEG_HASH), '_label -> Messages(constants.Form.PEG_HASH))
    @inputText(releaseAssetForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS))
    @inputPassword(releaseAssetForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD))

    @if(releaseAssetForm.hasGlobalErrors) {
        <ul>
        @for(error <- releaseAssetForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" onclick="submitForm(this)">@Messages(constants.Form.RELEASE_ASSET)</button>
}
