@import models.blockchain._

@(asset: Option[Asset], identity: Option[Identity], splits: Seq[Split], order: Option[Order], metaList: Seq[Meta], classification: Option[Classification], maintainer: Option[Maintainer])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="cmuk-container cmuk-margin-bottom">
    @if(asset.isDefined) {
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="switcherCard tableViewCard">
                @views.html.component.blockchain.asset.asset(asset.get)
                </div>
            </div>
        </div>
    }
    @if(identity.isDefined) {
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="switcherCard tableViewCard">
                @views.html.component.blockchain.identity.identity(identity.get)
                </div>
            </div>
        </div>
    }
    @if(splits.nonEmpty) {
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="switcherCard tableViewCard">
                @views.html.component.blockchain.splits(splits)
                </div>
            </div>
        </div>
    }
    @if(order.nonEmpty) {
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="switcherCard tableViewCard">
                @views.html.component.blockchain.order.order(order.get)
                </div>
            </div>
        </div>
    }
    @if(metaList.nonEmpty) {
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="switcherCard tableViewCard">
                @views.html.component.blockchain.meta(metaList)
                </div>
            </div>
        </div>
    }
    @if(classification.nonEmpty) {
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="switcherCard tableViewCard">
                @views.html.component.blockchain.classification(classification.get)
                </div>
            </div>
        </div>
    }
    @if(maintainer.nonEmpty) {
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="switcherCard tableViewCard">
                @views.html.component.blockchain.maintainer(maintainer.get)
                </div>
            </div>
        </div>
    }
</div>