@(id: String = "")(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
    <form class="cmuk-search cmuk-search-default searchForm">
        <a class="cmuk-search-icon-flip" onclick="searchFunction('@id')" cmuk-search-icon></a>
        <input type="text" id="@id" onkeypress="searchFunctionOnEnter(event, '@id')" name="@Messages("SEARCH")" class="cmuk-search-input"  placeholder="@Messages("SEARCH")">
    </form>
<script src="@routes.Assets.versioned("javascripts/search.js")" type="text/javascript"></script>