@import helper._
@import views.companion.blockchain.SellerExecuteOrder

@(sellerExecuteOrderForm: Form[SellerExecuteOrder.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.SellerExecuteOrder)) {
    @form(action = routes.SellerExecuteOrderController.sellerExecuteOrder) {
        @CSRF.formField
        @inputText(sellerExecuteOrderForm(constants.Forms.from),'_label-> Messages(constants.Forms.from))
        @inputText(sellerExecuteOrderForm(constants.Forms.buyerAddress),'_label-> Messages(constants.Forms.buyerAddress))
        @inputText(sellerExecuteOrderForm(constants.Forms.sellerAddress),'_label-> Messages(constants.Forms.sellerAddress))
        @inputText(sellerExecuteOrderForm(constants.Forms.awbProofHash),'_label-> Messages(constants.Forms.awbProofHash))
        @inputText(sellerExecuteOrderForm(constants.Forms.pegHash),'_label-> Messages(constants.Forms.pegHash))
        @inputText(sellerExecuteOrderForm(constants.Forms.gas),'_label-> Messages(constants.Forms.gas))
        @inputPassword(sellerExecuteOrderForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

        @if(sellerExecuteOrderForm.hasGlobalErrors) {
            <ul>
            @for(error <- sellerExecuteOrderForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.SellerExecuteOrder)</button>
    }
}