@import views.companion.blockchain.SendAsset
@import views.html.base._

@(sendAssetForm: Form[SendAsset.Data] = SendAsset.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_SEND_ASSET, sendAssetForm) {
    @commonInputText(sendAssetForm, constants.FormField.FROM)
    @commonInputText(sendAssetForm, constants.FormField.TO)
    @commonInputText(sendAssetForm, constants.FormField.PEG_HASH)
    @commonInputMicroNumber(sendAssetForm, constants.FormField.GAS)
    @commonSelect(sendAssetForm, constants.FormField.MODE)
    @commonInputPassword(sendAssetForm, constants.FormField.PASSWORD)
}

