@import helper._
@import views.companion.blockchain.SendFiat

@(sendFiatForm: Form[SendFiat.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@form(action = routes.SendFiatController.blockchainSendFiat, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.SEND_FIAT)</h4>
    </div>
    <div class="fixed_modal">
    <div class="latest_card-body">
    @CSRF.formField
    @inputText(sendFiatForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM),'class -> "form-control",
        'placeholder->Messages(constants.Form.FROM),'required->true)
    @inputText(sendFiatForm(constants.Form.TO), '_label -> Messages(constants.Form.TO),'class -> "form-control",
        'placeholder->Messages(constants.Form.TO),'required->true)
    @inputText(sendFiatForm(constants.Form.AMOUNT), '_label -> Messages(constants.Form.AMOUNT),'class -> "form-control",
        'placeholder->Messages(constants.Form.AMOUNT),'required->true)
    @inputText(sendFiatForm(constants.Form.PEG_HASH), '_label -> Messages(constants.Form.PEG_HASH),'class -> "form-control",
        'placeholder->Messages(constants.Form.PEG_HASH),'required->true)
    @inputText(sendFiatForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS),'class -> "form-control",
        'placeholder->Messages(constants.Form.GAS),'required->true)
    @inputPassword(sendFiatForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),'class -> "form-control",
        'placeholder->Messages(constants.Form.PASSWORD),'required->true)

    @if(sendFiatForm.hasGlobalErrors) {
        <ul>
        @for(error <- sendFiatForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.SEND_FIAT)</button>

    </div>
    }
</div>
