@import views.companion.blockchain.SendFiat
@import views.html.base._

@(sendFiatForm: Form[SendFiat.Data] = SendFiat.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_SEND_FIAT, sendFiatForm) {
    @commonInputText(sendFiatForm, constants.FormField.FROM)
    @commonInputText(sendFiatForm, constants.FormField.TO)
    @commonInputMicroLong(sendFiatForm, constants.FormField.SEND_AMOUNT)
    @commonInputText(sendFiatForm, constants.FormField.PEG_HASH)
    @commonInputMicroLong(sendFiatForm, constants.FormField.GAS)
    @commonSelect(sendFiatForm, constants.FormField.MODE)
    @commonInputPassword(sendFiatForm, constants.FormField.PASSWORD)
}
