@import helper._
@import views.companion.blockchain.SendCoin

@(sendCoinForm: Form[SendCoin.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.SendCoinController.blockchainSendCoin, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(sendCoinForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM),'class -> "form-control")
    @inputText(sendCoinForm(constants.Form.TO), '_label -> Messages(constants.Form.TO),'class -> "form-control")
    @inputText(sendCoinForm(constants.Form.AMOUNT), '_label -> Messages(constants.Form.AMOUNT),'class -> "form-control")
    @inputText(sendCoinForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS),'class -> "form-control")
    @inputPassword(sendCoinForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),'class -> "form-control")

    @if(sendCoinForm.hasGlobalErrors) {
        <ul>
        @for(error <- sendCoinForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-primary" onclick="submitForm(this)">@Messages(constants.Form.SEND_COIN)</button>
}
