@import helper._
@import views.companion.blockchain.SendAsset

@(sendAssetForm: Form[SendAsset.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.SendAsset)) {
    @form(action = routes.SendAssetController.sendAsset) {
        @CSRF.formField
        @inputText(sendAssetForm(constants.Forms.from),'_label-> Messages(constants.Forms.from))
        @inputText(sendAssetForm(constants.Forms.to),'_label-> Messages(constants.Forms.to))
        @inputText(sendAssetForm(constants.Forms.pegHash),'_label-> Messages(constants.Forms.pegHash))
        @inputText(sendAssetForm(constants.Forms.gas),'_label-> Messages(constants.Forms.gas))
        @inputPassword(sendAssetForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

        @if(sendAssetForm.hasGlobalErrors) {
            <ul>
            @for(error <- sendAssetForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.SendAsset)</button>
    }
}