@import helper._
@import views.companion.blockchain.SetACL

@(setACLForm: Form[SetACL.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("SetACL")) {
    @form(action = routes.SetACLController.setACL) {
        @CSRF.formField
        @inputText(setACLForm(Messages("from")))
        @inputText(setACLForm(Messages("aclAddress")))
        @inputText(setACLForm(Messages("organizationID")))
        @inputText(setACLForm(Messages("zoneID")))
        @inputText(setACLForm(Messages("chainID")))
        @checkbox(setACLForm(Messages("issueAsset")))
        @checkbox(setACLForm(Messages("issueFiat")))
        @checkbox(setACLForm(Messages("sendAsset")))
        @checkbox(setACLForm(Messages("sendFiat")))
        @checkbox(setACLForm(Messages("redeemAsset")))
        @checkbox(setACLForm(Messages("redeemFiat")))
        @checkbox(setACLForm(Messages("sellerExecuteOrder")))
        @checkbox(setACLForm(Messages("buyerExecuteOrder")))
        @checkbox(setACLForm(Messages("changeBuyerBid")))
        @checkbox(setACLForm(Messages("changeSellerBid")))
        @checkbox(setACLForm(Messages("confirmBuyerBid")))
        @checkbox(setACLForm(Messages("confirmSellerBid")))
        @checkbox(setACLForm(Messages("negotiation")))
        @checkbox(setACLForm(Messages("releaseAsset")))
        @inputPassword(setACLForm(Messages("password")))

        @if(setACLForm.hasGlobalErrors) {
            <ul>
            @for(error <- setACLForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("SetACL")</button>
    }
}