@import helper._
@import views.companion.blockchain.SetBuyerFeedback
@import views.html.base._

@(setBuyerFeedbackForm: Form[SetBuyerFeedback.Data] = SetBuyerFeedback.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.BLOCKCHAIN_SET_BUYER_FEEDBACK, setBuyerFeedbackForm) {
    @commonInputText(setBuyerFeedbackForm, constants.FormField.FROM)
    @commonInputText(setBuyerFeedbackForm, constants.FormField.TO)
    @commonInputText(setBuyerFeedbackForm, constants.FormField.PEG_HASH)
    @commonInputInt(setBuyerFeedbackForm, constants.FormField.RATING)
    @commonInputInt(setBuyerFeedbackForm, constants.FormField.GAS)
    @commonInputText(setBuyerFeedbackForm, constants.FormField.MODE)
    @commonInputPassword(setBuyerFeedbackForm, constants.FormField.PASSWORD)
}
