@import helper._
@import views.companion.blockchain.SetSellerFeedback

@(setSellerFeedbackForm: Form[SetSellerFeedback.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.SetSellerFeedbackController.blockchainSetSellerFeedback, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(setSellerFeedbackForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM),'class -> "form-control")
    @inputText(setSellerFeedbackForm(constants.Form.TO), '_label -> Messages(constants.Form.TO),'class -> "form-control")
    @inputText(setSellerFeedbackForm(constants.Form.PEG_HASH), '_label -> Messages(constants.Form.PEG_HASH),'class -> "form-control")
    @inputText(setSellerFeedbackForm(constants.Form.RATING), '_label -> Messages(constants.Form.RATING),'class -> "form-control")
    @inputText(setSellerFeedbackForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS),'class -> "form-control")
    @inputPassword(setSellerFeedbackForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),'class -> "form-control")

    @if(setSellerFeedbackForm.hasGlobalErrors) {
        <ul>
        @for(error <- setSellerFeedbackForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-primary" onclick="submitForm(this)">@Messages(constants.Form.SET_SELLER_FEEDBACK)</button>
}
