@import helper._
@import views.companion.blockchain.SetSellerFeedback

@(setSellerFeedbackForm: Form[SetSellerFeedback.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.SetSellerFeedback)) {
    @form(action = routes.SetSellerFeedbackController.setSellerFeedback) {
        @CSRF.formField
        @inputText(setSellerFeedbackForm(constants.Forms.from),'_label-> Messages(constants.Forms.from))
        @inputText(setSellerFeedbackForm(constants.Forms.to),'_label-> Messages(constants.Forms.to))
        @inputText(setSellerFeedbackForm(constants.Forms.pegHash),'_label-> Messages(constants.Forms.pegHash))
        @inputText(setSellerFeedbackForm(constants.Forms.rating),'_label-> Messages(constants.Forms.rating))
        @inputText(setSellerFeedbackForm(constants.Forms.gas),'_label-> Messages(constants.Forms.gas))
        @inputPassword(setSellerFeedbackForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

        @if(setSellerFeedbackForm.hasGlobalErrors) {
            <ul>
            @for(error <- setSellerFeedbackForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.SetSellerFeedback)</button>
    }
}