@import helper._
@import views.companion.blockchain.SetSellerFeedback

@(setSellerFeedbackForm: Form[SetSellerFeedback.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@form(action = routes.SetSellerFeedbackController.blockchainSetSellerFeedback, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.SET_SELLER_FEEDBACK)</h4>
    </div>
    <div>
    <div class="latest_card-body">
    @CSRF.formField
    @inputText(setSellerFeedbackForm(constants.Form.FROM), '_label -> Messages(constants.Form.FROM),'class -> "form-control",
        'placeholder->Messages(constants.Form.FROM),'required->true)
    @inputText(setSellerFeedbackForm(constants.Form.TO), '_label -> Messages(constants.Form.TO),'class -> "form-control",
        'placeholder->Messages(constants.Form.TO),'required->true)
    @inputText(setSellerFeedbackForm(constants.Form.PEG_HASH), '_label -> Messages(constants.Form.PEG_HASH),'class -> "form-control",
        'placeholder->Messages(constants.Form.PEG_HASH),'required->true)
    @inputText(setSellerFeedbackForm(constants.Form.RATING), '_label -> Messages(constants.Form.RATING),'class -> "form-control",
        'placeholder->Messages(constants.Form.RATING),'required->true)
    @inputText(setSellerFeedbackForm(constants.Form.MODE), '_label -> Messages(constants.Form.MODE),'class -> "form-control",
        'placeholder->Messages(constants.Form.MODE),'required->true)
    @inputPassword(setSellerFeedbackForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),'class -> "form-control",
        'placeholder->Messages(constants.Form.PASSWORD),'required->true)

    @if(setSellerFeedbackForm.hasGlobalErrors) {
        <ul>
        @for(error <- setSellerFeedbackForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.SET_SELLER_FEEDBACK)</button>
    </div>
    </div>
    }
