@import views.html.base._
@import models.blockchain.Split

@(splits: Seq[Split])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.SPLITS) {
} {
    <table class="cmuk-table cmuk-table-striped tableSort">
        <thead>
            <tr>
                <th>@Messages(constants.View.OWNER_ID)</th>
                <th>@Messages(constants.View.OWNABLE_ID)</th>
                <th>@Messages(constants.View.SPLIT)</th>
            </tr>
        </thead>
        <tbody>
            @splits.map { split =>
                <td><span class="stringEllipse" title="@split.ownerID">@split.ownerID</span></td>
                <td><span class="stringEllipse" title="@split.ownableID">@split.ownableID</span></td>
                <td>@utilities.NumericOperation.formatNumber(split.split)</td>
            }
        </tbody>
    </table>
}