@import models.blockchain.Token
@import views.html.base.cards._
@import views.html.base.infos._

@(token: Token, tokenTickers: Seq[constants.AppConfig.TokenTicker])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.TOKEN) {
} {
    @commonTable(id = Seq("tokenStatistics", token.denom).mkString("_"), tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.INFLATION)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@(s"${utilities.NumericOperation.roundOff((token.inflation * 100).toDouble)} %")</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.APY)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@(s"${utilities.NumericOperation.roundOff((token.inflation.toDouble * token.totalSupply.toDouble * 100) / token.bondedAmount.toDouble)} %")</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.BONDED_TOKENS)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@(s"${utilities.NumericOperation.roundOff((token.bondedAmount / token.totalSupply).toDouble * 100)} %")</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.LOCKED_AMOUNT)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@utilities.NumericOperation.formatNumber(token.totalLocked)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.TOTAL_SUPPLY)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@utilities.NumericOperation.formatNumber(token.totalSupply)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.BURNED_AMOUNT)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@utilities.NumericOperation.formatNumber(token.totalBurnt)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.COMMUNITY_POOL)</div>
                    <div id="latestBlockHeight_height" class="tableFieldValue">@utilities.NumericOperation.formatNumber(token.communityPool)</div>
                </div>
            </td>
        </tr>
    }
}