@import models.blockchain.Token
@import views.html.base._

@(token: Token, tokenTickers: Seq[constants.AppConfig.TokenTicker])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.TOKEN) {
    <p>$@tokenTickers.find(_.denom == token.denom).fold(token.denom)(_.normalizedDenom)</p>
} {
    <div id="@Seq("tokenStatistics", token.denom).mkString("_")">
        @commonTextInfo(constants.View.INFLATION, s"${utilities.NumericOperation.roundOff((token.inflation * 100).toDouble)} %")
        @commonTextInfo(constants.View.APY, s"${utilities.NumericOperation.roundOff((token.inflation.toDouble * token.totalSupply.toDouble * 100) / token.bondedAmount.toDouble)} %")
        @commonTextInfo(constants.View.BONDED_TOKENS, s"${utilities.NumericOperation.roundOff((token.bondedAmount / token.totalSupply).toDouble * 100)} %")
        @commonTextInfo(constants.View.BONDED_AMOUNT, utilities.NumericOperation.formatNumber(token.bondedAmount))
        @commonTextInfo(constants.View.TOTAL_SUPPLY, utilities.NumericOperation.formatNumber(token.totalSupply))
        @commonTextInfo(constants.View.COMMUNITY_POOL, utilities.NumericOperation.formatNumber(token.communityPool))
    </div>
    @* <script src="@routes.Assets.versioned("javascripts/tokensStatistics.js")" type="text/javascript"></script>*@
}