@import models.blockchain.Transaction

@(transactions: Seq[Transaction])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<tr>
    <th>@Messages(constants.View.TRANSACTION_HASH)</th>
    <th>@Messages(constants.View.HEIGHT)</th>
    <th>@Messages(constants.View.STATUS)</th>
    <th>@Messages(constants.View.TIME)</th>
</tr>
@transactions.zipWithIndex.map { case (tx, index) =>
<tr>
    <td class="blockHeightItem">
        <div class="listItemChild">
            <div class="textOverflowCopy">
                <p class="cmuk-link hashCode" id = "transactionListPageItemTxHash_@index" title="@tx.hash" onclick="getPage(jsRoutes.controllers.ViewController.transaction, ('transactionListPageItemTxHash_' + @index))">
                @tx.hash
                </p>
            </div>
        </div>
    </td>
    <td id="transactionListPageItemTxHeight_@index">@tx.height</td>
    <td id="transactionListPageItemTxStatus_@index">
        <div id="transactionListPageItemTxStatusStatic_@index">
        @if(tx.status) {
            <span cmuk-icon="check" class="check hidden"></span>
        } else {
            <span cmuk-icon="close" class="close hidden"></span>
        }
        </div>
        <div class="hidden" id="transactionListPageItemTxStatusTrue_@index">
            <span cmuk-icon="check" class="check"></span>
        </div>
        <div id="transactionListPageItemTxStatusFalse_@index" class="hidden">
            <span cmuk-icon="close" class="close"></span>
        </div>
    </td>
    <td id="transactionListPageItemTxFees_@index">@utilities.Date.bcTimestampToString(tx.timestamp)</td>
</tr>
}
