@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)
    <h3>@Messages(constants.Form.TRANSACTIONS)</h3>
        <table class="dynamicTable">
                <tr>
                    <th>@Messages(constants.Form.HEIGHT)</th>
                    <th>@Messages(constants.Form.TRANSACTION_HASH)</th>
                    <th>@Messages(constants.Form.TYPE)</th>
                </tr>
            <tbody id="transactionContainer">
            </tbody>
        </table>
<script src="@routes.Assets.versioned("javascripts/transactionExplorer.js")" type="text/javascript"></script>