@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)
<div style="float: right;">
    <p>@Messages("Transactions")</p>
    <ul id="transactionList"></ul>
</div>
<script src="@routes.Assets.versioned("javascripts/transactionExplorer.js")" type="text/javascript"></script>
<script>
transactionExplorer("@configuration.get[String]("blockchain.blockExplorer.ip")" +  ":" + "@configuration.get[String]("blockchain.blockExplorer.port")" + "/tx", "@configuration.get[String]("blockchain.main.ip")" + ":" + "@configuration.get[String]("blockchain.main.restPort")" + "/txs/");
</script>