@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)
@common(Messages(constants.Common.VALIDATORS)){
    <script src="@routes.Assets.versioned("javascripts/validators.js")" type="text/javascript"></script>
    <div>
        <table id="validatorsTable">
            <tr>
                <th>@Messages(constants.Common.OPERATOR)</th>
                <th>@Messages(constants.Common.STATUS)</th>
                <th>@Messages(constants.Common.TOKENS)</th>
                <th>@Messages(constants.Common.DELEGATOR_SHARES)</th>
            </tr>
            <tbody id="validatorsTableBody"></tbody>
        </table>
    </div>
    <script>validatorsTable("@configuration.get[String]("blockchain.main.ip")" + ":" + "@configuration.get[String]("blockchain.main.restPort")", "validatorsTableBody")</script>

}