@()(implicit messagesProvider: MessagesProvider)

<div id="validatorsTable">
    <a onclick='back()' ><span title="Back" cmuk-icon="arrow-left"></span> @Messages(constants.Form.BACK)</a>
    <div class="cmuk-card
                cmuk-card-default
                cmuk-card-body">
        <div>
            <span class="headerFontSize cmuk-text-bold">@Messages(constants.Form.VALIDATORS)</span>
         </div>
        <div class="cmuk-overflow-auto">
        <table class="cmuk-table cmuk-table-divider">
            <thead>
                <tr>
                    <th>@Messages(constants.Form.OPERATOR)</th>
                    <th>@Messages(constants.FormField.STATUS.name)</th>
                    <th>@Messages(constants.Form.TOKENS)</th>
                    <th>@Messages(constants.Form.DELEGATOR_SHARES)</th>
                </tr>
            </thead>
            <tbody id="validatorsTableBody"></tbody>
        </table>
        </div>
    </div>
</div>
