body {
    margin: auto;
}

/* Notification*/

.badge {
    padding: 0.2em 0.5em;
    border-radius: 1em;
    background-color: red;
    font-size: 0.8em;
    color: white;
}

.read {
    background-color: #aaaaaa;
}

/* Notification*/

/* Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    padding: 2%;
    position: fixed;
    top: 25%;
    left: 25%;
    max-height: 60%;
    overflow: auto;
    width: 50%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.cancelButton {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Modal*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2%
}

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #333;
}

.centerScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.blur {
blur(5 px);
}

/*Alert*/
.alert {
    padding: 10px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 5px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.failure {
    background-color: #f44336;
}

.alert.information {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closeButton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeButton:hover {
    color: #3a3a3a;
}

/*Alert*/

/*Navbar*/

.navbar {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 5px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #3a53bc;
    color: white;
}

.navbar a.right {
    float: right;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.stickyBar {
    background-color: rgba(255, 255, 255, 0.9);
}

/*Navbar*/


.hidden {
    display: None;
}

/*Flex*/
.flexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexItem {
    margin: 20px;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
}


.flexGraph {
    margin: 10px;
    width: 1000px;
}

.flexGrowth {
    flex-grow: 1;
}

/*Flex*/

.box {
    border: 2px solid #8faab8;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

}

.box:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.leftAlign {
    text-align: left;
}

.centerText {
    text-align: center;
}

.width {
    width: max-content;
}

.leftSide {
    float: left;
}

.dynamicTable {
    display: table;
    border-collapse: collapse;
    margin: auto;
    table-layout: auto;
    width: 100%;
    height: 84%;
    border-left: white;
    border-right: white;
    flex-grow: 1;
}

.dynamicTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dynamicTable th {
    background-color: #a8b1ff;
}

.dynamicTable tr:hover {
    background-color: #ffce92;
}

.setBackgroundColor {
    background-color: var(--color);
}

button {
    background-color: #3a53bc;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    width: auto;
    height: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
}

.cursorPointer{
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

input:hover{
    cursor: crosshair;
}