body {
    margin: auto;
}

/* Notification*/

.badge {
    padding: 0.2em 0.5em;
    border-radius: 1em;
    background-color: red;
    font-size: 0.8em;
    color: white;
}

.navbar a .read {
    background-color: #aaaaaa;
}

/* Notification*/

/* Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width:500px) {
    .modalContent {
        background-color: #fefefe;
        padding: 2%;
        position: fixed;
        top: 25%;
        left: 15%;
        max-height: 60%;
        overflow: auto;
    }
    table thead{
        font-size: 12px;
    }
}
@media (min-width:500px){
    .modalContent {
        background-color: #fefefe;
        padding: 2%;
        position: fixed;
        top: 25%;
        left: 40%;
        max-height: 60%;
        overflow: auto;
    }


}
.form{
    padding:30px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.cancelButton {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Modal*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2%
}

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #333;
}

.centerScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.blur {
    filter: blur(5 px);
}

/*Alert*/
.alert {
    position:relative;
    top:70px;
    padding: 10px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 5px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.failure {
    background-color: #f44336;
}

.alert.information {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closeButton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeButton:hover {
    color: #3a3a3a;
}

/*Alert*/

/*Navbar*/

.navbar {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 5px;
}

.navbar a {
    float: left;
    display: block;
    color: #9BB6C7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #F3F8FF;
    color: #1B7FBD;
}

.navbar a.active {
    background-color: #F3F8FF;
    color: #1B7FBD;
}

.navbar a.right {
    float: right;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.stickyBar {
    background-color: rgba(255, 255, 255, 0.9);
}

/*Navbar*/


.hidden {
    display: None;
}

/*Flex*/
.pageFlexContainer {
    margin-top: 100px;
    display:flex;
    justify-content:center;
}

.pageFlexContainer >div {
    /*background-color: #ffffff;*/
}
/*side bar for system mode*/
@media (min-width: 1200px) {

    .close-sidebar{
        display: none;
    }
    .first .closebtn{
        display: none;
    }
    .first {
        position: fixed;
        left: 0;
        top:0;
        height:100%;
        background: #31353D;
        padding-top:60px;
        padding-left: 40px;
        padding-right: 30px;
        width: 250px;
        margin-right: 1vw;
        overflow: auto;
    }
    .first a {
        color:#fff;
        padding:8px 0px 8px 20px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }
    .first a:hover{
        color: #31353D;
        background: #fff;
        border-radius: 10px;
    }

    .second {
        display: inline-block;
        width: 100%;
        padding-top: 20px;
    }
    .pageFlexContainer .second{
        padding-left: 280px;
    }
}
/*side bar for mobile mode*/
@media (max-width: 1200px) {
    .first {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        background-color:#31353D;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;


    }
    .first a {
        color: #818896;
        padding:8px 0px 8px 50px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }
    .first .closebtn {
        position: relative;
        top: 0;
        right: -70%;
        font-size: 20px;
    }
    .close-sidebar{
        top:60px;
        color:#fff;
        font-size:30px;
        cursor:pointer;
        background:grey;
        padding: 5px;
        border-radius: 10px;
        transition-delay: 0.3s;
        position:fixed;
        left: -20px;
        z-index:100;
    }
    .second {
        position:relative;
        padding-top: 20px;
        width:100%;
    }
}

.third {
    width:20%;
    margin-left: 1vw;
}
.width70Percent{
    width: 70%;
    float: left;
}
.width30Percent{
    transition: .5s ease;
    width: 30%;
    float: right;
}
.bottom {
    opacity: 0;
    position: relative;
    top: -20%;
    transition: .5s ease;
}
.width30Percent:hover img{
    opacity: 0.3;
}

.width30Percent:hover .bottom{
    opacity: 1;
}
/*@media only screen and (max-width: 1200px) {*/


/*    .third {*/
/*        display: none;*/
/*    }*/
/*    .second {*/
/*        margin: 0px;*/
/*        width: 100%;*/
/*    }*/
/*}*/

.flexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexItem {
    text-align: center;
    padding: 10px;
    padding-top: 15px;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.flexGraph {
    width: 95%;
}

.flexGrowth {
    flex-grow: 1;
}

/*Flex*/
/*Box*/
.box {
    border: 2px solid #8faab8;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.box:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/*Box*/

/*Table*/
.dynamicTable {
    display: table;
    border-collapse: collapse;
    margin: auto;
    table-layout: auto;
    width: 100%;
    border-left: white;
    border-right: white;
    flex-grow: 1;
}

.dynamicTable th {
    background-color: #a8b1ff;
}

.dynamicTable tr {
    height: 30px;
}

.dynamicTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dynamicTable tr:hover {
    background-color: #ffce92;
}
/*Table*/

.toggleElement {
    background-color: #3a53bc;
}

.toggleElement:hover {
    cursor: pointer;
    color: rgba(255, 249, 6, 0.66);
}

.leftText {
    text-align: left;
    word-break: break-all;
}
rightText{
    text-align: right;
}

.width {
    width: 100%;
}

.centerText {
    text-align: center;
}

/*.info {*/
/*    display: none;*/
/*}*/

/* Progress Bar*/

.progressContainer {
    width: 100%;
    background-color: #ddd;
}

.progressBar {
    width: 0;
    height: 1em;
    background-color: #5eaf50;
}

/* Progress Bar*/

/*ToolTip*/
dl {
    position: relative;
}

dl .info {
    visibility: hidden;
    background-color: #dadada;
    color: #838383;
    text-align: center;
    border-radius: 6px;
    position: relative;
    top: 5px;
    float: right;
    font-size: smaller;
    padding: 0;
}

dl .info::after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dadada transparent;
}
dl:hover .info {
    visibility: visible;
}
/*ToolTip*/
/*notification*/
.notification-box{
    padding:10px;
    border-bottom: 1px solid grey;
}

/*upload file css*/
.uploadBar {
    display: flex;
    justify-content: space-around;
    min-width: 200px;
    width: 30%;
    height: 50px;
    margin: auto;
}

.uploadBar img {
    height: 32px;
}

.uploadProgress {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 30%;
    margin-top: 20px !important;
    margin: auto;
}

.uploadProgressOuter {
    background-color: #20201F;
    border-radius: 20px;
    padding: 4px;
}

.uploadProgressOuter > div {
    text-align: center;
    background-color: #2196F3;
    height: 16px;
    border-radius: 10px;
}

.browseButton {
    background-color: white;
    color: white;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    cursor: pointer;
}
/*upload file css*/

/*approve and reject color*/
.approve {
    background-color: #4CAF50;
}

.reject {
    background-color: #f44336;
}

/*approve and reject color*/
/*ToolTip INPUT BOX SPECIFIC*/

/* color */
.lightBlue {
    background-color: #a8b1ff;
}

.red {
    color: rgba(131, 0, 4, 0.71);
}
/* color */
/*floating label*/
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}
.hash_code{
    width : 100px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.2em;
    margin-left: 20px;
}
.pageContent{
    width: 500px;
    float:right;
    position: relative;
    right:50px;
    padding-bottom: 50px;
}
.fa{
    cursor: pointer;
}
