html,
body {
    height: 100%;
    margin: 0;
    background: #F4F7FB;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar * {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: grey !important;
    border-radius: 6px;
}

.cmuk-slider {
    background: rgba(8, 98, 190, 0.06);
}

.cmuk-slider-items {
    height: 37.63px;
    align-items: center;
}

.cmuk-slider-items li span {
    font-size: 12px;
    line-height: 172%;
    letter-spacing: 0.01em;
}

.cmuk-slider-items li .sliderItemName {
    font-weight: bold;
    color: #6C7883;
}

.cmuk-slider-items li .sliderItemValue {
    font-weight: bold;
    color: #262525;
}

.cmuk-slider-items li .sliderItemPercentage {
    color: #5EB55C;
}

.header .cmuk-navbar-container:not(.cmuk-navbar-transparent) {
    background: #02162C;
}

.header .cmuk-navbar-container {
    padding: 0px 30px;
}

.header .cmuk-navbar-item,
.cmuk-navbar-nav>li>a,
.cmuk-navbar-toggle {
    min-height: 64px;
}

.header .cmuk-navbar-nav>li>a {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #EEF5FD;
    text-transform: capitalize;
}

.registerButton button {
    font-size: 14px;
    line-height: 230%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    border-radius: 2px;
    text-transform: capitalize;
}

.bannerContainer {
    background: #031221;
    height: 363px;
}

.bannerText {
    width: 600px;
    padding: 50px 0px;
}

.bannerText h2 {
    font-family:  'Oxygen', sans-serif;
    line-height: 130%;
    margin: 0px;
    font-weight: normal;
    color: #FFFFFF;
}

@media (min-width: 960px) {
    .bannerText h2 {

        font-size: 48px;

    }

    .bannerButtons button {
        width: 198px;
        height: 48px;
    }

    .verticalDataTabsData {
        display: flex;
    }
}

.bannerText p {
    font-family:  'Oxygen', sans-serif;
    font-size: 15px;
    line-height: 172%;
    margin-top: 0px;
    letter-spacing: 0.01em;
    color: #627F9F;
}

.bannerButtons button {
    font-family: 'Rubik', sans-serif;
    border-radius: 2px;
    margin-right: 20px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
}

.bannerButtons .cmuk-button-default {
    border-color: #0862BE;
}

.bannerImage {
    margin-left: auto;
}

.bannerImage img {
    margin-top: -13px;
}

.headingSection p {
    font-size: 26px;
    line-height: 212%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #59616A;
}

.tabsSection {
    background: linear-gradient(90deg, #EBF2F9 1.96%, rgba(235, 242, 249, 0) 94.15%);
}

.tabsSection h2 {
    font-family: Oxygen;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 153%;
    /* identical to box height, or 55px */

    letter-spacing: 0.01em;

    color: #262525;
}

.verticalDataTabs {
    width: 214px;
}

.verticalDataTabs ul li {
    background: #FAFBFD;
    margin-bottom: 2px;
}

.verticalDataTabs ul li a {
    padding: 20px 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 182%;
    letter-spacing: 0.01em;
    color: #0862BE;
}

.verticalDataTabs .cmuk-nav-default>li.cmuk-active>a {
    background: #0862BE;
    color: #FFFFFF;
}

.contactSection {
    background-image: url('../images/contactbg.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-color: #0862BE;
    background-size: contain    ;
}

.contactSection h3 {
    font-family: Oxygen;
    font-weight: bold;
    font-size: 36px;
    line-height: 127.5%;
    /* identical to box height, or 46px */

    letter-spacing: 0.01em;

    color: #FAFBFD;
}

.contactSetion .cmuk-button {
    background: #053C75;
    border-radius: 2px;
    height: 40px;
    font-size: 18px;
    line-height: 172%;
    /* identical to box height, or 31px */

    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}


.contactSetion .cmuk-form-width-medium {
    background: #CFE5FD;
    border: 1px solid rgba(5, 60, 117, 0.12);
    box-sizing: border-box;
    border-radius: 2px;
    width: 330px;
}

.marginLeft-30 {
    margin-left: 30px;
}

.verticalDataTabs ul li a span {
    float: right;
    margin-top: 8px;
}


.modal {
    display: none;
    position: fixed;
    z-index:1010;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 30px;
}
.modalContent {
    word-break: break-all;
    top: 20%;
    border-radius: 0.25rem;
    padding: 20px;
    margin:auto;
    background-color: #fefefe;
    box-sizing: border-box;
    position: relative;
    width: 700px;
    min-width: 500px;
    max-width: 1000px;
    overflow-y:auto;
    max-height: 600px;
}
dl {
    position: relative;
}

dl .info {
    background-color: #dadada;
    color: #838383;
    text-align: center;
    border-radius: 6px;
    position: relative;
    top: 5px;
    float: right;
    font-size: smaller;
    padding: 0;
    display: none;
}

dl .info::after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dadada transparent;
}
.hidden{
    display: none;
}
.verifyPassphrase{
    flex-wrap: wrap;
}
.verifyPassphrasebutton{
width: 114px;
height: 38px;
text-align: center;
line-height: 38px;
position: relative;
color: rgb(33, 40, 51);
font-size: 14px;
float: left;
margin-right: 10px;
margin-bottom: 10px;
font-weight: 600;
background: rgb(251, 251, 251);
border-radius: 3px;
}


.verifyPassphrasebutton .index{
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgb(132, 142, 156);
    font-size: 12px;
    line-height: 12px;
}