html{
    height:100%;
}
body {
    height: 100%;
    background:#f4f4f4;
}
h2{
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 1.5625rem !important;
    color: white;
}
input {
    width: 100%;
    padding: 10px;
    background: #e2e2e2;
}


input:focus {
    background-color: #ddd;
    outline: none;
}
input:hover {
    cursor: pointer;
}

button {
    background-color:#EEF9FF;
    color: #1B7FBD;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

a {
    color: #3a53bc;
    opacity: 0.8;
}
a:hover {
    cursor: pointer;
    color: #3a53bc;
    opacity: 1.0;
}

label{
    display: none !important;
}
