@import controllers.actions.LoginState
@import views.html.base.form._
@import views.html.base.cards._
@import views.html.base.infos._
@import views.html.base.buttons._
@import models.master.Mobile
@import models.master.Email

@(mobileNumber: Option[Mobile], emailAddress: Option[Email])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.CONTACT_DETAILS, 'cardIconPath -> "images/icons/icons.svg#contactDetails") {
   } {
    <div class="contactInfoItem">
        @mobileNumber match {
            case Some(mobile) => {
                @commonInfoBox() {
                    <div class="cmuk-flex cmuk-flex-wrap infoRowBox">
                        @commonTextInfo(constants.View.MOBILE_NUMBER, mobile.mobileNumber)
                        @if(mobile.status) {
                            <div class="contactInfoItemStatus">
                            <span class="cmuk-badge verified">@Messages(constants.View.VERIFIED)</span>
                            </div>
                        } else {
                            @commonFormButton(constants.Form.VERIFY_MOBILE_NUMBER, 'class -> "cmuk-button-link")
                        }
                    </div>
                }
            }
            case None => {
                @commonInfoBox() {
                    <div class="cmuk-flex cmuk-flex-wrap infoRowBox cmuk-flex-middle">
                    <p class="cmuk-margin-remove">@Messages(constants.View.MOBILE_NUMBER)</p>
                    @commonFormButton(constants.Form.ADD_OR_UPDATE_MOBILE_NUMBER)
                    </div>
                }
            }
        }
        <div class="contactUpdateButton">
        @mobileNumber.map{mobile => @commonModalButton(constants.View.UPDATE_MOBILE_NUMBER, routes.javascript.ContactController.addOrUpdateMobileNumberForm)}
        </div>
    </div>
    <div class="contactInfoItem">
    @emailAddress match {
        case Some(email) => {
            @commonInfoBox() {
                <div class="cmuk-flex cmuk-flex-wrap infoRowBox">
                    @commonTextInfo(constants.View.EMAIL_ADDRESS, email.emailAddress)
                    @if(email.status) {
                        <div class="contactInfoItemStatus">
                        <span class="cmuk-badge verified">@Messages(constants.View.VERIFIED)</span>
                        </div>
                    } else {
                        @commonFormButton(constants.Form.VERIFY_EMAIL_ADDRESS, 'class -> "cmuk-button-link")
                    }
                </div>
            }
        }
        case None => {
            @commonInfoBox() {
                <div class="cmuk-flex cmuk-flex-wrap infoRowBox cmuk-flex-middle">
                    <p class="cmuk-margin-remove">@Messages(constants.View.EMAIL_ADDRESS)</p>
                    @commonFormButton(constants.Form.ADD_OR_UPDATE_EMAIL_ADDRESS)
                </div>
            }
        }
    }
        <div class="contactUpdateButton">
        @emailAddress.map{email => @commonModalButton(constants.View.UPDATE_EMAIL_ADDRESS, routes.javascript.ContactController.addOrUpdateEmailAddressForm)}
        </div>
    </div>
}