@import controllers.actions.LoginState
@import views.html.base.form._
@import views.companion.master.VerifyEmailAddress

@(verifyEmailAddressForm: Form[VerifyEmailAddress.Data] = VerifyEmailAddress.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.VERIFY_EMAIL_ADDRESS, verifyEmailAddressForm) {
    <p class="formNote">@Messages(constants.View.EMAIL_OTP_NOTE)</p>
    @commonInputText(verifyEmailAddressForm, constants.FormField.OTP)
}