@import controllers.actions.LoginState
@import views.companion.master.contact.VerifyMobileNumber
@import views.html.base.form._

@(verifyMobileNumberForm: Form[VerifyMobileNumber.Data] = VerifyMobileNumber.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.VERIFY_MOBILE_NUMBER, verifyMobileNumberForm) {
    <p class="formNote">@Messages(constants.View.MOBILE_OTP_NOTE)</p>
    @commonInputText(verifyMobileNumberForm, constants.FormField.OTP)
}
