@import views.html.base.cards._
@import views.html.base.infos._
@import views.html.base.buttons._
@import models.blockchain.Block

@(block: Block, proposer: String, numTxs: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.BLOCK_HEADER) {
} {
    @commonTable(id = "blockDetail", tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.HEIGHT)</div>
                    <div id="blockDetail_height" class="tableFieldValue">@block.height</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.TIME)</div>
                    <div id="blockDetail_time" class="tableFieldValue"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.PROPOSER)</div>
                    <div id="blockDetail_proposer" class="tableFieldValue">@commonJavascriptLink(proposer, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.validator('${block.proposerAddress}'))"))</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.NUMBER_OF_TRANSACTIONS)</div>
                    <div id="blockDetail_noTransaction" class="tableFieldValue">@numTxs</div>
                </div>
            </td>
        </tr>
    }
}
<script>
        convertUTCDateToLocalDate("@block.time.toString", "blockDetail_time")
</script>