@import views.html.base.cards._
@import views.html.base.infos._
@import views.html.base.buttons._
@import models.blockchain.Block

@(block: Block, proposer: String, numTxs: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.BLOCK_HEADER) {
} {
    @commonIntInfo(constants.View.HEIGHT, block.height)
    @commonEpochInfo(constants.View.TIME, block.time)
    @commonHtmlInfo(constants.View.PROPOSER, commonJavascriptLink(proposer, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.validator('${block.proposerAddress}'))")))
    @commonIntInfo(constants.View.NUMBER_OF_TRANSACTIONS, numTxs)
}