@import constants.AppConfig.OtherApp
@import controllers.actions.LoginState

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, otherApps: Seq[OtherApp], loginState: LoginState = null)

    @views.html.base.common(Messages(constants.View.ACCOUNT), failures, warnings, successes, infos)(left)(center)(right)

    @left = {
    }

    @center = {
    @loginState match {
        case null => {}
        case default => {
            <div class="cmuk-container cmuk-margin-bottom">
                <div class="cmuk-grid-match" cmuk-grid>
                    <div class="cmuk-width-expand@@m">
                        <div id="accountWallet" class="tableViewCard"></div>
                    </div>
                </div>
                <div class="cmuk-grid-match" cmuk-grid>
                    <div class="cmuk-width-expand@@m">
                        <div id="accountSplits"></div>
                    </div>
                </div>
                <div class="cmuk-grid-match" cmuk-grid>
                    <div class="cmuk-width-expand@@m">
                        <div id="accountDelegations" class="switcherCard tableViewCard"></div>
                    </div>
                </div>
                <div class="cmuk-grid-match" cmuk-grid>
                    <div class="cmuk-width-expand@@m">
                        <div id="accountTransactions"></div>
                    </div>
                </div>
            </div>
            <script>
            componentResource('accountWallet', jsRoutes.controllers.ComponentViewController.accountWallet('@loginState.address'));
            componentResource('accountDelegations', jsRoutes.controllers.ComponentViewController.accountDelegations('@loginState.address'));
            componentResource('accountTransactions', jsRoutes.controllers.ComponentViewController.accountTransactions('@loginState.address'));
            componentResource('accountSplits', jsRoutes.controllers.ComponentViewController.accountSplits());
    </script>
        }
    }
    }

    @right = {
        <div class="rightContainer">
            <div id="recentActivities" class="recentActivityContainer cmuk-card-styles containerHeight"></div>
        </div>
        <script>
                componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
        </script>
    }