@import views.html.base.infos._
@import models.common.ProposalContents._

@(parameterChange: ParameterChange)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@parameterChange.changes.map { change =>
    <tr>
        <td>
            <div class="tableField">
                <div class="tableFieldTitle">@Messages(constants.View.SUBSPACE)</div>
                <div class="tableFieldValue">@change.subspace</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="tableField">
                <div class="tableFieldTitle">@Messages(constants.View.KEY)</div>
                <div class="tableFieldValue">@change.key</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="tableField">
                <div class="tableFieldTitle">@Messages(constants.View.VALUE)</div>
                <div class="tableFieldValue">@change.value</div>
            </div>
        </td>
    </tr>
}
