@import models.common.ProposalContents._

@(ibcClientUpdate: IBCClientUpdate)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<tr>
    <td>
        <div class="tableField">
            <div class="tableFieldTitle">@Messages(constants.View.TITLE)</div>
            <div class="tableFieldValue">@ibcClientUpdate.title</div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="tableField">
            <div class="tableFieldTitle">@Messages(constants.View.DESCRIPTION)</div>
            <div class="tableFieldValue">@ibcClientUpdate.description</div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="tableField">
            <div class="tableFieldTitle">@Messages(constants.View.SUBJECT_CLIENT_ID)</div>
            <div class="tableFieldValue">@ibcClientUpdate.subjectClientId</div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="tableField">
            <div class="tableFieldTitle">@Messages(constants.View.SUBSTITUTE_CLIENT_ID)</div>
            <div class="tableFieldValue">@ibcClientUpdate.substituteClientId</div>
        </div>
    </td>
</tr>
