@import views.html.base.buttons._
@import models.blockchain.Proposal

@(proposalList: Seq[Proposal])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="proposals">
    <div class="cmuk-card cmuk-card-default cmuk-animation-fade">
        <div class="cmuk-card-header">
            <p class="leftText">@Messages(constants.View.PROPOSALS)</p>
        </div>
        <div class="cmuk-card-body proposalList">
            <table class="cmuk-table cmuk-table-striped tableSort">
                <thead>
                    <tr>
                        <th>@Messages(constants.View.ID)</th>
                        <th>@Messages(constants.View.TITLE)</th>
                        <th>@Messages(constants.View.STATUS)</th>
                    </tr>
                </thead>
                <tbody>
                @proposalList.map { proposal =>
                    <tr>
                        <td>@commonJavascriptLink(proposal.id.toString, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.proposal(${proposal.id}))"))</td>
                        <td>@proposal.content.title</td>
                        <td>@Messages(proposal.status)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        checkAndPushState(jsRoutes.controllers.ViewController.proposals().url, "", "proposalList");
</script>