@import helper._
@import views.html.base.buttons._

@(formTemplate: constants.Form, formData: Form[_], target: String = "commonModalContent", runBeforeSubmit: JavaScript=JavaScript(""))(fieldset: Html)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@form(action = formTemplate.route, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <fieldset class="cmuk-fieldset cmuk-form-stacked">
        <legend class="cmuk-legend">
        @Messages(formTemplate.legend)
        </legend>
        <hr>
        <div class="formBody">
            @CSRF.formField
            @fieldset
            @if(formData.hasGlobalErrors) {
                <ul class="signUpErrorList">
                @for(error <- formData.globalErrors) {
                    <li class="error">@error.format</li>
                }
                </ul>
            }
            @commonJavascriptButton(formTemplate.submit, JavaScript(s"$runBeforeSubmit;" + s"submitForm(this, '${target}')"), 'id -> formTemplate.submit.replace("../../../../public", "_"))
        </div>
    </fieldset>
}
