@import views.companion.blockchain.AssetMutate
@import views.html.base._

@(assetMutateForm: Form[AssetMutate.Data] = AssetMutate.form, assetID: String, numMutableMetaForms: Int = 0, numMutableForms: Int = 0)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.ASSET_MUTATE, assetMutateForm) {
    @commonInputText(assetMutateForm, constants.FormField.FROM_ID)
    @commonInputText(assetMutateForm, constants.FormField.ASSET_ID, 'value -> assetID)
    @commonInputText(assetMutateForm, constants.FormField.LABEL)
    @commonInputMicroNumber(assetMutateForm, constants.FormField.GAS)
    @commonInputText(assetMutateForm, constants.FormField.PASSWORD)
    @views.html.component.blockchain.txForms.addProperties(assetMutateForm, constants.FormField.MUTABLE_META_PROPERTIES, constants.FormField.ADD_MUTABLE_META_FIELD, numMutableMetaForms)
    @views.html.component.blockchain.txForms.addProperties(assetMutateForm, constants.FormField.MUTABLE_PROPERTIES, constants.FormField.ADD_MUTABLE_FIELD, numMutableForms)
}