@import views.companion.blockchain.IdentityIssue
@import views.html.base._

@(identityIssueForm: Form[IdentityIssue.Data] = IdentityIssue.form, classificationID: String, numImmutableMetaForms: Int = 0, numImmutableForms: Int = 0, numMutableMetaForms: Int = 0, numMutableForms: Int = 0)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.IDENTITY_ISSUE, identityIssueForm) {
    @commonInputText(identityIssueForm, constants.FormField.FROM_ID)
    @commonInputText(identityIssueForm, constants.FormField.CLASSIFICATION_ID, 'value -> classificationID, 'readonly -> true)
    @commonInputText(identityIssueForm, constants.FormField.TO)
    @commonInputMicroNumber(identityIssueForm, constants.FormField.GAS)
    @commonInputPassword(identityIssueForm, constants.FormField.PASSWORD, 'required -> false)
    @views.html.component.blockchain.txForms.addProperties(identityIssueForm, constants.FormField.IMMUTABLE_META_PROPERTIES, constants.FormField.ADD_IMMUTABLE_META_FIELD, numImmutableMetaForms, addOrDeleteNewFields = numImmutableMetaForms == 0)
    @views.html.component.blockchain.txForms.addProperties(identityIssueForm, constants.FormField.IMMUTABLE_PROPERTIES, constants.FormField.ADD_IMMUTABLE_FIELD, numImmutableForms, addOrDeleteNewFields = numImmutableForms == 0)
    @views.html.component.blockchain.txForms.addProperties(identityIssueForm, constants.FormField.MUTABLE_META_PROPERTIES, constants.FormField.ADD_MUTABLE_META_FIELD, numMutableMetaForms, addOrDeleteNewFields = numMutableMetaForms == 0)
    @views.html.component.blockchain.txForms.addProperties(identityIssueForm, constants.FormField.MUTABLE_PROPERTIES, constants.FormField.ADD_MUTABLE_FIELD, numMutableForms, addOrDeleteNewFields = numMutableForms == 0)
}