@import views.companion.blockchain.IdentityUnprovision
@import views.html.base._

@(identityUnprovisionForm: Form[IdentityUnprovision.Data] = IdentityUnprovision.form, identityID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.IDENTITY_UNPROVISION, identityUnprovisionForm) {
    @commonInputText(identityUnprovisionForm, constants.FormField.IDENTITY_ID, 'value -> identityID)
    @commonInputText(identityUnprovisionForm, constants.FormField.TO)
    @commonInputMicroNumber(identityUnprovisionForm, constants.FormField.GAS)
    @commonInputText(identityUnprovisionForm, constants.FormField.PASSWORD)
}