@import views.companion.blockchain.MetaReveal
@import views.html.base._

@(metaRevealForm: Form[MetaReveal.Data] = MetaReveal.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.META_REVEAL, metaRevealForm) {
    @Messages(constants.FormField.REVEAL_FACT.name):
    @defining(Option(constants.FormField.REVEAL_FACT)) { implicit nestedFormField =>
        @commonSelect(metaRevealForm, constants.FormField.DATA_TYPE)
        @commonInputText(metaRevealForm, constants.FormField.DATA_VALUE)
    }
    @commonInputMicroNumber(metaRevealForm, constants.FormField.GAS)
    @commonInputPassword(metaRevealForm, constants.FormField.PASSWORD)
}