@import views.companion.blockchain.OrderTake
@import views.html.base._

@(orderTakeForm: Form[OrderTake.Data] = OrderTake.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.ORDER_TAKE, orderTakeForm) {
    @commonInputText(orderTakeForm, constants.FormField.FROM)
    @commonInputText(orderTakeForm, constants.FormField.FROM_ID)
    @commonInputText(orderTakeForm, constants.FormField.ORDER_ID)
    @commonInputBigDecimal(orderTakeForm, constants.FormField.TAKER_OWNABLE_SPLIT)
    @commonInputMicroNumber(orderTakeForm, constants.FormField.GAS)
}