@import views.companion.blockchain.OrderMake
@import views.html.base._

@(orderMakeForm: Form[OrderMake.Data] = OrderMake.form, classificationID: String, numImmutableMetaForms: Int = 0, numImmutableForms: Int = 0, numMutableMetaForms: Int = 0, numMutableForms: Int = 0)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.ORDER_MAKE, orderMakeForm) {
    @commonInputText(orderMakeForm, constants.FormField.FROM_ID)
    @commonInputText(orderMakeForm, constants.FormField.CLASSIFICATION_ID, 'value -> classificationID)
    @commonInputText(orderMakeForm, constants.FormField.MAKER_OWNABLE_ID)
    @commonInputText(orderMakeForm, constants.FormField.TAKER_OWNABLE_ID)
    @commonInputInt(orderMakeForm, constants.FormField.EXPIRES_IN)
    @commonInputBigDecimal(orderMakeForm, constants.FormField.MAKER_OWNABLE_SPLIT)
    @commonInputMicroNumber(orderMakeForm, constants.FormField.GAS)
    @views.html.component.blockchain.txForms.addProperties(orderMakeForm, constants.FormField.IMMUTABLE_META_PROPERTIES, constants.FormField.ADD_IMMUTABLE_META_FIELD, numImmutableMetaForms, addFields = true, deleteFields = true)
    @views.html.component.blockchain.txForms.addProperties(orderMakeForm, constants.FormField.IMMUTABLE_PROPERTIES, constants.FormField.ADD_IMMUTABLE_FIELD, numImmutableForms, addFields = true, deleteFields = true)
    @views.html.component.blockchain.txForms.addProperties(orderMakeForm, constants.FormField.MUTABLE_META_PROPERTIES, constants.FormField.ADD_MUTABLE_META_FIELD, numMutableMetaForms, addFields = true, deleteFields = true)
    @views.html.component.blockchain.txForms.addProperties(orderMakeForm, constants.FormField.MUTABLE_PROPERTIES, constants.FormField.ADD_MUTABLE_FIELD, numMutableForms, addFields = true, deleteFields = true)
    @commonInputPassword(orderMakeForm, constants.FormField.PASSWORD, 'required -> false)
}