@import views.companion.blockchain.SplitWrap
@import views.html.base._

@(splitWrapForm: Form[SplitWrap.Data] = SplitWrap.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.SPLIT_WRAP, splitWrapForm) {
    @commonInputText(splitWrapForm, constants.FormField.FROM_ID)
    @views.html.component.blockchain.txForms.addCoins(splitWrapForm, constants.FormField.COINS, constants.FormField.ADD_FIELD)
    @commonInputMicroNumber(splitWrapForm, constants.FormField.GAS)
    @commonInputText(splitWrapForm, constants.FormField.PASSWORD)
}