@import views.companion.blockchain.SplitSend
@import views.html.base._

@(splitSendForm: Form[SplitSend.Data] = SplitSend.form, ownableID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.SPLIT_SEND, splitSendForm) {
    @commonInputText(splitSendForm, constants.FormField.FROM_ID)
    @commonInputText(splitSendForm, constants.FormField.TO_ID)
    @commonInputText(splitSendForm, constants.FormField.OWNABLE_ID, 'value -> ownableID)
    @commonInputBigDecimal(splitSendForm, constants.FormField.SPLIT)
    @commonInputMicroNumber(splitSendForm, constants.FormField.GAS)
    @commonInputPassword(splitSendForm, constants.FormField.PASSWORD)
}