@import controllers.actions.LoginState
@import models.master.AccountKYC
@import views.html.base._

@(accountKYC: Option[AccountKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@accountKYC match {
    case Some(file) => {
        @commonDocumentViewer(file) {
            @routes.FileController.getAccountKYCFile(file.fileName, file.documentType)
        } {
            <a href="@routes.FileController.getAccountKYCFile(file.fileName, file.documentType)" target="_blank">@Messages(file.documentType)</a>
        } {
            @commonBooleanInfo(constants.View.STATUS, file.status)
        }
    }
    case None => {
        <div>
            @commonModalButton(constants.View.UPLOAD_IDENTIFICATION,routes.javascript.AccountController.userViewUploadOrUpdateIdentification)
        </div>
    }
}
