@import controllers.actions.LoginState
@import views.companion.master.SignIn
@import views.html.base.form._
@import views.html.base._
@import views.html.base.buttons._

@(signInForm: Form[SignIn.Data] = SignIn.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
<div class="signUpForm">
@commonForm(constants.Form.SIGN_IN, signInForm) {
    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailability">
                @commonInputText(signInForm, constants.FormField.USERNAME, 'id -> "signUpUsername")
                <div id="checkUsernameAvailableResult" class="result failureIcon">
                    @commonIcon("failRounded")
                </div>
                <div class="checkIcon" id="checkIcon">
                    @commonIcon("success")
                </div>
            </div>
        </div>
    </div>
    @commonInputText(signInForm, constants.FormField.PUBLIC_KEY_TYPE, 'id -> "signUpPublicKeyType", 'containerDivClass -> "hidden")
    @commonInputText(signInForm, constants.FormField.PUBLIC_KEY, 'id -> "signUpPublicKey", 'containerDivClass -> "hidden")
    @commonInputText(signInForm, constants.FormField.SIGNATURE, 'id -> "signUpSignature", 'containerDivClass -> "hidden")
    @commonInputText(signInForm, constants.FormField.PUSH_NOTIFICATION_TOKEN, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonJavascriptButton(constants.View.KEPLR, JavaScript("""keplrOnSignUp(this)"""))
}
</div>
<script src="@routes.Assets.versioned("javascripts/signUp.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/pushNotification.js")" type="text/javascript"></script>