@import controllers.actions.LoginState
@import views.companion.master.UpdateSocialProfile
@import views.html.base.form._

@(updateSocialProfileForm: Form[UpdateSocialProfile.Data] = UpdateSocialProfile.form, platform: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@commonForm(constants.Form.UPDATE_SOCIAL_PROFILE, updateSocialProfileForm) {
    @commonInputText(updateSocialProfileForm, constants.FormField.PLATFORM)
    @commonInputText(updateSocialProfileForm, constants.FormField.USERNAME)
    @commonInputText(updateSocialProfileForm, constants.FormField.URL)
}
