@import models.`abstract`.TransactionMessage
@import views.html.base._
@import views.html.component.blockchain.properties
@import models.common.TransactionMessages.AssetMutate

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[AssetMutate]) { assetMutate =>
    @commonTextInfo(constants.View.FROM, assetMutate.from)
    @commonHtmlInfo(constants.View.ASSET_ID, commonLink(assetMutate.assetID, routes.ViewController.asset(assetMutate.assetID)))
    @properties(assetMutate.properties.propertyList)
}