@import views.html.base._
@import models.`abstract`.TransactionMessage
@import models.common.TransactionMessages.AssetBurn

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[AssetBurn]) { assetBurn =>
    @commonTextInfo(constants.View.FROM, assetBurn.from)
    @commonHtmlInfo(constants.View.ASSET_ID, commonLink(assetBurn.assetID, routes.ViewController.asset(assetBurn.assetID)))
    @commonTextInfo(constants.View.FROM_ID, assetBurn.fromID)
}