@import models.`abstract`.TransactionMessage
@import models.common.TransactionMessages.ClassificationDefine
@import views.html.base._
@import views.html.component.blockchain.properties

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[ClassificationDefine]) { classificationDefine =>
    @commonTextInfo(constants.View.FROM, classificationDefine.from)
    @commonHtmlInfo(constants.View.FROM_ID, commonLink(classificationDefine.fromID, routes.ViewController.identity(classificationDefine.fromID)))
    @commonHtmlInfo(constants.View.MAINTAINERS_ID, commonLink(classificationDefine.maintainersID, routes.ViewController.identity(classificationDefine.maintainersID)))
    @properties(classificationDefine.traits.map(_.property))
}