@import models.Abstract.TransactionMessage
@import models.common.TransactionMessages.ClassificationDefine
@import views.html.base._
@import views.html.component.blockchain.properties

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[ClassificationDefine]) { classificationDefine =>
    @commonHtmlInfo(constants.View.FROM, commonLink(classificationDefine.from, routes.ViewController.account(classificationDefine.from)))
    @Messages(constants.View.IMMUTABLE_META_TRAITS):
    @views.html.component.blockchain.metaProperties(classificationDefine.immutableMetaTraits.metaPropertyList)
    @Messages(constants.View.IMMUTABLE_TRAITS):
    @views.html.component.blockchain.properties(classificationDefine.immutableTraits.propertyList)
    @Messages(constants.View.MUTABLE_META_TRAITS):
    @views.html.component.blockchain.metaProperties(classificationDefine.mutableMetaTraits.metaPropertyList)
    @Messages(constants.View.MUTABLE_TRAITS):
    @views.html.component.blockchain.properties(classificationDefine.mutableTraits.propertyList)
}