@import models.`abstract`.TransactionMessage
@import models.common.TransactionMessages.Delegate
@import views.html.base._

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[Delegate]) { delegate =>
    @commonHtmlInfo(constants.View.DELEGATOR_ADDRESS, commonLink(delegate.delegatorAddress, routes.ViewController.account(delegate.delegatorAddress)))
    @commonHtmlInfo(constants.View.VALIDATOR_ADDRESS, commonLink(delegate.validatorAddress, routes.ViewController.validator(delegate.validatorAddress)))
    @commonTextInfo(constants.View.AMOUNTS, s"${delegate.amount.amount} ${delegate.amount.denom}")
}