@import models.Abstract.TransactionMessage
@import models.common.TransactionMessages.EditValidator
@import views.html.base._

@import utilities.MicroNumber
@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[EditValidator]) { editValidator =>
    @commonHtmlInfo(constants.View.VALIDATOR_ADDRESS, commonLink(editValidator.validatorAddress, routes.ViewController.validator(editValidator.validatorAddress)))
    @if(editValidator.commissionRate.isDefined) {
        @commonTextInfo(constants.View.COMMISSION_RATE, (editValidator.commissionRate.get*100).toString)%)
    }
    @if(editValidator.description.isDefined) {
        @commonTextInfo(constants.View.VALIDATOR_MONIKER, editValidator.description.get.moniker)
        @commonTextInfo(constants.View.VALIDATOR_IDENTITY, editValidator.description.get.identity)
        @commonTextInfo(constants.View.VALIDATOR_WEBSITE, editValidator.description.get.website)
        @commonTextInfo(constants.View.VALIDATOR_SECURITY_CONTACT, editValidator.description.get.securityContact)
        @commonTextInfo(constants.View.VALIDATOR_DESCRIPTION_DETAILS, editValidator.description.get.details)
    }
    @if(editValidator.minSelfDelegation.isDefined) {
        @commonTextInfo(constants.View.MINIMUM_SELF_DELEGATION, editValidator.minSelfDelegation.get.toString)
    }
}