@import models.Abstract.TransactionMessage
@import models.common.TransactionMessages.EditValidator
@import views.html.base._

@import utilities.MicroNumber
@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[EditValidator]) { editValidator =>
    @commonHtmlInfo(constants.View.VALIDATOR_ADDRESS, commonLink(editValidator.validatorAddress, routes.ViewController.validator(editValidator.validatorAddress)))
    @commonTextInfo(constants.View.MINIMUM_SELF_DELEGATION, editValidator.commissionRate))
    @commonTextInfo(constants.View.VALIDATOR_MONIKER, editValidator.description.moniker)
    @commonTextInfo(constants.View.VALIDATOR_IDENTITY, editValidator.description.identity)
    @commonTextInfo(constants.View.VALIDATOR_WEBSITE, editValidator.description.website)
    @commonTextInfo(constants.View.VALIDATOR_SECURITY_CONTACT, editValidator.description.securityContact)
    @commonTextInfo(constants.View.VALIDATOR_DESCRIPTION_DETAILS, editValidator.description.details)
    @commonTextInfo(constants.View.MINIMUM_SELF_DELEGATION, utilities.NumericOperation.formatNumber(editValidator.minSelfDelegation.getOrElse(MicroNumber.zero)))
}