@import models.Abstract.TransactionMessage
@import models.common.TransactionMessages.IdentityIssue
@import views.html.base._
@import views.html.component.blockchain.properties

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[IdentityIssue]) { identityIssue =>
    @commonHtmlInfo(constants.View.FROM, commonLink(identityIssue.from, routes.ViewController.account(identityIssue.from)))
    @commonHtmlInfo(constants.View.TO, commonLink(identityIssue.to, routes.ViewController.account(identityIssue.to)))
    @commonHtmlInfo(constants.View.CLASSIFICATION_ID, commonLink(identityIssue.classificationID, routes.IndexController.search(identityIssue.classificationID)))
}