@import models.Abstract.TransactionMessage
@import models.common.TransactionMessages.MaintainerDeputize
@import views.html.base._

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[MaintainerDeputize]) { maintainerDeputize =>
    @commonHtmlInfo(constants.View.ID, commonLink(maintainerDeputize.id, routes.IndexController.search(maintainerDeputize.id)))
    @Messages(constants.View.MAINTAINED_TRAITS):
    @views.html.component.blockchain.properties(maintainerDeputize.maintainedTraits.propertyList)
    @commonBooleanInfo(constants.View.ADD_MAINTAINER, Option(maintainerDeputize.addMaintainer))
    @commonBooleanInfo(constants.View.REMOVE_MAINTAINER, Option(maintainerDeputize.removeMaintainer))
    @commonBooleanInfo(constants.View.MUTATE_MAINTAINER, Option(maintainerDeputize.mutateMaintainer))
}