@import models.Abstract.TransactionMessage
@import views.html.base._
@import models.common.TransactionMessages.OrderTake

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[OrderTake]) { orderTake =>
    @commonHtmlInfo(constants.View.FROM, commonLink(orderTake.from, routes.ViewController.account(orderTake.from)))
    @commonHtmlInfo(constants.View.FROM_ID, commonLink(orderTake.fromID, routes.IndexController.search(orderTake.fromID)))
    @commonHtmlInfo(constants.View.ORDER_ID, commonLink(orderTake.orderID, routes.IndexController.search(orderTake.orderID)))
    @commonTextInfo(constants.View.TAKER_OWNABLE_SPLIT, orderTake.takerOwnableSplit.toString)
}