@import models.Abstract.TransactionMessage
@import views.html.base._
@import models.common.TransactionMessages.OrderCancel

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[OrderCancel]) { orderCancel =>
    @commonHtmlInfo(constants.View.FROM, commonLink(orderCancel.from, routes.ViewController.account(orderCancel.from)))
    @commonHtmlInfo(constants.View.ORDER_ID, commonLink(orderCancel.orderID, routes.IndexController.search(orderCancel.orderID)))
}