@import models.Abstract.TransactionMessage
@import models.common.TransactionMessages.SetWithdrawAddress
@import views.html.base._

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[SetWithdrawAddress]) { setWithdrawAddress =>
    @commonHtmlInfo(constants.View.DELEGATOR_ADDRESS, commonLink(setWithdrawAddress.delegatorAddress, routes.ViewController.wallet(setWithdrawAddress.delegatorAddress)))
    @commonHtmlInfo(constants.View.WITHDRAW_ADDRESS, commonLink(setWithdrawAddress.withdrawAddress, routes.ViewController.wallet(setWithdrawAddress.withdrawAddress)))
}