@import models.Abstract.TransactionMessage
@import models.common.TransactionMessages.SplitWrap
@import views.html.base._

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[SplitWrap]) { splitWrap =>
    @commonHtmlInfo(constants.View.FROM, commonLink(splitWrap.from, routes.ViewController.account(splitWrap.from)))
    @commonHtmlInfo(constants.View.FROM_ID, commonLink(splitWrap.fromID, routes.IndexController.search(splitWrap.fromID)))
    @commonTextInfo(constants.View.COIN, splitWrap.coins.map(coin => s"${coin.amount} ${coin.denom}").mkString(", "))
}