@import models.`abstract`.TransactionMessage
@import views.html.base._
@import models.common.TransactionMessages.SplitSend

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[SplitSend]) { splitSend =>
    @commonTextInfo(constants.View.FROM, splitSend.from)
    @commonHtmlInfo(constants.View.FROM_ID, commonLink(splitSend.fromID, routes.ViewController.identity(splitSend.fromID)))
    @commonHtmlInfo(constants.View.TO_ID, commonLink(splitSend.toID, routes.ViewController.identity(splitSend.toID)))
    @commonHtmlInfo(constants.View.OWNABLE_ID, commonLink(splitSend.ownableID, routes.ViewController.split(splitSend.ownableID)))
    @commonTextInfo(constants.View.SPLIT, splitSend.split.toString)
}