@import com.google.protobuf.{Any => protoAny}
@import views.html.base.cards._
@import com.assetmantle.modules.assets.{transactions => assetsTransactions}
@import com.assetmantle.modules.identities.{transactions => identitiesTransactions}
@import com.assetmantle.modules.metas.{transactions => metasTransactions}
@import com.assetmantle.modules.orders.{transactions => ordersTransactions}

@(title: String, txHash: String, messages: Seq[protoAny])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

    @commonCard(title) {
    } {
        @messages.zipWithIndex.map { case (msg, index) =>
            @commonCard(constants.View.TxMessagesMap.getOrElse(msg.getTypeUrl, msg.getTypeUrl)) {
            } {
                <div class="tableViewCard">
                @msg.getTypeUrl match {
                    case schema.constants.Messages.CREATE_VESTING_ACCOUNT => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.createVestingAccount(com.cosmos.vesting.v1beta1.MsgCreateVestingAccount.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.GRANT_AUTHORIZATION => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.grantAuthorization(com.cosmos.authz.v1beta1.MsgGrant.parseFrom(msg.getValue), index)
                    }
                    case schema.constants.Messages.REVOKE_AUTHORIZATION => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.revokeAuthorization(com.cosmos.authz.v1beta1.MsgRevoke.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.EXECUTE_AUTHORIZATION => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.executeAuthorization(com.cosmos.authz.v1beta1.MsgExec.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.SEND_COIN => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.sendCoin(com.cosmos.bank.v1beta1.MsgSend.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.MULTI_SEND => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.multiSend(com.cosmos.bank.v1beta1.MsgMultiSend.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.VERIFY_INVARIANT => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.verifyInvariant(com.cosmos.crisis.v1beta1.MsgVerifyInvariant.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.SET_WITHDRAW_ADDRESS => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.setWithdrawAddress(com.cosmos.distribution.v1beta1.MsgSetWithdrawAddress.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.WITHDRAW_DELEGATOR_REWARD => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.withdrawDelegationReward(com.cosmos.distribution.v1beta1.MsgWithdrawDelegatorReward.parseFrom(msg.getValue), txHash, index)
                    }
                    case schema.constants.Messages.WITHDRAW_VALIDATOR_COMMISSION => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.withdrawValidatorCommission(com.cosmos.distribution.v1beta1.MsgWithdrawValidatorCommission.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.FUND_COMMUNITY_POOL => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.fundCommunityPool(com.cosmos.distribution.v1beta1.MsgFundCommunityPool.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.SUBMIT_EVIDENCE => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.submitEvidence(com.cosmos.evidence.v1beta1.MsgSubmitEvidence.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.FEE_GRANT_ALLOWANCE => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.feeGrantAllowance(com.cosmos.feegrant.v1beta1.MsgGrantAllowance.parseFrom(msg.getValue), index)
                    }
                    case schema.constants.Messages.FEE_REVOKE_ALLOWANCE => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.feeRevokeAllowance(com.cosmos.feegrant.v1beta1.MsgRevokeAllowance.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.DEPOSIT => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.deposit(com.cosmos.gov.v1beta1.MsgDeposit.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.SUBMIT_PROPOSAL => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.submitProposal(com.cosmos.gov.v1beta1.MsgSubmitProposal.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.VOTE => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.vote(com.cosmos.gov.v1beta1.MsgVote.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.UNJAIL => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.unjail(com.cosmos.slashing.v1beta1.MsgUnjail.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CREATE_VALIDATOR => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.createValidator(com.cosmos.staking.v1beta1.MsgCreateValidator.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.EDIT_VALIDATOR => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.editValidator(com.cosmos.staking.v1beta1.MsgEditValidator.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.DELEGATE => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.delegate(com.cosmos.staking.v1beta1.MsgDelegate.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.REDELEGATE => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.redelegate(com.cosmos.staking.v1beta1.MsgBeginRedelegate.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.UNDELEGATE => {
                        @views.html.component.blockchain.txMessages.cosmosMsg.undelegate(com.cosmos.staking.v1beta1.MsgUndelegate.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CREATE_CLIENT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.createClient(com.ibc.core.client.v1.MsgCreateClient.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.UPDATE_CLIENT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.updateClient(com.ibc.core.client.v1.MsgUpdateClient.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.UPGRADE_CLIENT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.upgradeClient(com.ibc.core.client.v1.MsgUpgradeClient.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.SUBMIT_MISBEHAVIOUR => {
                        @views.html.component.blockchain.txMessages.ibcMsg.submitMisbehaviour(com.ibc.core.client.v1.MsgSubmitMisbehaviour.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CONNECTION_OPEN_INIT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.connectionOpenInit(com.ibc.core.connection.v1.MsgConnectionOpenInit.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CONNECTION_OPEN_TRY => {
                        @views.html.component.blockchain.txMessages.ibcMsg.connectionOpenTry(com.ibc.core.connection.v1.MsgConnectionOpenTry.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CONNECTION_OPEN_ACK => {
                        @views.html.component.blockchain.txMessages.ibcMsg.connectionOpenAck(com.ibc.core.connection.v1.MsgConnectionOpenAck.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CONNECTION_OPEN_CONFIRM => {
                        @views.html.component.blockchain.txMessages.ibcMsg.connectionOpenConfirm(com.ibc.core.connection.v1.MsgConnectionOpenConfirm.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CHANNEL_OPEN_INIT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.channelOpenInit(com.ibc.core.channel.v1.MsgChannelOpenInit.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CHANNEL_OPEN_TRY => {
                        @views.html.component.blockchain.txMessages.ibcMsg.channelOpenTry(com.ibc.core.channel.v1.MsgChannelOpenTry.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CHANNEL_OPEN_ACK => {
                        @views.html.component.blockchain.txMessages.ibcMsg.channelOpenAck(com.ibc.core.channel.v1.MsgChannelOpenAck.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CHANNEL_OPEN_CONFIRM => {
                        @views.html.component.blockchain.txMessages.ibcMsg.channelOpenConfirm(com.ibc.core.channel.v1.MsgChannelOpenConfirm.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CHANNEL_CLOSE_INIT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.channelCloseInit(com.ibc.core.channel.v1.MsgChannelCloseInit.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.CHANNEL_CLOSE_CONFIRM => {
                        @views.html.component.blockchain.txMessages.ibcMsg.channelCloseConfirm(com.ibc.core.channel.v1.MsgChannelCloseConfirm.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.RECV_PACKET => {
                        @views.html.component.blockchain.txMessages.ibcMsg.recvPacket(com.ibc.core.channel.v1.MsgRecvPacket.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.TIMEOUT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.timeout(com.ibc.core.channel.v1.MsgTimeout.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.TIMEOUT_ON_CLOSE => {
                        @views.html.component.blockchain.txMessages.ibcMsg.timeoutOnClose(com.ibc.core.channel.v1.MsgTimeoutOnClose.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ACKNOWLEDGEMENT => {
                        @views.html.component.blockchain.txMessages.ibcMsg.acknowledgement(com.ibc.core.channel.v1.MsgAcknowledgement.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.TRANSFER => {
                        @views.html.component.blockchain.txMessages.ibcMsg.transfer(com.ibc.applications.transfer.v1.MsgTransfer.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_DEFINE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.define(assetsTransactions.define.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_MINT => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.mint(assetsTransactions.mint.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_MUTATE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.mutate(assetsTransactions.mutate.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_BURN => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.burn(assetsTransactions.burn.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_REVOKE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.revoke(assetsTransactions.revoke.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_DEPUTIZE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.deputize(assetsTransactions.deputize.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_RENUMERATE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.renumerate(assetsTransactions.renumerate.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_SEND => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.send(assetsTransactions.send.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_WRAP => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.wrap(assetsTransactions.wrap.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ASSET_UNWRAP => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.asset.unwrap(assetsTransactions.unwrap.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_DEFINE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.define(identitiesTransactions.define.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_ISSUE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.issue(identitiesTransactions.issue.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_PROVISION => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.provision(identitiesTransactions.provision.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_UNPROVISION => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.unprovision(identitiesTransactions.unprovision.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_NAME => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.name(identitiesTransactions.name.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_QUASH => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.quash(identitiesTransactions.quash.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_REVOKE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.revoke(identitiesTransactions.revoke.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_DEPUTIZE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.deputize(identitiesTransactions.deputize.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.IDENTITY_UPDATE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.identity.update(identitiesTransactions.update.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_DEFINE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.define(ordersTransactions.define.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_MAKE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.make(ordersTransactions.make.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_TAKE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.take(ordersTransactions.take.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_CANCEL => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.cancel(ordersTransactions.cancel.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_REVOKE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.revoke(ordersTransactions.revoke.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_MODIFY => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.modify(ordersTransactions.modify.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_DEPUTIZE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.deputize(ordersTransactions.deputize.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_IMMEDIATE => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.immediate(ordersTransactions.immediate.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_PUT => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.put(ordersTransactions.put.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.ORDER_GET => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.order.get(ordersTransactions.get.Message.parseFrom(msg.getValue))
                    }
                    case schema.constants.Messages.META_REVEAL => {
                        @views.html.component.blockchain.txMessages.assetMantleMsg.meta.reveal(metasTransactions.reveal.Message.parseFrom(msg.getValue))
                    }
                    case _ => {

                    }
                }
                </div>
            }
        }
    }
