@import models.`abstract`.TransactionMessage
@import models.common.TransactionMessages.WithdrawDelegatorReward
@import views.html.base._

@(msg: TransactionMessage)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@defining(msg.asInstanceOf[WithdrawDelegatorReward]) { withdrawDelegatorReward =>
    @commonHtmlInfo(constants.View.DELEGATOR_ADDRESS, commonLink(withdrawDelegatorReward.delegatorAddress, routes.ViewController.account(withdrawDelegatorReward.delegatorAddress)))
    @commonHtmlInfo(constants.View.VALIDATOR_ADDRESS, commonLink(withdrawDelegatorReward.validatorAddress, routes.ViewController.validator(withdrawDelegatorReward.validatorAddress)))
}