@import views.html.base._
@import models.blockchain.Transaction

@(transaction: Transaction)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.TRANSACTION_DETAILS) {
} {
    @commonTextInfo(constants.View.TRANSACTION_HASH, transaction.hash)
    @commonHtmlInfo(constants.View.HEIGHT, commonJavascriptLink(transaction.height.toString, JavaScript(s"componentResource('explorerContent', jsRoutes.controllers.ComponentViewController.block(${transaction.height}))")))
    @commonTextInfo(constants.View.TIME, utilities.Date.bcTimestampToString(transaction.timestamp))
    @commonTextInfo(constants.View.TRANSACTION_FEES, if(transaction.fee.amount.nonEmpty) transaction.fee.amount.map(amt => amt.getAmountWithNormalizedDenom()).mkString(", ") else "0")
    @commonIntInfo(constants.View.NUMBER_OF_MESSAGES, transaction.messages.length)
    @commonBooleanInfo(constants.View.STATUS, Option(transaction.status))
    @commonTextInfo(constants.View.MEMO, transaction.memo)
    @if(!transaction.status) {
        @commonIntInfo(constants.View.CODE, transaction.code)
        @commonTextInfo(constants.View.LOG, transaction.rawLog)
    }
}