@import controllers.actions.LoginState
@import views.html.base._
@(coins: String = "0", profilePicture: Array[Byte] = Array())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@commonCard(constants.View.DETAILS , 'cardIconPath -> "images/icons/icons.svg#icon-contactDetails") {
} {
    <div>
        <div>
            <div id="profilePhoto" class="cmuk-text-center"></div>
        </div>
        <div>
            @commonTextInfo(constants.User.USER_NAME, loginState.username)
            @commonTextInfo(constants.User.USER_TYPE, loginState.userType)
            @commonTextInfo(constants.Form.BLOCKCHAIN_ADDRESS, loginState.address, 'id -> "blockchainAddress")
            <button type="button" class="cmuk-button cmuk-button-link" onclick="getForm(jsRoutes.controllers.AccountController.changePasswordForm())">@Messages(constants.Form.CHANGE_PASSWORD.legend)
                <span class="editIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-edit")"/></svg></span></button>
        </div>
    </div>
}
<script>
        componentResource('profilePhoto', jsRoutes.controllers.ComponentViewController.profilePicture());
</script>