@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.ConfirmBuyerBidDetail

@(confirmBuyerBidDetailForm: Form[ConfirmBuyerBidDetail.Data] = ConfirmBuyerBidDetail.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.CONFIRM_BUYER_BID_DETAIL, confirmBuyerBidDetailForm) {
    @commonInputText(confirmBuyerBidDetailForm, constants.FormField.REQUEST_ID, 'containerDivClass -> "hidden", 'readonly -> true, 'required -> false)
    @commonInputText(confirmBuyerBidDetailForm, constants.FormField.SELLER_ADDRESS)
    @commonInputInt(confirmBuyerBidDetailForm, constants.FormField.BID)
    @commonInputText(confirmBuyerBidDetailForm, constants.FormField.PEG_HASH)
}