@import controllers.actions.LoginState
@import helper._
@import models.master.TraderKYC
@import views.companion.master.OrganizationAcceptOrRejectTraderKYCDocument
@import views.html.base._

@(organizationAcceptOrRejectTraderKYCDocumentForm: Form[OrganizationAcceptOrRejectTraderKYCDocument.Data] = views.companion.master.OrganizationAcceptOrRejectTraderKYCDocument.form, traderKYC: TraderKYC)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div id="@Seq(traderKYC.id, traderKYC.documentType).mkString("")">
@commonAcceptOrRejectForm(constants.Form.ORGANIZATION_ACCEPT_OR_REJECT_TRADER_KYC_DOCUMENT, organizationAcceptOrRejectTraderKYCDocumentForm, Seq(traderKYC.id, traderKYC.documentType).mkString(""), traderKYC.organizationStatus) {
    @commonInputText(organizationAcceptOrRejectTraderKYCDocumentForm, constants.FormField.TRADER_ID, 'value -> traderKYC.id, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputText(organizationAcceptOrRejectTraderKYCDocumentForm, constants.FormField.DOCUMENT_TYPE, 'value -> traderKYC.documentType, 'containerDivClass -> "hidden", 'readonly -> true)
}
</div>