@import controllers.actions.LoginState
@import models.master.TraderRelation
@import views.html.base._

@(sentPendingTraderRelations: Seq[TraderRelation], receivedPendingTraderRelations: Seq[TraderRelation])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
    @Messages(constants.View.PENDING_RECEIVED_TRADER_RELATION)
    @receivedPendingTraderRelations.map { receivedPendingTraderRelation =>
        @defining(Seq(receivedPendingTraderRelation.fromID, receivedPendingTraderRelation.toID, constants.View.PENDING_RECEIVED_TRADER_RELATION).mkString("")) { componentID =>
            @commonInfoBox(componentID) {
                <script>
                        componentResource('@componentID', jsRoutes.controllers.ComponentViewController.pendingReceivedTraderRelation('@receivedPendingTraderRelation.fromID'))
                </script>
            }
        }
    }
    <br>
    @Messages(constants.View.PENDING_SENT_TRADER_RELATION)
    @sentPendingTraderRelations.map { sentPendingTraderRelation =>
        @defining(Seq(sentPendingTraderRelation.fromID, sentPendingTraderRelation.toID, constants.View.PENDING_SENT_TRADER_RELATION).mkString("")) { componentID =>
            @commonInfoBox(componentID) {
                <script>
                        componentResource('@componentID', jsRoutes.controllers.ComponentViewController.pendingSentTraderRelation('@sentPendingTraderRelation.toID'))
                </script>
            }
        }
    }
</div>