@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@(incompleteNegotiationList: Seq[Negotiation], counterPartyTraders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@incompleteNegotiationList.map { incompleteNegotiation =>
    @commonInfoBox() {
        @defining(counterPartyTraders.find(_.id == incompleteNegotiation.buyerTraderID)) { counterPartyTrader: Option[Trader] =>
            @counterPartyTrader match {
                case Some(trader) => {
                    @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                }
                case None => {
                    @commonTextInfo(constants.View.TRADER_ID, incompleteNegotiation.buyerTraderID)
                }
            }
        }
        @commonVerticalTextInfo(constants.View.ASSET_DESCRIPTION, incompleteNegotiation.assetDescription)
        @commonIntInfo(constants.View.PRICE, incompleteNegotiation.price)
        @commonTextInfo(constants.View.QUANTITY, Seq(incompleteNegotiation.quantity.toString(), incompleteNegotiation.quantityUnit).mkString(" "))
        @commonTextInfo(constants.View.STATUS, incompleteNegotiation.status)
        @commonFormButton(constants.Form.NEGOTIATION_PAYMENT_TERMS, 'parameters -> s"'${incompleteNegotiation.id}'")
    }
}
