@import controllers.actions.LoginState
@import models.master.Asset
@import views.html.base._

@(assetRequests: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
        @if(assetRequests.isEmpty) {
            <span>@Messages(constants.View.NO_REQUESTS_FOUND)</span>
        } else {
            @for(assetRequest <- assetRequests) {
                <div>
                @commonCard(assetRequest.id) {
                } {
                    @commonTextInfo(constants.View.ASSET_ID, assetRequest.id)
                    @commonTextInfo(constants.Form.ASSET_TYPE, assetRequest.assetType)
                    @commonTextInfo(constants.Form.ASSET_QUANTITY, Seq(assetRequest.quantity, assetRequest.quantityUnit).mkString(" "))
                    @commonIntInfo(constants.Form.ASSET_PRICE, assetRequest.price)
                    @commonBooleanInfo(constants.Form.MODERATED, Option(assetRequest.moderated))
                    @commonTextInfo(constants.View.STATUS, assetRequest.status)
                    <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="getForm(jsRoutes.controllers.IssueAssetController.issueAssetForm('@assetRequest.id'))">@Messages(constants.Form.APPROVE)</button>
                    <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="getForm(jsRoutes.controllers.IssueAssetController.rejectassetRequestForm('@assetRequest.id'))">@Messages(constants.Form.REJECT)</button>
                    <div id = "assetDocuments@assetRequest.id">
                        <script>componentResource('assetDocuments@assetRequest.id', jsRoutes.controllers.IssueAssetController.viewAssetDocuments('@assetRequest.id'))</script>
                    </div>
                }
                </div>
            }
        }
    </div>
</div>
