//Variable
$colorPrimary:#0862BE;
$colorSecondary:#053C75;
$fontFamilyPrimary:'Rubik', sans-serif;
$fontFamilySecondary:'Oxygen', sans-serif;
$buttonBorderRadius: 3px;
$headingFontSizeLarge:36px;
$headingFontSizeMedium:26px;
$headingFontSizeSmall:18px;
$paragraphFontSizeLarge:16px;
$paragraphFontSizeMedium:14px;
$paragraphFontSizeSmall:12px;

%buttonPrimary{
  background-color: $colorPrimary;
  font-family: $fontFamilyPrimary;
  border-radius: $buttonBorderRadius;
  color: #FFFFFF;
  font-weight: normal;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 30px;
  text-align: center;

  .modalContent {
    word-break: break-all;
    top: 20%;
    border-radius: 0.25rem;
    padding: 20px;
    margin: auto;
    background-color: #fefefe;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    width: auto;
    overflow-y: auto;
    max-height: 600px;
    display: inline-block;

    .modalBody {
      padding: 20px;
      text-align:left ;
    }
  }
}

.centerScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.leftSide {
  width: 20%;
  margin-right: 10px;
}

.middle {
  width: 60%;
}

.rightSide {
  width: 20%;
  margin-left: 10px;
}

.mainSection {
  display: flex;
  flex-direction: column;
}

.bodyContainer{
  height:auto;
  min-height: 100%;
  background: #F4F7FB;
  margin: 0 auto -172px;
}

.pageContainer{
  padding-bottom: 171px;
}
.pageContainer,
.dataContainer,
.pageContent,
.middle{
  height: 100%;
}

.header {
  .cmuk-navbar-container:not(.cmuk-navbar-transparent) {
    background: #02162C;
  }

  .cmuk-navbar-container {
    padding: 0px 48px;
  }

  .cmuk-navbar-item,
  .cmuk-navbar-nav > li > a,
  .cmuk-navbar-toggle {
    min-height: 64px;
  }

  .cmuk-navbar-nav > li > a {
    font-family: $fontFamilyPrimary;
    font-size: $paragraphFontSizeMedium;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #EEF5FD;
    text-transform: capitalize;

    button {
      font-size: $paragraphFontSizeMedium;
      text-transform: capitalize;
      background: $colorPrimary;
    }

    .navigationBarLogo {
      max-height: 30px;
      max-width: 130px;
    }
  }
}
// Media Queries
@media (max-width: 500px) {
  .leftSide {
    width: 0%;
    margin-right: 1vw;
  }
  .middle {
    width: 100%;
  }
  .rightSide {
    width: 0%;
    margin-left: 1vw;
  }
  .pageContent {
    display: flex;
    margin: 20px;
  }
}

@media (min-width: 500px) {
  .kycDocumentsView{
    display: flex;
  }
}
@media (min-width: 960px) {
  .bannerText h2 {
    font-size: 48px;
  }
  .bannerButtons button {
    width: 198px;
    height: 48px;
  }
  .verticalDataTabsData {
    display: flex;
  }
}

.bannerContainer {
  background: #031221;
  height: 363px;
  .bannerText {
    width: 600px;
    padding: 50px 0px;
    h2 {
      font-family: $fontFamilySecondary;
      line-height: 130%;
      margin: 0px;
      font-weight: normal;
      color: #FFFFFF;
    }
    p {
      font-family: $fontFamilySecondary;
      font-size: $paragraphFontSizeMedium;
      line-height: 172%;
      letter-spacing: 0.01em;
      color: #627F9F;
    }
  }
  .bannerImage {
    margin-left: auto;
    img {
      margin-top: -13px;
    }
  }
}

.cmuk-button-primary{
  background-color: $colorPrimary !important;
}

.cmuk-legend{
  font-weight: bold;
  font-family: $fontFamilySecondary;
  font-size: $headingFontSizeSmall !important;
}

.bannerButtons {
  button {
    @extend %buttonPrimary;
    font-size: $headingFontSizeSmall;
    margin-right: 20px;
  }

  .cmuk-button-default,
  .cmuk-button-default:focus,
  .cmuk-button-default:hover{
    border-color: $colorPrimary;
    color:#FFFFFF;
    background-color: transparent;
  }
}

.cmuk-slider {
  background: rgba(8, 98, 190, 0.06);
  .cmuk-slider-items {
    height: 37.63px;
    align-items: center;
    li span {
      font-size: $paragraphFontSizeSmall;
      line-height: 172%;
      letter-spacing: 0.01em;
    }
    li .sliderItemName {
      font-weight: bold;
      color: #6C7883;
    }
    li .sliderItemValue {
      font-weight: bold;
      color: #262525;
    }
    li .sliderItemPercentage {
      color: #5EB55C;
    }
  }
}

.headingSection p {
  font-family: $fontFamilySecondary;
  font-size:$headingFontSizeMedium;
  line-height: 212%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #59616A;
}

.tabsSection {
  background: #EBF2F9;
  h2 {
    font-family:$fontFamilySecondary;
    padding-bottom: 50px;
    font-weight: bold;
    font-size:$headingFontSizeLarge;
    line-height: 153%;
    letter-spacing: 0.01em;
    color: #262525;
  }
}

.verticalDataTabs {
  width: 214px;
  ul li {
    background: #FAFBFD;
    margin-bottom: 2px;
  }
  .cmuk-nav-default>li.cmuk-active>a {
    background: $colorPrimary;
    color: #FFFFFF;
  }
  ul li a span {
    float: right;
    margin-top: 8px;
  }
}

.verticalDataTabs ul li a,
.verticalDataTabsData p {
  font-family: $fontFamilySecondary;
  padding: 20px 20px;
  font-size: $headingFontSizeSmall;
  font-weight: normal;
  line-height: 182%;
  letter-spacing: 0.01em;
  color:$colorPrimary;
}

.verticalDataTabsData p{
  color: #365575;
  padding-top: 0px;
}

.contactSection{
  background-image:url('../../images/contactbg.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-color: $colorPrimary;
  background-size: contain;
  h3 {
    font-family: $fontFamilySecondary;
    font-weight: bold;
    font-size:$headingFontSizeLarge;
    line-height: 127.5%;
    letter-spacing: 0.01em;
    color: #FAFBFD;
  }
  input::placeholder{
    font-family: $fontFamilyPrimary;
    color:$colorSecondary;
  }
  .cmuk-button {
    background: $colorSecondary;
    border-radius: $buttonBorderRadius;
    text-transform: capitalize;
    height: 45px;
    font-size:$headingFontSizeSmall;
    line-height: 172%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
  .cmuk-form-width-medium {
    background: #CFE5FD;
    border: 1px solid rgba(5, 60, 117, 0.12);
    box-sizing: border-box;
    border-radius: $buttonBorderRadius;
    width: 330px;
    height: 45px;
  }
}

.toolTip {
  position: relative;
  display: inline-block;
  .toolTipText {
    visibility: hidden;
    width: 140px;
    background-color: $colorPrimary;
    color: #fff;
    text-align: center;
    border-radius: $buttonBorderRadius;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $colorPrimary transparent transparent transparent;
    }
  }
}

.toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}

.headerFontSize{
  font-size:$headingFontSizeSmall;
}

.profileAcl {
  display: flex;
  flex-wrap: wrap;
  p:first-child {
    margin-top: 20px;
  }
}

.commonCheckBox {
  display: flex;
  input {
    margin-left: 10px;
  }
  dl{
    display: flex;
  }
}

.logoutContainer {
  .commonCheckBox {
    justify-content: center;
  }
}

.notification {
  word-break: break-all;
  transition: all 1s ease-in-out;
  list-style: none;
  margin-bottom: 1px;
  .read{
    background-color: #fff2e8;
  }
  .notificationTime{
    font-size: 10px;
  }
}

.notification > div, .NotificationButton {
  padding: 15px 25px;
}

.NotificationButton{
  border-bottom: none;
}

.notificationDropdown{
  .cmuk-dropdown{
    height: 500px;
    padding: 0px;
    overflow: scroll;
  }
  .dropdownHeader p{
    justify-content: center;
    text-align: center;
    margin:0px;
    padding: 10px;
    border-bottom: 1px solid #e7eaf3;
  }
  .dropdownBody{
    padding:0px;
    height: 400px;
    overflow-y: scroll;
  }
}

.notificationDropdown .cmuk-navbar-dropdown,
.profileDropdown .cmuk-navbar-dropdown {
  padding:0px;
  border-radius:$buttonBorderRadius;
  top:60px;
  border:1px solid #e7eaf3;
}

.MnemonicQuiz .hidden,
.hidden{
  display: none;
}

.MnemonicQuiz {
  text-align: center;
  width: 500px;
  .titleMnemonic {
    font-weight: bold;
  }
  .errorMnemonicInput {
    display: none;
    color: red;
    padding: 10px;
  }
  .verifyMnemonic {
    flex-wrap: wrap;
    justify-content: center;
    .verifyMnemonicbutton {
      width: 114px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      position: relative;
      font-size: $paragraphFontSizeMedium;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      font-weight: 600;
      border-radius: $buttonBorderRadius;
      .index {
        position: absolute;
        top: 5px;
        left: 5px;
        color: rgb(132, 142, 156);
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

.flexContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flexItem {
  text-align: center;
  padding-top: 15px;
}

.flexBox {
  padding: 5px;
  margin: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flexGraph {
  width: 95%;
}

.flexGrowth {
  flex-grow: 1;
}

.box {
  background: lightblue;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  margin: 0px 5px 10px 0px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.firstBox {
  width: 30%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.secondBox {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.thirdBox {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.toggleElement {
  text-align: center;
  background-color:$colorPrimary;
  color:#FFFFFF;
}

.showToggleElement {
  background-color: $colorPrimary;
  cursor: pointer;
  color: #10292e;
}

.toggleElement:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.leftText {
  text-align: left;
  word-break: break-all;
}

rightText {
  text-align: right;
}

.centerText {
  text-align: center;
}

.scrollableFirst {
  min-height: min-content;
  max-height: 85vh;
  overflow-y: scroll;
}

.scrollableSecond {
  min-height: min-content;
  max-height: 50vh;
  overflow-y: scroll;
}

.scrollableThird {
  min-height: min-content;
  max-height: 20vh;
  overflow-y: scroll;
}

.progressContainer {
  width: 100%;
  border-radius: $buttonBorderRadius;
  background-color: #ddd;
  height: 13px;
}

.progressBar {
  width: 0;
  border-radius: $buttonBorderRadius;
  height: 13px;
  background-color: #5eaf50;
}

.profilePicture {
  height: 130px;
  width: 130px;
}
.profilePictureContainer{
  border-radius: 50%;
}
dl .info {
  background-color: #dadada;
  color: #838383;
  text-align: center;
  border-radius: 6px;
  position: relative;
  top: 5px;
  float: right;
  font-size: smaller;
  padding: 0;
  display: none;
}

dl .info {
  &:after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dadada transparent;
  }
}

.uploadBar {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  width: 30%;
  height: 50px;
  margin: auto;
}

.uploadBar img {
  height: 32px;
}

.uploadProgress {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 30%;
  margin-top: 20px;
  margin: auto;
}

.uploadProgressOuter {
  background-color: #20201F;
  border-radius: 20px;
  padding: 4px;
}

.uploadProgressOuter > div {
  text-align: center;
  background-color: #2196F3;
  height: 16px;
  border-radius: 10px;
}

.approve {
  background-color: #4CAF50;
}

.reject {
  background-color: #f44336;
}

.lightBlue {
  background-color: #a8b1ff !important;
}

.red {
  color: rgba(131, 0, 4, 0.71);
}

.hashCode {
  width: 100px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.2em;
}

.pageContent {
  display: flex;
  padding-top: 20px;
}

.searchForm {
  width: 95%;
  border: 1px solid #e7eaf3;
  background: #fff;
  padding: 20px;
  justify-content: center;
  display: flex;
  border-radius:$buttonBorderRadius;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

.searchForm input{
  cursor: auto !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchForm button{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.searchForm dl {
  width: 100%;
  margin: 0px;
}

.searchForm dl dt  label{
  display:none;
}

.searchFormButton{
  height: 40px;
  margin-top: 23px;
}

.sideBarOpenButton {
  position: fixed;
  left: 0px;
  z-index: 1;
  background: linear-gradient(60deg, #149f98, #102923);
  padding: 5px;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fff;
  background: linear-gradient(60deg, #149f98, #102923);
}

.sideBar{
  .sideBarOptions {
    margin-top: 20px;
    ul {
      padding: 0px !important;
    }
    ul input {
      padding: 10px;
      border: 1px solid #ddd;
    }
    ul li {
      list-style-type: none;
    }
    ul li a {
      padding: 8px 0px 0px 20px;
      color: #666;
      text-decoration: none;
      transition: 0.3s;
      display: inline-block;
      margin-bottom: 10px;
    }
    ul li a:hover {
      text-decoration: none;
      color: #31353D !important;
    }
  }
  .cmuk-close{
    color:#999 !important;
  }
  .cmuk-offcanvas-bar{
    overflow-x:hidden;
    background: #f4f4f4;
    width: 370px;
    left: -370px;
  }
}

.footer {
  //display: none;
  margin-top: 20px;
  width: 100%;
  padding: 30px 0px;
  background: #031221;
  .footer a {
    color: #149f98;
  }
}

.error {
  color: #f0506e;
}

.status {
  width: 20px;
  height: 20px;
}

.copyIcon{
  cursor: pointer;
}

.leftSide .leftSideMenuIcon{
  color:#fff;
}

.cmuk-tab{
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.cmuk-tab>.cmuk-active>a{
  background: $colorPrimary;
  color:#FFFFFF !important;
  font-weight: bold;
  font-size: $paragraphFontSizeLarge;
  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -15px;
    top: 38%;
    bottom: -19px;
    border: 8px solid;
    border-color: transparent transparent transparent $colorPrimary;
    animation-fill-mode: forwards;
  }
}

.cmuk-tab>li>a{
  padding: 15px;
}

.tableName{
  background:#d2edef;
}

.backButton{
  background: #fff;
  padding: 2px 10px;
  border-radius: 4px;
}

.cmuk-accordion>:nth-child(n+2){
  margin-top:0px !important;
}

.cmuk-accordion li{
  margin:0px 5px 5px 0px;
  background: #F9F9F9;
  flex-grow: 1;
  padding: 0px;
  color: #Fff;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.cmuk-accordion-title{
  padding: 15px;
  color:#373E46 !important;
}

.cmuk-accordion-content{
  margin-top: 0px !important;
  background: #fff;
  color: #272829;
  padding: 8px;
}

.cmuk-accordion-title:focus,
.cmuk-accordion-title:hover{
  color:#373E46 !important;
}

.cmuk-accordion-buttons{
  background: #fff;
  padding:10px;
}

.cmuk-spinner>*>*{
  stroke-width:2 !important;
  stroke:#102923 !important;
}

.userList .cmuk-navbar-dropdown {
  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 20px;
    top: -13%;
    bottom: -19px;
    border: 8px solid;
    border-color: transparent transparent #e7eaf3 transparent;
  }
  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 20px;
    top: -12%;
    bottom: -19px;
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
  }
}

.profileDropdown li{
  padding: 5px 20px;
}

.tablePadding tr td,
.tablePadding tr th{
  padding: 5px 12px;
}

.tablePadding tr th{
  font-weight:700;
}

.profileDocuments{
  display: flex;
  flex-wrap: wrap;
}

.document{
  width: 100px;
  height: 90px;
  border: 3px solid #1e87f0;
  text-align: center;
  padding: 5px;
  margin:5px;
}

.documentImage img{
  width:80px;
  height: 50px;
  padding: 10px 0px;
}

.registerButton button {
  font-size: 14px;
  line-height: 230%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border-radius: 2px;
  text-transform: capitalize;
}

.passphraseMessage{
  color : red;
}

.dataContainer .cmuk-alert{
  margin:0px;
}

.dashboardContainer {
  .left {
    background: $colorSecondary;
    width: 250px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 50px 30px 30px 30px;
    img {
      margin-bottom: 30px;
      margin-left: 10px;
    }
    .cmuk-nav-default {
      margin-left: -27px;
    }
    .cmuk-nav-default > li {
      padding: 10px;
      position: relative;
    }
    .cmuk-nav-default > li > a {
      font-family:$fontFamilySecondary;
      position: relative;
      font-style: normal;
      margin-left: 30px;
      font-weight: bold;
      font-size: $headingFontSizeSmall;
      line-height: 23px;
      color: #71757A;
    }
    .cmuk-nav-default > li.cmuk-active > a {
      color: #F0F0F0;
    }
    .cmuk-nav-default > li.cmuk-active{
      &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0px;
        right: auto;
        top: 15%;
        bottom: -19px;
        border: 20px solid;
        border-color: transparent transparent transparent #e7eaf3;
      }
      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 6px;
        right: auto;
        top: 15%;
        bottom: -19px;
        border: 20px solid;
        border-color: transparent transparent transparent $colorSecondary;
      }
    }
  }

  .right {
    padding: 50px 30px 30px 30px;
    width: calc(100% - 250px);
  }

  .accountTabSection,
  .accountTabDeclaration {
    width: 100%;
  }

  .accountTabSection {
    .cmuk-card {
      margin: 10px;
    }
    .cmuk-card .cmuk-card-header {
      justify-content: space-between;
    }
    .cmuk-card .cmuk-card-header h3 {
      margin: 0px;
    }
  }

  .accountOrganization {
    width: 40%;
  }
  .accountUbo {
    width: 60%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 37.76px;
  height: 21.13px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F0F0F0;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: #FF0E1F;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked+.slider {
  background-color: rgba(60, 215, 57, 0.37);
  &:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    background-color: #3CD739;
    transform: translateX(16px);
    left: 2px;
  }
}

.slider.round {
  border-radius: 47px;
  &:before {
    border-radius: 50%;
  }
}

.dashboardContainer{
  height: 100%;
}

.declaration .cmuk-card-body{
  height: 200px;
  overflow-y: scroll;
}

.declarationContent {
  margin: 5px;
  width: 50%;
  padding: 20px;
  align-items: center;
  border: 1px solid rgba(5, 60, 117, 0.12);
  .declarationButton {
    margin-left: auto;
    margin-right: 30px;
  }
  .declarationText {
    margin-right: 160px;
  }
  .yes,
  .no {
    margin-left: 10px;
  }
}

.signupErrorList{
  padding: 0px;
  list-style: none;
  li{
    text-align: left;
  }
}

.usernameAvailibilty {
  position: relative;
  .result {
    position: absolute;
    right: -25px;
    top:30px;
  }
}

.mainlist{
  padding:0px;
}

.listItem{
  display: inline-flex;
  background: #cccc;
  margin: 0;
  margin-bottom: 10px;
}

.listItemchild{
  margin: 10px;
}

.listItemchildhTitle{
  font-weight: bold;
  color: black;
}
.Editdropdown{
  display: none;
  position: absolute;
  z-index: 1020;
  box-sizing: border-box;
  width: 200px;
  padding: 25px;
  background: #fff;
  color: #666;
  box-shadow: 0 5px 12px rgba(0,0,0,.15);
}
.hiddenLabel label{
  display: none;
}

.errorInput{
  border: 1px solid red !important;
}

.documentItem{
  background: #EBF2F9;
  border-radius: $buttonBorderRadius;
  padding: 10px;
  margin: 10px;
  .documentContentTop{
  font-size: $paragraphFontSizeSmall;
    margin-bottom: 5px;
  }
  .documentThumbnail img{
    width: 100px;
    height: 80px;
  }
  .documentContentBottom{
    margin-top: 5px;
    font-size: $paragraphFontSizeSmall;
  }
}

.profileDocuments{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cmuk-table th, .cmuk-button{
  text-transform: capitalize !important;
}
.mobileNumberUpdate {
  .countryCode {
    margin-top: 24px;
    width: 80px;
    margin-right: 10px;
  }
  .mobileNumber{
    width:100%;
  }
  .mobileNumber label{
    margin-left: -75px;
   }
}

.commonHomeData{
  font-size: $paragraphFontSizeMedium;
  p, h3{
    margin:5px 0px;
  }
}

.inputField{
  display: flex;
  .inputFieldIcon{
    display: flex;
    align-items: center;
    height: 40px;
    background: #ebebeb;
    margin-top: 24px;
    padding: 0px 10px;
  }
  .inputFieldBody{
    width: 100%;
  }
  .inputFieldBody input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.connectionError{
  height: 100px;
  padding: 40px;
  border-radius: $buttonBorderRadius;
  background: #e6e6e6;
  width: 100px;
  color: red;
}

.cmuk-navbar-nav>li>a.active{
  background-color: #f4f7fb;
  color: #343C44;
}

.infoRow{
  line-height: 1.8;
  align-items:flex-start;
  word-break: break-all;
  font-size: 14px;
}

.infoRowLabel{
  width: 110px;
  height: min-content;
  word-break: break-word;
}
.infoRowValue{
  flex: 1 1;
  color: #767f8d;
  font-weight: 400;
  height: min-content;
  line-height: 1.6;
}

.cmuk-accordion-title::before{
  background-image:url('../../images/chevron-up.svg') !important;
}
.cmuk-open>.cmuk-accordion-title::before{
  background-image:url("../../images/chevron-down.svg") !important;
}
.commonCheckBox{
  dt{
    width: 200px;
    word-break: break-word;
  }
}
