@import "variables.scss";

@media (max-width: 640px) {
  .pageContent {
    margin: 20px;
  }
  .MnemonicQuiz{
    max-width: 500px;
  }
  .bannerContainer {
    background-size: contain;
    background-position: center bottom;
    .bannerText {
      width: 100%;
      h3 {
        font-size: 30px;
      }
    }
  }
  .mobile .cmuk-offcanvas-bar{
    padding: 30px;
  }
  .mobile .cmuk-button{
    background-color: $colorPrimary;
  }
  .switcherCard{
    .cmuk-subnav{
      flex-wrap: nowrap;
      justify-content: start;
      overflow: auto;
      overflow: -moz-scrollbars-none;
      li{
        flex: none;
      }
      &::-webkit-scrollbar {
        height: 0 !important
      }
    }
    .cmuk-subnav-pill>*>:first-child{
      padding: 5px 20px;
    }
  }
  .commonList{
    display: block;
    padding: 20px;
    .listItemChild {
      display: flex;
      padding: 5px 0px;
      .listItemChildTitle{
        width: 100px;
      }
      .listItemChildValue {
        margin: 0px;
        white-space: normal;
      }
    }
  }
  .modal{
    padding: 30px 15px;
    .modalContent{
      padding: 15px;
      min-height: 150px;
      max-height: calc(100% - 20px);
      top:auto;
      transform: translateY(0);
      margin: 0 auto;
      width: 600px;
      transition: .3s linear;
      transition-property: opacity,transform;
      form{
        text-align: center;
      }
    }
  }
  .MnemonicQuiz {
    text-align: center;
    .verifyMnemonic .verifyMnemonicbutton {
      width: 95px;
    }
  }
  .pageContainer .middle .mainTabs .tradeTerms .sellerTerm{
    flex-wrap: wrap;
  }
}

@media (min-width: 640px) {
  .modalBody{
    form{
      width: 500px;
      text-align: center;
    }
  }
  form{
    hr{
      margin-top: 10px;
    }
  }
  .MnemonicQuiz {
    text-align: center;
    max-width: 750px;
  }
  .kycDocumentsView{
    display: flex;
  }
  .cmuk-card-body {
    .cmuk-subnav {
      li a {
        text-transform: capitalize;
      }
    }
  }
}

@media (min-width: 960px) and (max-width: 1080px) {
  .header .cmuk-navbar-nav > li > a{
    padding: 0px 15px;
  }
  .header .cmuk-navbar-right .cmuk-navbar-nav > li > a{
    padding: 0px 15px;
  }
}

@media (min-width: 960px) {
  .verticalDataTabsData {
    display: flex;
  }
  .comdex{
    .mobileNavigation{
      display: flex;
      flex:auto;
    }
  }
}

@media (min-width:1200px) {
  .pageContainer {
    .leftSide {
      height: 100%;
      float: left;
      left: 0;
      margin-right: 0.5%;
      width: 24.5%;
      margin-bottom: 5px;
    }
    .middle {
      width: 50%;
      height: calc(100% - 128px);
      float: left;
    }
    .rightSide {
      height: 100%;
      width: 24.5%;
      float: left;
      margin-left: 0.5%;
      right: 0;
      margin-bottom: 5px;
    }
  }
}

@media (max-width:1200px ) {
  .pageContainer {
    .middle{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  .MnemonicQuiz .mnemonicNote{
    background-image: none;
    .mnemonicNoteText{
      width: 100%;
    }
  }
}

@media (min-width:992px) and (max-width:1600px){
  .modal .modalContent{
    top:10%;
    max-height: 530px;
  }
  .leftSideContainer{
    .financial{
      margin-bottom: 15px;
    }
    .financial {
      .cmuk-card-body{
        height:210px;
      }
        ul li {
          padding: 10px 0;
      }
    }
    .addBalanceButton{
      text-transform: capitalize;
      font-family: $fontFamilyPrimary;
      padding: 8px 8px;
      line-height:normal;
      background: rgba(8, 98, 190, 0.1);
      border-radius: 103px;
      color: #0862BE;
      border: 0;
    }
    .docView{
      .cmuk-card-header, .cmuk-card-body, .documentlist{
        padding:0px;
      }
      .cmuk-card-body{
        height: 300px;
      }
    }
    .zoneTradeFinancial{
      .cmuk-card-body {
        height: auto;
        .cmuk-switcher{
        height: 210px;
        }
      }
    }
  }
  .rightSideContainer{
    .recentActivityContainer{
      margin-bottom: 15px;
      .cmuk-card-body{
        height: 210px;
        .recentActivityMessages{
          height: 210px;
        }
      }
    }
    .chatRoom{
      .cmuk-card-body{
        height: 300px;
        .chatMessagesContainer {
          height: 190px;
        }
      }
    }
  }
  .switcherViewCard {
    .cmuk-subnav li a {
      padding: 11px;
    }
  }
  .comdex {
    .cmuk-height-medium{
      height: 210px;
    }
  }
  .switcherCard{
    .cmuk-switcher{
      height: 180px;
    }
  }
  .timeline {
    &:before{
      left: 20px;
    }
    .timeline-item .timeline-icon {
      left: 0px;
    }
  }
}

@media (max-width: 1599px){
  :root {
    font-size: 14px;
    --card-height: 265px;
  }
  .bodyContainer{
    margin: 0px auto -135px;
  }

  .profileContainer{
    .identificationDetails{
      .documentItem{
        padding: 10px;
        .documentContentTop{
          margin:0px 7px 0px 0px
        }
        .documentThumbnail{
          margin:0px 7px 0px 0px
        }
        .documentContentBottom{
          margin:0px;
          .infoRowLabel{
            width: auto;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .cmuk-card-body{
    .cmuk-subnav {
      li a {
        text-transform: capitalize;
      }
    }
  }
  .tabsSection{
    .cmuk-grid-divider{
      display: block;
    }
    .cmuk-grid-divider.cmuk-grid-stack>.cmuk-grid-margin{
      margin:10px 0px 0px 0px;
    }
    .cmuk-grid-divider>:not(.cmuk-first-column)::before,
    .cmuk-grid-divider.cmuk-grid-stack>.cmuk-grid-margin::before{
      border: none;
    }
  }
  .mobileNumberUpdate .countryCode{
    margin-top:28px;
  }
}

@media (min-width: 1600px) {
  :root {
    --card-height: 356.74px;
    font-size: 16px;
  }
  .showpassword, .checkIcon{
    top:37px;
  }
}

@media (max-width:1920px){
  .comdex .cmuk-container {
    max-width: 100%;
  }
}
@media (min-width:1921px){
  .comdex .cmuk-container{
    max-width:1920px;
  }
}

@media (max-width: 959px){
  .comdex {
    .mobileNavigationHeader{
      display: flex;
    }
    .mobileNavigation{
      display: none;
      li{
        a{
          justify-content: left;
          padding: 0px;
        }
      }
    }
    .header {
      .cmuk-logo {
        border: none;
      }
      .buttonRegister {
        background-color: #FE4350;
        font-family:$fontFamilyPrimary;
        color: #FFFFFF;
        line-height: inherit;
        padding: 5px 30px;
        border-radius: 3px;
      }
      .cmuk-navbar{
        display: block;
      }
      .cmuk-navbar-nav{
        display: block;
      }
      .cmuk-navbar-right {
        .cmuk-navbar-nav > li > a
        {
          border:none;
          padding: 0px;
        }
      }
    }
  }
}
