@import "variables.scss";

@media (max-width: 639px) {
  .pageContent {
    margin: 20px;
  }
  .mnemonicQuiz{
    max-width: 500px;
  }
  .banner {
    background-size: contain;
    background-position: center bottom;
    .bannerText {
      width: 100%;
      h3 {
        font-size: 30px;
      }
    }
  }

  .mobile .cmuk-offcanvas-bar{
    padding: 30px;
  }
  .mobile .cmuk-button{
    background-color: $colorPrimary;
  }
  .comdex .cmuk-card-header{
    padding: 15px 10px;
    .cmuk-button{
      right: 10px;
    }
  }
  .switcherCard{
    .cmuk-subnav{
      flex-wrap: nowrap;
      justify-content: start;
      overflow: auto;
      overflow: -moz-scrollbars-none;
      li{
        flex: none;
      }
      &::-webkit-scrollbar {
        height: 0 !important
      }
    }
    .cmuk-subnav-pill>*>:first-child{
      padding: 5px 20px;
    }
  }
  .salesQuoteCard {
    .salesQuoteCardLeft {
      .content {
        flex: initial;
        padding: 5px 10px 5px 25px;
      }
    }
    .salesQuoteCardMiddle{
      border:none;
      padding:0 25px;
    }
    .salesQuoteCardRight{
      display: block;
      padding:5px 15px;
    }
  }
  .commonList{
    display: block;
    padding: 10px;
    .listItemChild {
      display: flex;
      padding: 5px 0;
      flex-wrap: wrap;
      .listItemChildTitle{
        width: 100px;
      }
      .listItemChildValue {
        margin: 0;
        white-space: normal;
      }
    }
  }
  form .formBody{
    padding: 25px 35px 0 35px;
    &:after{
      padding-bottom: 25px;
    }
  }
  .modal{
    padding: 30px 15px;
    .modalContent {
      min-height: 150px;
      top: auto;
      transform: translateY(0);
      margin: 0 auto;
      width: 600px;
      transition: .3s linear;
      transition-property: opacity, transform;

      .modalBody {
        form {
        text-align: center;
        width: auto;
      }
        .infoRowLabel{
          width: 125px;
        }
      }
    }
  }
  .loginForm .formBody .forgotPassword{
    top:10px;
    margin: 0;
    padding: 0;
  }
  .logoutContainer form .formBody {
    padding: 25px 35px 0 25px;
    .buttonPrimary {
      width: 100px;
    }
    &:after{
      padding-bottom: 35px;
    }
  }
  .modalInfoBlock{
    width: auto;
    padding: 25px 35px 0 25px;
    &:after{
      padding-bottom: 35px;
    }
    .infoRow{
      flex-wrap: wrap;
    }
  }
  .mnemonicQuiz {
    text-align: center;
    .verifyMnemonic .verifyMnemonicButton {
      width: 95px;
    }
    form .formBody {
      .buttonPrimary {
        width: 100%;
      }
      .commonInputPassword {
        display: block;

        dd input {
          width: 100%;
        }
      }
    }
  }
  .pageContainer .middle .mainTabs .tradeTerms {
    .terms .termIndent{
      margin: 0;
    }
    .commodityTitleSection,.traderCommodity{
      display: block;
      button{
        margin-top: 10px;
      }
    }
    .sellerTerm {
      .termIcon{
        display: none;
      }
      flex-wrap: wrap;
      .cmuk-flex{
        display: block;
      }
      .infoRowValue{
        margin: 0;
      }
    }
  }
}

@media (min-width: 640px) {
  .modalBody{
    form{
      width:620px;
      text-align: center;
    }
  }
  form{
    hr{
      margin: 0px;
    }
  }
  .mnemonicQuiz {
    text-align: center;
    max-width: 750px;
  }
  .kycDocumentsView{
    display: flex;
  }
  .cmuk-card-body {
    .cmuk-subnav {
      li a {
        text-transform: capitalize;
      }
    }
  }
}

@media (min-width: 960px) and (max-width: 1080px) {
  .header .cmuk-navbar-nav > li > a{
    padding: 0px 15px;
  }
  .header .cmuk-navbar-right .cmuk-navbar-nav > li > a{
    padding: 0px 15px;
  }
}

@media (min-width: 960px) {
  .verticalDataTabsData {
    display: flex;
  }
  .comdex{
    .mobileNavigation{
      display: flex;
      flex:auto;
    }
  }
}

@media (min-width:1200px) {
  .pageContainer {
    .leftSide {
      height: 100%;
      float: left;
      left: 0;
      margin-right: 0.5%;
      width: 24.5%;
      margin-bottom: 5px;
    }
    .middle {
      width: 50%;
      height: calc(100% - 128px);
      float: left;
    }
    .rightSide {
      height: 100%;
      width: 24.5%;
      float: left;
      margin-left: 0.5%;
      right: 0;
      margin-bottom: 5px;
    }
  }
}

@media (max-width:1200px ) {
  .pageContainer {
    .middle{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 992px) {
  .mnemonicQuiz .mnemonicNote{
    background-image: none;
    .mnemonicNoteText{
      width: 100%;
    }
  }
  .modal .modalContent{
    .modalBody {
      .infoBlock {
       flex-direction: column;
        max-width: 500px;
        max-height: 410px;
        .infoBlockItem{
          flex: none;
          .infoBlockItemRight{
            padding: 0;
            border: none;

          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width:1400px) {
  .contactDetails .cmuk-card-body .cmuk-card .cmuk-card-body{
    padding: 5px 20px;
  }
  .contactDetails .contactInfoItem{
    flex-direction: column;
    .contactUpdateButton button{
      margin: 5px 0;
    }
  }
}
@media (min-width:640px) and (max-width:1599px){
  form .formBody {
    padding: 20px 50px 0 50px;
    &:after{
      display: block;
      content: '';
      padding-bottom:50px;
    }
  }
  .modal .modalContent{
    top:10%;
    max-height: 530px;
    .modalBody {
      form {
        width: 550px;
        .formBody {
          max-height: 409px;
        }
      }
      .modalInfoBlock{
        max-height: 409px;
      }
      .infoBlockHeight{
        max-height: 399px;
      }
      .infoBlock {
        width: 800px;
      }
      dl{
        margin-bottom: 10px;
      }
      .signUpForm, .mnemonicQuiz{
        form .formBody{
          padding: 20px 50px 0 50px;
          &:after{
            display: block;
            content: '';
            padding-bottom:50px;
          }
        }
      }
    }
  }
  .loginForm .formBody .forgotPassword{
    top:2px
  }
}

@media (max-width: 1599px){
  :root {
    font-size: 13px;
  }
  .checkboxSection {
    .warningIcon {
      top: 45px;
      left: 50px;
    }
  }
  .comdex{
    .cmuk-input, .cmuk-select:not([multiple]):not([size]){
      height: 40px;
    }
    .cmuk-button{
      padding: .7rem 1.5rem;
      line-height: 1.5;
      word-break: break-word;
    }
    .cmuk-button-small {
      padding: 0 15px;
      line-height: 28px;
      font-size: .875rem;
    }
    .walletButtons {
      margin: 8px 15px;
    }
  }
  .signUpForm .usernameAvailability .checkIcon,
  .signUpForm .usernameAvailability .failureIcon,
  .signUpForm .showPassword{
    top:45px
  }
  .profileContainer{
    .identificationDetails{
      .documentItem{
        padding: 10px;
        .documentContentTop{
          margin:0px 7px 0px 0px
        }
        .documentThumbnail{
          margin:0px 7px 0px 0px
        }
        .documentContentBottom{
          margin:0px;
          .infoRowLabel{
            width: auto;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .cmuk-card-body{
    .cmuk-subnav {
      li a {
        text-transform: capitalize;
      }
    }
  }
  .tabSection{
    .cmuk-grid-divider{
      display: block;
    }
    .cmuk-grid-divider.cmuk-grid-stack>.cmuk-grid-margin{
      margin:10px 0 0 0;
    }
    .cmuk-grid-divider>:not(.cmuk-first-column)::before,
    .cmuk-grid-divider.cmuk-grid-stack>.cmuk-grid-margin::before{
      border: none;
    }
  }
  .mobileNumberUpdate .countryCode{
    margin-top:38px;
  }
  .infoIcon {
    left: 175px;
    top: 109px;
  }
  .infoText {
    .infoIcon.organizationInfoIcon {
      left: 340px;
      top: 0;
    }
  }
  .iframeModal{
    height: 530px;
  }
  .header .cmuk-navbar-right .loginIcon{
    width: 20px;
    height: 20px;
  }
  .header .cmuk-logo img {
    width: 110px;
  }
  .commonList .listItemChild{
    padding: 10px 5px;
  }
  .timeline .timeline-item .timeline-icon {
   width: 34px;
    height: 34px;
    .icon {
      width: 14px;
      height: 14px;
    }
  }
  .header .logoutIcon .icon,
  .leftContainer .cmuk-card-header .icon,
  .rightContainer .cmuk-card-header .icon,
  .pageContainer .middle .cmuk-card-header .icon{
    width: 16px;
    height: 16px;
  }
  .leftContainer .financial {
    .financialCard ul li{
    .wallet .walletIcon, .receivable .receivableIcon, .payable .payableIcon{
      width: 32px;
      height: 32px;
      .leftContainer .icon {
        width: 18px;
        height: 18px;
      }
      .icon{
        width: 16px;
        height: 16px;
      }
    }
    }
    .financialCard.cardPaddingRemove {
      ul li {
        padding: 5px 0;
        margin: 0 20px;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    .cmuk-switcher ul li,
    .financialCard ul li{
      &:first-child {
        padding-top: 0;
      }
      padding: 10px 0;
    }
  }
  .profilePictureContainer .profilePicture {
    height: 70px;
    width: 70px;
  }
  .documentView .documentList .table-scroll tbody tr td:first-child{
    padding-left: 10px;
  }
  .rightContainer .chatRoom .cmuk-card-body .chatForm .sendIconButton{
    top:10px;
  }
  .signUpForm .usernameAvailability .result{
    top:80px;
  }
  .contactDetails .contactInfoItem .cmuk-card {
    .cmuk-button{
      line-height: 10px;
    }
    .cmuk-button-link{
      padding: 10px 0;
    }
  }
  .header .dashboardIcon, .header .traderIcon, .header .accountIcon, .header .transactionIcon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
  .header .icon {
    width: 16px;
    height: 16px;
    fill: #FFFFFF;
    margin-bottom: 3px;
  }
  .commodityImage {
    width: 34px;
    height: 34px;
    img{
      width: 20px;
    }
  }
  .comdex .leftContainer{
    .financial{
      margin-bottom: 15px;
      .cmuk-card{
        height: 302px;
        .cmuk-switcher{
          height: 250px;
          overflow: auto;
        }
        .financialCard .financialCardSection{
          padding: 15px 0;
        }
      }
      .financialCard .cmuk-card .financialCardSection{
        padding: 15px 0;
      }

    }
    .addBalanceButton{
      padding: 8px 8px;
    }
    .documentView{
      .cmuk-card-body, .documentList{
        padding:0;
      }
      .documentList{
        height: 190px;
      }
      .cmuk-card{
        height: 305px;
        .cmuk-card-body{
          height: 305px;
        }
      }
    }
    .zoneTradeFinancial{
      .cmuk-card-body {
        height: auto;
        .cmuk-switcher{
          height: 210px;
        }
      }
    }
  }
  .rightContainer{
    .recentActivityContainer{
      margin-bottom: 15px;
      .cmuk-card-body{
        height: 250px;
        .recentActivityMessages{
          height: 250px;
        }
      }
    }
    .chatRoom{
      .cmuk-card-body{
        height: 255px;
        .chatMessagesContainer {
          height: 180px;
        }
      }
    }
  }
  .switcherViewCard {
    .cmuk-subnav li a {
      padding: 11px;
    }
  }
  .comdex {
    .cmuk-height-medium{
      height: 250px;
    }
    .cmuk-card-header .cmuk-button
    {
      line-height: 26px;
    }
    .updateDocumentField button {
      position: absolute;
      top: 12px;
      left: 115px;
      font-weight: bold;
    }
  }
  .switcherCard{
    .cmuk-switcher{
      height: 190px;
    }
  }
  .timeline {
    &:before{
      left: 16px;
    }
    .timeline-item .timeline-icon {
      left: 0;
    }
  }
  .salesQuoteCard{
    .salesQuoteCardLeft{
      flex: 12%;
    }
    .salesQuoteCardMiddle{
      flex: 13%;
    }
    .salesQuoteCardRight{
      flex: 30%;
      .cmuk-button{
        line-height: 28px;
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1599.9px){
  .documentView .documentList .table-scroll tbody tr td:first-child a{
    width: 125px;
  }
}

@media (max-width: 1599.9px){
  .pageContainer .middle .mainTabs .tradeTerms .sellerTerm .infoRowValue{
    width: 150px;
  }
  .pageContainer .middle .mainTabs .tradeTerms .sellerTerm .infoRowLabel{
    width: 200px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px){
  .documentView .documentList {
    .table-scroll tbody tr td:first-child a{
      width: 125px;
    }
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 16px;
  }
  .checkboxSection {
    .commonCheckBox dt{
      width: auto;
      margin-right: 40px;
  }
  }
  .showPassword, .checkIcon{
    top:37px;
  }
  .modal .modalContent .modalBody {
    .modalInfoBlock, form .formBody{
      .documentItem{
        .infoRowLabel{
          width: auto;
        }
      }
    }
  }
  .mobileNumberUpdate .countryCode{
    width:118px;
  }
}

@media (max-width:1920px){
  .comdex .cmuk-container {
    max-width: 100%;
  }
}
@media (min-width:1921px){
  .comdex .cmuk-container{
    max-width:1920px;
  }
}

@media (max-width: 959px){

  body.lightMode .header .cmuk-logo,
  body.darkMode .header .cmuk-logo{
    border:none;
  }

  .comdex {
    .mobileNavigationHeader{
      display: flex;
    }
    .mobileNavigation{
      display: none;
      li{
        a{
          justify-content: left;
          padding: 0px;
        }
      }
    }

    .header {
      .cmuk-logo {
        border: none;
      }
      .buttonRegister {
        background-color: #FE4350;
        font-family:$fontFamilyPrimary;
        color: #FFFFFF;
        line-height: inherit;
        padding: 5px 30px;
        border-radius: 3px;
      }
      .cmuk-navbar{
        display: block;
      }
      .cmuk-navbar-nav{
        display: block;
      }
      .cmuk-navbar-left .cmuk-navbar-nav{
        margin: 0;
      }
      .cmuk-navbar-right {
        .cmuk-navbar-nav > li > a
        {
          border:none !important;
          padding: 0;
        }
      }
      .cmuk-navbar-item,
      .cmuk-navbar-nav > li > a,
      .cmuk-navbar-toggle {
        min-height: 55px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .leftSide, .rightSide {
    position: relative !important;
    top: 0 !important;
  }
}
