$fontFamilyPrimary:'Rubik', sans-serif;
$fontFamilySecondary:'Oxygen', sans-serif;
$colorPrimary:#0862BE;
$colorSecondary:#053C75;
$buttonBorderRadius: 3px;
$headingFontSizeLarge:26px;
$headingFontSizeMedium:22px;
$headingFontSizeSmall:18px;
$paragraphFontSizeLarge:16px;
$paragraphFontSizeMedium:14px;
$paragraphFontSizeSmall:12px;
