$fontFamilyPrimary:Rubik;
$fontFamilySecondary:Oxygen;
$colorPrimary:#000;
$colorSecondary:#000;
$buttonBorderRadius: 3px;
$headingFontSizeLarge:1.625rem;
$headingFontSizeMedium:1.375rem;
$headingFontSizeSmall:1.25rem;
$paragraphFontSizeLarge:1.125rem;
$paragraphFontSizeMedium:1rem;
$paragraphFontSizeSmall:0.875rem;