$fontFamilyPrimary:Rubik;
$fontFamilySecondary:Oxygen;
$colorPrimary:#0862BE;
$colorSecondary:#053C75;
$buttonBorderRadius: 3px;
$headingFontSizeLarge:1.625rem;
$headingFontSizeMedium:1.375rem;
$headingFontSizeSmall:1.25rem;
$paragraphFontSizeLarge:1.125rem;
$paragraphFontSizeMedium:1rem;
$paragraphFontSizeSmall:0.875rem;

:root{
  font-family: "Oxygen", sans-serif;
  box-sizing: border-box;
}

*,
::after,
::before{
  box-sizing: border-box;
}

@media (min-width: 1600px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1599px) {
  :root {
    font-size:14px;
  }
}