@(key: String, value: Long, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

<div class="cmuk-flex infoRow">
    <div class="infoRowLabel">
        @Messages(key)
    </div>
    @defining(arguments.toMap.get(Symbol("id")).map(_.toString).getOrElse(utilities.IDGenerator.hexadecimal)) { id =>
        <div id='@id' class='@arguments.toMap.get(Symbol("class")).map(_.toString).getOrElse("infoRowValue")'>
        @value
        </div>
        <script>fromNanoSecondToLocal('@value', '@id')</script>
    }
</div>