@import views.html.base.infos._
@import models.blockchainTransaction.AssetMint

@(assetMintTransactions: Seq[AssetMint])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div id="mintAsset">
    @assetMintTransactions.map { mintTransaction =>
        @commonVerticalInfoBox(){
            @commonVerticalTextInfo(constants.View.TX_HASH, mintTransaction.txHash.getOrElse(""))
            @commonVerticalTextInfo(constants.View.FROM_ID, mintTransaction.fromID)
            @commonVerticalBooleanInfo(constants.View.STATUS, mintTransaction.status)
        }
    }
</div>