@import views.html.component.blockchain.classification._
@import models.blockchain.Asset
@import views.html.base.cards._
@import views.html.base.infos._
@import models.common.ID.IdentityID

@(asset: Asset, owner: IdentityID)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.ASSET) {
    <span class="stringEllipse" title="@asset.id.asString">@asset.id.asString</span>
} {
    @commonClassificationIDInfo(asset.id.classificationID)
    @views.html.component.blockchain.properties(mutableProperties = asset.mutables.properties.propertyList, immutableProperties = asset.immutables.properties.propertyList)
}

<script>
        checkAndPushState(jsRoutes.controllers.ViewController.asset().url, '@asset.id.asString', "asset");
</script>