@import models.blockchain.Meta
@import views.html.base.cards._

@(metaList: Seq[Meta])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.META) {
} {
    <table class="cmuk-table cmuk-table-striped tableSort">
        <thead>
            <tr>
                <th>@Messages(constants.View.META_ID)</th>
                <th>@Messages(constants.View.DATA_TYPE)</th>
                <th>@Messages(constants.View.DATA_VALUE)</th>
            </tr>
        </thead>
        <tbody>
        @metaList.map { meta =>
            <tr>
                <td>@meta.id</td>
                <td>@Messages(constants.View.DataTypesMap.getOrElse(meta.id.typeID, meta.id.typeID))</td>
                <td>@meta.dataValue</td>
            </tr>
        }
        </tbody>
    </table>
}