@import views.html.base.cards._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.DISTRIBUTION_PARAMETERS) {
} {
    @commonTable(id = "distributionParameter", tableType = "cmuk-table-divider") {
    } {
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.BASE_PROPOSER_REWARD):</div>
                    <div class="tableFieldValue">00.00%</div>
                </div>
            </td>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.COMMUNITY_TAX):</div>
                    <div class="tableFieldValue">00.00%</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.BONUS_PROPOSER_REWARD):</div>
                    <div class="tableFieldValue">00.00%</div>
                </div>
            </td>
            <td>
                <div class="tableField">
                    <div class="tableFieldTitle">@Messages(constants.View.WITHDRAW_ADDR_ENABLED):</div>
                    <div class="tableFieldValue">--</div>
                </div>
            </td>
        </tr>
    }
}