@import schema.document.Document
@import schema.list.PropertyList
@import views.html.base.infos._
@import views.html.component.blockchain.txMessages.common._
@import views.html.base.cards.commonCard
@import views.html.base.cards._

@(id: String, document: Option[Document])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="cmuk-container cmuk-margin-bottom">
    <div class="cmuk-grid-match" cmuk-grid>
        <div class="cmuk-width-expand@@m">
            <div id="documentDetails" class="tableViewCard tableCard">
            @commonCard(constants.View.DOCUMENT) {
            } {
                @if(document.isDefined) {
                    @commonTable(id = "documentDetail", tableType = "cmuk-table-divider") {
                    } {
                        <tr>
                            <td>
                                <div class="tableField">
                                    <div class="tableFieldTitle">@Messages(constants.View.ID)</div>
                                    <div class="tableFieldValue">@id</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tableField">
                                    <div class="tableFieldTitle">@Messages(constants.View.CLASSIFICATION_ID)</div>
                                    <div class="tableFieldValue">@document.get.classificationID.asString</div>
                                </div>
                            </td>
                        </tr>
                    }
                    <span class="headerFontSize">@Messages(constants.View.IMMUTABLE_META_PROPERTIES):</span>
                    @metaProperties(PropertyList(document.get.immutables.getProperties.filter(_.isMeta)).asProtoPropertyList)
                    <span class="headerFontSize">@Messages(constants.View.IMMUTABLE_MESA_PROPERTIES):</span>
                    @mesaProperties(PropertyList(document.get.immutables.getProperties.filterNot(_.isMeta)).asProtoPropertyList)
                    <span class="headerFontSize">@Messages(constants.View.MUTABLE_META_PROPERTIES):</span>
                    @metaProperties(PropertyList(document.get.mutables.getProperties.filter(_.isMeta)).asProtoPropertyList)
                    <span class="headerFontSize">@Messages(constants.View.MUTABLE_MESA_PROPERTIES):</span>
                    @mesaProperties(PropertyList(document.get.mutables.getProperties.filterNot(_.isMeta)).asProtoPropertyList)
                } else {
                    @Messages(constants.View.DOCUMENT_NOT_FOUND)
                }
            }
            </div>
        </div>
    </div>
</div>

<script>
        checkAndPushState(jsRoutes.controllers.ViewController.document().url, '@id', "document");
</script>