@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AcceptNegotiationRequest
@import models.master.Negotiation

@(acceptNegotiationRequestForm: Form[AcceptNegotiationRequest.Data] = AcceptNegotiationRequest.form, negotiation: Negotiation, sellerAccountID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.ACCEPT_NEGOTIATION_REQUEST, acceptNegotiationRequestForm) {
    @commonTextInfo(constants.View.SELLER, sellerAccountID)
    @commonInputText(acceptNegotiationRequestForm, constants.FormField.ID, 'value -> negotiation.id, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputInt(acceptNegotiationRequestForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(acceptNegotiationRequestForm, constants.FormField.PASSWORD)
}
