@import controllers.actions.LoginState
@import views.html.base._
@import helper._
@import views.companion.master.AcceptOrRejectSalesQuote
@import models.masterTransaction.SalesQuote

@(acceptOrRejectSalesQuoteForm: Form[AcceptOrRejectSalesQuote.Data] = AcceptOrRejectSalesQuote.form, salesQuote: SalesQuote)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<script src="@routes.Assets.versioned("javascripts/verifyReject.js")" type="text/javascript"></script>
@commonForm(constants.Form.ACCEPT_OR_REJECT_SALES_QUOTE, acceptOrRejectSalesQuoteForm){
    @commonInputText(acceptOrRejectSalesQuoteForm, constants.FormField.SALES_QUOTE_ID, 'value -> salesQuote.id, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonCheckbox(acceptOrRejectSalesQuoteForm, constants.FormField.STATUS, 'containerDivClass -> "hidden", 'id -> Seq(salesQuote.id, constants.FormField.STATUS.name).mkString(""))
    @salesQuote.invitationStatus match {
        case Some(invitationStatus: Boolean) => {
            @if(invitationStatus) {
                @Messages(constants.View.ACCEPTED)
            } else {
                @Messages(constants.View.REJECTED)
            }
        }
        case None => {
            <br>
            <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="verifyReject(this, '@Seq("#", salesQuote.id).mkString("")', '@Seq(salesQuote.id, constants.FormField.STATUS.name).mkString("")', true)">@Messages(constants.Form.APPROVE)</button>
            <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="verifyReject(this, '@Seq("#", salesQuote.id).mkString("")', '@Seq(salesQuote.id, constants.FormField.STATUS.name).mkString("")', false)">@Messages(constants.Form.REJECT)</button>
        }
    }
}
<script>
    hideElement("@constants.Form.ACCEPT_OR_REJECT_SALES_QUOTE.legend.replace(".","_")");
    hideElement("@Seq(constants.Form.ACCEPT_OR_REJECT_SALES_QUOTE.legend, constants.Form.SUBMIT).mkString("").replace(".","_")");
</script>
