@import controllers.actions.LoginState
@import views.html.base._
@import helper._
@import views.companion.master.AcceptOrRejectNegotiationTerms

@(updateNegotiationTermAcceptanceForm: Form[AcceptOrRejectNegotiationTerms.Data] = AcceptOrRejectNegotiationTerms.form, negotiationID: String, termType: String, status: Boolean)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@form(action = constants.Form.ACCEPT_OR_REJECT_NEGOTIATION_TERMS.route) {
    @CSRF.formField
    @commonInputText(updateNegotiationTermAcceptanceForm, constants.FormField.ID, 'value -> negotiationID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputText(updateNegotiationTermAcceptanceForm, constants.FormField.TERM_TYPE, 'value -> termType, 'containerDivClass -> "hidden", 'readonly -> true)
    @if(status) {
        @commonCheckbox(updateNegotiationTermAcceptanceForm, constants.FormField.STATUS, 'onclick -> s"submitForm(this, '${Seq("#", negotiationID, termType).mkString("")}')", 'checked -> true)
    } else {
        @commonCheckbox(updateNegotiationTermAcceptanceForm, constants.FormField.STATUS, 'onclick -> s"submitForm(this, '${Seq("#", negotiationID, termType).mkString("")}')")
    }
    @if(updateNegotiationTermAcceptanceForm.hasGlobalErrors) {
        <ul>
        @for(error <- updateNegotiationTermAcceptanceForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
}