@import controllers.actions.LoginState
@import models.blockchain.Split
@import models.master.Asset
@import views.html.base.form._
@import views.html.base.cards._
@import views.html.base.infos._
@import views.html.base.buttons._

@(splits: Seq[Split], allDenoms: Seq[String], assets: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.ACCOUNT_SPLITS) {
} {
    @splits.map { split =>
        @commonVerticalInfoBox() {
            @defining(if (allDenoms.contains(split.ownableID)) constants.Blockchain.Entity.WRAPPED_COIN else constants.Blockchain.Entity.ASSET) {entityType =>
                @commonVerticalTextInfo(constants.View.ID, split.ownableID)
                @commonVerticalTextInfo(constants.View.ENTITY_TYPE, entityType)
                @commonVerticalTextInfo(constants.View.OWNER_ID, split.ownerID)
                @commonVerticalDoubleInfo(constants.View.AMOUNT, split.split.toDouble)
            }
        }
    }
}