@import views.companion.master.AddBillOfLading
@import views.html.base._

@(addBillOfLadingForm: Form[AddBillOfLading.Data] = AddBillOfLading.form, negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.ADD_BILL_OF_LADING, addBillOfLadingForm) {
    <div class="info-block">
        <div class="info-block-item">
        @commonInputText(addBillOfLadingForm, constants.FormField.NEGOTIATION_ID, 'value -> negotiationID, 'containerDivClass -> "hidden")
        @commonInputText(addBillOfLadingForm, constants.FormField.BILL_OF_LADING_NUMBER)
        @commonInputText(addBillOfLadingForm, constants.FormField.PORT_OF_LOADING)
        @commonInputText(addBillOfLadingForm, constants.FormField.SHIPPER_NAME)
        @commonInputText(addBillOfLadingForm, constants.FormField.SHIPPER_ADDRESS)
        @commonInputText(addBillOfLadingForm, constants.FormField.NOTIFY_PARTY_NAME)
        @commonInputText(addBillOfLadingForm, constants.FormField.NOTIFY_PARTY_ADDRESS)
        @commonInputDate(addBillOfLadingForm, constants.FormField.SHIPMENT_DATE)
        </div>
        <div class="info-block-item">
            <div class="info-block-right">
            @commonSelect(addBillOfLadingForm, constants.FormField.DELIVERY_TERM)
            @commonInputInt(addBillOfLadingForm, constants.FormField.ASSET_QUANTITY)
            @commonInputInt(addBillOfLadingForm, constants.FormField.ASSET_PRICE)
            </div>
        </div>
    </div>
}

