@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AddIdentification

@(identificationForm: Form[AddIdentification.Data] = AddIdentification.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ADD_IDENTIFICATION, identificationForm) {
        @commonInputText(identificationForm, constants.FormField.FIRST_NAME)
        @commonInputText(identificationForm, constants.FormField.LAST_NAME)
        @commonInputDate(identificationForm, constants.FormField.DATE_OF_BIRTH)
        @commonInputText(identificationForm, constants.FormField.ID_NUMBER)
        @commonInputText(identificationForm, constants.FormField.ID_TYPE)
        @defining(Option(constants.FormField.ADDRESS)) { implicit nestedFormField =>
        @commonInputText(identificationForm, constants.FormField.ADDRESS_LINE_1)
        @commonInputText(identificationForm, constants.FormField.ADDRESS_LINE_2)
        @commonInputText(identificationForm, constants.FormField.LANDMARK, 'required -> false)
        @commonInputText(identificationForm, constants.FormField.CITY)
        @commonInputText(identificationForm, constants.FormField.COUNTRY)
        @commonInputText(identificationForm, constants.FormField.ZIP_CODE)
        @commonInputText(identificationForm, constants.FormField.PHONE)
    }
}
