@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AddOrUpdateEmailAddress

@(addOrUpdateEmailAddress: Form[AddOrUpdateEmailAddress.Data] = AddOrUpdateEmailAddress.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.ADD_OR_UPDATE_EMAIL_ADDRESS, addOrUpdateEmailAddress) {
    <div class="modalInnerContainerFirst">
    @commonInputText(addOrUpdateEmailAddress, constants.FormField.EMAIL_ADDRESS)
    </div>
}
