@import controllers.actions.LoginState
@import views.companion.master.AddOrUpdateOrganizationBankAccount
@import views.html.base._

@(addOrUpdateOrganizationBankAccountForm: Form[AddOrUpdateOrganizationBankAccount.Data] = AddOrUpdateOrganizationBankAccount.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)
@commonForm(constants.Form.ADD_OR_UPDATE_ORGANIZATION_BANK_ACCOUNT, addOrUpdateOrganizationBankAccountForm) {
    @commonInputText(addOrUpdateOrganizationBankAccountForm, constants.FormField.ACCOUNT_HOLDER_NAME)
    @commonInputText(addOrUpdateOrganizationBankAccountForm, constants.FormField.NICK_NAME)
    @commonInputText(addOrUpdateOrganizationBankAccountForm, constants.FormField.ACCOUNT_NUMBER)
    @commonInputText(addOrUpdateOrganizationBankAccountForm, constants.FormField.BANK_NAME)
    @commonInputText(addOrUpdateOrganizationBankAccountForm, constants.FormField.SWIFT_CODE)
    @commonInputText(addOrUpdateOrganizationBankAccountForm, constants.FormField.STREET_ADDRESS)
    @commonSelect(addOrUpdateOrganizationBankAccountForm, constants.FormField.COUNTRY)
    @commonInputText(addOrUpdateOrganizationBankAccountForm, constants.FormField.ZIP_CODE)
}