@import helper._
@import views.companion.master.AddOrganization

@(addOrganizationForm: Form[AddOrganization.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.ADD_ORGANIZATION_TITLE)) {
    @form(action = routes.AddOrganizationController.addOrganization) {
        @CSRF.formField
        @inputText(addOrganizationForm(constants.Forms.NAME),'_label-> Messages(constants.Forms.NAME))
        @inputText(addOrganizationForm(constants.Forms.ADDRESS),'_label-> Messages(constants.Forms.ADDRESS))
        @inputText(addOrganizationForm(constants.Forms.PHONE),'_label-> Messages(constants.Forms.PHONE))
        @inputText(addOrganizationForm(constants.Forms.EMAIL),'_label-> Messages(constants.Forms.EMAIL))

        @if(addOrganizationForm.hasGlobalErrors) {
            <ul>
            @for(error <- addOrganizationForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.ADD_ORGANIZATION_TITLE)</button>
    }
}