@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AddOrUpdateContact

@(addOrUpdateContact: Form[AddOrUpdateContact.Data] = AddOrUpdateContact.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.ADD_OR_UPDATE_CONTACT, addOrUpdateContact) {
    <div class="mobileNumberUpdate cmuk-flex">
        <div class="countryCode hiddenLabel">
            @commonSelect(addOrUpdateContact, constants.FormField.COUNTRY_CODE)
        </div>
        <div class="mobileNumber">
        @commonInputText(addOrUpdateContact, constants.FormField.MOBILE_NUMBER)
        </div>
    </div>
    @commonInputText(addOrUpdateContact, constants.FormField.EMAIL_ADDRESS)
}
