@import views.companion.master.AddPrivatProperty
@import views.html.base._

@(addPrivatePropertyForm: Form[AddPrivatProperty.Data] = AddPrivatProperty.form, entityID: String, entityType: String, name: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.ADD_PRIVATE_PROPERTY, addPrivatePropertyForm) {
    @commonInputText(addPrivatePropertyForm, constants.FormField.ENTITY_ID, 'value -> entityID)
    @commonSelect(addPrivatePropertyForm, constants.FormField.ENTITY_TYPE , 'value -> entityType)
    @commonInputText(addPrivatePropertyForm, constants.FormField.NAME, 'value -> name)
    @commonInputText(addPrivatePropertyForm, constants.FormField.VALUE)
}