@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AddTrader

@(addTraderForm: Form[AddTrader.Data] = AddTrader.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ADD_TRADER, addTraderForm) {
    @commonInputText(addTraderForm, constants.FormField.ZONE_ID)
    @commonInputText(addTraderForm, constants.FormField.ORGANIZATION_ID)
    @commonInputText(addTraderForm, constants.FormField.NAME)
}
