@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AddTrader

@(addTraderForm: Form[AddTrader.Data] = AddTrader.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ADD_TRADER, addTraderForm) {
    @Messages(constants.View.REGISTER_TO_AN_ORGANIZATION_NOTE)
    <br>
    @commonInputText(addTraderForm, constants.FormField.ORGANIZATION_ID)
    @Messages(constants.View.REGISTER_AS_AN_ORGANIZATION_NOTE)
    <br>
    @commonFormButton(constants.Form.ADD_ORGANIZATION)
}
