@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AddTrader

@(addTraderForm: Form[AddTrader.Data] = AddTrader.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ADD_TRADER, addTraderForm) {
    <p>@Messages(constants.View.REGISTER_TO_ORGANIZATION_NOTE)</p>
    @commonInputText(addTraderForm, constants.FormField.ORGANIZATION_ID)
   <p>@Messages(constants.View.REGISTER_AS_ORGANIZATION_NOTE)</p>
    @commonFormButton(constants.Form.ADD_ORGANIZATION)
}
