@import controllers.actions.LoginState
@import views.companion.master.AddUBO
@import views.html.base._
@import helper._

@(addUBOForm: Form[AddUBO.Data] = AddUBO.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.ADD_UBO, addUBOForm) {
    <div class="modalInnerContainerFirst">
    @commonInputText(addUBOForm, constants.FormField.PERSON_NAME)
    @commonInputDouble(addUBOForm, constants.FormField.SHARE_PERCENTAGE)
    @commonInputText(addUBOForm, constants.FormField.RELATIONSHIP)
    @commonInputText(addUBOForm, constants.FormField.TITLE)
    </div>
}