@import helper._
@import views.companion.master.AddZone

@(addZoneForm: Form[AddZone.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.AddZone)) {
    @form(action = routes.LoginController.login) {
        @CSRF.formField
        @inputText(addZoneForm(constants.Forms.id),'_label-> Messages(constants.Forms.id))
        @inputPassword(addZoneForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))
        @inputText(addZoneForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))
        @inputText(addZoneForm(constants.Forms.name),'_label-> Messages(constants.Forms.name))
        @inputText(addZoneForm(constants.Forms.currency),'_label-> Messages(constants.Forms.currency))

        @if(addZoneForm.hasGlobalErrors) {
            <ul>
            @for(error <- addZoneForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.AddZone)</button>
    }
}