@import helper._
@import views.companion.master.ApproveFaucetRequest

@(approveFaucetRequestForm: Form[ApproveFaucetRequest.Data], requestID: String, accountID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.SendCoinController.approveFaucetRequests, 'onkeypress -> "validateForm(event,this)") {
  @CSRF.formField
  @inputText(approveFaucetRequestForm(constants.Form.REQUEST_ID).copy(value = Some(requestID)), '_label -> Messages(constants.Form.REQUEST_ID))
  @inputText(approveFaucetRequestForm(constants.Form.ACCOUNT_ID).copy(value = Some(accountID)), '_label -> Messages(constants.Form.ACCOUNT_ID))
  @inputPassword(approveFaucetRequestForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD))
  @inputText(approveFaucetRequestForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS))

  @if(approveFaucetRequestForm.hasGlobalErrors) {
    <ul>
    @for(error <- approveFaucetRequestForm.globalErrors) {
      <li>@error.format</li>
    }
    </ul>
  }
  <button type="button" onclick="submitForm(this)">@Messages(constants.Form.SEND_COIN)</button>
}
