@import helper._
@import views.companion.master.ApproveFaucetRequest

@(approveFaucetRequestForm: Form[ApproveFaucetRequest.Data], id: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.APPROVE_FAUCET_REQUEST)) {
    @form(action = routes.SendCoinController.approveFaucetRequests) {
        @CSRF.formField
        @inputText(approveFaucetRequestForm(constants.Forms.ID).copy(value = Some(id)), '_label -> Messages(constants.Forms.ID))
        @inputPassword(approveFaucetRequestForm(constants.Forms.PASSWORD), '_label -> Messages(constants.Forms.PASSWORD))
        @inputText(approveFaucetRequestForm(constants.Forms.GAS), '_label -> Messages(constants.Forms.GAS))

        @if(approveFaucetRequestForm.hasGlobalErrors) {
            <ul>
            @for(error <- approveFaucetRequestForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.SEND_COIN_TITLE)</button>
    }
}