@import controllers.actions.LoginState
@import models.common.Serializable._
@(asset: masterTransaction.IssueAssetRequest, files: Seq[masterTransaction.AssetFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@if(asset.status != constants.Status.Asset.LISTED_FOR_TRADE) {
    <span class="red">@Messages(constants.Form.PEG_HASH)</span> : asset.pegHash <br>
}
<span class="red">@Messages(constants.Form.ACCOUNT_ID)</span> : @asset.accountID <br>
<span class="red">@Messages(constants.FormField.ASSET_TYPE.name)</span> : @asset.assetType <br>
<span class="red">@Messages(constants.FormField.QUANTITY_UNIT.name)</span> : @asset.quantityUnit <br>
<span class="red">@Messages(constants.FormField.ASSET_QUANTITY.name)</span> : @asset.assetQuantity <br>
<span class="red">@Messages(constants.FormField.ASSET_PRICE.name)</span> : @asset.assetPrice <br>
<span class="red">@Messages(constants.FormField.TAKER_ADDRESS.name)</span> : @asset.takerAddress <br>
<span class="red">@Messages(constants.Form.SHIPMENT_DETAILS)</span> : @asset.shipmentDetails <br>
<span class="red">@Messages(constants.FormField.PHYSICAL_DOCUMENTS_HANDLED_VIA.name)</span> : @asset.physicalDocumentsHandledVia <br>
<span class="red">@Messages(constants.FormField.COMDEX_PAYMENT_TERMS.name)</span> : @asset.paymentTerms <br>
<span class="red">@Messages(constants.Form.STATUS)</span> : @asset.status <br>

@for(file <- files) {
    @component.master.commonDocumentViewer(file) {
        @routes.FileController.tradingFile(file.id, file.fileName, file.documentType)
    } {
        <a href="@routes.FileController.tradingFile(file.id, file.fileName, file.documentType)">@Messages(file.documentType)</a>
    } {
        @file.documentType match {
            case constants.File.OBL => {
                @file.documentType
                @if(file.documentContent.isDefined){
                    @{
                        val oblContent = documentContent.get.asInstanceOf[OBL]
                        <span>oblContent.notifyPartyAddress</span>
                    }

                }
            }
            case constants.File.INVOICE => {
                @file.documentType
                @file.documentContent.get
            }
            case _ => {
                @file.documentType
            }
        }
    }
}
