@import controllers.actions.LoginState
@import models.masterTransaction.IssueAssetRequest
@import models.masterTransaction.AssetFile

@(assetPegWallet: Seq[IssueAssetRequest], assetFiles: Seq[AssetFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@for(asset <- assetPegWallet) {
    <div class="flexItem box thirdBox lightBlue">
        <div class="leftText">
         @views.html.component.master.assetDetail(asset, assetFiles.filter(_.id == asset.id))
        </div>
            @asset.status match{
                case constants.Status.Asset.INCOMPLETE_DETAILS => {
                    <button class="width btn btn-primary btn-sm" onclick="getForm(jsRoutes.controllers.IssueAssetController.issueAssetDetailForm('@asset.id'))">@Messages(constants.Form.ISSUE_ASSET_REQUEST.button)</button>
                }
                case constants.Status.Asset.LISTED_FOR_TRADE | constants.Status.Asset.UNDER_NEGOTIATION => {
                    <div class="centerText" >
                    @loginState.acl match {
                        case Some(acl) => {
                            @if(acl.redeemAsset) {
                                <button class="width btn btn-primary btn-sm" onclick="getForm(jsRoutes.controllers.RedeemAssetController.redeemAssetForm('@loginState.address', '@asset.pegHash'))">@Messages(constants.Form.REDEEM_ASSET.legend)</button>
                                <br>
                                }
                        }
                        case _ => {}

                    }
                    </div>
                 }
                case _ => {}
            }
    </div>
}
