@import models.blockchain.Asset

@(assetPegWallet: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

<table>
    <tr>
        <th>@Messages(constants.Form.PEG_HASH)</th>
        <th>@Messages(constants.Form.DOCUMENT_HASH)</th>
        <th>@Messages(constants.Form.ASSET_TYPE)</th>
        <th>@Messages(constants.Form.ASSET_QUANTITY)</th>
        <th>@Messages(constants.Form.ASSET_PRICE)</th>
        <th>@Messages(constants.Form.QUANTITY_UNIT)</th>
      <th>@Messages(constants.Form.MODERATOR)</th>
        <th>@Messages(constants.Form.LOCKED)</th>
    </tr>
    @for(asset <- assetPegWallet) {
        <tr>
            <td>@asset.pegHash</td>
            <td>@asset.documentHash</td>
            <td>@asset.assetType</td>
            <td>@asset.assetQuantity</td>
            <td>@asset.assetPrice</td>
            <td>@asset.quantityUnit</td>
          <td>@asset.moderator</td>
            <td>@asset.locked</td>
        </tr>
    }
</table>
<br>
<br>