@import controllers.actions.LoginState
@import models.common.Serializable._
@(asset: masterTransaction.IssueAssetRequest, files: Seq[masterTransaction.AssetFile],status:String="")(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

<div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.ASSET_TYPE.name)</div>
        <div class="infoRowValue">@asset.assetType</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.QUANTITY_UNIT.name)</div>
        <div class="infoRowValue"> @asset.quantityUnit</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.ASSET_QUANTITY.name)</div>
        <div class="infoRowValue"> @asset.assetQuantity</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.ASSET_PRICE.name)</div>
        <div class="infoRowValue">@asset.assetPrice</div>
    </div>

    @if(status != "") {
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.PEG_HASH)</div>
            <div class="infoRowValue">@asset.pegHash</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.STATUS)</div>
            <div class="infoRowValue">@status</div>
        </div>
    }else{
        @if(asset.completionStatus) {
            @if(asset.verificationStatus.isEmpty){
                <div class="cmuk-flex infoRow">
                    <div class="infoRowLabel red">@Messages(constants.Form.STATUS)</div>
                    <div class="infoRowValue">@Messages(constants.Status.Asset.REQUESTED)</div>
                </div>
            }else{
                <div class="cmuk-flex infoRow">
                    <div class="infoRowLabel red">@Messages(constants.Form.STATUS)</div>
                    <div class="infoRowValue">@Messages(constants.Status.Asset.FAILED)</div>
                </div>
            }
        } else{
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.STATUS)</div>
                <div class="infoRowValue">@Messages(constants.Status.Asset.INCOMPLETE_DETAILS)</div>
            </div>
        }
    }
    <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small showHide">@Messages(constants.Form.SHOW_HIDE)</button>
</div>
<div class="hidden">
    @asset.takerAddress match{
     case Some(takerAddress) => {
         <div class="cmuk-flex infoRow">
             <div class="infoRowLabel red">@Messages(constants.FormField.TAKER_ADDRESS.name)</div>
             <div class="infoRowValue">@asset.takerAddress</div>
         </div>
     }
    case None => {}
    }
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.PHYSICAL_DOCUMENTS_HANDLED_VIA.name)</div>
        <div class="infoRowValue">@asset.physicalDocumentsHandledVia</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.COMDEX_PAYMENT_TERMS.name)</div>
        <div class="infoRowValue">@asset.paymentTerms</div>
    </div>
    <span class="red">@Messages(constants.Form.SHIPMENT_DETAILS)</span> <br>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.COMMODITY_NAME.name)</div>
        <div class="infoRowValue"> @asset.shipmentDetails.commodityName</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.QUALITY.name)</div>
        <div class="infoRowValue"> @asset.shipmentDetails.quality</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.DELIVERY_TERM.name)</div>
        <div class="infoRowValue"> @asset.shipmentDetails.deliveryTerm</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.TRADE_TYPE.name)</div>
        <div class="infoRowValue"> @asset.shipmentDetails.tradeType</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.PORT_OF_LOADING.name)</div>
        <div class="infoRowValue"> @asset.shipmentDetails.portOfLoading</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.PORT_OF_DISCHARGE.name)</div>
        <div class="infoRowValue"> @asset.shipmentDetails.portOfDischarge</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.FormField.SHIPMENT_DATE.name)</div>
        <div class="infoRowValue">@asset.shipmentDetails.shipmentDate</div>
    </div>

    @for(file <- files) {
        @component.master.commonDocumentViewer(file) {
            @routes.FileController.tradingFile(file.id, file.fileName, file.documentType)
        } {
            <a href="@routes.FileController.tradingFile(file.id, file.fileName, file.documentType)">@Messages(file.documentType)</a>
        } {
            @file.documentContent match {
                case Some(oblContent :OBL) => {
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.BILL_OF_LADING_NUMBER.name)</div>
                        <div class="infoRowValue">@oblContent.billOfLadingID</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.PORT_OF_LOADING.name)</div>
                        <div class="infoRowValue">@oblContent.portOfLoading</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.SHIPPER_NAME.name)</div>
                        <div class="infoRowValue">@oblContent.shipperName</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.SHIPPER_ADDRESS.name)</div>
                        <div class="infoRowValue"> @oblContent.shipperAddress</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.NOTIFY_PARTY_NAME.name)</div>
                        <div class="infoRowValue"> @oblContent.notifyPartyName</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.SHIPMENT_DATE.name)</div>
                        <div class="infoRowValue"> @oblContent.dateOfShipping</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.DELIVERY_TERM.name)</div>
                        <div class="infoRowValue">@oblContent.deliveryTerm</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.ASSET_QUANTITY.name)</div>
                        <div class="infoRowValue">@oblContent.weightOfConsignment</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.ASSET_PRICE.name)</div>
                        <div class="infoRowValue">@oblContent.declaredAssetValue</div>
                    </div>
                }
                case Some(invoiceContent :Invoice) => {
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.INVOICE_NUMBER.name)</div>
                        <div class="infoRowValue">@invoiceContent.invoiceNumber</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.INVOICE_DATE.name)</div>
                        <div class="infoRowValue">@invoiceContent.invoiceDate</div>
                    </div>
                }
                case Some(content) => {
                    <span>content</span>
                }
                case None => {}
            }
        }
    }
</div>
