@import controllers.actions.LoginState
@import models.masterTransaction.IssueAssetRequest
@import models.masterTransaction.AssetFile

@(assetList: Seq[IssueAssetRequest], assetFiles: Seq[AssetFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@for(asset <- assetList) {
    <div class="flexItem box firstBox lightBlue">
        <div class="leftText">
        @views.html.component.master.assetDetail(asset, assetFiles.filter(_.id == asset.id))
        </div>
        <div class="centerText">
        @loginState.acl match {
            case Some(acl) => {
                @if(acl.changeBuyerBid) {
                    <button class="btn btn-sm btn-primary" onclick="getForm(jsRoutes.controllers.ChangeBuyerBidController.changeBuyerBidForm('@loginState.address', '@asset.pegHash'))">@Messages(constants.Form.NEGOTIATE)</button>
                } <br>
                @if(acl.confirmBuyerBid) {
                    <button class="btn btn-sm btn-primary" onclick="getForm(jsRoutes.controllers.ConfirmBuyerBidController.confirmBuyerBidForm('@loginState.address', '@asset.pegHash', @asset.assetPrice))">@Messages(constants.Form.ACCEPT_OFFER)</button>
                } <br>
                }
            case _ => {}
        }
        </div>
    </div>
}
