@import controllers.actions.LoginState
@import models.masterTransaction.IssueAssetRequest
@import models.masterTransaction.AssetFile

@(assetList: Seq[IssueAssetRequest], assetFiles: Seq[AssetFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@for(asset <- assetList) {
    <div class="flexItem box firstBox lightBlue">
        <div class="leftText">
            @views.html.component.master.assetDetail(asset, assetFiles.filter(_.id == asset.id))
        </div>
    </div>
}
