@import controllers.actions.LoginState
@import models.masterTransaction.IssueAssetRequest
@import models.masterTransaction.AssetFile
@import models.master.Asset

@(assetList: Seq[IssueAssetRequest],masterAssetList: Seq[Asset], assetFiles: Seq[AssetFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@for(asset <- assetList) {
    <div class="flexItem box firstBox lightBlue">
        <div class="leftText">
            @for(masterAsset<-masterAssetList){
                @if(masterAsset.pegHash==asset.pegHash.get){
                    @views.html.component.master.assetDetail(asset, assetFiles.filter(_.id == asset.id),masterAsset.status)
                }
            }
        </div>
    </div>
}
