@import controllers.actions.LoginState
@import views.companion.master.BILL_OF_LADING
@import views.html.base._

@(billOfLadingContentForm: Form[BILL_OF_LADING.Data] = BILL_OF_LADING.form, negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@commonForm(constants.Form.BILL_OF_LADING_CONTENT, billOfLadingContentForm) {
    @commonInputText(billOfLadingContentForm, constants.FormField.NEGOTIATION_ID, 'value -> negotiationID, 'containerDivClass -> "hidden")
    @commonInputText(billOfLadingContentForm, constants.FormField.BILL_OF_LADING_NUMBER)
    @commonInputText(billOfLadingContentForm, constants.FormField.PORT_OF_LOADING)
    @commonInputText(billOfLadingContentForm, constants.FormField.SHIPPER_NAME)
    @commonInputText(billOfLadingContentForm, constants.FormField.SHIPPER_ADDRESS)
    @commonInputText(billOfLadingContentForm, constants.FormField.NOTIFY_PARTY_NAME)
    @commonInputText(billOfLadingContentForm, constants.FormField.NOTIFY_PARTY_ADDRESS)
    @commonInputDate(billOfLadingContentForm, constants.FormField.SHIPMENT_DATE)
    @commonSelect(billOfLadingContentForm, constants.FormField.DELIVERY_TERM)
    @commonInputInt(billOfLadingContentForm, constants.FormField.ASSET_QUANTITY)
    @commonInputInt(billOfLadingContentForm, constants.FormField.ASSET_PRICE)
}

