@import helper._
@import views.companion.master.BuyerExecuteOrder

@(buyerExecuteOrderForm: Form[BuyerExecuteOrder.Data], sellerAddress:String, pegHash:String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.BuyerExecuteOrderController.buyerExecuteOrder, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(buyerExecuteOrderForm(constants.Form.SELLER_ADDRESS).copy(value = Some(sellerAddress)), '_label -> Messages(constants.Form.SELLER_ADDRESS))
    @inputText(buyerExecuteOrderForm(constants.Form.FIAT_PROOF_HASH), '_label -> Messages(constants.Form.FIAT_PROOF_HASH))
    @inputText(buyerExecuteOrderForm(constants.Form.PEG_HASH).copy(value = Some(pegHash)), '_label -> Messages(constants.Form.PEG_HASH))
    @inputPassword(buyerExecuteOrderForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD))

    @if(buyerExecuteOrderForm.hasGlobalErrors) {
        <ul>
        @for(error <- buyerExecuteOrderForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" onclick="submitForm(this)">@Messages(constants.Form.BUYER_EXECUTE_ORDER)</button>
}
