@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AcceptOrRejectNegotiationTerms

@(updateNegotiationTermAcceptanceForm: Form[AcceptOrRejectNegotiationTerms.Data] = AcceptOrRejectNegotiationTerms.form, negotiationID: String, termType: String, status: Boolean, iconPath: String)(description: Html = Html(""))(value: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div class="term">
    <div>
        <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#"+iconPath)"/></svg></span>
        <span class="termName">@description</span>
    </div>
    <div class="termStatus">
        <div>@value</div>
        <div @Seq(negotiationID, termType).mkString("") >
        @views.html.component.master.acceptOrRejectNegotiationTerms(negotiationID = negotiationID, termType = termType, status =  status)
        </div>
    </div>
</div>