@import controllers.actions.LoginState
@import views.companion.master.ConfirmNegotiation
@import views.html.base._
@import models.master.Negotiation

@(buyerConfirmNegotiationForm: Form[ConfirmNegotiation.Data] = ConfirmNegotiation.form, negotiation: Negotiation)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.BUYER_CONFIRM_NEGOTIATION, buyerConfirmNegotiationForm) {
    @commonInputText(buyerConfirmNegotiationForm, constants.FormField.ID, 'value -> negotiation.id, 'containerDivClass -> "hidden", 'readonly -> true)
    <div class="cmuk-text-left title">@Messages(constants.View.ASSET_DETAILS)</div>
    @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
    @commonTextInfo(constants.View.PRICE, Seq(negotiation.price, Messages(constants.View.USD), Messages(constants.View.PER), negotiation.quantityUnit).mkString(" "))
    @commonTextInfo(constants.View.TOTAL_AMOUNT, Seq((negotiation.price * negotiation.quantity).toString, Messages(constants.View.USD)).mkString(" "))
    @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(""))
    @commonInputInt(buyerConfirmNegotiationForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(buyerConfirmNegotiationForm, constants.FormField.PASSWORD)
}