    @import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.AcceptOrRejectNegotiationTerms

@(updateNegotiationTermAcceptanceForm: Form[AcceptOrRejectNegotiationTerms.Data] = AcceptOrRejectNegotiationTerms.form, negotiationID: String, termType: String, status: Boolean, iconPath: String)(description: Html = Html(""))(value: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div class="sellerTerm">
    <div class="cmuk-flex">
        <span class="termIcon">@commonIcon(iconPath)</span>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel">
            @description
            </div>
            <div class="infoRowValue" title="@value">
            @value
            </div>
        </div>
    </div>
    <div class="termStatus">
        <div id='@Seq(negotiationID, termType).mkString("")'>
        @views.html.component.master.acceptOrRejectNegotiationTerms(negotiationID = negotiationID, termType = termType, status =  status)
        </div>
    </div>
</div>

