@import controllers.actions.LoginState
@import models.blockchain.Negotiation
@import views.html.base._
@(buyNegotiations: Seq[Negotiation], assetPegHashList: Seq[String])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
        @for(negotiation <- buyNegotiations) {
            <div>
            @commonCard(negotiation.assetPegHash) {
            } {
                <div>
                    <div class="leftText">
                        @commonTextInfo(constants.Form.PEG_HASH, negotiation.assetPegHash)
                        @commonTextInfo(constants.Form.BID, negotiation.bid)
                        @commonTextInfo(constants.Form.TIME, negotiation.time)
                        <div class="centerText" >
                            @if(negotiation.buyerSignature.orNull == null) {
                                @loginState.acl match {
                                    case Some(acl) => {
                                        @if(acl.changeBuyerBid) {
                                            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.ChangeBuyerBidController.changeBuyerBidForm('@negotiation.sellerAddress', '@negotiation.assetPegHash'))">@Messages(constants.Form.NEGOTIATE)</button>
                                        } <br>
                                        @if(acl.confirmBuyerBid) {
                                            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.ConfirmBuyerBidController.confirmBuyerBidDetailForm('@negotiation.sellerAddress', '@negotiation.assetPegHash', @negotiation.bid))">@Messages(constants.Form.ACCEPT_OFFER)</button>
                                        } <br>
                                    }
                                    case _ => {}
                                }
                            }
                            @if(negotiation.sellerSignature.orNull != null && negotiation.buyerSignature.orNull != null) {
                                @loginState.acl match {
                                    case Some(acl) => {
                                        @if(acl.sendFiat) {
                                            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SendFiatController.sendFiatForm('@negotiation.sellerAddress', '@negotiation.assetPegHash', @negotiation.bid))">@Messages(constants.Form.SEND_FIAT.legend)</button>
                                        } <br>
                                    }
                                    case _ => {}
                                }
                            }
                            <button type="button" class="cmuk-button cmuk-button-primary showHide">@Messages(constants.Form.SHOW_HIDE)</button>
                        </div>
                        <div class="hidden">
                            @commonTextInfo(constants.Form.BUYER_ADDRESS, negotiation.buyerAddress)
                            @commonTextInfo(constants.Form.SELLER_ADDRESS, negotiation.sellerAddress)
                            @commonTextInfo(constants.Form.NEGOTIATION_ID, negotiation.id)
                            @commonTextInfo(constants.Form.BUYER_SIGNATURE, negotiation.buyerSignature.getOrElse(""))
                            @commonTextInfo(constants.Form.SELLER_SIGNATURE, negotiation.sellerSignature.getOrElse(""))
                            @commonTextInfo(constants.Form.BUYER_BLOCK_HEIGHT, negotiation.buyerBlockHeight.getOrElse(""))
                            @commonTextInfo(constants.Form.SELLER_BLOCK_HEIGHT, negotiation.sellerBlockHeight.getOrElse(""))
                            @commonTextInfo(constants.Form.NEGOTIATION_ID, negotiation.id)
                            @commonTextInfo(constants.Form.BUYER_CONTRACT_HASH, negotiation.buyerContractHash.getOrElse(""))
                            @commonTextInfo(constants.Form.SELLER_CONTRACT_HASH, negotiation.sellerContractHash.getOrElse(""))
                        </div>
                    </div>
                </div>
            }
            </div>
        }
    </div>
</div>