@import controllers.actions.LoginState
@import models.blockchain.Negotiation

@(buyNegotiations: Seq[Negotiation], assetPegHashList: Seq[String])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
@for(negotiation <- buyNegotiations) {
    <div class="flexItem box thirdBox lightBlue">
        <div class="leftText">
            <span class="red">@Messages(constants.Form.PEG_HASH)</span>: @negotiation.assetPegHash <br>
            <span class="red">@Messages(constants.Form.BID)</span>: @negotiation.bid <br>
            <span class="red">@Messages(constants.Form.TIME)</span>: @negotiation.time <br>
            <div class="centerText" >
                @if(negotiation.buyerSignature.orNull == null) {
                    @loginState.acl match {
                        case Some(acl) => {
                            @if(acl.changeBuyerBid) {
                                <button class="width btn btn-primary btn-sm" onclick="getForm(jsRoutes.controllers.ChangeBuyerBidController.changeBuyerBidForm('@negotiation.sellerAddress', '@negotiation.assetPegHash'))">@Messages(constants.Form.NEGOTIATE)</button>
                            } <br>
                            @if(acl.confirmBuyerBid) {
                                <button class="width btn btn-primary btn-sm" onclick="getForm(jsRoutes.controllers.ConfirmBuyerBidController.confirmBuyerBidDetailForm('@negotiation.sellerAddress', '@negotiation.assetPegHash', @negotiation.bid))">@Messages(constants.Form.ACCEPT_OFFER)</button>
                            } <br>
                        }
                        case _ => {}
                    }
                }
                @if(negotiation.sellerSignature.orNull != null && negotiation.buyerSignature.orNull != null) {
                    @loginState.acl match {
                        case Some(acl) => {
                            @if(acl.sendFiat) {
                                <button onclick="getForm(jsRoutes.controllers.SendFiatController.sendFiatForm('@negotiation.sellerAddress', '@negotiation.assetPegHash', @negotiation.bid))">@Messages(constants.Form.SEND_FIAT.legend)</button>
                            } <br>
                        }
                        case _ => {}
                    }
                }
            <button class="showHide">@Messages(constants.Form.SHOW_HIDE)</button>
            </div>
            <div class="hidden">
                <span class="red">@Messages(constants.Form.BUYER_ADDRESS)</span>: @negotiation.buyerAddress <br>
                <span class="red">@Messages(constants.Form.SELLER_ADDRESS)</span>: @negotiation.sellerAddress <br>
                <span class="red">@Messages(constants.Form.NEGOTIATION_ID)</span>: @negotiation.id <br>
                <span class="red">@Messages(constants.Form.BUYER_SIGNATURE)</span>: @negotiation.buyerSignature <br>
                <span class="red">@Messages(constants.Form.SELLER_SIGNATURE)</span>: @negotiation.sellerSignature <br>
                <span class="red">@Messages(constants.Form.BUYER_BLOCK_HEIGHT)</span>: @negotiation.buyerBlockHeight <br>
                <span class="red">@Messages(constants.Form.SELLER_BLOCK_HEIGHT)</span>: @negotiation.sellerBlockHeight <br>
                <span class="red">@Messages(constants.Form.BUYER_CONTRACT_HASH)</span>: @negotiation.buyerContractHash <br>
              <span class="red">@Messages(constants.Form.SELLER_CONTRACT_HASH)</span>
              : @negotiation.sellerContractHash <br>
            </div>
        </div>
    </div>
}