@import controllers.actions.LoginState
@import models.masterTransaction.SalesQuote
@import views.html.base._

@(buySalesQuoteList: Seq[SalesQuote])(implicit requestHeader: RequestHeader,messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    @buySalesQuoteList.map { buySalesQuote =>

        <li class="commonList">
            @commonVerticalTextInfo(constants.Form.ASSET_TYPE, buySalesQuote.assetType)
            @commonVerticalTextInfo(constants.View.ASSET_DESCRIPTION, buySalesQuote.assetDescription)
            @commonVerticalIntInfo(constants.Form.ASSET_QUANTITY, buySalesQuote.assetQuantity)
            @commonVerticalIntInfo(constants.Form.ASSET_PRICE, buySalesQuote.assetPrice)
            @commonVerticalTextInfo(constants.View.SELLER, buySalesQuote.accountID)
            <div class="listItemChild">
                <p class="listItemChildTitle">@Messages(constants.View.STATUS)</p>
                <div class="listItemChildValue">
                @buySalesQuote.invitationStatus match{
                    case None=>{
                        <div id="@buySalesQuote.id">
                        @views.html.component.master.acceptOrRejectSalesQuote(salesQuote = buySalesQuote)
                        </div>
                    }
                    case Some(false)=>{
                        @Messages(constants.View.REJECTED)
                    }
                }
                </div>

            </div>
        </li>
    }
</div>