@import helper._
@import views.companion.master.ChangeSellerBid

@(changeSellerBidForm: Form[ChangeSellerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Form.CHANGE_SELLER_BID)) {
    @form(action = routes.ChangeSellerBidController.changeSellerBid) {
        @CSRF.formField
        @inputText(changeSellerBidForm(constants.Form.TO),'_label-> Messages(constants.Form.TO))
        @inputText(changeSellerBidForm(constants.Form.BID),'_label-> Messages(constants.Form.BID))
        @inputText(changeSellerBidForm(constants.Form.TIME),'_label-> Messages(constants.Form.TIME))
        @inputText(changeSellerBidForm(constants.Form.PEG_HASH),'_label-> Messages(constants.Form.PEG_HASH))
        @inputText(changeSellerBidForm(constants.Form.GAS),'_label-> Messages(constants.Form.GAS))
        @inputPassword(changeSellerBidForm(constants.Form.PASSWORD),'_label-> Messages(constants.Form.PASSWORD))

        @if(changeSellerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- changeSellerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Form.CHANGE_SELLER_BID)</button>
    }
}