@import controllers.actions.LoginState
@import helper._
@import views.companion.master.ChangeZoneKYCDocumentStatus

@(changeZoneKYCDocumentStatusForm: Form[ChangeZoneKYCDocumentStatus.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@form(action = routes.AddZoneController.changeZoneKYCDocumentStatus, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.CHANGE_ZONE_KYC_STATUS)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(changeZoneKYCDocumentStatusForm(constants.FormField.ZONE_ID.name), '_label -> Messages(constants.FormField.ZONE_ID.name), 'placeholder -> Messages(constants.FormField.ZONE_ID.name), 'required -> true, 'class -> "cmuk-input", 'readonly -> true)
        @inputText(changeZoneKYCDocumentStatusForm(constants.FormField.DOCUMENT_TYPE.name), '_label -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'placeholder -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'required -> true, 'class -> "cmuk-input", 'readonly -> true)
        @checkbox(changeZoneKYCDocumentStatusForm(constants.Form.STATUS), '_label -> Messages(constants.Form.STATUS), 'class -> "cmuk-checkbox", 'placeholder -> Messages(constants.Form.STATUS), 'required -> true)

        @if(changeZoneKYCDocumentStatusForm.hasGlobalErrors) {
            <ul>
            @for(error <- changeZoneKYCDocumentStatusForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.SUBMIT)</button>
    </div>
}