@import controllers.actions.LoginState
@import helper._
@import views.companion.master.ChangePassword

@(changePasswordForm: Form[ChangePassword.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@form(action = routes.AccountController.changePassword, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.CHANGE_PASSWORD)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputPassword(changePasswordForm(constants.FormField.OLD_PASSWORD.name), '_label -> Messages(constants.FormField.OLD_PASSWORD.name), 'placeholder -> Messages(constants.FormField.OLD_PASSWORD.name), 'required -> true, 'class -> "form-control")
        @inputPassword(changePasswordForm(constants.FormField.NEW_PASSWORD.name), '_label -> Messages(constants.FormField.NEW_PASSWORD.name), 'placeholder -> Messages(constants.FormField.NEW_PASSWORD.name), 'required -> true, 'class -> "form-control")
        @inputPassword(changePasswordForm(constants.FormField.CONFIRM_NEW_PASSWORD.name), '_label -> Messages(constants.FormField.CONFIRM_NEW_PASSWORD.name), 'placeholder -> Messages(constants.FormField.CONFIRM_NEW_PASSWORD.name), 'required -> true, 'class -> "form-control")

        @if(changePasswordForm.hasGlobalErrors) {
            <ul>
            @for(error <- changePasswordForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.CHANGE_PASSWORD)</button>
    </div>
}