@import controllers.actions.LoginState
@import helper._
@import views.companion.master.ChangeTraderKYCDocumentZoneStatus

@(changeTraderKYCDocumentZoneStatus: Form[ChangeTraderKYCDocumentZoneStatus.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@form(action = routes.SetACLController.changeTraderKYCDocumentZoneStatus, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.CHANGE_TRADER_KYC_ZONE_STATUS)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(changeTraderKYCDocumentZoneStatus(constants.FormField.TRADER_ID.name), '_label -> Messages(constants.FormField.TRADER_ID.name), 'placeholder -> Messages(constants.FormField.TRADER_ID.name), 'required -> true, 'class -> "cmuk-input", 'readonly -> true)
        @inputText(changeTraderKYCDocumentZoneStatus(constants.FormField.DOCUMENT_TYPE.name), '_label -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'placeholder -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'required -> true, 'class -> "cmuk-input", 'readonly -> true)
        @checkbox(changeTraderKYCDocumentZoneStatus(constants.Form.ZONE_STATUS), '_label -> Messages(constants.Form.ZONE_STATUS), 'placeholder -> Messages(constants.Form.ZONE_STATUS), 'required -> true, 'class -> "cmuk-checkbox")

        @if(changeTraderKYCDocumentZoneStatus.hasGlobalErrors) {
            <ul>
            @for(error <- changeTraderKYCDocumentZoneStatus.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.SUBMIT)</button>
    </div>
}