@import controllers.actions.LoginState
@import views.companion.master.ChangePassword
@import views.html.base._

@(changePasswordForm: Form[ChangePassword.Data] = ChangePassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.CHANGE_PASSWORD, changePasswordForm) {
    <div class="modalInnerContainerFirst">
    @commonInputPassword(changePasswordForm, constants.FormField.OLD_PASSWORD)
    @commonInputPassword(changePasswordForm, constants.FormField.NEW_PASSWORD)
    @commonInputPassword(changePasswordForm, constants.FormField.CONFIRM_NEW_PASSWORD)
    </div>
}