@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.ChatWindow
@import models.masterTransaction.ChatWindowParticipant

@(chatWindows: Seq[ChatWindow], chatWindowParticipants: Seq[ChatWindowParticipant])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)

@for(chatWindow <- chatWindows){
    <div>
        <button onclick="componentResource('chatWindow', jsRoutes.controllers.TradeRoomController.chatWindow('@chatWindow.id', 0))" title="@chatWindowParticipants.filter(_.chatWindowID==chatWindow.id).filterNot(_.accountID==loginState.username).map(_.accountID).mkString">@chatWindowParticipants.filter(_.chatWindowID==chatWindow.id).filterNot(_.accountID==loginState.username).map(_.accountID).mkString.substring(0, 1)</button>
    </div>
}
<div class="cmuk-card cmuk-card-default">
    <div class="cmuk-card-body">
        <div id="chatWindow">
        </div>
    </div>
</div>