@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendChat
@import models.masterTransaction.Chat
@import models.masterTransaction.ChatReceive
@import views.html.component.master.sendChat
@import views.html.component.master.chatMessages

@(sendChatForm: Form[SendChat.Data] = SendChat.form, chats: Seq[Chat], readChats: Seq[ChatReceive], chatWindowID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)
<div class="cmuk-card-body">
<div id="chatMessages" class="chatMessages chat" title="You have chat with">
    <script>
            componentResource('chatMessages', jsRoutes.controllers.TradeRoomController.loadMoreChats('@chatWindowID', 0))
    </script>
</div>
<div>
@if(chats.length > 0) {
    @* write the markchat read logic here*@
    @if(readChats.filter(x => x.chatID == chats.head.id).filter(x => x.toAccountID == loginState.username).length == 0 && chats.head.fromAccountID != loginState.username) {
        <a onclick="markChatRead(jsRoutes.controllers.TradeRoomController.markChatAsRead('@chatWindowID'))" style="font-size: 12px;">@Messages("MARK_AS_READ")</a>
    }
    <div style="font-size: 12px;">@Messages("READ_BY") : @readChats.filter(_.chatID == chats.head.id).map(_.toAccountID).mkString</div>
}
</div>
<div class="chatform">
@sendChat(sendChatForm)
</div>
</div>
<script src="@routes.Assets.versioned("javascripts/chatRoom.js")" type="text/javascript"></script>
<script type="text/javascript">
        var chatCometMessage = function (event) {
            console.log(event);
            console.log(JSON.stringify(event));
            componentResource('chatMessages', jsRoutes.controllers.TradeRoomController.loadMoreChats('@chatWindowID', 0));
        }
</script>

<iframe class="hidden" src="@routes.TradeRoomController.sendChatComet(chatWindowID)"></iframe>