@import controllers.actions.LoginState
@import views.html.base.cards._
@import views.html.base.infos._
@(coins: String = "0", profilePicture: Array[Byte] = Array())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@commonCard(constants.View.DETAILS , 'cardIconPath -> "images/icons/icons.svg#contactDetails") {
} {
    <div>
        <div>
            <div id="profilePhoto" class="cmuk-text-center"></div>
        </div>
        <div>
            @commonTextInfo(constants.User.USER_NAME, loginState.username)
            @commonTextInfo(constants.User.USER_TYPE, loginState.userType)
            @commonTextInfo(constants.View.BLOCKCHAIN_ADDRESS, loginState.address, 'id -> "blockchainAddress")
        </div>
    </div>
}
<script>
        componentResource('profilePhoto', jsRoutes.controllers.ComponentViewController.profilePicture(), 'DETAILS_LOADING');
</script>