@import controllers.actions.LoginState
@import views.html.base._
@(coins: String = "0", profilePicture: Array[Byte] = Array())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@commonCard(constants.View.DETAILS , 'cardIconPath -> "images/icons/icons.svg#contactDetails") {
} {
    <div>
        <div>
            <div id="profilePhoto" class="cmuk-text-center"></div>
        </div>
        <div>
            @commonTextInfo(constants.User.USER_NAME, loginState.username)
            @commonTextInfo(constants.User.USER_TYPE, loginState.userType)
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel">
                @Messages(constants.View.BLOCKCHAIN_ADDRESS)
                </div>
                <div class="infoRowValue textOverflowCopy">
                <p class="hashCode">@Messages(loginState.address)
                </p>
                    @commonCopyText("blockchainAddress", loginState.address)
                </div>
            </div>
        </div>
        <div class="cmuk-text-center cmuk-margin-top">
        @commonFormButton(constants.Form.CHANGE_PASSWORD,'class -> "cmuk-button buttonPrimary")
        </div>
    </div>
}
<script>
        componentResource('profilePhoto', jsRoutes.controllers.ComponentViewController.profilePicture(), 'DETAILS_LOADING');
</script>