@(username: String, userType: String, address: String, coins: Int = 0)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

<div class="box flexItem leftAlign flexGrowth">
    <div>
    <h2 class="showHide showHideStyle centerText">@username</h2>
    <div class="centerText">
        @Messages(constants.User.COINS): @coins
    <button onclick="getForm(jsRoutes.controllers.SendCoinController.sendCoinForm())">@Messages(constants.Form.SEND_COIN)</button>
    </div>
    </div>
    <div>
        @Messages(constants.User.USER_TYPE): @userType <br/>
        @Messages(constants.User.ADDRESS): @address <br/>
    </div>
</div>
