@import controllers.actions.LoginState
@import models.Trait.Document

@(document: Document[_])(documentLink: Html = Html(""))(documentContentTop: Html = Html(""))(documentContentBottom: Html = Html(""))(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="centerText documentItem">
    <div class="cmuk-flex">
        <div class="documentThumbnail">
        @if(document.documentType != constants.File.PROFILE_PICTURE) {
            @utilities.FileOperations.fileExtensionFromName(document.fileName) match {
                case constants.File.PNG | constants.File.JPEG | constants.File.JPG | constants.File.JPEG_LOWER_CASE | constants.File.JPG_LOWER_CASE | constants.File.PNG_LOWER_CASE => {
                    <a href="@documentLink"><img src="data:image/jpg;base64,@utilities.ImageProcess.decodeImageThumbnailData(document.file.get)" alt="@document.documentType"></a>
                }
                case _ => {
                    <a href="@documentLink"><img src="@routes.Assets.versioned("images/document.png")" alt="@document.documentType"></a>
                }
            }
        }
    </div>
     <div id="documentContentTop" class="documentContentTop">
    @documentContentTop
    </div>
    </div>
    <div id="documentContentBottom" class="documentContentBottom">
    @documentContentBottom
    </div>
</div>