@import helper._
@import views.companion.master.ConfirmSellerBid
@import controllers.actions.LoginState

@(confirmSellerBidForm: Form[ConfirmSellerBid.Data], buyerAddress:String, pegHash:String, bid:Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@form(action = routes.ConfirmSellerBidController.confirmSellerBid, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.CONFIRM_SELLER_BID)</h4>
    </div>
    <div>
    <div class="latest_card-body">
    @CSRF.formField

    @inputText(confirmSellerBidForm(constants.Form.BUYER_ADDRESS).copy(value = Some(buyerAddress)), '_label -> Messages(constants.Form.BUYER_ADDRESS),
        'class -> "form-control",'placeholder->Messages(constants.Form.BUYER_ADDRESS),'required->true)
    @inputText(confirmSellerBidForm(constants.Form.BID).copy(value = Some(bid.toString)), '_label -> Messages(constants.Form.BID),
        'class -> "form-control",'placeholder->Messages(constants.Form.BID),'required->true)
    @inputText(confirmSellerBidForm(constants.Form.TIME), '_label -> Messages(constants.Form.TIME),'class -> "form-control",
        'placeholder-> Messages(constants.Form.TIME),'required->true)
    @inputText(confirmSellerBidForm(constants.Form.PEG_HASH).copy(value = Some(pegHash)), '_label -> Messages(constants.Form.PEG_HASH),
        'class -> "form-control",'placeholder->Messages(constants.Form.PEG_HASH),'required->true)
    @inputText(confirmSellerBidForm(constants.Form.SELLER_CONTRACT_HASH), '_label -> Messages(constants.Form.SELLER_CONTRACT_HASH),'class -> "form-control",
        'placeholder->Messages(constants.Form.SELLER_CONTRACT_HASH),'required->true)
        @inputText(confirmSellerBidForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS),
            'class -> "form-control",'placeholder->Messages(constants.Form.GAS),'required->true)
        @inputPassword(confirmSellerBidForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),'class -> "form-control",
        'placeholder->Messages(constants.Form.PASSWORD),'required->true)

    @if(confirmSellerBidForm.hasGlobalErrors) {
        <ul>
        @for(error <- confirmSellerBidForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-sm btn-primary" onclick="submitForm(this)">@Messages(constants.Form.CONFIRM_SELLER_BID)</button>
   </div>
</div>
}