@import controllers.actions.LoginState
@import models.master.Negotiation
@import views.html.base._
@import views.companion.master.ConfirmBid
@import models.masterTransaction.NegotiationFile

@(confirmBidForm: Form[ConfirmBid.Data] = ConfirmBid.form, negotiation: Negotiation, files: Seq[NegotiationFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.CONFIRM_SELLER_BID, confirmBidForm) {

    @commonTextInfo(constants.Form.BUYER_ID, negotiation.buyerTraderID)
    @commonIntInfo(constants.FormField.BID.name, negotiation.price)
    @commonTextInfo(constants.FormField.ASSET_ID.name, negotiation.assetID)
    <span class="red">@Messages(constants.Form.BUYER_ID)</span> : @negotiation.buyerTraderID <br>
    <span class="red">@Messages(constants.FormField.BID.name)</span> : @negotiation.price <br>
    <span class="red">@Messages(constants.FormField.ASSET_ID.name)</span> : @negotiation.assetID <br>

    @for(file <- files) {
        @component.master.commonDocumentViewer(file) {
            @routes.FileController.tradingFile(file.id, file.fileName, file.documentType)
        } {
            <a href="@routes.FileController.tradingFile(file.id, file.fileName, file.documentType)">@Messages(file.documentType)</a>
        } {
            <span>@file.documentType</span>
        }
    }
    @commonInputText(confirmBidForm, constants.FormField.REQUEST_ID, 'value -> negotiation.id, 'containerDivClass -> "hidden", 'readonly -> true, 'required -> false)
    @commonInputInt(confirmBidForm, constants.FormField.TIME)
    @commonInputInt(confirmBidForm, constants.FormField.GAS)
    @commonInputPassword(confirmBidForm, constants.FormField.PASSWORD)
}