@import controllers.actions.LoginState
@import helper._
@import views.html.base._
@import views.companion.master.ConfirmSellerBidDetail

@(confirmSellerBidDetailForm: Form[ConfirmSellerBidDetail.Data] = ConfirmSellerBidDetail.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@baseForm(constants.Form.CONFIRM_SELLER_BID_DETAIL, confirmSellerBidDetailForm) {
    @inputText(confirmSellerBidDetailForm(constants.FormField.REQUEST_ID.name), '_label -> Messages(constants.FormField.REQUEST_ID.name), 'class -> "form-control hidden", 'placeholder -> Messages(constants.FormField.REQUEST_ID.name), 'required -> false)
    @inputText(confirmSellerBidDetailForm(constants.FormField.BUYER_ADDRESS.name), '_label -> Messages(constants.FormField.BUYER_ADDRESS.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.BUYER_ADDRESS.name), 'required -> true)
    @inputText(confirmSellerBidDetailForm(constants.FormField.BID.name), '_label -> Messages(constants.FormField.BID.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.BID.name), 'required -> true, 'type -> "number")
    @inputText(confirmSellerBidDetailForm(constants.FormField.PEG_HASH.name), '_label -> Messages(constants.FormField.PEG_HASH.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.PEG_HASH.name), 'required -> true)
}