@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.ConfirmBid
@import models.masterTransaction.NegotiationRequest
@import models.masterTransaction.NegotiationFile

@(confirmBidForm: Form[ConfirmBid.Data] = ConfirmBid.form, negotiation: NegotiationRequest, files: Seq[NegotiationFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.CONFIRM_BUYER_BID, confirmBidForm) {
    @commonTextInfo(constants.Form.SELLER_ID, negotiation.sellerAccountID)
    @commonIntInfo(constants.FormField.BID.name, negotiation.amount)
    @commonTextInfo(constants.FormField.PEG_HASH.name, negotiation.pegHash)

    @for(file <- files) {
        @component.master.commonDocumentViewer(file) {
            @routes.FileController.tradingFile(file.id, file.fileName, file.documentType)
        } {
            <a href="@routes.FileController.tradingFile(file.id, file.fileName, file.documentType)">@Messages(file.documentType)</a>
        } {
            <span>@file.documentType</span>
        }
    }

    @commonInputText(confirmBidForm, constants.FormField.REQUEST_ID, 'value -> negotiation.id, 'containerDivClass -> "hidden", 'readonly -> true, 'required -> false)
    @commonInputInt(confirmBidForm, constants.FormField.TIME)
    @commonInputInt(confirmBidForm, constants.FormField.GAS)
    @commonInputPassword(confirmBidForm, constants.FormField.PASSWORD)
}