@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.ConfirmBidTransaction
@import models.masterTransaction.NegotiationRequest
@import models.masterTransaction.NegotiationFile

@(confirmBidTransactionForm: Form[ConfirmBidTransaction.Data] = ConfirmBidTransaction.form, negotiation: NegotiationRequest, files: Seq[NegotiationFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.CONFIRM_BUYER_BID, confirmBidTransactionForm) {
    <span class="red">@Messages(constants.Form.SELLER_ID)</span> : @negotiation.sellerAccountID <br>
    <span class="red">@Messages(constants.FormField.BID.name)</span> : @negotiation.amount <br>
    <span class="red">@Messages(constants.FormField.PEG_HASH.name)</span> : @negotiation.pegHash <br>

    @for(file <- files) {
        @component.master.commonDocumentViewer(file) {
            @routes.FileController.tradingFile(file.id, file.fileName, file.documentType)
        } {
            <a href="@routes.FileController.tradingFile(file.id, file.fileName, file.documentType)">@Messages(file.documentType)</a>
        } {
            <span>@file.documentType</span>
        }
    }
    @*//TODO why requestID is hidden and not optional when no default value*@
    @commonInputText(confirmBidTransactionForm, constants.FormField.REQUEST_ID)
    @commonInputInt(confirmBidTransactionForm, constants.FormField.TIME)
    @commonInputInt(confirmBidTransactionForm, constants.FormField.GAS)
    @commonInputPassword(confirmBidTransactionForm, constants.FormField.PASSWORD)
}