@import controllers.actions.LoginState
@import models.masterTransaction.NegotiationFile

@import views.html.base.commonModalButton
@(negotiationFile: Option[NegotiationFile] = None, negotiationID: String, documentType: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

<div class="centerText">
    <h4>@Messages(constants.View.CONFIRM_BUYER_BID)</h4>
        <div id="upload@documentType">
@*            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.FileController.uploadTraderNegotiationForm('@documentType', '@negotiationID'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>*@
            @commonModalButton(constants.Form.UPLOAD + ""+ documentType,routes.javascript.FileController.uploadTraderNegotiationForm,'parameters -> s"'${documentType}','${negotiationID}'")
        </div>
    @negotiationFile match {
        case Some(file) => {
            @component.master.commonDocumentViewer(file) {
                @routes.FileController.tradingFile(file.id, file.fileName, file.documentType)
            } {
                <a href="@routes.FileController.tradingFile(file.id, file.fileName, file.documentType)">@Messages(file.documentType)</a>
            } {

                @commonModalButton(constants.Form.UPDATE + " " + file.documentType,routes.javascript.FileController.updateTraderNegotiationForm,'parameters -> s"'${documentType}','${negotiationID}'")
                        <script>hideElement('upload@file.documentType')</script>
            }
            @commonModalButton(constants.Form.NEXT,routes.javascript.ConfirmBuyerBidController.confirmBuyerBidForm,'parameters -> s"'${file.id}'")
        }
        case None => {}
    }

</div>
