@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.ConfirmSellerBidDetail

@(confirmSellerBidDetailForm: Form[ConfirmSellerBidDetail.Data] = ConfirmSellerBidDetail.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.CONFIRM_SELLER_BID_DETAIL, confirmSellerBidDetailForm) {
    @*//TODO why requestID is hidden and not optional when no default value*@
    @commonInputText(confirmSellerBidDetailForm, constants.FormField.REQUEST_ID)
    @commonInputText(confirmSellerBidDetailForm, constants.FormField.BUYER_ADDRESS)
    @commonInputInt(confirmSellerBidDetailForm, constants.FormField.BID)
    @commonInputText(confirmSellerBidDetailForm, constants.FormField.PEG_HASH)
}