@import controllers.actions.LoginState
@import models.master.Contact
@import views.html.base._

@(userContact: Option[Contact])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.CONTACT_DETAILS, 'cardIconPath -> "images/icons/icons.svg#icon-contactDetails") {
    @if(userContact.isDefined) {
        @commonModalButton(constants.View.UPDATE_CONTACT, routes.javascript.ContactController.addOrUpdateForm)
    }
} {
    @userContact match {
        case Some(contact) => {
            @commonInfoBox() {
                <div class="cmuk-flex cmuk-flex-wrap infoRowBox">
                    @commonTextInfo(constants.Form.EMAIL_ADDRESS, contact.emailAddress)
                    @if(contact.emailAddressVerified) {
                        <span class="cmuk-badge verified">@Messages(constants.View.VERIFIED)</span>
                    } else {
                        @commonFormButton(constants.Form.VERIFY_EMAIL_ADDRESS, 'class -> "cmuk-button-link")
                    }

                </div>
            }
            @commonInfoBox() {
                <div class="cmuk-flex cmuk-flex-wrap infoRowBox">
                    @commonTextInfo(constants.Form.MOBILE_NUMBER, contact.mobileNumber)
                    @if(contact.mobileNumberVerified) {
                        <span class="cmuk-badge verified">@Messages(constants.View.VERIFIED)</span>
                    } else {
                        @commonFormButton(constants.Form.VERIFY_MOBILE_NUMBER, 'class -> "cmuk-button-link")
                    }
                </div>
            }
        }
        case _ => {
            <div class="cmuk-position-center">
            @commonFormButton(constants.Form.ADD_OR_UPDATE_CONTACT)
            </div>
        }
    }

}