@import controllers.actions.LoginState
@import models.master.Contact
@import views.html.base._

@(userContact: Option[Contact])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.CONTACT_DETAILS, 'cardIconPath -> "images/icons/icons.svg#icon-contactDetails") {
    @if(userContact.isDefined) {
@*        <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small buttonUpdate" onclick="getForm(jsRoutes.controllers.ContactController.updateContactForm())">@Messages(constants.View.UPDATE_CONTACT)</button>*@
        @commonModalButton(constants.View.UPDATE_CONTACT,routes.javascript.ContactController.updateContactForm)
    }
} {
    @userContact match {
        case Some(contact) => {
            @commonInfoBox() {
                <div class="cmuk-flex cmuk-flex-wrap infoRowBox">
                    @commonTextInfo(constants.Form.EMAIL_ADDRESS, contact.emailAddress)
                    @if(contact.emailAddressVerified) {
                        <span class="cmuk-badge verified">@Messages(constants.View.VERIFIED)</span>
                    } else {
@*                        <button type="button" class="cmuk-button cmuk-button-link" onclick="getForm(jsRoutes.controllers.VerifyEmailAddressController.verifyEmailAddressForm())">@Messages(constants.Form.VERIFY)</button>*@
                        @commonFormButton(constants.Form.VERIFY_EMAIL_ADDRESS)
                    }

                </div>
            }
            @commonInfoBox() {
                <div class="cmuk-flex cmuk-flex-wrap infoRowBox">
                    @commonTextInfo(constants.Form.MOBILE_NUMBER, contact.mobileNumber)
                    @if(contact.mobileNumberVerified) {
                        <span class="cmuk-badge verified">@Messages(constants.View.VERIFIED)</span>
                    } else {
                        <button type="button" class="cmuk-button cmuk-button-link" onclick="getForm(jsRoutes.controllers.VerifyMobileNumberController.verifyMobileNumberForm())">@Messages(constants.Form.VERIFY)</button>
                        @commonFormButton(constants.Form.VERIFY_MOBILE_NUMBER)
                    }
                </div>
            }
        }
        case _ => {
            <div class="cmuk-position-center">
            @commonFormButton(constants.Form.UPDATE_CONTACT)
            </div>
        }
    }

}