@import controllers.actions.LoginState
@import views.html.base._
@import helper._
@import views.companion.master.DocumentsList

@(documentsListForm: Form[DocumentsList.Data] = DocumentsList.form, id: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@commonForm(constants.Form.NEGOTIATION_DOCUMENTS_LIST, documentsListForm) {
    @commonInputText(documentsListForm, constants.FormField.ID, 'value -> id, 'containerDivClass -> "hidden", 'readonly -> true)
    @repeatWithIndex(documentsListForm(constants.FormField.DOCUMENTS_LIST.name), min = documentsListForm(constants.FormField.DOCUMENTS_LIST.name).indexes.length + 1) { (documentField, i) =>
        @defining(Option(documentField)) { implicit sequentialFormField =>
            <div id='@Seq(constants.FormField.DOCUMENTS_LIST.name, i).mkString("_")'>
                @commonInputText(documentsListForm, constants.FormField.DOCUMENT_TYPE)
                @commonJavascriptButton(constants.Form.DELETE, JavaScript("""deleteElementBySource(this)"""), 'class -> "cmuk-button-link")
            </div>
        }
    }
    @commonJavascriptButton(constants.View.ADD, JavaScript("""onDocumentListIncomplete(this)"""))
    @commonCheckbox(documentsListForm, constants.FormField.DOCUMENTS_LIST_COMPLETED, 'containerDivClass -> "hidden", 'id -> "negotiationDocumentsListCompleted")
    @commonModalButton(constants.View.BACK, constants.Form.NEGOTIATION_PAYMENT_TERMS.get, 'parameters -> s"'${id}'")
}
<script src="@routes.Assets.versioned("javascripts/documentsList.js")" type="text/javascript"></script>