@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.DocumentsCheckList

@(documentsCheckListForm: Form[DocumentsCheckList.Data] = DocumentsCheckList.form, id: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.NEGOTIATION_DOCUMENTS_CHECKLIST, documentsCheckListForm) {
    @commonInputText(documentsCheckListForm, constants.FormField.ID, 'value -> id, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonCheckbox(documentsCheckListForm, constants.FormField.BILL_OF_EXCHANGE)
    @commonCheckbox(documentsCheckListForm, constants.FormField.COO)
    @commonCheckbox(documentsCheckListForm, constants.FormField.COA)
    @commonInputText(documentsCheckListForm, constants.FormField.OTHER_DOCUMENTS, 'required -> false)
    @commonModalButton(constants.View.BACK, constants.Form.NEGOTIATION_PAYMENT_TERMS.get, 'parameters -> s"'${id}'")
}