@import helper._
@import views.companion.master.EmailOTPForgotPassword

@(emailOTPForgotPasswordForm: Form[EmailOTPForgotPassword.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.AccountController.emailOTPForgotPassword, 'onkeypress -> "submitFormOnEnter(event,this)") {
        <h4>@Messages(constants.Form.FORGOT_PASSWORD)</h4>
        @CSRF.formField
      @inputText(emailOTPForgotPasswordForm(constants.FormField.USERNAME.name), '_label -> Messages(constants.FormField.USERNAME.name), 'placeholder -> Messages(constants.FormField.USERNAME.name), 'required -> true, 'class -> "cmuk-input")
        @if(emailOTPForgotPasswordForm.hasGlobalErrors) {
            <ul>
            @for(error <- emailOTPForgotPasswordForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button"  onclick="submitForm(this)">@Messages(constants.Form.GET_OTP)</button>

}