@import helper._
@import views.companion.master.EmailOTPForgotPassword

@(emailOTPForgotPasswordForm: Form[EmailOTPForgotPassword.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.AccountController.emailOTPForgotPassword, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.FORGOT_PASSWORD)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(emailOTPForgotPasswordForm(constants.FormField.USERNAME.name), '_label -> Messages(constants.FormField.USERNAME.name), 'placeholder -> Messages(constants.FormField.USERNAME.name), 'required -> true, 'class -> "cmuk-input")
        @if(emailOTPForgotPasswordForm.hasGlobalErrors) {
            <ul>
            @for(error <- emailOTPForgotPasswordForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.GET_OTP)</button>
    </div>
}