@import helper._
@import views.html.base._
@import views.companion.master.EmailOTPForgotPassword

@(emailOTPForgotPasswordForm: Form[EmailOTPForgotPassword.Data] = EmailOTPForgotPassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@baseForm(constants.Form.EMAIL_OTP_FORGOT_PASSWORD, emailOTPForgotPasswordForm) {
    @inputText(emailOTPForgotPasswordForm(constants.FormField.USERNAME.name), '_label -> Messages(constants.FormField.USERNAME.name), 'placeholder -> Messages(constants.FormField.USERNAME.name), 'required -> true, 'class -> "cmuk-input")
}