@import controllers.actions.LoginState
@import models.blockchain.Meta
@import models.common.Serializable.{Immutables, Mutables}
@import models.master.Property
@import views.html.base._

@(isOwner: Boolean, properties: Seq[Property], immutables: Immutables, mutables: Mutables, metas: Seq[Meta])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@if(properties.nonEmpty) {
    @properties.map { property =>
        @commonInfoBox() {
            @defining(metas.exists(_.id == property.hashID)) { isRevealed =>
                @commonTextInfo(constants.View.NAME, property.name)
                @if(isOwner || isRevealed) {
                    @commonTextInfo(constants.View.VALUE, property.value.getOrElse(""))
                }
                @commonTextInfo(constants.View.DATA_TYPE, property.dataType)
                @commonTextInfo(constants.View.HASH_ID, property.hashID)
                @commonBooleanInfo(constants.View.IS_META, Option(property.isMeta))
                @commonBooleanInfo(constants.View.IS_MUTABLE, Option(property.isMutable))
                @commonBooleanInfo(constants.View.IS_REVEALED, Option(isRevealed))
                @if(!isRevealed) {
                    @commonFormButton(constants.Form.META_REVEAL, 'parameters -> s"'${property.value.getOrElse("")}', '${property.dataType}'")
                }
            }
        }
    }
} else {
    @views.html.component.blockchain.immutables(immutables)
    @views.html.component.blockchain.mutables(mutables)
}