@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.FaucetRequest

@(faucetRequests: Seq[FaucetRequest])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
  <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
  @for(faucetRequest <- faucetRequests) {
    <div>
    @commonCard(faucetRequest.id) {
    } {
      @commonTextInfo(constants.View.ACCOUNT_ID, faucetRequest.accountID)
      @commonIntInfo(constants.Form.AMOUNT, faucetRequest.amount)
      @commonFormButton(constants.Form.APPROVE_FAUCET_REQUEST, 'parameters -> s"'${faucetRequest.id}','${faucetRequest.accountID}'")
      @commonFormButton(constants.Form.REJECT_FAUCET_REQUEST,'parameters -> s"'${faucetRequest.id}'")
    }
    </div>
  }
  </div>
</div>