@import models.blockchain.Fiat

@(fiatPegWallet: Seq[Fiat])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

<table id="fiatPegWallet">
    <tr>
        <th>@Messages(constants.User.PEGHASH)</th>
        <th>@Messages(constants.User.TRANSACTION_ID)</th>
        <th>@Messages(constants.User.TRANSACTION_AMOUNT)</th>
        <th>@Messages(constants.User.REDEEMED_AMOUNT)</th>
    </tr>
    @for(fiat <- fiatPegWallet) {
        <tr>
            <td>@fiat.pegHash</td>
            <td>@fiat.transactionID</td>
            <td>@fiat.transactionAmount</td>
            <td>@fiat.redeemedAmount</td>
        </tr>
    }
</table>
<br>