@import models.blockchain.Fiat
@import controllers.actions.LoginState

@(fiatPegWallet: Seq[Fiat])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @for(fiat <- fiatPegWallet) {
        <div class="flexItem box thirdBox leftText lightBlue">
            <span class="red">@Messages(constants.FormField.PEG_HASH.name)</span> : @fiat.pegHash <br>
            <span class="red">@Messages(constants.Form.TRANSACTION_ID)</span> : @fiat.transactionID <br>
            <span class="red">@Messages(constants.Form.TRANSACTION_AMOUNT)</span> : @fiat.transactionAmount <br>
            <span class="red">@Messages(constants.Form.REDEEM_AMOUNT)</span> : @fiat.redeemedAmount
        </div>
    }
