@import helper._
@import views.html.base._
@import views.companion.master.ForgotPassword

@(forgotPasswordForm: Form[ForgotPassword.Data] = ForgotPassword.form, username: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@baseForm(constants.Form.FORGOT_PASSWORD, forgotPasswordForm) {
    @inputText(forgotPasswordForm(constants.FormField.SEED.name), '_label -> Messages(constants.FormField.SEED.name), 'placeholder -> Messages(constants.FormField.SEED.name), 'class -> "hidden", 'required -> true)
    @inputText(forgotPasswordForm(constants.FormField.SEED.name), '_label -> Messages(constants.FormField.SEED.name), 'placeholder -> Messages(constants.FormField.SEED.name), 'class -> "cmuk-input", 'required -> true)
    @inputText(forgotPasswordForm(constants.FormField.OTP.name), '_label -> Messages(constants.FormField.OTP.name), 'placeholder -> Messages(constants.FormField.OTP.name), 'class -> "cmuk-input", 'required -> true)
    @inputPassword(forgotPasswordForm(constants.FormField.NEW_PASSWORD.name), '_label -> Messages(constants.FormField.NEW_PASSWORD.name), 'placeholder -> Messages(constants.FormField.NEW_PASSWORD.name), 'class -> "cmuk-input", 'required -> true)
    @inputPassword(forgotPasswordForm(constants.FormField.CONFIRM_NEW_PASSWORD.name), '_label -> Messages(constants.FormField.CONFIRM_NEW_PASSWORD.name), 'placeholder -> Messages(constants.FormField.CONFIRM_NEW_PASSWORD.name), 'class -> "cmuk-input", 'required -> true)
}