@import views.html.base._
@import views.companion.master.ForgotPassword

@(forgotPasswordForm: Form[ForgotPassword.Data] = ForgotPassword.form, username: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@commonForm(constants.Form.FORGOT_PASSWORD, forgotPasswordForm) {
    @commonInputText(forgotPasswordForm, constants.FormField.USERNAME, 'class -> "hidden", 'readonly -> true, 'value -> username)
    @commonInputText(forgotPasswordForm, constants.FormField.SEED)
    @commonInputText(forgotPasswordForm, constants.FormField.OTP)
    @commonInputPassword(forgotPasswordForm, constants.FormField.NEW_PASSWORD)
    @commonInputPassword(forgotPasswordForm, constants.FormField.CONFIRM_NEW_PASSWORD)
}