@import helper._
@import views.companion.master.ForgotPassword
@import controllers.actions.LoginState

@(forgotPasswordForm: Form[ForgotPassword.Data], username: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.AccountController.forgotPassword(username = username), 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.FORGOT_PASSWORD)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(forgotPasswordForm(constants.Form.SEED), '_label -> Messages(constants.Form.SEED),
            'placeholder->Messages(constants.Form.SEED),'required->true,'class->"form-control")
        @inputText(forgotPasswordForm(constants.Form.OTP), '_label -> Messages(constants.Form.OTP),
            'placeholder->Messages(constants.Form.OTP),'required->true,'class->"form-control")
        @inputPassword(forgotPasswordForm(constants.Form.NEW_PASSWORD), '_label -> Messages(constants.Form.NEW_PASSWORD),
            'placeholder->Messages(constants.Form.NEW_PASSWORD),'required->true,'class->"form-control")
        @inputPassword(forgotPasswordForm(constants.Form.CONFIRM_NEW_PASSWORD), '_label -> Messages(constants.Form.CONFIRM_NEW_PASSWORD),
            'placeholder->Messages(constants.Form.CONFIRM_NEW_PASSWORD),'required->true,'class->"form-control")

        @if(forgotPasswordForm.hasGlobalErrors) {
            <ul>
            @for(error <- forgotPasswordForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.SET_PASSWORD)</button>
    </div>
}