@(username: String, address: String, coins: Int = 0)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

@common(Messages(constants.User.HOME)) {

    @component.master.commonHome(username = username, userType = constants.User.GENESIS, address = address, coins = coins)

    <a href="@routes.AddZoneController.viewPendingVerifyZoneRequests">@Messages(constants.Form.PENDING_VERIFY_ZONE_REQUESTS)</a>
    <a href="@routes.SendCoinController.viewPendingFaucetRequests">@Messages(constants.Form.APPROVE_FAUCET_REQUEST)</a>

}