@import controllers.actions.LoginState
@import models.master.AccountKYC
@import models.master.Identification

@(identification: Option[Identification], accountKYC: Option[AccountKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@identification match {
    case Some(identification) => {
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.NAME)</div>
            <div class="infoRowValue">@identification.firstName @identification.lastName</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.DATE_OF_BIRTH)</div>
            <div class="infoRowValue">@identification.dateOfBirth</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.ID_NUMBER)</div>
            <div class="infoRowValue">@identification.idNumber</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.ID_TYPE)</div>
            <div class="infoRowValue">@identification.idType</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.STATUS)</div>
            <div class="infoRowValue">@identification.status</div>
        </div>
        @accountKYC match {
            case Some(file) => {
                @component.master.commonDocumentViewer(file) {
                    @routes.FileController.getAccountKYCFile(file.fileName, file.documentType)
                } {
                    <a href="@routes.FileController.getAccountKYCFile(file.fileName, file.documentType)">@Messages(file.documentType)</a>
                } {

                }
            }
            case None => {
                <div>
                    <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.ProfileController.userUploadOrUpdateIdentificationView())">@Messages(constants.Form.UPLOAD_IDENTIFICATION)</button>
                </div>
            }
        }
        <div>
            <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.ProfileController.identificationForm())">@Messages(constants.View.UPDATE_IDENTIFICATION)</button>
        </div>
    }
    case None => {
        <div>
            <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.ProfileController.identificationForm())">@Messages(constants.Form.IDENTIFICATION.legend)</button>
        </div>
    }
}