@import controllers.actions.LoginState
@import models.master.Identification
@import views.html.base._

@(identification: Identification)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonTextInfo(constants.View.NAME, Seq(identification.firstName, identification.lastName).mkString(" "))
@commonTextInfo(constants.View.DATE_OF_BIRTH, identification.dateOfBirth.toString)
@commonTextInfo(constants.View.ID_NUMBER, identification.idNumber)
@commonTextInfo(constants.View.ID_TYPE, identification.idType)
@commonBooleanInfo(constants.View.REQUEST_COMPLETED, Option(identification.completionStatus))
@commonBooleanInfo(constants.View.STATUS, identification.verificationStatus)
@component.master.streetAddress(identification.address)