@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Classification

@(classifications: Seq[Classification])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.IDENTITY_DEFINITIONS) {
    @commonFormButton(constants.Form.IDENTITY_DEFINE)
} {
    @classifications.map{classification =>
        @commonVerticalInfoBox(){
            @commonVerticalTextInfo(constants.View.CLASSIFICATION_ID, classification.id)
            @commonVerticalTextInfo(constants.View.LABEL, classification.label.getOrElse(""))
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonFormButton(constants.Form.ADD_ENTITY_LABEL, 'parameters -> s"'${classification.id}', '${constants.Blockchain.Entity.IDENTITY_DEFINITION}'")
            </div>
            @commonVerticalBooleanInfo(constants.View.STATUS, classification.status)
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonModalButton(constants.View.PROPERTIES, routes.javascript.ComponentViewController.entityProperties, 'parameters -> s"'${classification.id}', '${constants.Blockchain.Entity.IDENTITY_DEFINITION}'")
            </div>
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
            @commonFormButton(constants.Form.IDENTITY_ISSUE, 'parameters -> s"'${classification.id}'")
            </div>
        }
    }
}