@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Identification

@(identification: Identification)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
    @commonTextInfo(constants.Form.NAME, Seq(identification.firstName, identification.lastName).mkString(" "))
    @commonDateInfo(constants.Form.DATE_OF_BIRTH, identification.dateOfBirth)
    @commonTextInfo(constants.Form.ID_NUMBER, identification.idNumber)
    @commonTextInfo(constants.Form.ID_TYPE, identification.idType)
    @commonBooleanInfo(constants.View.STATUS, identification.verificationStatus)
</div>