@import controllers.actions.LoginState
@import models.master.AccountKYC
@import views.html.base._

@(accountKYC: Option[AccountKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@accountKYC match {
    case Some(file) => {
        @component.master.commonDocumentViewer(file) {
            @routes.FileController.getAccountKYCFile(file.fileName, file.documentType)
        } {
            <a href="@routes.FileController.getAccountKYCFile(file.fileName, file.documentType)">@Messages(file.documentType)</a>
        } {
            @commonBooleanInfo(constants.View.STATUS, file.status)
        }
    }
    case None => {
        <div>
            <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.AccountController.userViewUploadOrUpdateIdentification())">@Messages(constants.Form.UPLOAD_IDENTIFICATION)</button>
        </div>
    }
}
