@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction
@import views.companion.master.InvoiceContent

@(invoiceContentForm: Form[InvoiceContent.Data] = InvoiceContent.form, negotiationID:String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@commonForm(constants.Form.INVOICE_CONTENT, invoiceContentForm) {
    @commonInputText(invoiceContentForm, constants.FormField.NEGOTIATION_ID, 'value -> negotiationID,'containerDivClass -> "hidden")
    @commonInputText(invoiceContentForm, constants.FormField.INVOICE_NUMBER)
    @commonInputDate(invoiceContentForm, constants.FormField.INVOICE_DATE)
}

