@import controllers.actions.LoginState
@import views.companion.master.IssueAssetDetail
@import views.html.base._

@(issueAssetDetailForm: Form[IssueAssetDetail.Data] = IssueAssetDetail.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ISSUE_ASSET_DETAIL, issueAssetDetailForm) {
    @*//TODO why requestID is hidden and not optional when no default value*@
    @commonInputText(issueAssetDetailForm, constants.FormField.REQUEST_ID)
    @commonSelect(issueAssetDetailForm, constants.FormField.ASSET_TYPE, '_default -> Messages(constants.FormField.ASSET_TYPE.name))
    @commonInputText(issueAssetDetailForm, constants.FormField.QUANTITY_UNIT)
    @commonInputInt(issueAssetDetailForm, constants.FormField.ASSET_QUANTITY)
    @commonInputInt(issueAssetDetailForm, constants.FormField.ASSET_PRICE)
    @commonInputText(issueAssetDetailForm, constants.FormField.TAKER_ADDRESS, 'required -> false)
    @commonInputText(issueAssetDetailForm, constants.FormField.COMMODITY_NAME)
    @commonSelect(issueAssetDetailForm, constants.FormField.QUALITY, '_default -> Messages(constants.FormField.QUALITY.name))
    @commonSelect(issueAssetDetailForm, constants.FormField.DELIVERY_TERM, '_default -> Messages(constants.FormField.DELIVERY_TERM.name))
    @commonSelect(issueAssetDetailForm, constants.FormField.TRADE_TYPE, '_default -> Messages(constants.FormField.TRADE_TYPE.name))
    @commonInputText(issueAssetDetailForm, constants.FormField.PORT_OF_LOADING)
    @commonInputText(issueAssetDetailForm, constants.FormField.PORT_OF_DISCHARGE)
    @commonInputDate(issueAssetDetailForm, constants.FormField.SHIPMENT_DATE)
    @commonSelect(issueAssetDetailForm, constants.FormField.PHYSICAL_DOCUMENTS_HANDLED_VIA, '_default -> Messages(constants.FormField.PHYSICAL_DOCUMENTS_HANDLED_VIA.name))
    @commonSelect(issueAssetDetailForm, constants.FormField.COMDEX_PAYMENT_TERMS, '_default -> Messages(constants.FormField.COMDEX_PAYMENT_TERMS.name))
}
