@import controllers.actions.LoginState
@import helper._
@import views.companion.master.IssueAssetDocument

@(issueAssetDocumentForm: Form[IssueAssetDocument.Data], id: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

<div class="latest_card-header latest_card-header-primary text-center">
    <h4 class="latest_card-title">@Messages(constants.Form.DOCUMENTS)</h4>
</div>

<script src="@routes.Assets.versioned("javascripts/showHideUploadUpdateButton.js")" type="text/javascript"></script>
<div class="centerText">
    <button id="traderButtonUploadOBL" class="hidden" onclick="getForm(jsRoutes.controllers.FileController.uploadTraderAssetForm('@constants.File.OBL'))">@Messages(constants.Form.UPLOAD_OBL_DOCUMENT)</button>
    <button id="traderButtonUpdateOBL" class="hidden" onclick="getForm(jsRoutes.controllers.FileController.updateTraderAssetForm('@constants.File.OBL'))">@Messages(constants.Form.UPLOAD_OBL_DOCUMENT)</button>
    <script>checkFileExists(jsRoutes.controllers.FileController.checkTraderAssetFileExists('@id', '@constants.File.OBL'), "traderButtonUploadOBL", "traderButtonUpdateOBL")</script>
</div>

    @form(action = routes.IssueAssetController.issueAssetRequest(), 'onkeypress -> "validateForm(event,this)") {
        @CSRF.formField

        <script src="@routes.Assets.versioned("javascripts/showHideUploadUpdateButton.js")" type="text/javascript"></script>
        <div >
            <div class="latest_card-body ml-cb">
                @inputText(issueAssetDocumentForm(constants.FormField.ISSUE_ASSET_REQUEST_ID.name), '_label -> Messages(constants.FormField.ISSUE_ASSET_REQUEST_ID.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.ISSUE_ASSET_REQUEST_ID.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.BILL_OF_LADING_NUMBER.name), '_label -> Messages(constants.FormField.BILL_OF_LADING_NUMBER.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.BILL_OF_LADING_NUMBER.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.PORT_OF_LOADING.name), '_label -> Messages(constants.FormField.PORT_OF_LOADING.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.PORT_OF_LOADING.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.SHIPPER_NAME.name), '_label -> Messages(constants.FormField.SHIPPER_NAME.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.SHIPPER_NAME.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.SHIPPER_ADDRESS.name), '_label -> Messages(constants.FormField.SHIPPER_ADDRESS.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.SHIPPER_ADDRESS.name), 'required -> true)
                @inputDate(issueAssetDocumentForm(constants.FormField.SHIPMENT_DATE.name), '_label -> Messages(constants.FormField.SHIPMENT_DATE.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.SHIPMENT_DATE.name), '_name -> Messages(constants.FormField.SHIPMENT_DATE.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.NOTIFY_PARTY_NAME.name), '_label -> Messages(constants.FormField.NOTIFY_PARTY_NAME.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.NOTIFY_PARTY_NAME.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.NOTIFY_PARTY_ADDRESS.name), '_label -> Messages(constants.FormField.NOTIFY_PARTY_ADDRESS.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.NOTIFY_PARTY_ADDRESS.name), 'required -> true)
                @select(issueAssetDocumentForm(constants.FormField.DELIVERY_TERM.name), for(option <- constants.Option.DELIVERY_TERM.options) yield (option, Messages(option)), '_label -> Messages(constants.FormField.DELIVERY_TERM.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.DELIVERY_TERM.name), '_default -> Messages(constants.FormField.DELIVERY_TERM.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.ASSET_QUANTITY.name), '_label -> Messages(constants.FormField.ASSET_QUANTITY.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.ASSET_QUANTITY.name), 'required -> true)
                @inputText(issueAssetDocumentForm(constants.FormField.ASSET_PRICE.name), '_label -> Messages(constants.FormField.ASSET_PRICE.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.ASSET_PRICE.name), 'required -> true)

                <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.ISSUE_ASSET_DOCUMENT)</button>
            </div>
        </div>
    }
