@import controllers.actions.LoginState
@import views.companion.master.IssueAssetOBL
@import views.html.base._

@(issueAssetOBLForm: Form[IssueAssetOBL.Data] = IssueAssetOBL.form, file: Option[masterTransaction.AssetFile] = None)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ISSUE_ASSET_OBL, issueAssetOBLForm) {
    <div class="centerText">
        <div id='@Seq("upload", constants.File.OBL).mkString("")'>
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.FileController.uploadTraderAssetForm('@constants.File.OBL', '@issueAssetOBLForm.data(constants.FormField.REQUEST_ID.name)'))">@Messages(constants.Form.UPLOAD) @Messages(constants.File.OBL)</button>
        </div>
        @file match {
            case Some(fileView) => {
                @component.master.commonDocumentViewer(fileView) {
                @routes.FileController.tradingFile(fileView.id, fileView.fileName, fileView.documentType)
                } {
                    <a href="@routes.FileController.tradingFile(fileView.id, fileView.fileName, fileView.documentType)">@Messages(fileView.documentType)</a>
                } {
                    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.FileController.updateTraderAssetForm('@fileView.documentType', '@fileView.id'))">@Messages(constants.Form.UPDATE) @Messages(fileView.documentType)</button>
                    <script>hideElement('@Seq("upload", fileView.documentType).mkString("")')</script>
                }
            }
            case _ => {}
            }
    </div>

    @commonInputText(issueAssetOBLForm, constants.FormField.REQUEST_ID)
    @commonInputText(issueAssetOBLForm, constants.FormField.BILL_OF_LADING_NUMBER)
    @commonInputText(issueAssetOBLForm, constants.FormField.PORT_OF_LOADING)
    @commonInputText(issueAssetOBLForm, constants.FormField.SHIPPER_NAME)
    @commonInputText(issueAssetOBLForm, constants.FormField.SHIPPER_ADDRESS)
    @commonInputText(issueAssetOBLForm, constants.FormField.NOTIFY_PARTY_NAME)
    @commonInputText(issueAssetOBLForm, constants.FormField.NOTIFY_PARTY_ADDRESS)
    @commonInputDate(issueAssetOBLForm, constants.FormField.SHIPMENT_DATE)
    @commonSelect(issueAssetOBLForm, constants.FormField.DELIVERY_TERM, '_default -> Messages(constants.FormField.DELIVERY_TERM.name))
    @commonInputInt(issueAssetOBLForm, constants.FormField.ASSET_QUANTITY)
    @commonInputInt(issueAssetOBLForm, constants.FormField.ASSET_PRICE)
    @*// TODO Correct this as per commonForm *@
    @file match {
        case Some(file) => {
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="submitForm(this)">@Messages(constants.Form.ISSUE_ASSET_OBL.submit)</button>
        }
        case None => {
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="submitForm(this)" disabled="disabled">@Messages(constants.Form.ISSUE_ASSET_OBL.submit)</button>
        }
    }
}
