@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.IssueAsset

@(issueAssetForm: Form[IssueAsset.Data] = IssueAsset.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ISSUE_ASSET, issueAssetForm) {
    @commonSelect(issueAssetForm, constants.FormField.ASSET_TYPE)
    @commonInputText(issueAssetForm, constants.FormField.ASSET_DESCRIPTION)
    @commonInputMicroLong(issueAssetForm, constants.FormField.ASSET_QUANTITY)
    @commonInputText(issueAssetForm, constants.FormField.QUANTITY_UNIT)
    @commonInputMicroLong(issueAssetForm, constants.FormField.ASSET_PRICE_PER_UNIT)
    @commonInputInt(issueAssetForm, constants.FormField.SHIPPING_PERIOD)
    @commonInputText(issueAssetForm, constants.FormField.PORT_OF_LOADING)
    @commonInputText(issueAssetForm, constants.FormField.PORT_OF_DISCHARGE)
    <div class="checkboxSection">
        <span class="warningIcon" cmuk-tooltip="title:@Messages(constants.View.MODERATED_WARNING);pos:bottom">@commonIcon("warning")</span>
        @commonCheckbox(issueAssetForm, constants.FormField.MODERATED, 'checked -> true, 'oninput -> """showHideGasAndPassword()""")
    </div>
    @commonInputMicroLong(issueAssetForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'required -> false, 'containerDivID -> "issueAssetGasField", 'containerDivClass -> "hidden")
    @commonInputPassword(issueAssetForm, constants.FormField.PASSWORD, 'required -> false, 'containerDivID -> "issueAssetPasswordField", 'containerDivClass -> "hidden")
}
<script src="@routes.Assets.versioned("javascripts/issueAsset.js")" type="text/javascript"></script>