@import helper._
@import views.companion.master.IssueFiat

@(issueFiatForm: Form[IssueFiat.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.ISSUE_FIAT_TITLE)) {
    @form(action = routes.IssueFiatController.issueFiat) {
        @CSRF.formField
        @inputText(issueFiatForm(constants.Forms.TO),'_label-> Messages(constants.Forms.TO))
        @inputText(issueFiatForm(constants.Forms.TRANSACTION_ID),'_label-> Messages(constants.Forms.TRANSACTION_ID))
        @inputText(issueFiatForm(constants.Forms.TRANSACTION_AMOUNT),'_label-> Messages(constants.Forms.TRANSACTION_AMOUNT))
        @inputText(issueFiatForm(constants.Forms.GAS),'_label-> Messages(constants.Forms.GAS))
        @inputPassword(issueFiatForm(constants.Forms.PASSWORD),'_label-> Messages(constants.Forms.PASSWORD))

        @if(issueFiatForm.hasGlobalErrors) {
            <ul>
            @for(error <- issueFiatForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.ISSUE_FIAT_TITLE)</button>
    }
}