@import helper._
@import views.companion.master.IssueAssetRequest
@import controllers.actions.LoginState

@(issueAssetRequestForm: Form[IssueAssetRequest.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@form(action = routes.IssueAssetController.issueAssetRequest, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.ISSUE_ASSET_REQUEST)</h4>
    </div>
    <div >
    <div class="latest_card-body ml-cb">
    @inputText(issueAssetRequestForm(constants.FormField.DOCUMENT_HASH.name), '_label -> Messages(constants.FormField.DOCUMENT_HASH.name), 'class -> "form-control",'placeholder->Messages(constants.FormField.DOCUMENT_HASH.name),'required->true)
    @inputText(issueAssetRequestForm(constants.FormField.ASSET_TYPE.name), '_label -> Messages(constants.FormField.ASSET_TYPE.name), 'class -> "form-control",'placeholder->Messages(constants.FormField.ASSET_TYPE.name),'required->true)
        @inputText(issueAssetRequestForm(constants.FormField.ASSET_PRICE.name), '_label -> Messages(constants.FormField.ASSET_PRICE.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.ASSET_PRICE.name), 'required -> true, 'type -> "number")
    @inputText(issueAssetRequestForm(constants.FormField.QUANTITY_UNIT.name), '_label -> Messages(constants.FormField.QUANTITY_UNIT.name), 'class -> "form-control",'placeholder->Messages(constants.FormField.QUANTITY_UNIT.name),'required->true)
        @inputText(issueAssetRequestForm(constants.FormField.ASSET_QUANTITY.name), '_label -> Messages(constants.FormField.ASSET_QUANTITY.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.ASSET_QUANTITY.name), 'required -> true, 'type -> "number")
    @inputText(issueAssetRequestForm(constants.FormField.TAKER_ADDRESS.name), '_label -> Messages(constants.FormField.TAKER_ADDRESS.name), 'class -> "form-control",'placeholder->Messages(constants.FormField.TAKER_ADDRESS.name),'required->true)
        <div class="input-group-prepend">
            @checkbox(issueAssetRequestForm(constants.Form.MODERATED), '_label -> Messages(constants.Form.MODERATED), 'id -> "moderated")
            <span class="input-group-text">
                @Messages(constants.Form.MODERATED)
            </span>
        </div>

    <div id="moderatedIssueAssetRequestFormFields">
        @inputText(issueAssetRequestForm(constants.FormField.GAS.name).copy(value = Some("0")), '_label -> Messages(constants.FormField.GAS.name),
            'class -> "form-control", 'placeholder -> Messages(constants.FormField.GAS.name), 'required -> true, 'type -> "number")
        @inputPassword(issueAssetRequestForm(constants.FormField.PASSWORD.name), '_label -> Messages(constants.FormField.PASSWORD.name),
            'class -> "form-control",'placeholder->Messages(constants.FormField.PASSWORD.name),'required->true)
    </div>

    @if(issueAssetRequestForm.hasGlobalErrors) {
        <ul>
        @for(error <- issueAssetRequestForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.ISSUE_ASSET_REQUEST)</button>
    <script src="@routes.Assets.versioned("javascripts/showIssueAssetRequestFormFields.js")" type="text/javascript"></script>
    </div>
    </div>
    }
