@import controllers.actions.LoginState
@import helper._
@import views.companion.master.IssueFiatRequest

@(issueFiatRequestForm: Form[IssueFiatRequest.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@form(action = routes.IssueFiatController.issueFiatRequest, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.ISSUE_FIAT)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
      @inputText(issueFiatRequestForm(constants.FormField.TRANSACTION_ID.name), '_label -> Messages(constants.FormField.TRANSACTION_ID.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.TRANSACTION_ID.name), 'required -> true)
      @inputText(issueFiatRequestForm(constants.FormField.TRANSACTION_AMOUNT.name), '_label -> Messages(constants.FormField.TRANSACTION_AMOUNT.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.TRANSACTION_AMOUNT.name), 'required -> true, 'type -> "number")

        @if(issueFiatRequestForm.hasGlobalErrors) {
            <ul>
            @for(error <- issueFiatRequestForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-sm btn-primary" onclick="submitForm(this)">@Messages(constants.Form.ISSUE_FIAT)</button>
    </div>

}
