@import helper._
@import views.companion.master.IssueAsset
@import controllers.actions.LoginState

@(issueAssetForm: Form[IssueAsset.Data], requestID: String, accountID: String, documentHash: String, assetType: String, assetPrice: Int, quantityUnit: String, assetQuantity: Int, takerAddress: Option[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@form(action = routes.IssueAssetController.issueAsset, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.ISSUE_ASSET)</h4>
    </div>
    <div class=" ">
    <div class="latest_card-body">
    @CSRF.formField
    @inputText(issueAssetForm(constants.FormField.REQUEST_ID.name).copy(value = Some(requestID)), '_label -> Messages(constants.FormField.REQUEST_ID.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.REQUEST_ID.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.ACCOUNT_ID.name).copy(value = Some(accountID)), '_label -> Messages(constants.FormField.ACCOUNT_ID.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.ACCOUNT_ID.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.DOCUMENT_HASH.name).copy(value = Some(documentHash)), '_label -> Messages(constants.FormField.DOCUMENT_HASH.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.DOCUMENT_HASH.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.ASSET_TYPE.name).copy(value = Some(assetType)), '_label -> Messages(constants.FormField.ASSET_TYPE.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.ASSET_TYPE.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.ASSET_PRICE.name).copy(value = Some(assetPrice.toString)), '_label -> Messages(constants.FormField.ASSET_PRICE.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.ASSET_PRICE.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.QUANTITY_UNIT.name).copy(value = Some(quantityUnit)), '_label -> Messages(constants.FormField.QUANTITY_UNIT.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.QUANTITY_UNIT.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.ASSET_QUANTITY.name).copy(value = Some(assetQuantity.toString)), '_label -> Messages(constants.FormField.ASSET_QUANTITY.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.ASSET_QUANTITY.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.GAS.name), '_label -> Messages(constants.FormField.GAS.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.GAS.name),'required->true)
    @inputText(issueAssetForm(constants.FormField.TAKER_ADDRESS.name).copy(value = takerAddress), '_label -> Messages(constants.FormField.TAKER_ADDRESS.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.TAKER_ADDRESS.name),'required->true)
    @inputPassword(issueAssetForm(constants.FormField.PASSWORD.name), '_label -> Messages(constants.FormField.PASSWORD.name), 'class -> "cmuk-input",'placeholder->Messages(constants.FormField.PASSWORD.name),'required->true)

    @if(issueAssetForm.hasGlobalErrors) {
        <ul>
        @for(error <- issueAssetForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-sm btn-primary" onclick="submitForm(this)">@Messages(constants.Form.ISSUE_ASSET)</button>

    </div>
    </div>
}