@import controllers.actions.LoginState
@import models.westernUnion.FiatRequest
@import views.html.base._
@(issueFiatRequests: Seq[FiatRequest])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@if(issueFiatRequests.isEmpty){
    <span>@Messages(constants.View.NO_REQUESTS_FOUND)</span>
} else {
    @for(issueFiatRequest <- issueFiatRequests) {
        <div>
        @commonCard(issueFiatRequest.traderID){
        }{
            <div>
                @commonTextInfo(constants.View.TRADER_ID, issueFiatRequest.traderID)
                @commonTextInfo(constants.Form.TRANSACTION_ID, issueFiatRequest.id)
                @commonTextInfo(constants.Form.TRANSACTION_AMOUNT, issueFiatRequest.transactionAmount.toString)
                @commonFormButton(constants.Form.ISSUE_FIAT,'parameters -> s"'${issueFiatRequest.id}','${issueFiatRequest.traderID}','${issueFiatRequest.id}'")
                @commonJavascriptButton(constants.Form.REJECT,JavaScript("getForm(jsRoutes.controllers.IssueFiatController.rejectIssueFiatRequestForm('@issueFiatRequest.id'))"))
            </div>
        }

        </div>
    }

}