@import helper._
@import views.companion.master.Login

@(loginForm: Form[Login.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
<div id="modal_form">



    @form(action = routes.LoginController.login, 'onkeypress -> "validateForm(event,this)") {

        <div class="form-group">
            <input type="text" id="name" class="form-control" required>
            <label class="form-control-placeholder" for="name">Name</label>
            <span class="bmd-help">We'll never share your email with anyone else.</span>
        </div>

        @CSRF.formField

        <div id="modal_close" onclick="modal_close()" class="close">x</div>
        @inputText(loginForm(constants.Form.USERNAME), '_label -> Messages(constants.Form.USERNAME),'class -> "form-control")
        @inputPassword(loginForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),'class -> "form-control")
        <div class = "hidden">@inputText(loginForm(constants.Form.NOTIFICATION_TOKEN), 'id -> constants.Form.NOTIFICATION_TOKEN, 'readonly -> true)</div>

        @if(loginForm.hasGlobalErrors) {
            <ul>
            @for(error <- loginForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary "  onclick="submitForm(this)">@Messages(constants.Form.LOGIN)</button>
    }
</div>
