@import helper._
@import views.companion.master.Login

@(loginForm: Form[Login.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages("Login")) {
        @form(action = routes.LoginController.login) {
            @CSRF.formField
            @inputText(loginForm(Messages("username")))
            @inputPassword(loginForm(Messages("password")))

            @if(loginForm.hasGlobalErrors) {
                <ul>
                @for(error <- loginForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button id="submitToken" type="submit" name="token">@Messages("Login")</button>
        }
        <script src="@routes.Assets.versioned("/javascripts/firebase.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/pushNotification.js")"></script>
    }
