@import controllers.actions.LoginState
@import helper._
@import views.companion.master.Logout
@import views.html.base._

@(logoutForm: Form[Logout.Data] = Logout.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.LOGOUT, logoutForm) {
    @Messages(constants.Form.RECEIVE_NOTIFICATIONS)
    @checkbox(logoutForm(constants.Form.RECEIVE_NOTIFICATIONS), '_label -> Messages(constants.Form.RECEIVE_NOTIFICATIONS), 'class -> "cmuk-checkbox")
}

