@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.MemberCheckMemberScan

@(memberCheckMemberScanForm: Form[MemberCheckMemberScan.Data] = MemberCheckMemberScan.form, uboID: String, firstName: String, lastName: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.MEMBER_CHECK_MEMBER_SCAN, memberCheckMemberScanForm) {
  @commonInputText(memberCheckMemberScanForm, constants.FormField.UBO_ID, 'value -> uboID, 'readonly -> true)
  @commonInputText(memberCheckMemberScanForm, constants.FormField.FIRST_NAME, 'value -> firstName)
  @commonInputText(memberCheckMemberScanForm, constants.FormField.LAST_NAME, 'value -> lastName)
}
