@import controllers.actions.LoginState
@import helper._
@import views.companion.master.ModeratedBuyerExecuteOrder

@(moderatedBuyerExecuteOrderForm: Form[ModeratedBuyerExecuteOrder.Data], buyerAddress: String, sellerAddress: String, pegHash: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@form(action = routes.BuyerExecuteOrderController.moderatedBuyerExecuteOrder, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.MODERATED_BUYER_EXECUTE_ORDER)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(moderatedBuyerExecuteOrderForm(constants.FormField.BUYER_ADDRESS.name).copy(value = Some(buyerAddress)), '_label -> Messages(constants.FormField.BUYER_ADDRESS.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.BUYER_ADDRESS.name), 'required -> true)
        @inputText(moderatedBuyerExecuteOrderForm(constants.FormField.SELLER_ADDRESS.name).copy(value = Some(sellerAddress)), '_label -> Messages(constants.FormField.SELLER_ADDRESS.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.SELLER_ADDRESS.name), 'required -> true)
        @inputText(moderatedBuyerExecuteOrderForm(constants.FormField.FIAT_PROOF_HASH.name), '_label -> Messages(constants.FormField.FIAT_PROOF_HASH.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.FIAT_PROOF_HASH.name), 'required -> true)
        @inputText(moderatedBuyerExecuteOrderForm(constants.FormField.PEG_HASH.name).copy(value = Some(pegHash)), '_label -> Messages(constants.FormField.PEG_HASH.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.PEG_HASH.name), 'required -> true)
        @inputText(moderatedBuyerExecuteOrderForm(constants.FormField.GAS.name), '_label -> Messages(constants.FormField.GAS.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.GAS.name), 'required -> true, 'type -> "number")
        @inputPassword(moderatedBuyerExecuteOrderForm(constants.FormField.PASSWORD.name), '_label -> Messages(constants.FormField.PASSWORD.name), 'class -> "form-control", 'placeholder -> Messages(constants.FormField.PASSWORD.name), 'required -> true)

        @if(moderatedBuyerExecuteOrderForm.hasGlobalErrors) {
            <ul>
            @for(error <- moderatedBuyerExecuteOrderForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.MODERATED_BUYER_EXECUTE_ORDER)</button>
    </div>
}
