@import views.html.base._
@import views.companion.master.ModeratedBuyerExecuteOrder

@(moderatedBuyerExecuteOrderForm: Form[ModeratedBuyerExecuteOrder.Data] = ModeratedBuyerExecuteOrder.form, orderID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
    @commonForm(constants.Form.MODERATED_BUYER_EXECUTE_ORDER, moderatedBuyerExecuteOrderForm) {
    <div class="modalInfoBlock">
        @commonInputText(moderatedBuyerExecuteOrderForm, constants.FormField.ORDER_ID, 'value -> orderID, 'containerDivClass -> "hidden", 'readonly -> true)
        @commonInputInt(moderatedBuyerExecuteOrderForm, constants.FormField.GAS)
        @commonInputPassword(moderatedBuyerExecuteOrderForm, constants.FormField.PASSWORD)
    </div>
    }
