@import views.companion.master.ModeratedSellerExecuteOrder
@import views.html.base._

@(moderatedSellerExecuteOrderForm: Form[ModeratedSellerExecuteOrder.Data] = ModeratedSellerExecuteOrder.form, orderID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.MODERATED_SELLER_EXECUTE_ORDER, moderatedSellerExecuteOrderForm) {
    @commonInputText(moderatedSellerExecuteOrderForm, constants.FormField.ORDER_ID, 'value -> orderID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputInt(moderatedSellerExecuteOrderForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(moderatedSellerExecuteOrderForm, constants.FormField.PASSWORD)
}


