@import controllers.actions.LoginState
@import models.blockchain.Negotiation

@(negotiationList: Seq[Negotiation])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@for(negotiation <- negotiationList) {
    <div class="col-md-6">
        <div class="flexItem card-body lightBlue">
            <div class="leftText">
                <span class="red">@Messages(constants.Form.PEG_HASH)</span>: @negotiation.assetPegHash <br>
                <span class="red">@Messages(constants.Form.TIME)</span>: @negotiation.time <br>
            </div>
            <div class="centerText">
                <button class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SellerExecuteOrderController.moderatedSellerExecuteOrderForm('@negotiation.buyerAddress', '@negotiation.sellerAddress', '@negotiation.assetPegHash'));">@Messages(constants.Form.SELLER_EXECUTE_ORDER.legend)</button>
            </div>
        </div>
    </div>
}