@import controllers.actions.LoginState
@import models.blockchain.Negotiation
@import views.html.base._
@(negotiationList: Seq[Negotiation])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@for(negotiation <- negotiationList) {
    <div>
    @commonCard(negotiation.assetPegHash){
    }{
        <div>
            <div class="leftText">
                @commonTextInfo(constants.Form.PEG_HASH, negotiation.assetPegHash)
                @commonTextInfo(constants.Form.TIME, negotiation.time)
            </div>
            <div class="centerText">
                <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.BuyerExecuteOrderController.moderatedBuyerExecuteOrderDocument('@negotiation.buyerAddress', '@negotiation.sellerAddress', '@negotiation.assetPegHash'))">@Messages(constants.Form.BUYER_EXECUTE_ORDER.legend)</button>
            </div>
        </div>
    }
    </div>
}