@import models.blockchain.Negotiation

@(negotiations: Seq[Negotiation])(implicit messagesProvider: MessagesProvider)

@for(negotiation <- negotiations) {
    <div class="flexItem box lightBlue">
        <div class="leftText">

            <span class="red">@Messages(constants.Form.PEG_HASH)</span> : @negotiation.assetPegHash <br>
            <span class="red">@Messages(constants.Form.BID)</span> : @negotiation.bid <br>
            <span class="red">@Messages(constants.Form.TIME)</span> : @negotiation.time <br>
            <button class="showHide">@Messages(constants.Form.SHOW_HIDE)</button>
            <div></div>
            <div class="hidden">
                <span class="red">@Messages(constants.Form.BUYER_ADDRESS)</span> : @negotiation.buyerAddress <br>
                <span class="red">@Messages(constants.Form.SELLER_ADDRESS)</span>
                : @negotiation.sellerAddress <br>
                <span class="red">@Messages(constants.Form.NEGOTIATION_ID)</span> : @negotiation.id <br>
                <span class="red">@Messages(constants.Form.BUYER_SIGNATURE)</span>
                : @negotiation.buyerSignature <br>
                <span class="red">@Messages(constants.Form.SELLER_SIGNATURE)</span>
                : @negotiation.sellerSignature <br>
            </div>
        </div>
    </div>
}
