@import models.blockchain.Negotiation

@(negotiations: Seq[Negotiation])(implicit messagesProvider: MessagesProvider)

<table>
    <tr>
        <th>@Messages(constants.Form.NEGOTIATION_ID)</th>
        <th>@Messages(constants.Form.BUYER_ADDRESS)</th>
        <th>@Messages(constants.Form.SELLER_ADDRESS)</th>
        <th>@Messages(constants.Form.PEG_HASH)</th>
        <th>@Messages(constants.Form.BID)</th>
        <th>@Messages(constants.Form.TIME)</th>
        <th>@Messages(constants.Form.BUYER_SIGNATURE)</th>
        <th>@Messages(constants.Form.SELLER_SIGNATURE)</th>
    </tr>
    @for(negotiation <- negotiations) {
        <tr>
            <td>@negotiation.id</td>
            <td>@negotiation.buyerAddress</td>
            <td>@negotiation.sellerAddress</td>
            <td>@negotiation.assetPegHash</td>
            <td>@negotiation.bid</td>
            <td>@negotiation.time</td>
            <td>@negotiation.buyerSignature</td>
            <td>@negotiation.sellerSignature</td>
        </tr>
    }
</table>