@import controllers.actions.LoginState
@import models.master.{Asset, Organization, Trader}
@import views.companion.master.NegotiationRequest
@import views.html.base._

@(negotiationRequestForm: Form[NegotiationRequest.Data] = NegotiationRequest.form, tradableAssetList: Seq[Asset], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonForm(constants.Form.NEGOTIATION_REQUEST, negotiationRequestForm) {
    <div id="selectAsset">
        <div class="cmuk-text-left panelHeader">@Messages(constants.View.SELECT_ASSET)</div>
        <div class="cmuk-panel cmuk-panel-scrollable">
            <ul class="cmuk-list">
            @tradableAssetList.map { asset =>
                <li onclick="selectAsset('@asset.id', '@asset.description', '@Messages(asset.assetType)', '@Seq((asset.price/asset.quantity).toString, Messages(constants.View.USD), Messages(constants.View.PER), asset.quantityUnit).mkString(" ")', '@Seq(asset.price.toRoundedOffString(), Messages(constants.View.USD)).mkString(" ")', '@Seq(asset.quantity.toString, asset.quantityUnit).mkString(" ")', '@asset.otherDetails.shippingDetails.shippingPeriod','@asset.otherDetails.shippingDetails.portOfLoading','@asset.otherDetails.shippingDetails.portOfDischarge')">
                    @asset.description | @Messages(constants.View.STATUS): @Messages(asset.status)
                </li>
            }
            </ul>
        </div>
        @commonFormButton(constants.Form.ISSUE_ASSET)
        @commonInputText(negotiationRequestForm, constants.FormField.ASSET_ID, 'id -> "negotiationRequestAssetID", 'containerDivClass -> "hidden", 'readonly -> true)
        @commonTextInfo(constants.View.DESCRIPTION, "", 'id -> "selectedAssetDescription")
        @commonTextInfo(constants.View.ASSET_TYPE, "", 'id -> "selectedAssetType")
        @commonTextInfo(constants.View.PRICE_PER_UNIT, "", 'id -> "selectedAssetPricePerUnit")
        @commonTextInfo(constants.View.TOTAL_AMOUNT, "", 'id -> "selectedAssetTotalPrice")
        @commonTextInfo(constants.View.QUANTITY, "", 'id -> "selectedAssetQuantity")
        <div class="cmuk-text-left title">@Messages(constants.View.SHIPPING_DETAILS):</div>
        @commonTextInfo(constants.View.SHIPMENT_PERIOD, "", 'id -> "selectedAssetShipmentPeriod")
        @commonTextInfo(constants.View.PORT_OF_LOADING, "", 'id -> "selectedAssetPortOfLoading")
        @commonTextInfo(constants.View.PORT_OF_DISCHARGE, "", 'id -> "selectedAssetPortOfDischarge")
    </div>
    <div id="selectCounterParty" class="hidden">
        <div class="cmuk-text-left panelHeader">@Messages(constants.View.SELECT_COUNTER_PARTY)</div>
        <div class="cmuk-panel cmuk-panel-scrollable">
            <ul class="cmuk-list">
            @counterPartyTraderList.map { trader =>
                @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        <li onclick="selectCounterParty('@trader.id', '@trader.accountID', '@organization.name')">@trader.accountID
                            | @organization.name</li>
                    }
                    case None => {}
                }
            }
            </ul>
        </div>
        @commonFormButton(constants.Form.TRADER_RELATION_REQUEST, 'icon -> "plus")
        @commonInputText(negotiationRequestForm, constants.FormField.COUNTER_PARTY, 'id -> "negotiationRequestCounterParty", 'containerDivClass -> "hidden", 'readonly -> true)
        @commonTextInfo(constants.View.ACCOUNT_ID, "", 'id -> "selectedCounterPartyAccountID")
        @commonTextInfo(constants.View.ORGANIZATION_NAME, "", 'id -> "selectedCounterPartyOrganizationName")
    </div>
    @commonJavascriptButton(constants.View.BACK, JavaScript("showSelectAsset()"), 'id -> "showSelectAssetButton")
    @commonJavascriptButton(constants.View.NEXT, JavaScript("showSelectCounterParty()"), 'id -> "showSelectCounterPartyButton")
    <script src="@routes.Assets.versioned("javascripts/negotiationRequest.js")" type="text/javascript"></script>
}