@(mnemonic: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@import views.html.base._
<div class="MnemonicQuiz">
    <legend class="cmuk-legend cmuk-text-center">
        @Messages(constants.Form.PLEASE_BACKUP_THIS_MNEMONIC)
    </legend>
    <hr>
    <div class="cmuk-flex verifyMnemonic">@for((str, i) <- mnemonic.split(" ").zipWithIndex) {
        <div class="verifyMnemonicbutton">
            <input type="text" id="mnemonicElement-@i" name="mnemonicElement-@i" class="cmuk-input" value="@str" autocomplete="off" readonly>
        </div>
    }
    </div>
    <div class="mnemonicNote">
        <div><span class="mnemonicInfoIcon">@commonIcon("info-rounded")</span></div>
        <div class="mnemonicNoteText">
        @Messages(constants.View.MNEMONIC_NOTE)
        </div>
    </div>
    <div id="errorMnemonicInput" class="errorMnemonicInput">
    @Messages(constants.Form.INVALID_INPUT)
    </div>
    <button type="button" id="getMnemonic" class="cmuk-button buttonForm hidden" onclick="getMnemonic('@mnemonic','#getQuiz','#getMnemonic','#verifyMnemonic','#errorMnemonicInput')">@Messages(constants.View.BACK)</button>
    <button type="button" id="getQuiz" class="cmuk-button buttonForm" onclick="getQuiz('#getQuiz','#getMnemonic','#verifyMnemonic')">@Messages(constants.Form.MNEMONIC_NOTED)</button>
    <button type="button" id="verifyMnemonic" class="cmuk-button buttonForm hidden" onclick="verifyMnemonic('@mnemonic','#errorMnemonicInput')">@Messages(constants.Form.VERIFY)</button>
    <script src="@routes.Assets.versioned("javascripts/mnemonicQuiz.js")" type="text/javascript"></script>
</div>