@import helper._
@import views.companion.master.NoteNewKeyDetails
@import views.html.base._

@(noteNewKeyDetailsForm: Form[NoteNewKeyDetails.Data] = NoteNewKeyDetails.form, seed: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<span class="title">Please backup mnemonic</span><br/>
@Messages(constants.Form.SEED):
<div class="cmuk-flex verifyPassphrase">@for((str,i)<- seed.split(" ").zipWithIndex) {
    <div class="verifyPassphrasebutton">
    <span class="index">#@i</span>
    <span>@str</span>
    </div>
}
</div><br/>

@form(action = routes.AccountController.noteNewKeyDetails(seed), 'onkeypress -> "submitFormOnEnter(event,this)") {
    @CSRF.formField
    <div class="cmuk-flex">
    @commonCheckbox(noteNewKeyDetailsForm, constants.FormField.CONFIRM_NOTE_NEW_KEY_DETAILS)
    </div>
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="submitForm(this)">@Messages(constants.Form.NOTE_NEW_KEY_DETAILS)</button>
}
