@(notificationList: Seq[models.masterTransaction.Notification] = null, pageNumber: Int, limit: Int, unread: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/notifications.css")">
</head>
<li id="notificationContainer">
    <div id="notificationCounter"></div>
    <div id="notificationButton">N</div>
    <div id="notifications">
        <div id = "unread" data-value = @unread.toString()></div>
        <h3>Notifications</h3>
        <div id="notificationWindow">
            @if(notificationList != null) {
                @for(i <- 0 to (notificationList.length - 1)) {
                    @if(notificationList(i).read) {
                        <div id=@i class="element">
                            <div onclick="markNotificationAsRead(@i, '@notificationList(i).id')" >
                            </br>
                                @notificationList(i).notificationTitle + @notificationList(i).notificationMessage
                            </br>
                            </div>
                        </div>
                    } else {
                        <div id=@i class="element">
                            <div onclick="markNotificationAsRead(@i, '@notificationList(i).id')">
                            </br>
                                @notificationList(i).notificationTitle + @notificationList(i).notificationMessage
                            </br>
                            </div>
                        </div>
                    }
                }
            }
        <br>
        <div id="pageNumber"><h3>Page @pageNumber</h3></div>

        </div>
        <div id="seeAll" class="seeAll">
            @if(pageNumber != 1) {
                <div onclick="changeNotificationPage(@pageNumber-1)" class="previous"><h3>&laquo; Previous</h3></div>
            }
            @if(notificationList != null) {
                @if(notificationList.length == limit) {
                    <div onclick="changeNotificationPage(@pageNumber+1)" class="next"><h3>
                        Next &raquo;</h3></div>
                }
            }
        </div>
    </div>
</li>
<script src="@routes.Assets.versioned("javascripts/notificationWindow.js")" type="text/javascript"></script>
