@import controllers.actions.LoginState

@(notifications: Seq[models.masterTransaction.Notification] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
<div id="notificationContainer" class = "notificationContainer">
    @for(notification <- notifications) {
        <li class = "notification">
            <div @if(notification.read) {
                class="read"
            } else {
                onclick="markNotificationRead(this, '@notification.id')"
                }>
                <div><span class="cmuk-text-bolder">@Messages(notification.title)</span>@Messages(notification.message.header, notification.message.parameters)</div>
                <div class="notificationTime">@notification.createdOn @notification.timezone</div>
            </div>
        </li>
    }
<div class = "notification NotificationButton"> <a onclick="loadMoreNotifications()">@Messages(constants.Form.LOAD_MORE_NOTIFICATIONS)</a></div>
</div>