@import helper._

@(notificationList : Seq[models.masterTransaction.Notification]=null, pageNumber: Int, limit : Int, unread: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/class.css")">
    </head>
                <li class="notificationContainer" id="notificationContainer">
                    <div class="notificationCounter" id="notificationCounter"></div>
                    <div class="notificationButton" id="notificationButton">N</div>
                    <div class="notifications" id="notifications" style="display:none">
                        <div id = "unread" style="display: none" data-value = @unread.toString()></div>
                        <h3>Notifications</h3>
                        <div id="notificationWindow" style="height:500px;">
                            @if(notificationList != null){
                                @for(i <- 0 to (notificationList.length - 1)) {
                                @if(notificationList(i).read){
                                    <div id=@i class="element">
                                        <div onclick="markNotificationAsRead(@i,'@notificationList(i).id')" >
                                        </br>
                                            @notificationList(i).notificationTitle + @notificationList(i).notificationMessage
                                        </br>
                                        </div>
                                    </div>
                                }else{
                                    <div id=@i class="element" style="background-color:#80c846" >
                                        <div onclick="markNotificationAsRead(@i,'@notificationList(i).id')">
                                            </br>
                                            @notificationList(i).notificationTitle + @notificationList(i).notificationMessage
                                            </br>
                                        </div>
                                    </div>
                                }
                            }
                            }
                        <br>
                            <div class="pageNumber" id="pageNumber"><h3>Page @pageNumber</h3></div>

                        </div>
                        <div id="seeAll" class="seeAll">
                             @if(pageNumber!=1) { <div style="display: inline-block;cursor: pointer;" onclick="changeNotificationPage(@pageNumber-1)" class="previous"><h3>&laquo; Previous</h3></div> }
                             @if(notificationList != null) {
                                @if(notificationList.length == limit) {
                                    <div style="display: inline-block;cursor: pointer;" onclick="changeNotificationPage(@pageNumber+1)" class="next"><h3>Next &raquo;</h3></div>
                                }
                            }
                        </div>
                    </div>
                </li>
<script src="@routes.Assets.versioned("javascripts/notificationWindow.js")" type="text/javascript"></script>
