@import controllers.actions.LoginState
@import views.companion.master.OBLDetails
@import views.html.base._

@(oblDetailsForm: Form[OBLDetails.Data] = OBLDetails.form, id:String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@commonForm(constants.Form.OBL_DETAILS, oblDetailsForm) {
    @commonInputText(oblDetailsForm, constants.FormField.ID, 'value -> id, 'containerDivClass -> "hidden")
    @commonInputText(oblDetailsForm, constants.FormField.BILL_OF_LADING_NUMBER)
    @commonInputText(oblDetailsForm, constants.FormField.PORT_OF_LOADING)
    @commonInputText(oblDetailsForm, constants.FormField.SHIPPER_NAME)
    @commonInputText(oblDetailsForm, constants.FormField.SHIPPER_ADDRESS)
    @commonInputText(oblDetailsForm, constants.FormField.NOTIFY_PARTY_NAME)
    @commonInputText(oblDetailsForm, constants.FormField.NOTIFY_PARTY_ADDRESS)
    @commonInputDate(oblDetailsForm, constants.FormField.SHIPMENT_DATE)
    @commonSelect(oblDetailsForm, constants.FormField.DELIVERY_TERM)
    @commonInputInt(oblDetailsForm, constants.FormField.ASSET_QUANTITY)
    @commonInputInt(oblDetailsForm, constants.FormField.ASSET_PRICE)
}

