@import controllers.actions.LoginState
@import models.master.Classification
@import views.html.base._

@(classifications: Seq[Classification])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.ORDER_DEFINITIONS) {
    @commonFormButton(constants.Form.ORDER_DEFINE)
} {
    @classifications.map { classification =>
        @commonVerticalInfoBox() {
            @commonVerticalTextInfo(constants.View.CLASSIFICATION_ID, classification.id)
            @commonVerticalTextInfo(constants.View.LABEL, classification.label.getOrElse(""))
            @commonVerticalBooleanInfo(constants.View.STATUS, classification.status)
            @commonModalButton(constants.View.PROPERTIES, routes.javascript.ComponentViewController.entityProperties, 'parameters -> s"'${classification.id}', '${constants.Blockchain.Entity.ORDER_DEFINITION}'")
            @commonFormButton(constants.Form.ORDER_MAKE, 'parameters -> s"'${classification.id}'")
        }
    }
}