@import models.blockchain.Order

@(orders: Seq[Order])(implicit messagesProvider: MessagesProvider)

@for(order <- orders) {
    <div class="flexItem box colorCards">
        <div class="leftAlign">
            <span class="colorLeftText">@Messages(constants.Form.ID)</span> : @order.id <br>
            <span class="colorLeftText">@Messages(constants.Form.AWB_PROOF_HASH)</span> : @order.awbProofHash <br>
            <span class="colorLeftText">@Messages(constants.Form.FIAT_PROOF_HASH)</span> : @order.fiatProofHash <br>
        </div>
    </div>
}