@import controllers.actions.LoginState
@import models.blockchain.Order
@import views.html.base._
@(unModeratedBuyOrders: Seq[Order], unModeratedSellOrders: Seq[Order], moderatedOrders: Seq[Order])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
@for(unModeratedBuyOrder <- unModeratedBuyOrders) {
    <div>
    @commonCard(unModeratedBuyOrder.id) {
    } {
        <div>
            <div class="leftText">
                @commonTextInfo(constants.Form.ID, unModeratedBuyOrder.id)
                @commonTextInfo(constants.Form.AWB_PROOF_HASH, unModeratedBuyOrder.awbProofHash.getOrElse(constants.View.UNAVAILABLE))
                @commonTextInfo(constants.Form.FIAT_PROOF_HASH, unModeratedBuyOrder.fiatProofHash.getOrElse(constants.View.UNAVAILABLE))
                <div class="centerText" >
                @loginState.acl match {
                    case Some(acl) => {
                        @if(acl.buyerExecuteOrder) {
                            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.BuyerExecuteOrderController.buyerExecuteOrderDocument('@unModeratedBuyOrder.id'))">@Messages(constants.Form.BUYER_EXECUTE_ORDER.legend)</button>
                        } <br>
                        }
                    case _ => {}
                }
                </div>
            </div>
        </div>
    }
    </div>
}

@for(unModeratedSellOrder <- unModeratedSellOrders) {
    <div>
    @commonCard(unModeratedSellOrder.id) {
    } {
        <div>
            <div class="leftText">
                @commonTextInfo(constants.Form.ID, unModeratedSellOrder.id)
                @commonTextInfo(constants.Form.AWB_PROOF_HASH, unModeratedSellOrder.awbProofHash.getOrElse(constants.View.UNAVAILABLE))
                @commonTextInfo(constants.Form.FIAT_PROOF_HASH, unModeratedSellOrder.fiatProofHash.getOrElse(constants.View.UNAVAILABLE))
                <div class="centerText" >
                @loginState.acl match {
                    case Some(acl) => {
                        @if(acl.sellerExecuteOrder) {
                            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SellerExecuteOrderController.sellerExecuteOrderDocument('@unModeratedSellOrder.id'))">@Messages(constants.Form.SELLER_EXECUTE_ORDER.legend)</button>
                        } <br>}
                    case _ => {}
                }
                </div>
            </div>
        </div>
    }
    </div>
}
@for(moderatedOrder <- moderatedOrders) {
    <div>
    @commonCard(moderatedOrder.id) {
    } {
        <div>
            <div class="leftText">
                @commonTextInfo(constants.Form.ID, moderatedOrder.id)
                @commonTextInfo(constants.Form.AWB_PROOF_HASH, moderatedOrder.awbProofHash.getOrElse(constants.View.UNAVAILABLE))
                @commonTextInfo(constants.Form.FIAT_PROOF_HASH, moderatedOrder.fiatProofHash.getOrElse(constants.View.UNAVAILABLE))
            </div>
        </div>
    }
    </div>
}
    </div>
</div>