@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.SEND_FIAT_REQUESTS) {
}{
    @commonHorizontalSwitcher(ListMap(
        constants.View.PENDING_SEND_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.organizationViewPendingSendFiatRequestList,
        constants.View.COMPLETE_SEND_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.organizationViewCompleteSendFiatRequestList,
        constants.View.FAILED_SEND_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.organizationViewFailedSendFiatRequestList,
    ))
}
