@import controllers.actions.LoginState
@import helper._
@import views.companion.master.OrganizationBankAccountDetail
@import views.html.base._

@(organizationBankAccountDetailForm: Form[OrganizationBankAccountDetail.Data] = OrganizationBankAccountDetail.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@commonForm(constants.Form.ORGANIZATION_BANK_ACCOUNT_DETAIL, organizationBankAccountDetailForm) {
    @inputText(organizationBankAccountDetailForm(constants.FormField.ACCOUNT_HOLDER_NAME.name), '_label -> Messages(constants.FormField.ACCOUNT_HOLDER_NAME.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.ACCOUNT_HOLDER_NAME.name), 'required -> true)
    @inputText(organizationBankAccountDetailForm(constants.FormField.NICK_NAME.name), '_label -> Messages(constants.FormField.NICK_NAME.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.NICK_NAME.name), 'required -> true)
    @inputText(organizationBankAccountDetailForm(constants.FormField.ACCOUNT_NUMBER.name), '_label -> Messages(constants.FormField.ACCOUNT_NUMBER.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.ACCOUNT_NUMBER.name), 'required -> true)
    @inputText(organizationBankAccountDetailForm(constants.FormField.BANK_NAME.name), '_label -> Messages(constants.FormField.BANK_NAME.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.BANK_NAME.name), 'required -> true)
    @inputText(organizationBankAccountDetailForm(constants.FormField.SWIFT_CODE.name), '_label -> Messages(constants.FormField.SWIFT_CODE.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.SWIFT_CODE.name), 'required -> true)
    @inputText(organizationBankAccountDetailForm(constants.FormField.ADDRESS.name), '_label -> Messages(constants.FormField.ADDRESS.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.ADDRESS.name), 'required -> true)
    @inputText(organizationBankAccountDetailForm(constants.FormField.COUNTRY.name), '_label -> Messages(constants.FormField.COUNTRY.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.COUNTRY.name), 'required -> true)
    @inputText(organizationBankAccountDetailForm(constants.FormField.ZIP_CODE.name), '_label -> Messages(constants.FormField.ZIP_CODE.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.ZIP_CODE.name), 'required -> true)
    <button type="button" class="btn-sm btn btn-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userUpdateUBOsForm())">@Messages(constants.Form.BACK)</button>
}