@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(sentNegotiationRequestList: Seq[Negotiation], traderList: Seq[Trader], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList:Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@sentNegotiationRequestList.map { sentNegotiationRequest =>
    <li class="commonList">
        @traderList.find(_.id == sentNegotiationRequest.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.SELLER_TRADER_NAME, trader.name)
            }
            case None => {
                @commonTextInfo(constants.View.SELLER_TRADER_ID, sentNegotiationRequest.buyerTraderID)
            }
        }

        @counterPartyTraderList.find(_.id == sentNegotiationRequest.buyerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @assetList.find(_.id == sentNegotiationRequest.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonTextInfo(constants.View.ASSET_DESCRIPTION, sentNegotiationRequest.assetDescription)
        @commonVerticalIntInfo(constants.View.PRICE, sentNegotiationRequest.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(sentNegotiationRequest.quantity.toString, sentNegotiationRequest.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, sentNegotiationRequest.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, sentNegotiationRequest.assetOtherDetails.shippingDetails.portOfDischarge)
        @commonVerticalTextInfo(constants.View.STATUS, sentNegotiationRequest.status)
}
</li>
