@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Trader

@(acceptedTraders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@acceptedTraders.map { trader =>
    @commonInfoBox() {
        @commonTextInfo(constants.View.TRADER_ID, trader.id)
        @commonTextInfo(constants.View.NAME, trader.name)
        @commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
        @commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.organizationViewAcceptedTraderAccountDetails, 'parameters -> s"'${trader.id}'")
        @commonFormButton(constants.Form.MODIFY_TRADER, 'parameters -> s"'${trader.accountID}'")
    }
}