@import controllers.actions.LoginState
@import models.master.Trader
@import views.html.base._
@import models.master.TraderKYC

@(trader: Trader, traderKYCs: Seq[TraderKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.TRADER_REQUEST): @trader.id
</legend>
<hr>
@commonTextInfo(constants.View.ORGANIZATION_ID, trader.organizationID)
@commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
@commonTextInfo(constants.View.NAME, trader.name)
<br>
@Messages(constants.Form.DOCUMENTS):
@traderKYCs.map{traderKYC =>
    @component.master.commonDocumentViewer(traderKYC) {
        @routes.FileController.organizationAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)
    } {
        <a href="@routes.FileController.organizationAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)">@Messages(traderKYC.documentType)</a>
    } {
        @views.html.component.master.updateTraderKYCDocumentOrganizationStatus(traderKYC = traderKYC)
        @commonBooleanInfo(constants.View.ZONE_STATUS, traderKYC.zoneStatus)
    }
}
<br>
@Messages(constants.View.PLEASE_APPROVE_ALL_KYC_DOCUMENTS)
@commonFormButton(constants.Form.ORGANIZATION_VERIFY_TRADER, 'class -> "cmuk-button-success cmuk-button-small", 'parameters -> s"'${trader.id}'")
@commonFormButton(constants.Form.ORGANIZATION_REJECT_TRADER_REQUEST, 'class -> "cmuk-button-danger cmuk-button-small", 'parameters -> s"'${trader.id}'")