@import controllers.actions.LoginState
@import models.master.Trader
@import views.html.base._
@(traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-grid-expand cmuk-width-auto cmuk-grid-match" cmuk-grid>
        @if(traders.length == 0){

                <span>no traders</span>
        }
@for(trader <- traders) {
    <div>
        @commonCard(trader.name){
        }{
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.TRADER_ID)</div>
                <div class="infoRowValue">@trader.id</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.NAME)</div>
                <div class="infoRowValue">@trader.name</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.ACCOUNT_ID)</div>
                <div class="infoRowValue">@trader.accountID</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.COMPLETION_STATUS)</div>
                <div class="infoRowValue">@trader.completionStatus</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.VERIFIED_STATUS)</div>
                <div class="infoRowValue">@trader.verificationStatus.getOrElse(Messages(constants.View.PENDING))</div>
            </div>

        @if(trader.verificationStatus.getOrElse(false)) {
            <div class="centerText ">
                <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.ComponentViewController.organizationViewTrader('@trader.id'))">@Messages(constants.Form.VIEW)</button>
                <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.SetACLController.organizationModifyTraderForm('@trader.accountID'))">@Messages(constants.Form.MODIFY_TRADER.legend)</button>
            </div>
        }
        }
    </div>

}
    </div>
</div>

