@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization
@import models.master.Zone
@import models.master.OrganizationKYC
@import views.html.component.master.commonDocumentViewer

@import views.html.component.master.streetAddress
@(organizationZone: Zone, organization: Organization, organizationKYCs: Seq[OrganizationKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.ORGANIZATION_DETAILS, 'cardIconPath -> "images/icons/icons.svg#organizationDetails") {
} {
    <div>
        @commonInfoBox() {
            <div class="title"> <span>@Messages(constants.View.ORGANIZATION_DETAILS)</span></div>
            @commonTextInfo(constants.View.NAME, organization.name)
            @commonTextInfo(constants.View.ABBREVIATION, organization.abbreviation.getOrElse(""))
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel">
                @Messages(constants.View.ORGANIZATION_ID)
                </div>
                <div class="infoRowValue textOverflowCopy">
                    <p>@Messages(organization.id)
                    </p>
                    @commonCopyText("traderViewOrganizationId", organization.id)
                </div>
            </div>
            @commonDateInfo(constants.View.ESTABLISHMENT_DATE, organization.establishmentDate)
            @commonBooleanInfo(constants.View.VERIFIED_STATUS, organization.verificationStatus)
        }
        @commonInfoBox() {
            <div class="title"><span>@Messages(constants.View.REGISTERED_ADDRESS):</span></div>
            @streetAddress(organization.registeredAddress)
        }
        @commonInfoBox() {
            <div class="title"><span>@Messages(constants.View.POSTAL_ADDRESS):</span></div>
            @streetAddress(organization.postalAddress)
        }

        @commonInfoBox() {
            <div class="title"><span>@Messages(constants.View.ORGANIZATION_DOCUMENTS)</span></div>
            @for(organizationKYC <- organizationKYCs) {
                @commonDocumentViewer(organizationKYC) {
                    @routes.FileController.file(organizationKYC.fileName, organizationKYC.documentType)
                } {
                    <a href="@routes.FileController.file(organizationKYC.fileName, organizationKYC.documentType)" target="_blank">@Messages(organizationKYC.documentType)</a>
                } {

                }
            }
        }

        @commonInfoBox() {
            <div class="title"><span>@Messages(constants.View.ZONE_DETAILS)</span></div>
            @commonTextInfo(constants.View.ZONE_NAME, organizationZone.name)
            @commonTextInfo(constants.View.CURRENCY, organizationZone.currency)
            @commonTextInfo(constants.View.ZONE_ID, organizationZone.id)
        }
    </div>
}
