@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.VerifyTrader
@import models.master.Trader

@(verifyTraderForm: Form[VerifyTrader.Data] = VerifyTrader.form, trader: Trader)( implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ORGANIZATION_VERIFY_TRADER, verifyTraderForm) {
    <div class="modalInnerContainer">
        <div class="sides">
        @commonTextInfo(constants.View.NAME, trader.name)
        @commonInputText(verifyTraderForm, constants.FormField.ACCOUNT_ID, 'readonly -> true, 'value -> trader.accountID)
        @commonInputText(verifyTraderForm, constants.FormField.ORGANIZATION_ID, 'readonly -> true, 'value -> trader.organizationID)
        @commonCheckbox(verifyTraderForm, constants.FormField.ISSUE_ASSET, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.ISSUE_FIAT, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.SEND_ASSET, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.SEND_FIAT, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.REDEEM_ASSET, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.REDEEM_FIAT, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.SELLER_EXECUTE_ORDER, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.BUYER_EXECUTE_ORDER, 'checked -> true)
        </div>
        <div class="sides">
            <div class="innerSideRight">
        @commonCheckbox(verifyTraderForm, constants.FormField.CHANGE_BUYER_BID, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.CHANGE_SELLER_BID, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.CONFIRM_BUYER_BID, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.CONFIRM_SELLER_BID, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.NEGOTIATION, 'checked -> true)
        @commonCheckbox(verifyTraderForm, constants.FormField.RELEASE_ASSET, 'checked -> true)
        @commonInputInt(verifyTraderForm, constants.FormField.GAS)
        @commonInputPassword(verifyTraderForm, constants.FormField.PASSWORD)
        </div>
        </div>
    </div>
    @commonModalButton(constants.View.BACK, routes.javascript.ComponentViewController.organizationViewPendingTraderRequest, 'parameters -> s"'${trader.id}'")
}
