@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Asset, Negotiation}


@(negotiation: Negotiation, asset: Asset)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id='@Seq(negotiation.id, "TermsView").mkString("")'>
    <div class="tradeTerms">
        <div class="traderCommodity">
            <span class="commodityImage">@asset.assetType.mkString.substring(0, 1)</span><span class="tradeName">@asset.assetType</span>
        </div>
        <div class="terms">
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_DETAILS)</div>

            </div>

            <div class="sellerTerm">
                @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
                <div>
                @if(negotiation.buyerAcceptedAssetDescription){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonIntInfo(constants.View.PRICE, negotiation.price)
                <div>
                @if(negotiation.buyerAcceptedPrice){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity, negotiation.quantityUnit).mkString(" "))
                <div>
                @if(negotiation.buyerAcceptedQuantity){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                <div>
                @if(negotiation.buyerAcceptedAssetOtherDetails){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
            @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
            </div>
            <div class="sellerTerm">
            @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.PAYMENT_TERMS)</div>

            </div>
            <div class="sellerTerm">
                @commonBooleanInfo(constants.View.ADVANCE_PAYMENT, Option(negotiation.paymentTerms.advancePayment))
                @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage.getOrElse(0.0))
                @commonBooleanInfo(constants.View.CREDIT, Option(negotiation.paymentTerms.credit))
                @if(negotiation.paymentTerms.tentativeDate.isEmpty) {
                    <p>@Messages(constants.View.TENURE)
                        - <span class="cmuk-text-bold">@negotiation.paymentTerms.tenure.getOrElse(0)
                            Days</span></p>
                    <p>@Messages(constants.View.REFERENCE)
                        - <span class="cmuk-text-bold">@negotiation.paymentTerms.reference.getOrElse("")</span></p>
                } else {
                    <p>@Messages(constants.View.TENTATIVE_DATE) - <span class="cmuk-text-bold">
                    @negotiation.paymentTerms.tentativeDate match {
                        case Some(date) => {
                            @date
                        }
                        case None => {}
                    }
                    </span></p>
                }
                <div>
                @if(negotiation.buyerAcceptedPaymentTerms){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title"> @Messages(constants.View.DOCUMENT_LIST)</div>
            </div>
            @*  <div class="sellerTerm">
            @commonBooleanInfo(constants.View.BILL_OF_EXCHANGE_REQUIRED, Option(negotiation.documentsCheckList.billOfExchangeRequired.getOrElse(false)))
            <div>
            @if(negotiation.buyerAcceptedDocumentsCheckList.billOfExchangeRequired){
            @Messages(constants.View.ACCEPTED)
            } else{
            @Messages(constants.View.PENDING)
            }
            </div>
            </div>*@
            @*<div class="sellerTerm">
            @if(negotiation.documentsCheckList.obl.getOrElse(false)) {
            @Messages(constants.View.OBL)
            }
            @if(negotiation.documentsCheckList.coo.getOrElse(false)) {
            @Messages(constants.View.COO)
            }
            @if(negotiation.documentsCheckList.coa.getOrElse(false)) {
            @Messages(constants.View.COA)
            }
            @negotiation.documentsCheckList.otherDocuments match{
            case Some(documents)=>{
            @commonTextInfo(constants.View.OTHER_DOCUMENTS, documents)
            }
            case None=>{}
            }
            <div>
            @if(negotiation.buyerAcceptedDocumentsCheckList.documentList){
            @Messages(constants.View.ACCEPTED)
            } else{
            @Messages(constants.View.PENDING)
            }
            </div>
            </div>*@

            </div>
        </div>
    </div>
