@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(buyNegotiationList: Seq[Negotiation], traderList: Seq[Trader], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div class="salesQuoteCard">
    @buyNegotiationList.map { buyNegotiation =>
        @commonVerticalInfoBox() {
            <div class="salesQuoteCardLeft salesChild">
                <div class="content">
                @assetList.find(_.id == buyNegotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                        </div>
                        <div class="assetInitialData">
                            <p class="assetTitle">@asset.assetType</p>
                            <p class="assetQuantity">@Seq(buyNegotiation.quantity.toString, buyNegotiation.quantityUnit).mkString(" ")</p>
                            <p class="assetPrice">@buyNegotiation.price</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">

                @counterPartyTraderList.find(_.id == buyNegotiation.sellerTraderID) match {
                    case Some(trader) => {
                        @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                            case Some(organization) => {
                                <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span> </p>
                            }
                            case None => {}
                        }
                        <p><span cmuk-tooltip="@Messages(constants.View.SELLER)"> @trader.name</span>
                            <span class="lines">---</span>
                    }
                    case None => {}
                }

                @traderList.find(_.id == buyNegotiation.buyerTraderID) match {
                    case Some(trader) => {
                        <span cmuk-tooltip="@Messages(constants.View.BUYER)">@trader.name</span></>
                    }
                    case None => {
                        <span>@buyNegotiation.buyerTraderID</span></p>
                    }
                }
                <p><span>@buyNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span>
                    <span class="lines">---</span>
                    <span class="arrowIcon">@commonIcon("rounded-right-arrow")</span>
                    <span class="lines">---</span>
                    <span>@buyNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
            </div>
            <div class="salesQuoteCardRight salesChild">
            @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(buyNegotiation.id), 'class -> "cmuk-button buttonForm")
            </div>

        }
    }
</div>
