@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.SALES_QUOTE_LIST) {
} {
    @commonHorizontalSwitcher(ListMap(
        constants.View.SENT_NEGOTIATION_REQUEST_LIST -> routes.javascript.ComponentViewController.organizationViewSentNegotiationRequestList,
        constants.View.RECEIVED_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.organizationViewReceivedNegotiationList,
        constants.View.INCOMPLETE_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.organizationViewIncompleteNegotiationList,
        constants.View.REJECTED_OR_FAILED_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.organizationViewRejectedAndFailedNegotiationList,
    ))
    <button class="viewMore"></button>
}