@import controllers.actions.LoginState
@import views.html.base._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.TRADERS) {
    @commonFormButton(constants.Form.INVITE_TRADER)
}{
    @commonHorizontalSwitcher(jsRouteItems = Map(
        constants.View.ORGANIZATION_VIEW_ACCEPTED_TRADER_REQUESTS -> routes.javascript.ComponentViewController.organizationViewAcceptedTraderAccountsList,
        constants.View.ORGANIZATION_VIEW_PENDING_TRADER_REQUESTS -> routes.javascript.ComponentViewController.organizationViewPendingTraderRequestsList,
        constants.View.ORGANIZATION_VIEW_REJECTED_TRADER_REQUESTS -> routes.javascript.ComponentViewController.organizationViewRejectedTraderRequestsList,
    ))
}
