@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(rejectedReceivedNegotiationList: Seq[Negotiation], rejectedSentNegotiationList: Seq[Negotiation], failedNegotiationList: Seq[Negotiation], traderList: Seq[Trader], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList:Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)


<div class="cmuk-text-left title">@Messages(constants.View.REJECTED_RECEIVED_NEGOTIATION_LIST)</div>
@rejectedReceivedNegotiationList.map { rejectedReceivedNegotiation =>
    <li class="commonList">
        @traderList.find(_.id == rejectedReceivedNegotiation.buyerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.BUYER_TRADER_NAME, trader.name)
            }
            case None => {
                @commonTextInfo(constants.View.BUYER_TRADER_ID, rejectedReceivedNegotiation.buyerTraderID)
            }
        }

        @counterPartyTraderList.find(_.id == rejectedReceivedNegotiation.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @assetList.find(_.id == rejectedReceivedNegotiation.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonTextInfo(constants.View.ASSET_DESCRIPTION, rejectedReceivedNegotiation.assetDescription)
        @commonVerticalIntInfo(constants.View.PRICE, rejectedReceivedNegotiation.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(rejectedReceivedNegotiation.quantity.toString, rejectedReceivedNegotiation.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, rejectedReceivedNegotiation.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, rejectedReceivedNegotiation.assetOtherDetails.shippingDetails.portOfDischarge)
        @commonVerticalTextInfo(constants.View.COMMENT, rejectedReceivedNegotiation.comment.getOrElse(""))
    </li>
}
<div class="cmuk-text-left title">@Messages(constants.View.REJECTED_SENT_NEGOTIATION_LIST)</div>
@rejectedSentNegotiationList.map { rejectedSentNegotiation =>
    <li class="commonList">
        @traderList.find(_.id == rejectedSentNegotiation.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.SELLER_TRADER_NAME, trader.name)
            }
            case None => {
                @commonTextInfo(constants.View.SELLER_TRADER_ID, rejectedSentNegotiation.buyerTraderID)
            }
        }

        @counterPartyTraderList.find(_.id == rejectedSentNegotiation.buyerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @assetList.find(_.id == rejectedSentNegotiation.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonTextInfo(constants.View.ASSET_DESCRIPTION, rejectedSentNegotiation.assetDescription)
        @commonVerticalIntInfo(constants.View.PRICE, rejectedSentNegotiation.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(rejectedSentNegotiation.quantity.toString, rejectedSentNegotiation.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, rejectedSentNegotiation.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, rejectedSentNegotiation.assetOtherDetails.shippingDetails.portOfDischarge)
        @commonVerticalTextInfo(constants.View.COMMENT, rejectedSentNegotiation.comment.getOrElse(""))
    </li>
}
<div class="cmuk-text-left title">@Messages(constants.View.FAILED_NEGOTIATION_LIST)</div>
@failedNegotiationList.map { failedNegotiation =>
    <li class="commonList">
        @traderList.find(_.id == failedNegotiation.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.SELLER_TRADER_NAME, trader.name)
            }
            case None => {
                @commonTextInfo(constants.View.SELLER_TRADER_ID, failedNegotiation.buyerTraderID)
            }
        }

        @counterPartyTraderList.find(_.id == failedNegotiation.buyerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @assetList.find(_.id == failedNegotiation.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonTextInfo(constants.View.ASSET_DESCRIPTION, failedNegotiation.assetDescription)
        @commonVerticalIntInfo(constants.View.PRICE, failedNegotiation.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(failedNegotiation.quantity.toString, failedNegotiation.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, failedNegotiation.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, failedNegotiation.assetOtherDetails.shippingDetails.portOfDischarge)
        @commonVerticalTextInfo(constants.View.STATUS, failedNegotiation.status)
    </li>
}
