@import controllers.actions.LoginState
@import models.master.Trader
@import views.companion.master.VerifyTrader
@import views.html.base._

@(verifyTraderForm: Form[VerifyTrader.Data] = VerifyTrader.form, trader: Trader)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ORGANIZATION_VERIFY_TRADER, verifyTraderForm) {
    @commonInputText(verifyTraderForm, constants.FormField.ACCOUNT_ID, 'readonly -> true, 'value -> trader.accountID)
    @commonInputText(verifyTraderForm, constants.FormField.ORGANIZATION_ID, 'readonly -> true, 'value -> trader.organizationID)
    @commonInputMicroNumber(verifyTraderForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(verifyTraderForm, constants.FormField.PASSWORD)
    @commonModalButton(constants.View.BACK, routes.javascript.ComponentViewController.organizationViewPendingTraderRequest, 'class -> "cmuk-margin-top buttonPrimary", 'parameters -> s"'${trader.id}'")
}
