@import controllers.actions.LoginState
@import models.master.TraderKYC
@import views.html.base._

@(traderKYCs: Seq[TraderKYC])( implicit requestHeader: RequestHeader, flash: Flash, messagesProvider: MessagesProvider, loginState: LoginState = null)
@for(traderKYC <- traderKYCs) {
    @component.master.commonDocumentViewer(traderKYC) {
        @routes.FileController.organizationAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)
    } {
        <a href="@routes.FileController.organizationAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)">@Messages(traderKYC.documentType)</a>
    } {
        <div>
            @views.html.component.master.updateTraderKYCDocumentOrganizationStatus(traderKYC = traderKYC)
        </div>
        <br>
        @commonBooleanInfo(constants.View.ZONE_STATUS, traderKYC.zoneStatus)
    }
}