@import controllers.actions.LoginState
@import models.master.Trader

@(traderVerificationRequests: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@for(traderVerificationRequest <- traderVerificationRequests) {
    <div class="col-md-4">
        <div class="flexItem card-body leftText lightBlue documenet_details_card">
            <span class="red">@Messages(constants.Form.ZONE_ID)</span>: @traderVerificationRequest.zoneID <br>
            <span class="red">@Messages(constants.Form.ORGANIZATION_ID)</span>: @traderVerificationRequest.organizationID <br>
            <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span>: @traderVerificationRequest.accountID <br>
            <span class="red">@Messages(constants.Form.NAME)</span>: @traderVerificationRequest.name <br>
            <span class="red">@Messages(constants.Form.DOCUMENTS)</span>: <br>
            <span id = "kycDocuments@traderVerificationRequest.accountID">
                <script>componentResource('kycDocuments@traderVerificationRequest.accountID', jsRoutes.controllers.SetACLController.organizationViewKYCDocuments('@traderVerificationRequest.id'))</script>
            </span><br>
          <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="getForm(jsRoutes.controllers.SetACLController.organizationVerifyTraderForm('@traderVerificationRequest.accountID', '@traderVerificationRequest.organizationID'))">@Messages(constants.Form.APPROVE)</button>
          <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="getForm(jsRoutes.controllers.SetACLController.organizationRejectVerifyTraderRequestForm('@traderVerificationRequest.id'))">@Messages(constants.Form.REJECT)</button>
        </div>
    </div>
}