@import controllers.actions.LoginState
@import models.master.Trader
@import views.html.base._

@(trader: Trader)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.TRADER_REQUEST): @trader.id
</legend>
<hr>
<div class="modalInfoBlock">
@commonTextInfo(constants.View.ORGANIZATION_ID, trader.organizationID)
@commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
@commonFormButton(constants.Form.ORGANIZATION_VERIFY_TRADER, 'class -> "cmuk-button-success cmuk-button-small", 'parameters -> s"'${trader.id}'")
@commonFormButton(constants.Form.ORGANIZATION_REJECT_TRADER_REQUEST, 'class -> "cmuk-button-danger cmuk-button-small", 'parameters -> s"'${trader.id}'")
    <br>
    @commonFormButton(constants.Form.DEPUTIZE_TRADER, 'parameters -> s"'${trader.id}'")
</div>