@import models.master.Organization

@(username: String, address: String, coins: Int = 0, organization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

@common(Messages(constants.User.HOME)) {
    <div class="flexContainer">
        @component.master.commonHome(username = username, userType = constants.User.ORGANIZATION, address = address, coins = coins)
        <div class="flexItem box leftAlign">
            <h2>@Messages(constants.Form.ORGANIZATION)</h2>
            @Messages(constants.Form.ORGANIZATION_NAME): @organization.name <br>
            @Messages(constants.Form.ORGANIZATION_ID): @organization.id <br>
            @Messages(constants.Form.ORGANIZATION_USERNAME): @organization.accountID <br>
            @Messages(constants.Form.ADDRESS): @organization.address <br>
            @Messages(constants.Form.PHONE): @organization.phone <br>
            @Messages(constants.Form.EMAIL): @organization.email <br>
            @Messages(constants.Form.VERIFIED_STATUS): @organization.status <br>
        </div>
    </div>
    <div class="centerText">
        <button onclick="getForm(jsRoutes.controllers.FileController.updateForm('@constants.File.BANK_DETAILS', '@constants.User.ORGANIZATION', '@constants.User.ORGANIZATION'))">@Messages(constants.Form.UPDATE_ORGANIZATION_BANK_DETAILS)</button>
        <button onclick="getForm(jsRoutes.controllers.FileController.updateForm('@constants.File.IDENTIFICATION', '@constants.User.ORGANIZATION', '@constants.User.ORGANIZATION'))">@Messages(constants.Form.UPDATE_ORGANIZATION_IDENTIFICATION)</button>
    </div>
}