@import controllers.actions.LoginState
import models.master.Organization

@(organization: Organization)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
@Messages(constants.Form.ORGANIZATION_NAME): @organization.name <br>
@Messages(constants.Form.ORGANIZATION_ID): @organization.id <br>
@Messages(constants.Form.ORGANIZATION_USERNAME): @organization.accountID <br>
@Messages(constants.Form.ESTABLISHMENT_DATE): @organization.establishmentDate <br>
@Messages(constants.Form.EMAIL): @organization.email <br>
@Messages(constants.Form.VERIFIED_STATUS): @organization.verificationStatus <br>
