@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Trader

@(trader: Trader)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.TRADER): @trader.id
</legend>
<hr>
@commonTextInfo(constants.View.TRADER_ID, trader.id)
@commonTextInfo(constants.View.NAME, trader.name)
@commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
@commonFormButton(constants.Form.MODIFY_TRADER, 'parameters -> s"'${trader.accountID}'")