@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile

@(id:String, files: Seq[NegotiationFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<script src="@routes.Assets.versioned("javascripts/switchTab.js")" type="text/javascript"></script>
@for(file<- files){
    <div>
        <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS','1', jsRoutes.controllers.ComponentViewController.organizationViewNegotiationFile('@file.id', '@file.documentType'))">@Messages(file.documentType)</a>
        @file.documentType match{
            case constants.File.OBL | constants.File.INVOICE=> {<td class="seenIcon"><img src="@routes.Assets.versioned("./images/icons/seenIcon.svg")" onclick="getForm(jsRoutes.controllers.NegotiationController.negotiationDocumentContent('@id','@file.documentType'))")></td>}
            case _=>{}
        }
    </div>
}
