@import controllers.actions.LoginState
@import models.master.Trader
@import models.westernUnion.{FiatRequest, RTCB}
@import views.html.base._
@(traderList: Seq[Trader], fiatRequestList: Seq[FiatRequest], rtcbList: Seq[RTCB])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.FIAT_TRANSACTIONS,  'cardIconPath -> "images/icons/icons.svg#fundDeposits") {
} {
    @fiatRequestList.map { fiatRequest =>
        @commonVerticalInfoBox() {
            @commonVerticalTextInfo(constants.View.REQUEST_ID, fiatRequest.id)

            @traderList.find(_.id == fiatRequest.traderID) match {
                case Some(trader) => {
                    @commonVerticalTextInfo(constants.View.TRADER, trader.accountID)
                }
                case None => {}
            }

            @commonVerticalMicroNumberInfo(constants.View.AMOUNT_REQUESTED, fiatRequest.transactionAmount)
            @if(fiatRequest.status == constants.Status.IssueFiat.REQUEST_INITIATED) {
                @commonVerticalTextInfo(constants.View.STATUS, fiatRequest.status)
            } else {
                @rtcbList.find(_.externalReference == fiatRequest.id) match {
                    case Some(rtcb) => {
                        @commonVerticalTextInfo(constants.View.STATUS, fiatRequest.status)
                        @commonVerticalMicroNumberInfo(constants.View.AMOUNT_RECEIVED, rtcb.paidOutAmount)
                    }
                    case None => {}

                }
            }
        }
    }
    <button class="viewMore"></button>
}
