@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Trader

@(pendingTraderRequests: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@pendingTraderRequests.map { trader =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.TRADER_ID, trader.id)
        @commonVerticalTextInfo(constants.View.NAME, trader.name)
        @commonVerticalTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
            @commonModalButton(constants.View.VIEW_REQUEST, routes.javascript.ComponentViewController.organizationViewPendingTraderRequest, 'parameters -> s"'${trader.id}'")
            </p>
        </div>
    }
}