@import controllers.actions.LoginState
@import models.master.Trader
@import views.html.base._

@(trader: Trader)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.TRADER): @trader.id
</legend>
<hr>
<div class="modalInfoBlock">
@commonTextInfo(constants.View.TRADER_ID, trader.id)
@commonTextInfo(constants.View.NAME, trader.name)
@commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
</div>