@import controllers.actions.LoginState
@import models.blockchain.{Asset, Fiat, Negotiation, Order, TraderFeedbackHistory}
@import models.master.Trader
@import views.html.base._

@(trader: Trader, assets: Seq[Asset], fiats: Seq[Fiat], buyOrders: Seq[Order], sellOrders: Seq[Order], buyNegotiations: Seq[Negotiation], sellNegotiations: Seq[Negotiation], traderFeedbackHistories: Seq[TraderFeedbackHistory])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<h4>@Messages(constants.Form.TRADER_DETAILS)</h4>
<div id="traderDetails@trader.id">
    @commonTextInfo(constants.Form.TRADER_ID, trader.id)
    @commonTextInfo(constants.Form.NAME, trader.name)
    @commonTextInfo(constants.Form.ACCOUNT_ID, trader.accountID)
    @commonBooleanInfo(constants.Form.VERIFIED_STATUS, Option(trader.verificationStatus))
    @commonTextInfo(constants.Form.TRADER_ID, trader.id)
    @commonTextInfo(constants.Form.TRADER_ID, trader.id)
    @commonIntInfo(constants.Form.RATING, traderFeedbackHistories.map(_.rating.toInt).sum)
</div>

@if(trader.verificationStatus.getOrElse(false)) {
    <div id = "traderAssetDetails@trader.id">
        <h4>@Messages(constants.Form.ASSETS)</h4>
        @for(asset <- assets) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    @commonTextInfo(constants.Form.PEG_HASH, asset.pegHash)
                    @commonTextInfo(constants.Form.DOCUMENT_HASH, asset.documentHash)
                    @commonTextInfo(constants.Form.ASSET_TYPE, asset.assetType)
                    @commonTextInfo(constants.Form.ASSET_QUANTITY, asset.assetQuantity)
                    @commonTextInfo(constants.Form.ASSET_PRICE, asset.assetPrice)
                    @commonTextInfo(constants.Form.QUANTITY_UNIT, asset.quantityUnit)
                    @commonBooleanInfo(constants.Form.MODERATED, Option(asset.moderated))
                    @commonTextInfo(constants.Form.TAKER_ADDRESS, asset.takerAddress.getOrElse(""))
                    @commonBooleanInfo(constants.Form.LOCKED, Option(asset.locked))
                </div>
            </div>
        }
    </div>

    <div id="traderFiatDetail">
        <h4>@Messages(constants.Form.TOTAL_FIATS): @fiats.map(_.transactionAmount.toInt).sum.toString</h4>
        @for(fiat <- fiats) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    @commonTextInfo(constants.Form.PEG_HASH, fiat.pegHash)
                    @commonTextInfo(constants.Form.TRANSACTION_ID, fiat.transactionID)
                    @commonTextInfo(constants.Form.TRANSACTION_AMOUNT, fiat.transactionAmount)
                    @commonTextInfo(constants.Form.REDEEM_AMOUNT, fiat.redeemedAmount)
                </div>
            </div>
        }
    </div>

    <div id="traderNegotiationDetails@trader.id">
        <h4>@Messages(constants.Form.ON_GOING_BUY_NEGOTIATIONS): </h4>
        @for(buyNegotiation <- buyNegotiations) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    @commonTextInfo(constants.Form.PEG_HASH, buyNegotiation.assetPegHash)
                    @commonTextInfo(constants.Form.BID, buyNegotiation.bid)
                    @commonTextInfo(constants.Form.TIME, buyNegotiation.time)
                    <button type="button" class="cmuk-button cmuk-button-primary" onclick="showHideByID('traderBuyNegotiationDetails@trader.id')">@Messages(constants.Form.SHOW_HIDE)</button>
                    <div class="hidden" id="traderBuyNegotiationDetails@trader.id">
                        @commonTextInfo(constants.Form.BUYER_ADDRESS, buyNegotiation.buyerAddress)
                        @commonTextInfo(constants.Form.SELLER_ADDRESS, buyNegotiation.sellerAddress)
                        @commonTextInfo(constants.Form.NEGOTIATION_ID, buyNegotiation.id)
                        @commonTextInfo(constants.Form.BUYER_SIGNATURE, buyNegotiation.buyerSignature.getOrElse(""))
                        @commonTextInfo(constants.Form.SELLER_SIGNATURE, buyNegotiation.sellerSignature.getOrElse(""))
                        @commonTextInfo(constants.Form.BUYER_BLOCK_HEIGHT, buyNegotiation.buyerBlockHeight.getOrElse(""))
                        @commonTextInfo(constants.Form.SELLER_BLOCK_HEIGHT, buyNegotiation.sellerBlockHeight.getOrElse(""))
                        @commonTextInfo(constants.Form.BUYER_CONTRACT_HASH, buyNegotiation.buyerContractHash.getOrElse(""))
                        @commonTextInfo(constants.Form.SELLER_CONTRACT_HASH, buyNegotiation.sellerContractHash.getOrElse(""))
                    </div>
                </div>
            </div>
        }
        <div>
        <h4>@Messages(constants.Form.ON_GOING_SELL_NEGOTIATIONS): </h4>
        @for(sellNegotiation <- sellNegotiations) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    @commonTextInfo(constants.Form.PEG_HASH, sellNegotiation.assetPegHash)
                    @commonTextInfo(constants.Form.BID, sellNegotiation.bid)
                    @commonTextInfo(constants.Form.TIME, sellNegotiation.time)
                    <button type="button" class="cmuk-button cmuk-button-primary" onclick="showHideByID('traderSellNegotiationDetails@trader.id')">@Messages(constants.Form.SHOW_HIDE)</button>
                    <div class="hidden" id="traderSellNegotiationDetails@trader.id">
                        @commonTextInfo(constants.Form.BUYER_ADDRESS, sellNegotiation.buyerAddress)
                        @commonTextInfo(constants.Form.SELLER_ADDRESS, sellNegotiation.sellerAddress)
                        @commonTextInfo(constants.Form.NEGOTIATION_ID, sellNegotiation.id)
                        @commonTextInfo(constants.Form.BUYER_SIGNATURE, sellNegotiation.buyerSignature.getOrElse(""))
                        @commonTextInfo(constants.Form.SELLER_SIGNATURE, sellNegotiation.sellerSignature.getOrElse(""))
                        @commonTextInfo(constants.Form.BUYER_BLOCK_HEIGHT, sellNegotiation.buyerBlockHeight.getOrElse(""))
                        @commonTextInfo(constants.Form.SELLER_BLOCK_HEIGHT, sellNegotiation.sellerBlockHeight.getOrElse(""))
                        @commonTextInfo(constants.Form.BUYER_CONTRACT_HASH, sellNegotiation.buyerContractHash.getOrElse(""))
                        @commonTextInfo(constants.Form.SELLER_CONTRACT_HASH, sellNegotiation.sellerContractHash.getOrElse(""))
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
    <div id="traderOrderDetails@trader.id">
        <h4>@Messages(constants.Form.ON_GOING_BUY_ORDERS):</h4>
        @for(buyOrder <- buyOrders) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    @commonTextInfo(constants.Form.ID, buyOrder.id)
                    @commonTextInfo(constants.Form.AWB_PROOF_HASH, buyOrder.awbProofHash.getOrElse(""))
                    @commonTextInfo(constants.Form.FIAT_PROOF_HASH, buyOrder.fiatProofHash.getOrElse(""))
                </div>
            </div>
        }
        <div>
        <h4>@Messages(constants.Form.ON_GOING_SELL_ORDERS): </h4>
        @for(sellOrder <- sellOrders) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    @commonTextInfo(constants.Form.ID, sellOrder.id)
                    @commonTextInfo(constants.Form.AWB_PROOF_HASH, sellOrder.awbProofHash.getOrElse(""))
                    @commonTextInfo(constants.Form.FIAT_PROOF_HASH, sellOrder.fiatProofHash.getOrElse(""))
                </div>
            </div>
        }
        </div>
    </div>
}