@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Trader

@(acceptedTraders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@acceptedTraders.map { trader =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.TRADER_ID, trader.id)
        @commonVerticalTextInfo(constants.View.NAME, trader.name)
        @commonVerticalTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
            @commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.organizationViewAcceptedTraderAccount, 'parameters -> s"'${trader.id}'")
            </p>
        </div>
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.MODIFY)
            </p>
            <p class="listItemChildValue">
            @commonFormButton(constants.Form.MODIFY_TRADER, 'parameters -> s"'${trader.accountID}'")
            </p>
        </div>
    }
}