@import controllers.actions.LoginState
@import models.master.{Asset, Negotiation, Organization, Trader}
@import views.html.base._
@(rejectedReceivedNegotiationList: Seq[Negotiation], rejectedSentNegotiationList: Seq[Negotiation], failedNegotiationList: Seq[Negotiation], traderList: Seq[Trader], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div class="cmuk-text-left title">@Messages(constants.View.REJECTED_RECEIVED_NEGOTIATION_LIST)</div>
<div class="salesQuoteCard">
@rejectedReceivedNegotiationList.map { rejectedReceivedNegotiation =>
    @commonVerticalInfoBox() {
        <div class="salesQuoteCardLeft salesChild">
            <div class="salesQuoteCategory buy">
                <span>@Messages(constants.View.BUY)</span>
            </div>
            <div class="content">
            @assetList.find(_.id == rejectedReceivedNegotiation.assetID) match {
                case Some(asset) => {
                    <div class="assetIcon">
                        <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                    </div>
                    <div class="assetInitialData">
                        <p class="assetTitle">@asset.assetType</p>
                        <p class="assetQuantity">@Seq(rejectedReceivedNegotiation.quantity.toString, rejectedReceivedNegotiation.quantityUnit).mkString(" ")</p>
                        <p class="assetPrice">@Seq(rejectedReceivedNegotiation.price, Messages(constants.View.USD), Messages(constants.View.PER), rejectedReceivedNegotiation.quantityUnit).mkString(" ")</p>
                    </div>
                }
                case None => {}
            }
            </div>
        </div>
        <div class="salesQuoteCardMiddle salesChild">
            @counterPartyTraderList.find(_.id == rejectedReceivedNegotiation.sellerTraderID) match {
                case Some(trader) => {
                    @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                        case Some(organization) => {
                            <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span> </p>
                        }
                        case None => {}
                    }
                    <p><span cmuk-tooltip="@Messages(constants.View.BUYER)"> @trader.accountID</span>
                        <span class="lines">---</span>
                        }
                case None => {}
            }
            @traderList.find(_.id == rejectedReceivedNegotiation.buyerTraderID) match {
                case Some(trader) => {
                    <span cmuk-tooltip="@Messages(constants.View.BUYER)">@trader.accountID</span></p>
                }
                case None => {
                    <span>@rejectedReceivedNegotiation.buyerTraderID</span>
                    </p>
                }
            }
            <p><span>@rejectedReceivedNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span>
                <span class="lines">---</span>
                <span class="arrowIcon">@commonIcon("roundedRightArrow")</span>
                <span class="lines">---</span>
                <span>@rejectedReceivedNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span>
            </p>
        </div>
        <div class="salesQuoteCardRight salesChild">
            <span>@Messages(rejectedReceivedNegotiation.comment.getOrElse(""))</span>
            @commonModalButton(constants.View.VIEW_QUOTE, routes.javascript.ComponentViewController.organizationViewNegotiation, 'parameters -> s"'${rejectedReceivedNegotiation.id}'")
        </div>
    }
    }
</div>

<div class="cmuk-text-left title">@Messages(constants.View.REJECTED_SENT_NEGOTIATION_LIST)</div>
<div class="salesQuoteCard">
@rejectedSentNegotiationList.map { rejectedSentNegotiation =>
    @commonVerticalInfoBox() {
        <div class="salesQuoteCardLeft salesChild">
            <div class="salesQuoteCategory sell">
                    <span>@Messages(constants.View.SELL)</span>
            </div>
            <div class="content">
            @assetList.find(_.id == rejectedSentNegotiation.assetID) match {
                case Some(asset) => {
                    <div class="assetIcon">
                        <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                    </div>
                    <div class="assetInitialData">
                        <p class="assetTitle">@asset.assetType</p>
                        <p class="assetQuantity">@Seq(rejectedSentNegotiation.quantity.toString, rejectedSentNegotiation.quantityUnit).mkString(" ")</p>
                        <p class="assetPrice">@Seq(rejectedSentNegotiation.price, Messages(constants.View.USD), Messages(constants.View.PER), rejectedSentNegotiation.quantityUnit).mkString(" ")</p>
                    </div>
                }
                case None => {}
            }
            </div>
        </div>
        <div class="salesQuoteCardMiddle salesChild">
            @counterPartyTraderList.find(_.id == rejectedSentNegotiation.buyerTraderID) match {
                case Some(trader) => {
                    @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                        case Some(organization) => {
                            <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span> </p>
                        }
                        case None => {}
                    }
                    <p><span cmuk-tooltip="@Messages(constants.View.BUYER)"> @trader.accountID</span>
                        <span class="lines">---</span>
                        }
                case None => {}
            }
            @traderList.find(_.id == rejectedSentNegotiation.sellerTraderID) match {
                case Some(trader) => {
                    <span cmuk-tooltip="@Messages(constants.View.SELLER)">@trader.accountID</span></p>
                }
                case None => {
                    <span>@rejectedSentNegotiation.buyerTraderID</span>
                    </p>
                }
            }
            <p><span>@rejectedSentNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span>
                <span class="lines">---</span>
                <span class="arrowIcon">@commonIcon("roundedRightArrow")</span>
                <span class="lines">---</span>
                <span>@rejectedSentNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span>
            </p>
        </div>
        <div class="salesQuoteCardRight salesChild">
            <span>@Messages(rejectedSentNegotiation.comment.getOrElse(""))</span>
            @commonModalButton(constants.View.VIEW_QUOTE, routes.javascript.ComponentViewController.organizationViewNegotiation, 'parameters -> s"'${rejectedSentNegotiation.id}'")
        </div>
    }
    }
</div>

<div class="cmuk-text-left title">@Messages(constants.View.FAILED_NEGOTIATION_LIST)</div>
<div class="salesQuoteCard">
    @failedNegotiationList.map { failedNegotiation =>
        @commonVerticalInfoBox() {
            <div class="salesQuoteCardLeft salesChild">
                <div class="content">
                @assetList.find(_.id == failedNegotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                        </div>
                        <div class="assetInitialData">
                            <p class="assetTitle">@asset.assetType</p>
                            <p class="assetQuantity">@Seq(failedNegotiation.quantity.toString, failedNegotiation.quantityUnit).mkString(" ")</p>
                            <p class="assetPrice">@Seq(failedNegotiation.price, Messages(constants.View.USD), Messages(constants.View.PER), failedNegotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">
                @counterPartyTraderList.find(_.id == failedNegotiation.buyerTraderID) match {
                    case Some(trader) => {
                        @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                            case Some(organization) => {
                                <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span> </p>
                            }
                            case None => {}
                        }
                        <p><span cmuk-tooltip="@Messages(constants.View.BUYER)">@trader.accountID</span>
                            <span class="lines">---</span>
                            }
                    case None => {}
                }

                @traderList.find(_.id == failedNegotiation.sellerTraderID) match {
                    case Some(trader) => {
                        <span cmuk-tooltip="@Messages(constants.View.SELLER)">@trader.accountID</span></p>
                    }
                    case None => {
                        <span>@failedNegotiation.buyerTraderID</span>
                        </p>
                    }
                }
                <p><span>@failedNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span>
                    <span class="lines">---</span>
                    <span class="arrowIcon">@commonIcon("roundedRightArrow")</span>
                    <span class="lines">---</span>
                    <span>@failedNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span>
                </p>
            </div>
            <div class="salesQuoteCardRight salesChild">
                <span>@Messages(failedNegotiation.status)</span>
                @commonModalButton(constants.View.VIEW_QUOTE, routes.javascript.ComponentViewController.organizationViewNegotiation, 'parameters -> s"'${failedNegotiation.id}'")
            </div>
        }
    }
</div>