@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.RejectTraderRequest

@(rejectTraderRequestForm: Form[RejectTraderRequest.Data] = RejectTraderRequest.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.ORGANIZATION_REJECT_TRADER_REQUEST, rejectTraderRequestForm) {
    @commonInputText(rejectTraderRequestForm, constants.FormField.TRADER_ID)
}
@if(rejectTraderRequestForm.data(constants.FormField.TRADER_ID.name) != "") {
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.ComponentViewController.organizationViewPendingTraderRequest('@rejectTraderRequestForm.data(constants.FormField.TRADER_ID.name)'))">@Messages(constants.View.BACK)</button>
}
