@import controllers.actions.LoginState
@import models.master.TraderKYC

@(traderKYCs: Seq[TraderKYC])( implicit requestHeader: RequestHeader, flash: Flash, messagesProvider: MessagesProvider, loginState: LoginState = null)
@for(traderKYC <- traderKYCs) {
    @component.master.commonDocumentViewer(traderKYC) {
        @routes.FileController.organizationAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)
    } {
        <a href="@routes.FileController.organizationAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)">@Messages(traderKYC.documentType)</a>
    } {
        <div>
            @views.html.component.master.updateTraderKYCDocumentOrganizationStatus(traderKYC = traderKYC)
        </div>
        <br>
        <span class="red">@Messages(constants.Form.ZONE_VERIFICATION):
            @traderKYC.zoneStatus match {
                case Some(true) => {
                    <span class="result success"><img class="status" src="@routes.Assets.versioned("images/success.jpg")"></span>
                }
                case Some(false) => {
                    <span class="result failure"><img class="status" src="@routes.Assets.versioned("images/unverified.png")"></span>
                }
                case _ => {}
            }
        </span>
    }
}