@import controllers.actions.LoginState
@import views.html.base._
@import models.master.NegotiationHistory
@import models.master.AssetHistory
@import models.master.Trader
@import models.master.Organization

@import models.master.AssetProperty
@(completedNegotiationList: Seq[NegotiationHistory], traderList: Seq[Trader], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization], assetPropertyList: Seq[AssetProperty])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="salesQuoteCard">
    @completedNegotiationList.map { completedNegotiation =>
        @traderList.find(trader => trader.id == completedNegotiation.sellerTraderID || trader.id == completedNegotiation.buyerTraderID) match {
            case Some(trader) => {
                @trader.id match {
                    case completedNegotiation.buyerTraderID => {
                    @commonVerticalInfoBox() {
                        <div class="salesQuoteCardLeft salesChild">
                            <div class="salesQuoteCategory buy">
                            </div>
                            <div class="content">
                            @assetPropertyList.find(_.id == completedNegotiation.assetID) match {
                                case Some(assetProperty) => {
                                    <div class="assetIcon">
                                        <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + assetProperty.assetType + ".svg")"></span>
                                    </div>
                                    <div class="assetInitialData">
                                        <p class="assetTitle">@Messages(assetProperty.assetType)</p>
                                        <p class="assetQuantity">@Seq(completedNegotiation.quantity.toRoundedOffString(), completedNegotiation.quantityUnit).mkString(" ")</p>
                                    </div>
                                }
                                case None => {}
                            }
                            </div>
                        </div>
                    <div class="salesQuoteCardMiddle salesChild">
                        @assetPropertyList.find(_.id == completedNegotiation.assetID) match {
                        case Some(assetProperty) => {
                        <div class="assetInitialData">
                            <p class="assetPrice">@Seq((completedNegotiation.price/completedNegotiation.quantity).toRoundedOffString(), Messages(constants.View.USD), Messages(constants.View.PER), completedNegotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                        case None => {}
                    }
                    </div>
                        <div class="salesQuoteCardRight salesChild">
                            <div class="cmuk-flex">
                                <span class="arrowIcon">@commonIcon("navigationDownArrow")</span>
                                <div class="cmuk-text-left">
                                <p><span>@completedNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span></p>
                                <p><span>@completedNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
                            </div>
                        @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoomCompleted(completedNegotiation.id), 'class -> "cmuk-button buttonPrimary")
                </div>

                }
                    }
                    case completedNegotiation.sellerTraderID => {
                @commonVerticalInfoBox() {
                    <div class="salesQuoteCardLeft salesChild">
                        <div class="salesQuoteCategory sell">
                        </div>
                        <div class="content">
                        @assetPropertyList.find(_.id == completedNegotiation.assetID) match {
                            case Some(assetProperty) => {
                                <div class="assetIcon">
                                    <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + assetProperty.assetType + ".svg")"></span>
                                </div>
                                <div class="assetInitialData">
                                    <p class="assetTitle">@Messages(assetProperty.assetType)</p>
                                    <p class="assetQuantity">@Seq(completedNegotiation.quantity.toRoundedOffString(), completedNegotiation.quantityUnit).mkString(" ")</p>
                                </div>
                            }
                            case None => {}
                        }
                        </div>
                    </div>
                    <div class="salesQuoteCardMiddle salesChild">
                        @assetPropertyList.find(_.id == completedNegotiation.assetID) match {
                            case Some(assetProperty) => {
                                <div class="assetInitialData">
                                    <p class="assetPrice">@Seq((completedNegotiation.price/completedNegotiation.quantity).toRoundedOffString(), Messages(constants.View.USD), Messages(constants.View.PER), completedNegotiation.quantityUnit).mkString(" ")</p>
                                </div>
                            }
                            case None => {}
                        }
                    </div>
                    <div class="salesQuoteCardRight salesChild">
                        <div class="cmuk-flex">
                            <span class="arrowIcon">@commonIcon("navigationDownArrow")</span>
                            <div class="cmuk-text-left">
                            <p><span>@completedNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span></p>
                            <p><span>@completedNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
                        </div>
                        </div>
                    @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoomCompleted(completedNegotiation.id), 'class->"cmuk-button buttonPrimary")
                    </div>
                        }
                    }
                    case _ => {}
                }
            }
            case None=>{}
        }
    }
</div>