@import controllers.actions.LoginState
@import models.Trait.Document

@(id: String, negotiationFile: Option[Document[_]])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@negotiationFile match {
    case Some(file) => {
        @utilities.FileOperations.fileExtensionFromName(file.fileName) match {
            case constants.File.PNG | constants.File.JPEG | constants.File.JPG => {
                <img src="@routes.FileController.organizationAccessedTradingFile(id, file.fileName, file.documentType)" width="600" height="800">
            }
            case _ => {
                <iframe src="@routes.FileController.organizationAccessedTradingFile(id, file.fileName, file.documentType)" width="600" height="800"></iframe>
            }
        }
    }
    case None => {
        @Messages(constants.View.NEGOTIATION_FILE_NOT_FOUND)
    }
    }
