@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.ModifyTrader

@(modifyTraderForm: Form[ModifyTrader.Data] = ModifyTrader.form, accountID: String)( implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.MODIFY_TRADER, modifyTraderForm) {
    @commonInputText(modifyTraderForm, constants.FormField.ACCOUNT_ID, 'value -> accountID)
    @commonCheckbox(modifyTraderForm, constants.FormField.ISSUE_ASSET)
    @commonCheckbox(modifyTraderForm, constants.FormField.ISSUE_FIAT)
    @commonCheckbox(modifyTraderForm, constants.FormField.SEND_ASSET)
    @commonCheckbox(modifyTraderForm, constants.FormField.SEND_FIAT)
    @commonCheckbox(modifyTraderForm, constants.FormField.REDEEM_ASSET)
    @commonCheckbox(modifyTraderForm, constants.FormField.REDEEM_FIAT)
    @commonCheckbox(modifyTraderForm, constants.FormField.SELLER_EXECUTE_ORDER)
    @commonCheckbox(modifyTraderForm, constants.FormField.BUYER_EXECUTE_ORDER)
    @commonCheckbox(modifyTraderForm, constants.FormField.CHANGE_BUYER_BID)
    @commonCheckbox(modifyTraderForm, constants.FormField.CHANGE_SELLER_BID)
    @commonCheckbox(modifyTraderForm, constants.FormField.CONFIRM_BUYER_BID)
    @commonCheckbox(modifyTraderForm, constants.FormField.CONFIRM_SELLER_BID)
    @commonCheckbox(modifyTraderForm, constants.FormField.NEGOTIATION)
    @commonCheckbox(modifyTraderForm, constants.FormField.RELEASE_ASSET)
    @commonInputInt(modifyTraderForm, constants.FormField.GAS)
    @commonInputPassword(modifyTraderForm, constants.FormField.PASSWORD)
}
