@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.TRADE_ROOMS) {
} {
    @commonHorizontalSwitcher(ListMap(
        constants.View.BUY_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.organizationViewAcceptedBuyNegotiationList,
        constants.View.SELL_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.organizationViewAcceptedSellNegotiationList,
        constants.View.COMPLETED_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.organizationViewCompletedNegotiationList,
    ))
}