@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Asset, Negotiation}


@(negotiation: Negotiation, asset: Asset)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id='@Seq(negotiation.id, "TermsView").mkString("")'>
    <div class="tradeTerms">
        <div class="traderCommodity">
            <span class="commodityImage">@asset.assetType.mkString.substring(0, 1)</span><span class="tradeName">@asset.assetType</span>
        </div>
        <div class="terms">
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_DETAILS)</div>

            </div>

            <div class="sellerTerm">
                @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
                <div>
                @if(negotiation.buyerAcceptedAssetDescription) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonIntInfo(constants.View.PRICE, negotiation.price)
                <div>
                @if(negotiation.buyerAcceptedPrice) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(" "))
                <div>
                @if(negotiation.buyerAcceptedQuantity) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_OTHER_DETAILS)</div>
            </div>
            <div class="sellerTerm">
                @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
                <br>
                @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
                <br>
                @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                <br>
                <div>
                @if(negotiation.buyerAcceptedAssetOtherDetails) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.PAYMENT_TERMS)</div>
            </div>
            <div class="sellerTerm">
                @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage)
                @negotiation.paymentTerms.credit match {
                    case Some(credit) => {
                        @Messages(constants.View.CREDIT_TERMS):
                        @credit.tentativeDate match {
                            case Some(date) => {
                                <p>@Messages(constants.View.TENTATIVE_DATE): <span>@date</span></p>
                            }
                            case None => {
                                <p>@Messages(constants.View.TENURE)
                                    : <span>@credit.tenure.getOrElse(0) @Messages(constants.View.DAYS)</span></p>
                            }
                        }
                        @commonTextInfo(constants.View.REFERENCE, credit.reference)
                    }
                    case None => {}
                }
                <div>
                @if(negotiation.buyerAcceptedPaymentTerms) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title"> @Messages(constants.View.DOCUMENT_LIST)</div>
            </div>
            <div class="sellerTerm">
                @Messages(constants.View.ASSET_DOCUMENTS):
                @negotiation.documentList.assetDocuments.map { assetDocument =>
                    @Messages(assetDocument)
                }
                <br>
                @Messages(constants.View.NEGOTIATION_DOCUMENTS):
                @negotiation.documentList.negotiationDocuments.map { negotiationDocument =>
                    @Messages(negotiationDocument)
                }
                <div>
                @if(negotiation.buyerAcceptedDocumentList) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>

            </div>

        </div>
    </div>
</div>
