@import controllers.actions.LoginState
@import models.master.Trader

@(traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-grid-expand cmuk-width-auto cmuk-grid-match" cmuk-sortable="handle: .cmuk-card" cmuk-grid>
@for(trader <- traders) {
    <div>
        <div class="cmuk-card cmuk-card-default cmuk-card-body lightBlue">
        <span class="red">@Messages(constants.Form.TRADER_ID)</span>: @trader.id<br>
            <span class="red">@Messages(constants.Form.NAME)</span>: @trader.name<br>
            <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span>: @trader.accountID<br>
            <span class="red">@Messages(constants.Form.COMPLETION_STATUS)</span>: @trader.completionStatus<br>
            <span class="red">@Messages(constants.Form.VERIFIED_STATUS)</span>: @trader.verificationStatus.getOrElse(Messages(constants.Form.PENDING))<br>

        @if(trader.verificationStatus.getOrElse(false)) {
            <div class="centerText">
                <button onclick="getForm(jsRoutes.controllers.ComponentViewController.organizationViewTrader('@trader.id'))">@Messages(constants.Form.VIEW)</button>
                <button onclick="getForm(jsRoutes.controllers.SetACLController.organizationModifyTraderForm('@trader.accountID'))">@Messages(constants.Form.MODIFY_TRADER.legend)</button>
            </div>
        }
        </div>
    </div>
    
}
    </div>
</div>

