@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader
@import models.master.Organization

@import models.master.AssetProperty
@(buyNegotiationList: Seq[Negotiation], traderList: Seq[Trader], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization], assetPropertyList: Seq[AssetProperty])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div class="salesQuoteCard">
    @buyNegotiationList.map { buyNegotiation =>
        @commonVerticalInfoBox() {
            <div class="salesQuoteCardLeft salesChild">
                <div class="salesQuoteCategory buy">

                </div>
                <div class="content">
                @assetPropertyList.find(_.id == buyNegotiation.assetID) match {
                    case Some(assetProperty) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + assetProperty.assetType + ".svg")"></span>
                        </div>
                        <div class="assetInitialData">
                            <p class="assetTitle">@Messages(assetProperty.assetType)</p>
                            <p class="assetQuantity">@Seq(buyNegotiation.quantity.toRoundedOffString(), buyNegotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">
                @assetPropertyList.find(_.id == buyNegotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetInitialData">
                            <p class="assetPrice">@Seq((buyNegotiation.price/buyNegotiation.quantity).toRoundedOffString(), Messages(constants.View.USD), Messages(constants.View.PER), buyNegotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                @counterPartyTraderList.find(_.id == buyNegotiation.sellerTraderID) match {
                    case Some(trader) => {
                        @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                            case Some(organization) => {
                                <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span> </p>
                            }
                            case None => {}
                        }
                        <p><span cmuk-tooltip="@Messages(constants.View.SELLER)"> @trader.accountID</span>
                            <span class="lines">---</span>
                    }
                    case None => {}
                }

                @traderList.find(_.id == buyNegotiation.buyerTraderID) match {
                    case Some(trader) => {
                        <span cmuk-tooltip="@Messages(constants.View.BUYER)">@trader.accountID</span></>
                    }
                    case None => {
                        <span>@buyNegotiation.buyerTraderID</span></p>
                    }
                }
            </div>
            <div class="salesQuoteCardRight salesChild">
                <div class="cmuk-flex">
                    <span class="arrowIcon">@commonIcon("navigationDownArrow")</span>
                    <div class="cmuk-text-left">
                    <p><span>@buyNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span></p>
                    <p><span>@buyNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
                </div>
                </div>
            @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(buyNegotiation.id), 'class -> "cmuk-button buttonPrimary")
            </div>

        }
    }
</div>
