@import controllers.actions.LoginState
@import models.blockchain.{Asset, Fiat, Negotiation, Order, TraderFeedbackHistory}
@import models.master.Trader

@(trader: Trader, assets: Seq[Asset], fiats: Seq[Fiat], buyOrders: Seq[Order], sellOrders: Seq[Order], buyNegotiations: Seq[Negotiation], sellNegotiations: Seq[Negotiation], traderFeedbackHistories: Seq[TraderFeedbackHistory])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="latest_card-header latest_card-header-primary text-center">
    <h4 class="latest_card-title">@Messages(constants.Form.TRADER_DETAILS)</h4>
</div>
<div id="traderDetails@trader.id">
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.View.TRADER_ID)</div>
        <div class="infoRowValue">@trader.id</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.View.NAME)</div>
        <div class="infoRowValue">@trader.name</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.View.ACCOUNT_ID)</div>
        <div class="infoRowValue">@trader.accountID</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.Form.COMPLETION_STATUS)</div>
        <div class="infoRowValue">@trader.completionStatus</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.Form.VERIFIED_STATUS)</div>
        <div class="infoRowValue">@trader.verificationStatus.getOrElse(Messages(constants.Form.PENDING))</div>
    </div>
    <div class="cmuk-flex infoRow">
        <div class="infoRowLabel red">@Messages(constants.Form.RATING)</div>
        <div class="infoRowValue">@traderFeedbackHistories.map(_.rating.toInt).sum.toString</div>
    </div>
</div>

@if(trader.verificationStatus.getOrElse(false)) {
    <div id = "traderAssetDetails@trader.id">
        <h4>@Messages(constants.Form.ASSETS)</h4>
        @for(asset <- assets) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.PEG_HASH)</div>
                        <div class="infoRowValue">@asset.pegHash</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.DOCUMENT_HASH)</div>
                        <div class="infoRowValue">@asset.documentHash</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.ASSET_TYPE)</div>
                        <div class="infoRowValue">@asset.assetType</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.ASSET_QUANTITY)</div>
                        <div class="infoRowValue">@asset.assetQuantity</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.ASSET_PRICE)</div>
                        <div class="infoRowValue">@asset.assetPrice</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.QUANTITY_UNIT)</div>
                        <div class="infoRowValue">@asset.quantityUnit</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.FormField.MODERATED.name)</div>
                        <div class="infoRowValue">@asset.moderated</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.TAKER_ADDRESS)</div>
                        <div class="infoRowValue">@asset.takerAddress</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.LOCKED)</div>
                        <div class="infoRowValue">@asset.locked</div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="traderFiatDetail">
        <h4>@Messages(constants.Form.TOTAL_FIATS): @fiats.map(_.transactionAmount.toInt).sum.toString</h4>
        @for(fiat <- fiats) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.PEG_HASH)</div>
                        <div class="infoRowValue">@fiat.pegHash</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.TRANSACTION_ID)</div>
                        <div class="infoRowValue">@fiat.transactionID</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.TRANSACTION_AMOUNT)</div>
                        <div class="infoRowValue">@fiat.transactionAmount</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.REDEEM_AMOUNT)</div>
                        <div class="infoRowValue">@fiat.redeemedAmount</div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="traderNegotiationDetails@trader.id">
        <h4>@Messages(constants.Form.ON_GOING_BUY_NEGOTIATIONS): </h4>
        @for(buyNegotiation <- buyNegotiations) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.PEG_HASH)</div>
                        <div class="infoRowValue">@buyNegotiation.assetPegHash</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.BID)</div>
                        <div class="infoRowValue">@buyNegotiation.bid</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.TIME)</div>
                        <div class="infoRowValue">@buyNegotiation.time</div>
                    </div>
                    <button type="button" class="cmuk-button cmuk-button-primary" onclick="showHideByID('traderBuyNegotiationDetails@trader.id')">@Messages(constants.Form.SHOW_HIDE)</button>
                    <div class="hidden" id="traderBuyNegotiationDetails@trader.id">
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_ADDRESS)</div>
                            <div class="infoRowValue">@buyNegotiation.buyerAddress</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_ADDRESS)</div>
                            <div class="infoRowValue">@buyNegotiation.sellerAddress</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.NEGOTIATION_ID)</div>
                            <div class="infoRowValue">@buyNegotiation.id</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_SIGNATURE)</div>
                            <div class="infoRowValue">@buyNegotiation.buyerSignature</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_SIGNATURE)</div>
                            <div class="infoRowValue">@buyNegotiation.sellerSignature</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_BLOCK_HEIGHT)</div>
                            <div class="infoRowValue">@buyNegotiation.buyerBlockHeight</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_BLOCK_HEIGHT)</div>
                            <div class="infoRowValue">@buyNegotiation.sellerBlockHeight</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_CONTRACT_HASH)</div>
                            <div class="infoRowValue">@buyNegotiation.buyerContractHash</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_CONTRACT_HASH)</div>
                            <div class="infoRowValue">@buyNegotiation.sellerContractHash</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div>
        <h4>@Messages(constants.Form.ON_GOING_SELL_NEGOTIATIONS): </h4>
        @for(sellNegotiation <- sellNegotiations) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.PEG_HASH)</div>
                        <div class="infoRowValue">@sellNegotiation.assetPegHash</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.BID)</div>
                        <div class="infoRowValue">@sellNegotiation.bid</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.TIME)</div>
                        <div class="infoRowValue">@sellNegotiation.time</div>
                    </div>
                    <button type="button" class="cmuk-button cmuk-button-primary" onclick="showHideByID('traderSellNegotiationDetails@trader.id')">@Messages(constants.Form.SHOW_HIDE)</button>
                    <div class="hidden" id="traderSellNegotiationDetails@trader.id">
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_ADDRESS)</div>
                            <div class="infoRowValue">@sellNegotiation.buyerAddress</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_ADDRESS)</div>
                            <div class="infoRowValue">@sellNegotiation.sellerAddress</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.NEGOTIATION_ID)</div>
                            <div class="infoRowValue">@sellNegotiation.id</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_SIGNATURE)</div>
                            <div class="infoRowValue">@sellNegotiation.buyerSignature</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_SIGNATURE)</div>
                            <div class="infoRowValue">@sellNegotiation.sellerSignature</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_BLOCK_HEIGHT)</div>
                            <div class="infoRowValue">@sellNegotiation.buyerBlockHeight</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_BLOCK_HEIGHT)</div>
                            <div class="infoRowValue">@sellNegotiation.sellerBlockHeight</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.BUYER_CONTRACT_HASH)</div>
                            <div class="infoRowValue">@sellNegotiation.buyerContractHash</div>
                        </div>
                        <div class="cmuk-flex infoRow">
                            <div class="infoRowLabel red">@Messages(constants.Form.SELLER_CONTRACT_HASH)</div>
                            <div class="infoRowValue">@sellNegotiation.sellerContractHash</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
    <div id="traderOrderDetails@trader.id">
        <h4>@Messages(constants.Form.ON_GOING_BUY_ORDERS):</h4>
        @for(buyOrder <- buyOrders) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.ID)</div>
                        <div class="infoRowValue">@buyOrder.id</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.AWB_PROOF_HASH)</div>
                        <div class="infoRowValue">@buyOrder.awbProofHash</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.FIAT_PROOF_HASH)</div>
                        <div class="infoRowValue">@buyOrder.fiatProofHash</div>
                    </div>
                </div>
            </div>
        }
        <div>
        <h4>@Messages(constants.Form.ON_GOING_SELL_ORDERS): </h4>
        @for(sellOrder <- sellOrders) {
            <div class="flexItem box thirdBox lightBlue">
                <div class="leftText">
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.ID)</div>
                        <div class="infoRowValue">@sellOrder.id</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.AWB_PROOF_HASH)</div>
                        <div class="infoRowValue">@sellOrder.awbProofHash</div>
                    </div>
                    <div class="cmuk-flex infoRow">
                        <div class="infoRowLabel red">@Messages(constants.Form.FIAT_PROOF_HASH)</div>
                        <div class="infoRowValue">@sellOrder.fiatProofHash</div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
}