@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(incompleteNegotiationList: Seq[Negotiation], traderList: Seq[Trader], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@incompleteNegotiationList.map { incompleteNegotiation =>
    @commonInfoBox() {
        @traderList.find(_.id == incompleteNegotiation.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.SELLER_TRADER_NAME, trader.name)
            }
            case None => {
                @commonTextInfo(constants.View.SELLER_TRADER_ID, incompleteNegotiation.buyerTraderID)
            }
        }
        @counterPartyTraderList.find(_.id == incompleteNegotiation.buyerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @assetList.find(_.id == incompleteNegotiation.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonTextInfo(constants.View.ASSET_DESCRIPTION, incompleteNegotiation.assetAndBuyerAccepted.assetDescription)
        @commonIntInfo(constants.View.PRICE, incompleteNegotiation.assetAndBuyerAccepted.price)
        @commonTextInfo(constants.View.QUANTITY, Seq(incompleteNegotiation.assetAndBuyerAccepted.quantity.toString, incompleteNegotiation.assetAndBuyerAccepted.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, incompleteNegotiation.assetOtherDetailsAndBuyerAccepted.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, incompleteNegotiation.assetOtherDetailsAndBuyerAccepted.assetOtherDetails.shippingDetails.portOfDischarge)
        @commonTextInfo(constants.View.STATUS, incompleteNegotiation.status)
    }
    }
