@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import scala.collection.immutable.ListMap

@(id:String)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    @commonHorizontalSwitcher(ListMap(
        constants.View.VIEW_TERMS -> routes.javascript.ComponentViewController.organizationViewAcceptedNegotiationTerms,
        constants.View.VIEW_DOCUMENTS -> routes.javascript.ComponentViewController.organizationViewNegotiationFile,
    ),
        'VIEW_TERMS_PARAMETERS -> s"'${id}'", 'VIEW_DOCUMENTS_PARAMETERS -> s"'${id}'")
</div>