@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@(negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div class="switcherCardSecond">
@commonInfoBox() {
    @commonHorizontalSwitcher(ListMap(
        constants.View.FINANCIALS -> routes.javascript.ComponentViewController.organizationViewTradeRoomFinancial,
        constants.View.CHECKS -> routes.javascript.ComponentViewController.organizationViewTradeRoomChecks,
    ), 'FINANCIALS_PARAMETERS ->  s"'${negotiationID}'")
}
</div>