@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.SendFiatRequest
@import models.master.Trader
@import models.master.Organization

@(sendFiatRequests: Seq[SendFiatRequest], sendFiatRequestHistories: Seq[SendFiatRequest], traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@sendFiatRequestData(sendFiatRequests, false)
@sendFiatRequestData(sendFiatRequestHistories, true)

@sendFiatRequestData(sendFiatRequestList: Seq[SendFiatRequest], history: Boolean) = {
    @sendFiatRequestList.map { sendFiatRequest =>
        @commonVerticalInfoBox() {
            @commonVerticalTextInfo(constants.View.ID, sendFiatRequest.id)
            @traders.find(_.id == sendFiatRequest.traderID) match {
                case Some(trader) => {
                    @commonVerticalTextInfo(constants.View.TRADER, trader.accountID)
                }
                case None => {}
            }
            @commonVerticalMicroNumberInfo(constants.View.AMOUNT, sendFiatRequest.amount)
            @commonVerticalTextInfo(constants.View.STATUS, sendFiatRequest.status)
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
                @if(history) {
                    @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoomCompleted(sendFiatRequest.negotiationID), 'class->"cmuk-button buttonPrimary")
                }else {
                    @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(sendFiatRequest.negotiationID), 'class->"cmuk-button buttonPrimary")
                }
            </div>
        }
    }
}