@import controllers.actions.LoginState
@import views.html.base._
@(walletBalance: Int, payable: Int, receivable: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="financial">
@commonCard(constants.View.FINANCIALS) {
    <svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-tradeFinance")"/></svg>
} {
    <ul class="">
        <li class="cmuk-flex">
            <div class="cmuk-flex wallet">
                <span class="walletIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-wallet")"/></svg></span>
                <div>
                    <p class="cmuk-margin-remove ctitle">@Messages("WALLET_BALANCE")</p>
                    <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">$ @walletBalance</p>
                </div>
            </div>
            <div>
                <button class="cmuk-button cmuk-button-default addBalanceButton">+ Add Balance</button>
            </div>
        </li>
        <li class="cmuk-flex">
            <div class="cmuk-flex receivable">
                <span class="receivableIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-receivable")"/></svg></span>
                <div>
                    <p class="cmuk-margin-remove ctitle">@Messages("PAYABLE")</p>
                    <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">$ @payable</p>
                </div>
            </div>
            <div>
                <button class="cmuk-button cmuk-button-default addBalanceButton cmuk-text-danger primaryFont">Pay</button>
            </div>
        </li>
        <li class="cmuk-flex">
            <div class="cmuk-flex payable">
                <span class="payableIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-payable")"/></svg></span>
                <div>
                    <p class="cmuk-margin-remove ctitle">@Messages("RECEIVABLE")</p>
                    <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">@receivable</p>
                </div>
            </div>

        </li>
    </ul>
    <div class="refresh">
        <span class="refreshIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-refresh")"/></svg></span><span>@Messages("REFRESH")</span>
    </div>
}
</div>