@import controllers.actions.LoginState
@import models.master.TraderRelation
@import views.html.base._

@(sentPendingTraderRelations: Seq[TraderRelation], receivedPendingTraderRelations: Seq[TraderRelation])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

<div class="title">@Messages(constants.View.PENDING_RECEIVED_TRADER_RELATION)</div>
    @receivedPendingTraderRelations.map { receivedPendingTraderRelation =>
        @defining(Seq(receivedPendingTraderRelation.fromID, receivedPendingTraderRelation.toID, constants.View.PENDING_RECEIVED_TRADER_RELATION).mkString("")) { componentID =>
            @commonVerticalInfoBox(componentID) {
                <script>
                        componentResource('@componentID', jsRoutes.controllers.ComponentViewController.pendingReceivedTraderRelation('@receivedPendingTraderRelation.fromID'), 'TRADER_RELATION_LIST_LOADING')
                </script>
            }
        }
    }
    <div class="title"> @Messages(constants.View.PENDING_SENT_TRADER_RELATION)</div>
    @sentPendingTraderRelations.map { sentPendingTraderRelation =>
        @defining(Seq(sentPendingTraderRelation.fromID, sentPendingTraderRelation.toID, constants.View.PENDING_SENT_TRADER_RELATION).mkString("")) { componentID =>
            @commonVerticalInfoBox(componentID) {
                <script>
                        componentResource('@componentID', jsRoutes.controllers.ComponentViewController.pendingSentTraderRelation('@sentPendingTraderRelation.toID'), 'TRADER_RELATION_LIST_LOADING')
                </script>
            }
        }
    }