@import controllers.actions.LoginState
@import models.master.TraderRelation
@import views.html.base._

@(sentPendingTraderRelations: Seq[TraderRelation], receivedPendingTraderRelations: Seq[TraderRelation])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
    @Messages(constants.View.PENDING_RECEIVED_TRADER_RELATION)
    @for(receivedPendingTraderRelation <- receivedPendingTraderRelations) {
        @defining(Seq(receivedPendingTraderRelation.fromID, receivedPendingTraderRelation.toID, constants.View.PENDING_RECEIVED_TRADER_RELATION).mkString("")) { componentID =>
            @commonInfoBox(componentID) {
                <script>
                        console.log('PENDING_RECEIVED_TRADER_RELATION');
                        componentResource('@componentID', jsRoutes.controllers.AccountController.pendingReceivedTraderRelation('@receivedPendingTraderRelation.fromID'))
                </script>
            }
        }
    }
    <br>
    @Messages(constants.View.PENDING_SENT_TRADER_RELATION)
    @for(sentPendingTraderRelation <- sentPendingTraderRelations) {
        @defining(Seq(sentPendingTraderRelation.fromID, sentPendingTraderRelation.toID, constants.View.PENDING_SENT_TRADER_RELATION).mkString("")) { componentID =>
            @commonInfoBox(componentID) {
                <script>
                        console.log('PENDING_SENT_TRADER_RELATION');
                        componentResource('@componentID', jsRoutes.controllers.AccountController.pendingSentTraderRelation('@sentPendingTraderRelation.toID'))
                        console.log('PENDING_SENT_TRADER_RELATION_END');
                </script>
            }
        }
    }
</div>