@import controllers.actions.LoginState
@import views.html.base._
@import views.html.component.master.acceptOrRejectTraderRelation
@import models.master.TraderRelation

@(traderRelation: TraderRelation, organizationName: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonVerticalTextInfo(constants.View.ORGANIZATION_NAME, organizationName)
<div class="listItemChild cmuk-flex cmuk-flex-middle">
    @acceptOrRejectTraderRelation(traderRelation = traderRelation)
</div>