@import controllers.actions.LoginState

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.PROFILE))(Html(""))(center)(Html(""))

@center = {
<div class="container">
    <div class="card">
        <div class="row ">

            <div class="col-md-4">
                <div id="profilePhoto" class="centerText"></div>
            </div>

            <div class="col-md-8 px-3">
                <div class="card-block px-3">

                        <h2 class="card-title">@loginState.username</h2>
                    <div class="ur-change-password">
                        <p>@Messages(constants.User.USER_TYPE): <span id="userTypeValue">@loginState.userType </span></p>
                        <button onclick="getForm(jsRoutes.controllers.AccountController.changePasswordForm())">@Messages(constants.Form.CHANGE_PASSWORD)</button>
                    </div>


                    <p>@Messages(constants.Form.BLOCKCHAIN_ADDRESS)
                        : <span id="blockchainAddressValue"><span id="text_element" class="hash_code">@loginState.address</span> <span onclick="copyToClipboard('text_element')"> <i class="fa fa-clipboard"></i></span></span></p>

                    <div id="profileContact"></div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="card">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                       <li class="nav-item">
                        <a class="nav-link active" href="#dashboard-2" role="tab" data-toggle="tab">
                        @Messages(constants.Form.DOCUMENTS)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab">
                        @Messages(constants.Form.ACL)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div class="tab-pane active" id="dashboard-2">
                        <div id="profileDocuments"></div>
                    </div>
                    <div class="tab-pane" id="schedule-2">
                        <div id="profileACL" class="tab_acl">
                        @loginState.acl match {
                            case Some(acl) => {
                                <p>@Messages(constants.Form.ISSUE_ASSET): @if(acl.issueAsset) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.ISSUE_FIAT): @if(acl.issueFiat) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.SEND_ASSET): @if(acl.sendAsset) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.SEND_FIAT): @if(acl.sendFiat) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.REDEEM_ASSET): @if(acl.redeemAsset) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.REDEEM_FIAT):@if(acl.redeemFiat) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.BUYER_EXECUTE_ORDER): @if(acl.buyerExecuteOrder) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.SELLER_EXECUTE_ORDER): @if(acl.sellerExecuteOrder) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.NEGOTIATION): @if(acl.negotiation) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.CHANGE_BUYER_BID): @if(acl.changeBuyerBid) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.CHANGE_SELLER_BID): @if(acl.changeSellerBid) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.CONFIRM_BUYER_BID): @if(acl.confirmBuyerBid) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.CONFIRM_SELLER_BID): @if(acl.confirmSellerBid) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>

                                <p>@Messages(constants.Form.RELEASE_ASSET): @if(acl.releaseAsset) {
                                    <span class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                                } else {
                                    <span class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    }</p>
                            }
                            case _ => {}
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

<script>
    componentResource('profilePhoto', jsRoutes.controllers.ComponentViewController.profilePicture());
    componentResource('profileContact', jsRoutes.controllers.ContactController.contact());
    componentResource('profileDocuments', jsRoutes.controllers.ComponentViewController.profileDocuments())
</script>
}