@import controllers.actions.LoginState
@import models.Trait.Document

@(documents: Seq[Document[_]])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@for(document <- documents) {
    @component.master.commonDocumentViewer(document) {
        @routes.FileController.file(document.fileName, document.documentType)
    } {
        <a href="@routes.FileController.file(document.fileName, document.documentType)">@Messages(document.documentType)</a>
    } {
        @loginState.userType match {
            case constants.User.GENESIS => {}
            case constants.User.ZONE => {
                <div class="centerText">
                    <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.FileController.updateZoneKYCForm('@document.documentType'))">@Messages(constants.Form.UPDATE)</button>
                </div>
            }
            case constants.User.ORGANIZATION => {
                <div class="centerText">
                    <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.updateOrganizationKYCForm('@document.documentType'))">@Messages(constants.Form.UPDATE)</button>
                </div>
            }
            case constants.User.TRADER => {
                <div class="centerText">
                    <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.SetACLController.updateTraderKYCForm('@document.documentType'))">@Messages(constants.Form.UPDATE)</button>
                </div>
            }
            case constants.User.USER => {
                <div class="centerText">
                    <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.FileController.updateAccountKYCForm('@document.documentType'))">@Messages(constants.Form.UPDATE)</button>
                </div>
            }
            case constants.User.UNKNOWN => {}
            case constants.User.WITHOUT_LOGIN => {}
        }
    }
}