@import controllers.actions.LoginState

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@import views.html.base._
@views.html.common(Messages(constants.Form.PROFILE), failures, warnings, successes, infos)(Html(""))(center)(Html(""))

@center = {
    <div class="cmuk-container cmuk-margin-bottom">
    @commonCard() {
        <div>
            <span class="headerFontSize cmuk-text-bold">@loginState.username</span>
        </div>
    }{
        <div class="cmuk-grid-medium cmuk-grid cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-1-1@@s cmuk-width-1-3@@m">
                <div>
                    <div id="profilePhoto" class="centerText"></div>
                </div>
            </div>
            <div class="cmuk-width-1-1 cmuk-width-expand@@m">
                <div>
                    <h3>@loginState.username</h3>
                    <p>
                        @Messages(constants.User.USER_TYPE): <span>@loginState.userType</span>
                        <span><button type="button" class="cmuk-button cmuk-button-link" onclick="getForm(jsRoutes.controllers.AccountController.changePasswordForm())">@Messages(constants.Form.CHANGE_PASSWORD.legend)</button></span>
                    </p>
                    <p>
                        @Messages(constants.Form.BLOCKCHAIN_ADDRESS): <span id="blockchainAddress" class="hashCode" title="@loginState.address">@loginState.address</span>
                        <a class="toolTip"  onclick="copyToClipboard('blockchainAddress')"><span class="toolTipText" id="toolTip">Copy to clipboard</span><span class='copyIcon cmuk-icon-button' cmuk-icon="copy" onmouseout="afterCopy()"></span></a>
                    </p>
                </div>
            </div>
        </div>
    }
    </div>
        <div class="cmuk-container cmuk-margin-bottom">
            <div class="cmuk-grid-match cmuk-grid" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                @commonCard() {
                    <div>
                        <span>@Messages(constants.View.CONTACT_DETAILS)</span>
                    </div>
                }{
                    <div id="contactDetails">
                    </div>
                }
                </div>
                <div class="cmuk-width-expand@@m">
                @commonCard(){
                    <div>
                        <span>@Messages(constants.View.ID_PROOF)</span>
                    </div>
                }{
                    <div id="identificationDetails">
                    </div>
                }
                </div>
            </div>
        </div>
        <div class="cmuk-container cmuk-margin-bottom">
        @commonCard() {

        }{
            <div>
                <div cmuk-grid>
                    <div class="cmuk-width-auto@@m">
                        <ul class="cmuk-tab-left" cmuk-tab="connect: #component-tab-left; animation: cmuk-animation-fade">
                            <li><a href="#">@Messages(constants.Form.DOCUMENTS)</a></li>
                            <li><a href="#">@Messages(constants.Form.ACL)</a></li>
                        </ul>
                    </div>
                    <div class="cmuk-width-expand@@m">
                        <ul id="component-tab-left" class="cmuk-switcher">
                            <li>
                                <div id="profileDocuments" class="profileDocuments"></div>
                            </li>
                            <li>
                                <div id="profileACL" class="profileAcl"> @loginState.acl match {
                                    case Some(acl) => {
                                        <p>@Messages(constants.FormField.ISSUE_ASSET.name): @if(acl.issueAsset) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>
                                        <p>

                                            @Messages(constants.FormField.ISSUE_FIAT.name) : @if(acl.issueFiat) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>
                                        <p>
                                            @Messages(constants.FormField.SEND_ASSET.name): @if(acl.sendAsset) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.SEND_FIAT.name): @if(acl.sendFiat) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.REDEEM_ASSET.name): @if(acl.redeemAsset) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.REDEEM_FIAT.name):@if(acl.redeemFiat) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.BUYER_EXECUTE_ORDER.name): @if(acl.buyerExecuteOrder) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.SELLER_EXECUTE_ORDER.name): @if(acl.sellerExecuteOrder) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.NEGOTIATION.name): @if(acl.negotiation) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.CHANGE_BUYER_BID.name): @if(acl.changeBuyerBid) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.CHANGE_SELLER_BID.name): @if(acl.changeSellerBid) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.CONFIRM_BUYER_BID.name): @if(acl.confirmBuyerBid) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.CONFIRM_SELLER_BID.name): @if(acl.confirmSellerBid) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>

                                        <p>
                                            @Messages(constants.FormField.RELEASE_ASSET.name): @if(acl.releaseAsset) {
                                            <span cmuk-icon="check"></span>
                                        } else {
                                            <span cmuk-icon="close"></span>
                                            <br>
                                            }
                                        </p>
                                    }
                                    case _ => {}
                                }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        </div>
    <script>
            componentResource('profilePhoto', jsRoutes.controllers.ComponentViewController.profilePicture());
            componentResource('profileDocuments', jsRoutes.controllers.ComponentViewController.profileDocuments());
            componentResource('contactDetails', jsRoutes.controllers.ContactController.contact());
            componentResource('identificationDetails', jsRoutes.controllers.ProfileController.identificationDetails());
            componentResource('organizationDetails', jsRoutes.controllers.ProfileController.organizationDetails());
    </script>
}
