@import controllers.actions.LoginState

@(profilePicture: Array[Byte] = Array[Byte]())(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)


    @if(profilePicture sameElements Array[Byte]()) {
    <div class="cmuk-text-center">
        <div class="cmuk-inline-clip cmuk-transition-toggle" tabindex="0">
            <img id="profilePicture" class="profilePicture" src="@routes.Assets.versioned("images/defaultProfilePicture.jpg")" alt="">
            <div class="cmuk-transition-slide-bottom cmuk-position-bottom cmuk-overlay-default">
                <p class="cmuk-h4 cmuk-margin-remove">
                    <button id="profilePictureBottomUploadButton" class="btn btn-default btn-sm" onclick="getForm(jsRoutes.controllers.FileController.uploadAccountFileForm('@constants.File.PROFILE_PICTURE'))">@Messages(constants.Form.UPLOAD)</button>
                </p>
            </div>
        </div>
    </div>

    } else {
    <div class="cmuk-text-center">
        <div class="cmuk-inline-clip cmuk-transition-toggle" tabindex="0">
            <img id="profilePicture" class="profilePicture" src="data:image/jpg;base64,@utilities.ImageProcess.decodeImageThumbnailData(profilePicture)" alt="@constants.Form.PROFILE_PICTURE">
            <div class="cmuk-transition-slide-bottom cmuk-position-bottom cmuk-overlay-default">
                <p class="cmuk-h4 cmuk-margin-remove">
                    <button id="profilePictureBottomUpdateButton" class="btn btn-default btn-sm" onclick="getForm(jsRoutes.controllers.FileController.updateAccountFileForm('@constants.File.PROFILE_PICTURE'))">@Messages(constants.Form.UPDATE)</button>
                </p>
            </div>
        </div>
    </div>
}