@import controllers.actions.LoginState
@import models.masterTransaction.Notification
@import views.html.base._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.RECENT_ACTIVITY) {
} {
    <div class="scroller">
        <div id="recentActivityMessages"></div>
        <div class="cover-bar"></div>
    </div>
}
<script>
    componentResource('recentActivityMessages', jsRoutes.controllers.NotificationController.recentActivityMessages(1));
</script>
