@import controllers.actions.LoginState
@import views.html.base._

@()(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="recentActivityContainer">
@commonCard() {
    <p>Recent Activity</p>
}{
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="./images/icons/contractIcon.svg" alt="">
            </div>
            <div class="timeline-content right">
                <p class="cmuk-margin-remove">Seller generated Contract document
                </p>
                <span>5 hours ago</span>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="./images/icons/acceptIcon.svg" alt="">
            </div>
            <div class="timeline-content right">
                <p class="cmuk-margin-remove">
                    Buyer Accepted all Trade Terms
                </p>
                <span>5 hours ago</span>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="./images/icons/contractIcon.svg" alt="">
            </div>
            <div class="timeline-content right">
                <p class="cmuk-margin-remove">Seller generated Contract document
                </p>
                <span>5 hours ago</span>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <img src="./images/icons/acceptIcon.svg" alt="">
            </div>
            <div class="timeline-content right">
                <p class="cmuk-margin-remove">
                    Buyer Accepted all Trade Terms
                </p>
                <span>5 hours ago</span>
            </div>
        </div>
    </div>
    <div class="cover-bar"></div>
}
</div>