@import controllers.actions.LoginState
@import models.masterTransaction.Notification
@import views.html.base._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

@commonCard(constants.View.RECENT_ACTIVITY, 'cardIconPath -> "images/icons/icons.svg#recentActivity") {
} {
    <div class="scroller">
        <div  id="recentActivityMessages" class="recentActivityMessages" ></div>
        <div class="load-more-container">
            <p onclick="loadMoreActivitiesOnScroll()">@Messages(constants.View.LOAD_MORE)</p>
        </div>
    </div>
}
<script>
    componentResource('recentActivityMessages', jsRoutes.controllers.NotificationController.recentActivityMessages(1), 'RECENT_ACTIVITY_LOADING');
</script>