@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.ReceiveFiat

@(receiveFiats: Seq[ReceiveFiat])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

    @commonCard(constants.View.RECEIVED_FIAT) {
    } {
        @receiveFiats.map { receiveFiat =>
            @commonVerticalInfoBox() {
                @commonVerticalTextInfo(constants.View.ID, receiveFiat.id)
                @commonVerticalTextInfo(constants.View.TRADER_ID, receiveFiat.traderID)
                @commonVerticalTextInfo(constants.View.ORDER_ID, receiveFiat.orderID)
                @commonVerticalIntInfo(constants.View.AMOUNT, receiveFiat.amount)
                @commonVerticalTextInfo(constants.View.STATUS, receiveFiat.status)
            }
        }
    }