@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.RedeemAsset

@(redeemAssetForm: Form[RedeemAsset.Data] = RedeemAsset.form, zoneID: String, pegHash: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.REDEEM_ASSET, redeemAssetForm) {
    @commonInputText(redeemAssetForm, constants.FormField.ZONE_ID, 'value -> zoneID))
    @commonInputText(redeemAssetForm, constants.FormField.PEG_HASH, 'value -> pegHash))
    @commonInputInt(redeemAssetForm, constants.FormField.GAS)
    @commonInputPassword(redeemAssetForm, constants.FormField.PASSWORD)
}