@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.RedeemFiat

@(redeemFiatForm: Form[RedeemFiat.Data] = RedeemFiat.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.REDEEM_FIAT, redeemFiatForm) {
    @commonInputMicroLong(redeemFiatForm, constants.FormField.REDEEM_AMOUNT)
    @commonInputMicroLong(redeemFiatForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(redeemFiatForm, constants.FormField.PASSWORD)
}