@import helper._
@import views.companion.master.RejectVerifyZoneRequest

@(rejectVerifyZoneRequestForm: Form[RejectVerifyZoneRequest.Data], zoneID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.AddZoneController.rejectVerifyZoneRequest, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.REJECT_VERIFY_ZONE_REQUEST)</h4>
    </div>
    <div class="latest_card-body">
    @CSRF.formField
    @inputText(rejectVerifyZoneRequestForm(constants.Form.ZONE_ID).copy(value = Some(zoneID)), '_label -> Messages(constants.Form.ZONE_ID),
        'class -> "form-control",'placeholder->Messages(constants.Form.ZONE_ID),'required->true)

    @if(rejectVerifyZoneRequestForm.hasGlobalErrors) {
        <ul>
        @for(error <- rejectVerifyZoneRequestForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-sm btn-primary" onclick="submitForm(this)">@Messages(constants.Form.REJECT_VERIFY_ZONE_REQUEST)</button>
    </div>
}
