@import helper._
@import views.companion.master.RejectFaucetRequest
@import controllers.actions.LoginState

@(rejectFaucetRequestForm: Form[RejectFaucetRequest.Data], requestID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@form(action = routes.SendCoinController.rejectFaucetRequest, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.REJECT_FAUCET_REQUEST)</h4>
    </div>
    <div class="latest_card-body">
    @CSRF.formField
    @inputText(rejectFaucetRequestForm(constants.Form.REQUEST_ID).copy(value = Some(requestID)), '_label -> Messages(constants.Form.REQUEST_ID),
        'class -> "form-control",'placeholder->Messages(constants.Form.REQUEST_ID),'required->true)
    @inputText(rejectFaucetRequestForm(constants.Form.COMMENT), '_label -> Messages(constants.Form.COMMENT),
        'class -> "form-control",'placeholder->Messages(constants.Form.COMMENT),'required->true)
    @if(rejectFaucetRequestForm.hasGlobalErrors) {
        <ul>
        @for(error <- rejectFaucetRequestForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-sm btn-primary" onclick="submitForm(this)">@Messages(constants.Form.REJECT_FAUCET_REQUEST)</button>
    </div>
}