@import helper._
@import views.companion.master.RejectIssueFiatRequest

@(rejectIssueFiatRequestForm: Form[RejectIssueFiatRequest.Data], requestID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.IssueFiatController.rejectIssueFiatRequest, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(rejectIssueFiatRequestForm(constants.Form.REQUEST_ID).copy(value = Some(requestID)), '_label -> Messages(constants.Form.REQUEST_ID))
    @inputText(rejectIssueFiatRequestForm(constants.Form.COMMENT), '_label -> Messages(constants.Form.COMMENT))
    @if(rejectIssueFiatRequestForm.hasGlobalErrors) {
        <ul>
        @for(error <- rejectIssueFiatRequestForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" onclick="submitForm(this)">@Messages(constants.Form.REJECT_ISSUE_FIAT_REQUEST)</button>
}
