@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.RejectFaucetRequest

@(rejectFaucetRequestForm: Form[RejectFaucetRequest.Data] = RejectFaucetRequest.form, requestID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.REJECT_FAUCET_REQUEST, rejectFaucetRequestForm) {
    <div class="modalInnerContainerFirst">
    @commonInputText(rejectFaucetRequestForm, constants.FormField.REQUEST_ID, 'value -> requestID)
    @commonInputText(rejectFaucetRequestForm, constants.FormField.COMMENT, 'required -> false)
    </div>
}