@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.RejectOrganizationRequest

@(rejectOrganizationRequestForm: Form[RejectOrganizationRequest.Data] = RejectOrganizationRequest.form, organizationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.REJECT_ORGANIZATION_REQUEST, rejectOrganizationRequestForm) {
    <div class="modalInfoBlock">
    @commonInputText(rejectOrganizationRequestForm, constants.FormField.ORGANIZATION_ID, 'value -> organizationID, 'readonly -> true)
    @commonInputText(rejectOrganizationRequestForm, constants.FormField.COMMENT, 'required -> false)
    @commonModalButton(constants.View.BACK, routes.javascript.ComponentViewController.zoneViewPendingOrganizationRequest, 'parameters -> s"'${organizationID}'")
    </div>
}