@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.RejectFaucetRequest

@(rejectFaucetRequestForm: Form[RejectFaucetRequest.Data] = RejectFaucetRequest.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.REJECT_FAUCET_REQUEST, rejectFaucetRequestForm) {
    @commonInputText(rejectFaucetRequestForm, constants.FormField.REQUEST_ID)
    @commonInputText(rejectFaucetRequestForm, constants.FormField.COMMENT)
}