@import helper._
@import views.companion.master.RejectVerifyOrganizationRequest

@(rejectVerifyOrganizationRequestForm: Form[RejectVerifyOrganizationRequest.Data], organizationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.AddOrganizationController.rejectVerifyOrganizationRequest, 'onkeypress -> "validateForm(event,this)") {
  @CSRF.formField
  @inputText(rejectVerifyOrganizationRequestForm(constants.Form.ORGANIZATION_ID).copy(value = Some(organizationID)), '_label -> Messages(constants.Form.ORGANIZATION_ID))

  @if(rejectVerifyOrganizationRequestForm.hasGlobalErrors) {
    <ul>
    @for(error <- rejectVerifyOrganizationRequestForm.globalErrors) {
      <li>@error.format</li>
    }
    </ul>
  }
  <button type="button" onclick="submitForm(this)">@Messages(constants.Form.REJECT_VERIFY_ORGANIZATION_REQUEST)</button>
}
