@import helper._
@import views.companion.master.ReleaseAsset
@import controllers.actions.LoginState

@(releaseAssetForm: Form[ReleaseAsset.Data], ownerAddress:String, pegHash: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@form(action = routes.ReleaseAssetController.releaseAsset, 'onkeypress -> "validateForm(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.REJECT_VERIFY_ZONE_REQUEST)</h4>
    </div>
    <div class="latest_card-body">
    @CSRF.formField
    @inputText(releaseAssetForm(constants.Form.BLOCKCHAIN_ADDRESS).copy(value = Some(ownerAddress)), '_label -> Messages(constants.Form.BLOCKCHAIN_ADDRESS),
        'class -> "form-control",'placeholder->Messages(constants.Form.BLOCKCHAIN_ADDRESS),'required->true)
    @inputText(releaseAssetForm(constants.Form.PEG_HASH).copy(value = Some(pegHash)), '_label -> Messages(constants.Form.PEG_HASH),
        'class -> "form-control",'placeholder->Messages(constants.Form.PEG_HASH),'required->true)
    @inputText(releaseAssetForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS),
        'class -> "form-control",'placeholder->Messages(constants.Form.GAS),'required->true)
    @inputPassword(releaseAssetForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD),
        'class -> "form-control",'placeholder->Messages(constants.Form.PASSWORD),'required->true)

    @if(releaseAssetForm.hasGlobalErrors) {
        <ul>
        @for(error <- releaseAssetForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-sm btn-primary" onclick="submitForm(this)">@Messages(constants.Form.RELEASE_ASSET)</button>
    </div>

}
