@import controllers.actions.LoginState
@import helper._
@import views.html.base._
@import views.companion.master.ReleaseAsset

@(releaseAssetForm: Form[ReleaseAsset.Data] = ReleaseAsset.form, ownerAddress: String, pegHash: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@baseForm(constants.Form.RELEASE_ASSET, releaseAssetForm) {
    @inputText(releaseAssetForm(constants.FormField.BLOCKCHAIN_ADDRESS.name).copy(value = Some(ownerAddress)), '_label -> Messages(constants.FormField.BLOCKCHAIN_ADDRESS.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.BLOCKCHAIN_ADDRESS.name), 'required -> true)
    @inputText(releaseAssetForm(constants.FormField.PEG_HASH.name).copy(value = Some(pegHash)), '_label -> Messages(constants.FormField.PEG_HASH.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.PEG_HASH.name), 'required -> true)
    @inputText(releaseAssetForm(constants.FormField.GAS.name), '_label -> Messages(constants.FormField.GAS.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.GAS.name), 'required -> true, 'type -> "number")
    @inputPassword(releaseAssetForm(constants.FormField.PASSWORD.name), '_label -> Messages(constants.FormField.PASSWORD.name), 'class -> "cmuk-input", 'placeholder -> Messages(constants.FormField.PASSWORD.name), 'required -> true)
}
