@import helper._
@import views.companion.master.RequestCoin

@(requestCoinFormForm: Form[RequestCoin.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.SendCoinController.requestCoins, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(requestCoinFormForm(constants.Form.COUPON), '_label -> Messages(constants.Form.COUPON),'class -> "form-control")

    @if(requestCoinFormForm.hasGlobalErrors) {
        <ul>
        @for(error <- requestCoinFormForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.REQUEST_COIN)</button>
}
