@import helper._
@import views.companion.master.RequestCoins

@(getCoinForm: Form[RequestCoins.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.REQUEST_COIN_TITLE)) {
    @form(action = routes.SendCoinController.requestCoins) {
        @CSRF.formField
        @inputText(getCoinForm(constants.Forms.GAS),'_label-> Messages(constants.Forms.GAS))
        @inputPassword(getCoinForm(constants.Forms.PASSWORD),'_label-> Messages(constants.Forms.PASSWORD))

        @if(getCoinForm.hasGlobalErrors) {
            <ul>
            @for(error <- getCoinForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.REQUEST_COIN_TITLE)</button>
    }
}