@import controllers.actions.LoginState
@import helper._
@import models.master.{Zone, ZoneKYC}
@import play.api.Logger
@import views.companion.master.ZoneCompletion

@(zoneCompletionForm: Form[ZoneCompletion.Data], zone: Zone, zoneKYCs: Seq[ZoneKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)

<div class="latest_card-header latest_card-header-primary text-center">
    <h4 class="latest_card-title">@Messages(constants.Form.REVIEW)</h4>
</div>

<div class="latest_card-body">
    <div class="leftText">
        <div>@Messages(constants.Form.ZONE_DETAILS):<br>
            <span class="red">@Messages(constants.Form.NAME)</span>: @zone.name <br>
            <span class="red">@Messages(constants.Form.CURRENCY)</span>: @zone.currency <br>
            @Messages(constants.Form.ADDRESS): <br>
            <span class="red">@Messages(constants.Form.ADDRESS_LINE_1)</span>: @zone.postalAddress.addressLine1 <br>
            <span class="red">@Messages(constants.Form.ADDRESS_LINE_2)</span>: @zone.postalAddress.addressLine2 <br>
            <span class="red">@Messages(constants.Form.LANDMARK)</span>: @zone.postalAddress.landmark.getOrElse("") <br>
            <span class="red">@Messages(constants.Form.CITY)</span>: @zone.postalAddress.city <br>
            <span class="red">@Messages(constants.Form.COUNTRY)</span>: @zone.postalAddress.country <br>
            <span class="red">@Messages(constants.Form.ZIP_CODE)</span>: @zone.postalAddress.zipCode <br>
            <span class="red">@Messages(constants.Form.PHONE)</span>: @zone.postalAddress.phone
        </div>
        <br>
        <div id="zoneKYCs">@Messages(constants.Form.ZONE_KYC_FILES): <br>
            @for(zoneKYC <- zoneKYCs) {
                @component.master.commonDocumentViewer(zoneKYC) {
                    @routes.FileController.userAccessedZoneKYCFile(zoneKYC.documentType)
                } { } {
                    <span>@zoneKYC.documentType</span>
                }
            }
        </div>
        <br>
        @form(action = routes.AddZoneController.reviewZoneCompletion, 'onkeypress -> "submitFormOnEnter(event,this)") {
            @CSRF.formField
            @Messages(constants.Form.COMPLETION):
            <span>@checkbox(zoneCompletionForm(constants.Form.COMPLETION), '_label -> Messages(constants.Form.COMPLETION), 'placeholder -> Messages(constants.Form.COMPLETION), 'required -> true)</span>
            @if(zoneCompletionForm.hasGlobalErrors) {
                <ul>
                @for(error <- zoneCompletionForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="button" class="btn-sm btn btn-primary" onclick="getForm(jsRoutes.controllers.AddZoneController.userUploadOrUpdateZoneKYCView())">@Messages(constants.Form.BACK)</button>
            <button type="button" class="btn-sm btn btn-primary" onclick="submitForm(this)">@Messages(constants.Form.SUBMIT)</button>
        }
    </div>
</div>
