@import controllers.actions.LoginState
@import helper._
@import models.master.{Organization, Trader, TraderKYC, Zone}
@import play.api.Logger
@import views.companion.master.TraderCompletion

@(traderCompletionForm: Form[TraderCompletion.Data], trader: Trader, organization: Organization, zone: Zone, traderKYCs: Seq[TraderKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)

<div class="latest_card-header latest_card-header-primary text-center">
    <h4 class="latest_card-title">@Messages(constants.Form.REVIEW)</h4>
</div>

<div class="latest_card-body">
        <div class="leftText">
            <div>@Messages(constants.Form.TRADER_DETAILS):<br>
                <span class="red">@Messages(constants.Form.NAME)</span>: @trader.name <br>
            </div>
            <br>
            <div>@Messages(constants.Form.ORGANIZATION_DETAILS):<br>
                <span class="red">@Messages(constants.Form.ORGANIZATION_ID)</span>: @organization.id <br>
                <span class="red">@Messages(constants.Form.NAME)</span>: @organization.name <br>
                <span class="red">@Messages(constants.Form.ABBREVIATION)</span>: @organization.abbreviation.getOrElse("") <br>
                <span class="red">@Messages(constants.Form.ESTABLISHMENT_DATE)</span>: @organization.establishmentDate <br>
                <span class="red">@Messages(constants.Form.EMAIL)</span>: @organization.email <br>
            </div>
            <br>
            <div>@Messages(constants.Form.ZONE_DETAILS):<br>
                <span class="red">@Messages(constants.Form.NAME)</span>: @zone.name <br>
                <span class="red">@Messages(constants.Form.CURRENCY)</span>: @zone.currency <br>
            </div>
            <br>
            <div id="traderKYCs">@Messages(constants.Form.ORGANIZATION_KYC_FILES): <br>
            @for(traderKYC <- traderKYCs) {
                @component.master.commonDocumentViewer(traderKYC) {
                    @routes.FileController.userAccessedTraderKYCFile(traderKYC.documentType)
                } { } {
                    <span>@traderKYC.documentType</span>
                }
            }
            </div>
            <br>
            @form(action = routes.SetACLController.reviewTraderCompletion, 'onkeypress -> "validateForm(event,this)") {
                @CSRF.formField
                @Messages(constants.Form.COMPLETION):
                <span>@checkbox(traderCompletionForm(constants.Form.COMPLETION), '_label -> Messages(constants.Form.COMPLETION), 'class -> "form-control", 'placeholder -> Messages(constants.Form.COMPLETION), 'required -> true)</span>
                @if(traderCompletionForm.hasGlobalErrors) {
                    <ul>
                    @for(error <- traderCompletionForm.globalErrors) {
                        <li>@error.format</li>
                    }
                    </ul>
                }
                <button type="button" class="btn-sm btn btn-primary" onclick="getForm(jsRoutes.controllers.SetACLController.userUploadOrUpdateTraderKYCView())">@Messages(constants.Form.BACK)</button>
                <button type="button" class="btn-sm btn btn-primary" onclick="submitForm(this)">@Messages(constants.Form.SUBMIT)</button>
            }
    </div>
</div>
