@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Asset
@import models.master.Negotiation
@import models.master.Trader
@import views.companion.master.ReviewNegotiationRequest

@(traderReviewNegotiationRequest: Form[ReviewNegotiationRequest.Data] = ReviewNegotiationRequest.form, assetProperty: AssetProperty, negotiation: Negotiation, counterPartyTrader: Trader)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.REVIEW_NEGOTIATION_REQUEST, traderReviewNegotiationRequest) {
    <div class="cmuk-text-left title">@Messages(constants.View.COUNTER_PARTY_DETAILS)</div>
    @commonTextInfo(constants.View.ACCOUNT_ID, counterPartyTrader.accountID)
    <div class="cmuk-text-left title">@Messages(constants.View.ASSET)</div>
    @commonTextInfo(constants.View.ASSET_TYPE, assetProperties.getOrElse(constants.Property.ASSET_TYPE.dataName,Some("")).getOrElse(""))
    @commonTextInfo(constants.View.ASSET_DESCRIPTION, assetProperties.getOrElse(constants.Property.ASSET_DESCRIPTION.dataName,Some("")).getOrElse(""))
    @commonTextInfo(constants.View.ASSET_QUANTITY, Seq(assetProperties.getOrElse(constants.Property.QUANTITY.dataName,Some("")).getOrElse(""), assetProperties.getOrElse(constants.Property.QUANTITY_UNIT.dataName,Some("")).getOrElse("")).mkString(" "))
    @commonTextInfo(constants.View.ASSET_PRICE_PER_UNIT, Seq((assetProperties.getOrElse(constants.Property.PRICE.dataName,Some("")).getOrElse("").toDouble/assetProperties.getOrElse(constants.Property.QUANTITY.dataName,Some("")).getOrElse("").toDouble), Messages(constants.View.USD), Messages(constants.View.PER),assetProperties.getOrElse(constants.Property.QUANTITY_UNIT.dataName,Some("")).getOrElse("")).mkString(" "))
    @commonTextInfo(constants.View.TOTAL_AMOUNT, Seq(assetProperties.getOrElse(constants.Property.PRICE.dataName,Some("")).getOrElse(""), Messages(constants.View.USD)).mkString(" "))
    @commonTextInfo(constants.View.MODERATED, assetProperties.getOrElse(constants.Property.MODERATED.dataName,Some("")).getOrElse(""))
    @commonTextInfo(constants.View.SHIPPING_PERIOD, assetProperties.getOrElse(constants.Property.SHIPPING_PERIOD.dataName,Some("")).getOrElse(""))
    @commonTextInfo(constants.View.PORT_OF_LOADING, assetProperties.getOrElse(constants.Property.PORT_OF_LOADING.dataName,Some("")).getOrElse(""))
    @commonTextInfo(constants.View.PORT_OF_DISCHARGE, assetProperties.getOrElse(constants.Property.PORT_OF_DISCHARGE.dataName,Some("")).getOrElse(""))
            <div class="cmuk-text-left title">@Messages(constants.View.PAYMENT_TERMS)</div>
            @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage)
            @negotiation.paymentTerms.credit match {
                case Some(creditTerms) => {
                    @creditTerms.tentativeDate match {
                        case Some(date) => {@commonDateInfo(constants.View.TENTATIVE_DATE, date)}
                        case None => {@commonIntInfo(constants.View.TENURE, creditTerms.tenure.getOrElse(0))
                    @commonTextInfo(constants.View.REFERENCE, creditTerms.reference.getOrElse(""))
                }
            }
                }
                case None => {}
            }
            @commonBooleanInfo(constants.View.CREDIT, Option(negotiation.paymentTerms.credit.isDefined))
            <div class="cmuk-text-left title">@Messages(constants.View.DOCUMENT_LIST)</div>
            @negotiation.documentList.assetDocuments.map { assetDocument =>
                <p  class="cmuk-text-left cmuk-margin-remove"><span>@Messages(assetDocument)</span></p>
            }
            @negotiation.documentList.negotiationDocuments.map { negotiationDocument =>
                <p  class="cmuk-text-left cmuk-margin-remove"><span class="cmuk-text-left">@Messages(negotiationDocument)</span></p>
            }
    @commonInputText(traderReviewNegotiationRequest, constants.FormField.ID, 'value -> negotiation.id, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonModalButton(constants.View.BACK, constants.Form.NEGOTIATION_DOCUMENT_LIST.get, 'class -> "cmuk-margin-top buttonPrimary", 'parameters -> s"'${negotiation.id}'")
}
