@import controllers.actions.LoginState
@import helper._
@import views.html.base._
@import models.master.{Organization, OrganizationBankAccountDetail, OrganizationKYC, Zone}
@import play.api.Logger
@import views.companion.master.ReviewAddOrganizationOnCompletion

@(reviewAddOrganizationOnCompletionForm: Form[ReviewAddOrganizationOnCompletion.Data] = ReviewAddOrganizationOnCompletion.form, organization: Organization, zone: Zone, organizationBankAccountDetail: OrganizationBankAccountDetail, organizationKYCs: Seq[OrganizationKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
@commonForm(constants.Form.REVIEW_ADD_ORGANIZATION_ON_COMPLETION, reviewAddOrganizationOnCompletionForm) {
    <div>@Messages(constants.Form.ZONE_DETAILS): <br>
        <span class="red">@Messages(constants.Form.NAME)</span>: @zone.name <br>
        <span class="red">@Messages(constants.Form.CURRENCY)</span>: @zone.currency <br>
    </div>
    <br>
    <div>@Messages(constants.Form.ORGANIZATION_DETAILS): <br>
        <span class="red">@Messages(constants.Form.ORGANIZATION_ID)</span>: @organization.id <br>
        <span class="red">@Messages(constants.Form.NAME)</span>: @organization.name <br>
        <span class="red">@Messages(constants.Form.ABBREVIATION)</span>: @organization.abbreviation.getOrElse("") <br>
        <span class="red">@Messages(constants.Form.ESTABLISHMENT_DATE)</span>: @organization.establishmentDate <br>
        <span class="red">@Messages(constants.Form.EMAIL)</span>: @organization.email <br>
    </div>
    <br>
    <div>@Messages(constants.Form.REGISTERED_ADDRESS) : <br>
        <span class="red">@Messages(constants.Form.ADDRESS_LINE_1)</span>: @organization.registeredAddress.addressLine1 <br>
        <span class="red">@Messages(constants.Form.ADDRESS_LINE_2)</span>: @organization.registeredAddress.addressLine2 <br>
        <span class="red">@Messages(constants.Form.LANDMARK)</span>: @organization.registeredAddress.landmark.getOrElse("") <br>
        <span class="red">@Messages(constants.Form.CITY)</span>: @organization.registeredAddress.city <br>
        <span class="red">@Messages(constants.Form.COUNTRY)</span>: @organization.registeredAddress.country <br>
        <span class="red">@Messages(constants.Form.ZIP_CODE)</span>: @organization.registeredAddress.zipCode <br>
        <span class="red">@Messages(constants.Form.PHONE)</span>: @organization.registeredAddress.phone
    </div>
    <br>
    <div>@Messages(constants.Form.POSTAL_ADDRESS) : <br>
        <span class="red">@Messages(constants.Form.ADDRESS_LINE_1)</span>: @organization.postalAddress.addressLine1 <br>
        <span class="red">@Messages(constants.Form.ADDRESS_LINE_2)</span>: @organization.postalAddress.addressLine2 <br>
        <span class="red">@Messages(constants.Form.LANDMARK)</span>: @organization.postalAddress.landmark.getOrElse("") <br>
        <span class="red">@Messages(constants.Form.CITY)</span>: @organization.postalAddress.city <br>
        <span class="red">@Messages(constants.Form.COUNTRY)</span>: @organization.postalAddress.country <br>
        <span class="red">@Messages(constants.Form.ZIP_CODE)</span>: @organization.postalAddress.zipCode <br>
        <span class="red">@Messages(constants.Form.PHONE)</span>: @organization.postalAddress.phone
    </div>
    <br>
    <div>@Messages(constants.Form.ORGANIZATION_UBO_DETAIL): <br>
        @for(ubo <- organization.ubos.data) {
            <span class="red">@Messages(constants.Form.PERSON_NAME)</span>: @ubo.personName <br>
            <span class="red">@Messages(constants.Form.SHARE_PERCENTAGE)</span>: @ubo.sharePercentage <br>
            <span class="red">@Messages(constants.Form.RELATIONSHIP)</span>: @ubo.relationship <br>
            <span class="red">@Messages(constants.Form.TITLE)</span>: @ubo.title <br>
            }
    </div>
    <br>
    <div class="leftText">@Messages(constants.View.ORGANIZATION_BANK_ACCOUNT_DETAIL): <br>
        <span class="red">@Messages(constants.Form.ACCOUNT_HOLDER_NAME)</span>: @organizationBankAccountDetail.accountHolder <br>
        <span class="red">@Messages(constants.Form.NICK_NAME)</span>: @organizationBankAccountDetail.nickName <br>
        <span class="red">@Messages(constants.Form.ACCOUNT_NUMBER)</span>: @organizationBankAccountDetail.accountNumber <br>
        <span class="red">@Messages(constants.Form.BANK_NAME)</span>: @organizationBankAccountDetail.bankName <br>
        <span class="red">@Messages(constants.Form.SWIFT_CODE)</span>: @organizationBankAccountDetail.swiftAddress <br>
        <span class="red">@Messages(constants.Form.BANK_ADDRESS)</span>: @organizationBankAccountDetail.swiftAddress <br>
        <span class="red">@Messages(constants.Form.COUNTRY)</span>: @organizationBankAccountDetail.country <br>
        <span class="red">@Messages(constants.Form.ZIP_CODE)</span>: @organizationBankAccountDetail.zipCode <br>
    </div>
    <br>
    <div id="organizationKYCs">@Messages(constants.Form.ORGANIZATION_KYC_FILES): <br>
        @for(organizationKYC <- organizationKYCs) {
            @component.master.commonDocumentViewer(organizationKYC) {
                @routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)
            } {

            } {
                <span>@organizationKYC.documentType</span>
            }
        }
    </div>
    <br>
    @Messages(constants.FormField.COMPLETION.name):
    <span>@checkbox(reviewAddOrganizationOnCompletionForm(constants.FormField.COMPLETION.name), '_label -> Messages(constants.FormField.COMPLETION.name), 'class -> "cmuk-checkbox", 'placeholder -> Messages(constants.FormField.COMPLETION.name), 'required -> true)</span>
    <button class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userUploadOrUpdateOrganizationKYCView())">@Messages(constants.Form.BACK)</button>
}
