@import controllers.actions.LoginState
@import models.masterTransaction.SalesQuote
@import views.html.base._

@(sellSalesQuoteListRoute:String,buySalesQuoteListRoute:String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
@commonCard(constants.View.SALES_QUOTE_LIST) {
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SalesQuoteController.commodityDetailsForm())">@Messages(constants.Form.CREATE_SALES_QUOTE)</button>
} {
    @commonHorizontalSwitcher(jsRouteItems = Map(constants.View.SELL -> sellSalesQuoteListRoute,
        constants.View.BUY -> buySalesQuoteListRoute,
    ))
}
</div>






