@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.SALES_QUOTE_LIST) {
    @commonModalButton(constants.Form.CREATE_SALES_QUOTE, constants.Form.COMMODITY_DETAILS.get)
} {
    @commonHorizontalSwitcher(ListMap(constants.View.SELL -> routes.javascript.ComponentViewController.sellSalesQuoteList,
        constants.View.BUY -> routes.javascript.ComponentViewController.buySalesQuoteList,
    ))
}






