@import views.html.base._
@import views.companion.master.SellerExecuteOrder

@(sellerExecuteOrderForm: Form[SellerExecuteOrder.Data] = SellerExecuteOrder.form, orderID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.SELLER_EXECUTE_ORDER, sellerExecuteOrderForm) {
    @commonInputText(sellerExecuteOrderForm, constants.FormField.ORDER_ID, 'value -> orderID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputMicroLong(sellerExecuteOrderForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(sellerExecuteOrderForm, constants.FormField.PASSWORD)
}


