@import controllers.actions.LoginState
@import models.masterTransaction.NegotiationFile
@import views.html.base._
@(negotiationFile: Option[NegotiationFile] = None, negotiationRequestID: String, documentType: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@commonCard(constants.Form.SELLER_EXECUTE_ORDER.legend){
}{
    <div class="centerText">
        <div id="upload@documentType">
            <button onclick="getForm(jsRoutes.controllers.FileController.uploadTraderNegotiationForm('@documentType', '@negotiationRequestID'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>
        </div>
        @negotiationFile match {
            case Some(file) => {
            }
            case None => {}
        }

    </div>
}


