@import controllers.actions.LoginState
@import models.masterTransaction.NegotiationFile
@import views.html.base._
@(negotiationFile: Option[NegotiationFile] = None, negotiationRequestID: String, documentType: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@commonCard(constants.Form.SELLER_EXECUTE_ORDER.legend){
}{
    <div class="centerText">
        <div id="upload@documentType">
@*            <button onclick="getForm(jsRoutes.controllers.FileController.uploadTraderNegotiationForm('@documentType', '@negotiationRequestID'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>*@
            @commonModalButton(constants.Form.UPLOAD + " " +documentType,routes.javascript.FileController.uploadTraderNegotiationForm,'parameters -> s"'${documentType},${negotiationRequestID}'")
        </div>
        @negotiationFile match {
            case Some(file) => {
                @component.master.commonDocumentViewer(file) {
                    @routes.FileController.tradingFile(file.id, file.fileName, file.documentType)
                } {
                    <a href="@routes.FileController.tradingFile(file.id, file.fileName, file.documentType)" target="_blank">@Messages(file.documentType)</a>
                } {
@*                    <button onclick="getForm(jsRoutes.controllers.FileController.updateTraderNegotiationForm('@file.documentType','@file.id'))">@Messages(constants.Form.UPDATE) @Messages(file.documentType)</button>*@
                    @commonModalButton(constants.Form.UPDATE + " " + file.documentType,routes.javascript.FileController.updateTraderNegotiationForm,'parameters -> s"'${file.documentType},${file.id}'")
                    <script>hideElement('upload@file.documentType')</script>
                }
@*                <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.OrderController.sellerExecuteOrderForm('@file.id'))">@Messages(constants.Form.NEXT)</button>*@
                @commonFormButton(constants.Form.SELLER_EXECUTE_ORDER,'parameters -> s"'${file.id}'")
            }
            case None => {}
        }

    </div>
}


