@import controllers.actions.LoginState
@import models.masterTransaction.SalesQuote
@import views.html.base._

@(sellSalesQuoteList: Seq[SalesQuote])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    @commonTable() {
    } {
        <tr>
            <th>@Messages(constants.Form.ASSET_TYPE)</th>
            <th>@Messages(constants.View.ASSET_DESCRIPTION)</th>
            <th>@Messages(constants.Form.ASSET_QUANTITY)</th>
            <th>@Messages(constants.Form.ASSET_PRICE)</th>
            <th>@Messages(constants.View.BUYER)</th>
            <th>@Messages(constants.View.STATUS)</th>
        </tr>
        @sellSalesQuoteList.map { sellSalesQuote =>
            <tr>
                <td>@sellSalesQuote.assetType</td>
                <td>@sellSalesQuote.assetDescription</td>
                <td>@sellSalesQuote.assetQuantity </td>
                <td>@sellSalesQuote.assetPrice</td>
                <td>@sellSalesQuote.buyerAccountID</td>
                <td>
                @if(sellSalesQuote.completionStatus) {
                    @sellSalesQuote.invitationStatus match {
                        case None => {
                            @Messages(constants.View.INVITATION_SENT)
                        }
                        case Some(false) => {
                            @Messages(constants.View.REJECTED)
                        }
                    }
                } else {
                    @commonModalButton(constants.View.INCOMPLETE, constants.Form.COMMODITY_DETAILS.get, 'parameters -> s"'${sellSalesQuote.id}'")
                }
                </td>
            </tr>

        }
    }
</div>