@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendFiat

@(sendFiatForm: Form[SendFiat.Data] = SendFiat.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.SEND_FIAT, sendFiatForm) {
    @commonInputText(sendFiatForm, constants.FormField.SELLER_ADDRESS)
    @commonInputInt(sendFiatForm, constants.FormField.AMOUNT)
    @commonInputText(sendFiatForm, constants.FormField.PEG_HASH)
    @commonInputInt(sendFiatForm, constants.FormField.GAS)
    @commonInputPassword(sendFiatForm, constants.FormField.PASSWORD)
}