@import views.html.base._
@import views.companion.master.SendMessage
@import views.html.helper.form
@import views.html.helper.CSRF

@(sendMessageForm: Form[SendMessage.Data] = SendMessage.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@form(action = constants.Form.SEND_CHAT.route, 'onkeypress -> "submitChatOnEnter(event,this)") {
    <fieldset class="cmuk-fieldset cmuk-form-stacked">
        @CSRF.formField
        <div style="position: relative">
        <div id="replyBox" style="display:none;" class="cmuk-flex replyBox">
           <div class="cmuk-flex" style="align-items:center">
            <div>
                <span cmuk-icon="icon: forward"></span>
            </div>
            <div>
                <div id="replyAccount" class="replyAccount"></div>
                <div id="replymessage" class="replyMessage"></div>
            </div>
           </div>
            <div>
                <a class="cmuk-icon-link" onclick="closeReply()" cmuk-icon="close"></a>
            </div>
        </div>
        @commonInputText(sendMessageForm, constants.FormField.CHAT_WINDOW_ID, 'containerDivClass -> "hidden", 'readonly -> true, 'required -> true)
        <div class="hiddenLabel sendFormField">
        @commonInputText(sendMessageForm, constants.FormField.TEXT)
            <button type="button" class="cmuk-button sendIconButton" onclick="submitChat(this)"><img src="@routes.Assets.versioned("images/icons/sendIcon.svg")"></button>
        </div>
        @commonInputText(sendMessageForm, constants.FormField.REPLY_TO_MESSAGE,'containerDivClass -> "hidden", 'required -> false)
        </div>
        @if(sendMessageForm.hasGlobalErrors) {
            <ul class="signupErrorList">
            @for(error <- sendMessageForm.globalErrors) {
                <li class="error">@error.format</li>
            }
            </ul>
        }

    </fieldset>
}