@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendCoin

@(sendCoinForm: Form[SendCoin.Data] = SendCoin.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.SEND_COIN, sendCoinForm) {
    @commonInputText(sendCoinForm, constants.FormField.TO)
    @commonInputMicroLong(sendCoinForm, constants.FormField.AMOUNT)
    @commonInputMicroLong(sendCoinForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(sendCoinForm, constants.FormField.PASSWORD)
}

