@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendUserDetailsForScreening

@(wallexUser: Form[SendUserDetailsForScreening.Data] = SendUserDetailsForScreening.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)
@commonForm(constants.Form.WALLEX_SEND_USER_FOR_SCREENING, wallexUser) {
    @commonInputText(wallexUser, constants.FormField.USER_ID, 'readonly -> true)
}