@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendAsset

@(sendAssetForm: Form[SendAsset.Data] = SendAsset.form, negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.SEND_ASSET, sendAssetForm) {
    @commonInputText(sendAssetForm, constants.FormField.NEGOTIATION_ID, 'value -> negotiationID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputMicroLong(sendAssetForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(sendAssetForm, constants.FormField.PASSWORD)
}