@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendFiat

@(sendFiatForm: Form[SendFiat.Data] = SendFiat.form, sellerAddress: String, pegHash: String, amount: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.SEND_FIAT, sendFiatForm) {
    <div class="modal-info-block">
    @commonInputText(sendFiatForm, constants.FormField.SELLER_ADDRESS, 'value -> sellerAddress)
    @commonInputInt(sendFiatForm, constants.FormField.AMOUNT, 'value -> amount.toString)
    @commonInputText(sendFiatForm, constants.FormField.PEG_HASH, 'value -> pegHash)
    @commonInputInt(sendFiatForm, constants.FormField.GAS)
    @commonInputPassword(sendFiatForm, constants.FormField.PASSWORD)
    </div>
}