@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendAsset

@(sendAssetForm: Form[SendAsset.Data] = SendAsset.form, orderID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.SEND_ASSET, sendAssetForm) {
    <div class="modalInnerContainerFirst">
    @commonInputText(sendAssetForm, constants.FormField.ORDER_ID, 'value -> orderID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputInt(sendAssetForm, constants.FormField.GAS)
    @commonInputPassword(sendAssetForm, constants.FormField.PASSWORD)
    </div>
}