@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SendChat

@import views.html.helper.form
@import views.html.helper.CSRF
@(sendChatForm: Form[SendChat.Data] = SendChat.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)

@form(action = constants.Form.SEND_CHAT.route, 'onkeypress -> "submitChatOnEnter(event,this)") {
    <fieldset class="cmuk-fieldset cmuk-form-stacked">
        @CSRF.formField
        <div style="position: relative">
        <div id="replyBox" style="display:none;background-color: #FFffff;position: absolute;left:0;right:0;top:-68px;padding: 10px 1px" class="cmuk-flex">
            <div><span cmuk-icon="icon: forward"></span></div><div><div id="replyAccount" class="replyAccount"></div><div id="replymessage" class="replyMessage"></div></div>
        </div>
        @commonInputText(sendChatForm, constants.FormField.CHAT_WINDOW_ID, 'containerDivClass -> "hidden", 'readonly -> true, 'required -> true)
        <div class="hiddenLabel">
        @commonInputText(sendChatForm, constants.FormField.MESSAGE)
        </div>
        @commonInputText(sendChatForm, constants.FormField.REPLY_TO_CHAT,'containerDivClass -> "hidden", 'required -> false)
        </div>
        @if(sendChatForm.hasGlobalErrors) {
            <ul class="signupErrorList">
            @for(error <- sendChatForm.globalErrors) {
                <li class="error">@error.format</li>
            }
            </ul>
        }

        <button type="button" class="cmuk-button cmuk-button-primary" onclick="submitChat(this)">@Messages(constants.Form.SEND_CHAT.submit)</button>
    </fieldset>
}