@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SetBuyerFeedback

@(setBuyerFeedbackForm: Form[SetBuyerFeedback.Data] = SetBuyerFeedback.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.SET_BUYER_FEEDBACK, setBuyerFeedbackForm) {
    @commonInputText(setBuyerFeedbackForm, constants.FormField.SELLER_ADDRESS)
    @commonInputText(setBuyerFeedbackForm, constants.FormField.PEG_HASH)
    @commonInputInt(setBuyerFeedbackForm, constants.FormField.RATING)
    @commonInputInt(setBuyerFeedbackForm, constants.FormField.GAS)
    @commonInputPassword(setBuyerFeedbackForm, constants.FormField.PASSWORD)
}
