@import controllers.actions.LoginState
@import models.blockchain.TraderFeedbackHistory

@(traderFeedbackHistories: Seq[TraderFeedbackHistory])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@for(traderFeedbackHistory <- traderFeedbackHistories) {
    <div class="flexItem box thirdBox lightBlue">
        <div class="leftText">
            <span class="red">@Messages(constants.Form.SELLER_ADDRESS)</span>: @traderFeedbackHistory.sellerAddress <br>
            <span class="red">@Messages(constants.Form.PEG_HASH)</span>: @traderFeedbackHistory.pegHash <br>
        </div>
        <div class="centerText" >
            <button class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetBuyerFeedbackController.setBuyerFeedbackForm('@traderFeedbackHistory.sellerAddress', '@traderFeedbackHistory.pegHash'))">@Messages(constants.Form.SUBMIT_FEEDBACK)</button>
            <br>
        </div>
    </div>
}
