@import controllers.actions.LoginState
@import models.blockchain.TraderFeedbackHistory
@import views.html.base._

@(traderFeedbackHistories: Seq[TraderFeedbackHistory])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
@for(traderFeedbackHistory <- traderFeedbackHistories) {
    <div>
    @commonCard(traderFeedbackHistory.buyerAddress) {
    } {
        <div>
            <div class="leftText">
                <span class="red">@Messages(constants.Form.BUYER_ADDRESS)</span>: @traderFeedbackHistory.buyerAddress <br>
                <span class="red">@Messages(constants.Form.PEG_HASH)</span>: @traderFeedbackHistory.pegHash <br>
            </div>
            <div class="centerText" >
                <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetSellerFeedbackController.setSellerFeedbackForm('@traderFeedbackHistory.buyerAddress', '@traderFeedbackHistory.pegHash'))">@Messages(constants.Form.SUBMIT_FEEDBACK)</button>
                <br>
            </div>
        </div>
    }
    </div>

}
    </div>
</div>
