@import helper._
@import views.companion.master.SetSellerFeedback

@(setSellerFeedbackForm: Form[SetSellerFeedback.Data], buyerAddress: String, pegHash: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.SetSellerFeedbackController.setSellerFeedback, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(setSellerFeedbackForm(constants.Form.BUYER_ADDRESS).copy(value = Some(buyerAddress)), '_label -> Messages(constants.Form.BUYER_ADDRESS))
    @inputText(setSellerFeedbackForm(constants.Form.PEG_HASH).copy(value = Some(pegHash)), '_label -> Messages(constants.Form.PEG_HASH))
    @inputText(setSellerFeedbackForm(constants.Form.RATING), '_label -> Messages(constants.Form.RATING))
    @inputPassword(setSellerFeedbackForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD))

    @if(setSellerFeedbackForm.hasGlobalErrors) {
        <ul>
        @for(error <- setSellerFeedbackForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" onclick="submitForm(this)">@Messages(constants.Form.SET_SELLER_FEEDBACK)</button>
}
