@import helper._
@import views.companion.master.SignUp

@(signUpForm: Form[SignUp.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages(constants.Forms.SignUp)) {
        @form(action = routes.SignUpController.signUp) {
            @CSRF.formField
            @inputText(signUpForm(constants.Forms.username),'_label-> Messages(constants.Forms.username),'id->"username")<label id="result"></label>
            @inputPassword(signUpForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

            @if(signUpForm.hasGlobalErrors) {
                <ul>
                @for(error <- signUpForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="submit">@Messages(constants.Forms.SignUp)</button>
        }
    }
<script src="@routes.Assets.versioned("javascripts/checkUsername.js")" type="text/javascript"></script>