@import controllers.actions.LoginState
@import views.companion.master.SignUp
@import views.html.base._

@(signUpForm: Form[SignUp.Data] = SignUp.form, mnemonic: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@commonForm(constants.Form.SIGN_UP, signUpForm) {
    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailibilty">
                @commonInputText(signUpForm, constants.FormField.USERNAME, 'oninput -> """checkUsernameAvailable(this, "#checkUsernameAvailableResult", "#USERNAME_AVAILABLE")""")
                <div id="checkUsernameAvailableResult" class="result"></div>
                <div class="checkIcon">
                        <svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-success")"/></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailibilty">
                @commonInputPassword(signUpForm, constants.FormField.SIGNUP_PASSWORD, 'id -> "signUpPassword")
                <div id="matchPasswordsResult" class="result"></div>
            </div>
        </div>
    </div>
    <div class="inputField">
        <div class="inputFieldBody">
            <div class="usernameAvailibilty">
                @commonInputPassword(signUpForm, constants.FormField.SIGNUP_CONFIRM_PASSWORD, 'oninput -> "checkPasswords()", 'id -> "signUpConfirmPassword")
                <div id="matchConfirmPasswordsResult" class="result"></div>
                <div class="showPassword" id="showPassword" onclick="showPassword()"><span class="eyeIcon">
                    <svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-eye")"/></svg>
                </span></div>
            </div>
        </div>
    </div>
    @commonCheckbox(signUpForm, constants.FormField.USERNAME_AVAILABLE, 'containerDivClass -> "hidden")
    @commonInputText(signUpForm, constants.FormField.MNEMONIC, 'value -> mnemonic, 'containerDivClass -> "hidden")
}
<script src="@routes.Assets.versioned("javascripts/signUp.js")" type="text/javascript"></script>