@import models.common.Serializable.Address
@import views.html.base._

@(address: Address)(implicit messagesProvider: MessagesProvider)

@commonTextInfo(constants.FormField.ADDRESS_LINE_1.name, address.addressLine1)
@commonTextInfo(constants.FormField.ADDRESS_LINE_2.name, address.addressLine2)
@commonTextInfo(constants.FormField.LANDMARK.name, address.landmark.getOrElse(""))
@commonTextInfo(constants.FormField.CITY.name, address.city)
@commonTextInfo(constants.FormField.COUNTRY.name, address.country)
@commonTextInfo(constants.FormField.ZIP_CODE.name, address.zipCode)
@commonTextInfo(constants.Form.PHONE, address.phone)