@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.SubmitDocumentToWallex

@(submitWallexDocuments: Form[SubmitDocumentToWallex.Data] = SubmitDocumentToWallex.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)
@commonForm(constants.Form.WALLEX_SUBMIT_DOCUMENT, submitWallexDocuments) {
    @commonInputText(submitWallexDocuments, constants.FormField.DOCUMENT_TYPE, 'readonly -> true))
  <div>
    @Messages(constants.View.SUBMIT_DOCUMENT_TERMS)
  </div>
}
