@*

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/css-uk/uikit.min.css">
        <link rel="stylesheet" href="./fonts/fonts.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/jquery.mCustomScrollbar.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <script src="./js/js-uk/uikit.min.js"></script>
        <script src="./js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="./js/js-uk/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <style>
    #sticky {
        position: fixed;
    }
  </style>
    </head>

    <body>
        <div class="header" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container uk-container" uk-navbar>
                <a class="uk-navbar-item uk-logo" href="#"><img src="./images/Logo.svg"></a>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="#"><span><img src="./images/icons/dashboardIcon.svg"></span> Dashboard</a></li>
                        <li><a href="#"><span><img src="./images/icons/tradersIcon.svg"></span> Trades</a></li>
                        <li><a href="#"><span><img src="./images/icons/transactionsIcon.svg"></span> Transactions</a></li>
                        <li><a href="#"><span><img src="./images/icons/accountIcon.svg"></span> Account</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="#"><span><img src="./images/icons/quickaddIcon.svg"></span> Quick Add</a></li>
                        <li><a href="#"><span></span> Lorem</a></li>
                        <li><a href="#"><span><img src="./images/icons/signoutIcon.svg"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="mainContainer uk-container">
            <div class="leftContainer">
                <div>
                    <div class="left uk-flex">
                        <div>
                            <span uk-icon="arrow-left" class="backIcon"></span>
                        </div>
                        <div>
                            <span class="quoteIdTtitle secondaryFont">Sales Quote ID:</span><span class="quoteId secondaryFont"> COM478454</span>
                        </div>
                        <div class="userIcons uk-flex secondaryFont">
                            <span class="buyerIcon userIcon">B</span>
                            <span class="sellerIcon userIcon">S</span>
                            <span class="financierIcon userIcon">F</span>
                        </div>
                    </div>
                    <div class="leftTradeFinancial secondaryFont">
                        <div class="uk-card uk-card-default financial">
                            <div class="uk-card-header">
                                <p>Financials</p>
                            </div>
                            <div class="uk-card-body">
                                <ul class="">
                                    <li class="uk-flex">
                                        <div class="uk-flex wallet">
                                            <span class="walletIcon"><img src="./images/icons/walletIcon.svg"></span>
                                            <div>
                                                <p class="uk-margin-remove ctitle">Wallet Balance</p>
                                                <p class="uk-comment-meta uk-margin-remove primaryFont">$ 150,000,000</p>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="uk-button uk-button-default addBalanceButton">+ Add Balance</button>
                                        </div>
                                    </li>
                                    <li class="uk-flex">
                                        <div class="uk-flex payable">
                                            <span class="payableIcon"><img src="./images/icons/payableIcon.svg"></span>
                                            <div>
                                                <p class="uk-margin-remove ctitle">Wallet Balance</p>
                                                <p class="uk-comment-meta uk-margin-remove primaryFont">$ 150,000,000</p>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="uk-button uk-button-default addBalanceButton uk-text-danger primaryFont">Pay</button>
                                        </div>
                                    </li>
                                    <li class="uk-flex">
                                        <div class="uk-flex leftDays">
                                            <span class="leftDaysIcon"><img src="./images/icons/daysleftIcon.svg"></span>
                                            <div>
                                                <p class="uk-margin-remove ctitle">Days Left</p>
                                                <p class="uk-comment-meta uk-margin-remove primaryFont">60 Days</p>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                                <div class="refresh">
                                    <span>refresh</span>
                                </div>
                            </div>
                        </div>
                        <div class="docView">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    <ul uk-tab="connect: #component-tab-doc; animation: uk-animation-fade">
                                        <li class="uk-active first"><a href="#">documents</a></li>
                                        <li><a href="#">Upload History</a></li>
                                    </ul>
                                </div>
                                <div class="uk-card-body">
                                    <ul id="component-tab-doc" class="uk-switcher">
                                        <li>
                                            <ul class="documentlist">
                                                <li class="documetnone">

                                                    <table class="table-scroll small-first-col uk-table uk-table-divider">

                                                        <tbody>

                                                            <tr>
                                                                <td class="docIcon"> <img src="./images/icons/docIcon.svg">
                                                                    Contract.pdf
                                                                </td>
                                                                <td class="seenIcon"><img src="./images/icons/seenIcon.svg"></td>
                                                                <td class="preview">
                                                                    <a class="uk-text-bold uk-text-success" href="./pdfs/1.pdf" target="iframe_a">E-Signed
                                                                    </a>
                                                                </td>
                                                                <td class="moreIcon"><span uk-icon="more-vertical"></span></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Empty</li>
                                    </ul>
                                    <div class="uploadDoc">
                                        <div class="js-upload" uk-form-custom>
                                            <input type="file" multiple>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                                <span uk-icon="icon: cloud-upload"></span>
                                                Click or Drag files here</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centerContainer">
                <div class="notifications">
                    <div class="uk-alert-success" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <span>Lorem ipsum dolor sit amet, </span>
                    </div>

                </div>
                <div class="uk-card uk-card-default mainTabs">
                    <div class="uk-card-header">
                        <ul uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                            <li class="uk-active first"><a href="#">Terms View</a></li>
                            <li class="docViewList"><a href="#">Docs View</a></li>
                        </ul>
                    </div>
                    <div class="uk-card-body">
                        <ul id="component-tab-left" class="uk-switcher">
                            <li class="tradeTerms">
                                <div class="traderCommodity">
                                    <span class="commodityImage"><img src="./images/icons/ironIcon.svg"></span><span class="tradeName">Iron Ore (A+)</span>
                                </div>
                                <div class="uk-flex tradeTermsData">
                                    <p class="uk-margin-remove">TRADE TERMS</p>
                                    <p class="uk-margin-remove">BUYER ACCEPTENCE</p>
                                </div>
                                <div class="terms">
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">1</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">DESCRIPTION</span>
                                        </div>
                                        <div>
                                            <span class="termValue">“Commodity Description goes here”</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">2</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">QUANTITY</span>
                                        </div>
                                        <div>
                                            <span class="termValue">20 MT</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">3</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">CONTRACT PRICE</span>
                                        </div>
                                        <div>
                                            <span class="termValue">$16.5 M</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">4</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">SHIPMENT PERIOD</span>
                                        </div>
                                        <div>
                                            <span class="termValue">35 Days</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">5</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">LOAD PORT</span>
                                        </div>
                                        <div>
                                            <span class="termValue">Singapore</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">6</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">DISCHARGE PORT</span>
                                        </div>
                                        <div>
                                            <span class="termValue">Dubai</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">7</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">ADVANCE PAYMENT?</span>
                                        </div>
                                        <div>
                                            <span class="termValue">YES (10%)</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <div class="term">
                                        <div >
                                            <div>
                                                <span class="serialNumber">8</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">CREDIT TERMS</span>
                                            </div>
                                            <div class="creditTerms">
                                                <p>Tenure days - <span class="uk-text-bold">30 Days</span></p>
                                                <p>Tenure days - <span class="uk-text-bold">30 Days</span></p>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="termValue">Financed</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="term">
                                        <div>
                                            <span class="serialNumber">9</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">BILL OF EXCHANGE REQUIRED? </span>
                                        </div>
                                        <div>
                                            <span class="termValue">YES</span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <div class="term">
                                        <div >
                                            <div>
                                                <span class="serialNumber">10</span><span class="termIcon"><img src="./images/icons/descriptionIcon.svg"></span><span class="termName">PRIMARY DOCUMENTS</span>
                                            </div>
                                            <div class="creditTerms">
                                                <p>INSURANCE POLICY<span>(Insurance_policy.pdf)</span></p>
                                                <p>BL <span>(BL_doc.pdf)</span></p>
                                                <p>INVOICE <span>(Invoice_doc.pdf)</span></p>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="termValue"></span><span class="termAction"><input type="checkbox" class="uk-checkbox"></span>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </li>
                            <li>
                                <div class="documentcontainer" id="documentcontainer" class="uk-animation-fade">
                                    <div class="documentcontainerbutton">
                                        <button class="uk-button-default uk-button">Shared with Buyer
                                        </button>
                                    </div>
                                    <iframe src="https://research.google.com/pubs/archive/44678.pdf" name="iframe_a" width="100%"
                                    height="600px">
                      open
                                    </iframe>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rightContainer">
                <div>
                    <div class="right uk-flex">
                        <button class="refresh"><img src="./images/icons/amendIcon.svg">Amend</button>
                        <button class="refresh "><img src="./images/icons/refreshIcon.svg">Refresh</button>
                        <div class="uk-flex live">
                            <span class="liveText secondaryFont">Live Trade Room </span>
                            <div class="liveIcon"></div>
                        </div>
                    </div>
                    <div class="recentActivity">
                        <div class="uk-card uk-card-default recentActivityContainer">
                            <div class="uk-card-header">
                                <p>Recent Activity</p>
                            </div>
                            <div class="uk-card-body content-md">
                                <div id="timeline">
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <img src="./images/icons/contractIcon.svg" alt="">
                                        </div>
                                        <div class="timeline-content right">
                                            <p class="uk-margin-remove">Seller generated Contract document
                                            </p>
                                            <span>5 hours ago</span>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <img src="./images/icons/acceptIcon.svg" alt="">
                                        </div>
                                        <div class="timeline-content right">
                                            <p class="uk-margin-remove">
                      Buyer Accepted all Trade Terms
                                            </p>
                                            <span>5 hours ago</span>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <img src="./images/icons/contractIcon.svg" alt="">
                                        </div>
                                        <div class="timeline-content right">
                                            <p class="uk-margin-remove">Seller generated Contract document
                                            </p>
                                            <span>5 hours ago</span>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <img src="./images/icons/acceptIcon.svg" alt="">
                                        </div>
                                        <div class="timeline-content right">
                                            <p class="uk-margin-remove">
                      Buyer Accepted all Trade Terms
                                            </p>
                                            <span>5 hours ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chatContainer">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-body">
                                    <div class="chat" title="You have chat with">
                                        <div class="chat_history">
                                            <ul class="list-unstyled content-md">
                                                <li class="self">
                                                    <div class="patner">
                                                        <span><small style="font-size:11px">Unknow 2019-12-18 16:29:14</small><br>
                                                            <div class="selftime uk-text-right">
                                            hello
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <span class="chatName">s</span>
                                                </li>

                                                <li class="other">
                                                    <span class="chatName">x</span>
                                                    <div class="you">
                                                        <span><small style="font-size:11px">You 2019-12-18 16:29:14</small><br>
                                                            <div class="othertime uk-text-left">
                                            hi
                                                            </div>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="self">
                                                    <div class="patner">
                                                        <span><small style="font-size:11px">Unknow 2019-12-18 16:29:14</small><br>
                                                            <div class="selftime uk-text-right">
                                            hello
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <span class="chatName">s</span>
                                                </li>

                                                <li class="other">
                                                    <span class="chatName">p</span>
                                                    <div class="you">
                                                        <span><small style="font-size:11px">You 2019-12-18 16:29:14</small><br>
                                                            <div class="othertime uk-text-left">
                                            hi
                                                            </div>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="self">
                                                    <div class="patner">
                                                        <span><small style="font-size:11px">Unknow 2019-12-18 16:29:14</small><br>
                                                            <div class="selftime uk-text-right">
                                          hello
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <span class="chatName">s</span>
                                                </li>

                                                <li class="other">
                                                    <span class="chatName">p</span>
                                                    <div class="you">
                                                        <span><small style="font-size:11px">You 2019-12-18 16:29:14</small><br>
                                                            <div class="othertime uk-text-left">
                                          hi
                                                            </div>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span></span>
                                        <div class="uk-inline" style="width:100%;">
                                            <a class="uk-form-icon send_chat" name="send_chat" href="#"><span><img src="./images/icons/shareIcon.svg"> </a>
                                            <input class="uk-input inputor" name="" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
  (function($){
      $(window).on("load",function(){
          $(".content-md").mCustomScrollbar({theme:"minimal-dark"});
          $("body").mCustomScrollbar({theme:"minimal-dark"});
      });
  })(jQuery);
  $(document).scroll(function() {
      //detect when user scroll to top and set position to relative else sets position to fixed
      $("#sticky").css({
          "top": "100",
          "position": $(this).scrollTop() > 140 ? "fixed" : "relative"
      });
  });
</script>
*@
