@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.TradeTerm

@(tradeTerm:TradeTerm)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)


                <div class="traderCommodity">
                    <span class="commodityImage"><img src="./images/icons/ironIcon.svg"></span><span class="tradeName">@tradeTerm.assetType</span>
                </div>
                <div class="cmuk-flex tradeTermsData">
                    <p class="cmuk-margin-remove">@Messages(constants.View.TRADE_TERMS)</p>
                    <p class="cmuk-margin-remove">@Messages(constants.View.BUYER_ACCEPTANCE)</p>
                </div>
                <div class="terms">
                    <div class="term">
                        <div>
                            <span class="serialNumber">1</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.DESCRIPTION)</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.assetDescription.assetDescriptionValue</span><span class="termAction"><input type="checkbox" id="@constants.View.DESCRIPTION" class="cmuk-checkbox tradeTerm" @if(tradeTerm.assetDescription.assetDescriptionStatus){checked="true"}></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">2</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.QUANTITY)</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.assetQuantity.assetQuantityValue</span><span class="termAction"><input type="checkbox" id="@constants.View.QUANTITY" class="cmuk-checkbox tradeTerm" @if(tradeTerm.assetQuantity.assetQuantityStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">3</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.CONTRACT_PRICE)</span>
                        </div>
                        <div>
                            <span class="termValue">$@tradeTerm.assetPrice.assetPriceValue</span><span class="termAction"><input type="checkbox" id="@constants.View.CONTRACT_PRICE" class="cmuk-checkbox tradeTerm" ></span>
                        </div>
                    </div>
                    <hr>
                    <div class="term">
                        <div>
                            <span class="serialNumber">4</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.SHIPMENT_PERIOD)</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.shipmentPeriod.shipmentPeriodValue Days</span><span class="termAction"><input type="checkbox" id="@constants.View.SHIPMENT_PERIOD" class="cmuk-checkbox tradeTerm" @if(tradeTerm.shipmentPeriod.shipmentPeriodStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">5</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.LOAD_PORT)</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.portOfLoading.portOfLoadingValue</span><span class="termAction"><input type="checkbox" id="@constants.View.LOAD_PORT" class="cmuk-checkbox tradeTerm" @if(tradeTerm.portOfLoading.portOfLoadingStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">6</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.DISCHARGE_PORT)</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.portOfDischarge.portOfDischargeValue</span><span class="termAction"><input type="checkbox" id="@constants.View.DISCHARGE_PORT" class="cmuk-checkbox tradeTerm" @if(tradeTerm.portOfDischarge.portOfDischargeStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <hr>
                    <div class="term">
                        <div>
                            <span class="serialNumber">7</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.ADVANCE_PAYMENT)?</span>
                        </div>
                        <div>
                            <span class="termValue">
                                @if(tradeTerm.advancePayment.advancePaymentValue){
                                    YES (@tradeTerm.advancePayment.advancePercentage %)
                                }else{
                                    NO
                                }
                              </span><span class="termAction"><input type="checkbox" id="@constants.View.ADVANCE_PAYMENT" class="cmuk-checkbox tradeTerm" @if(tradeTerm.advancePayment.advancePaymentStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <div class="term">
                        <div >
                            <div>
                                <span class="serialNumber">8</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.CREDIT_TERMS)</span>
                            </div>
                            <div class="creditTerms">
                                @if(tradeTerm.creditTerms.tentativeDate.isEmpty){
                                    <p>Tenure days - <span class="cmuk-text-bold">@tradeTerm.creditTerms.tenure Days</span></p>
                                    <p>Refrence - <span class="cmuk-text-bold">@tradeTerm.creditTerms.refrence</span></p>
                                }else{
                                    <p>Tentative Date - <span class="cmuk-text-bold">@tradeTerm.creditTerms.tentativeDate</span></p>
                                }
                            </div>
                        </div>
                        <div>
                            <span class="termValue">Financed</span><span class="termAction"><input type="checkbox" id="@constants.View.CREDIT_TERMS" class="cmuk-checkbox tradeTerm" @if(tradeTerm.creditTerms.creditTermsStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <hr>
                    <div class="term">
                        <div>
                            <span class="serialNumber">9</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.BILL_OF_EXCHANGE_REQUIRED)? </span>
                        </div>
                        <div>
                            <span class="termValue">
                                @if(tradeTerm.billOfExchangeRequired.billOfExchangeRequiredValue){
                                    YES
                                }else{
                                    NO
                                }
                            </span><span class="termAction"><input type="checkbox" id="@constants.View.BILL_OF_EXCHANGE_REQUIRED" class="cmuk-checkbox tradeTerm" @if(tradeTerm.billOfExchangeRequired.billOfExchangeRequiredStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <div>
                                <span class="serialNumber">10</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.PRIMARY_DOCUMENTS)</span>
                            </div>

                            <div class="creditTerms">
                                @if(tradeTerm.primaryDocuments.obl){
                                    <p>@Messages(constants.View.OBL)</p>
                                }
                                @if(tradeTerm.primaryDocuments.invoice){
                                    <p>@Messages(constants.Form.INVOICE)</p>
                                }
                                @if(tradeTerm.primaryDocuments.coo){
                                    <p>@Messages(constants.Form.COO)</p>
                                }
                                @if(tradeTerm.primaryDocuments.coa){
                                    <p>@Messages(constants.Form.COA)</p>
                                }
                                @if(tradeTerm.primaryDocuments.otherDocuments){
                                    <p>@tradeTerm.primaryDocuments.otherDocuments</p>
                                }
                            </div>
                        </div>
                        <div>
                            <span class="termValue"></span><span class="termAction"><input type="checkbox" id="@constants.View.PRIMARY_DOCUMENTS" class="cmuk-checkbox tradeTerm" @if(tradeTerm.primaryDocuments.primaryDocumentsStatus) {checked="true"}></span>
                        </div>
                    </div>
                    <hr>
                </div>

<script src="@routes.Assets.versioned("javascripts/updateTradeTermStatus.js")" type="text/javascript"></script>
    <script>updateTradeTermStatus('@tradeTerm.id')

    </script>
