@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.TradeTerm

@(tradeTerm:TradeTerm)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)


                <div class="traderCommodity">
                    <span class="commodityImage"><img src="./images/icons/ironIcon.svg"></span><span class="tradeName">@tradeTerm.assetType</span>
                </div>
                <div class="cmuk-flex tradeTermsData">
                    <p class="cmuk-margin-remove">@Messages(constants.View.TRADE_TERMS)</p>
                    <p class="cmuk-margin-remove">@Messages(constants.View.BUYER_ACCEPTANCE)</p>
                </div>
                <div class="terms">
                    <div class="term">
                        <div>
                            <span class="serialNumber">1</span><span class="termIcon">&#x2637;</span><span class="termName">@Messages(constants.View.DESCRIPTION)</span>
                        </div>
                        <div>
                            <span class="termValue">“Commodity Description goes here”</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox" value="true"></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">2</span><span class="termIcon">&#x2637;</span><span class="termName">QUANTITY</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.assetQuantity.assetQuantityValue</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">3</span><span class="termIcon">&#x2637;</span><span class="termName">CONTRACT PRICE</span>
                        </div>
                        <div>
                            <span class="termValue">$@tradeTerm.assetPrice.assetPriceValue</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="term">
                        <div>
                            <span class="serialNumber">4</span><span class="termIcon">&#x2637;</span><span class="termName">SHIPMENT PERIOD</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.shipmentPeriod.shipmentPeriodValue Days</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">5</span><span class="termIcon">&#x2637;</span><span class="termName">LOAD PORT</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.portOfLoading.portOfLoadingValue</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <span class="serialNumber">6</span><span class="termIcon">&#x2637;</span><span class="termName">DISCHARGE PORT</span>
                        </div>
                        <div>
                            <span class="termValue">@tradeTerm.portOfDischarge.portOfDischargeValue</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="term">
                        <div>
                            <span class="serialNumber">7</span><span class="termIcon">&#x2637;</span><span class="termName">ADVANCE PAYMENT?</span>
                        </div>
                        <div>
                            <span class="termValue">
                                @if(tradeTerm.advancePayment.advancePaymentValue){
                                    YES (@tradeTerm.advancePayment.advancePercentage %)
                                }else{
                                    NO
                                }
                              </span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <div class="term">
                        <div >
                            <div>
                                <span class="serialNumber">8</span><span class="termIcon">&#x2637;</span><span class="termName">CREDIT TERMS</span>
                            </div>
                            <div class="creditTerms">
                                @if(tradeTerm.creditTerms.tentativeDate.isEmpty){
                                    <p>Tenure days - <span class="cmuk-text-bold">@tradeTerm.creditTerms.tenure Days</span></p>
                                    <p>Refrence - <span class="cmuk-text-bold">@tradeTerm.creditTerms.refrence</span></p>
                                }else{
                                    <p>Tentative Date - <span class="cmuk-text-bold">@tradeTerm.creditTerms.tentativeDate</span></p>
                                }
                            </div>
                        </div>
                        <div>
                            <span class="termValue">Financed</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="term">
                        <div>
                            <span class="serialNumber">9</span><span class="termIcon">&#x2637;</span><span class="termName">BILL OF EXCHANGE REQUIRED? </span>
                        </div>
                        <div>
                            <span class="termValue">YES</span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <div class="term">
                        <div>
                            <div>
                                <span class="serialNumber">10</span><span class="termIcon">&#x2637;</span><span class="termName">PRIMARY DOCUMENTS</span>
                            </div>

                            <div class="creditTerms">
                                <p>INSURANCE POLICY<span>(Insurance_policy.pdf)</span></p>
                                <p>BL <span>(BL_doc.pdf)</span></p>
                                <p>INVOICE <span>(Invoice_doc.pdf)</span></p>
                            </div>
                        </div>
                        <div>
                            <span class="termValue"></span><span class="termAction"><input type="checkbox" class="cmuk-checkbox"></span>
                        </div>
                    </div>
                    <hr>
                </div>



