@import controllers.actions.LoginState
@import sun.security.x509.SerialNumber

@(tradeID: String, termType: String, status: Boolean, imgLink: String, serialNumber: Int)(description: Html = Html(""))(value:Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

<div class="term">
    <div>
        <span class="serialNumber">@serialNumber</span>
        <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#"+imgLink)"/></svg></span>
        <span class="termName">@description</span>
    </div>
    <div class="termStatus">
       <div class="hashCode">@value</div>
    <div @Seq(tradeID, termType).mkString("")>
        @views.html.component.master.updateTradeTermStatus(tradeID = tradeID, termType = termType, status = status)
    </div>
    </div>
</div>