@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{AssetHistory, NegotiationHistory, OrderHistory}
@import models.master.Organization
@import models.master.Trader

@(counterPartyTrader: Trader, counterPartyOrganization: Organization, negotiationHistory: NegotiationHistory, orderHistory: OrderHistory, assetHistory: AssetHistory)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id='@Seq(negotiationHistory.id, "TermsView").mkString("")'>
    <div class="tradeTerms">
        <div class="traderCommodity commodityTitleSection">
            <div class="cmuk-flex cmuk-flex-middle">
            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + assetHistory.assetType + ".svg")"></span><span class="tradeName">@Messages(assetHistory.assetType) &nbsp;</span>
            </div>
            <div>
                <span>@Messages(orderHistory.status)</span>
            </div>
        </div>

        <div class="terms">
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.COUNTER_PARTY_DETAILS)</div>
            </div>
            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon">@commonIcon("description")</span>
                    @commonTextInfo(constants.View.COUNTER_PARTY_TRADER, counterPartyTrader.accountID)
                </div>
            </div>
            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon">@commonIcon("description")</span>
                    @commonTextInfo(constants.View.COUNTER_PARTY_ORGANIZATION, counterPartyOrganization.name)
                </div>
            </div>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_DETAILS)</div>
            </div>

            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon">@commonIcon("description")</span>
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiationHistory.assetDescription)
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedAssetDescription) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("contractPrice")</span>
                        @commonTextInfo(constants.View.PRICE_PER_UNIT, Seq((negotiationHistory.price/negotiationHistory.quantity).toRoundedOffString(), Messages(constants.View.USD), Messages(constants.View.PER), negotiationHistory.quantityUnit).mkString(" "))
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("contractPrice")</span>
                        @commonTextInfo(constants.View.TOTAL_AMOUNT, Seq(negotiationHistory.price.toRoundedOffString(), Messages(constants.View.USD)).mkString(" "))
                    </div>
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedPrice) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon">@commonIcon("quantity")</span>
                    @commonTextInfo(constants.View.QUANTITY, Seq(negotiationHistory.quantity.toRoundedOffString(), negotiationHistory.quantityUnit).mkString(" "))
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedQuantity) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_OTHER_DETAILS)</div>
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("port")</span>
                        @commonTextInfo(constants.View.LOAD_PORT, negotiationHistory.assetOtherDetails.shippingDetails.portOfLoading)
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("port")</span>
                        @commonTextInfo(constants.View.DISCHARGE_PORT, negotiationHistory.assetOtherDetails.shippingDetails.portOfDischarge)
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("shipmentPeriod")</span>
                        @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiationHistory.assetOtherDetails.shippingDetails.shippingPeriod)
                    </div>
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedAssetOtherDetails) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.PAYMENT_TERMS)</div>
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("advancePayment")</span>
                        @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiationHistory.paymentTerms.advancePercentage)
                    </div>
                    <div class="subTerms">
                    @negotiationHistory.paymentTerms.credit match {
                        case Some(credit) => {
                            @credit.tentativeDate match {
                                case Some(date) => {
                                    @commonDateInfo(constants.View.TENTATIVE_DATE, date)
                                }
                                case None => {
                                    @commonTextInfo(constants.View.TENURE, Seq(credit.tenure.getOrElse(0).toString, Messages(constants.View.DAYS)).mkString(" "))
                                    @commonTextInfo(constants.View.REFERENCE, credit.reference.getOrElse(""))
                                }
                            }
                        }
                        case None => {}
                    }
                    </div>
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedPaymentTerms) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title"> @Messages(constants.View.DOCUMENT_LIST)</div>
            </div>
            <div class="sellerTerm">
                <div>
                    <p><span class="cmuk-text-bold">@Messages(constants.View.ASSET_DOCUMENTS):</span></p>
                    @negotiationHistory.documentList.assetDocuments.map { assetHistoryDocument =>
                        <p>
                            <span class="termIcon">@commonIcon("document")</span>
                            @Messages(assetHistoryDocument)
                        </p>
                    }
                    <p><span class="cmuk-text-bold">@Messages(constants.View.NEGOTIATION_DOCUMENTS):</span></p>
                    @negotiationHistory.documentList.negotiationDocuments.map { negotiationHistoryDocument =>
                        <p>
                            <span class="termIcon">@commonIcon("document")</span>
                            @Messages(negotiationHistoryDocument)
                        </p>
                    }
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedDocumentList) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

        </div>
    </div>
</div>
