@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.SalesQuote
@import play.api.Logger
@import views.companion.master.TraderReviewSalesQuoteDetails

@(traderReviewSalesQuoteDetailsForm: Form[TraderReviewSalesQuoteDetails.Data] = TraderReviewSalesQuoteDetails.form, requestID:String,salesQuote: SalesQuote)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
@commonForm(constants.Form.TRADER_REVIEW_SALES_QUOTE_DETAILS, traderReviewSalesQuoteDetailsForm) {
    <div>@Messages(constants.View.COMMODITY_DETAILS): <br>
        <span class="red">@Messages(constants.Form.ASSET_TYPE)</span>: @salesQuote.assetType <br>
        <span class="red">@Messages(constants.Form.ASSET_QUANTITY)</span>: @salesQuote.assetQuantity <br>
        <span class="red">@Messages(constants.Form.ASSET_PRICE)</span>: @salesQuote.assetPrice <br>
    </div>
    <br>
    <div>@Messages(constants.View.SHIPPING_DETAILS): <br>
        <span class="red">@Messages(constants.Form.SHIPPING_PERIOD)</span>: @salesQuote.shippingDetails.get.shippingPeriod <br>
        <span class="red">@Messages(constants.Form.PORT_OF_LOADING)</span>: @salesQuote.shippingDetails.get.portOfLoading <br>
        <span class="red">@Messages(constants.Form.PORT_OF_DISCHARGE)</span>: @salesQuote.shippingDetails.get.portOfDischarge <br>
    </div>
    <br>
    <div>@Messages(constants.View.PAYMENT_TERMS) : <br>
        <span class="red">@Messages(constants.FormField.ADVANCE_PAYMENT.name)</span>: @salesQuote.paymentTerms.get.advancePayment <br>
        <span class="red">@Messages(constants.FormField.ADVANCE_PERCENTAGE.name)</span>: @salesQuote.paymentTerms.get.advancePercentage <br>
        <span class="red">@Messages(constants.FormField.CREDIT.name)</span>: @salesQuote.paymentTerms.get.credit <br>
        <span class="red">@Messages(constants.FormField.TENTATIVE_DATE.name)</span>: @salesQuote.paymentTerms.get.tentativeDate <br>
        <span class="red">@Messages(constants.FormField.TENURE.name)</span>: @salesQuote.paymentTerms.get.tenure <br>
        <span class="red">@Messages(constants.FormField.REFRENCE.name)</span>: @salesQuote.paymentTerms.get.refrence <br>

    </div>
    <br>
    <div>@Messages(constants.View.SALES_QUOTE_DOCUMENTS) : <br>
        <span class="red">@Messages(constants.FormField.BILL_OF_EXCHANGE_REQUIRED.name)</span>: @salesQuote.salesQuoteDocuments.get.billOfExchangeRequired <br>
        <span class="red">@Messages(constants.FormField.OBL.name)</span>: @salesQuote.salesQuoteDocuments.get.obl <br>
        <span class="red">@Messages(constants.FormField.INVOICE.name)</span>: @salesQuote.salesQuoteDocuments.get.invoice <br>
        <span class="red">@Messages(constants.FormField.COA.name)</span>: @salesQuote.salesQuoteDocuments.get.coa <br>
        <span class="red">@Messages(constants.FormField.COO.name)</span>: @salesQuote.salesQuoteDocuments.get.coo <br>
        <span class="red">@Messages(constants.FormField.OTHER_DOCUMENTS.name)</span>: @salesQuote.salesQuoteDocuments.get.otherDocuments <br>
    </div>
    <br>
    <div>@Messages(constants.View.INVITE) : <br>
        <span class="red">@Messages(constants.FormField.COUNTER_PARTY.name)</span>: @salesQuote.buyerAccountID <br>
    </div>
    <br>

    @commonInputText(traderReviewSalesQuoteDetailsForm, constants.FormField.REQUEST_ID, 'value ->requestID, 'class -> "hidden", 'readonly -> true)
    @commonCheckbox(traderReviewSalesQuoteDetailsForm, constants.FormField.COMPLETION)
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SalesQuoteController.salesQuoteDocumentsForm('@requestID'))">@Messages(constants.Form.BACK)</button>
}
