@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import scala.collection.immutable.ListMap

@(id:String, traderID: String, negotiation: Negotiation)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    @if(negotiation.sellerTraderID == traderID && negotiation.status == constants.Status.Negotiation.BUYER_CONFIRMED_ALL_NEGOTIATION_TERMS){

    }
    @commonHorizontalSwitcher(ListMap(
        constants.View.VIEW_TERMS -> routes.javascript.ComponentViewController.traderViewAcceptedNegotiationTerms,
        constants.View.VIEW_DOCUMENTS -> commonCard(constants.View.VIEW_DOCUMENTS)(Html(""))(Html("")),
    ),
        'VIEW_TERMS_PARAMETERS -> s"'${id}'")
</div>