@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Trader

@(rejectedReceivedNegotiationList: Seq[Negotiation], rejectedSentNegotiationList: Seq[Negotiation], failedNegotiationList: Seq[Negotiation], counterPartyTraders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
    <div class="cmuk-text-left title">@Messages(constants.View.REJECTED_RECEIVED_NEGOTIATION_LIST)
        @rejectedReceivedNegotiationList.map { rejectedReceivedNegotiation =>
            @commonVerticalInfoBox() {
                @defining(counterPartyTraders.find(_.id == rejectedReceivedNegotiation.sellerTraderID)) { counterPartyTrader: Option[Trader] =>
                    @counterPartyTrader match {
                        case Some(trader) => {
                            @commonVerticalTextInfo(constants.View.TRADER_NAME, trader.name)
                        }
                        case None => {
                            @commonVerticalTextInfo(constants.View.TRADER_ID, rejectedReceivedNegotiation.sellerTraderID)
                        }
                    }
                }
                @commonVerticalTextInfo(constants.View.ASSET_DESCRIPTION, rejectedReceivedNegotiation.assetDescription)
                @commonVerticalIntInfo(constants.View.PRICE, rejectedReceivedNegotiation.price)
                @commonVerticalTextInfo(constants.View.QUANTITY, Seq(rejectedReceivedNegotiation.quantity.toString, rejectedReceivedNegotiation.quantityUnit).mkString(" "))
                @commonVerticalTextInfo(constants.View.COMMENT, rejectedReceivedNegotiation.comment.getOrElse(""))
                @commonVerticalTextInfo(constants.View.STATUS, rejectedReceivedNegotiation.status)
            }
        }
    </div>

    <div class="cmuk-text-left title">@Messages(constants.View.REJECTED_SENT_NEGOTIATION_LIST)
        @rejectedSentNegotiationList.map { rejectedSentNegotiation =>
            @commonVerticalInfoBox() {
                @defining(counterPartyTraders.find(_.id == rejectedSentNegotiation.buyerTraderID)) { counterPartyTrader: Option[Trader] =>
                    @counterPartyTrader match {
                        case Some(trader) => {
                            @commonVerticalTextInfo(constants.View.TRADER_NAME, trader.name)
                        }
                        case None => {
                            @commonVerticalTextInfo(constants.View.TRADER_ID, rejectedSentNegotiation.buyerTraderID)
                        }
                    }
                }
                @commonVerticalTextInfo(constants.View.ASSET_DESCRIPTION, rejectedSentNegotiation.assetDescription)
                @commonVerticalIntInfo(constants.View.PRICE, rejectedSentNegotiation.price)
                @commonVerticalTextInfo(constants.View.QUANTITY, Seq(rejectedSentNegotiation.quantity.toString, rejectedSentNegotiation.quantityUnit).mkString(" "))
                @commonVerticalTextInfo(constants.View.COMMENT, rejectedSentNegotiation.comment.getOrElse(""))
                @commonVerticalTextInfo(constants.View.STATUS, rejectedSentNegotiation.status)
            }
        }
    </div>

    <div class="cmuk-text-left title">@Messages(constants.View.FAILED_NEGOTIATION_LIST)
        @failedNegotiationList.map { failedNegotiation =>
            @commonVerticalInfoBox() {
                @defining(counterPartyTraders.find(_.id == failedNegotiation.buyerTraderID)) { counterPartyTrader: Option[Trader] =>
                    @counterPartyTrader match {
                        case Some(trader) => {
                            @commonVerticalTextInfo(constants.View.TRADER_NAME, trader.name)
                        }
                        case None => {
                            @commonVerticalTextInfo(constants.View.TRADER_ID, failedNegotiation.buyerTraderID)
                        }
                    }
                }
                @commonVerticalTextInfo(constants.View.ASSET_DESCRIPTION, failedNegotiation.assetDescription)
                @commonVerticalIntInfo(constants.View.PRICE, failedNegotiation.price)
                @commonVerticalTextInfo(constants.View.QUANTITY, Seq(failedNegotiation.quantity.toString(), failedNegotiation.quantityUnit).mkString(" "))
                @commonVerticalTextInfo(constants.View.STATUS, failedNegotiation.status)
            }
        }
    </div>
</div>