@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.SEND_FIAT_REQUESTS, 'cardIconPath -> "images/icons/icons.svg#outBoundTransaction") {
}{
    @commonHorizontalSwitcher(ListMap(
        constants.View.PENDING_SEND_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.traderViewPendingSendFiatRequestList,
        constants.View.COMPLETE_SEND_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.traderViewCompleteSendFiatRequestList,
        constants.View.FAILED_SEND_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.traderViewFailedSendFiatRequestList,
    ))
    <button class="viewMore"></button>
}
