@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Asset, Negotiation}
@import views.html.component.master.buyerViewNegotiationTerm

@(traderID: String, negotiation: Negotiation, asset: Asset)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div class="tradeTerms">
    <div class="traderCommodity">
        <span class="commodityImage"><img src="@routes.Assets.versioned(constants.SelectFieldOptions.ASSET_ICON_MAP(asset.assetType))"></span><span class="tradeName">@asset.assetType</span>
    </div>
    <div class="terms">
    @traderID match {
        case negotiation.sellerTraderID => {
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_DETAILS)</div>
                @commonFormButton(constants.Form.UPDATE_ASSET_TERMS, 'parameters -> s"'${negotiation.id}'")
            </div>

            <div class="sellerTerm">
                @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
            <div class="sellerTermStatus">
            @negotiation.buyerAcceptedAssetDescription
            </div>
            </div>
            <div class="sellerTerm">
                @commonIntInfo(constants.View.PRICE, negotiation.price)
            <div class="sellerTermStatus">
            @negotiation.buyerAcceptedPrice
            </div>
            </div>
            <div class="sellerTerm">
                @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity, negotiation.quantityUnit).mkString(" "))
            <div  class="sellerTermStatus">
            @negotiation.buyerAcceptedQuantity
            </div>
            </div>
            <hr>
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_OTHER_DETAILS)</div>
                @commonFormButton(constants.Form.UPDATE_ASSET_OTHER_DETAILS, 'parameters -> s"'${negotiation.id}'")
            </div>
            <div class="sellerTerm">
                <div>
                    @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
                    @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
                    @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                </div>
            <div class="sellerTermStatus">
            @negotiation.buyerAcceptedAssetOtherDetails
            </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.PAYMENT_TERMS)</div>
                @commonFormButton(constants.Form.UPDATE_PAYMENT_TERMS, 'parameters -> s"'${negotiation.id}'")
            </div>
            <div class="sellerTerm">
              <div>
                  @commonBooleanInfo(constants.View.ADVANCE_PAYMENT, Option(negotiation.paymentTerms.advancePayment))
                  @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage.getOrElse(0.0))
                  @commonBooleanInfo(constants.View.CREDIT, Option(negotiation.paymentTerms.credit))
                  @commonIntInfo(constants.View.TENURE, negotiation.paymentTerms.tenure.getOrElse(0))
                  @negotiation.paymentTerms.tentativeDate match {
                      case Some(date) => {
                          @commonDateInfo(constants.View.TENTATIVE_DATE, date)
                      }
                      case None => {
                          @commonTextInfo(constants.View.TENTATIVE_DATE, "")
                      }
                  }
                  @commonTextInfo(constants.View.REFERENCE, negotiation.paymentTerms.reference.getOrElse(""))
              </div>
            <div class="sellerTermStatus">
            @negotiation.buyerAcceptedPaymentTerms
            </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title"> @Messages(constants.View.DOCUMENT_LIST)</div>
                @commonFormButton(constants.Form.UPDATE_DOCUMENT_LIST, 'parameters -> s"'${negotiation.id}'")
            </div>
            <div class="sellerTerm">
                <div>
                @negotiation.documentList.documents.map { document =>
                    <p class="documentTitle">@Messages(document)</p>
                }
                </div>
            <div class="sellerTermStatus">
            @negotiation.buyerAcceptedDocumentList
            </div>
            </div>
        }
        case negotiation.buyerTraderID => {

            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.ASSET_DESCRIPTION, status = negotiation.buyerAcceptedAssetDescription, iconPath = "icon-description") {
                @Messages(constants.View.ASSET_DESCRIPTION)
            } {
                @negotiation.assetDescription
            }
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.PRICE, status = negotiation.buyerAcceptedPrice, iconPath = "icon-contract-price") {
                @Messages(constants.View.PRICE)
            } {
                @negotiation.price
            }
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.QUANTITY, status = negotiation.buyerAcceptedQuantity, iconPath = "icon-quantity") {
                @Messages(constants.View.QUANTITY)
            } {
                @Seq(negotiation.quantity, negotiation.quantityUnit).mkString(" ")
            }

            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.ASSET_OTHER_DETAILS, status = negotiation.buyerAcceptedAssetOtherDetails, iconPath = "icon-shipment-period") {
                @Messages(constants.View.ASSET_OTHER_DETAILS)
                <div class="subTerms">
                @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
                @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
                @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                </div>
            } {
            }
            <hr>

            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.PAYMENT_TERMS, status = negotiation.buyerAcceptedPaymentTerms, iconPath = "icon-advance-payment") {
                @Messages(constants.View.PAYMENT_TERMS)
                <div class="subTerms">
                <p class="infoRowLabel">@Messages(constants.View.ADVANCE_PERCENTAGE) - <span class="infoRowValue">
                @if(negotiation.paymentTerms.advancePayment) {
                    @negotiation.paymentTerms.advancePercentage %
                } else {
                    @Messages(constants.View.NO)
                }
                </span></p>
                @if(negotiation.paymentTerms.tentativeDate.isEmpty) {
                    <p class="infoRowLabel">@Messages(constants.View.TENURE)
                        - <span class="infoRowValue">@negotiation.paymentTerms.tenure.getOrElse(0)
                            Days</span></p>
                    <p class="infoRowLabel">@Messages(constants.View.REFERENCE)
                        - <span class="infoRowValue">@negotiation.paymentTerms.reference.getOrElse("")</span></p>
                } else {
                    <p class="infoRowLabel">@Messages(constants.View.TENTATIVE_DATE) - <span class="infoRowValue">
                    @negotiation.paymentTerms.tentativeDate match {
                        case Some(date) => {
                            @date
                        }
                        case None => {}
                    }
                    </span></p>
                }
                </div>
            } {
            }
            <hr>
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.DOCUMENT_LIST, status = negotiation.buyerAcceptedDocumentList, iconPath = "icon-document") {
                @Messages(constants.View.DOCUMENT_LIST)
                <div class="subTerms">
                @negotiation.documentList.documents.map { document =>
                    <p class="infoRowLabel">@Messages(document)</p>
                }
                </div>
            } {

            }

        }
        case _ => {}
    }
    </div>
</div>
