@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Asset, Negotiation}
@import views.html.component.master.buyerViewNegotiationTermAcceptance

@(traderID: String, negotiation: Negotiation, asset: Asset)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id='@Seq(negotiation.id, "TermsView").mkString("")'>
    @asset.assetType
    <br>
    @traderID match {
        case negotiation.sellerTraderID => {
            @commonCard(constants.View.ASSET_DETAILS) {
                @commonFormButton(constants.Form.UPDATE_ASSET_TERMS, 'parameters -> s"'${negotiation.id}'")
            } {
                <div class="cmuk-flex cmuk-flex-column">
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
                    @negotiation.buyerAcceptedAssetDescription
                    @commonIntInfo(constants.View.PRICE, negotiation.price)
                    @negotiation.buyerAcceptedPrice
                    @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity, negotiation.quantityUnit).mkString(" "))
                    @negotiation.buyerAcceptedQuantity
                    @commonIntInfo(constants.View.ASSET_OTHER_DETAILS, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                    @negotiation.buyerAcceptedAssetOtherDetails
                    @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
                    @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
                </div>
            }

            @commonCard(constants.View.PAYMENT_TERMS) {
                @negotiation.buyerAcceptedPaymentTerms
                @commonFormButton(constants.Form.UPDATE_PAYMENT_TERMS, 'parameters -> s"'${negotiation.id}'")
            } {
                @commonBooleanInfo(constants.View.ADVANCE_PAYMENT, Option(negotiation.paymentTerms.advancePayment))
                @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage.getOrElse(0.0))
                @commonBooleanInfo(constants.View.CREDIT, Option(negotiation.paymentTerms.credit))
                @commonIntInfo(constants.View.TENURE, negotiation.paymentTerms.tenure.getOrElse(0))
                @negotiation.paymentTerms.tentativeDate match {
                    case Some(date) => {
                        @commonDateInfo(constants.View.TENTATIVE_DATE, date)
                    }
                    case None => {
                        @commonTextInfo(constants.View.TENTATIVE_DATE, "")
                    }
                }
                @commonTextInfo(constants.View.REFERENCE, negotiation.paymentTerms.reference.getOrElse(""))
            }

            @commonCard(constants.View.DOCUMENTS_LIST) {
                @negotiation.buyerAcceptedDocumentsList
                @commonFormButton(constants.Form.UPDATE_DOCUMENTS_CHECKLIST, 'parameters -> s"'${negotiation.id}'")
            } {
                @negotiation.documentsList.documents.map { document =>
                    @document
                    <br>
                }
            }
        }
        case negotiation.buyerTraderID => {
            @commonCard(constants.View.ASSET_DETAILS) {
            } {
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.ASSET_DESCRIPTION, status = negotiation.buyerAcceptedAssetDescription, iconPath = "./images/icons/doc.svg") {
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
                }
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.PRICE, status = negotiation.buyerAcceptedPrice, iconPath = "./images/icons/contract.svg") {
                    @commonIntInfo(constants.View.PRICE, negotiation.price)
                }
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.QUANTITY, status = negotiation.buyerAcceptedQuantity, iconPath = "./images/icons/quantity.svg") {
                    @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity, negotiation.quantityUnit).mkString(" "))
                }
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.ASSET_OTHER_DETAILS, status = negotiation.buyerAcceptedAssetOtherDetails, iconPath = "./images/icons/shipment.svg") {
                    @commonIntInfo(constants.View.SHIPPING_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                    @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
                    @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
                }
            }

            @commonCard(constants.View.PAYMENT_TERMS) {
                @negotiation.buyerAcceptedPaymentTerms
            } {
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.ADVANCE_PAYMENT, status = negotiation.buyerAcceptedPaymentTerms, iconPath = "./images/icons/advancePayment.svg") {
                    @Messages(constants.View.ADVANCE_PAYMENT)
                    @if(negotiation.paymentTerms.advancePayment) {
                        @negotiation.paymentTerms.advancePercentage %
                    } else {
                        @Messages(constants.View.NO)
                    }
                }
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.CREDIT, status = negotiation.buyerAcceptedPaymentTerms, iconPath = "./images/icons/creditTerms.svg") {
                    @Messages(constants.View.CREDIT_TERMS)
                    <div class="creditTerms">
                    @if(negotiation.paymentTerms.tentativeDate.isEmpty) {
                        <p>@Messages(constants.View.TENURE)
                            - <span class="cmuk-text-bold">@negotiation.paymentTerms.tenure.getOrElse(0)
                                Days</span></p>
                        <p>@Messages(constants.View.REFERENCE)
                            - <span class="cmuk-text-bold">@negotiation.paymentTerms.reference.getOrElse("")</span></p>
                    } else {
                        <p>@Messages(constants.View.TENTATIVE_DATE) - <span class="cmuk-text-bold">
                        @negotiation.paymentTerms.tentativeDate match {
                            case Some(date) => {
                                @date
                            }
                            case None => {}
                        }
                        </span></p>
                    }
                    </div>
                }
            }

            @commonCard(constants.View.DOCUMENTS_LIST) {
                @negotiation.buyerAcceptedDocumentsList
            } {
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.BILL_OF_EXCHANGE, status = negotiation.buyerAcceptedDocumentsList, iconPath = "./images/icons/doc.svg") {
                    @Messages(constants.View.BILL_OF_EXCHANGE)
                    @if(negotiation.buyerAcceptedDocumentsList) {
                        @Messages(constants.View.YES)
                    } else {
                        @Messages(constants.View.NO)
                    }
                }
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.COO, status = negotiation.buyerAcceptedDocumentsList, iconPath = "./images/icons/doc.svg") {
                    @Messages(constants.View.COO)
                    @if(negotiation.buyerAcceptedDocumentsList) {
                        @Messages(constants.View.YES)
                    } else {
                        @Messages(constants.View.NO)
                    }
                }
                @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.COA, status = negotiation.buyerAcceptedDocumentsList, iconPath = "./images/icons/doc.svg") {
                    @Messages(constants.View.COA)
                    @if(negotiation.buyerAcceptedDocumentsList) {
                        @Messages(constants.View.YES)
                    } else {
                        @Messages(constants.View.NO)
                    }
                }
            }
        }
        case _ => {}
    }
</div>
<script>
    @*Add here comet source for component id = '@Seq(negotiation.id, "TermsView").mkString("")'*@
</script>