@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(buyNegotiationList: Seq[Negotiation], counterPartyTraders: Seq[Trader], counterPartyOrganizations:Seq[Organization], assets: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@buyNegotiationList.map { buyNegotiation =>
    @commonVerticalInfoBox() {
        @counterPartyTraders.find(_.id == buyNegotiation.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.TRADER_NAME, trader.name)

                @counterPartyOrganizations.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @assets.find(_.id == buyNegotiation.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonVerticalTextInfo(constants.View.ASSET_DESCRIPTION, buyNegotiation.assetDescription)
        @commonVerticalIntInfo(constants.View.PRICE, buyNegotiation.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(buyNegotiation.quantity.toString, buyNegotiation.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, buyNegotiation.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, buyNegotiation.assetOtherDetails.shippingDetails.portOfDischarge)
        @commonVerticalTextInfo(constants.View.STATUS, buyNegotiation.status)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
                <button class="cmuk-button cmuk-button-primary cmuk-button-small">
                    <a class="cmuk-link secondaryFont" href="@routes.ViewController.tradeRoom(buyNegotiation.id)">@Messages(constants.View.GO_TO_TRADE_ROOM)</a>
                </button>
            </p>
        </div>
    }
}
