@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.SALES_QUOTE_LIST) {
    @commonFormButton(constants.Form.NEGOTIATION_REQUEST)
} {
    @commonHorizontalSwitcher(ListMap(
        constants.View.ON_GOING_BUY_SALES_QUOTE_LIST -> routes.javascript.ComponentViewController.traderViewBuyerOnGoingNegotiationList,
        constants.View.ON_GOING_SELL_SALES_QUOTE_LIST -> routes.javascript.ComponentViewController.traderViewSellerOnGoingNegotiationList,
        constants.View.NEW_INCOMING_BUY_SALES_QUOTE_LIST -> routes.javascript.ComponentViewController.traderViewNewIncomingNegotiationList,
        constants.View.INCOMPLETE_SALES_QUOTE_LIST -> routes.javascript.ComponentViewController.traderViewIncompleteNegotiationList,
        constants.View.REJECTED_OR_FAILED_SALES_QUOTE_LIST -> routes.javascript.ComponentViewController.traderViewRejectedOrFailedNegotiationList,
        constants.View.PENDING_SENT_NEGOTIATION_REQUEST -> routes.javascript.ComponentViewController.traderViewSentNegotiationRequestList,
    ))
}