@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.RedeemFiatRequest

@(redeemFiatRequests: Seq[RedeemFiatRequest])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@redeemFiatRequests.map { redeemFiatRequest =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.ID, redeemFiatRequest.id)
        @commonVerticalMicroNumberInfo(constants.View.AMOUNT, redeemFiatRequest.amount)
        @commonVerticalTextInfo(constants.View.STATUS, redeemFiatRequest.status)
    }
}