@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import scala.collection.immutable.ListMap

@(id: String, traderID: String, negotiation: Negotiation)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="docView switcherCardSecond">
    @commonInfoBox() {
        @commonHorizontalSwitcher(ListMap(
            constants.View.DOCUMENT_LIST -> routes.javascript.ComponentViewController.traderViewNegotiationDocumentList,
            constants.View.UPLOAD_HISTORY -> commonCard(constants.View.UPLOAD_HISTORY)(Html(""))(Html("")),
        ),
            'DOCUMENT_LIST_PARAMETERS -> s"'${id}'")

        @if(traderID == negotiation.sellerTraderID && (negotiation.status == constants.Status.Negotiation.BUYER_ACCEPTED_ALL_NEGOTIATION_TERMS || negotiation.status == constants.Status.Negotiation.CONTRACT_SIGNED)) {
            <div class="uploadDoc">
            @commonModalButton(constants.Form.UPLOAD, routes.javascript.ComponentViewController.tradeDocuments, 'parameters -> s"'${id}'")
            </div>
        }

    }
</div>