@import controllers.actions.LoginState
@import views.html.base._

@()(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard() {
    <ul cmuk-tab="connect: #component-tab-doc; animation: cmuk-animation-fade">
        <li class="cmuk-active first"><a href="#">documents</a></li>
        <li><a href="#">Upload History</a></li>
    </ul>
} {
        <ul id="component-tab-doc" class="cmuk-switcher">
            <li>
                <ul class="documentlist">
                    <li class="documetnone">

                        <table class="table-scroll small-first-col cmuk-table cmuk-table-divider">

                            <tbody>

                                <tr>
                                    <td class="docIcon"> <img src="./images/icons/docIcon.svg">
                                        Contract.pdf
                                    </td>
                                    <td class="seenIcon"><img src="./images/icons/seenIcon.svg"></td>
                                    <td class="preview">
                                        <a class="cmuk-text-bold cmuk-text-success" href="./pdfs/1.pdf" target="iframe_a">E-Signed
                                        </a>
                                    </td>
                                    <td class="moreIcon"><span cmuk-icon="more-vertical"></span></td>
                                </tr>

                            </tbody>
                        </table>
                    </li>
                </ul>
            </li>
            <li>Empty</li>
        </ul>
}