@import controllers.actions.LoginState
@import models.masterTransaction.Notification
@import views.html.base._

@(negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.RECENT_ACTIVITY) {
} {
    <div class="scroller">
        <div id="tradeActivityMessages"></div>
        <div class="cover-bar"></div>
    </div>
}
<script>
    componentResource('tradeActivityMessages', jsRoutes.controllers.NegotiationController.tradeActivityMessages('@negotiationID', 1));
</script>
