@import controllers.actions.LoginState
@import models.master.TraderRelation
@import views.html.base._
@import views.html.component.master._

@(acceptedTraderRelationListRoute: String, pendingTraderRelationListRoute: String)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
    @commonCard() {
        <div>
            <span>@Messages(constants.View.TRADER_RELATION_LIST)</span>
        </div>
        <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.TraderController.traderRelationRequestForm())">@Messages(constants.Form.TRADER_RELATION_REQUEST.legend)</button>
    } {
        @commonHorizontalSwitcher(jsRouteItems = Map(constants.User.TRADER -> acceptedTraderRelationListRoute,
            constants.View.PENDING_RELATION_REQUESTS -> pendingTraderRelationListRoute,
        ))
    }
</div>

