@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(sentNegotiationRequestList: Seq[Negotiation], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList:Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="salesQuoteCard">
@sentNegotiationRequestList.map { sentNegotiationRequest =>
    @commonVerticalInfoBox(){
        <div class="salesQuoteCardLeft salesChild">
                <div class="salesQuoteCategory sell">
                    <span>@Messages(constants.View.SELL)</span>
                </div>
                <div class="content">
                @assetList.find(_.id == sentNegotiationRequest.assetID) match {
                    case Some(asset) => {
                    <div class="assetIcon">
                        <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                    </div>
                    <div class="assetInitialData">
                        <p class="assetTitle">@asset.assetType</p>
                        <p class="assetQuantity">@Seq(sentNegotiationRequest.quantity.toString, sentNegotiationRequest.quantityUnit).mkString(" ")</p>
                        <p class="assetPrice">@sentNegotiationRequest.price</p>
                    </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">
                @counterPartyTraderList.find(_.id == sentNegotiationRequest.buyerTraderID) match {
                    case Some(trader) => {
                        @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                            case Some(organization) => {
                                <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span></p>
                            }
                            case None => {}
                        }
                        <span cmuk-tooltip="@Messages(constants.View.TRADER)">@trader.name</span>
                    }
                    case None => {}
                }
                <p><span>@sentNegotiationRequest.assetOtherDetails.shippingDetails.portOfLoading</span>
                    <span class="lines">---</span>
                    <span class="arrowIcon">@commonIcon("roundedRightArrow")</span>
                    <span class="lines">---</span>
                    <span>@sentNegotiationRequest.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
            </div>
            <div class="salesQuoteCardRight salesChild">
            @Messages(sentNegotiationRequest.status)
            </div>
    }
}
</div>