@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@(buyerNewIncomingNegotiationList: Seq[Negotiation], assets: Seq[Asset], counterPartyTraders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@buyerNewIncomingNegotiationList.map { newIncomingNegotiation =>
    @commonInfoBox() {
        @defining(counterPartyTraders.filter(_.id == newIncomingNegotiation.buyerTraderID).headOption) { counterPartyTrader: Option[Trader] =>
            @counterPartyTrader match {
                case Some(trader) => {
                    @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                }
                case None => {
                    @commonTextInfo(constants.Form.TRADER_ID, newIncomingNegotiation.buyerTraderID)
                }
            }
        }
        @defining(assets.filter(_.id == newIncomingNegotiation.assetID).headOption) { rejectedNegotiationAsset: Option[Asset] =>
            @rejectedNegotiationAsset match {
                case Some(asset) => {
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, asset.description)
                }
                case None => {
                    @commonTextInfo(constants.View.ASSET_ID, newIncomingNegotiation.assetID)
                }
            }
        }
        @commonIntInfo(constants.View.PRICE, newIncomingNegotiation.price)
        @commonTextInfo(constants.View.QUANTITY, Seq(newIncomingNegotiation.quantity.toString(), newIncomingNegotiation.quantityUnit).mkString(" "))
        @commonFormButton(constants.Form.ACCEPT_NEGOTIATION_REQUEST, 'parameters -> s"'${newIncomingNegotiation.id}'")
        @commonFormButton(constants.Form.REJECT_NEGOTIATION_REQUEST, 'parameters -> s"'${newIncomingNegotiation.id}'")
    }
}
