@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="traderSalesQuotes">
@commonCard(constants.View.SALES_QUOTE_LIST, 'cardIconPath -> "images/icons/icons.svg#salesQuoteList") {
  @commonFormButton(constants.Form.NEGOTIATION_REQUEST)
} {
  @commonHorizontalSwitcher(ListMap(
    constants.View.SENT_NEGOTIATION_REQUEST_LIST -> routes.javascript.ComponentViewController.traderViewSentNegotiationRequestList,
    constants.View.RECEIVED_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.traderViewReceivedNegotiationRequestList,
    constants.View.INCOMPLETE_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.traderViewIncompleteNegotiationList,
    constants.View.REJECTED_OR_FAILED_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.traderViewRejectedAndFailedNegotiationList,
  ))
  <button class="viewMore"></button>

}

</div>