@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.ReceiveFiat

@(receiveFiats: Seq[ReceiveFiat], receiveFiatHistories: Seq[ReceiveFiat])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.RECEIVED_FIAT) {
} {
    @receiveFiatData(receiveFiats, false)
    @receiveFiatData(receiveFiatHistories, true)
}

@receiveFiatData(receiveFiatList: Seq[ReceiveFiat], history: Boolean) = {
    @receiveFiatList.map { receiveFiat =>
        @commonVerticalInfoBox() {
            @commonVerticalTextInfo(constants.View.ID, receiveFiat.id)
            @commonVerticalIntInfo(constants.View.AMOUNT, receiveFiat.amount)
            @commonVerticalTextInfo(constants.View.STATUS, receiveFiat.status)
            <div class="listItemChild cmuk-flex cmuk-flex-middle">
                @if(history) {
                    @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoomCompleted(receiveFiat.orderID), 'class->"cmuk-button buttonPrimary")
                } else {
                    @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(receiveFiat.orderID), 'class->"cmuk-button buttonPrimary")
                }
            </div>
        }
    }
}