@import controllers.actions.LoginState
@import models.masterTransaction.NegotiationFile
@import models.masterTransaction.AssetFile
@import models.master.Negotiation
@import views.html.base._
@import models.docusign.Envelope

@(negotiation: Negotiation, assetFiles: Seq[AssetFile], negotiationFiles: Seq[NegotiationFile],negotiationEnvelopeList:Seq[Envelope])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

@negotiation.status match {
    case constants.Status.Negotiation.BUYER_ACCEPTED_ALL_NEGOTIATION_TERMS => {
        <legend class="cmuk-legend">
        @Messages(constants.View.UPLOAD_DOCUMENTS_LEGEND)
        </legend>
        <hr>
        <div class="modalInfoBlock">
        <div id='@Seq("UPLOAD", "NEGOTIATION", constants.File.Negotiation.CONTRACT).mkString("_")'>
            <p>@Messages(constants.View.UPLOAD_CONTRACT_NOTE)</p>
        @commonModalButton(Messages(constants.View.UPLOAD), routes.javascript.FileController.uploadNegotiationForm,  'parameters -> s"'${constants.File.Negotiation.CONTRACT}','${negotiation.id}'")
        </div>
        @negotiationFiles.find(_.documentType== constants.File.Negotiation.CONTRACT) match {
            case Some(document) => {
                @component.master.commonDocumentViewer(document) {
                    @routes.FileController.tradingFile(negotiation.id, document.fileName, document.documentType)
                } {
                    <a href="@routes.FileController.tradingFile(negotiation.id, document.fileName, document.documentType)" target="_blank">@Messages(document.documentType)</a>
                } {
                    @negotiationEnvelopeList.find(_.documentType == document.documentType) match {
                        case Some(docusignEnvelope)=> {
                            <span>@constants.View.CONTRACT_SIGNATURE_PENDING</span>
                        }
                        case None=> {
                            @commonModalButton(Messages(constants.View.UPDATE), routes.javascript.FileController.updateNegotiationForm,  'parameters -> s"'${document.documentType}','${negotiation.id}'")
                             @commonFormButton(constants.Form.ADD_CONTRACT, 'parameters -> s"'${negotiation.id}'")
                            }
                        }
                    }
                <script>hideElement('@Seq("UPLOAD", "NEGOTIATION", constants.File.Negotiation.CONTRACT).mkString("_")')</script>
                <td><a class="cmuk-button buttonPrimary cmuk-margin-top"  href="@controllers.routes.ViewController.tradeRoom(negotiation.id)">@Messages(constants.View.SUBMIT)</a></td>
            }
            case None=> {}
                }
            </div>
          }
    case constants.Status.Negotiation.CONTRACT_SIGNED | constants.Status.Negotiation.BUYER_CONFIRMED_SELLER_PENDING | constants.Status.Negotiation.SELLER_CONFIRMED_BUYER_PENDING | constants.Status.Negotiation.BOTH_PARTIES_CONFIRMED=>{
        <legend class="cmuk-legend">
        @Messages(constants.View.UPLOAD_DOCUMENTS_LEGEND)
        </legend>
        <hr>
        <div class="modalInfoBlock">
            <p class="formNote">@Messages(constants.View.UPLOAD_ASSET_DOCUMENTS_NOTE)</p>
            <div class="cmuk-text-left title"> @Messages(constants.View.ASSET_DOCUMENTS)</div>
            @negotiation.documentList.assetDocuments.map { assetDocumentType =>
                <div id='@Seq(constants.View.UPLOAD, constants.View.ASSET, assetDocumentType).mkString("_")' class="cmuk-text-left documentContainer">
                <p>@Messages(assetDocumentType)</p>@commonModalButton("UPLOAD", routes.javascript.FileController.uploadAssetForm, 'parameters -> s"'${assetDocumentType}','${negotiation.id}'")
                </div>
            }
            @assetFiles.filter(assetFile => negotiation.documentList.assetDocuments.contains(assetFile.documentType)).map { assetFile =>
                @component.master.commonDocumentViewer(assetFile) {
                    @routes.FileController.tradingFile(negotiation.id, assetFile.fileName, assetFile.documentType)
                } {
                    <a href="@routes.FileController.tradingFile(assetFile.id, assetFile.fileName, assetFile.documentType)" target="_blank">@Messages(assetFile.documentType)</a>
                } {
                    @commonModalButton(Messages(constants.View.UPDATE), routes.javascript.FileController.updateAssetForm, 'parameters -> s"'${assetFile.documentType}','${negotiation.id}'")
                    @assetFile.documentType match {
                        case constants.File.Asset.BILL_OF_LADING => {
                            @commonFormButton(constants.Form.ADD_BILL_OF_LADING, 'parameters -> s"'${negotiation.id}'")
                        }
                        case _ => {}
                    }
                    <script>hideElement('@Seq(constants.View.UPLOAD, constants.View.ASSET, assetFile.documentType).mkString("_")')</script>
                }
            }
            <div class="cmuk-text-left title">@Messages(constants.View.NEGOTIATION_DOCUMENTS)</div>
            @negotiation.documentList.negotiationDocuments.map { negotiationDocumentType =>
                <div id='@Seq(constants.View.UPLOAD, constants.View.NEGOTIATION, negotiationDocumentType).mkString("_")' class="cmuk-text-left documentContainer">
                    <p>@Messages(negotiationDocumentType)</p>@commonModalButton(constants.View.UPLOAD, routes.javascript.FileController.uploadNegotiationForm, 'parameters -> s"'${negotiationDocumentType}','${negotiation.id}'")
                </div>
            }

            @negotiationFiles.filterNot(_.documentType == constants.File.Negotiation.CONTRACT).map { negotiationFile =>
                @component.master.commonDocumentViewer(negotiationFile) {
                    @routes.FileController.tradingFile(negotiation.id, negotiationFile.fileName, negotiationFile.documentType)
                } {
                    <a class="hashCode" title="@Messages(negotiationFile.documentType)" href="@routes.FileController.tradingFile(negotiation.id, negotiationFile.fileName, negotiationFile.documentType)" target="_blank">@Messages(negotiationFile.documentType)</a>
                } {
                    @commonModalButton(Messages(constants.View.UPDATE), routes.javascript.FileController.updateNegotiationForm, 'parameters -> s"'${negotiationFile.documentType}','${negotiation.id}'")
                    @negotiationFile.documentType match {
                        case constants.File.Negotiation.INVOICE => {
                            @commonFormButton(constants.Form.ADD_INVOICE, 'parameters -> s"'${negotiation.id}'")
                        }
                        case _ => {}
                    }
                    <script>hideElement('@Seq(constants.View.UPLOAD, constants.View.NEGOTIATION, negotiationFile.documentType).mkString("_")')</script>
                }
            }
            <td><a class="cmuk-button buttonPrimary cmuk-margin-top" href="@controllers.routes.ViewController.tradeRoom(negotiation.id)">@Messages(constants.View.SUBMIT)</a></td>
        </div>
    }
    case _=>{}
}



