@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(receivedNegotiationRequestList: Seq[Negotiation], counterPartyTraders: Seq[Trader], counterPartyOrganizations:Seq[Organization], assets: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@receivedNegotiationRequestList.map { receivedNegotiationRequest =>
    @commonVerticalInfoBox() {
        @counterPartyTraders.find(_.id == receivedNegotiationRequest.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.TRADER_NAME, trader.name)

                @counterPartyOrganizations.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @assets.find(_.id == receivedNegotiationRequest.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonVerticalIntInfo(constants.View.PRICE, receivedNegotiationRequest.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(receivedNegotiationRequest.quantity.toString, receivedNegotiationRequest.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, receivedNegotiationRequest.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, receivedNegotiationRequest.assetOtherDetails.shippingDetails.portOfDischarge)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACCEPT)
            </p>
            <p class="listItemChildValue">
            @commonFormButton(constants.Form.ACCEPT_NEGOTIATION_REQUEST, 'parameters -> s"'${receivedNegotiationRequest.id}'")
            </p>
        </div>
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.REJECT)
            </p>
            <p class="listItemChildValue">
            @commonFormButton(constants.Form.REJECT_NEGOTIATION_REQUEST, 'parameters -> s"'${receivedNegotiationRequest.id}'")
            </p>
        </div>
    }
}
