@import controllers.actions.LoginState
@import views.html.base._
@import utilities.MicroNumber

@(walletBalance: MicroNumber, amountPaid: MicroNumber, amountPending: MicroNumber, moderated: Boolean, negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="financialCard cardPaddingRemove">
    <ul class="financialCardSection">
    <li class="cmuk-flex">
        <div class="cmuk-flex wallet">
            <span class="walletIcon">@commonIcon("wallet")</span>
            <div>
                <p class="cmuk-margin-remove ctitle">@Messages(constants.View.WALLET_BALANCE)</p>
                <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">$ @walletBalance.toRoundedOffString()</p>
            </div>
        </div>

    </li>
    <li class="cmuk-flex">
        <div class="cmuk-flex receivable">
            <span class="receivableIcon">@commonIcon("receivable")</span>
            <div>
                <p class="cmuk-margin-remove ctitle">@Messages(constants.View.ADVANCE_PAID)</p>
                <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">$ @if(moderated) {
                    @amountPaid.toRoundedOffString()
                } else {
                    0
                }</p>
            </div>
        </div>
    </li>
    <li class="cmuk-flex">
        <div class="cmuk-flex payable">
            <span class="payableIcon">@commonIcon("payable")</span>
            <div>
                <p class="cmuk-margin-remove ctitle">@Messages(constants.View.AMOUNT_PENDING)</p>
                <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">$ @if(moderated) {
                    @amountPending.toRoundedOffString()
                } else {
                    0
                }</p>
            </div>
        </div>
    <li class="cmuk-flex">
        <div class="leftContainer">
            <div id="wallexPanel" class="financial"></div>
        </div>
        <script>
                componentResource('wallexPanel', jsRoutes.controllers.ComponentViewController.traderWallexTransferToBeneficiary('@negotiationID'));
        </script>
    </li>
</ul>

</div>