@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader
@import models.master.Organization

@(sellNegotiationList: Seq[Negotiation], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList:Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="salesQuoteCard">
    @sellNegotiationList.map { sellNegotiation =>
        @commonVerticalInfoBox(){
            <div class="salesQuoteCardLeft salesChild">
                <div class="salesQuoteCategory sell">
                    <span>@Messages(constants.View.SELL)</span>
                </div>
                <div class="content">
                @assetList.find(_.id == sellNegotiation.assetID) match {
            case Some(asset) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                        </div>
                        <div class="assetInitialData">
                            <p class="assetTitle">@Messages(asset.assetType)</p>
                            <p class="assetQuantity">@Seq(sellNegotiation.quantity.realString, sellNegotiation.quantityUnit).mkString(" ")</p>
                            <p class="assetPrice">@Seq((sellNegotiation.price/sellNegotiation.quantity).realString, Messages(constants.View.USD), Messages(constants.View.PER), sellNegotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">
                @counterPartyTraderList.find(_.id == sellNegotiation.buyerTraderID) match {
                    case Some(trader) => {
                        @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                            case Some(organization) => {
                                <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span></p>
                            }
                            case None => {}
                        }
                        <p><span cmuk-tooltip="@Messages(constants.View.TRADER)">@trader.accountID</span></p>
                    }
                    case None => {}
                }
                <p><span>@sellNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span>
                    <span class="lines">---</span>
                    <span class="arrowIcon">@commonIcon("roundedRightArrow")</span>
                    <span class="lines">---</span>
                    <span>@sellNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
        </div>
            <div class="salesQuoteCardRight salesChild">
                @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(sellNegotiation.id), 'class->"cmuk-button buttonPrimary")
            </div>
        }
    }
</div>