@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile

@import models.masterTransaction.AssetFile

@import models.master.Negotiation
@(negotiation: Negotiation, assetFileList: Seq[AssetFile], negotiationFileList: Seq[NegotiationFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<ul class="documentlist scroller">
    <li class="documetnone">
        <table class="table-scroll small-first-col cmuk-table cmuk-table-divider">
            <tbody>
                <tr><td colspan="2">@Messages(constants.View.ASSET_DOCUMENTS):</td></tr>
                @assetFileList.filter(assetFile=> negotiation.documentList.assetDocuments.contains(assetFile.documentType)).map { assetFile =>
                    <tr>
                        <td><span class="docIcon"> <svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-doc2")"/></svg></span>
                            <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS','1', jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocument('@negotiation.id', '@assetFile.documentType'))">@Messages(assetFile.documentType)</a>
                        </td>
                        @assetFile.documentType match{
                            case constants.File.Asset.BILL_OF_LADING=> {<td> <span class="seenIcon"  onclick="getForm(jsRoutes.controllers.ComponentViewController.traderViewAssetDocumentContent('@negotiation.assetID','@assetFile.documentType'))")> <svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-seen")"/></svg></span></td>
                            }
                            case _=>{}
                        }
                    </tr>
                }
                <tr><td colspan="2">@Messages(constants.View.NEGOTIATION_DOCUMENTS):</td></tr>
                @negotiationFileList.filter(negotiationFile=> negotiation.documentList.negotiationDocuments.contains(negotiationFile.documentType)|| negotiationFile.documentType == constants.File.Negotiation.CONTRACT).map { negotiationFile=>
                    <tr>
                        <td><span class="docIcon"> <svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-doc2")"/></svg></span>
                            <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS','1', jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocument('@negotiation.id', '@negotiationFile.documentType'))">@Messages(negotiationFile.documentType)</a>
                        </td>
                        @negotiationFile.documentType match{
                            case constants.File.Negotiation.INVOICE | constants.File.Negotiation.CONTRACT => {
                                <td>
                                    <span class="seenIcon"  onclick="getForm(jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocumentContent('@negotiation.id','@negotiationFile.documentType'))")>
                                        <svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-seen")"/></svg>
                                    </span>
                                </td>
                                }
                            case _=>{<td></td>}
                        }
                    </tr>
                }
        </table>
    </li>
</ul>

<script src="@routes.Assets.versioned("javascripts/switchTab.js")" type="text/javascript"></script>
