@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@(buyNegotiationList: Seq[Negotiation], assets: Seq[Asset], counterPartyTraders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@buyNegotiationList.map { buyNegotiation =>
    @commonInfoBox() {
        @defining(counterPartyTraders.filter(_.id == buyNegotiation.buyerTraderID).headOption) { counterPartyTrader: Option[Trader] =>
            @counterPartyTrader match {
                case Some(trader) => {
                    @commonTextInfo(constants.View.TRADER_NAME, trader.name)
                }
                case None => {
                    @commonTextInfo(constants.View.TRADER_ID, buyNegotiation.buyerTraderID)
                }
            }
        }
        @defining(assets.filter(_.id == buyNegotiation.assetID).headOption) { rejectedNegotiationAsset: Option[Asset] =>
            @rejectedNegotiationAsset match {
                case Some(asset) => {
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, asset.description)
                }
                case None => {
                    @commonTextInfo(constants.View.ASSET_ID, buyNegotiation.assetID)
                }
            }
        }
        @commonIntInfo(constants.View.PRICE, buyNegotiation.price)
        @commonTextInfo(constants.View.QUANTITY, Seq(buyNegotiation.quantity.toString(), buyNegotiation.quantityUnit).mkString(" "))
        @commonTextInfo(constants.View.STATUS, buyNegotiation.status)
        <a class="cmuk-link" href="@routes.ViewController.tradeRoom(buyNegotiation.id)">@Messages(constants.View.GO_TO_TRADE_ROOM)</a>
    }
}
