@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization

@(traderOrganization: Organization)(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.ORGANIZATION_DETAILS, 'cardIconPath -> "images/icons/icons.svg#organizationDetails") {
} {
    @commonTextInfo(constants.View.ORGANIZATION_NAME, traderOrganization.name)
    @commonTextInfo(constants.View.ABBREVIATION, traderOrganization.abbreviation.getOrElse(""))
    @commonTextInfo(constants.View.ORGANIZATION_ID, traderOrganization.id)
    @commonDateInfo(constants.View.ESTABLISHMENT_DATE, traderOrganization.establishmentDate)
    @commonBooleanInfo(constants.View.VERIFIED_STATUS, traderOrganization.verificationStatus)
}