@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.REDEEM_FIAT_REQUESTS, 'cardIconPath -> "images/icons/icons.svg#fundWithdral") {
}{
    @commonHorizontalSwitcher(ListMap(
        constants.View.PENDING_REDEEM_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.traderViewPendingRedeemFiatRequestList,
        constants.View.COMPLETE_REDEEM_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.traderViewCompleteRedeemFiatRequestList,
        constants.View.FAILED_REDEEM_FIAT_REQUEST_LIST -> routes.javascript.ComponentViewController.traderViewFailedRedeemFiatRequestList,
    ))
    <button class="viewMore"></button>
}
