@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization

@(traderOrganization: Organization)(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.Form.ORGANIZATION_DETAILS) {
    } {
        <div>
            @commonTextInfo(constants.Form.ORGANIZATION_NAME, traderOrganization.name)
            @commonTextInfo(constants.Form.ABBREVIATION, traderOrganization.abbreviation.getOrElse(""))
            @commonTextInfo(constants.Form.ORGANIZATION_ID, traderOrganization.id)
            @commonDateInfo(constants.Form.ESTABLISHMENT_DATE, traderOrganization.establishmentDate)
            @commonBooleanInfo(constants.Form.VERIFIED_STATUS, traderOrganization.verificationStatus)
        </div>
    }