@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile

@import models.masterTransaction.AssetFile

@import models.master.Negotiation
@(id:String,negotiation:Negotiation, assetFiles:Seq[AssetFile],negotiationFiles: Seq[NegotiationFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<script src="@routes.Assets.versioned("javascripts/switchTab.js")" type="text/javascript"></script>

@Messages(constants.View.ASSET_DOCUMENTS):
@assetFiles.filter(assetFile=> negotiation.documentList.assetDocuments.contains(assetFile.documentType)).map{assetFile=>
    <div>
        <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS','1', jsRoutes.controllers.ComponentViewController.traderViewNegotiationFile('@id', '@assetFile.documentType'))">@Messages(assetFile.documentType)</a>
        @assetFile.documentType match{
            case constants.File.OBL=> {<td class="seenIcon"><img src="@routes.Assets.versioned("./images/icons/seenIcon.svg")" onclick="getForm(jsRoutes.controllers.ComponentViewController.traderViewAssetDocumentContent('@negotiation.assetID','@assetFile.documentType'))")></td>}
            case _=>{}
        }
    </div>
}

@Messages(constants.View.NEGOTIATION_DOCUMENTS):
@negotiationFiles.filter(negotiationFile=> negotiation.documentList.negotiationDocuments.contains(negotiationFile.documentType)|| negotiationFile.documentType == constants.File.CONTRACT).map{negotiationFile=>
    <div>
        <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS','1', jsRoutes.controllers.ComponentViewController.traderViewNegotiationFile('@id', '@negotiationFile.documentType'))">@Messages(negotiationFile.documentType)</a>
        @negotiationFile.documentType match{
            case constants.File.INVOICE | constants.File.CONTRACT=> {<td class="seenIcon"><img src="@routes.Assets.versioned("./images/icons/seenIcon.svg")" onclick="getForm(jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocumentContent('@id','@negotiationFile.documentType'))")></td>}
            case _=>{}
        }
    </div>
}

