@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@(receivedNegotiationRequestList: Seq[Negotiation], counterPartyTraders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@receivedNegotiationRequestList.map { receivedNegotiationRequest =>
    @commonVerticalInfoBox() {
        @defining(counterPartyTraders.find(_.id == receivedNegotiationRequest.sellerTraderID)) { counterPartyTrader: Option[Trader] =>
            @counterPartyTrader match {
                case Some(trader) => {
                    @commonVerticalTextInfo(constants.View.TRADER_NAME, trader.name)
                }
                case None => {
                    @commonVerticalTextInfo(constants.View.TRADER_ID, receivedNegotiationRequest.sellerTraderID)
                }
            }
        }
        @commonVerticalIntInfo(constants.View.PRICE, receivedNegotiationRequest.assetAndBuyerAccepted.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(receivedNegotiationRequest.assetAndBuyerAccepted.quantity.toString, receivedNegotiationRequest.assetAndBuyerAccepted.quantityUnit).mkString(" "))
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACCEPT)
            </p>
            <p class="listItemChildValue">
            @commonFormButton(constants.Form.ACCEPT_NEGOTIATION_REQUEST, 'parameters -> s"'${receivedNegotiationRequest.id}'")
            </p>
        </div>
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.REJECT)
            </p>
            <p class="listItemChildValue">
            @commonFormButton(constants.Form.REJECT_NEGOTIATION_REQUEST, 'parameters -> s"'${receivedNegotiationRequest.id}'")
            </p>
        </div>
    }
}
