@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader
@import models.master.Organization
@(negotiation: Negotiation, asset: Asset, counterPartyTrader: Trader, counterPartyOrganization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.NEGOTIATION_ID): @negotiation.id
</legend>
<hr>
<div class="modalInfoBlock">

<div class="cmuk-text-left title"> @Messages(constants.View.ASSET_DETAILS):</div>
<div class="traderCommodity cmuk-text-left">
    <span class="commodityImage">@commonImage("icons/"+asset.assetType+".svg")</span><span class="tradeName">@Messages(asset.assetType)</span>
</div>

    @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
    @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(" "))
    @commonTextInfo(constants.View.PRICE_PER_UNIT, Seq(negotiation.price/negotiation.quantity, Messages(constants.View.USD), Messages(constants.View.PER), negotiation.quantityUnit).mkString(" "))
    @commonTextInfo(constants.View.TOTAL_AMOUNT, Seq(negotiation.price, Messages(constants.View.USD)).mkString(" "))
    @commonTextInfo(constants.View.COUNTER_PARTY, counterPartyTrader.accountID)
    @commonTextInfo(constants.View.ORGANIZATION, counterPartyOrganization.name)
<div class="cmuk-text-left title">@Messages(constants.View.SHIPPING_DETAILS):</div>

@commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
@commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
@commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)

    <div class="cmuk-text-left title">@Messages(constants.View.PAYMENT_TERMS):</div>
    @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage)
    <div class="cmuk-text-left">
    @negotiation.paymentTerms.credit match {
        case Some(credit) => {
            @credit.tentativeDate match {
                case Some(date) => {
                    @commonDateInfo(constants.View.TENTATIVE_DATE, date)
                }
                case None => {
                    @commonTextInfo(constants.View.TENURE, Seq(credit.tenure.getOrElse(0).toString, Messages(constants.View.DAYS)).mkString(" "))
                    @commonTextInfo(constants.View.REFERENCE, credit.reference.getOrElse(""))
                }
            }
        }
        case None => {}
    }
    </div>
    <div class="cmuk-text-left">
    <span class="title">@Messages(constants.View.ASSET_DOCUMENTS):</span>
    @negotiation.documentList.assetDocuments.map { assetDocument =>
        <li>
            @Messages(assetDocument)
        </li>
    }
    </div>
    <div class="cmuk-text-left">
        <span class="title">@Messages(constants.View.NEGOTIATION_DOCUMENTS):</span>
    @negotiation.documentList.negotiationDocuments.map { negotiationDocument =>
        <li>
            @Messages(negotiationDocument)
        </li>
    }
    </div>

</div>






