@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Asset, Negotiation}
@import views.html.component.master.buyerViewNegotiationTermAcceptance

@(traderID: String, negotiation: Negotiation, asset: Asset)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id='@Seq(negotiation.id, "TermsView").mkString("")'>
    <div class="tradeTerms">
        <div class="traderCommodity">
            <span class="commodityImage">@asset.assetType.mkString.substring(0, 1)</span><span class="tradeName">@asset.assetType</span>
        </div>
        <div class="terms">
        @if(traderID == negotiation.buyerTraderID && negotiation.status == constants.Status.Negotiation.NEGOTIATION_STARTED){
            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.ASSET_DESCRIPTION, status = negotiation.buyerAcceptedAssetDetails.description, iconPath = "icon-description") {
                @Messages(constants.View.ASSET_DESCRIPTION)
            }{
                @negotiation.assetDescription
            }
            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.PRICE, status = negotiation.buyerAcceptedAssetDetails.price, iconPath = "icon-contract-price") {
                @Messages(constants.View.PRICE)
            }{
                @negotiation.price
            }
            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.QUANTITY, status = negotiation.buyerAcceptedAssetDetails.quantity, iconPath = "icon-quantity") {
                @Messages(constants.View.QUANTITY)
            }{
                @Seq(negotiation.quantity, negotiation.quantityUnit).mkString(" ")
            }

            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.SHIPPING_PERIOD, status = negotiation.buyerAcceptedAssetDetails.shippingPeriod, iconPath = "icon-shipment-period") {
                @Messages(constants.View.SHIPPING_PERIOD)
            }{
                @negotiation.shippingPeriod
            }
            <div class="sellerTerm">
            @commonTextInfo(constants.View.LOAD_PORT, asset.portOfLoading)
            </div>
            <div class="sellerTerm">
            @commonTextInfo(constants.View.DISCHARGE_PORT, asset.portOfDischarge)
            </div>

            <hr>

            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.ADVANCE_PAYMENT, status = negotiation.buyerAcceptedPaymentTerms.advancePayment, iconPath = "icon-advance-payment") {
                @Messages(constants.View.ADVANCE_PAYMENT)
            }{
                @if(negotiation.paymentTerms.advancePayment.getOrElse(false)) {
                    @Messages(constants.View.YES)
                    @negotiation.paymentTerms.advancePercentage %
                } else {
                    @Messages(constants.View.NO)
                }
            }

            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.CREDIT, status = negotiation.buyerAcceptedPaymentTerms.credit, iconPath = "icon-credit-terms") {
                @Messages(constants.View.CREDIT_TERMS)
                @if(negotiation.paymentTerms.credit.getOrElse(false)) {
                    @Messages(constants.View.YES)
                } else {
                    @Messages(constants.View.NO)
                }
                <div class="creditTerms">
                @if(negotiation.paymentTerms.tentativeDate.isEmpty) {
                    <p>@Messages(constants.View.TENURE)
                        - <span class="cmuk-text-bold">@negotiation.paymentTerms.tenure.getOrElse(0)
                            Days</span></p>
                    <p>@Messages(constants.View.REFERENCE)
                        - <span class="cmuk-text-bold">@negotiation.paymentTerms.reference.getOrElse("")</span></p>
                } else {
                    <p>@Messages(constants.View.TENTATIVE_DATE) - <span class="cmuk-text-bold">
                    @negotiation.paymentTerms.tentativeDate match {
                        case Some(date) => {
                            @date
                        }
                        case None => {}
                    }
                    </span></p>
                }
                </div>
            }{

            }
            <hr>
            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.BILL_OF_EXCHANGE_REQUIRED, status = negotiation.buyerAcceptedDocumentsCheckList.billOfExchangeRequired, iconPath = "icon-document") {
                @Messages(constants.View.BILL_OF_EXCHANGE_REQUIRED)
            }{
                @if(negotiation.documentsCheckList.billOfExchangeRequired) {
                    @Messages(constants.View.YES)
                } else {
                    @Messages(constants.View.NO)
                }
            }
            @buyerViewNegotiationTermAcceptance(negotiationID = negotiation.id, termType = constants.View.DOCUMENT_LIST, status = negotiation.buyerAcceptedDocumentsCheckList.documentList, iconPath = "icon-document") {
                @Messages(constants.View.OTHER_DOCUMENTS)
            }{
                @if(negotiation.documentsCheckList.obl.getOrElse(false)) {
                    @Messages(constants.View.OBL)
                }
                @if(negotiation.documentsCheckList.coo.getOrElse(false)) {
                    @Messages(constants.View.COO)
                }
                @if(negotiation.documentsCheckList.coa.getOrElse(false)) {
                    @Messages(constants.View.COA)
                }
                @negotiation.documentsCheckList.otherDocuments match{
                    case Some(documents)=>{
                        @commonTextInfo(constants.View.OTHER_DOCUMENTS, documents)
                    }
                    case None=>{}
                }
            }
        } else{
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_DETAILS)</div>
                @if(negotiation.status ==constants.Status.Negotiation.NEGOTIATION_STARTED && negotiation.sellerTraderID ==traderID) {
                    @commonFormButton(constants.Form.UPDATE_ASSET_TERMS, 'parameters -> s"'${negotiation.id}'")
                }
            </div>

            <div class="sellerTerm">
                @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
                <div>
                @if(negotiation.buyerAcceptedAssetDetails.description){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonIntInfo(constants.View.PRICE, negotiation.price)
                <div>
                @if(negotiation.buyerAcceptedAssetDetails.price){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity, negotiation.quantityUnit).mkString(" "))
                <div>
                @if(negotiation.buyerAcceptedAssetDetails.quantity){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.shippingPeriod)
                <div>
                @if(negotiation.buyerAcceptedAssetDetails.shippingPeriod){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
            @commonTextInfo(constants.View.LOAD_PORT, asset.portOfLoading)
            </div>
            <div class="sellerTerm">
            @commonTextInfo(constants.View.DISCHARGE_PORT, asset.portOfDischarge)
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.PAYMENT_TERMS)</div>
                @if(negotiation.status ==constants.Status.Negotiation.NEGOTIATION_STARTED && negotiation.sellerTraderID ==traderID){
                    @commonFormButton(constants.Form.UPDATE_PAYMENT_TERMS, 'parameters -> s"'${negotiation.id}'")
                }
            </div>
            <div class="sellerTerm">
                @commonBooleanInfo(constants.View.ADVANCE_PAYMENT, Option(negotiation.paymentTerms.advancePayment.getOrElse(false)))
                @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage.getOrElse(0.0))
                <div>
                @if(negotiation.buyerAcceptedPaymentTerms.advancePayment){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @commonBooleanInfo(constants.View.CREDIT, Option(negotiation.paymentTerms.credit.getOrElse(false)))
                @if(negotiation.paymentTerms.tentativeDate.isEmpty) {
                    <p>@Messages(constants.View.TENURE)
                        - <span class="cmuk-text-bold">@negotiation.paymentTerms.tenure.getOrElse(0)
                            Days</span></p>
                    <p>@Messages(constants.View.REFERENCE)
                        - <span class="cmuk-text-bold">@negotiation.paymentTerms.reference.getOrElse("")</span></p>
                } else {
                    <p>@Messages(constants.View.TENTATIVE_DATE) - <span class="cmuk-text-bold">
                    @negotiation.paymentTerms.tentativeDate match {
                        case Some(date) => {
                            @date
                        }
                        case None => {}
                    }
                    </span></p>
                }
                <div>
                @if(negotiation.buyerAcceptedPaymentTerms.credit){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title"> @Messages(constants.View.DOCUMENTS_CHECKLIST)</div>
                @if(negotiation.status ==constants.Status.Negotiation.NEGOTIATION_STARTED && negotiation.sellerTraderID ==traderID) {
                    @commonFormButton(constants.Form.UPDATE_DOCUMENTS_CHECKLIST, 'parameters -> s"'${negotiation.id}'")
                }
            </div>
            <div class="sellerTerm">
                @commonBooleanInfo(constants.View.BILL_OF_EXCHANGE_REQUIRED, Option(negotiation.documentsCheckList.billOfExchangeRequired.getOrElse(false)))
                <div>
                @if(negotiation.buyerAcceptedDocumentsCheckList.billOfExchangeRequired){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                @if(negotiation.documentsCheckList.obl.getOrElse(false)) {
                    @Messages(constants.View.OBL)
                }
                @if(negotiation.documentsCheckList.coo.getOrElse(false)) {
                    @Messages(constants.View.COO)
                }
                @if(negotiation.documentsCheckList.coa.getOrElse(false)) {
                    @Messages(constants.View.COA)
                }
                @negotiation.documentsCheckList.otherDocuments match{
                    case Some(documents)=>{
                        @commonTextInfo(constants.View.OTHER_DOCUMENTS, documents)
                    }
                    case None=>{}
                }
                <div>
                @if(negotiation.buyerAcceptedDocumentsCheckList.documentList){
                    @Messages(constants.View.ACCEPTED)
                } else{
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

        }

        </div>
    </div>
</div>
<script>
    @*Add here comet source for component id = '@Seq(negotiation.id, "TermsView").mkString("")'*@
</script>
