@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile
@import models.masterTransaction.AssetFile
@import models.master.Negotiation
@import models.docusign.Envelope

@(traderID:String, negotiation: Negotiation, assetFileList: Seq[AssetFile], negotiationFileList: Seq[NegotiationFile],negotiationEnvelopeList: Seq[Envelope])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<ul class="documentList scroller">
    <li>
@negotiation.status match {
    case constants.Status.Negotiation.BUYER_ACCEPTED_ALL_NEGOTIATION_TERMS => {
        @negotiationFileList.find(_.documentType == constants.File.Negotiation.CONTRACT) match {
            case Some(negotiationFile) => {
                <div class="contractBox">
                    <div><span class="docIcon">@commonIcon("doc2")</span>
                        <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS', '1', jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocument('@negotiation.id', '@negotiationFile.documentType'))">@Messages(negotiationFile.documentType)</a>
                    </div>
                    <div><span class="seenIcon" onclick="getForm(jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocumentContent('@negotiation.id', '@negotiationFile.documentType'))")>
                    @commonIcon("seen")
                    </span>
                    </div>
                    @negotiationEnvelopeList.find(_.documentType == constants.File.Negotiation.CONTRACT) match {
                        case Some(docusignEnvelope) => {
                            <div>
                            @if(docusignEnvelope.status == constants.External.Docusign.Status.CREATED && negotiation.sellerTraderID == traderID) {
                                @commonModalButton(constants.View.SEND_FOR_SIGNATURE, routes.javascript.DocusignController.send, 'parameters -> s"'${negotiation.id}','${constants.File.Negotiation.CONTRACT}'")
                            }
                            @if(docusignEnvelope.status == constants.External.Docusign.Status.SENT && negotiation.buyerTraderID == traderID) {
                                @commonModalButton(constants.View.E_SIGN, routes.javascript.DocusignController.sign, 'parameters -> s"'${negotiation.id}','${constants.File.Negotiation.CONTRACT}'")
                            }
                            @if(docusignEnvelope.status == constants.External.Docusign.Status.COMPLETED) {
                                <span>@constants.View.SIGNED</span>
                            }
                            </div>
                        }
                        case None => {
                            @if(negotiation.sellerTraderID == traderID) {
                                <div>
                                @commonModalButton(constants.View.SEND_FOR_SIGNATURE, routes.javascript.DocusignController.send, 'parameters -> s"'${negotiation.id}','${constants.File.Negotiation.CONTRACT}'")
                                </div>
                                <div>
                                @commonFormButton(constants.Form.UPDATE_CONTRACT_SIGNED,'parameters -> s"'${negotiation.id}'")
                                </div>
                            }
                        }
                    }
                </div>
            }
            case None => {}
        }
    }
    case constants.Status.Negotiation.CONTRACT_SIGNED | constants.Status.Negotiation.BUYER_CONFIRMED_SELLER_PENDING | constants.Status.Negotiation.SELLER_CONFIRMED_BUYER_PENDING | constants.Status.Negotiation.BOTH_PARTIES_CONFIRMED=> {
        <table class="table-scroll small-first-col cmuk-table cmuk-table-divider">
            <tbody>
                <tr><td colspan="3">@Messages(constants.View.ASSET_DOCUMENTS):</td></tr>
                        @assetFileList.filter(assetFile=> negotiation.documentList.assetDocuments.contains(assetFile.documentType)).map { assetFile =>
                            <tr>
                                <td colspan="2"><span class="docIcon">@commonIcon("doc2")</span>
                                    <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS', '1', jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocument('@negotiation.id', '@assetFile.documentType'))">@Messages(assetFile.documentType)</a>
                                </td>
                                @assetFile.documentType match{
                                    case constants.File.Asset.BILL_OF_LADING=> {
                                        <td> <span class="seenIcon" onclick="getForm(jsRoutes.controllers.ComponentViewController.traderViewAssetDocumentContent('@negotiation.assetID', '@assetFile.documentType'))")>
                                            @commonIcon("seen")
                                            </span>
                                        </td>
                                    }
                                    case _=>{}
                                }
                            </tr>
                        }
                        <tr><td colspan="3">@Messages(constants.View.NEGOTIATION_DOCUMENTS):</td></tr>
                        @negotiationFileList.filter(negotiationFile=> negotiation.documentList.negotiationDocuments.contains(negotiationFile.documentType)|| negotiationFile.documentType == constants.File.Negotiation.CONTRACT).map { negotiationFile=>
                            <tr>
                                <td><span class="docIcon">@commonIcon("doc2")</span>
                                    <a onclick="switchTab('@constants.View.VIEW_DOCUMENTS','1', jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocument('@negotiation.id', '@negotiationFile.documentType'))">@Messages(negotiationFile.documentType)</a>
                                </td>
                                @negotiationFile.documentType match{
                                    case constants.File.Negotiation.INVOICE | constants.File.Negotiation.CONTRACT => {
                                        <td>
                                            <span class="seenIcon"  onclick="getForm(jsRoutes.controllers.ComponentViewController.traderViewNegotiationDocumentContent('@negotiation.id','@negotiationFile.documentType'))")>
                                                @commonIcon("seen")
                                            </span>
                                        </td>
                                        @if(negotiationFile.documentType ==constants.File.Negotiation.CONTRACT) { <td><span>@constants.View.SIGNED</span></td>}
                                    }
                                    case _=>{<td></td>}
                                }
                            </tr>
                        }
            </tbody>
        </table>
    }
    case _ => {}
}
    </li>
</ul>
        <script src="@routes.Assets.versioned("javascripts/switchTab.js")" type="text/javascript"></script>