@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization

@( organization: Organization)(implicit messagesProvider: MessagesProvider, loginState: LoginState)
<div>
    @commonTextInfo(constants.Form.ORGANIZATION_NAME, organization.name)
    @commonTextInfo(constants.Form.ABBREVIATION, organization.abbreviation.getOrElse(""))
    @commonTextInfo(constants.Form.ORGANIZATION_ID, organization.id)
    @commonTextInfo(constants.Form.ESTABLISHMENT_DATE, organization.establishmentDate.toString)
    @commonBooleanInfo(constants.Form.VERIFIED_STATUS, organization.verificationStatus)
</div>
