@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Asset, Negotiation}
@import views.html.component.master.buyerViewNegotiationTerm

@(traderID: String, negotiation: Negotiation, asset: Asset)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id='@Seq(negotiation.id, "TermsView").mkString("")'>
    <div class="tradeTerms">
        <div class="traderCommodity">
            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span><span class="tradeName">@asset.assetType</span>
        </div>

        <div class="terms">
        @if(traderID == negotiation.buyerTraderID && negotiation.status == constants.Status.Negotiation.STARTED) {
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.ASSET_DESCRIPTION, status = negotiation.buyerAcceptedAssetDescription, iconPath = "icon-description") {
                @Messages(constants.View.ASSET_DESCRIPTION)
            } {
                @negotiation.assetDescription
            }
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.PRICE, status = negotiation.buyerAcceptedPrice, iconPath = "icon-contract-price") {
                @Messages(constants.View.PRICE)
            } {
                @negotiation.price
            }
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.QUANTITY, status = negotiation.buyerAcceptedQuantity, iconPath = "icon-quantity") {
                @Messages(constants.View.QUANTITY)
            } {
                @Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(" ")
            }

            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.ASSET_OTHER_DETAILS, status = negotiation.buyerAcceptedAssetOtherDetails, iconPath = "icon-shipment-period") {
                @Messages(constants.View.ASSET_OTHER_DETAILS)
                <div class="creditTerms">
                @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
                @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
                @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                </div>
            } {
            }
            <hr>
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.PAYMENT_TERMS, status = negotiation.buyerAcceptedPaymentTerms, iconPath = "icon-advance-payment") {
                @Messages(constants.View.PAYMENT_TERMS)
                <div class="creditTerms">
                    @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage)
                    @negotiation.paymentTerms.credit match {
                        case Some(credit) => {
                            @credit.tentativeDate match {
                                case Some(date) => {
                                    <p>@Messages(constants.View.TENTATIVE_DATE)
                                        - <span class="cmuk-text-bold"> @date</span></p>
                                }
                                case None => {
                                    <p>@Messages(constants.View.TENURE)
                                        - <span class="cmuk-text-bold"> @credit.tenure.getOrElse(0) @Messages(constants.View.DAYS)</span>
                                    </p>
                                    @commonTextInfo(constants.View.REFERENCE, credit.reference)
                                }
                            }
                        }
                        case None => {}
                    }
                </div>
            }{
            }
            <hr>
            @buyerViewNegotiationTerm(negotiationID = negotiation.id, termType = constants.View.DOCUMENT_LIST, status = negotiation.buyerAcceptedDocumentList, iconPath = "icon-document") {
                @Messages(constants.View.DOCUMENT_LIST)
                <div class="creditTerms">
                    <p><span class="cmuk-text-bold">@Messages(constants.View.ASSET_DOCUMENTS):</span></p>
                @negotiation.documentList.assetDocuments.map { assetDocument =>
                    <p>@Messages(assetDocument)</p>
                }
                    <p> <span class="cmuk-text-bold">@Messages(constants.View.NEGOTIATION_DOCUMENTS):</span></p>
                @negotiation.documentList.negotiationDocuments.map { negotiationDocument =>
                    <p>@Messages(negotiationDocument)</p>
                }
                </div>
            }{
            }
        } else {
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_DETAILS)</div>
                @if(negotiation.status == constants.Status.Negotiation.STARTED && negotiation.sellerTraderID == traderID) {
                    @commonFormButton(constants.Form.UPDATE_ASSET_TERMS, 'parameters -> s"'${negotiation.id}'")
                }
            </div>

            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-description")"/></svg></span>
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
                </div>
                <div>
                @if(negotiation.buyerAcceptedAssetDescription) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-contract-price")"/></svg></span>
                    @commonIntInfo(constants.View.PRICE, negotiation.price)
                </div>
                <div>
                @if(negotiation.buyerAcceptedPrice) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-quantity")"/></svg></span>
                    @commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(" "))
                </div>
                <div>
                @if(negotiation.buyerAcceptedQuantity) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_OTHER_DETAILS)</div>
                @if(negotiation.status == constants.Status.Negotiation.STARTED && negotiation.sellerTraderID == traderID) {
                    @commonFormButton(constants.Form.UPDATE_ASSET_OTHER_DETAILS, 'parameters -> s"'${negotiation.id}'")
                }
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-port")"/></svg></span>
                        @commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-port")"/></svg></span>
                        @commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-shipment-period")"/></svg></span>
                        @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)
                    </div>
                </div>
                <div>
                @if(negotiation.buyerAcceptedAssetOtherDetails) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.PAYMENT_TERMS)</div>
                @if(negotiation.status == constants.Status.Negotiation.STARTED && negotiation.sellerTraderID == traderID) {
                    @commonFormButton(constants.Form.UPDATE_PAYMENT_TERMS, 'parameters -> s"'${negotiation.id}'")
                }
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-advance-payment")"/></svg></span>
                            @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage)
                    </div>
                    <div class="subTerms">
                        @negotiation.paymentTerms.credit match {
                            case Some(credit) => {
                                @credit.tentativeDate match {
                                    case Some(date) => {
                                        <p>@Messages(constants.View.TENTATIVE_DATE)
                                            - <span class="cmuk-text-bold">@date</span></p>
                                    }
                                    case None => {
                                        <p>@Messages(constants.View.TENURE)
                                            - <span class="cmuk-text-bold">@credit.tenure.getOrElse(0) @Messages(constants.View.DAYS)</span></p>
                                        <p>@Messages(constants.View.REFERENCE)
                                            - <span class="cmuk-text-bold">@credit.reference</span>
                                        </p>
                                    }
                                }
                            }
                            case None => {}
                        }
                    </div>
                </div>
                <div>
                @if(negotiation.buyerAcceptedPaymentTerms) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title"> @Messages(constants.View.DOCUMENT_LIST)</div>
                @if(negotiation.status == constants.Status.Negotiation.STARTED && negotiation.sellerTraderID == traderID) {
                    @commonFormButton(constants.Form.UPDATE_DOCUMENT_LIST, 'parameters -> s"'${negotiation.id}'")
                }
            </div>
            <div class="sellerTerm">
                <div>
                    <span class="cmuk-text-bold">@Messages(constants.View.ASSET_DOCUMENTS):</span>
                    @negotiation.documentList.assetDocuments.map { assetDocument =>
                            <div>
                             <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-document")"/></svg></span>
                            @Messages(assetDocument)
                            </div>
                         }
                    <span class="cmuk-text-bold">@Messages(constants.View.NEGOTIATION_DOCUMENTS):</span>
                @negotiation.documentList.negotiationDocuments.map { negotiationDocument =>
                    <div>
                        <span class="termIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-document")"/></svg></span>
                    @Messages(negotiationDocument)
                    </div>
                }
                </div>
                <div>
                @if(negotiation.buyerAcceptedDocumentList) {
                    @Messages(constants.View.ACCEPTED)
                } else {
                    @Messages(constants.View.PENDING)
                }
                </div>
            </div>
            @traderID match {
                case negotiation.buyerTraderID => {
                    @commonFormButton(constants.Form.BUYER_CONFIRM_NEGOTIATION, 'parameters -> s"'${negotiation.id}'")
                    @commonFormButton(constants.Form.REDEEM_ASSET, 'parameters -> s"'${negotiation.assetID}'")
                }
                case negotiation.sellerTraderID => {
                    @commonFormButton(constants.Form.SELLER_CONFIRM_NEGOTIATION, 'parameters -> s"'${negotiation.id}'")
                    @commonFormButton(constants.Form.SEND_ASSET, 'parameters -> s"'${negotiation.id}'")
                }
            }
        }
        </div>
    </div>
</div>
