@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Organization
@(receivedNegotiationRequestList: Seq[Negotiation], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

 <div class="salesQuoteCard">
    @receivedNegotiationRequestList.map { receivedNegotiationRequest =>
        @commonVerticalInfoBox(){
            <div class="firstPart salesChild">
                <div class="salesQuoteCategory buy">
                    <span>@Messages(constants.View.BUY)</span>
                </div>
                <div class="content">
                @assetList.find(_.id == receivedNegotiationRequest.assetID) match {
                    case Some(asset) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                        </div>
                        <div class="assetIntialData">
                            <p class="assetTitle">@asset.assetType</p>
                            <p class="assetQuantity">@Seq(receivedNegotiationRequest.quantity.toString, receivedNegotiationRequest.quantityUnit).mkString(" ")</p>
                            <p class="assetPrice">@receivedNegotiationRequest.price</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="secondPart salesChild">
                @counterPartyTraderList.find(_.id == receivedNegotiationRequest.sellerTraderID) match {
                    case Some(trader) => {
                        @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                            case Some(organization) => {
                                <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span></p>
                            }
                            case None => {}
                        }
                        <span cmuk-tooltip="@Messages(constants.View.TRADER)">@trader.name</span>
                    }
                    case None => {}
                }
                <p><span>@receivedNegotiationRequest.assetOtherDetails.shippingDetails.portOfLoading</span>
                    <span class="lines">---</span>
                    <span class="arrowIcon">@commonIcon("rounded-right-arrow")</span>
                    <span class="lines">---</span>
                    <span>@receivedNegotiationRequest.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
            </div>
            <div class="thirdPart salesChild">
            @commonFormButton(constants.Form.ACCEPT_NEGOTIATION_REQUEST, 'parameters -> s"'${receivedNegotiationRequest.id}'")
                @commonFormButton(constants.Form.REJECT_NEGOTIATION_REQUEST, 'parameters -> s"'${receivedNegotiationRequest.id}'")
            </div>
        }
    }
</div>