@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile
@import models.Trait.Document

@(id:String,negotiationFile: Option[Document[_]])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@negotiationFile match{
    case Some(file)=> {
        @defining(routes.FileController.tradingFile(id, file.fileName, file.documentType)){route=>
            @utilities.FileOperations.fileExtensionFromName(file.fileName) match {
                case constants.File.PNG | constants.File.JPEG | constants.File.JPG => {
                    <img src="@routes.FileController.tradingFile(id, file.fileName, file.documentType)">
                }
                case _ => {
                    <iframe src="@routes.FileController.tradingFile(id, file.fileName, file.documentType)"></iframe>
                }
            }
        }
      }
    case None=> { @Messages(constants.View.NEGOTIATION_FILES_NOT_UPLOADED)}
}