@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader
@import models.master.Organization

@(incompleteNegotiationList: Seq[Negotiation], counterPartyTraderList: Seq[Trader], counterPartyOrganizationList: Seq[Organization], assetList: Map[String, Map[String,Option[String]]])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div class="salesQuoteCard">
    @incompleteNegotiationList.map { incompleteNegotiation =>
        @commonVerticalInfoBox(){
            <div class="salesQuoteCardLeft salesChild">
                <div class="salesQuoteCategory sell">
                </div>
                <div class="content">
                @assetList.get(incompleteNegotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.getOrElse(constants.Property.ASSET_TYPE.dataName,Some("")).getOrElse("") + ".svg")"></span>
                        </div>
                        <div class="assetInitialData">
                            <p class="assetTitle">@Messages(asset.getOrElse(constants.Property.ASSET_TYPE.dataName,Some("")).getOrElse(""))</p>
                            <p class="assetQuantity">@Seq(incompleteNegotiation.quantity.toRoundedOffString(), incompleteNegotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">
                @assetList.find(_._1 == incompleteNegotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetInitialData">
                            <p class="assetPrice">@Seq((incompleteNegotiation.price/incompleteNegotiation.quantity).toRoundedOffString(), Messages(constants.View.PER), incompleteNegotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                @counterPartyTraderList.find(_.id == incompleteNegotiation.sellerTraderID) match {
                    case Some(trader) => {
                        @counterPartyOrganizationList.find(_.id == trader.organizationID) match {
                            case Some(organization) => {
                                <p><span class="organizationName" cmuk-tooltip="@Messages(constants.View.ORGANIZATION)">@organization.name</span></p>
                            }
                            case None => {}
                        }
                        <p><span cmuk-tooltip="@Messages(constants.View.TRADER)">@trader.accountID</span></p>
                    }
                    case None => {}
                }
            </div>
            <div class="salesQuoteCardRight salesChild">
                <div class="cmuk-flex">
                    <span class="arrowIcon">@commonIcon("navigationDownArrow")</span>
                    <div class="cmuk-text-left">
                    <p><span>@incompleteNegotiation.assetOtherDetails.shippingDetails.portOfLoading</span></p>
                    <p><span>@incompleteNegotiation.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
                    </div>
                </div>
                <div class="viewQuotePayment">@commonModalButton(constants.View.VIEW_QUOTE, routes.javascript.ComponentViewController.traderViewNegotiation, 'parameters -> s"'${incompleteNegotiation.id}'")

                @commonFormButton(constants.Form.NEGOTIATION_PAYMENT_TERMS, 'parameters -> s"'${incompleteNegotiation.id}'")</div>
            </div>
        }
    }
</div>
