@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader
@import models.master.Organization
@(negotiation: Negotiation, asset: Asset, counterPartyTrader: Trader, counterPartyOrganization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@Messages(constants.View.NEGOTIATION_ID): @negotiation.id

@Messages(constants.View.ASSET_DETAILS):
<div class="traderCommodity">
    <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span><span class="tradeName">@asset.assetType</span>
</div>

@commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiation.assetDescription)
@commonTextInfo(constants.View.QUANTITY, Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(" "))
@commonIntInfo(constants.View.PRICE, negotiation.price)

@Messages(constants.View.SHIPPING_DETAILS):

@commonTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetails.shippingDetails.portOfLoading)
@commonTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetails.shippingDetails.portOfDischarge)
@commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiation.assetOtherDetails.shippingDetails.shippingPeriod)

@Messages(constants.View.PAYMENT_TERMS):
<div>
    <div class="cmuk-flex">
        @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiation.paymentTerms.advancePercentage)
    </div>
    <div class="subTerms">
    @negotiation.paymentTerms.credit match {
        case Some(credit) => {
            @credit.tentativeDate match {
                case Some(date) => {
                    <p>@Messages(constants.View.TENTATIVE_DATE)
                        - <span class="cmuk-text-bold">@date</span></p>
                }
                case None => {
                    <p>@Messages(constants.View.TENURE)
                        - <span class="cmuk-text-bold">@credit.tenure.getOrElse(0) @Messages(constants.View.DAYS)</span></p>
                    <p>@Messages(constants.View.REFERENCE)
                        - <span class="cmuk-text-bold">@credit.reference.getOrElse("")</span>
                    </p>
                }
            }
        }
        case None => {}
    }
    </div>
</div>


<div>
    <span class="cmuk-text-bold">@Messages(constants.View.ASSET_DOCUMENTS):</span>
    @negotiation.documentList.assetDocuments.map { assetDocument =>
        <div>
            @Messages(assetDocument)
        </div>
    }
    <span class="cmuk-text-bold">@Messages(constants.View.NEGOTIATION_DOCUMENTS):</span>
    @negotiation.documentList.negotiationDocuments.map { negotiationDocument =>
        <div>
            @Messages(negotiationDocument)
        </div>
    }
</div>

@commonTextInfo(constants.View.COUNTER_PARTY, counterPartyTrader.name)
@commonTextInfo(constants.View.ORGANIZATION, counterPartyOrganization.name)







