@import helper._
@import views.companion.master.UnmoderatedBuyerExecuteOrder

@(unmoderatedBuyerExecuteOrderForm: Form[UnmoderatedBuyerExecuteOrder.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@form(action = routes.BuyerExecuteOrderController.unmoderatedBuyerExecuteOrder, 'onkeypress -> "validateForm(event,this)") {
    @CSRF.formField
    @inputText(unmoderatedBuyerExecuteOrderForm(constants.Form.SELLER_ADDRESS), '_label -> Messages(constants.Form.SELLER_ADDRESS))
    @inputText(unmoderatedBuyerExecuteOrderForm(constants.Form.FIAT_PROOF_HASH), '_label -> Messages(constants.Form.FIAT_PROOF_HASH))
    @inputText(unmoderatedBuyerExecuteOrderForm(constants.Form.PEG_HASH), '_label -> Messages(constants.Form.PEG_HASH))
    @inputText(unmoderatedBuyerExecuteOrderForm(constants.Form.GAS), '_label -> Messages(constants.Form.GAS))
    @inputPassword(unmoderatedBuyerExecuteOrderForm(constants.Form.PASSWORD), '_label -> Messages(constants.Form.PASSWORD))

    @if(unmoderatedBuyerExecuteOrderForm.hasGlobalErrors) {
        <ul>
        @for(error <- unmoderatedBuyerExecuteOrderForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="button" onclick="submitForm(this)">@Messages(constants.Form.UNMODERATED_BUYER_EXECUTE_ORDER)</button>
}
