@import controllers.actions.LoginState
@import helper._
@import models.master.TraderKYC
@import views.companion.master.UpdateTraderKYCDocumentOrganizationStatus

@(updateTraderKYCDocumentOrganizationStatusForm: Form[UpdateTraderKYCDocumentOrganizationStatus.Data] = views.companion.master.UpdateTraderKYCDocumentOrganizationStatus.form, traderKYC: TraderKYC)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

<script src="@routes.Assets.versioned("javascripts/verifyReject.js")" type="text/javascript"></script>
<div id="@Seq(traderKYC.id, traderKYC.documentType).mkString("")">
@form(action = routes.SetACLController.updateTraderKYCDocumentOrganizationStatus, 'onkeypress -> "submitFormOnEnter(event,this)") {
    @CSRF.formField
    @inputText(updateTraderKYCDocumentOrganizationStatusForm(constants.FormField.TRADER_ID.name).copy(value = Some(traderKYC.id)), '_label -> Messages(constants.FormField.TRADER_ID.name), 'placeholder -> Messages(constants.FormField.TRADER_ID.name), 'required -> true, 'class -> "hidden", 'readonly -> true)
    @inputText(updateTraderKYCDocumentOrganizationStatusForm(constants.FormField.DOCUMENT_TYPE.name).copy(value = Some(traderKYC.documentType)), '_label -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'placeholder -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'required -> true, 'class -> "hidden", 'readonly -> true)
    @checkbox(updateTraderKYCDocumentOrganizationStatusForm(constants.Form.ORGANIZATION_STATUS), '_label -> Messages(constants.Form.ORGANIZATION_STATUS), 'placeholder -> Messages(constants.Form.ORGANIZATION_STATUS), 'required -> true, 'class -> "hidden", 'id -> Seq(traderKYC.id, traderKYC.documentType, constants.Form.STATUS).mkString(""))

    @if(updateTraderKYCDocumentOrganizationStatusForm.hasGlobalErrors) {
        <ul>
        @for(error <- updateTraderKYCDocumentOrganizationStatusForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <span class="red">@Messages(constants.Form.ORGANIZATION_STATUS):
        @traderKYC.status match {
            case Some(status: Boolean) => {
                @if(status) {
                    <span class="result success"><img class="status" src="@routes.Assets.versioned("images/success.jpg")"></span>
                    <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="verifyReject(this, '@Seq("#", traderKYC.id, traderKYC.documentType).mkString("")', '@Seq(traderKYC.id, traderKYC.documentType, constants.Form.STATUS).mkString("")', false)">@Messages(constants.Form.REJECT)</button>
                } else {
                    <span class="result failure"><img class="status" src="@routes.Assets.versioned("images/unverified.png")"></span>
                    <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="verifyReject(this, '@Seq("#", traderKYC.id, traderKYC.documentType).mkString("")', '@Seq(traderKYC.id, traderKYC.documentType, constants.Form.STATUS).mkString("")', true)">@Messages(constants.Form.APPROVE)</button>
                }
            }
            case None => {
                <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="verifyReject(this, '@Seq("#", traderKYC.id, traderKYC.documentType).mkString("")', '@Seq(traderKYC.id, traderKYC.documentType, constants.Form.STATUS).mkString("")', true)">@Messages(constants.Form.APPROVE)</button>
                <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="verifyReject(this, '@Seq("#", traderKYC.id, traderKYC.documentType).mkString("")', '@Seq(traderKYC.id, traderKYC.documentType, constants.Form.STATUS).mkString("")', false)">@Messages(constants.Form.REJECT)</button>
            }
        }
    </span>
}
</div>