@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.PaymentTerms

@(updatePaymentTerms: Form[PaymentTerms.Data] = PaymentTerms.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@commonForm(constants.Form.UPDATE_PAYMENT_TERMS, updatePaymentTerms) {
    <div class="modal-info-block">
    @commonInputText(updatePaymentTerms, constants.FormField.ID, 'containerDivClass -> "hidden", 'readonly -> true)
    @Messages(constants.View.ADVANCE_PAYMENT)
    @commonInputDouble(updatePaymentTerms, constants.FormField.ADVANCE_PERCENTAGE, 'id -> "advancePercentage", 'oninput -> "advancePercentageInput()")
    @Messages(constants.View.CREDIT_TERMS)
    @defining(Option(constants.FormField.CREDIT)) { implicit nestedFormField =>
        @commonInputDate(updatePaymentTerms, constants.FormField.TENTATIVE_DATE, 'required -> false, 'id -> "tentativeDate", 'oninput -> "tentativeDateInput()")
        @commonInputInt(updatePaymentTerms, constants.FormField.TENURE, 'required -> false, 'id -> "tenure", 'oninput -> "tenureInput()")
        @commonSelect(updatePaymentTerms, constants.FormField.REFERENCE, 'required -> false, 'id -> "reference")
    }
    </div>
}
<script src="@routes.Assets.versioned("javascripts/paymentTerms.js")" type="text/javascript"></script>
