@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.DocumentsCheckList

@(updateDocumentsCheckListForm: Form[DocumentsCheckList.Data] = DocumentsCheckList.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.UPDATE_DOCUMENTS_CHECKLIST, updateDocumentsCheckListForm) {
    @commonInputText(updateDocumentsCheckListForm, constants.FormField.ID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonCheckbox(updateDocumentsCheckListForm, constants.FormField.BILL_OF_EXCHANGE)
    @commonCheckbox(updateDocumentsCheckListForm, constants.FormField.COO)
    @commonCheckbox(updateDocumentsCheckListForm, constants.FormField.COA)
    @commonInputText(updateDocumentsCheckListForm, constants.FormField.OTHER_DOCUMENTS, 'required -> false)
}