@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.UpdateNegotiationAssetTerms

@(updateNegotiationAssetTermsForm: Form[UpdateNegotiationAssetTerms.Data] = UpdateNegotiationAssetTerms.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.UPDATE_ASSET_TERMS, updateNegotiationAssetTermsForm) {
    @commonInputText(updateNegotiationAssetTermsForm, constants.FormField.ID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputText(updateNegotiationAssetTermsForm, constants.FormField.ASSET_DESCRIPTION)
    @commonInputMicroLong(updateNegotiationAssetTermsForm, constants.FormField.ASSET_PRICE_PER_UNIT)
    @commonInputMicroLong(updateNegotiationAssetTermsForm, constants.FormField.ASSET_QUANTITY)
    @commonInputText(updateNegotiationAssetTermsForm, constants.FormField.QUANTITY_UNIT)
    @commonInputLong(updateNegotiationAssetTermsForm, constants.FormField.GAS, 'value -> constants.FormField.GAS.maximumValue, 'readonly -> true, 'containerDivClass -> "hidden")
    @commonInputPassword(updateNegotiationAssetTermsForm, constants.FormField.PASSWORD)
}
