@import controllers.actions.LoginState
@import helper._
@import views.companion.master.UpdateAssetDocumentStatus

@(updateAssetDocumentStatusForm: Form[UpdateAssetDocumentStatus.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@form(action = routes.IssueAssetController.updateAssetDocumentStatus, 'onkeypress -> "submitFormOnEnter(event,this)") {
    <div class="latest_card-header latest_card-header-primary text-center">
        <h4 class="latest_card-title">@Messages(constants.Form.UPDATE_ASSET_DOCUMENT_STATUS)</h4>
    </div>
    <div class="latest_card-body">
        @CSRF.formField
        @inputText(updateAssetDocumentStatusForm(constants.FormField.FILE_ID.name), '_label -> Messages(constants.FormField.FILE_ID.name), 'placeholder -> Messages(constants.FormField.FILE_ID.name), 'required -> true, 'class -> "cmuk-input", 'readonly -> true)
        @inputText(updateAssetDocumentStatusForm(constants.FormField.DOCUMENT_TYPE.name), '_label -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'placeholder -> Messages(constants.FormField.DOCUMENT_TYPE.name), 'required -> true, 'class -> "cmuk-input", 'readonly -> true)
        @checkbox(updateAssetDocumentStatusForm(constants.Form.STATUS), '_label -> Messages(constants.Form.STATUS), 'placeholder -> Messages(constants.Form.STATUS), 'required -> true, 'class -> "cmuk-checkbox")

        @if(updateAssetDocumentStatusForm.hasGlobalErrors) {
            <ul>
            @for(error <- updateAssetDocumentStatusForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="button" class="btn btn-primary btn-sm" onclick="submitForm(this)">@Messages(constants.Form.SUBMIT)</button>
    </div>
}