@import controllers.actions.LoginState
@import views.html.base._
@import helper._

@(uploadRoute:String, updateRoute:String, documentType: String, id: String = "")(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="uploadForm">
@CSRF.formField
<div class="modalInfoBlock">
<div id="updateSelector" class="centerText uploadBox">
    <span class="uploadIcon" cmuk-icon="cloud-upload"></span>
    <div class="dropBox">
        <p class="centerText"><small>@Messages(constants.View.DROP_FILE)</small></p>
    </div>
    <p class="centerText"><small>@Messages(constants.View.OR)</small></p>
    <button type="button" class="cmuk-button cmuk-button-primary" id="browseUpdateButton">@Messages(constants.View.BROWSE)</button>
</div>

<div id="updater" class="hidden centerText">
    <a id="fileName" class="fileName"></a>
    <br>
    <div id="updateControls">
        <div class="progressContainer">
            <div class="progressBar" id="fileUpdateProgressBar"></div>
        </div>
        <button type="button" class="cmuk-button cmuk-button-primary" id="updateButton" >@Messages(constants.View.UPDATE)</button>
    </div>
</div>

<div id="updateCompletionMessage" class="hidden"></div>
</div>
</div>
<script src="@routes.Assets.versioned("javascripts/resumable.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/upload.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/style/progressBar.js")" type="text/javascript"></script>
<script>updateFile(@uploadRoute, @updateRoute, '@documentType', '@id')</script>