@import controllers.actions.LoginState
@import helper._
@import models.masterTransaction.AssetFile
@import views.companion.master.UpdateAssetDocumentStatus
@import views.html.base._

@(updateAssetDocumentStatusForm: Form[UpdateAssetDocumentStatus.Data] = views.companion.master.UpdateAssetDocumentStatus.form, file: AssetFile)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

<div id="@Seq(file.id, file.documentType).mkString("")">
@commonAcceptOrRejectForm(constants.Form.UPDATE_ASSET_DOCUMENT_STATUS, updateAssetDocumentStatusForm, Seq(file.id, file.documentType).mkString(""), file.status) {
    @commonInputText(updateAssetDocumentStatusForm, constants.FormField.REQUEST_ID, 'value -> file.id, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputText(updateAssetDocumentStatusForm, constants.FormField.DOCUMENT_TYPE, 'value -> file.documentType, 'containerDivClass -> "hidden", 'readonly -> true)
}
</div>