@import controllers.actions.LoginState
@import models.masterTransaction.AssetFile
@import views.companion.master.UpdateAssetDocumentStatus
@import views.html.base._

@(updateAssetDocumentStatusForm: Form[UpdateAssetDocumentStatus.Data] =UpdateAssetDocumentStatus.form,negotiationID: String, assetFile: AssetFile)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

<div id="@Seq(negotiationID, assetFile.documentType).mkString("")">
@commonAcceptOrRejectForm(constants.Form.UPDATE_ASSET_DOCUMENT_STATUS, updateAssetDocumentStatusForm, Seq(negotiationID, assetFile.documentType).mkString(""), assetFile.status) {
    @commonInputText(updateAssetDocumentStatusForm, constants.FormField.NEGOTIATION_ID, 'value -> negotiationID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputText(updateAssetDocumentStatusForm, constants.FormField.DOCUMENT_TYPE, 'value -> assetFile.documentType, 'containerDivClass -> "hidden", 'readonly -> true)
}
</div>