@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.UpdateUserDetailsWallexAccount

@(updateUserDetails: Form[UpdateUserDetailsWallexAccount.Data] = UpdateUserDetailsWallexAccount.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)
@commonForm(constants.Form.UPDATE_USER_DETAILS, updateUserDetails) {
    @commonSelect(updateUserDetails, constants.FormField.COUNTRY_CODE)
    @commonInputText(updateUserDetails, constants.FormField.MOBILE_NUMBER)
    @commonSelect(updateUserDetails, constants.FormField.GENDER)
    @commonInputText(updateUserDetails, constants.FormField.COUNTRY_OF_BIRTH)
    @commonSelect(updateUserDetails, constants.FormField.NATIONALITY)
    @commonInputText(updateUserDetails, constants.FormField.COUNTRY_OF_RESIDENCE)
    @commonInputText(updateUserDetails, constants.FormField.RESIDENTIAL_ADDRESS)
    @commonSelect(updateUserDetails, constants.FormField.COUNTRY_CODE2)
    @commonInputText(updateUserDetails, constants.FormField.POSTAL_ZIP_CODE)
    @commonInputDate(updateUserDetails, constants.FormField.DATE_OF_BIRTH)
    @commonSelect(updateUserDetails, constants.FormField.IDENTIFICATION_TYPE)
    @commonInputText(updateUserDetails, constants.FormField.IDENTIFICATION_NUMBER)
    @commonInputDate(updateUserDetails, constants.FormField.ISSUE_DATE)
    @commonInputDate(updateUserDetails, constants.FormField.EXPIRY_DATE)
}