@import controllers.actions.LoginState
@import play.api.Logger
@import views.companion.master.UpdateContractSigned
@import views.html.base._

@(updateContractSignedForm: Form[UpdateContractSigned.Data] = UpdateContractSigned.form, negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
@commonForm(constants.Form.UPDATE_CONTRACT_SIGNED, updateContractSignedForm) {
    @commonInputText(updateContractSignedForm, constants.FormField.NEGOTIATION_ID, 'value -> negotiationID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonCheckbox(updateContractSignedForm, constants.FormField.CONFIRM)
}
