@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.UpdateAssetTermsInNegotiation

@(updateAssetTermsInNegotiationForm: Form[UpdateAssetTermsInNegotiation.Data] = UpdateAssetTermsInNegotiation.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.UPDATE_ASSET_TERMS, updateAssetTermsInNegotiationForm) {
    @commonInputText(updateAssetTermsInNegotiationForm, constants.FormField.ID, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputText(updateAssetTermsInNegotiationForm, constants.FormField.ASSET_DESCRIPTION)
    @commonInputInt(updateAssetTermsInNegotiationForm, constants.FormField.ASSET_PRICE)
    @commonInputInt(updateAssetTermsInNegotiationForm, constants.FormField.ASSET_QUANTITY)
    @commonInputInt(updateAssetTermsInNegotiationForm, constants.FormField.SHIPPING_PERIOD)
}
