@import helper._
@import views.companion.master.UpdateContact

@(updateContactForm: Form[UpdateContact.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages(constants.Forms.UpdateContact)) {
        @form(action = routes.UpdateContactController.updateContact) {
            @CSRF.formField
            @inputText(updateContactForm(constants.Forms.mobileNumber),'_label-> Messages(constants.Forms.mobileNumber))
            @inputText(updateContactForm(constants.Forms.emailAddress),'_label-> Messages(constants.Forms.emailAddress))

            @if(updateContactForm.hasGlobalErrors) {
                <ul>
                @for(error <- updateContactForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="submit">@Messages(constants.Forms.UpdateContact)</button>
        }
}