@import controllers.actions.LoginState
@import views.html.base._
@import helper._
@import models.master.OrganizationKYC
@import views.companion.master.UpdateOrganizationKYCDocumentStatus

@(updateOrganizationKYCDocumentStatusForm: Form[UpdateOrganizationKYCDocumentStatus.Data] = views.companion.master.UpdateOrganizationKYCDocumentStatus.form, organizationKYC: OrganizationKYC)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)

<script src="@routes.Assets.versioned("javascripts/verifyReject.js")" type="text/javascript"></script>
<div id="@Seq(organizationKYC.id, organizationKYC.documentType).mkString("")">
    @*// No get form is used here, so form.fill cannot be used, inputText used to autofill using copy value *@
@form(action = routes.AddOrganizationController.updateOrganizationKYCDocumentStatus, 'onkeypress -> "submitFormOnEnter(event,this)") {
    @CSRF.formField
    @inputText(updateOrganizationKYCDocumentStatusForm(constants.FormField.ORGANIZATION_ID.name).copy(value = Some(organizationKYC.id)), 'class -> "hidden", 'readonly -> true)
    @inputText(updateOrganizationKYCDocumentStatusForm(constants.FormField.DOCUMENT_TYPE.name).copy(value = Some(organizationKYC.documentType)), 'class -> "hidden", 'readonly -> true)
    @commonCheckbox(updateOrganizationKYCDocumentStatusForm, constants.FormField.STATUS, 'containerDivClass -> "hidden", 'id -> Seq(organizationKYC.id, organizationKYC.documentType, constants.FormField.STATUS.name).mkString(""))

    @if(updateOrganizationKYCDocumentStatusForm.hasGlobalErrors) {
        <ul>
        @for(error <- updateOrganizationKYCDocumentStatusForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <span class="red">@Messages(constants.FormField.STATUS.name):</span>
        @organizationKYC.status match {
            case Some(status: Boolean) => {
                @if(status) {
                    <span cmuk-icon="check"></span><br>
                    <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="verifyReject(this, '@Seq("#", organizationKYC.id, organizationKYC.documentType).mkString("")', '@Seq(organizationKYC.id, organizationKYC.documentType, constants.FormField.STATUS.name).mkString("")', false)">@Messages(constants.Form.REJECT)</button>
                } else {
                    <span cmuk-icon="close"></span><br>
                    <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="verifyReject(this, '@Seq("#", organizationKYC.id, organizationKYC.documentType).mkString("")', '@Seq(organizationKYC.id, organizationKYC.documentType, constants.FormField.STATUS.name).mkString("")', true)">@Messages(constants.Form.APPROVE)</button>
                }
            }
            case None => {
                <br>
                <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="verifyReject(this, '@Seq("#", organizationKYC.id, organizationKYC.documentType).mkString("")', '@Seq(organizationKYC.id, organizationKYC.documentType, constants.FormField.STATUS.name).mkString("")', true)">@Messages(constants.Form.APPROVE)</button>
                <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="verifyReject(this, '@Seq("#", organizationKYC.id, organizationKYC.documentType).mkString("")', '@Seq(organizationKYC.id, organizationKYC.documentType, constants.FormField.STATUS.name).mkString("")', false)">@Messages(constants.Form.REJECT)</button>
            }
        }
}
</div>