@import controllers.actions.LoginState
@import models.master.ZoneKYC

@(zoneKYCs: Seq[ZoneKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

<div class="latest_card-header latest_card-header-primary text-center">
    <h4 class="latest_card-title">@Messages(constants.Form.TRADER_KYC_FILES)</h4>
</div>
<div class="centerText">
    @for(documentType <- constants.File.ZONE_KYC_DOCUMENT_TYPES) {
        <div id="upload@documentType">
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddZoneController.userUploadZoneKYCForm('@documentType'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>
        </div>
    }
    @for(zoneKYC <- zoneKYCs) {
        @component.master.commonDocumentViewer(zoneKYC) {
            @routes.FileController.userAccessedZoneKYCFile(zoneKYC.documentType)
        } {
            <a href="@routes.FileController.userAccessedZoneKYCFile(zoneKYC.documentType)">@Messages(zoneKYC.documentType)</a>
        } {
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddZoneController.userUpdateZoneKYCForm('@zoneKYC.documentType'))">@Messages(constants.Form.UPDATE) @Messages(zoneKYC.documentType)</button>
            <script>hideElement('upload@zoneKYC.documentType')</script>
        }
    }
</div>
<button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddZoneController.addZoneForm())">@Messages(constants.Form.BACK)</button>

@if(constants.File.ZONE_KYC_DOCUMENT_TYPES.diff(zoneKYCs.map(_.documentType)).isEmpty) {
    <button type="button" class="cmuk-button cmuk-button-primary" id="getZoneKYCReviewForm" onclick="getForm(jsRoutes.controllers.AddZoneController.userReviewAddZoneRequestForm())">@Messages(constants.Form.NEXT)</button>
}