@import controllers.actions.LoginState
@import models.master.AccountKYC
@import play.api.Logger
@import models.master.Identification
@import views.companion.master.UserReviewIdentificationDetails
@import views.html.base._

@(userIdentificationCompletionForm: Form[UserReviewIdentificationDetails.Data] = UserReviewIdentificationDetails.form, identification: Identification, accountKYC: AccountKYC)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)

@commonForm(constants.Form.REVIEW_IDENTIFICATION_ON_COMPLETION, userIdentificationCompletionForm) {
    <div>@Messages(constants.View.IDENTIFICATION_DETAILS)<br>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.NAME)</div>
            <div class="infoRowValue">@identification.firstName @identification.lastName</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.DATE_OF_BIRTH)</div>
            <div class="infoRowValue">@identification.dateOfBirth</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.ID_NUMBER)</div>
            <div class="infoRowValue">@identification.idNumber</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.ID_TYPE)</div>
            <div class="infoRowValue">@identification.idType</div>
        </div>
        <div class="cmuk-flex infoRow">
            <div class="infoRowLabel red">@Messages(constants.Form.STATUS)</div>
            <div class="infoRowValue">@identification.status</div>
        </div>
    </div>
    <br>
    <div>@Messages(constants.View.ID_PROOF): <br>
            @component.master.commonDocumentViewer(accountKYC) {
                @routes.FileController.getAccountKYCFile(accountKYC.fileName, accountKYC.documentType)
            } {

            } {
                <span>@accountKYC.documentType</span>
            }
    </div>
    <br>
    @commonCheckbox(userIdentificationCompletionForm, constants.FormField.COMPLETION)
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.ProfileController.userUploadOrUpdateIdentificationView())">@Messages(constants.Form.BACK)</button>
}