@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Organization, OrganizationKYC, Zone}
@import play.api.Logger
@import views.companion.master.UserReviewAddOrganizationRequest
@import views.html.component.master.userViewOrganizationDetails

@(userReviewAddOrganizationRequestForm: Form[UserReviewAddOrganizationRequest.Data] = UserReviewAddOrganizationRequest.form, organization: Organization, zone: Zone, organizationKYCs: Seq[OrganizationKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
@commonForm(constants.Form.USER_REVIEW_ADD_ORGANIZATION_REQUEST, userReviewAddOrganizationRequestForm) {
    @userViewOrganizationDetails(organizationZone = zone, organization = organization, organizationKYCs = organizationKYCs)
    <br>
    @commonCheckbox(userReviewAddOrganizationRequestForm, constants.FormField.COMPLETION)
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userUploadOrUpdateOrganizationKYCView())">@Messages(constants.Form.BACK)</button>
}
