@import controllers.actions.LoginState
@import views.companion.master.AddUBO
@import views.html.base._
@import helper._

@(userAddUBOForm: Form[AddUBO.Data] = AddUBO.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.USER_ADD_UBO, userAddUBOForm) {
    @commonInputText(userAddUBOForm, constants.FormField.PERSON_NAME)
    @commonInputDouble(userAddUBOForm, constants.FormField.SHARE_PERCENTAGE)
    @commonInputText(userAddUBOForm, constants.FormField.RELATIONSHIP)
    @commonInputText(userAddUBOForm, constants.FormField.TITLE)
}