@import controllers.actions.LoginState
@import models.master.OrganizationKYC

@import views.html.base.commonModalButton
@import views.html.base.commonFormButton
@(organizationKYCs: Seq[OrganizationKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<legend class="cmuk-legend">
    @Messages(constants.View.ORGANIZATION_KYC_FILES)
</legend>
<hr>
<div class="modalInfoBlock centerText">
    @for(documentType <- constants.File.ORGANIZATION_KYC_DOCUMENT_TYPES) {
        <div id="upload@documentType">
            @commonModalButton(Seq(Messages(constants.View.UPLOAD), Messages(documentType)).mkString(" "),routes.javascript.AddOrganizationController.userUploadOrganizationKYCForm,'parameters -> s"'${documentType}'")
        </div>
    }
    @for(organizationKYC <- organizationKYCs) {
        @component.master.commonDocumentViewer(organizationKYC) {
            @routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)
        } {
            <a href="@routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)" target="_blank">@Messages(organizationKYC.documentType)</a>
        } {
            @commonModalButton(Seq(Messages(constants.View.UPDATE), Messages( organizationKYC.documentType)).mkString(" "),routes.javascript.AddOrganizationController.userUpdateOrganizationKYCForm,'parameters -> s"'${organizationKYC.documentType}'")
            <script>hideElement('upload@organizationKYC.documentType')</script>
        }
    }
@commonModalButton(constants.View.BACK, constants.Form.ADD_ORGANIZATION.get)
@if(constants.File.ORGANIZATION_KYC_DOCUMENT_TYPES.diff(organizationKYCs.map(_.documentType)).isEmpty) {
    @commonFormButton(constants.Form.USER_REVIEW_ADD_ORGANIZATION_REQUEST,'id -> "getOrganizationKYCReviewForm")
}
</div>