@(username: String, address: String, coins: Int = 0)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

@common(Messages(constants.User.HOME)) {
    <a onclick="getForm(jsRoutes.controllers.AddOrganizationController.addOrganizationForm())">@Messages(constants.Form.ADD_ORGANIZATION)</a>
    <a onclick="getForm(jsRoutes.controllers.AddZoneController.addZoneForm())">@Messages(constants.Form.ADD_ZONE)</a>

    <div id="bankDetails"><a onclick="getForm(jsRoutes.controllers.FileController.userKYCUploadForm('@constants.File.BANK_DETAILS', '@constants.File.UPLOAD_USER_GENERIC'))">@Messages(constants.File.UPLOAD_BANK_DETAILS)</a></div>
    <div id="identification"><a onclick="getForm(jsRoutes.controllers.FileController.userKYCUploadForm('@constants.File.IDENTIFICATION', '@constants.File.UPLOAD_USER_GENERIC'))">@Messages(constants.File.UPLOAD_IDENTIFICATION)</a></div>

    <br>
    <div id="bankDetails"><a onclick="getForm(jsRoutes.controllers.FileController.userKYCUploadForm('@constants.File.BANK_DETAILS', '@constants.File.UPLOAD_USER_ZONE_KYC'))">@Messages(constants.File.UPLOAD_ZONE_BANK_DETAILS)</a></div>
    <div id="identification"><a onclick="getForm(jsRoutes.controllers.FileController.userKYCUploadForm('@constants.File.IDENTIFICATION', '@constants.File.UPLOAD_USER_ZONE_KYC'))">@Messages(constants.File.UPLOAD_ZONE_IDENTIFICATION)</a></div>

    <br>
    <div id="bankDetails"><a onclick="getForm(jsRoutes.controllers.FileController.userKYCUploadForm('@constants.File.BANK_DETAILS', '@constants.File.UPLOAD_USER_ORGANIZATION_KYC'))">@Messages(constants.File.UPLOAD_ORGANIZATION_BANK_DETAILS)</a></div>
    <div id="identification"><a onclick="getForm(jsRoutes.controllers.FileController.userKYCUploadForm('@constants.File.IDENTIFICATION', '@constants.File.UPLOAD_USER_ORGANIZATION_KYC'))">@Messages(constants.File.UPLOAD_ORGANIZATION_IDENTIFICATION)</a></div>

    @component.master.commonHome(username = username, userType = constants.User.USER, address = address, coins = coins)
}