@import controllers.actions.LoginState
@import views.companion.master.AddOrUpdateUBOs
@import views.html.base._
@import helper._

@(userAddOrUpdateUBOsForm: Form[AddOrUpdateUBOs.Data] = AddOrUpdateUBOs.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.USER_ADD_OR_UPDATE_UBOS, userAddOrUpdateUBOsForm) {
    @defining(Option(constants.FormField.UBOS)) { implicit nestedUBOsFormField =>
        @repeatWithIndex(userAddOrUpdateUBOsForm(constants.FormField.UBOS.name), min = userAddOrUpdateUBOsForm(constants.FormField.UBOS.name).indexes.length + 1) { (uboSequentialFormField, i) =>
            @defining(Option(uboSequentialFormField)) { implicit uboSequentialField =>
                <div id='@Seq(constants.FormField.UBOS.name, i).mkString("_")'>
                    @commonInputText(userAddOrUpdateUBOsForm, constants.FormField.PERSON_NAME)
                    @commonInputDouble(userAddOrUpdateUBOsForm, constants.FormField.SHARE_PERCENTAGE)
                    @commonInputText(userAddOrUpdateUBOsForm, constants.FormField.RELATIONSHIP)
                    @commonInputText(userAddOrUpdateUBOsForm, constants.FormField.TITLE)
                    @commonJavascriptButton(constants.View.DELETE, JavaScript("""deleteElementBySource(this)"""), 'class -> "cmuk-button-link")
                </div>
            }
        }
    }
}