@import controllers.actions.LoginState
@import models.master.AccountKYC
@import views.html.base._

@(accountKYC: Option[AccountKYC],  documentType: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

<div class="centerText">
    <h4>@Messages(constants.View.PROVIDE_ID_PROOF)</h4>
</div>
<div class="centerText">
    <div id="@Seq(constants.View.UPLOAD, documentType).mkString("_")">
    @commonModalButton(Seq(Messages(constants.View.UPLOAD), Messages(documentType)).mkString(" "),routes.javascript.FileController.uploadAccountKYCForm,'parameters -> s"'${documentType}'")
    </div>
    @accountKYC match {
        case Some(file) => {
            @component.master.commonDocumentViewer(file) {
                @routes.FileController.getAccountKYCFile(file.fileName, file.documentType)
            } {
                <a href="@routes.FileController.getAccountKYCFile(file.fileName, file.documentType)">@Messages(file.documentType)</a>
            } {
                @commonModalButton(Seq(Messages(constants.View.UPDATE), Messages( file.documentType)).mkString(" "),routes.javascript.FileController.updateAccountKYCForm,'parameters -> s"'${file.documentType}'")
                <script>hideElement('@Seq(constants.View.UPLOAD, file.documentType).mkString("_")')</script>
            }
            @commonModalButton(constants.View.BACK, constants.Form. ADD_IDENTIFICATION.get)
            @commonFormButton(constants.Form.USER_REVIEW_IDENTIFICATION)
        }
        case None => {}
    }
</div>
