@import controllers.actions.LoginState
@import models.master.OrganizationKYC

@import views.html.base.commonModalButton
@(organizationKYCs: Seq[OrganizationKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

<div class="centerText">
    <h4>@Messages(constants.Form.ORGANIZATION_KYC_FILES)</h4>
    @for(documentType <- constants.File.ORGANIZATION_KYC_DOCUMENT_TYPES) {
        <div id="upload@documentType">
@*            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userUploadOrganizationKYCForm('@documentType'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>*@
            @commonModalButton(constants.Form.UPLOAD,routes.javascript.AddOrganizationController.userUploadOrganizationKYCForm,'parameters -> s"'${documentType}'")
        </div>
    }
    @for(organizationKYC <- organizationKYCs) {
        @component.master.commonDocumentViewer(organizationKYC) {
            @routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)
        } {
            <a href="@routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)" target="_blank">@Messages(organizationKYC.documentType)</a>
        } {
@*            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userUpdateOrganizationKYCForm('@organizationKYC.documentType'))">@Messages(constants.Form.UPDATE) @Messages(organizationKYC.documentType)</button>*@
            @commonModalButton(constants.Form.UPDATE,routes.javascript.AddOrganizationController.userUpdateOrganizationKYCForm,'parameters -> s"'${organizationKYC.documentType}'")
            <script>hideElement('upload@organizationKYC.documentType')</script>
        }
    }
</div>
@*<button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.addOrganizationForm())">@Messages(constants.View.BACK)</button>*@
@commonModalButton(constants.View.BACK,routes.javascript.AddOrganizationController.addOrganizationForm)
@if(constants.File.ORGANIZATION_KYC_DOCUMENT_TYPES.diff(organizationKYCs.map(_.documentType)).isEmpty) {
@*    <button type="button" class="cmuk-button cmuk-button-primary" id="getOrganizationKYCReviewForm" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userReviewAddOrganizationRequestForm())">@Messages(constants.Form.NEXT)</button>*@
    @commonModalButton(constants.Form.NEXT,routes.javascript.AddOrganizationController.userReviewAddOrganizationRequestForm)
}