@import controllers.actions.LoginState
@import models.master.{Zone, ZoneKYC}
@import play.api.Logger
@import views.companion.master.ReviewAddZoneRequest
@import views.html.base._

@(zoneCompletionForm: Form[ReviewAddZoneRequest.Data] = ReviewAddZoneRequest.form, zone: Zone, zoneKYCs: Seq[ZoneKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
@commonForm(constants.Form.REVIEW_ADD_ZONE_ON_COMPLETION, zoneCompletionForm) {
    <div>@Messages(constants.Form.ZONE_DETAILS):<br>
        <span class="red">@Messages(constants.View.NAME)</span>: @zone.name <br>
        <span class="red">@Messages(constants.Form.CURRENCY)</span>: @zone.currency <br>
        @Messages(constants.Form.ADDRESS): <br>
        <span class="red">@Messages(constants.FormField.ADDRESS_LINE_1.name)</span>: @zone.address.addressLine1 <br>
        <span class="red">@Messages(constants.FormField.ADDRESS_LINE_2.name)</span>: @zone.address.addressLine2 <br>
        <span class="red">@Messages(constants.FormField.LANDMARK.name)</span>: @zone.address.landmark.getOrElse("") <br>
        <span class="red">@Messages(constants.FormField.CITY.name)</span>: @zone.address.city <br>
        <span class="red">@Messages(constants.FormField.COUNTRY.name)</span>: @zone.address.country <br>
        <span class="red">@Messages(constants.FormField.ZIP_CODE.name)</span>: @zone.address.zipCode <br>
        <span class="red">@Messages(constants.Form.PHONE)</span>: @zone.address.phone
    </div>
    <br>
    <div id="zoneKYCs">@Messages(constants.Form.ZONE_KYC_FILES): <br>
        @for(zoneKYC <- zoneKYCs) {
            @component.master.commonDocumentViewer(zoneKYC) {
                @routes.FileController.userAccessedZoneKYCFile(zoneKYC.documentType)
            } {

            } {
                <span>@zoneKYC.documentType</span>
            }
        }
    </div>
    <br>
    @commonCheckbox(zoneCompletionForm, constants.FormField.COMPLETION)
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddZoneController.userUploadOrUpdateZoneKYCView())">@Messages(constants.View.BACK)</button>
}
