@import controllers.actions.LoginState
@import helper._
@import views.companion.master.AddUBOs
@import views.html.base._

@(addUBOsForm: Form[AddUBOs.Data] = AddUBOs.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.USER_UPDATE_UBOS, addUBOsForm) {
    @repeatWithIndex(addUBOsForm(constants.Form.UBOS), min = addUBOsForm(constants.Form.UBOS).indexes.length + 1) { (uboForm, i) =>
        @defining(Option(uboForm)) { implicit uboFormField =>
            <div id='@Seq(constants.Form.UBOS, i).mkString("_")'>
                @commonInputText(addUBOsForm, constants.FormField.PERSON_NAME)
                @commonInputDouble(addUBOsForm, constants.FormField.SHARE_PERCENTAGE)
                @commonInputText(addUBOsForm, constants.FormField.RELATIONSHIP)
                @commonInputText(addUBOsForm, constants.FormField.TITLE)
                <button type="button" class="cmuk-button cmuk-button-link" onclick="deleteElementBySource(this)">@Messages(constants.Form.DELETE)</button>
            </div>
        }

    }
}
<button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.addOrganizationForm())">@Messages(constants.Form.BACK)</button>
<button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.organizationBankAccountDetailForm())">@Messages(constants.Form.NEXT)</button>