@import controllers.actions.LoginState
@import models.master.{Zone, ZoneKYC}
@import play.api.Logger
@import views.companion.master.ReviewAddZoneRequest
@import views.html.base._

@import views.html.component.master.streetAddress
@(zoneCompletionForm: Form[ReviewAddZoneRequest.Data] = ReviewAddZoneRequest.form, zone: Zone, zoneKYCs: Seq[ZoneKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
    @commonForm(constants.Form.REVIEW_ADD_ZONE_ON_COMPLETION, zoneCompletionForm) {
        <div class="cmuk-text-left title">@Messages(constants.View.ZONE_DETAILS):</div>
        @commonTextInfo(constants.View.NAME, zone.name)
        @commonTextInfo(constants.View.CURRENCY, zone.currency)
        <div class="cmuk-text-left title">@Messages(constants.View.ADDRESS)</div>
        @streetAddress(zone.address)
        <div id="zoneKYCs">
            <div class="cmuk-text-left title">@Messages(constants.View.ZONE_KYC_FILES)</div>
            @for(zoneKYC <- zoneKYCs) {
                @component.master.commonDocumentViewer(zoneKYC) {
                    @routes.FileController.userAccessedZoneKYCFile(zoneKYC.documentType)
                } {

                } {
                    <span>@zoneKYC.documentType</span>
                }
            }
        </div>
        @commonInputPassword(zoneCompletionForm, constants.FormField.PASSWORD)
        @commonModalButton(constants.View.BACK, routes.javascript.AddZoneController.userUploadOrUpdateZoneKYCView)
    }
