@import controllers.actions.LoginState
@import models.master.AccountKYC

@(accountKYC: Option[AccountKYC],  documentType: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.ID_PROOF)
</legend>
<hr>
<div class="modal-info-block centerText">
    <div id="@Seq("upload", documentType).mkString("")">
        <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.FileController.uploadAccountKYCForm('@documentType'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>
    </div>
    @accountKYC match {
        case Some(file) => {
            @component.master.commonDocumentViewer(file) {
                @routes.FileController.getAccountKYCFile(file.fileName, file.documentType)
            } {
                <a href="@routes.FileController.getAccountKYCFile(file.fileName, file.documentType)">@Messages(file.documentType)</a>
            } {
                <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.FileController.updateAccountKYCForm('@file.documentType'))">@Messages(constants.Form.UPDATE) @Messages(file.documentType)</button>
                <script>hideElement('@Seq("upload", file.documentType).mkString("")')</script>
            }
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AccountController.identificationForm())">@Messages(constants.View.BACK)</button>
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AccountController.userReviewIdentificationForm())">@Messages(constants.Form.NEXT)</button>
        }
        case None => {}
    }
</div>
