@import controllers.actions.LoginState
@import models.master.OrganizationKYC

@(organizationKYCs: Seq[OrganizationKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<legend class="cmuk-legend">
    @Messages(constants.Form.ORGANIZATION_KYC_FILES)
</legend>
<hr>
<div class="modal-info-block centerText">
    @for(documentType <- constants.File.ORGANIZATION_KYC_DOCUMENT_TYPES) {
        <div id="upload@documentType">
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userUploadOrganizationKYCForm('@documentType'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>
        </div>
    }
    @for(organizationKYC <- organizationKYCs) {
        @component.master.commonDocumentViewer(organizationKYC) {
            @routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)
        } {
            <a href="@routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)" target="_blank">@Messages(organizationKYC.documentType)</a>
        } {
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userUpdateOrganizationKYCForm('@organizationKYC.documentType'))">@Messages(constants.Form.UPDATE) @Messages(organizationKYC.documentType)</button>
            <script>hideElement('upload@organizationKYC.documentType')</script>
        }
    }
<button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.addOrganizationForm())">@Messages(constants.View.BACK)</button>
@if(constants.File.ORGANIZATION_KYC_DOCUMENT_TYPES.diff(organizationKYCs.map(_.documentType)).isEmpty) {
    <button type="button" class="cmuk-button cmuk-button-primary" id="getOrganizationKYCReviewForm" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userReviewAddOrganizationRequestForm())">@Messages(constants.Form.NEXT)</button>
}
</div>