@import controllers.actions.LoginState
@import play.twirl.api.Html
@import views.html.component.master._
@import models.master.{Organization, OrganizationKYC, Trader, TraderKYC, Zone}
@import views.html.base._

@import models.master.Identification
@(organizationZone: Option[Zone] = None, organization: Option[Organization] = None, organizationKYCs: Seq[OrganizationKYC] = Seq(), traderZone: Option[Zone] = None, traderOrganization: Option[Organization] = None, trader: Option[Trader] = None, traderKYCs: Seq[TraderKYC] = Seq(), identification: Option[Identification] = None, accountStatus: String = "")(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, loginState: LoginState = null)
<div class="cmuk-width-expand@@m">
@loginState.userType match {
    case constants.User.ORGANIZATION => {
        @commonCard() {
            <div>
                <span>@Messages(constants.Form.ORGANIZATION_DETAILS)</span>
            </div>
        } {
            @viewOrganizationDetails(organizationZone = organizationZone.get, organization = organization.get, organizationKYCs = organizationKYCs)
        }
    }
    case constants.User.TRADER => {
        @commonCard() {
            <div>
                <span>@Messages(constants.Form.ORGANIZATION_DETAILS)</span>
            </div>
        } {
            @traderViewOrganizationDetails(organization = traderOrganization.get)
        }
    }
    case constants.User.USER => {
        @commonCard() {
            <div>
                <span>@Messages(constants.View.PENDING_REQUESTS)</span>
            </div>
        } {
            @if(identification.isDefined) {
                @if(accountStatus == constants.Status.Account.COMPLETE) {
                    @identification.get.verificationStatus match {
                        case Some(status) => {
                            @if(status) {
                                @if(organization.isDefined || trader.isDefined) {
                                    @defining(if(organization.isDefined) {
                                        (constants.View.PENDING_VERIFY_ORGANIZATION_REQUESTS, userViewOrganizationDetails(organizationZone = organizationZone.get, organization = organization.get, organizationKYCs = organizationKYCs), None)
                                    } else {
                                        ("", Html(""), None)
                                    }) { item1 =>
                                        @defining(if(trader.isDefined) {
                                            (constants.View.PENDING_TRADER_REQUESTS, userViewTraderDetails(trader.get, traderOrganization.get, traderKYCs), None)
                                        } else {
                                            ("", Html(""), None)
                                        }) { item2 =>
                                            @defining(Seq(item1, item2)) { items =>
                                                @commonHorizontalSwitcher(items)
                                            }
                                        }
                                    }
                                }
                                <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetACLController.addTraderForm())">@Messages(constants.Form.ADD_TRADER.legend)</button>
                            } else {
                                @Messages(constants.View.IDENTIFICATION_REJECTED)
                            }
                        }
                        case None => {
                            @Messages(constants.View.PENDING_IDENTIFICATION_VERIFICATION)
                        }
                    }
                } else {
                    @Messages(accountStatus) <br>
                }
            } else {
                @if(accountStatus != constants.Status.Account.COMPLETE) {
                    @Messages(accountStatus) <br>
                }
                @Messages(constants.Form.UPLOAD_IDENTIFICATION)
            }
        }
    }
    case _ => {
        @commonCard() {
            <div>
                <span>@Messages(constants.View.TO_BE_FILLED)</span>
            </div>
        } {
            TO_BE_FILLED
        }
    }
}
</div>