@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Organization, Trader}
@import views.html.component.master.commonDocumentViewer
@import models.master.TraderKYC

@(trader: Trader, organization: Organization, traderKYCs: Seq[TraderKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

<div>
   <div class="cmuk-text-left title"> <span>@Messages(constants.Form.TRADER_DETAILS)</span></div>
        @commonTextInfo(constants.Form.NAME, trader.name)
        @commonTextInfo(constants.Form.TRADER_ID, trader.id)
        @commonBooleanInfo(constants.Form.VERIFIED_STATUS, trader.verificationStatus)
</div>
<div>
    <div class="cmuk-text-left title"><span>@Messages(constants.Form.ORGANIZATION_DETAILS)</span></div>
        @commonTextInfo(constants.Form.ORGANIZATION_NAME, organization.name)
        @commonTextInfo(constants.Form.ABBREVIATION, organization.abbreviation.getOrElse(""))
        @commonTextInfo(constants.Form.ORGANIZATION_ID, organization.id)
        @commonTextInfo(constants.View.REGISTERED_ADDRESS, Seq(organization.registeredAddress.addressLine1, organization.registeredAddress.addressLine2, organization.registeredAddress.landmark.getOrElse(""), Seq(organization.registeredAddress.city, organization.registeredAddress.zipCode).mkString(" - "), organization.registeredAddress.country).mkString(",\n"))
        @commonTextInfo(constants.View.POSTAL_ADDRESS, Seq(organization.postalAddress.addressLine1, organization.postalAddress.addressLine2, organization.postalAddress.landmark.getOrElse(""), Seq(organization.postalAddress.city, organization.postalAddress.zipCode).mkString(" - "), organization.postalAddress.country).mkString(",\n"))
        @commonTextInfo(constants.Form.ORGANIZATION_ID, organization.id)
        @commonDateInfo(constants.Form.ESTABLISHMENT_DATE, organization.establishmentDate)
        @commonBooleanInfo(constants.Form.VERIFIED_STATUS, organization.verificationStatus)
</div>
<div>
    <div class="cmuk-text-left title"><span>@Messages(constants.View.TRADER_DOCUMENTS)</span></div>
    @for(traderKYC <- traderKYCs) {
        @commonDocumentViewer(traderKYC) {
            @routes.FileController.userAccessedTraderKYCFile(traderKYC.documentType)
        } {
            <a href="@routes.FileController.userAccessedTraderKYCFile(traderKYC.documentType)">@Messages(traderKYC.documentType)</a>
        } {
            @commonBooleanInfo(constants.View.ORGANIZATION_STATUS, traderKYC.organizationStatus)
            @commonBooleanInfo(constants.View.ZONE_STATUS, traderKYC.zoneStatus)
        }
    }
</div>
