@import controllers.actions.LoginState
@import models.master.Organization
@import views.html.base._

@(organization: Option[Organization])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.UBOS) {
    @organization match {
        case Some(organization) => {
            @if(organization.ubos.data.nonEmpty) {
                <button type="button" class="cmuk-button cmuk-button-small cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userAddUBOForm())">@Messages(constants.Form.USER_ADD_UBO.legend)</button>
            }
        }
        case _ => {}
    }
} {
    @organization match {
        case Some(organization) => {
            @if(organization.completionStatus) {
                @if(organization.ubos.data.isEmpty) {
                    <div class="cmuk-position-center">
                        <button type="button" class="cmuk-button cmuk-button-small cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userAddUBOForm())">@Messages(constants.Form.USER_ADD_UBO.legend)</button>
                    </div>
                } else {
                    @organization.ubos.data.map{ubo =>
                        @commonInfoBox(){
                            @commonTextInfo(constants.View.PERSON_NAME, ubo.personName)
                            @commonDoubleInfo(constants.View.SHARE_PERCENTAGE, ubo.sharePercentage)
                            @commonTextInfo(constants.View.RELATIONSHIP, ubo.relationship)
                            @commonTextInfo(constants.View.TITLE, ubo.title)
                            <button class="cmuk-button cmuk-button-link" onclick="getForm(jsRoutes.controllers.AddOrganizationController.userDeleteUBOForm('@ubo.personName', @ubo.sharePercentage, '@ubo.relationship', '@ubo.title'))">@Messages(constants.View.DELETE)</button>
                        }
                    }
                }
            } else {
                <div class="cmuk-position-center">
                    @Messages(constants.View.COMPLETE_ORGANIZATION_DETAILS_REQUEST)
                </div>
            }
        }
        case _ => {
            <div class="cmuk-position-center">
                @Messages(constants.View.FILL_ORGANIZATION_DETAILS)
            </div>
        }
    }
}