@import controllers.actions.LoginState
@import models.master.{Identification, Organization, OrganizationKYC, Trader, Zone}
@import views.html.base._
@import views.html.component.master._

@import scala.collection.immutable.ListMap

@(identification: Option[Identification], contactStatus: Seq[String], organizationZone: Option[Zone] = None, organization: Option[Organization] = None, organizationKYCs: Seq[OrganizationKYC] = Seq(), traderOrganization: Option[Organization] = None, trader: Option[Trader] = None)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.REQUEST) {
    @if(organization.isEmpty && trader.isDefined) {
        @commonFormButton(constants.Form.ADD_ORGANIZATION)
    }
    @if(trader.isEmpty && organization.isDefined) {
        @commonFormButton(constants.Form.ADD_TRADER)
    }
} {
    @if(trader.isEmpty && organization.isEmpty) {
        <div class="cmuk-position-center">
        @if(contactStatus.sameElements(Seq(constants.Status.Contact.MOBILE_NUMBER_VERIFIED, constants.Status.Contact.EMAIL_ADDRESS_VERIFIED))) {
            @commonFormButton(constants.Form.ADD_TRADER)
            <br>
                @identification match {
                    case Some(identification) => {
                        @if(identification.verificationStatus.getOrElse(false)) {
                            @commonFormButton(constants.Form.ADD_ORGANIZATION)
                        } else {
                            @Messages(constants.View.COMPLETE_ACCOUNT_KYC_NOTE)
                        }
                    }
                    case None => {
                        @Messages(constants.View.ORGANIZATION_COMPLETE_ACCOUNT_KYC_NOTE)
                    }
                }

            } else {
            @Messages(constants.View.UPDATE_AND_VERIFY_CONTACT_NOTE)
        }
        </div>
    } else {
        @if(trader.isDefined && organization.isDefined) {
            @trader match {
                case Some(trader) => {
                    @traderOrganization match {
                        case Some(traderOrganization) => {
                            @organization match {
                                case Some(organization) => {
                                    @organizationZone match {
                                        case Some(organizationZone) => {
                                            @commonHorizontalSwitcher(
                                                ListMap(
                                                    constants.View.PENDING_ORGANIZATION_REQUEST -> userViewOrganizationRequest(organizationZone = organizationZone, organization = organization, organizationKYCs = organizationKYCs),
                                                    constants.View.PENDING_TRADER_REQUEST -> userViewTraderRequest(trader, traderOrganization)
                                                )
                                            )
                                        }
                                        case None => {}
                                    }
                                }
                                case None => {}
                            }
                        }
                        case None => {}
                    }
                }
                case None => {}
            }
        } else {
            @if(trader.isDefined) {
                @trader match {
                    case Some(trader) => {
                        @traderOrganization match {
                            case Some(traderOrganization) => {
                                @commonHorizontalSwitcher(
                                    ListMap(constants.View.PENDING_TRADER_REQUESTS -> userViewTraderRequest(trader, traderOrganization))
                                )
                            }
                            case None => {}
                        }
                    }
                    case None => {}
                }
            }
            @if(organization.isDefined) {
                @organization match {
                    case Some(organization) => {
                        @organizationZone match {
                            case Some(organizationZone) => {
                                @commonHorizontalSwitcher(
                                    ListMap(constants.View.PENDING_VERIFY_ORGANIZATION_REQUESTS -> userViewOrganizationRequest(organizationZone = organizationZone, organization = organization, organizationKYCs = organizationKYCs))
                                )
                            }
                            case None => {}
                        }

                    }
                    case None => {}
                }
            }
        }

    }
}