@import helper._

@(documentType: String, uploadType: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

@component.master.fileUpload()
@uploadType match {
    case constants.File.UPLOAD_USER_ZONE_KYC => {
        <script>uploadFile('@documentType', '@constants.User.USER', '@constants.User.ZONE')</script>
    }
    case constants.File.UPLOAD_USER_ORGANIZATION_KYC => {
        <script>uploadFile('@documentType', '@constants.User.USER', '@constants.User.ORGANIZATION')</script>
    }
    case _ => {
        <script>uploadFile('@documentType', '@constants.User.USER')</script>
    }
}

