@import controllers.actions.LoginState
@import models.master.{Organization, Trader, TraderKYC, Zone}
@import play.api.Logger
@import views.companion.master.ReviewAddTraderRequest
@import views.html.base._
@import views.html.component.master.userViewTraderDetails

@(userReviewAddTraderRequestForm: Form[ReviewAddTraderRequest.Data] = ReviewAddTraderRequest.form, trader: Trader, organization: Organization, zone: Zone, traderKYCs: Seq[TraderKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
@commonForm(constants.Form.REVIEW_ADD_TRADER_ON_COMPLETION, userReviewAddTraderRequestForm) {
    @userViewTraderDetails(trader = trader, organization = organization, traderKYCs = traderKYCs)
    <br>
    @commonCheckbox(userReviewAddTraderRequestForm, constants.FormField.COMPLETION)
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetACLController.userUploadOrUpdateTraderKYCView())">@Messages(constants.Form.BACK)</button>
}
