@import controllers.actions.LoginState
@import models.master.AccountKYC
@import play.api.Logger
@import models.master.Identification
@import views.companion.master.UserReviewIdentification
@import views.html.base._

@(userReviewIdentificationForm: Form[UserReviewIdentification.Data] = UserReviewIdentification.form, identification: Identification, accountKYC: AccountKYC)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)

@commonForm(constants.Form.USER_REVIEW_IDENTIFICATION, userReviewIdentificationForm) {
    <div>
        @commonTextInfo(constants.Form.FIRST_NAME, identification.firstName)
        @commonTextInfo(constants.Form.LAST_NAME, identification.lastName)
        @commonTextInfo(constants.Form.DATE_OF_BIRTH, identification.dateOfBirth.toString)
        @commonTextInfo(constants.Form.ID_NUMBER, identification.idNumber)
        @commonTextInfo(constants.Form.ID_TYPE, identification.idType)
        @commonBooleanInfo(constants.View.STATUS, identification.verificationStatus)
        <div class="cmuk-text-left title">@Messages(constants.Form.ADDRESS)</div>
        @commonTextInfo(constants.FormField.ADDRESS_LINE_1.name, identification.address.addressLine1)
        @commonTextInfo(constants.FormField.ADDRESS_LINE_2.name, identification.address.addressLine2)
        @commonTextInfo(constants.FormField.LANDMARK.name, identification.address.landmark.getOrElse(""))
        @commonTextInfo(constants.FormField.CITY.name, identification.address.city)
        @commonTextInfo(constants.FormField.COUNTRY.name, identification.address.country)
        @commonTextInfo(constants.FormField.ZIP_CODE.name, identification.address.zipCode)
        @commonTextInfo(constants.Form.PHONE, identification.address.phone)
    </div>
    <br>
    <div>@Messages(constants.View.ID_PROOF): <br>
        @component.master.commonDocumentViewer(accountKYC) {
            @routes.FileController.getAccountKYCFile(accountKYC.fileName, accountKYC.documentType)
        } {
            <a href="@routes.FileController.getAccountKYCFile(accountKYC.fileName, accountKYC.documentType)">@Messages(accountKYC.documentType)</a>
        } {

        }
    </div>
    @commonCheckbox(userReviewIdentificationForm, constants.FormField.COMPLETION)
    <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AccountController.userViewUploadOrUpdateIdentification())">@Messages(constants.View.BACK)</button>
}