@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization
@import models.master.Zone
@import models.master.OrganizationKYC
@import views.html.component.master.commonDocumentViewer

@import views.html.component.master.streetAddress
@(organizationZone: Zone, organization: Organization, organizationKYCs: Seq[OrganizationKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

    <div class="info-block-item">
    @commonInfoBox() {
        <div class="title cmuk-text-left"> <span>@Messages(constants.Form.ZONE_DETAILS)</span></div>
        @commonTextInfo(constants.View.ZONE_NAME, organizationZone.name)
        @commonTextInfo(constants.Form.CURRENCY, organizationZone.currency)
        @commonTextInfo(constants.Form.ZONE_ID, organizationZone.id)
    }
    @commonInfoBox() {
        <div class="title cmuk-text-left"> <span>@Messages(constants.Form.ORGANIZATION_DETAILS)</span></div>
        @commonTextInfo(constants.Form.ORGANIZATION_NAME, organization.name)
        @commonTextInfo(constants.Form.ABBREVIATION, organization.abbreviation.getOrElse(""))
        @commonTextInfo(constants.View.ORGANIZATION_ID, organization.id)
        @commonDateInfo(constants.Form.ESTABLISHMENT_DATE, organization.establishmentDate)
        @commonBooleanInfo(constants.Form.VERIFIED_STATUS, organization.verificationStatus)
    }
    @commonInfoBox() {
        <div class="title cmuk-text-left">@Messages(constants.View.REGISTERED_ADDRESS)</div>
        @streetAddress(organization.registeredAddress)
    }
    </div>
    <div class="info-block-item">
    @commonInfoBox() {
        <div class="title cmuk-text-left">@Messages(constants.View.POSTAL_ADDRESS)</div>
        @streetAddress(organization.postalAddress)
    }
    @commonInfoBox() {
        <div class="title cmuk-text-left">@Messages(constants.View.ORGANIZATION_DOCUMENTS)</div>
        @for(organizationKYC <- organizationKYCs) {
            @commonDocumentViewer(organizationKYC) {
                @routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)
            } {
                <a href="@routes.FileController.userAccessedOrganizationKYCFile(organizationKYC.documentType)">@Messages(organizationKYC.documentType)</a>
            } {
                @commonBooleanInfo(constants.View.STATUS, organizationKYC.status)
            }
        }
    }
    </div>