@import controllers.actions.LoginState
@import models.master.Organization
@import views.html.base._

@import models.master.OrganizationUBO
@(organization: Option[Organization], ubos: Seq[OrganizationUBO])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.UBOS) {
    @organization match {
        case Some(organization) => {
            @if(ubos.nonEmpty) {
                @commonFormButton(constants.Form.USER_ADD_UBO)
            }
        }
        case _ => {}
    }
} {
    @organization match {
        case Some(organization) => {
            @if(organization.completionStatus) {
                @if(ubos.isEmpty) {
                    <div class="cmuk-position-center">
                        @commonFormButton(constants.Form.USER_ADD_UBO)
                    </div>
                } else {
                    @ubos.map{ubo =>
                        @commonInfoBox(){
                            @commonTextInfo(constants.View.PERSON_FIRST_NAME, ubo.firstName)
                            @commonTextInfo(constants.View.PERSON_LAST_NAME, ubo.lastName)
                            @commonDoubleInfo(constants.View.SHARE_PERCENTAGE, ubo.sharePercentage)
                            @commonTextInfo(constants.View.RELATIONSHIP, ubo.relationship)
                            @commonTextInfo(constants.View.TITLE, ubo.title)
                            @commonFormButton(constants.Form.USER_DELETE_UBO,'parameters -> s"'${ubo.id}'",'class -> "cmuk-button-link")
                        }
                    }
                }
            } else {
                <div class="cmuk-position-center secondaryFont">
                    @Messages(constants.View.COMPLETE_ORGANIZATION_DETAILS_REQUEST)
                </div>
            }
        }
        case _ => {
            <div class="cmuk-position-center secondaryFont">
                @Messages(constants.View.FILL_ORGANIZATION_DETAILS)
            </div>
        }
    }
}