@import controllers.actions.LoginState
@import models.master.ZoneKYC

@import views.html.base._
@(zoneKYCs: Seq[ZoneKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.Form.ZONE_KYC_FILES)
</legend>
<hr>
<div class="modal-info-block centerText">
    @for(documentType <- constants.File.ZONE_KYC_DOCUMENT_TYPES) {
        <div id="upload@documentType">
            @commonModalButton(Seq(Messages(constants.Form.UPLOAD), Messages(documentType)).mkString(" "),routes.javascript.AddZoneController.userUploadZoneKYCForm,'parameters -> s"'${documentType}'")
        </div>
    }
    @for(zoneKYC <- zoneKYCs) {
        @component.master.commonDocumentViewer(zoneKYC) {
            @routes.FileController.userAccessedZoneKYCFile(zoneKYC.documentType)
        } {
            <a href="@routes.FileController.userAccessedZoneKYCFile(zoneKYC.documentType)" target="_blank">@Messages(zoneKYC.documentType)</a>
        } {
            @commonModalButton(Seq(Messages(constants.Form.UPDATE), Messages( zoneKYC.documentType)).mkString(" "),routes.javascript.AddZoneController.userUpdateZoneKYCForm,'parameters -> s"'${zoneKYC.documentType}'")
            <script>hideElement('upload@zoneKYC.documentType')</script>
        }
    }
@commonModalButton(constants.View.BACK, constants.Form.ADD_ZONE.get)
@if(constants.File.ZONE_KYC_DOCUMENT_TYPES.diff(zoneKYCs.map(_.documentType)).isEmpty) {
    @commonFormButton(constants.Form.REVIEW_ADD_ZONE_ON_COMPLETION)
}
</div>