@import controllers.actions.LoginState
@import models.master.TraderKYC

@import views.html.base.commonModalButton
@import views.html.base.commonFormButton
@(traderKYCs: Seq[TraderKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="centerText">
    <h4>@Messages(constants.Form.TRADER_KYC_FILES)</h4>
    @for(documentType <- constants.File.TRADER_KYC_DOCUMENT_TYPES) {
        <div id="upload@documentType">
@*            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetACLController.userUploadTraderKYCForm('@documentType'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>*@
            @commonModalButton(constants.Form.UPLOAD + " " + documentType,routes.javascript.SetACLController.userUploadTraderKYCForm,'parameters -> s"'${documentType}'")
        </div>
    }
    @for(traderKYC <- traderKYCs) {
        @component.master.commonDocumentViewer(traderKYC) {
            @routes.FileController.userAccessedTraderKYCFile(traderKYC.documentType)
        } {
            <a href="@routes.FileController.userAccessedTraderKYCFile(traderKYC.documentType)" target="_blank">@Messages(traderKYC.documentType)</a>
        } {
@*            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetACLController.userUpdateTraderKYCForm('@traderKYC.documentType'))">@Messages(constants.Form.UPDATE) @Messages(traderKYC.documentType)</button>*@
            @commonModalButton(constants.Form.UPDATE + " "+traderKYC.documentType,routes.javascript.SetACLController.userUpdateTraderKYCForm,'parameters -> s"'${traderKYC.documentType}'")
            <script>hideElement('upload@traderKYC.documentType')</script>
        }
    }
</div>
@*<button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetACLController.addTraderForm())">@Messages(constants.View.BACK)</button>*@
@commonModalButton(constants.View.BACK,routes.javascript.SetACLController.addTraderForm)

@if(constants.File.TRADER_KYC_DOCUMENT_TYPES.diff(traderKYCs.map(_.documentType)).isEmpty) {
@*    <button type="button" class="cmuk-button cmuk-button-primary" id="getTraderKYCReviewForm" onclick="getForm(jsRoutes.controllers.SetACLController.userReviewAddTraderRequestForm())">@Messages(constants.Form.NEXT)</button>*@
    @commonFormButton(constants.Form.REVIEW_ADD_TRADER_ON_COMPLETION)
}