@import helper._
@import views.companion.master.VerifyZone

@(verifyZoneForm: Form[VerifyZone.Data], zoneID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Form.VERIFY_ZONE)) {
    @form(action = routes.AddZoneController.verifyZone) {
        @CSRF.formField
        @inputText(verifyZoneForm(constants.Form.ZONE_ID).copy(value = Some(zoneID)),'_label-> Messages(constants.Form.ZONE_ID))
        @inputPassword(verifyZoneForm(constants.Form.PASSWORD),'_label-> Messages(constants.Form.PASSWORD))
        @if(verifyZoneForm.hasGlobalErrors) {
            <ul>
            @for(error <- verifyZoneForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Form.VERIFY_ZONE)</button>
    }
}