@import helper._
@import views.companion.master.VerifyEmailAddress

@(verifyEmailAddressForm: Form[VerifyEmailAddress.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages(constants.Form.VERIFY_EMAIL_ADDRESS)) {
        @form(action = routes.VerifyEmailAddressController.verifyEmailAddress) {
            @CSRF.formField
            @inputText(verifyEmailAddressForm(constants.Form.OTP),'_label-> Messages(constants.Form.OTP))

            @if(verifyEmailAddressForm.hasGlobalErrors) {
                <ul>
                @for(error <- verifyEmailAddressForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="submit">@Messages(constants.Form.VERIFY_EMAIL_ADDRESS)</button>
        }
    }