@import helper._
@import views.companion.master.VerifyOrganization

@(verifyOrganizationForm: Form[VerifyOrganization.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages(constants.Forms.VerifyOrganization)) {
    @form(action = routes.AddOrganizationController.verifyOrganization) {
        @CSRF.formField
        @inputText(verifyOrganizationForm(constants.Forms.id),'_label-> Messages(constants.Forms.id))
        @inputPassword(verifyOrganizationForm(constants.Forms.password),'_label-> Messages(constants.Forms.password))

        @if(verifyOrganizationForm.hasGlobalErrors) {
            <ul>
            @for(error <- verifyOrganizationForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages(constants.Forms.VerifyOrganization)</button>
    }
}