@import controllers.actions.LoginState
@import models.master.Organization
@import play.api.Logger
@import play.api.libs.json.Json

@(organizationVerificationRequests: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
@for(organizationVerificationRequest <- organizationVerificationRequests) {
    <div class="col-md-4">
        <br>
        <div class="card-body lightBlue documenet_details_card">
            <div>@Messages(constants.Form.ORGANIZATION_DETAILS): <br>
            <span class="red">@Messages(constants.Form.ORGANIZATION_ID)</span>: @organizationVerificationRequest.id <br>
            <span class="red">@Messages(constants.Form.ZONE_ID)</span>: @organizationVerificationRequest.zoneID <br>
            <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span>: @organizationVerificationRequest.accountID <br>
            <span class="red">@Messages(constants.Form.NAME)</span>: @organizationVerificationRequest.name <br>
            <span class="red">@Messages(constants.Form.ABBREVIATION)</span>: @organizationVerificationRequest.abbreviation.getOrElse("") <br>
            <span class="red">@Messages(constants.Form.ESTABLISHMENT_DATE)</span>: @organizationVerificationRequest.establishmentDate <br>
            <span class="red">@Messages(constants.Form.EMAIL)</span>: @organizationVerificationRequest.email <br>
            </div>
            <br>
                <div>@Messages(constants.Form.REGISTERED_ADDRESS) : <br>
                <span class="red">@Messages(constants.Form.ADDRESS_LINE_1)</span>: @organizationVerificationRequest.registeredAddress.addressLine1 <br>
                <span class="red">@Messages(constants.Form.ADDRESS_LINE_2)</span>: @organizationVerificationRequest.registeredAddress.addressLine2 <br>
                <span class="red">@Messages(constants.Form.LANDMARK)</span>: @organizationVerificationRequest.registeredAddress.landmark.getOrElse("") <br>
                <span class="red">@Messages(constants.Form.CITY)</span>: @organizationVerificationRequest.registeredAddress.city <br>
                <span class="red">@Messages(constants.Form.COUNTRY)</span>: @organizationVerificationRequest.registeredAddress.country <br>
                <span class="red">@Messages(constants.Form.ZIP_CODE)</span>: @organizationVerificationRequest.registeredAddress.zipCode <br>
                <span class="red">@Messages(constants.Form.PHONE)</span>: @organizationVerificationRequest.registeredAddress.phone
                  <br>
                </div>
            <br>
                <div>@Messages(constants.Form.POSTAL_ADDRESS) : <br>
                <span class="red">@Messages(constants.Form.ADDRESS_LINE_1)</span>: @organizationVerificationRequest.postalAddress.addressLine1 <br>
                <span class="red">@Messages(constants.Form.ADDRESS_LINE_2)</span>: @organizationVerificationRequest.postalAddress.addressLine2 <br>
                <span class="red">@Messages(constants.Form.LANDMARK)</span>: @organizationVerificationRequest.postalAddress.landmark.getOrElse("") <br>
                <span class="red">@Messages(constants.Form.CITY)</span>: @organizationVerificationRequest.postalAddress.city <br>
                <span class="red">@Messages(constants.Form.COUNTRY)</span>: @organizationVerificationRequest.postalAddress.country <br>
                <span class="red">@Messages(constants.Form.ZIP_CODE)</span>: @organizationVerificationRequest.postalAddress.zipCode <br>
                <span class="red">@Messages(constants.Form.PHONE)</span>: @organizationVerificationRequest.postalAddress.phone
                  <br>
                </div>
            <br>
                <div>@Messages(constants.Form.ORGANIZATION_UBO_DETAIL): <br>
                    @for(ubo <- organizationVerificationRequest.ubos.data) {
                        <span class="red">@Messages(constants.Form.PERSON_NAME)</span>: @ubo.personName <br>
                        <span class="red">@Messages(constants.Form.SHARE_PERCENTAGE)</span>: @ubo.sharePercentage <br>
                        <span class="red">@Messages(constants.Form.RELATIONSHIP)</span>: @ubo.relationship <br>
                        <span class="red">@Messages(constants.Form.TITLE)</span>: @ubo.title <br>
                        }
                </div>
            <br>
            <div>@Messages(constants.Form.ORGANIZATION_BANK_ACCOUNT_DETAIL): <br>
            <div id = "organizationBankAccountDetail@organizationVerificationRequest.accountID">
                <script>componentResource('organizationBankAccountDetail@organizationVerificationRequest.accountID', jsRoutes.controllers.AddOrganizationController.viewOrganizationVerificationBankAccountDetail('@organizationVerificationRequest.id'))</script>
            </div>
            </div>
            <br>
            <div> @Messages(constants.Form.DOCUMENTS): <br>
            <div id = "kycDocuments@organizationVerificationRequest.accountID">
                <script>componentResource('kycDocuments@organizationVerificationRequest.accountID', jsRoutes.controllers.AddOrganizationController.viewKycDocuments('@organizationVerificationRequest.id'))</script>
            </div>
            </div>
            <br>
            <div class="final_verify_buttons">
              <button class="cmuk-button cmuk-button-success cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.verifyOrganizationForm('@organizationVerificationRequest.id', '@organizationVerificationRequest.zoneID'))">@Messages(constants.Form.APPROVE)</button>
              <button class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.rejectVerifyOrganizationRequestForm('@organizationVerificationRequest.id'))">@Messages(constants.Form.REJECT)</button>
            </div>
            <br>
        </div>
    </div>
    <br>
}


