@import models.master.Trader

@(traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

@for(trader <- traders) {
    <div class="flexItem box secondBox leftText lightBlue">
        <span class="red">@Messages(constants.Form.ID)</span> :@trader.id <br>
        <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span> :@trader.accountID <br>
        <span class="red">@Messages(constants.Form.NAME)</span> :@trader.name <br>
        @*        <button class="approve" onclick="getForm(jsRoutes.controllers.IssueAssetController.issueAssetForm('@issueAssetRequest.id', '@issueAssetRequest.accountID', '@issueAssetRequest.documentHash', '@issueAssetRequest.assetType', @issueAssetRequest.assetPrice, '@issueAssetRequest.quantityUnit', @issueAssetRequest.assetQuantity))">@Messages(constants.Form.APPROVE)</button> <button class="reject" onclick="getForm(jsRoutes.controllers.IssueAssetController.rejectIssueAssetRequestForm('@issueAssetRequest.id'))">@Messages(constants.Form.REJECT)</button>*@
    </div>
}
