@import models.master.Organization

@(organizationVerificationRequests: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)
<script src="@routes.Assets.versioned("javascripts/kycVerification.js")" type="text/javascript"></script>
<table>
    <tr>
        <th>@Messages(constants.Form.ORGANIZATION_ID)</th>
        <th>@Messages(constants.Form.ZONE_ID)</th>
        <th>@Messages(constants.Form.ACCOUNT_ID)</th>
        <th>@Messages(constants.Form.NAME)</th>
        <th>@Messages(constants.Form.ADDRESS)</th>
        <th>@Messages(constants.Form.PHONE)</th>
        <th>@Messages(constants.Form.EMAIL)</th>
        <th>@Messages(constants.Form.DOCUMENTS)</th>
        <th>@Messages(constants.Form.STATUS)</th>

    </tr>
    @for(organizationVerificationRequest <- organizationVerificationRequests) {
        <tr>
            <td>@organizationVerificationRequest.id</td>
            <td>@organizationVerificationRequest.zoneID</td>
            <td>@organizationVerificationRequest.accountID</td>
            <td>@organizationVerificationRequest.name</td>
            <td>@organizationVerificationRequest.address</td>
            <td>@organizationVerificationRequest.phone</td>
            <td>@organizationVerificationRequest.email</td>
            <td id = "kycDocuments@organizationVerificationRequest.accountID"><script>getOrganizationKycFilesToZone("@organizationVerificationRequest.accountID")</script></td>
            <td><button class="approve" onclick="getForm(jsRoutes.controllers.AddOrganizationController.verifyOrganizationForm('@organizationVerificationRequest.id', '@organizationVerificationRequest.zoneID'))">@Messages(constants.Form.APPROVE)</button> <button class="reject" onclick="getForm(jsRoutes.controllers.AddOrganizationController.rejectVerifyOrganizationRequestForm('@organizationVerificationRequest.id'))">@Messages(constants.Form.REJECT)</button></td>
        </tr>
    }
</table>

