@import controllers.actions.LoginState
@import models.master.Organization
@import play.api.Logger
@import views.html.base._
@import views.html.component.master.streetAddress

@(organizationVerificationRequests: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
        @if(organizationVerificationRequests.isEmpty){
            <span>@Messages(constants.View.NO_REQUESTS_FOUND)</span>
        }
        @for(organizationVerificationRequest <- organizationVerificationRequests) {
            <div>
            @commonCard() {
                @organizationVerificationRequest.id
            } {
                <div>@Messages(constants.Form.ORGANIZATION_DETAILS): <br>
                    @commonTextInfo(constants.Form.ORGANIZATION_ID, organizationVerificationRequest.id)
                    @commonTextInfo(constants.Form.ZONE_ID, organizationVerificationRequest.zoneID)
                    @commonTextInfo(constants.Form.ACCOUNT_ID, organizationVerificationRequest.accountID)
                    @commonTextInfo(constants.Form.NAME, organizationVerificationRequest.name)
                    @commonTextInfo(constants.Form.ABBREVIATION, organizationVerificationRequest.abbreviation.getOrElse(""))
                    @commonTextInfo(constants.Form.ESTABLISHMENT_DATE, organizationVerificationRequest.establishmentDate.toString)
                    @commonTextInfo(constants.Form.EMAIL, organizationVerificationRequest.email)
                </div>
                <div>@Messages(constants.FormField.REGISTERED_ADDRESS.name) : <br>
                    @streetAddress(organizationVerificationRequest.registeredAddress)
                </div>
                <div>@Messages(constants.FormField.POSTAL_ADDRESS.name) : <br>
                    @streetAddress(organizationVerificationRequest.postalAddress)
                </div>
                <div>@Messages(constants.Form.ORGANIZATION_UBO_DETAIL): <br>
                    @for(ubo <- organizationVerificationRequest.ubos.data) {
                        @commonTextInfo(constants.Form.PERSON_NAME, ubo.personName)
                        @commonTextInfo(constants.Form.SHARE_PERCENTAGE, ubo.sharePercentage.toString)
                        @commonTextInfo(constants.Form.RELATIONSHIP, ubo.relationship)
                        @commonTextInfo(constants.Form.TITLE, ubo.title)
                    }
                </div>
                <br>
                @Messages(constants.Form.DOCUMENTS): <br>
                <div id = "organizationKYCDocuments@organizationVerificationRequest.accountID" class="kycDocumentsView">
                    <script>componentResource('organizationKYCDocuments@organizationVerificationRequest.accountID', jsRoutes.controllers.AddOrganizationController.viewKYCDocuments('@organizationVerificationRequest.id'))</script>
                </div>
                <br>
                <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.verifyOrganizationForm('@organizationVerificationRequest.id', '@organizationVerificationRequest.zoneID'))">@Messages(constants.Form.APPROVE)</button>
                <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.rejectVerifyOrganizationRequestForm('@organizationVerificationRequest.id'))">@Messages(constants.Form.REJECT)</button>
                <br>
                }
            </div>
        }
    </div>
</div>


