@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization

@(organizations: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match">
        @if(organizations.length == 0){
            <spa>No Organizations</spa>
        }
    @for(organization <- organizations) {
        @commonCard() {
            @organization.id
        }{
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.ID)</div>
                <div class="infoRowValue">@organization.id</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.ACCOUNT_ID)</div>
                <div class="infoRowValue">@organization.accountID</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.NAME)</div>
                <div class="infoRowValue">@organization.name</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.ESTABLISHMENT_DATE)</div>
                <div class="infoRowValue">@organization.establishmentDate</div>
            </div>
            <div class="cmuk-flex infoRow">
                <div class="infoRowLabel red">@Messages(constants.Form.EMAIL)</div>
                <div class="infoRowValue">@organization.email</div>
            </div>
            <div>
                <div>
                    <h4 class="showHide toggleElement centerText" onclick="fetchOrShowHide('@organization.id', jsRoutes.controllers.SetACLController.viewTradersInOrganizationForGenesis('@organization.id'), this)">@Messages(constants.Form.TRADERS)</h4>
                </div>
                <div id="@organization.id" class="flexContainer scrollableThird"></div>
            </div>
         }
    }
</div>
</div>