@import models.masterTransaction.IssueFiatRequest

@(issueFiatRequests: Seq[IssueFiatRequest])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

@common(Messages(constants.Forms.PENDING_ISSUE_FIAT_REQUESTS)) {

    <table>
        <tr>
            <th>@Messages(constants.Forms.ID)</th>
            <th>@Messages(constants.Forms.ACCOUNT_ID)</th>
            <th>@Messages(constants.Forms.TRANSACTION_ID)</th>
            <th>@Messages(constants.Forms.TRANSACTION_AMOUNT)</th>
            <th>@Messages(constants.Forms.STATUS)</th>
        </tr>
        @for(issueFiatRequest <- issueFiatRequests) {
            <tr>
                <td><a href="@routes.IssueFiatController.issueFiatForm(issueFiatRequest.accountID, issueFiatRequest.transactionID, issueFiatRequest.transactionAmount)">@issueFiatRequest.id</a></td>
                <td>@issueFiatRequest.accountID</td>
                <td>@issueFiatRequest.transactionID</td>
                <td>@issueFiatRequest.transactionAmount</td>
                <td>@issueFiatRequest.status</td>
            </tr>
        }
    </table>
    <br>
}