@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile
@import models.common.Serializable
@import models.Abstract.AssetDocumentContent
@(documentType:String, documentContent: Option[AssetDocumentContent])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@documentContent match {
    case Some(content)=> {
        @documentType match {
            case constants.File.Asset.BILL_OF_LADING => {
                @Messages(constants.File.Asset.BILL_OF_LADING) :
                @defining(content.asInstanceOf[Serializable.OBL]){oblDetails=>
                    @commonTextInfo(constants.Form.BILL_OF_LADING_NUMBER, oblDetails.billOfLadingID)
                    @commonTextInfo(constants.Form.PORT_OF_LOADING, oblDetails.portOfLoading)
                    @commonTextInfo(constants.Form.SHIPPER_NAME, oblDetails.shipperName)
                    @commonTextInfo(constants.Form.SHIPPER_ADDRESS, oblDetails.shipperAddress)
                    @commonTextInfo(constants.Form.NOTIFY_PARTY_NAME, oblDetails.notifyPartyName)
                    @commonTextInfo(constants.Form.NOTIFY_PARTY_ADDRESS, oblDetails.notifyPartyAddress)
                    @commonDateInfo(constants.Form.SHIPMENT_DATE, oblDetails.dateOfShipping)
                    @commonTextInfo(constants.Form.DELIVERY_TERM, oblDetails.deliveryTerm)
                    @commonIntInfo(constants.Form.ASSET_QUANTITY, oblDetails.weightOfConsignment)
                    @commonIntInfo(constants.Form.ASSET_PRICE, oblDetails.declaredAssetValue)

                }
            }
            case _ => {}
        }
    }
    case None=>{@Messages(constants.View.CONTENT_NOT_FOUND)}
}
