@import controllers.actions.LoginState
@import models.master.OrganizationKYC

@(organizationKYCs: Seq[OrganizationKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@for(organizationKYC <- organizationKYCs) {
    @component.master.commonDocumentViewer(organizationKYC) {
        @routes.FileController.zoneAccessedOrganizationKYCFile(organizationKYC.id, organizationKYC.fileName, organizationKYC.documentType)
    } {
        <a href="@routes.FileController.zoneAccessedOrganizationKYCFile(organizationKYC.id, organizationKYC.fileName, organizationKYC.documentType)">@Messages(organizationKYC.documentType)</a>
    } {
        <span class="red">@Messages(constants.Form.STATUS):
            @if(organizationKYC.status.getOrElse(false)) {
                <span><img class="status" src="@routes.Assets.versioned("images/success.jpg")"></span>
            } else {
                <span><img class="status" src="@routes.Assets.versioned("images/unverified.png")"></span>
            }
            <button class="cmuk-button cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.changeOrganizationKYCDocumentStatusForm('@organizationKYC.id', '@organizationKYC.documentType'))">@Messages(constants.Form.CHANGE_STATUS)</button>
        </span>
    }
}