@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile
@import models.common.Serializable
@import models.Abstract.NegotiationDocumentContent
@(documentType:String, documentContent: Option[NegotiationDocumentContent])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@documentContent match {
    case Some(content)=> {
        @documentType match {
            case constants.File.INVOICE => {
                @Messages(constants.File.INVOICE) :
                @defining(content.asInstanceOf[Serializable.Invoice]){invoiceDetails=>
                    @commonTextInfo(constants.View.INVOICE_NUMBER, invoiceDetails.invoiceNumber)
                    @commonDateInfo(constants.View.INVOICE_DATE, invoiceDetails.invoiceDate)
                }
            }
            case constants.File.CONTRACT =>{
                @Messages(constants.File.CONTRACT) :
                @defining(content.asInstanceOf[Serializable.Contract]){contractDetails=>
                    @commonTextInfo(constants.View.CONTRACT_NUMBER, contractDetails.contractNumber)
                }
            }
            case _ => {}
        }
    }
    case None=>{@Messages(constants.View.CONTENT_NOT_FOUND)}
}
