@import controllers.actions.LoginState
@import models.master.AccountKYC
@import views.html.base._
@import models.master.Identification
@import scala.collection.immutable.ListMap

@(identification: Option[Identification], accountKYC: Option[AccountKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.ID_PROOF, 'cardIconPath -> "images/icons/icons.svg#icon-kycproofs") {
    @identification match {
        case Some(identification) => {
            @if(!identification.completionStatus) {
                <button type="button" class="cmuk-button cmuk-button-primary cmuk-button-small" onclick="getForm(jsRoutes.controllers.AccountController.identificationForm())">@Messages(constants.Form.IDENTIFICATION.legend)</button>
            }
        }
        case _ => {}
    }
} {
    @identification match {
        case Some(identification) => {
            @commonHorizontalSwitcher(ListMap(
                constants.View.DETAILS -> views.html.component.master.identificationInformation(identification),
                constants.View.DOCUMENTS -> views.html.component.master.identificationDocuments(accountKYC))
            )
        }
        case None => {
            <div class="cmuk-position-center">
                @commonFormButton(constants.Form.IDENTIFICATION)
            </div>
        }
    }
}
