@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization

@(organizations: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match">
        @if(organizations.length == 0){
            <spa>No Organizations</spa>
        }
    @for(organization <- organizations) {
        @commonCard(organization.id) {
        }{
            @commonTextInfo(constants.Form.ID, organization.id)
            @commonTextInfo(constants.Form.ACCOUNT_ID, organization.accountID)
            @commonTextInfo(constants.Form.NAME, organization.name)
            @commonDateInfo(constants.Form.ESTABLISHMENT_DATE, organization.establishmentDate)
            @commonTextInfo(constants.Form.EMAIL, organization.email)
            <div>
                <div>
                    <h4 class="showHide toggleElement centerText" onclick="fetchOrShowHide('@organization.id', jsRoutes.controllers.SetACLController.viewTradersInOrganizationForGenesis('@organization.id'), this)">@Messages(constants.Form.TRADERS)</h4>
                </div>
                <div id="@organization.id" class="flexContainer scrollableThird"></div>
            </div>
         }
    }
</div>
</div>