@import models.masterTransaction.IssueAssetRequest

@(issueAssetRequests: Seq[IssueAssetRequest])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration)

@common(Messages(constants.Forms.PENDING_ISSUE_ASSET_REQUESTS)) {
    <table>
        <tr>
            <th>@Messages(constants.Forms.ID)</th>
            <th>@Messages(constants.Forms.ACCOUNT_ID)</th>
            <th>@Messages(constants.Forms.DOCUMENT_HASH)</th>
            <th>@Messages(constants.Forms.ASSET_TYPE)</th>
            <th>@Messages(constants.Forms.ASSET_QUANTITY)</th>
            <th>@Messages(constants.Forms.ASSET_PRICE)</th>
            <th>@Messages(constants.Forms.QUANTITY_UNIT)</th>
            <th>@Messages(constants.Forms.STATUS)</th>

        </tr>
        @for(issueAssetRequest <- issueAssetRequests) {
            <tr>
                <td><a href="@routes.IssueAssetController.issueAssetForm(issueAssetRequest.accountID, issueAssetRequest.documentHash, issueAssetRequest.assetType, issueAssetRequest.assetPrice, issueAssetRequest.quantityUnit, issueAssetRequest.assetQuantity)">@issueAssetRequest.id</a></td>
                <td>@issueAssetRequest.accountID</td>
                <td>@issueAssetRequest.documentHash</td>
                <td>@issueAssetRequest.assetType</td>
                <td>@issueAssetRequest.assetQuantity</td>
                <td>@issueAssetRequest.assetPrice</td>
                <td>@issueAssetRequest.quantityUnit</td>
                <td>@issueAssetRequest.status</td>
            </tr>
        }
    </table>
    <br>
}