@import controllers.actions.LoginState
@import models.master.Zone
@import views.html.base._

@(zoneVerificationRequests: Seq[Zone])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
        @for(zoneVerificationRequest <- zoneVerificationRequests) {
            @commonCard() {
                @zoneVerificationRequest.id
            } {
                <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span>: @zoneVerificationRequest.accountID <br>
                <span class="red">@Messages(constants.Form.NAME)</span>: @zoneVerificationRequest.name <br>
                <span class="red">@Messages(constants.Form.CURRENCY)</span>: @zoneVerificationRequest.currency <br>
                <span class="red">@Messages(constants.Form.DOCUMENTS)</span>:
                <span id = '@Seq("kycDocuments", zoneVerificationRequest.accountID).mkString("")'>
                    <script>componentResource('kycDocuments@zoneVerificationRequest.accountID', jsRoutes.controllers.AddZoneController.viewKYCDocuments('@zoneVerificationRequest.id'))</script>
                </span>
                <br>
                <button class="cmuk-button cmuk-button-success cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddZoneController.verifyZoneForm('@zoneVerificationRequest.id'))">@Messages(constants.Form.APPROVE)</button>
                <button class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddZoneController.rejectVerifyZoneRequestForm('@zoneVerificationRequest.id'))">@Messages(constants.Form.REJECT)</button>
            }
        }
    </div>
</div>