@import controllers.actions.LoginState
@import models.master.Trader
@import views.html.base._
@(traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
        @if(traders.length == 0){
            <span>No Traders</span>
        }
    @for(trader <- traders) {
        <div>
        @commonCard(trader.id) {
        } {
            @commonTextInfo(constants.Form.ID, trader.id)
            @commonTextInfo(constants.Form.ACCOUNT_ID, trader.accountID)
            @commonTextInfo(constants.Form.NAME, trader.name)
        }
        </div>
    }
    </div>
</div>