@import models.master.Organization
@import controllers.actions.LoginState

@(organizations: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@for(organization <- organizations) {
    <div class="cmuk-width-2-4">
        <div class="flexItem card firstBox leftText lightBlue">
            <div class="card-body">
                <span class="red">@Messages(constants.Form.ID)</span> :@organization.id <br>
                <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span> :@organization.accountID <br>
                <span class="red">@Messages(constants.Form.NAME)</span> :@organization.name <br>
                <span class="red">@Messages(constants.Form.ADDRESS)</span> :@organization.address <br>
                <span class="red">@Messages(constants.Form.PHONE)</span> :@organization.phone <br>
                <span class="red">@Messages(constants.Form.EMAIL)</span> :@organization.email <br>

            </div>
            <div class="leftMargin">
                <div>
                    <h4 class="showHide toggleElement text-center" onclick="fetchOrShowHide('@organization.id', jsRoutes.controllers.SetACLController.viewTradersInOrganizationForZone('@organization.id'), this)">@Messages(constants.Form.TRADERS)</h4>
                </div>
                <div id="@organization.id" class="flexContainer rightPadding scrollableThird"></div>
            </div>
        </div>
    </div>
    <div class="cmuk-width-2-4">
        <div class="flexItem card firstBox leftText lightBlue">
            <div class="card-body">
                <span class="red">@Messages(constants.Form.ID)</span> :@organization.id <br>
                <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span> :@organization.accountID <br>
                <span class="red">@Messages(constants.Form.NAME)</span> :@organization.name <br>
                <span class="red">@Messages(constants.Form.ADDRESS)</span> :@organization.address <br>
                <span class="red">@Messages(constants.Form.PHONE)</span> :@organization.phone <br>
                <span class="red">@Messages(constants.Form.EMAIL)</span> :@organization.email <br>

            </div>
            <div class="leftMargin">
                <div>
                    <h4 class="showHide toggleElement text-center" onclick="fetchOrShowHide('@organization.id', jsRoutes.controllers.SetACLController.viewTradersInOrganizationForZone('@organization.id'), this)">@Messages(constants.Form.TRADERS)</h4>
                </div>
                <div id="@organization.id" class="flexContainer rightPadding scrollableThird"></div>
            </div>
        </div>
    </div>
    <div class="cmuk-width-2-4">
        <div class="flexItem card firstBox leftText lightBlue">
            <div class="card-body">
                <span class="red">@Messages(constants.Form.ID)</span> :@organization.id <br>
                <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span> :@organization.accountID <br>
                <span class="red">@Messages(constants.Form.NAME)</span> :@organization.name <br>
                <span class="red">@Messages(constants.Form.ADDRESS)</span> :@organization.address <br>
                <span class="red">@Messages(constants.Form.PHONE)</span> :@organization.phone <br>
                <span class="red">@Messages(constants.Form.EMAIL)</span> :@organization.email <br>

            </div>
            <div class="leftMargin">
                <div>
                    <h4 class="showHide toggleElement text-center" onclick="fetchOrShowHide('@organization.id', jsRoutes.controllers.SetACLController.viewTradersInOrganizationForZone('@organization.id'), this)">@Messages(constants.Form.TRADERS)</h4>
                </div>
                <div id="@organization.id" class="flexContainer rightPadding scrollableThird"></div>
            </div>
        </div>
    </div>
    <div class="cmuk-width-2-4">
        <div class="flexItem card firstBox leftText lightBlue">
            <div class="card-body">
                <span class="red">@Messages(constants.Form.ID)</span> :@organization.id <br>
                <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span> :@organization.accountID <br>
                <span class="red">@Messages(constants.Form.NAME)</span> :@organization.name <br>
                <span class="red">@Messages(constants.Form.ADDRESS)</span> :@organization.address <br>
                <span class="red">@Messages(constants.Form.PHONE)</span> :@organization.phone <br>
                <span class="red">@Messages(constants.Form.EMAIL)</span> :@organization.email <br>

            </div>
            <div class="leftMargin">
                <div>
                    <h4 class="showHide toggleElement text-center" onclick="fetchOrShowHide('@organization.id', jsRoutes.controllers.SetACLController.viewTradersInOrganizationForZone('@organization.id'), this)">@Messages(constants.Form.TRADERS)</h4>
                </div>
                <div id="@organization.id" class="flexContainer rightPadding scrollableThird"></div>
            </div>
        </div>
    </div>
}
