@import controllers.actions.LoginState
@import models.master.OrganizationBankAccountDetail

@(organizationBankAccountDetail: OrganizationBankAccountDetail)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    <span class="red">@Messages(constants.Form.ACCOUNT_HOLDER_NAME)</span>
    : @organizationBankAccountDetail.accountHolder <br>
    <span class="red">@Messages(constants.Form.NICK_NAME)</span>: @organizationBankAccountDetail.nickName <br>
    <span class="red">@Messages(constants.Form.ACCOUNT_NUMBER)</span>: @organizationBankAccountDetail.accountNumber <br>
    <span class="red">@Messages(constants.Form.BANK_NAME)</span>: @organizationBankAccountDetail.bankName <br>
    <span class="red">@Messages(constants.Form.SWIFT_CODE)</span>: @organizationBankAccountDetail.swiftAddress <br>
    <span class="red">@Messages(constants.Form.BANK_ADDRESS)</span>: @organizationBankAccountDetail.swiftAddress <br>
    <span class="red">@Messages(constants.Form.COUNTRY)</span>: @organizationBankAccountDetail.country <br>
    <span class="red">@Messages(constants.Form.ZIP_CODE)</span>: @organizationBankAccountDetail.zipCode <br>
</div>
