@import controllers.actions.LoginState
@import models.master.Organization
@import play.api.Logger
@import views.html.base._

@(organizationVerificationRequests: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, module: String, logger: Logger, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
        @for(organizationVerificationRequest <- organizationVerificationRequests) {
            @commonCard() {
                @organizationVerificationRequest.id
            } {
                <div>@Messages(constants.Form.ORGANIZATION_DETAILS): <br>
                    <span class="red">@Messages(constants.Form.ORGANIZATION_ID)</span>: @organizationVerificationRequest.id <br>
                    <span class="red">@Messages(constants.Form.ZONE_ID)</span>: @organizationVerificationRequest.zoneID <br>
                    <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span>: @organizationVerificationRequest.accountID <br>
                    <span class="red">@Messages(constants.Form.NAME)</span>: @organizationVerificationRequest.name <br>
                    <span class="red">@Messages(constants.Form.ABBREVIATION)</span>: @organizationVerificationRequest.abbreviation.getOrElse("") <br>
                    <span class="red">@Messages(constants.Form.ESTABLISHMENT_DATE)</span>: @organizationVerificationRequest.establishmentDate <br>
                    <span class="red">@Messages(constants.Form.EMAIL)</span>: @organizationVerificationRequest.email <br>
                </div>
                <br>
                <div>@Messages(constants.FormField.REGISTERED_ADDRESS.name) : <br>
                    <span class="red">@Messages(constants.FormField.ADDRESS_LINE_1.name)</span>: @organizationVerificationRequest.registeredAddress.addressLine1 <br>
                    <span class="red">@Messages(constants.FormField.ADDRESS_LINE_2.name)</span>: @organizationVerificationRequest.registeredAddress.addressLine2 <br>
                    <span class="red">@Messages(constants.FormField.LANDMARK.name)</span>: @organizationVerificationRequest.registeredAddress.landmark.getOrElse("") <br>
                    <span class="red">@Messages(constants.FormField.CITY.name)</span>: @organizationVerificationRequest.registeredAddress.city <br>
                    <span class="red">@Messages(constants.FormField.COUNTRY.name)</span>: @organizationVerificationRequest.registeredAddress.country <br>
                    <span class="red">@Messages(constants.FormField.ZIP_CODE.name)</span>: @organizationVerificationRequest.registeredAddress.zipCode <br>
                    <span class="red">@Messages(constants.Form.PHONE)</span>: @organizationVerificationRequest.registeredAddress.phone
                    <br>
                </div>
                <br>
                <div>@Messages(constants.FormField.POSTAL_ADDRESS.name) : <br>
                    <span class="red">@Messages(constants.FormField.ADDRESS_LINE_1.name)</span>: @organizationVerificationRequest.postalAddress.addressLine1 <br>
                    <span class="red">@Messages(constants.FormField.ADDRESS_LINE_2.name)</span>: @organizationVerificationRequest.postalAddress.addressLine2 <br>
                    <span class="red">@Messages(constants.FormField.LANDMARK.name)</span>: @organizationVerificationRequest.postalAddress.landmark.getOrElse("") <br>
                    <span class="red">@Messages(constants.FormField.CITY.name)</span>: @organizationVerificationRequest.postalAddress.city <br>
                    <span class="red">@Messages(constants.FormField.COUNTRY.name)</span>: @organizationVerificationRequest.postalAddress.country <br>
                    <span class="red">@Messages(constants.FormField.ZIP_CODE.name)</span>: @organizationVerificationRequest.postalAddress.zipCode <br>
                    <span class="red">@Messages(constants.Form.PHONE)</span>: @organizationVerificationRequest.postalAddress.phone
                    <br>
                </div>
                <br>
                <div>@Messages(constants.Form.ORGANIZATION_UBO_DETAIL): <br>
                    @for(ubo <- organizationVerificationRequest.ubos.data) {
                        <span class="red">@Messages(constants.Form.PERSON_NAME)</span>: @ubo.personName <br>
                        <span class="red">@Messages(constants.Form.SHARE_PERCENTAGE)</span>: @ubo.sharePercentage <br>
                        <span class="red">@Messages(constants.Form.RELATIONSHIP)</span>: @ubo.relationship <br>
                        <span class="red">@Messages(constants.Form.TITLE)</span>: @ubo.title <br>
                        }
                </div>
                <br>
                @Messages(constants.Form.DOCUMENTS): <br>
                <div id = "kycDocuments@organizationVerificationRequest.accountID">
                    <script>componentResource('kycDocuments@organizationVerificationRequest.accountID', jsRoutes.controllers.AddOrganizationController.viewKYCDocuments('@organizationVerificationRequest.id'))</script>
                </div>
                <br>
                <button type="button" class="cmuk-button cmuk-button-success cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.verifyOrganizationForm('@organizationVerificationRequest.id', '@organizationVerificationRequest.zoneID'))">@Messages(constants.Form.APPROVE)</button>
                <button type="button" class="cmuk-button cmuk-button-danger cmuk-button-small" onclick="getForm(jsRoutes.controllers.AddOrganizationController.rejectVerifyOrganizationRequestForm('@organizationVerificationRequest.id'))">@Messages(constants.Form.REJECT)</button>
                <br>
                }
        }
    </div>
</div>


