@import controllers.actions.LoginState
@import models.Trait.Document

@(document: Document[_])(documentContentTop: Html = Html(""))(documentContentBottom: Html = Html(""))(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    <div id="documentContentTop">
        @documentContentTop
    </div>
    @if(document.documentType != constants.File.PROFILE_PICTURE) {
        @utilities.FileOperations.fileExtensionFromName(document.fileName) match {
            case constants.File.PNG | constants.File.JPEG | constants.File.JPG => {
                <img src="data:image/jpg;base64,@utilities.ImageProcess.decodeImageThumbnailData(document.file.get)" alt="@document.documentType">
            }
            case _ => {}
        }
        <span class="red"> @Messages(constants.Form.STATUS)
            @if(document.status.getOrElse(false)) {
                <span id="verifiedDocumentStatus@document.id@document.documentType" class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                <span id="unverifiedDocumentStatus@document.id@document.documentType" class="result failure hidden"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
            } else {
                <span id="unverifiedDocumentStatus@document.id@document.documentType" class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                <span id="verifiedDocumentStatus@document.id@document.documentType" class="result success hidden"><i class="fa fa-check " aria-hidden="true"></i></span>
            }
        </span>
        <div id="documentContentBottom">
        @documentContentBottom
        </div>
    }
</div>