@import controllers.actions.LoginState
@import models.master.Organization

@(organizations: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-grid-expand cmuk-width-auto cmuk-grid-match" cmuk-sortable="handle: .cmuk-card" cmuk-grid>
@for(organization <- organizations) {
    <div>
        <div class="cmuk-card cmuk-card-default cmuk-card-body lightBlue">
        <span class="red">@Messages(constants.Form.ID)</span> :@organization.id <br>
      <span class="red">@Messages(constants.Form.ACCOUNT_ID)</span> :@organization.accountID <br>
      <span class="red">@Messages(constants.Form.NAME)</span> :@organization.name <br>
                <span class="red">@Messages(constants.Form.ESTABLISHMENT_DATE)</span>:@organization.establishmentDate <br>
      <span class="red">@Messages(constants.Form.EMAIL)</span> :@organization.email <br>
            <div>
                <div>
                    <h4 class="showHide toggleElement text-center" onclick="fetchOrShowHide('@organization.id', jsRoutes.controllers.SetACLController.viewTradersInOrganizationForZone('@organization.id'), this)">@Messages(constants.Form.TRADERS)</h4>
                </div>
                <div id="@organization.id" class="flexContainer scrollableThird"></div>
            </div>
        </div>
    </div>

}
  </div>
</div>