@import controllers.actions.LoginState
@import models.master.Zone
@import views.html.base._

@(zoneVerificationRequests: Seq[Zone])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="cmuk-container">
    <div class="cmuk-flex-center cmuk-child-width-auto cmuk-grid-match" cmuk-grid>
        @for(zoneVerificationRequest <- zoneVerificationRequests) {
            @commonCard(zoneVerificationRequest.id) {
            } {
                @commonTextInfo(constants.View.ACCOUNT_ID, zoneVerificationRequest.accountID)
                @commonTextInfo(constants.View.NAME, zoneVerificationRequest.name)
                @commonTextInfo(constants.View.CURRENCY, zoneVerificationRequest.currency)
                <div class="cmuk-text-left title">@Messages(constants.View.DOCUMENTS)</div>
                <span id = '@Seq("kycDocuments", zoneVerificationRequest.accountID).mkString("")'>
                    <script>componentResource('kycDocuments@zoneVerificationRequest.accountID', jsRoutes.controllers.AddZoneController.viewKYCDocuments('@zoneVerificationRequest.id'))</script>
                </span>
                <br>
                @commonFormButton(constants.Form.VERIFY_ZONE,'parameters -> s"'${zoneVerificationRequest.id}'",'class ->"cmuk-button cmuk-button-success cmuk-button-small")
                @commonFormButton(constants.Form.REJECT_VERIFY_ZONE_REQUEST,'parameters -> s"'${zoneVerificationRequest.id}'",'class ->"cmuk-button cmuk-button-danger cmuk-button-small")
                <br>
                    @commonFormButton(constants.Form.DEPUTIZE_ZONE,'parameters -> s"'${zoneVerificationRequest.id}'")
            }
        }
    </div>
</div>