@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization
@import models.master.Zone
@import models.master.OrganizationKYC
@import views.html.component.master.commonDocumentViewer

@import views.html.component.master.streetAddress
@(organizationZone: Zone, organization: Organization, organizationKYCs: Seq[OrganizationKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.Form.ORGANIZATION_DETAILS) {
} {
    <div>
    @commonInfoBox(){
        <div class="title"> <span>@Messages(constants.Form.ORGANIZATION_DETAILS)</span></div>
        @commonTextInfo(constants.Form.NAME, organization.name)
        @commonTextInfo(constants.Form.ABBREVIATION, organization.abbreviation.getOrElse(""))
        @commonTextInfo(constants.Form.ID, organization.id)
        @commonDateInfo(constants.Form.ESTABLISHMENT_DATE, organization.establishmentDate)
        @commonBooleanInfo(constants.Form.VERIFIED_STATUS, organization.verificationStatus)
    }
        @commonInfoBox(){
            <div class="title"><span>@Messages(constants.View.REGISTERED_ADDRESS):</span></div>
        @streetAddress(organization.registeredAddress)
        }
        @commonInfoBox(){
            <div class="title"><span>@Messages(constants.View.POSTAL_ADDRESS):</span></div>
        @streetAddress(organization.postalAddress)
        }

        @commonInfoBox(){
            <div class="title"><span>@Messages(constants.View.ORGANIZATION_DOCUMENTS)</span></div>
        @for(organizationKYC <- organizationKYCs) {
            @commonDocumentViewer(organizationKYC) {
                @routes.FileController.file(organizationKYC.fileName, organizationKYC.documentType)
            } {
                <a href="@routes.FileController.file(organizationKYC.fileName, organizationKYC.documentType)">@Messages(organizationKYC.documentType)</a>
            } {

            }
        }
        }

        @commonInfoBox(){
            <div class="title"><span>@Messages(constants.Form.ZONE_DETAILS)</span></div>
        @commonTextInfo(constants.View.ZONE_NAME, organizationZone.name)
        @commonTextInfo(constants.Form.CURRENCY, organizationZone.currency)
        @commonTextInfo(constants.Form.ZONE_ID, organizationZone.id)
            }
    </div>
}
