@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.NegotiationFile
@import models.common.Serializable
@import models.Abstract.AssetDocumentContent
@(documentType:String, documentContent: Option[AssetDocumentContent])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="modalInfoBlock">
@documentContent match {
    case Some(content)=> {
        @documentType match {
            case constants.File.Asset.BILL_OF_LADING => {
                @Messages(constants.File.Asset.BILL_OF_LADING) :
                @defining(content.asInstanceOf[Serializable.BillOfLading]){billOfLading=>
                    @commonTextInfo(constants.View.BILL_OF_LADING_NUMBER, billOfLading.id)
                    @commonTextInfo(constants.View.VESSEL_NAME, billOfLading.vesselName)
                    @commonTextInfo(constants.View.PORT_OF_LOADING, billOfLading.portOfLoading)
                    @commonTextInfo(constants.View.PORT_OF_DISCHARGE, billOfLading.portOfDischarge)
                    @commonTextInfo(constants.View.SHIPPER_NAME, billOfLading.shipperName)
                    @commonTextInfo(constants.View.SHIPPER_ADDRESS, billOfLading.shipperAddress)
                    @commonTextInfo(constants.View.NOTIFY_PARTY_NAME, billOfLading.notifyPartyName)
                    @commonTextInfo(constants.View.NOTIFY_PARTY_ADDRESS, billOfLading.notifyPartyAddress)
                    @commonDateInfo(constants.View.SHIPMENT_DATE, billOfLading.dateOfShipping)
                    @commonTextInfo(constants.View.DELIVERY_TERM, billOfLading.deliveryTerm)
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, billOfLading.assetDescription)
                    @commonDoubleInfo(constants.View.ASSET_QUANTITY, billOfLading.assetQuantity)
                    @commonTextInfo(constants.View.QUANTITY_UNIT, billOfLading.quantityUnit)
                    @commonDoubleInfo(constants.View.ASSET_PRICE, billOfLading.declaredAssetValue)
                }
            }
            case _ => {}
        }
    }
    case None=>{@Messages(constants.View.CONTENT_NOT_FOUND)}
}
</div>