@import controllers.actions.LoginState
@import models.master.OrganizationKYC

@(organizationKYCs: Seq[OrganizationKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<script src="@routes.Assets.versioned("javascripts/kycVerification.js")" type="text/javascript"></script>
<div class="verify_buttons">
@for(organizationKYC <- organizationKYCs) {
    @component.master.commonDocumentViewer(organizationKYC) {
        @routes.FileController.zoneAccessedOrganizationKYCFile(organizationKYC.id, organizationKYC.fileName, organizationKYC.documentType)
    } {
        <a href="@routes.FileController.zoneAccessedOrganizationKYCFile(organizationKYC.id, organizationKYC.fileName, organizationKYC.documentType)">@Messages(organizationKYC.documentType)</a>
    } {
        <span class="red">@Messages(constants.Form.STATUS)
            @if(organizationKYC.status.getOrElse(false)) {
                <span id="verifiedDocumentStatus@organizationKYC.id@organizationKYC.documentType" class="result success"><img src="@routes.Assets.versioned("images/success.jpg")"></span>
                <span id="unverifiedDocumentStatus@organizationKYC.id@organizationKYC.documentType" class="result failure hidden"><img src="@routes.Assets.versioned("images/unverified.png")"></span>
            } else {
                <span id="unverifiedDocumentStatus@organizationKYC.id@organizationKYC.documentType" class="result failure"><img src="@routes.Assets.versioned("images/unverified.png")"></span>
                <span id="verifiedDocumentStatus@organizationKYC.id@organizationKYC.documentType" class="result success hidden"><img src="@routes.Assets.versioned("images/success.jpg")">
            }
        </span>
        </span>
        <div id="organizationKycDocumentStatus@organizationKYC.id@organizationKYC.documentType"></div>
        @organizationKYC.status.getOrElse(None) match {
            case true => {
                <div id="buttonOrganizationKycDocumentStatus@organizationKYC.id@organizationKYC.documentType"><button class="btn btn-sm btn-danger" onclick="rejectOrganizationKycDocument('@organizationKYC.id', '@organizationKYC.documentType')">@Messages(constants.Form.REJECT)</button></div>
            }
            case false => {
                <div id="buttonOrganizationKycDocumentStatus@organizationKYC.id@organizationKYC.documentType"><button class="btn btn-sm btn-success" onclick="verifyOrganizationKycDocument('@organizationKYC.id', '@organizationKYC.documentType')">@Messages(constants.Form.APPROVE)</button></div>
            }
            case _ => {
                <div id="buttonOrganizationKycDocumentStatus@organizationKYC.id@organizationKYC.documentType">
                    <button class="btn btn-sm btn-success" onclick="verifyOrganizationKycDocument('@organizationKYC.id', '@organizationKYC.documentType')">@Messages(constants.Form.APPROVE)</button>
                    <button class="btn btn-sm btn-danger" onclick="rejectOrganizationKycDocument('@organizationKYC.id', '@organizationKYC.documentType')">@Messages(constants.Form.REJECT)</button>
                </div>
            }
        }
        <br>
        }
}
</div>