@import controllers.actions.LoginState
@import views.html.base._

@import models.wallex.OrganizationWallexDetail
@(organizationWallexDetail: Option[OrganizationWallexDetail],negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@if(organizationWallexDetail.isDefined) {
    <div class="financialCard">
    @commonCard(constants.View.WALLEX_PAYMENT_APP, 'cardIconPath -> "images/icons/icons.svg#tradeFinance") {
    } {
        <ul class="financialCardSection">
            <li class="cmuk-flex">
                <div class="cmuk-flex wallet">
                    <span class="walletIcon">@commonIcon("wallet")</span>
                    <div>
                    @commonFormButton(constants.Form.WALLEX_WALLET_TRANSFER, 'parameters -> s"'${negotiationID}'")
                    </div>
                </div>
            </li>
        </ul>

    }
    </div>
}