@import controllers.actions.LoginState
@import views.html.base._

@import models.wallex.OrganizationWallexDetail
@import models.wallex.OrgWallexBeneficiaryDetail
@(organizationWallexDetail: Option[OrganizationWallexDetail], wallexBeneficiary: Option[OrgWallexBeneficiaryDetail])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@if(organizationWallexDetail.isDefined && wallexBeneficiary.isDefined) {
    @*<div class="financialCard">
    @commonCard(constants.View.PAY_TO_BENEFICIARY, 'cardIconPath -> "images/icons/icons.svg#tradeFinance") {
    } {
        <ul class="financialCardSection">
            <li class="cmuk-flex">
                <div class="cmuk-flex wallet">
                    <span class="walletIcon">@commonIcon("wallet")</span>
                    <div>*@
                    @commonFormButton(constants.Form.INITIATE_WALLEX_PAYMENT)
                    @*</div>
                </div>
            </li>
        </ul>

    }
    </div>*@
}