@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.WallexDocument

@import views.html.component.master.commonDocumentViewer
@(wallexDocuments: Seq[WallexDocument])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.WALLEX_KYC_DOCUMENTS, 'cardIconPath -> "images/icons/icons.svg#organizationDetails") {
} {

    @for(wallexDocument <- wallexDocuments) {
        @commonDocumentViewer(wallexDocument) {
            @routes.FileController.file(wallexDocument.fileName, wallexDocument.documentType)
        } {
            <a href="@routes.FileController.file(wallexDocument.fileName, wallexDocument.documentType)" target="_blank">@Messages(wallexDocument.documentType)</a>
        } {

        }
    }
        <div class="cmuk-position-center">
        @commonFormButton(constants.Form.ADD_OR_UPDATE_WALLEX_DOCUMENT)
        </div>
}
