@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.OrganizationWallexDetail

@(organizationWallexDetail: OrganizationWallexDetail)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
    @commonTextInfo(constants.View.WALLEX_ID, organizationWallexDetail.wallexId)
    @commonTextInfo(constants.View.STATUS, organizationWallexDetail.status)
    @commonTextInfo(constants.View.EMAIL_ADDRESS, organizationWallexDetail.email)
    @commonTextInfo(constants.View.FIRST_NAME, organizationWallexDetail.firstName)
    @commonTextInfo(constants.View.LAST_NAME, organizationWallexDetail.lastName)
    @commonTextInfo(constants.View.ACCOUNT_ID, organizationWallexDetail.accountId)
</div>

<div class="cmuk-text-center cmuk-margin-top">
@commonFormButton(constants.Form.UPDATE_USER_DETAILS)
</div>

@if(organizationWallexDetail.status != constants.Status.SendWalletTransfer.ZONE_SEND_FOR_SCREENING || organizationWallexDetail.status != constants.External.APPROVED) {
    <div class="cmuk-text-center cmuk-margin-top">
    @commonFormButton(constants.Form.WALLEX_GET_USER, 'class -> "cmuk-button buttonPrimary")
    </div>
}