@import controllers.actions.LoginState
import models.master.Zone

@(zone: Zone)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
@Messages(constants.Form.NAME): @zone.name <br>
@Messages(constants.Form.ZONE_ID): @zone.id <br>
@Messages(constants.Form.CURRENCY): @zone.currency <br>
@Messages(constants.FormField.ADDRESS_LINE_1.name): @zone.address.addressLine1 <br>
@Messages(constants.FormField.ADDRESS_LINE_2.name): @zone.address.addressLine2 <br>
@Messages(constants.FormField.LANDMARK.name): @zone.address.landmark.getOrElse("") <br>
@Messages(constants.FormField.CITY.name): @zone.address.city <br>
@Messages(constants.FormField.COUNTRY.name): @zone.address.country <br>
@Messages(constants.FormField.ZIP_CODE.name): @zone.address.zipCode <br>
@Messages(constants.Form.PHONE): @zone.address.phone <br>
@Messages(constants.Form.COMPLETION_STATUS): @zone.completionStatus <br>
@Messages(constants.Form.VERIFIED_STATUS): @zone.verificationStatus.getOrElse(false) <br>
