@import controllers.actions.LoginState
@import models.master.OrganizationBankAccountDetail
@import views.html.base._

@(organizationID: String, organizationBankAccountDetail: Option[OrganizationBankAccountDetail])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.ORGANIZATION_BANK_ACCOUNT_DETAIL): @organizationID
</legend>
<hr>
<div class="modalInfoBlock">
@organizationBankAccountDetail match {
    case Some(organizationBankAccountDetail) => {
        @commonTextInfo(constants.View.ACCOUNT_HOLDER_NAME, organizationBankAccountDetail.accountHolder)
        @commonTextInfo(constants.View.NICK_NAME, organizationBankAccountDetail.nickName)
        @commonTextInfo(constants.View.ACCOUNT_NUMBER, organizationBankAccountDetail.accountNumber)
        @commonTextInfo(constants.View.BANK_NAME, organizationBankAccountDetail.bankName)
        @commonTextInfo(constants.View.SWIFT_CODE, organizationBankAccountDetail.swiftAddress)
        @commonTextInfo(constants.View.ADDRESS, organizationBankAccountDetail.address)
        @commonTextInfo(constants.View.COUNTRY, organizationBankAccountDetail.country)
        @commonTextInfo(constants.View.ZIP_CODE, organizationBankAccountDetail.zipCode)
    }
    case _ => {
        @Messages(constants.View.BANK_ACCOUNT_NOT_FOUND)
    }
}
</div>
