@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@(negotiationList: Seq[Negotiation], counterPartyTraderList: Seq[Trader], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div class="salesQuoteCard">
    @negotiationList.map { negotiation =>
        @commonVerticalInfoBox() {
            <div class="salesQuoteCardLeft salesChild">
                <div class="content">
                @assetList.find(_.id == negotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.assetType + ".svg")"></span>
                        </div>
                        <div class="assetInitialData">
                            <p class="assetTitle">@Messages(asset.assetType)</p>
                            <p class="assetQuantity">@Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(" ")</p>
                            <p class="assetPrice">@Seq(negotiation.price.double/negotiation.quantity, Messages(constants.View.USD), Messages(constants.View.PER), negotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">
                <p><span cmuk-tooltip="@Messages(constants.View.BUYER_TRADER_ID)">@negotiation.buyerTraderID</span>
                    <span class="lines">---</span>
                    <span cmuk-tooltip="@Messages(constants.View.SELLER_TRADER_ID)">@negotiation.sellerTraderID</span>
                </p>

                @counterPartyTraderList.find(_.id == negotiation.buyerTraderID) match {
                    case Some(trader) => {
                        <p> <span cmuk-tooltip="@Messages(constants.View.BUYER_ORGANIZATION_ID)">@trader.organizationID</span>
                            <span class="lines">---</span>
                            }
                    case None => {}
                }
                @counterPartyTraderList.find(_.id == negotiation.sellerTraderID) match {
                    case Some(trader) => {
                        <span cmuk-tooltip="@Messages(constants.View.SELLER_ORGANIZATION_ID)">@trader.organizationID</span></p>
                    }
                    case None => {}
                }

                <p><span>@negotiation.assetOtherDetails.shippingDetails.portOfLoading</span>
                    <span class="lines">---</span>
                    <span class="arrowIcon">@commonIcon("roundedRightArrow")</span>
                    <span class="lines">---</span>
                    <span>@negotiation.assetOtherDetails.shippingDetails.portOfDischarge</span>
                </p>
            </div>
            <div class="salesQuoteCardRight salesChild">
            @commonLink(constants.View.GO_TO_TRADE_ROOM, routes.ViewController.tradeRoom(negotiation.id), 'class->"cmuk-button buttonPrimary")
            </div>

        }
    }
</div>

