@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.TRADERS) {
}{
    @commonHorizontalSwitcher(ListMap(
        constants.View.ZONE_VIEW_ACCEPTED_TRADER_REQUESTS -> routes.javascript.ComponentViewController.zoneViewAcceptedTraderAccountList,
        constants.View.ZONE_VIEW_PENDING_TRADER_REQUESTS -> routes.javascript.ComponentViewController.zoneViewPendingTraderRequestList,
        constants.View.ZONE_VIEW_REJECTED_TRADER_REQUESTS -> routes.javascript.ComponentViewController.zoneViewRejectedTraderRequestList,
    ))
    <button class="viewMore"></button>
}
