@import controllers.actions.LoginState
@import models.master.TraderBackgroundCheck
@import models.master.Trader
@import views.html.base._

@(traderBackgroundChecks: Seq[TraderBackgroundCheck], trader: Trader)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<legend class="cmuk-legend">
    @Messages(constants.Form.TRADER_BACKGROUND_CHECK)
</legend>
<hr>
<div class="modal-info-block centerText">
    @for(documentType <- constants.File.TRADER_BACKGROUND_CHECK_DOCUMENT_TYPES) {
        <div id="upload@documentType">
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.BackgroundCheckController.uploadTraderBackgroundCheckFileForm('@documentType', '@trader.id'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>
        </div>
    }
    @for(traderBackgroundCheck <- traderBackgroundChecks) {
        @component.master.commonDocumentViewer(traderBackgroundCheck) {
            @routes.BackgroundCheckController.zoneAccessedTraderBackgroundCheckFile(traderBackgroundCheck.id, traderBackgroundCheck.fileName,traderBackgroundCheck.documentType)
        } {
            <a href="@routes.BackgroundCheckController.zoneAccessedTraderBackgroundCheckFile(traderBackgroundCheck.id, traderBackgroundCheck.fileName, traderBackgroundCheck.documentType)" target="_blank">@Messages(traderBackgroundCheck.documentType)</a>
        } {
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.BackgroundCheckController.updateTraderBackgroundCheckFileForm('@traderBackgroundCheck.documentType','@trader.id'))">@Messages(constants.Form.UPDATE) @Messages(traderBackgroundCheck.documentType)</button>
            <script>hideElement('upload@traderBackgroundCheck.documentType')</script>
        }
    }


@commonModalButton(constants.View.BACK, routes.javascript.ComponentViewController.zoneViewPendingTraderRequest, 'parameters -> s"'${trader.id}'")
@if(constants.File.TRADER_BACKGROUND_CHECK_DOCUMENT_TYPES.diff(traderBackgroundChecks.map(_.documentType)).isEmpty) {
    @commonFormButton(constants.Form.ZONE_VERIFY_TRADER, 'parameters -> s"'${trader.id}'")
}
</div>