@import models.master.TraderKYC
@import controllers.actions.LoginState

@(traderKYCs: Seq[TraderKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    @for(traderKYC <- traderKYCs) {
        @component.master.zoneViewTraderKycDocument(id = traderKYC.id, documentType = traderKYC.documentType, status = traderKYC.zoneStatus, fileName = traderKYC.fileName, file = traderKYC.file)
        <div id="traderKycDocumentStatus@traderKYC.id@traderKYC.documentType"></div>
        @traderKYC.zoneStatus.getOrElse(None)  match {
            case true => {
                <div id="buttonTraderKycDocumentStatus@traderKYC.id@traderKYC.documentType"><button class="btn btn-danger btn-sm" onclick="zoneRejectTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.REJECT)</button></div>
            }
            case false => {
                <div id="buttonTraderKycDocumentStatus@traderKYC.id@traderKYC.documentType"><button class="btn btn-success btn-sm" onclick="zoneVerifyTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.APPROVE)</button></div>
            }
            case _ => {
                <div id="buttonTraderKycDocumentStatus@traderKYC.id@traderKYC.documentType"> <button class="btn btn-success btn-sm" onclick="zoneVerifyTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.APPROVE)</button> <button class="btn btn-danger btn-sm" onclick="zoneRejectTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.REJECT)</button></div>
            }
        }
    }
</div>