@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@(negotiationID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div class="financial zoneTradeFinancial switcherCardSecond">
    @commonInfoBox(){
        @commonHorizontalSwitcher(ListMap(
            constants.View.FINANCIALS -> routes.javascript.ComponentViewController.zoneViewCompletedTradeRoomFinancial,
            constants.View.CHECKS -> routes.javascript.ComponentViewController.zoneViewCompletedTradeRoomChecks,
        ), 'FINANCIALS_PARAMETERS ->  s"'${negotiationID}'", 'CHECKS_PARAMETERS ->  s"'${negotiationID}'")
    }
</div>