@import controllers.actions.LoginState
@import models.master.Trader
@import views.html.base._
@import models.master.Organization

@(trader: Trader, organization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.TRADER): @trader.id
</legend>
<hr>
<div class="modalInnerContainerFirst">
@commonTextInfo(constants.View.TRADER_ID, trader.id)
@commonTextInfo(constants.View.NAME, trader.name)
@commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
<div class="cmuk-text-left title">@Messages(constants.View.ORGANIZATION_DETAILS)</div>
@commonTextInfo(constants.View.NAME, organization.name)
@commonTextInfo(constants.View.ORGANIZATION_ID, organization.id)
@commonTextInfo(constants.View.ACCOUNT_ID, organization.accountID)
@commonTextInfo(constants.Form.EMAIL_ADDRESS, organization.email)
</div>