@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.TRADE_ROOMS, 'cardIconPath -> "images/icons/icons.svg#tradeRoom") {
} {
    @commonHorizontalSwitcher(ListMap(
        constants.View.ACTIVE_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.zoneViewActiveNegotiationList,
        constants.View.COMPLETED_NEGOTIATION_LIST -> routes.javascript.ComponentViewController.zoneViewCompletedNegotiationList,
    ))
    <button class="viewMore"></button>
}
