@import controllers.actions.LoginState
@import views.html.base._
@import utilities.NumericOperation.roundAtTwoDecimal
@(walletBalance: Double, payable: Double, receivable: Double)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<div class="financialCard">
@commonCard(constants.View.FINANCIALS, 'cardIconPath -> "images/icons/icons.svg#tradeFinance") {
} {
    <ul class="">
        <li class="cmuk-flex">
            <div class="cmuk-flex wallet">
                <span class="walletIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#wallet")"/></svg></span>
                <div>
                    <p class="cmuk-margin-remove ctitle">@Messages(constants.View.WALLET_BALANCE)</p>
                    <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">$ @roundAtTwoDecimal(walletBalance)</p>
                </div>
            </div>
        </li>
        <li class="cmuk-flex">
            <div class="cmuk-flex receivable">
                <span class="receivableIcon">@commonIcon("receivable")</span>
                <div>
                    <p class="cmuk-margin-remove ctitle">@Messages(constants.View.RECEIVABLE)</p>
                    <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">$ @roundAtTwoDecimal(receivable)</p>
                </div>
            </div>
        </li>

        <li class="cmuk-flex">
            <div class="cmuk-flex payable">
                <span class="payableIcon">@commonIcon("payable")</span>
                <div>
                    <p class="cmuk-margin-remove ctitle">@Messages(constants.View.PAYABLE)</p>
                    <p class="cmuk-comment-meta cmuk-margin-remove primaryFont">@roundAtTwoDecimal(payable)</p>
                </div>
            </div>
        </li>

    </ul>
}
</div>