@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization

@(acceptedOrganizations: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@acceptedOrganizations.map { organization =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.ORGANIZATION_ID, organization.id)
        @commonVerticalTextInfo(constants.View.NAME, organization.name)
        @commonVerticalTextInfo(constants.View.ACCOUNT_ID, organization.accountID)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
            @commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.zoneViewAcceptedOrganizationAccount, 'parameters -> s"'${organization.id}'")
            </p>
        </div>
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.BANK_ACCOUNT)
            </p>
            <p class="listItemChildValue">
            @commonModalButton(constants.View.ORGANIZATION_BANK_ACCOUNT_DETAIL, routes.javascript.ComponentViewController.zoneViewOrganizationBankAccount, 'parameters -> s"'${organization.id}'")
            </p>
        </div>
    }
}