@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.SendFiatRequest
@import models.master.Trader
@import models.master.Organization

@(sendFiatRequests: Seq[SendFiatRequest], organizations: Seq[Organization], traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@sendFiatRequests.map { sendFiatRequest =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.ID, sendFiatRequest.id)
        @traders.find(_.id == sendFiatRequest.traderID) match {
            case Some(trader) => {
                @commonVerticalTextInfo(constants.View.TRADER, trader.accountID)
                @organizations.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonVerticalTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @commonVerticalIntInfo(constants.View.AMOUNT, sendFiatRequest.amount)
        @commonVerticalTextInfo(constants.View.STATUS, sendFiatRequest.status)
        <div class="listItemChild cmuk-flex cmuk-flex-middle">
        @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(sendFiatRequest.negotiationID), 'class->"cmuk-button buttonPrimary")
        </div>
    }
}