@import controllers.actions.LoginState
@import models.master.OrganizationBankAccountDetail
@import views.html.base._

@(organizationBankAccountDetail: OrganizationBankAccountDetail)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    @commonTextInfo(constants.Form.ACCOUNT_HOLDER_NAME, organizationBankAccountDetail.accountHolder)
    @commonTextInfo(constants.Form.NICK_NAME, organizationBankAccountDetail.nickName)
    @commonTextInfo(constants.Form.ACCOUNT_NUMBER, organizationBankAccountDetail.accountNumber)
    @commonTextInfo(constants.Form.BANK_NAME, organizationBankAccountDetail.bankName)
    @commonTextInfo(constants.Form.SWIFT_CODE, organizationBankAccountDetail.swiftAddress)
    @commonTextInfo(constants.Form.ADDRESS, organizationBankAccountDetail.address)
    @commonTextInfo(constants.Form.COUNTRY, organizationBankAccountDetail.country)
    @commonTextInfo(constants.Form.ZIP_CODE, organizationBankAccountDetail.zipCode)
</div>
