@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Zone

@(zone: Zone)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonTable(){
    @Messages(constants.Form.ZONE_DETAILS)
} {
    <tr>
        <th>@Messages(constants.View.NAME)</th>
        <th>@Messages(constants.Form.ZONE_ID)</th>
        <th>@Messages(constants.Form.COMPLETION_STATUS)</th>
        <th>@Messages(constants.Form.VERIFIED_STATUS)</th>
    </tr>
    <tr>
        <td> @zone.name</td>
        <td> @zone.id </td>
        <td>@zone.completionStatus</td>
        <td>@zone.verificationStatus.getOrElse(false)</td>
    </tr>
}

