@import controllers.actions.LoginState
@import views.html.base._
@import views.companion.master.RejectTraderRequest

@(rejectTraderRequestForm: Form[RejectTraderRequest.Data] = RejectTraderRequest.form, traderID: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
@commonForm(constants.Form.ZONE_REJECT_TRADER_REQUEST, rejectTraderRequestForm) {
    <div class="modal-info-block">
    @commonInputText(rejectTraderRequestForm, constants.FormField.TRADER_ID, 'value -> traderID, 'readonly -> true)
    @commonInputText(rejectTraderRequestForm, constants.FormField.COMMENT, 'required -> false)
    @commonModalButton(constants.View.BACK, routes.javascript.ComponentViewController.zoneViewPendingTraderRequest, 'parameters -> s"'${traderID}'")
    </div>
}