@import controllers.actions.LoginState
@import models.master.TraderWorldCheck
@import models.master.Trader

@(traderWorldChecks: Seq[TraderWorldCheck], trader: Trader)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

<div class="latest_card-header latest_card-header-primary text-center">
    <h4 class="latest_card-title">@Messages(constants.Form.TRADER_WORLD_CHECK)</h4>
</div>
<div class="centerText">
    @for(documentType <- constants.File.TRADER_WORLD_CHECK_DOCUMENT_TYPES) {
        <div id="upload@documentType">
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.WorldCheckController.uploadTraderWorldCheckFileForm('@documentType', '@trader.id'))">@Messages(constants.Form.UPLOAD) @Messages(documentType)</button>
        </div>
    }
    @for(traderWorldCheck <- traderWorldChecks) {
        @component.master.commonDocumentViewer(traderWorldCheck) {
            @routes.WorldCheckController.zoneAccessedTraderWorldCheckFile(traderWorldCheck.id, traderWorldCheck.fileName,traderWorldCheck.documentType)
        } {
            <a href="@routes.WorldCheckController.zoneAccessedTraderWorldCheckFile(traderWorldCheck.id, traderWorldCheck.fileName, traderWorldCheck.documentType)">@Messages(traderWorldCheck.documentType)</a>
        } {
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.WorldCheckController.updateTraderWorldCheckFileForm('@traderWorldCheck.documentType','@trader.id'))">@Messages(constants.Form.UPDATE) @Messages(traderWorldCheck.documentType)</button>
            <script>hideElement('upload@traderWorldCheck.documentType')</script>
        }
    }
</div>

@if(constants.File.TRADER_WORLD_CHECK_DOCUMENT_TYPES.diff(traderWorldChecks.map(_.documentType)).isEmpty) {
    <button type="button" class="cmuk-button cmuk-button-primary" id="getTraderWorldCheckReviewForm" onclick="getForm(jsRoutes.controllers.SetACLController.zoneVerifyTraderForm('@trader.accountID','@trader.organizationID'))">@Messages(constants.Form.NEXT)</button>
}