@import controllers.actions.LoginState
@import views.html.base._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.PENDING_SEND_FIAT_REQUESTS) {
}{
    @commonHorizontalSwitcher(ListMap(
        constants.View.PENDING -> routes.javascript.ComponentViewController.zoneViewSendFiatRequestList,
        constants.View.COMPLETED -> routes.javascript.ComponentViewController.zoneViewSendFiatRequestList,
        constants.View.FAILED -> routes.javascript.ComponentViewController.zoneViewSendFiatRequestList,
    ))
}
