@import controllers.actions.LoginState
@import models.master.OrganizationBackgroundCheck
@import models.master.Organization
@import views.html.base._

@(organizationBackgroundChecks: Seq[OrganizationBackgroundCheck], organization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
<legend class="cmuk-legend">
    @Messages(constants.View.ORGANIZATION_BACKGROUND_CHECK)
</legend>
<hr>
<div class="modalInfoBlock centerText">
    @for(documentType <- constants.File.ORGANIZATION_BACKGROUND_CHECK_DOCUMENT_TYPES) {
        <div id="upload@documentType">
            @commonModalButton(Seq(Messages(constants.View.UPLOAD), Messages(documentType)).mkString(" "),routes.javascript.BackgroundCheckController.uploadOrganizationBackgroundCheckFileForm,'parameters -> s"'${documentType}','${organization.id}'")
        </div>
    }
    @for(organizationBackgroundCheck <- organizationBackgroundChecks) {
        @component.master.commonDocumentViewer(organizationBackgroundCheck) {
            @routes.BackgroundCheckController.zoneAccessedOrganizationBackgroundCheckFile(organizationBackgroundCheck.id, organizationBackgroundCheck.fileName,organizationBackgroundCheck.documentType)
        } {
            <a href="@routes.BackgroundCheckController.zoneAccessedOrganizationBackgroundCheckFile(organizationBackgroundCheck.id, organizationBackgroundCheck.fileName, organizationBackgroundCheck.documentType)" target="_blank">@Messages(organizationBackgroundCheck.documentType)</a>
        } {
            @commonModalButton(Seq(Messages(constants.View.UPLOAD), Messages(organizationBackgroundCheck.documentType)).mkString(" "),routes.javascript.BackgroundCheckController.updateOrganizationBackgroundCheckFileForm,'parameters -> s"'${organizationBackgroundCheck.documentType}','${organization.id}'")
            <script>hideElement('upload@organizationBackgroundCheck.documentType')</script>
        }
    }
@commonModalButton(constants.View.BACK, routes.javascript.ComponentViewController.zoneViewPendingOrganizationRequest, 'parameters -> s"'${organization.id}'")
@if(constants.File.ORGANIZATION_BACKGROUND_CHECK_DOCUMENT_TYPES.diff(organizationBackgroundChecks.map(_.documentType)).isEmpty) {
    @commonFormButton(constants.Form.ACCEPT_ORGANIZATION_REQUEST, 'parameters -> s"'${organization.id}'")
}
</div>