@(id: String, documentType: String, status: Option[Boolean], fileName: String, file: Option[Array[Byte]])(implicit messagesProvider: MessagesProvider)
<div>
    @utilities.FileOperations.fileExtensionFromName(fileName) match {
        case constants.File.PNG | constants.File.JPEG | constants.File.JPG => {
            <li><a href="@routes.FileController.zoneAccessedOrganizationFile(id,fileName, documentType)">@Messages(documentType) <br>
            <img src="data:image/jpg;base64,@utilities.ImageProcess.decodeImageThumbnailData(file.get)" alt="@documentType">
            </a>

                <div id="kycDocumentStatus@id@documentType">@status</div>
            </li>
        }
        case _ => {
            <li><a href="@routes.FileController.zoneAccessedOrganizationFile(id, fileName, documentType)">@Messages(documentType)</a>

                <div id="kycDocumentStatus@id@documentType">@status</div>
            </li>
        }
    }
</div>