@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{Trader, Organization}
@import models.master.TraderKYC

@(trader: Trader, traderKYCs: Seq[TraderKYC], organization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.TRADER): @trader.id
</legend>
<hr>
@commonTextInfo(constants.View.TRADER_ID, trader.id)
@commonTextInfo(constants.View.NAME, trader.name)
@commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)

<br>

<div>@Messages(constants.View.ORGANIZATION_DETAILS)</div>
@commonTextInfo(constants.View.NAME, organization.name)
@commonTextInfo(constants.View.ORGANIZATION_ID, organization.id)
@commonTextInfo(constants.View.ACCOUNT_ID, organization.accountID)
@commonTextInfo(constants.Form.EMAIL_ADDRESS, organization.email)

<br>

@traderKYCs.map { traderKYC =>
    @component.master.commonDocumentViewer(traderKYC) {
        @routes.FileController.zoneAccessedTraderKYCFile(traderID = traderKYC.id, fileName = traderKYC.fileName, documentType = traderKYC.documentType)
    } {
        <a href="@routes.FileController.zoneAccessedTraderKYCFile(traderID = traderKYC.id, fileName = traderKYC.fileName, documentType = traderKYC.documentType)">@Messages(traderKYC.documentType)</a>
    } {
        @commonBooleanInfo(constants.View.ORGANIZATION_STATUS, traderKYC.organizationStatus)
        @commonBooleanInfo(constants.View.ZONE_STATUS, traderKYC.zoneStatus)
    }
}