@import controllers.actions.LoginState
@import models.master.TraderKYC

@(traderKYCs: Seq[TraderKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@for(traderKYC <- traderKYCs) {
    @component.master.commonDocumentViewer(traderKYC) {
        @routes.FileController.zoneAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)
    } {
        <a href="@routes.FileController.zoneAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)">@traderKYC.documentType</a>
    } {
        <span class="red">@Messages(constants.Form.STATUS):
            @if(traderKYC.status.getOrElse(false)) {
                <span><img class="status" src="@routes.Assets.versioned("images/success.jpg")"></span>
            } else {
                <span><img class="status" src="@routes.Assets.versioned("images/unverified.png")"></span>
            }
        </span>
        <br>
        <span class="red">@Messages(constants.Form.ORGANIZATION_VERIFICATION):
            @if(traderKYC.organizationStatus.getOrElse(false)) {
                <span><img class="status" src="@routes.Assets.versioned("images/success.jpg")"></span>
            } else {
                <span><img class="status" src="@routes.Assets.versioned("images/unverified.png")"></span>
            }
        </span>
        <br>
        <span class="red">@Messages(constants.Form.ZONE_VERIFICATION):
            @if(traderKYC.zoneStatus.getOrElse(false)) {
                <span><img class="status" src="@routes.Assets.versioned("images/success.jpg")"></span>
            } else {
                <span><img class="status" src="@routes.Assets.versioned("images/unverified.png")"></span>
            }
            <button class="cmuk-button cmuk-button-small" onclick="getForm(jsRoutes.controllers.SetACLController.changeTraderKYCDocumentZoneStatusForm('@traderKYC.id', '@traderKYC.documentType'))">@Messages(constants.Form.UPDATE_STATUS)</button>
        </span>
    }
}