@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Trader

@(rejectedTraderRequests: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@rejectedTraderRequests.map { trader =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.TRADER_ID, trader.id)
        @commonVerticalTextInfo(constants.View.NAME, trader.name)
        @commonVerticalTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
        @commonVerticalTextInfo(constants.View.ORGANIZATION_ID, trader.organizationID)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
            @commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.zoneViewRejectedTraderRequest, 'parameters -> s"'${trader.id}'")
            </p>
        </div>
    }
}