@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Organization

@(acceptedOrganizations: Seq[Organization])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@acceptedOrganizations.map { organization =>
    @commonInfoBox() {
        @commonTextInfo(constants.View.ORGANIZATION_ID, organization.id)
        @commonTextInfo(constants.View.NAME, organization.name)
        @commonTextInfo(constants.View.ACCOUNT_ID, organization.accountID)
        @commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.zoneViewAcceptedOrganizationAccountDetails, 'parameters -> s"'${organization.id}'")
        @commonModalButton(constants.View.VIEW_ORGANIZATION_BANK_ACCOUNT_DETAIL, routes.javascript.ComponentViewController.zoneViewOrganizationBankAccountDetail, 'parameters -> s"'${organization.id}'")
    }
}