@import controllers.actions.LoginState
@import models.master.TraderKYC

@(traderKYCs: Seq[TraderKYC])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
<div>
    @for(traderKYC <- traderKYCs) {
        @component.master.commonDocumentViewer(traderKYC){
            @routes.FileController.zoneAccessedTraderFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)
        }{
            <a href="@routes.FileController.zoneAccessedTraderFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)">@traderKYC.documentType</a>
        }{
            <div id="traderKycDocumentStatus@traderKYC.id@traderKYC.documentType"></div>
            <span class="red">@Messages(constants.Form.STATUS)
                @if(traderKYC.status.getOrElse(false)) {
                    <span id="verifiedDocumentStatus@traderKYC.id@traderKYC.documentType" class="result success"><img src="@routes.Assets.versioned("images/success.jpg")"></span>
                    <span id="unverifiedDocumentStatus@traderKYC.id@traderKYC.documentType" class="result failure hidden"><img src="@routes.Assets.versioned("images/unverified.png")"></span>
                } else {
                    <span id="unverifiedDocumentStatus@traderKYC.id@traderKYC.documentType" class="result failure"><img src="@routes.Assets.versioned("images/unverified.png")"></span>
                    <span id="verifiedDocumentStatus@traderKYC.id@traderKYC.documentType" class="result success hidden"><img src="@routes.Assets.versioned("images/success.jpg")">
                        <</span>
                }
            </span>
            <div>
                <span class="red">@Messages(constants.Form.ORGANIZATION_VERIFICATION):
                @if(traderKYC.organizationStatus.getOrElse(false)) {
                    <span id="zoneViewVerifiedTraderKYCDocumentOrganizationStatus@traderKYC.id@traderKYC.documentType" class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                    <span id="zoneViewUnverifiedTraderKYCDocumentOrganizationStatus@traderKYC.id@traderKYC.documentType" class="result failure hidden"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                } else {
                    <span id="zoneViewUnverifiedTraderKYCDocumentOrganizationStatus@traderKYC.id@traderKYC.documentType" class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                    <span id="zoneViewVerifiedTraderKYCDocumentOrganizationStatus@traderKYC.id@traderKYC.documentType" class="result success hidden"><i class="fa fa-check " aria-hidden="true"></i></span>
                }
                </span><br>
                <span class="red">@Messages(constants.Form.ZONE_VERIFICATION):
                @if(traderKYC.zoneStatus.getOrElse(false)) {
                    <span id="zoneViewVerifiedTraderKYCDocumentZoneStatus@traderKYC.id@traderKYC.documentType" class="result success"><i class="fa fa-check " aria-hidden="true"></i></span>
                    <span id="zoneViewUnverifiedTraderKYCDocumentZoneStatus@traderKYC.id@traderKYC.documentType" class="result failure hidden"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                } else {
                    <span id="zoneViewUnverifiedTraderKYCDocumentZoneStatus@traderKYC.id@traderKYC.documentType" class="result failure"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                    <span id="zoneViewVerifiedTraderKYCDocumentZoneStatus@traderKYC.id@traderKYC.documentType" class="result success hidden"><i class="fa fa-check " aria-hidden="true"></i></span>
                }
                </span>
            </div>
            @traderKYC.zoneStatus.getOrElse(None) match {
                case true => {
                    <div id="buttonTraderKycDocumentStatus@traderKYC.id@traderKYC.documentType"><button class="btn btn-danger btn-sm" onclick="zoneRejectTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.REJECT)</button></div>
                }
                case false => {
                    <div id="buttonTraderKycDocumentStatus@traderKYC.id@traderKYC.documentType"><button class="btn btn-success btn-sm" onclick="zoneVerifyTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.APPROVE)</button></div>
                }
                case _ => {
                    <div id="buttonTraderKycDocumentStatus@traderKYC.id@traderKYC.documentType">
                        <button class="btn btn-success btn-sm" onclick="zoneVerifyTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.APPROVE)</button>
                        <button class="btn btn-danger btn-sm" onclick="zoneRejectTraderKycDocument('@traderKYC.id', '@traderKYC.documentType')">@Messages(constants.Form.REJECT)</button>
                    </div>
                }
            }
        }
    }
</div>