@import controllers.actions.LoginState
@import views.html.base._
@import models.master.{AssetHistory, NegotiationHistory}
@import models.master.Trader
@import models.master.Organization

@(traderList: Seq[Trader], organizationList: Seq[Organization], negotiationHistory: NegotiationHistory, assetHistory: Map[String,Option[String]])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id='@Seq(negotiationHistory.id, "TermsView").mkString("")'>
    <div class="tradeTerms">
        <div class="traderCommodity">
            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + assetHistory.getOrElse(constants.Property.ASSET_TYPE.dataName,Some("")).getOrElse("") + ".svg")"></span><span class="tradeName">@Messages(assetHistory.getOrElse(constants.Property.ASSET_TYPE.dataName,Some("")).getOrElse(""))</span>
        </div>
        <div class="terms">
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.COUNTER_PARTY_DETAILS)</div>
            </div>
            @traderList.map{ trader =>
                @trader.id match {
                    case negotiationHistory.sellerTraderID=>{
                        <div class="sellerTerm">
                            <div class="cmuk-flex">
                                <span class="termIcon">@commonIcon("description")</span>
                                @commonTextInfo(constants.View.SELLER, trader.accountID)
                            </div>
                        </div>
                        @organizationList.find(_.id == trader.organizationID) match {
                            case Some(organization)=>{
                                <div class="sellerTerm">
                                    <div class="cmuk-flex">
                                        <span class="termIcon">@commonIcon("description")</span>
                                        @commonTextInfo(constants.View.SELLER_ORGANIZATION, organization.name)
                                    </div>
                                </div>
                            }
                            case None=> {}
                        }
                    }
                    case negotiationHistory.buyerTraderID=>{
                        <div class="sellerTerm">
                            <div class="cmuk-flex">
                                <span class="termIcon">@commonIcon("description")</span>
                                @commonTextInfo(constants.View.BUYER, trader.accountID)
                            </div>
                        </div>
                        @organizationList.find(_.id == trader.organizationID) match {
                            case Some(organization)=>{
                                <div class="sellerTerm">
                                    <div class="cmuk-flex">
                                        <span class="termIcon">@commonIcon("description")</span>
                                        @commonTextInfo(constants.View.BUYER_ORGANIZATION, organization.name)
                                    </div>
                                </div>
                            }
                            case None=> {}
                        }
                    }
                    case _=>{}
                }
                }
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_DETAILS)</div>
            </div>

            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon">@commonIcon("description")</span>
                    @commonTextInfo(constants.View.ASSET_DESCRIPTION, negotiationHistory.assetDescription)
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedAssetDescription) {
                    <span class="cmuk-badge verified">@constants.View.ACCEPTED</span>
                } else {
                    <span class="cmuk-badge pending">@constants.View.PENDING</span>
                }
                </div>
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("contractPrice")</span>
                        @commonTextInfo(constants.View.PRICE_PER_UNIT, Seq((negotiationHistory.price/negotiationHistory.quantity).toString, Messages(constants.View.USD), Messages(constants.View.PER), negotiationHistory.quantityUnit).mkString(" "))
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("contractPrice")</span>
                        @commonTextInfo(constants.View.TOTAL_AMOUNT, Seq(negotiationHistory.price.toRoundedOffString(), Messages(constants.View.USD)).mkString(" "))
                    </div>
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedPrice) {
                    <span class="cmuk-badge verified">@constants.View.ACCEPTED</span>
                } else {
                    <span class="cmuk-badge pending">@constants.View.PENDING</span>
                }
                </div>
            </div>
            <div class="sellerTerm">
                <div class="cmuk-flex">
                    <span class="termIcon">@commonIcon("quantity")</span>
                    @commonTextInfo(constants.View.QUANTITY, Seq(negotiationHistory.quantity.toString, negotiationHistory.quantityUnit).mkString(" "))
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedQuantity) {
                    <span class="cmuk-badge verified">@constants.View.ACCEPTED</span>
                } else {
                    <span class="cmuk-badge pending">@constants.View.PENDING</span>
                }
                </div>
            </div>
            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.ASSET_OTHER_DETAILS)</div>
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("port")</span>
                        @commonTextInfo(constants.View.LOAD_PORT, negotiationHistory.assetOtherDetails.shippingDetails.portOfLoading)
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("port")</span>
                        @commonTextInfo(constants.View.DISCHARGE_PORT, negotiationHistory.assetOtherDetails.shippingDetails.portOfDischarge)
                    </div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("shipmentPeriod")</span>
                        @commonIntInfo(constants.View.SHIPMENT_PERIOD, negotiationHistory.assetOtherDetails.shippingDetails.shippingPeriod)
                    </div>
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedAssetOtherDetails){
                    <span class="cmuk-badge verified">@constants.View.ACCEPTED</span>
                } else{
                    <span class="cmuk-badge pending">@constants.View.PENDING</span>
                }
                </div>
            </div>
            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title">@Messages(constants.View.PAYMENT_TERMS)</div>
            </div>
            <div class="sellerTerm">
                <div>
                    <div class="cmuk-flex">
                        <span class="termIcon">@commonIcon("advancePayment")</span>
                        @commonDoubleInfo(constants.View.ADVANCE_PERCENTAGE, negotiationHistory.paymentTerms.advancePercentage)
                    </div>
                    <div class="subTerms">
                    @negotiationHistory.paymentTerms.credit match {
                        case Some(credit) => {
                            @Messages(constants.View.CREDIT_TERMS):
                            @credit.tentativeDate match {
                                case Some(date) => {
                                    <p>@Messages(constants.View.TENTATIVE_DATE)
                                        - <span class="cmuk-text-bold">@date</span></p>
                                }
                                case None => {
                                    <p>@Messages(constants.View.TENURE)
                                        - <span class="cmuk-text-bold">@credit.tenure.getOrElse(0) @Messages(constants.View.DAYS)</span></p>
                                    <p>@Messages(constants.View.REFERENCE)
                                        - <span class="cmuk-text-bold">@credit.reference.getOrElse("")</span></p>
                                }
                            }

                        }
                        case None => {}
                    }
                    </div>
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedPaymentTerms) {
                    <span class="cmuk-badge verified">@constants.View.ACCEPTED</span>
                } else {
                    <span class="cmuk-badge pending">@constants.View.PENDING</span>
                }
                </div>
            </div>

            <hr>

            <div class="cmuk-flex cmuk-flex-between">
                <div class="title"> @Messages(constants.View.DOCUMENT_LIST)</div>
            </div>
            <div class="sellerTerm">
                <div>
                    <p><span class="cmuk-text-bold">@Messages(constants.View.ASSET_DOCUMENTS):</span></p>
                    @negotiationHistory.documentList.assetDocuments.map{assetDocument=>
                        <p>
                            <span class="termIcon">@commonIcon("document")</span>
                            @Messages(assetDocument)
                        </p>
                    }
                    <p><span class="cmuk-text-bold"> @Messages(constants.View.NEGOTIATION_DOCUMENTS):</span></p>
                    @negotiationHistory.documentList.negotiationDocuments.map{negotiationHistoryDocument=>
                        <p>
                            <span class="termIcon">@commonIcon("document")</span>
                            @Messages(negotiationHistoryDocument)
                        </p>
                    }
                </div>
                <div>
                @if(negotiationHistory.buyerAcceptedDocumentList){
                    <span class="cmuk-badge verified">@constants.View.ACCEPTED</span>
                } else{
                    <span class="cmuk-badge pending">@constants.View.PENDING</span>
                }
                </div>
            </div>
        </div>
    </div>
</div>
