@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.SendFiatRequest
@import models.master.Organization
@import models.master.Trader

@(sendFiatRequests: Seq[SendFiatRequest], sendFiatRequestHistories: Seq[SendFiatRequest], organizations: Seq[Organization], traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@sendFiatRequests.map { sendFiatRequest =>
    @commonVerticalInfoBox() {
        @sendFiatRequestData(sendFiatRequest, false)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
            @commonModalButton(constants.View.VIEW, routes.javascript.SendFiatController.zoneSendFiatForm, 'parameters -> s"'${sendFiatRequest.id}'")
            </p>
        </div>
    }
}

@sendFiatRequestHistories.map { sendFiatRequest =>
    @commonVerticalInfoBox() {
        @sendFiatRequestData(sendFiatRequest, true)
    }
}

@sendFiatRequestData(sendFiatRequest: SendFiatRequest, history: Boolean) = {
    @commonVerticalTextInfo(constants.View.ID, sendFiatRequest.id)
    @traders.find(_.id == sendFiatRequest.traderID) match {
        case Some(trader) => {
            @commonVerticalTextInfo(constants.View.TRADER, trader.accountID)
            @organizations.find(_.id == trader.organizationID) match {
                case Some(organization) => {
                    @commonVerticalTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                }
                case None => {}
            }
        }
        case None => {}
    }
    @commonVerticalMicroIntInfo(constants.View.AMOUNT, sendFiatRequest.amount)
    @commonVerticalTextInfo(constants.View.STATUS, sendFiatRequest.status)
    <div class="listItemChild cmuk-flex cmuk-flex-middle">
        @if(history) {
            @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoomCompleted(sendFiatRequest.negotiationID), 'class->"cmuk-button buttonPrimary")
        } else {
            @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(sendFiatRequest.negotiationID), 'class->"cmuk-button buttonPrimary")
        }
    </div>
}
