@import controllers.actions.LoginState
@import views.html.base._
@import helper._
@import models.master.TraderKYC
@import views.companion.master.ZoneAcceptOrRejectTraderKYCDocument

@(zoneAcceptOrRejectTraderKYCDocumentForm: Form[ZoneAcceptOrRejectTraderKYCDocument.Data] = views.companion.master.ZoneAcceptOrRejectTraderKYCDocument.form, traderKYC: TraderKYC)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<div id="@Seq(traderKYC.id, traderKYC.documentType).mkString("")">
@commonAcceptOrRejectForm(constants.Form.ZONE_ACCEPT_OR_REJECT_TRADER_KYC_DOCUMENT, zoneAcceptOrRejectTraderKYCDocumentForm, Seq(traderKYC.id, traderKYC.documentType).mkString(""), traderKYC.zoneStatus) {
    @commonInputText(zoneAcceptOrRejectTraderKYCDocumentForm, constants.FormField.TRADER_ID, 'value -> traderKYC.id, 'containerDivClass -> "hidden", 'readonly -> true)
    @commonInputText(zoneAcceptOrRejectTraderKYCDocumentForm, constants.FormField.DOCUMENT_TYPE, 'value -> traderKYC.documentType, 'containerDivClass -> "hidden", 'readonly -> true)
}
</div>