@import controllers.actions.LoginState
@import views.html.base._
@import models.master.NegotiationHistory
@import models.master.AssetHistory
@import models.master.Trader

@(negotiationList: Seq[NegotiationHistory], counterPartyTraderList: Seq[Trader], assetList: Map[String, Map[String,Option[String]]])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

    <div class="salesQuoteCard">
    @negotiationList.map { negotiation =>
        @commonVerticalInfoBox() {
            <div class="salesQuoteCardLeft salesChild">
                <div class="content">
                @assetList.get(negotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetIcon">
                            <span class="commodityImage"><img src="@routes.Assets.versioned("images/icons/" + asset.getOrElse(constants.Property.ASSET_TYPE.dataName,Some("")).getOrElse("") + ".svg")"></span>
                        </div>
                        <div class="assetInitialData">
                            <p class="assetTitle">@Messages(asset.getOrElse(constants.Property.ASSET_TYPE.dataName,Some("")).getOrElse(""))</p>
                            <p class="assetQuantity">@Seq(negotiation.quantity.toString, negotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                </div>
            </div>
            <div class="salesQuoteCardMiddle salesChild">
                @assetList.get(negotiation.assetID) match {
                    case Some(asset) => {
                        <div class="assetInitialData">
                            <p class="assetPrice">@Seq((negotiation.price/negotiation.quantity).toString, Messages(constants.View.USD), Messages(constants.View.PER), negotiation.quantityUnit).mkString(" ")</p>
                        </div>
                    }
                    case None => {}
                }
                <p><span cmuk-tooltip="@Messages(constants.View.BUYER_TRADER_ID)">@negotiation.buyerTraderID</span>
                    <span class="lines">---</span>
                    <span cmuk-tooltip="@Messages(constants.View.SELLER_TRADER_ID)">@negotiation.sellerTraderID</span>
                </p>

                @counterPartyTraderList.find(_.id == negotiation.buyerTraderID) match {
                    case Some(trader) => {
                        <p> <span cmuk-tooltip="@Messages(constants.View.BUYER_ORGANIZATION_ID)">@trader.organizationID</span>
                            <span class="lines">---</span>
                            }
                    case None => {}
                }
                @counterPartyTraderList.find(_.id == negotiation.sellerTraderID) match {
                    case Some(trader) => {
                        <span cmuk-tooltip="@Messages(constants.View.SELLER_ORGANIZATION_ID)">@trader.organizationID</span></p>
                    }
                    case None => {}
                }
            </div>
            <div class="salesQuoteCardRight salesChild">
                <div class="cmuk-flex">
                    <span class="arrowIcon">@commonIcon("navigationDownArrow")</span>
                    <div class="cmuk-text-left">
                    <p><span>@negotiation.assetOtherDetails.shippingDetails.portOfLoading</span></p>
                    <p><span>@negotiation.assetOtherDetails.shippingDetails.portOfDischarge</span></p>
                    </div>
                </div>
            @commonLink(constants.View.GO_TO_TRADE_ROOM, routes.ViewController.tradeRoomCompleted(negotiation.id), 'class->"cmuk-button buttonPrimary")
            </div>

        }
    }
    </div>
