@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@(negotiationList: Seq[Negotiation],counterPartyTraderList:Seq[Trader], assetList: Seq[Asset])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@negotiationList.map { negotiation =>
    <li class="commonList">

        @commonVerticalTextInfo(constants.View.BUYER_TRADER_ID, negotiation.buyerTraderID)
        @commonVerticalTextInfo(constants.View.SELLER_TRADER_ID, negotiation.sellerTraderID)
        @counterPartyTraderList.find(_.id == negotiation.buyerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.BUYER_ORGANIZATION_ID, trader.organizationID)
            }
            case None => {}
        }
        @counterPartyTraderList.find(_.id == negotiation.sellerTraderID) match {
            case Some(trader) => {
                @commonTextInfo(constants.View.SELLER_ORGANIZATION_ID, trader.organizationID)
            }
            case None => {}
        }

        @assetList.find(_.id == negotiation.assetID) match {
            case Some(asset) => {
                @commonTextInfo(constants.View.ASSET_TYPE, asset.assetType)
            }
            case None => {}
        }
        @commonVerticalIntInfo(constants.View.PRICE, negotiation.assetAndBuyerAccepted.price)
        @commonVerticalTextInfo(constants.View.QUANTITY, Seq(negotiation.assetAndBuyerAccepted.quantity.toString, negotiation.assetAndBuyerAccepted.quantityUnit).mkString(" "))
        @commonVerticalTextInfo(constants.View.LOAD_PORT, negotiation.assetOtherDetailsAndBuyerAccepted.assetOtherDetails.shippingDetails.portOfLoading)
        @commonVerticalTextInfo(constants.View.DISCHARGE_PORT, negotiation.assetOtherDetailsAndBuyerAccepted.assetOtherDetails.shippingDetails.portOfDischarge)
        @commonVerticalTextInfo(constants.View.STATUS, negotiation.status)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
                <button class="cmuk-button cmuk-button-primary cmuk-button-small">
                @commonLink(constants.View.GO_TO_TRADE_ROOM,routes.ViewController.tradeRoom(negotiation.id), 'class->"secondaryFont")
                </button>
            </p>
        </div>
    </li>
}
