@import controllers.actions.LoginState
@import views.html.base._
@import models.masterTransaction.RedeemFiatRequest
@import models.master.Organization
@import models.master.Trader

@(redeemFiatRequests: Seq[RedeemFiatRequest], organizations: Seq[Organization], traders: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@redeemFiatRequests.map { redeemFiatRequest =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.ID, redeemFiatRequest.id)
        @traders.find(_.id == redeemFiatRequest.traderID) match {
            case Some(trader) => {
                @commonVerticalTextInfo(constants.View.TRADER, trader.accountID)
                @organizations.find(_.id == trader.organizationID) match {
                    case Some(organization) => {
                        @commonVerticalTextInfo(constants.View.ORGANIZATION_NAME, organization.name)
                    }
                    case None => {}
                }
            }
            case None => {}
        }
        @commonVerticalMicroIntInfo(constants.View.AMOUNT, redeemFiatRequest.amount)
        @commonVerticalTextInfo(constants.View.STATUS, redeemFiatRequest.status)
    }
}