@import controllers.actions.LoginState
@import models.master.Trader
@import views.html.base._
@import models.master.TraderKYC

@import models.master.Organization
@(trader: Trader, traderKYCs: Seq[TraderKYC], organization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.TRADER_REQUEST): @trader.id
</legend>
<hr>
@commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
@commonTextInfo(constants.View.NAME, trader.name)

<br>

<div>@Messages(constants.View.ORGANIZATION_DETAILS)</div>
@commonTextInfo(constants.View.NAME, organization.name)
@commonTextInfo(constants.View.ORGANIZATION_ID, organization.id)
@commonTextInfo(constants.View.ACCOUNT_ID, organization.accountID)
@commonTextInfo(constants.Form.EMAIL_ADDRESS, organization.email)
@commonBooleanInfo(constants.View.STATUS, organization.verificationStatus)

<br>

@Messages(constants.Form.DOCUMENTS):
@traderKYCs.map{traderKYC =>
    @component.master.commonDocumentViewer(traderKYC) {
        @routes.FileController.zoneAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)
    } {
        <a href="@routes.FileController.zoneAccessedTraderKYCFile(traderKYC.id, traderKYC.fileName, traderKYC.documentType)">@Messages(traderKYC.documentType)</a>
    } {
        @views.html.component.master.updateTraderKYCDocumentZoneStatus(traderKYC = traderKYC)
        @commonBooleanInfo(constants.View.ORGANIZATION_STATUS, traderKYC.organizationStatus)
    }
}
<br>
@Messages(constants.View.PLEASE_APPROVE_ALL_KYC_DOCUMENTS)
@commonModalButton(constants.Form.NEXT, routes.javascript.BackgroundCheckController.uploadOrUpdateTraderBackgroundCheckFile, 'parameters -> s"'${trader.id}'")
@commonFormButton(constants.Form.ZONE_REJECT_TRADER_REQUEST, 'class -> "cmuk-button-danger cmuk-button-small", 'parameters -> s"'${trader.id}'")