@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Trader

@(rejectedTraderRequests: Seq[Trader])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@rejectedTraderRequests.map { trader =>
    @commonInfoBox() {
        @commonTextInfo(constants.View.TRADER_ID, trader.id)
        @commonTextInfo(constants.View.NAME, trader.name)
        @commonTextInfo(constants.View.ACCOUNT_ID, trader.accountID)
        @commonTextInfo(constants.View.ORGANIZATION_ID, trader.organizationID)
        @commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.zoneViewRejectedTraderRequest, 'parameters -> s"'${trader.id}'")
    }
}