@import controllers.actions.LoginState
@import views.html.base._
@import models.master.Negotiation
@import models.master.Asset
@import models.master.Trader

@import models.master.Order
@import models.master.AssetProperty
@(negotiation: Negotiation, assetProperty: AssetProperty, order: Option[Order])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@commonCard(constants.View.ORDER_ACTIONS,  'cardIconPath -> "images/icons/icons.svg#orderActions"){
}{
    @if(assetProperty.moderated){
        @negotiation.status match {
            case constants.Status.Negotiation.BOTH_PARTIES_CONFIRMED  => {
                @order match {
                    case Some(order)=> {
                        <div class="cmuk-position-center">
                         @if(order.status.isEmpty)   {
                             @commonFormButton(constants.Form.ORDER_TAKE, 'parameters -> s"'${negotiation.id}'")
                         }
                        </div>
                    }
                    case None=>{<div class="cmuk-position-center">@commonFormButton(constants.Form.ORDER_MAKE, 'parameters -> s"'${negotiation.assetID}'")</div>}
                }
            }
            case _=>{<div class="cmuk-position-center">@commonFormButton(constants.Form.RELEASE_ASSET, 'parameters -> s"'${negotiation.assetID}'")</div>}
        }
    }


}
