@import controllers.actions.LoginState
@import views.html.base._

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@views.html.base.common(Messages(constants.View.ACCOUNT), failures, warnings, successes, infos)(left)(center)(right)

@left={

}

@center = {
    @loginState.userType match {
        case constants.User.ZONE => {}
        case constants.User.ORGANIZATION => {
            <div class="cmuk-grid-match cmuk-grid" cmuk-grid>

                <div class="cmuk-width-expand@@m">
                    <div id="organizationViewTradersAccountDetails"></div>
                </div>

            </div>
            <script>
                    componentResource('organizationViewTradersAccountDetails', jsRoutes.controllers.ComponentViewController.organizationViewTradersAccountDetails());
            </script>
        }
        case constants.User.TRADER => {}
        case constants.User.USER => {
            <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.AddZoneController.addZoneForm())">@Messages(constants.Form.ADD_ZONE.legend)</button>
        }
        case _ => {}
    }

}

@right = {

}