@import helper._
@import views.companion.blockchain.AddKey

@(addKeyFrom: Form[AddKey.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("AddKey")) {
    @form(action = routes.AddKeyController.addKey) {
        @CSRF.formField
        @inputText(addKeyFrom(Messages("name")))
        @inputText(addKeyFrom(Messages("seed")))
        @inputPassword(addKeyFrom(Messages("password")))

        @if(addKeyFrom.hasGlobalErrors) {
            <ul>
            @for(error <- addKeyFrom.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("AddKey")</button>
    }
}