@import helper._
@import views.companion.blockchain.AddZone

@(addZoneForm: Form[AddZone.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("AddZone")) {
    @form(action = routes.AddZoneController.addZone) {
        @CSRF.formField
        @inputText(addZoneForm(Messages("from")))
        @inputText(addZoneForm(Messages("to")))
        @inputText(addZoneForm(Messages("zoneID")))
        @inputText(addZoneForm(Messages("chainID")))
        @inputText(addZoneForm(Messages("password")))

        @if(addZoneForm.hasGlobalErrors) {
            <ul>
            @for(error <- addZoneForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("AddZone")</button>
    }
}