@import helper._
@import views.companion.blockchain.ChangeBuyerBid

@(changeBuyerBidForm: Form[ChangeBuyerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("ChangeBuyerBid")) {
    @form(action = routes.ChangeBuyerBidController.changeBuyerBid) {
        @CSRF.formField
        @inputText(changeBuyerBidForm(Messages("from")))
        @inputText(changeBuyerBidForm(Messages("to")))
        @inputText(changeBuyerBidForm(Messages("bid")))
        @inputText(changeBuyerBidForm(Messages("time")))
        @inputText(changeBuyerBidForm(Messages("pegHash")))
        @inputText(changeBuyerBidForm(Messages("chainID")))
        @inputText(changeBuyerBidForm(Messages("gas")))
        @inputPassword(changeBuyerBidForm(Messages("password")))

        @if(changeBuyerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- changeBuyerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("ChangeBuyerBid")</button>
    }
}
