@import helper._
@import views.companion.blockchain.ChangeSellerBid

@(changeSellerBidForm: Form[ChangeSellerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("ChangeSellerBid")) {
    @form(action = routes.ChangeSellerBidController.changeSellerBid) {
        @CSRF.formField
        @inputText(changeSellerBidForm(Messages("from")))
        @inputText(changeSellerBidForm(Messages("to")))
        @inputText(changeSellerBidForm(Messages("bid")))
        @inputText(changeSellerBidForm(Messages("time")))
        @inputText(changeSellerBidForm(Messages("pegHash")))
        @inputText(changeSellerBidForm(Messages("chainID")))
        @inputText(changeSellerBidForm(Messages("gas")))
        @inputPassword(changeSellerBidForm(Messages("password")))

        @if(changeSellerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- changeSellerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("ChangeSellerBid")</button>
    }
}