@import controllers.actions.LoginState
@(title: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(left: Html)(center: Html = Html(""))(right: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/class.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/tag.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/css-uk/uikit.min.css")">
@*        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/css-uk/uikit-rtl.min.css")">*@
        <script src="@routes.JavaScriptRoutesController.javascriptRoutes" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("javascripts/jQuery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/firebase.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/cookie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/configuration.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/pushNotification.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/notification.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/componentResource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/fetchOrShowHide.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/getForm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/submitForm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/validateForm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/js-uk/uikit.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/js-uk/uikit-icons.min.js")" type="text/javascript"></script>

    </head>
    <body>
        <header>
            <div cmuk-sticky="sel-target: .cmuk-navbar-container; cls-active: cmuk-navbar-sticky; bottom: #transparent-sticky-navbar">

            <nav class="cmuk-navbar-container" cmuk-navbar>
                    <div class="cmuk-navbar-left">
                        <a class="cmuk-navbar-item cmuk-logo" href="@controllers.routes.IndexController.index()">
                            <img src="@routes.Assets.versioned("images/commitLogo.png")" class="navigationBarLogo">
                        </a>
                    </div>
                    <div class="cmuk-navbar-right">
                        <ul class="cmuk-navbar-nav">
                        @loginState match {
                            case null => {
                                <li> <a onclick="getForm(jsRoutes.controllers.SignUpController.signUpForm())"><i class="fa fa-user-plus"></i>
                                    @Messages(constants.Form.SIGNUP)</a></li>
                                <li><a onclick="getForm(jsRoutes.controllers.LoginController.loginForm())"><i class="fa fa-sign-in" aria-hidden="true"></i>
                                    @Messages(constants.Form.LOGIN)</a>
                                </li>
                            }
                        case default => {
                            @loginState.userType match {
                                case constants.User.TRADER => {
                                    <li><a href="@controllers.routes.ViewController.market()">@Messages(constants.Form.MARKET)</a></li>
                                }
                                case constants.User.ZONE => {
                                    <li><a href="@controllers.routes.ViewController.zoneRequest()">@Messages(constants.Form.REQUEST)</a></li>
                                    <li><a href="@controllers.routes.ViewController.zoneInformation()">@Messages(constants.Form.INFORMATION)</a></li>
                                }
                                case constants.User.ORGANIZATION => {
                                    <li><a href="@controllers.routes.ViewController.organizationRequest()">@Messages(constants.Form.REQUEST)</a></li>
                                    <li><a href="@controllers.routes.ViewController.organizationInformation()">@Messages(constants.Form.INFORMATION)</a></li>
                                }
                                case constants.User.GENESIS => {
                                    <li><a href="@controllers.routes.ViewController.genesisRequest()">@Messages(constants.Form.REQUEST)</a></li>
                                    <li><a href="@controllers.routes.ViewController.genesisInformation()">@Messages(constants.Form.INFORMATION)</a></li>
                                }
                                case _ => {}
                            }
                            <li><a class="notification" onclick="getForm(jsRoutes.controllers.NotificationController.notificationPage(0))"><i class="fa fa-bell" aria-hidden="true"></i>
                                @Messages(constants.Form.INBOX)
                                <span class="badge" id="notificationBadge">0</span>
                            </a>
                            </li>
                            <li>
                                <a href="#">
                                @loginState.username
                                </a>
                                <div class="cmuk-navbar-dropdown">
                                    <ul class="cmuk-nav cmuk-navbar-dropdown-nav">
                                        <li><a href="@controllers.routes.ViewController.profile()"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                            &nbsp;
                                            @Messages(constants.Form.PROFILE)</a>
                                        </li>
                                        <li> <a onclick="getForm(jsRoutes.controllers.LogoutController.logoutForm())"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                            &nbsp;
                                            @Messages(constants.Form.LOGOUT)</a>
                                        </li>

                                    </ul>

                                </div>
                            </li>
                        }
                            }
                        </ul>

                    </div>
                </nav>
            </div>

        </header>
        <div class="centerText">
            @for(failure <- failures) {
                <div class="alert failure" onclick="getForm(@failure.action)">
                    <span class="closeButton">x</span>
                    <strong>@Messages(constants.Form.FAILURE)</strong>
                    @Messages(failure.message)
                </div>
            }
            @for(warning <- warnings) {
                <div class="alert warning" onclick="getForm(@warning.action)">
                    <span class="closeButton">x</span>
                    <strong>@Messages(constants.Form.WARNING)</strong>
                    @Messages(warning.message)
                </div>
            }

            @for(success <- successes) {
                <div class="alert success" onclick="getForm(@success.action)">
                    <span class="closeButton">x</span>
                    <strong>@Messages(constants.Form.SUCCESS)</strong>
                    @Messages(success.message)
                </div>
            }
            @for(info <- infos) {
                <div class="alert information" onclick="getForm(@info.action)">
                    <span class="closeButton">x</span>
                    <strong>@Messages(constants.Form.INFORMATION)</strong>
                    @Messages(info.message)
                </div>
            }
        </div>
        <div class="pageContent">
            <div class="left_side">
            @left
            </div>
            <div class="middle">
            @center
            </div>
            <div class="right_side">
            @right
            </div>
        </div>


        <div class="modal" id="commonModal">

            <div class="latest_card latest_card-login modalContent" id="commonModalContent">
            </div>


        </div>

        <div class = "modal centerScreen" id="loading">
            <img src="@routes.Assets.versioned("images/loading.gif")" alt = "@Messages(constants.Form.LOADING)"/>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="copyright float-right">
                            &copy;
                    <script>
                            document.write(new Date().getFullYear())
                    </script>
                    <a href="" target="_blank">Commit</a>
                </div>
            </div>
        </footer>
        <script src="@routes.Assets.versioned("javascripts/style/ajaxLoading.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/style/alert.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/style/modal.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/style/hideElement.js")" type="text/javascript"></script>

 </body>
</html>
