@(title: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(content: Html)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/class.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.JavaScriptRoutesController.javascriptRoutes" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("javascripts/jQuery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/firebase.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/cookie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/configuration.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/pushNotification.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/notification.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="pageContent">
            <div class="stickyBar">
                <div class = "navbar">
                    <a class="active" href="#">Home</a>
                        <a href="#">News</a>
                    <a href="#">Contact</a>
                    <a class="right" onclick="getForm(jsRoutes.controllers.SignUpController.signUpForm())">@Messages(constants.Form.SIGNUP)</a>
                    <a class="right" onclick="getForm(jsRoutes.controllers.LogoutController.logoutForm())">@Messages(constants.Form.LOGOUT)</a>
                    <a class="right" onclick="getForm(jsRoutes.controllers.LoginController.loginForm())">@Messages(constants.Form.LOGIN)</a>
                    <a class="right notification" onclick="getForm(jsRoutes.controllers.NotificationController.notificationPage(0))">@Messages(constants.Form.INBOX)
                    <span class="badge" id="notificationBadge">0</span>
                    </a>

                </div>

                @for(failure <- failures) {
                    <div class="alert failure" onclick="getForm(@failure.action)">
                        <span class="closeButton">x</span>
                        <strong>@Messages(constants.Form.FAILURE)</strong>
                        @Messages(failure.message)
                    </div>
                }
                @for(warning <- warnings) {
                    <div class="alert warning" onclick="getForm(@warning.action)">
                        <span class="closeButton">x</span>
                        <strong>@Messages(constants.Form.WARNING)</strong>
                        @Messages(warning.message)
                    </div>
                }

                @for(success <- successes) {
                    <div class="alert success" onclick="getForm(@success.action)">
                        <span class="closeButton">x</span>
                        <strong>@Messages(constants.Form.SUCCESS)</strong>
                        @Messages(success.message)
                    </div>
                }
                @for(info <- infos) {
                    <div class="alert information" onclick="getForm(@info.action)">
                        <span class="closeButton">x</span>
                        <strong>@Messages(constants.Form.INFORMATION)</strong>
                        @Messages(info.message)
                    </div>
                }
            </div>
            @content
        </div>

        <div class="modal" id="commonModal">
            <div class="modal-content " id="commonModalContent"></div>
        </div>
        <div class = "modal center-screen" id="loading">
            <img src="@routes.Assets.versioned("images/loading.gif")" alt = "@Messages(constants.Form.LOADING)"/>
        </div>
        <script type="text/javascript" src="@routes.JavaScriptRoutesController.javascriptRoutes"></script>
        <script src="@routes.Assets.versioned("javascripts/getForm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/submitForm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/validateForm.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/style/alert.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/style/ajaxLoading.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/style/modal.js")" type="text/javascript"></script>

    </body>
</html>
