@import controllers.actions.LoginState
@(title: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(left: Html = Html(""))(center: Html = Html(""))(right: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, loginState: LoginState = null)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styleV3.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/css-uk/uikitV3.min.css")">
        <script src="@routes.JavaScriptRoutesController.javascriptRoutes" type="text/javascript" ></script>
        <script src="@routes.Assets.versioned("javascripts/jQuery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/firebase.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/cookie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/configuration.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/notification.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/componentResource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/getForm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/replaceDocument.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/submitFormOnEnter.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/submitForm.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/validateForm.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/js-uk/uikitV3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/js-uk/uikit-iconsV3.min.js")" type="text/javascript"></script>
    </head>
    <div class="header">
        <nav class="uk-navbar-container uk-navbar" uk-navbar="">

            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#"><img src="@routes.Assets.versioned("/images/logo.svg")"></a>
                <ul class="uk-navbar-nav uk-visible@@m">
                    <li><a href="#">Market</a></li>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav uk-visible@@m">
                    <li><a href="login.html">Login</a></li>
                    <li>
                        <a class="registerButton" href="register.html
                        "> <button class="uk-button uk-button-primary">Register</button></a>
                    </li>
                    <li><a href="#">USD</a></li>

                </ul>
                <a class="uk-navbar-toggle uk-hidden@@m uk-icon uk-navbar-toggle-icon" uk-toggle="target: #offcanvas-flip" uk-navbar-toggle-icon="" href="#"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></a>


            </div>

        </nav>
        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true" class="uk-offcanvas" style="">
            <div class="uk-offcanvas-bar">

                <button class="uk-offcanvas-close uk-icon uk-close" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
                <ul class="uk-nav uk-nav-default">
                    <li><a href="#">Market</a></li>
                    <li><a href="#">Login</a></li>
                    <li>
                        <a href="">Register</a>
                    </li>
                    <li><a href="#">USD</a></li>


                </ul>
            </div>
        </div>
    </div>
    <div class="pageContent">
        <div class="leftSide">
        @left
        </div>
        <div class="middle">
        @center
        </div>
        <div class="rightSide">
        @right
        </div>
    </div>

</html>