@import helper._
@import views.companion.blockchain.ConfirmBuyerBid

@(confirmBuyerBidForm: Form[ConfirmBuyerBid.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("ConfirmBuyerBid")) {
    @form(action = routes.ConfirmBuyerBidController.confirmBuyerBid) {
        @CSRF.formField
        @inputPassword(confirmBuyerBidForm(Messages("from")))
        @inputPassword(confirmBuyerBidForm(Messages("password")))
        @inputPassword(confirmBuyerBidForm(Messages("to")))
        @inputPassword(confirmBuyerBidForm(Messages("bid")))
        @inputPassword(confirmBuyerBidForm(Messages("time")))
        @inputPassword(confirmBuyerBidForm(Messages("pegHash")))
        @inputPassword(confirmBuyerBidForm(Messages("chainID")))
        @inputPassword(confirmBuyerBidForm(Messages("gas")))

        @if(confirmBuyerBidForm.hasGlobalErrors) {
            <ul>
            @for(error <- confirmBuyerBidForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("ConfirmBuyerBid")</button>
    }
}