@import controllers.actions.LoginState
@import views.html.base.common
@import views.html.base._

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.View.DASHBOARD), failures, warnings, successes, infos)(left)(center)(right)

@left={
    <div class="leftSideContainer">
        <div id="financials" class="financial"></div>
    </div>
    <script>
        @loginState.userType match {
            case constants.User.TRADER => {
            componentResource('financials', jsRoutes.controllers.ComponentViewController.traderFinancials());
            }
            case constants.User.ORGANIZATION => {}
            case constants.User.ZONE => {}
            case constants.User.GENESIS => {}
            case _ => {}
        }
    </script>
}
    @center = {
        <div>
            @commonFormButton(constants.Form.MEMBER_CHECK_MEMBER_SCAN)
            @commonFormButton(constants.Form.MEMBER_CHECK_CORPORATE_SCAN)
        </div>
        <div class="cmuk-container cmuk-margin-bottom">
        @loginState.userType match {
            case constants.User.ZONE => {
                <div>
                    <div id="zoneTradeStatistics" class="cmuk-margin-bottom"></div>
                </div>

                <div>
                    <div id="zoneViewOrganizationAccountList" class="switcherCard"></div>
                </div>

                <div class="tradeList cmuk-margin-bottom">
                @commonCard(constants.View.TRADE_ROOMS) {
                } {
                    <div id="zoneViewAcceptedNegotiationList"></div>
                }
                </div>
                <script>
                    componentResource('zoneTradeStatistics', jsRoutes.controllers.ComponentViewController.zoneTradeStatistics());
                    componentResource('zoneViewOrganizationAccountList', jsRoutes.controllers.ComponentViewController.zoneViewOrganizationAccountList());
                    componentResource('zoneViewAcceptedNegotiationList', jsRoutes.controllers.ComponentViewController.zoneViewAcceptedNegotiationList());
            </script>
        }
        case constants.User.ORGANIZATION => {
                <div>
                    <div id="organizationTradeStatistics" class="cmuk-margin-bottom"></div>
                </div>
                <div>
                    <div id="organizationViewAcceptedNegotiationList" class="switcherCard"></div>
                </div>
                <div>
                    <div id="organizationViewSentReceivedIncompleteRejectedFailedNegotiationList" class="switcherCard"></div>
                </div>
            <script>
                componentResource('organizationViewAcceptedNegotiationList', jsRoutes.controllers.ComponentViewController.organizationViewAcceptedNegotiationList());
                componentResource('organizationViewSentReceivedIncompleteRejectedFailedNegotiationList', jsRoutes.controllers.ComponentViewController.organizationViewSentReceivedIncompleteRejectedFailedNegotiationList());
                componentResource('organizationTradeStatistics', jsRoutes.controllers.ComponentViewController.organizationTradeStatistics());
            </script>
        }
        case constants.User.TRADER => {
                <div>
                    <div id="traderTradeStatistics"></div>
                </div>

            <script>
                    componentResource('traderTradeStatistics', jsRoutes.controllers.ComponentViewController.traderTradeStatistics());
            </script>
        }
        case constants.User.USER => {}
        case _ => {}
    }
    </div>
}

@right = {
    <div class="rightSideContainer">
    <div class="recentActivityContainer">
        <div id="recentActivities"></div>
    </div>
    </div>
    <script>
            componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
    </script>

}