@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME))(Html(""))(center)(Html(""))
@center = {
    <div class="flexContainer">
        <div id="commonHome" class=" flexItem flexGrowth"></div>
    </div>
    <script>
        componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome())
    </script>
}