@import utilities.LoginState
@(username: String, address: String, coins: Int = 0)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME))(Html(""))(center)(Html(""))
    @center = {
    <div class="flexContainer">
    @component.master.commonHome(username = username, userType = constants.User.GENESIS, address = address, coins = coins)
    </div>
    <div class="centerText">
    <button onclick="getForm(jsRoutes.controllers.AddZoneController.viewPendingVerifyZoneRequests())">@Messages(constants.Form.PENDING_VERIFY_ZONE_REQUESTS)</button>

    <button onclick="getForm(jsRoutes.controllers.SendCoinController.viewPendingFaucetRequests())">@Messages(constants.Form.APPROVE_FAUCET_REQUEST)</button>
    </div>
}