@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))

@center = {
    <ul class="flexContainer" cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('genesisInformation', jsRoutes.controllers.AddZoneController.viewZonesInGenesis(), this)">@Messages(constants.Form.ZONES)</a>
            <div class="cmuk-accordion-content">
                <div id="genesisInformation" class="scrollableFirst"></div>
            </div>
        </li>
    </ul>
}
