@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))
    <div class="row">
    @center = {
        <div class="flexContainer">
            <div class="col-md-6">
            <div class="flexGrowth card leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('pendingVerifyZoneRequests', jsRoutes.controllers.AddZoneController.viewPendingVerifyZoneRequests(), this)">@Messages(constants.Form.PENDING_VERIFY_ZONE_REQUESTS) </h2>
                </div>
                <div id="pendingVerifyZoneRequests" class="flexContainer">
                </div>
            </div>
            </div>
                <div class="col-md-6">
            <div class="flexGrowth card leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('pendingFaucetRequests', jsRoutes.controllers.SendCoinController.viewPendingFaucetRequests(), this)">@Messages(constants.Form.APPROVE_FAUCET_REQUEST) </h2>
                </div>
                <div id="pendingFaucetRequests" class="flexContainer">
                </div>
            </div>
                </div>
        </div>
    }
    </div>