@import utilities.LoginState
@(username: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME))(Html(""))(center)(Html(""))
@center = {
    <div class="flexContainer">
        <div id="commonHome" class="box flexItem flexGrowth"></div>
    <div class="centerText">
        <button onclick="getForm(jsRoutes.controllers.AddZoneController.viewPendingVerifyZoneRequests())">@Messages(constants.Form.PENDING_VERIFY_ZONE_REQUESTS)</button>
        <button onclick="getForm(jsRoutes.controllers.SendCoinController.viewPendingFaucetRequests())">@Messages(constants.Form.APPROVE_FAUCET_REQUEST)</button>
    </div>
    </div>
    <script>
        componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome('@loginState.username'))
    </script>
}