@import controllers.actions.LoginState
@import views.html.component.blockchain._
@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@commonV3(Messages(constants.Form.INDEX), failures, warnings, successes, infos)()(center)()
    @center={
        <div class="bannerContainer">
            <div class="uk-container uk-flex">
                <div class="bannerText">
                    <h2>The Future of Commodity Trading is Here</h2>
                    <p>Comdex is an ecosystem with Traders, Financiers and Underwriters under one platform.</p>
                    <div class="bannerButtons uk-flex">
                        <button class="uk-button uk-button-primary">SELL</button>
                        <button class="uk-button uk-button-default">BUY</button>
                    </div>
                </div>
                <div class="bannerImage">
                    <img src="@routes.Assets.versioned("/images/bannerImage.svg")">
                </div>
            </div>

        </div>
        <div uk-slider="" class="uk-slider">
            <div class="uk-container">
                <div class="uk-slider-container">
                    <marquee>
                        <ul class="uk-slider-items uk-child-width-1-5" style="transform: translate3d(0px, 0px, 0px);">
                            <li tabindex="-1" class="uk-active">
                                <span class="sliderItemName">WHEAT</span> <span class="sliderItemValue">$14,000 m/t</span>
                                <span class="sliderItemPercentage">+4.5%</span>
                            </li>
                            <li tabindex="-1" class="uk-active">
                                <span class="sliderItemName">WHEAT</span> <span class="sliderItemValue">$14,000 m/t</span>
                                <span class="sliderItemPercentage">+4.5%</span>
                            </li>
                            <li tabindex="-1" class="uk-active">
                                <span class="sliderItemName">WHEAT</span> <span class="sliderItemValue">$14,000 m/t</span>
                                <span class="sliderItemPercentage">+4.5%</span>
                            </li>
                            <li tabindex="-1" class="uk-active">
                                <span class="sliderItemName">WHEAT</span> <span class="sliderItemValue">$14,000 m/t</span>
                                <span class="sliderItemPercentage">+4.5%</span>
                            </li>
                            <li tabindex="-1" class="uk-active">
                                <span class="sliderItemName">WHEAT</span> <span class="sliderItemValue">$14,000 m/t</span>
                                <span class="sliderItemPercentage">+4.5%</span>
                            </li>
                            <li tabindex="-1" class="">
                                <span class="sliderItemName">WHEAT</span> <span class="sliderItemValue">$14,000 m/t</span>
                                <span class="sliderItemPercentage">+4.5%</span>
                            </li>
                            <li tabindex="-1">
                                <span class="sliderItemName">WHEAT</span> <span class="sliderItemValue">$14,000 m/t</span>
                                <span class="sliderItemPercentage">+4.5%</span>
                            </li>
                        </ul>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="uk-container headingSection">
            <p class="uk-padding-large">Lorem ipsum dolor sit amet, consectetur $2,785,511, sed do eiusmod tempor incididunt
                ut 7500 et dolore magna 34. Ut enim.</p>
        </div>
        <div class="tabsSection">
            <div class="uk-container">
                <div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right">
                    <h2>The value of Comdex</h2>
                    <div class="tabs">
                        <div uk-grid="" class="uk-grid uk-grid-stack">
                            <div class="verticalDataTabs uk-first-column">

                                <ul class="uk-nav uk-nav-default uk-width-auto@@m" uk-switcher="connect: #component-nav; animation: uk-animation-fade">
                                    <li class=""><a href="#" aria-expanded="false">Traders <span uk-icon="chevron-right" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                                    </li>
                                    <li class=""><a href="#" aria-expanded="false">Financiars <span uk-icon="chevron-right" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a></li>
                                    <li class="uk-active"><a href="#" aria-expanded="true">Underwriters <span uk-icon="chevron-right" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="chevron-right"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a></li>
                                </ul>

                            </div>
                            <div class="verticalDataTabsContent uk-width-expand@@m uk-grid-margin uk-first-column">

                                <ul id="component-nav" class="uk-switcher" style="touch-action: pan-y pinch-zoom;">
                                    <li class="" style="">
                                        <div class="verticalDataTabsData">
                                            <div class="uk-width-1-1@@s">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor
                                                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                            <div class="uk-width-1-1@@s">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor
                                                    incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="" style="">
                                        <div class="verticalDataTabsData">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor
                                                    sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uk-active  " style="">
                                        <div class="verticalDataTabsData">
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, et dolore magna aliqua.Lorem ipsum dolor sit
                                                    amet,
                                                    consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                            <div>
                                                <p>Lorem ipsum dolor sit amet sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactSetion">
            <div class="uk-container">
                <div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right">
                    <div>
                        <div uk-grid="" class="uk-child-width-1-1 uk-child-width-1-4@@m uk-grid uk-grid-stack">
                            <h3 class="uk-first-column">Contact Us</h3>
                            <div class="uk-grid-margin uk-first-column">
                                <input type="text" class="uk-input uk-form-width-medium " placeholder="Email">
                            </div>
                            <div class="uk-grid-margin uk-first-column">
                                <input type="text" class="uk-input uk-form-width-medium " placeholder="Message">
                            </div>
                            <div class="uk-grid-margin uk-first-column">
                                <input type="submit" class="uk-button uk-width-small " value="send">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }