@import controllers.actions.LoginState
@import play.twirl.api.Html
@import views.html.base._
@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.INDEX), failures, warnings, successes, infos)(Html(""))(center)(Html(""))

@center = {
    <div class="cmuk-container headingSection">
        <p class="cmuk-padding-large">Lorem ipsum dolor sit amet, consectetur $2,785,511, sed do eiusmod tempor
            incididunt
            ut 7500 et dolore magna 34. Ut enim.</p>
    </div>

    <div class="tabsSection">
        <div class="cmuk-container">
            <div class="cmuk-padding-large cmuk-padding-remove-left cmuk-padding-remove-right">
                <h2>The value of Comdex</h2>
                @commonVerticalSwitcher(htmlItems = Map(constants.View.INDEX_TRADERS_HEADER -> Html(Messages(constants.View.INDEX_TRADERS)),
                        constants.View.INDEX_FINANCIER_HEADER -> Html(Messages(constants.View.INDEX_FINANCIER)),
                        constants.View.INDEX_UNDERWRITERS_HEADER -> Html(Messages(constants.View.INDEX_UNDERWRITERS))))
            </div>
        </div>
    </div>

    <div class="contactSection">

        <div class="cmuk-container">
            <div class="cmuk-padding-large cmuk-padding-remove-left cmuk-padding-remove-right">
                <div>
                    <div cmuk-grid class="cmuk-child-width-1-1 cmuk-child-width-1-4@@m">
                        <h3>Contact Us</h3>
                        <div>
                            <input type="text" class="cmuk-input cmuk-form-width-medium " placeholder="Email">
                        </div>
                        <div>
                            <input type="text" class="cmuk-input cmuk-form-width-medium " placeholder="Message">
                        </div>
                        <div>
                            <button type="submit" class="cmuk-button cmuk-width-small ">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

