@(success: String = "", failure: String = "")(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@common(Messages("Welcome"), success, failure) {
    <a href="@routes.LoginController.loginForm">@Messages("Login")</a>
    <a href="@routes.SignUpController.signUpForm">@Messages("SignUp")</a>
    <a href="@routes.UpdateContactController.updateContactForm">@Messages("UpdateContact")</a>
    <a href="@routes.VerifyMobileNumberController.verifyMobileNumberForm">@Messages("VerifyMobileNumber")</a>
    <a href="@routes.VerifyEmailAddressController.verifyEmailAddressForm">@Messages("VerifyEmailAddress")</a>
    <div style="
        width: 1000px;
    ">
        @blockExplorer()
        @transactionExplorer()
    </div>
}