@import helper._
@import views.companion.blockchain.IssueFiat

@(issueFiatForm: Form[IssueFiat.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("IssueFiat")) {
    @form(action = routes.IssueFiatController.issueFiat) {
        @CSRF.formField
        @inputText(issueFiatForm(Messages("from")))
        @inputText(issueFiatForm(Messages("to")))
        @inputText(issueFiatForm(Messages("transactionID")))
        @inputText(issueFiatForm(Messages("transactionAmount")))
        @inputText(issueFiatForm(Messages("chainID")))
        @inputText(issueFiatForm(Messages("password")))
        @inputText(issueFiatForm(Messages("gas")))

        @if(issueFiatForm.hasGlobalErrors) {
            <ul>
            @for(error <- issueFiatForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("IssueFiat")</button>
    }
}