@import controllers.actions.LoginState
@import views.html.base.common

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @common(Messages(constants.View.KYC), failures, warnings, successes, infos)(left)(center)(right)

    @left = {
        <div class="leftContainer" xmlns="">
            <div id="financials" class="financial"></div>
        </div>
                @loginState.userType match {
                case constants.User.TRADER => {
                <script>
                componentResource('financials', jsRoutes.controllers.ComponentViewController.traderFinancials());
                </script>
                }
                case constants.User.ORGANIZATION => {
                  <script>
                  componentResource('financials', jsRoutes.controllers.ComponentViewController.organizationFinancial());
                  </script>
                }
                case constants.User.ZONE => {
                  <script>
                componentResource('financials', jsRoutes.controllers.ComponentViewController.zoneFinancial());
                  </script>
                }
                case constants.User.GENESIS => {}
                case _ => {}
                }

        <div class="leftContainer" xmlns="">
            <div id="iMBCheckLists" class="iMBCheckList">

            </div>
        </div>
    }

    @center = {
        <div class="cmuk-container cmuk-margin-bottom">
        <script>
            componentResource('kycRooms', jsRoutes.controllers.ViewController.kycRooms());
        </script>
        </div>

    }

    @right = {
        <div class="rightContainer">
            <div class="recentActivityContainer">
                <div id="recentActivities"></div>
            </div>
        </div>
        <script>
                componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities(), 'RECENT_ACTIVITY_LOADING');
        </script>

        <div class="rightContainer">
            <div class="contactsContainer">
                <div id="contacts"></div>
            </div>
        </div>
        <script>
        </script>
    }
