@import helper._
@import views.companion.master.Login

@(loginForm: Form[Login.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages("Welcome")) {
        @form(action = routes.LoginController.login) {
            @CSRF.formField
            @inputText(loginForm(Messages("Username")))
            @inputPassword(loginForm(Messages("Password")))

            @if(loginForm.hasGlobalErrors) {
                <ul>
                @for(error <- loginForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="submit">@Messages("Login")</button>
        }
    }
