@import helper._
@import views.forms.Login

@(loginForm: Form[Login.Data])(implicit messagesRequestHeader: MessagesRequestHeader)
@form(action = routes.LoginController.login){
    @CSRF.formField
    @inputText(loginForm(Messages("Username")))
    @inputText(loginForm(Messages("Password")))

    @if(loginForm.hasGlobalErrors){
        <ul>
            @for(error <- loginForm.globalErrors){
                <li>@error.format</li>
            }
        </ul>
    }
    <button type="submit">@Messages("Login")</button>
}
