@import controllers.actions.LoginState
@import utilities.Configuration.OtherApp

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, otherApps: Seq[OtherApp],loginState: LoginState)

@views.html.base.common(Messages(constants.View.ACCOUNT), failures, warnings, successes, infos)(left)(center)(right)

@left = {
    <div class="leftContainer">
        <div id="latestBlockHeight" class="cmuk-margin-bottom tableCard cmuk-card-styles containerHeight"></div>
        <div id="tokensStatistics" class="cardSelectHeader tableViewCard cmuk-margin-bottom cardContainer cmuk-card-styles"></div>
    </div>
    <script>
            componentResource('latestBlockHeight', jsRoutes.controllers.ComponentViewController.latestBlockHeight());
            componentResource('tokensStatistics', jsRoutes.controllers.ComponentViewController.tokensStatistics());
    </script>
}

@center = {
    <div class="cmuk-container cmuk-margin-bottom">
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div id="ordersDefinition"></div>
            </div>
        </div>
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div id="ordersMade"></div>
            </div>
        </div>
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div id="ordersTake"></div>
            </div>
        </div>
        <div class="cmuk-grid-match" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div id="orderTransactions"></div>
            </div>
        </div>
    </div>
    <script>
            componentResource('ordersDefinition', jsRoutes.controllers.ComponentViewController.ordersDefinition());
            componentResource('ordersMade', jsRoutes.controllers.ComponentViewController.ordersMade());
            componentResource('ordersTake', jsRoutes.controllers.ComponentViewController.ordersTake());
            componentResource('orderTransactions', jsRoutes.controllers.ComponentViewController.moduleTransactions('@constants.View.ORDER'));
    </script>
}

@right = {
    <div class="rightContainer">
        <div id="recentActivities" class="cmuk-card-styles containerHeight recentActivityContainer"></div>
        <div id="votingPowers" class="cmuk-margin-bottom tableViewCard cmuk-card-styles containerHeight"></div>
    </div>
    <script>
            componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
            componentResource('votingPowers', jsRoutes.controllers.ComponentViewController.votingPowers());
    </script>
}