@import models.master.Organization
@import controllers.actions.LoginState
@(organization: Organization)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME))(Html(""))(center)(Html(""))
@center = {
    <div class="flexContainer">
        <div id="commonHome" class="box flexItem flexGrowth"></div>
        <div class="flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ORGANIZATION)</h2>
            </div>
            <div id="organization"></div>
        </div>
        <div class="flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ZONE):</h2>
            </div>
            <div id="zone">
            </div>
        </div>
    </div>
    <div class="centerText">
        <button onclick="getForm(jsRoutes.controllers.FileController.updateOrganizationKycForm('@constants.File.BANK_DETAILS'))">@Messages(constants.Form.UPDATE_ORGANIZATION_BANK_DETAILS)</button>
        <button onclick="getForm(jsRoutes.controllers.FileController.updateOrganizationKycForm('@constants.File.IDENTIFICATION'))">@Messages(constants.Form.UPDATE_ORGANIZATION_IDENTIFICATION)</button>
    </div>
    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails());
            componentResource('organization', jsRoutes.controllers.ComponentViewController.organizationDetails());
    </script>
}