@import controllers.actions.LoginState
@import models.master.Organization
@(organization: Organization, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.HOME), failures, warnings, successes, infos)(Html(""))(center)(Html(""))
@center = {
        <div id="commonHome" class="flexItem flexGrowth"></div>
    <div class="cmuk-container">
        <div class="cmuk-grid-match cmuk-grid" cmuk-sortable="handle: .cmuk-card" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                <div class="cmuk-card cmuk-card-default">
                    <div class="cmuk-card-header">
                        <span class="heading">@Messages(constants.Form.ORGANIZATION):</span>
                    </div>
                    <div class="cmuk-card-body">
                        <div id="organization"></div>
                    </div>
                </div>
            </div>
            <div class="cmuk-width-expand@@m">
                <div class="cmuk-card cmuk-card-default">
                    <div class="cmuk-card-header">
                        <span class="heading">@Messages(constants.Form.ZONE):</span>
                    </div>
                    <div class="cmuk-card-body">
                        <div id="zone"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cmuk-container">
    <div>
        <button onclick="getForm(jsRoutes.controllers.SetACLController.inviteTraderForm())">@Messages(constants.Form.INVITE_TRADER.legend)</button>
    </div>
    <div class="flexContainer"><span class="centerText">@Messages(constants.Form.TEAM)</span><br>
        <div id="organizationTraders" class="flexItem flexGrowth"></div>
    </div>
    </div>

    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails());
            componentResource('organization', jsRoutes.controllers.ComponentViewController.organizationDetails());
            componentResource('organizationTraders', jsRoutes.controllers.ComponentViewController.organizationViewTraderList());
    </script>
}