@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))


    @center = {
        <div class="flexContainer">

            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('setACLList', jsRoutes.controllers.SetACLController.organizationViewPendingVerifyTraderRequests(), this)">@Messages(constants.Form.SET_ACL) </h2>
                </div>
                <div id="setACLList" class="flexContainer">
                </div>
            </div>
        </div>

    }
