@import controllers.actions.LoginState
@import models.master.Organization
@(organization: Organization, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@import views.html.base._
@common(Messages(constants.Form.HOME), failures, warnings, successes, infos)(Html(""))(center)(Html(""))
@center = {
    <div id="commonHome"></div>
        <div class="cmuk-grid-match cmuk-grid" cmuk-grid>
            <div class="cmuk-width-expand@@m">
                @commonCard() {
                    <div>
                        <span class="headerFontSize cmuk-text-bold">@Messages(constants.Form.ORGANIZATION):</span>
                    </div>
                    <div class="cmuk-inline">
                        <button class="uk-button editbutton">@Messages(constants.Form.EDIT)</button>
                        <div id="Edit" class="Editdropdown">
                            <button class="btn active" id="tableView">@Messages(constants.Form.TABLE)</button>
                            <button class="btn active" id="listView">@Messages(constants.Form.CARD)</button>
                        </div>
                    </div>
                }{
                <div id="organization"></div>
                }
            </div>
            <div class="cmuk-width-expand@@m">
                @commonCard() {
                        <div>
                            <span class="headerFontSize cmuk-text-bold">@Messages(constants.Form.ZONE):</span>
                        </div>
                        <div  class="cmuk-inline">
                            <button class="uk-button editbutton">@Messages(constants.Form.EDIT)</button>
                            <div id="Edit"  class="Editdropdown">
                                <button class="btn active" id="tableView">@Messages(constants.Form.TABLE)</button>
                                <button class="btn active" id="listView">@Messages(constants.Form.CARD)</button>
                            </div>
                        </div>
                    }{
                        <div id="zone"></div>
                    }
                </div>
        </div>

    <div class="cmuk-margin-top cmuk-margin-bottom">
        <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SetACLController.inviteTraderForm())">@Messages(constants.Form.INVITE_TRADER.legend)</button>
    </div>

        @commonCard() {
        <div>
            <span class="headerFontSize cmuk-text-bold">@Messages(constants.Form.TEAM)</span>
        </div>
        }{
        <div id="organizationTraders"></div>
        }


    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails());
            componentResource('organization', jsRoutes.controllers.ComponentViewController.organizationDetails());
            componentResource('organizationTraders', jsRoutes.controllers.ComponentViewController.organizationViewTraderList());
    </script>
}