@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))

@center = {
    <ul cmuk-accordion="multiple: true" class="flexContainer">
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('setACLList', jsRoutes.controllers.SetACLController.organizationViewPendingVerifyTraderRequests(), this)">@Messages(constants.View.PENDING_SET_ACL)</a>
            <div class="cmuk-accordion-content">
                <div id="setACLList" class="flexContainer"></div>
            </div>
        </li>
    </ul>
}
