@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))


    @center = {
        <div class="flexContainer">

            <div class="flexGrowth flexItem box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('organizationInformation', jsRoutes.controllers.SetACLController.viewTradersInOrganization(), this)">@Messages(constants.Form.TRADERS) </h2>
                </div>
                <div id="organizationInformation" class="flexContainer rightPadding scrollableFirst">
                </div>
            </div>
        </div>

    }
