@import controllers.actions.LoginState
@import views.html.base._

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@views.html.base.common(Messages(constants.View.PROFILE), failures, warnings, successes, infos)(left)(center)(right)

@left = {
        <div class="leftTradeFinancial">
            <div id="financials"></div>
        </div>
        <script>
            @loginState.userType match {
                case constants.User.TRADER => {
            componentResource('financials', jsRoutes.controllers.ComponentViewController.traderFinancials());
            }
                case constants.User.ORGANIZATION => {}
                case constants.User.ZONE => {}
                case constants.User.GENESIS => {}
                case _ => {}
            }
        </script>
}

@center = {
    <div class="cmuk-container cmuk-margin-bottom profileContainer">
        <div class="cmuk-grid-small" cmuk-grid>
            <div class="cmuk-width-1-2@@m profileDetails">
            @commonCard(constants.View.DETAILS , 'cardIconPath -> "images/icons/icons.svg#icon-contactDetails") {
            } {
                <div>
                    <div>
                        <div id="profilePhoto" class="cmuk-text-center"></div>
                    </div>
                    <div>
                        @commonTextInfo(constants.User.USER_NAME, loginState.username)
                        @commonTextInfo(constants.User.USER_TYPE, loginState.userType)
                        @commonTextInfo(constants.Form.BLOCKCHAIN_ADDRESS, loginState.address, 'id -> "blockchainAddress")
                        <button type="button" class="cmuk-button cmuk-button-link" onclick="getForm(jsRoutes.controllers.AccountController.changePasswordForm())">@Messages(constants.Form.CHANGE_PASSWORD.legend)
                            <span class="editIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-edit")"/></svg></span></button>
                    </div>
                </div>
            }
            </div>
            <div class="cmuk-width-1-2@@m">
                <div id="contact" class="contactDetails"></div>
            </div>
            <div class="cmuk-width-1-2@@m">
                <div id="viewIdentificationDetails" class="identificationDetails"></div>
            </div>

            @loginState.userType match {
                case constants.User.USER => {

                    <div class="cmuk-width-1-2@@m">
                        <div id="userViewPendingRequests" class="userViewRequests"></div>
                    </div>

                    <div class="cmuk-width-expand@@m">
                        <div id="userViewOrganizationUBOs"></div>
                    </div>
                    <script>
                    componentResource('userViewPendingRequests', jsRoutes.controllers.ComponentViewController.userViewPendingRequests());
                    componentResource('userViewOrganizationUBOs', jsRoutes.controllers.ComponentViewController.userViewOrganizationUBOs());
                </script>

                }
                case constants.User.TRADER => {
                    <div class="cmuk-width-1-2@@m accountDetails">
                    @commonCard(constants.Form.ORGANIZATION_DETAILS, 'cardIconPath -> "images/icons/icons.svg#icon-org-details") {
                    } {
                        <div id="traderViewOrganization"></div>
                    }

                    </div>

                    <div class="cmuk-width-1-2@@m">
                        <div id="traderViewOrganizationBankAccount"></div>
                    </div>

                    <script>
                    componentResource('traderViewOrganization', jsRoutes.controllers.ComponentViewController.traderViewOrganization());
                    componentResource('traderViewOrganizationBankAccount', jsRoutes.controllers.ComponentViewController.traderViewOrganizationBankAccount());
                </script>
                }
                case constants.User.ORGANIZATION => {
                    <div class="cmuk-width-1-2@@m">
                        <div id="organization" class="organizationDetails"></div>
                    </div>

                    <div class="cmuk-width-1-2@@m">
                        <div id="organizationBankAccount"></div>
                    </div>
                    <div class="cmuk-width-1-2@@m">
                        <div id="viewOrganizationUBOs" class="organizationUbos"></div>
                    </div>

                    <div class="cmuk-width-expand@@m">
                        <div id="organizationDeclarations" class="organizationUbos"></div>
                    </div>

                    <script>
                    componentResource('organization', jsRoutes.controllers.ComponentViewController.organization());
                    componentResource('organizationBankAccount', jsRoutes.controllers.ComponentViewController.organizationBankAccount());
                    componentResource('viewOrganizationUBOs', jsRoutes.controllers.ComponentViewController.viewOrganizationUBOs());
                    componentResource('organizationDeclarations', jsRoutes.controllers.ComponentViewController.organizationDeclarations());
                </script>
                }
                case _ => {}

        }
    </div>
    <script>
            componentResource('profilePhoto', jsRoutes.controllers.ComponentViewController.profilePicture());
            componentResource('contact', jsRoutes.controllers.ContactController.contact());
            componentResource('identification', jsRoutes.controllers.ComponentViewController.identification());
    </script>
}

@right = {
    <div class="recentActivity">
        <div class="recentActivityContainer">
        @commonCard(constants.View.RECENT_ACTIVITY) {
        } {
            <div class="scroller">
                <div id="recentActivity"></div>
                <div class="cover-bar"></div>
            </div>
        }
        </div>
    </div>
    <script>
        @loginState.userType match {
            case constants.User.TRADER => {
                componentResource('recentActivity', jsRoutes.controllers.ComponentViewController.recentActivityForTrader(0));
            }
            case constants.User.ORGANIZATION => {
                componentResource('recentActivity', jsRoutes.controllers.ComponentViewController.recentActivityForOrganization(0));
            }
            case constants.User.ZONE => {}
            case constants.User.GENESIS => {}
            case _ => {}
        }
    </script>
}