@import controllers.actions.LoginState
@import views.html.base._

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@views.html.base.common(Messages(constants.Form.PROFILE), failures, warnings, successes, infos)(Html(""))(center)(Html(""))

@center = {
    <div class="cmuk-container cmuk-margin-bottom profileContainer">
        <div class="cmuk-grid-small" cmuk-grid>
            <div class="cmuk-width-1-2@@m profileDetails">
            @commonCard(constants.View.DETAILS , 'cardIconPath -> "images/icons/icons.svg#icon-contactDetails") {
            } {
                <div>
                    <div>
                        <div id="profilePhoto" class="cmuk-text-center"></div>
                    </div>
                    <div>
                        @commonTextInfo(constants.User.USER_NAME, loginState.username)
                        @commonTextInfo(constants.User.USER_TYPE, loginState.userType)
                        @commonTextInfo(constants.Form.BLOCKCHAIN_ADDRESS, loginState.address, 'id -> "blockchainAddress")
                        <button type="button" class="cmuk-button cmuk-button-link" onclick="getForm(jsRoutes.controllers.AccountController.changePasswordForm())">@Messages(constants.Form.CHANGE_PASSWORD.legend)
                            <span class="editIcon"><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-edit")"/></svg></span></button>
                    </div>
                </div>
            }
            </div>
            <div class="cmuk-width-1-2@@m">
                <div id="viewIdentificationDetails" class="identificationDetails"></div>
            </div>
            <div class="cmuk-width-1-2@@m">
                <div id="contact" class="contactDetails"></div>
            </div>
            @loginState.userType match {
                case constants.User.USER => {

                    <div class="cmuk-width-1-2@@m">
                        <div id="userViewPendingRequests"></div>
                    </div>

                    <div class="cmuk-width-expand@@m">
                        <div id="userViewOrganizationUBOs"></div>
                    </div>
                    <script>
                    componentResource('userViewPendingRequests', jsRoutes.controllers.ComponentViewController.userViewPendingRequests());
                    componentResource('userViewOrganizationUBOs', jsRoutes.controllers.ComponentViewController.userViewOrganizationUBOs());
                </script>

                }
                case constants.User.TRADER => {
                    <div class="cmuk-width-1-2@@m accountDetails">
                        <div id="traderViewOrganizationDetails"></div>
                    </div>

                    <div class="cmuk-width-1-2@@m">
                        <div id="traderViewOrganizationBankAccountDetail"></div>
                    </div>

                    <script>
                    componentResource('traderViewOrganizationDetails', jsRoutes.controllers.ComponentViewController.traderViewOrganizationDetails());
                    componentResource('traderViewOrganizationBankAccountDetail', jsRoutes.controllers.ComponentViewController.traderViewOrganizationBankAccountDetail());
                </script>
                }
                case constants.User.ORGANIZATION => {
                    <div class="cmuk-width-1-2@@m">
                        <div id="viewOrganizationDetails" class="organizationDetails"></div>
                    </div>

                    <div class="cmuk-width-1-2@@m">
                        <div id="viewOrganizationBankAccountDetail"></div>
                    </div>
                    <div class="cmuk-width-1-2@@m">
                        <div id="viewOrganizationUBOs" class="organizationUbos"></div>
                    </div>

                    <script>
                    componentResource('viewOrganizationDetails', jsRoutes.controllers.ComponentViewController.viewOrganizationDetails());
                    componentResource('viewOrganizationBankAccountDetail', jsRoutes.controllers.ComponentViewController.viewOrganizationBankAccountDetail());
                    componentResource('viewOrganizationUBOs', jsRoutes.controllers.ComponentViewController.viewOrganizationUBOs());
                </script>
                }
                case _ => {}

            }
            <div class="cmuk-width-1-2@@m">
            @if(loginState.userType == constants.User.TRADER) {
                <div id="traderRelationList" class="traderRelationList"></div>
            }
            </div>
        </div>

    </div>
    <script>
            componentResource('profilePhoto', jsRoutes.controllers.ComponentViewController.profilePicture());
            componentResource('contact', jsRoutes.controllers.ContactController.contact());
            componentResource('viewIdentificationDetails', jsRoutes.controllers.ComponentViewController.viewIdentificationDetails());

            @*//TODO Remove when shifting to account *@
            componentResource('traderRelationList', jsRoutes.controllers.ComponentViewController.traderRelationList());
    </script>
}
