@import controllers.actions.LoginState
@import views.html.base._

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@views.html.base.common(Messages(constants.View.PROFILE), failures, warnings, successes, infos)(left)(center)(right)

@left = {
    <div class="leftTradeFinancial">
        <div id="financials"></div>
    </div>
    <script>
        @loginState.userType match {
            case constants.User.TRADER => {
            componentResource('financials', jsRoutes.controllers.ComponentViewController.traderFinancials());
            }
            case constants.User.ORGANIZATION => {}
            case constants.User.ZONE => {}
            case constants.User.GENESIS => {}
            case _ => {}
        }
    </script>
}

@center = {
    <div class="cmuk-container cmuk-margin-bottom profileContainer">
        <div class="cmuk-grid-small" cmuk-grid>
            <div class="cmuk-width-1-2@@m profileDetails">
                <div id="commonHome"></div>
            </div>
            <div class="cmuk-width-1-2@@m">
                <div id="identification" class="identificationDetails"></div>
            </div>
            <div class="cmuk-width-1-2@@m">
                <div id="contact" class="contactDetails"></div>
            </div>
            @loginState.userType match {
                case constants.User.USER => {

                    <div class="cmuk-width-1-2@@m">
                        <div id="userViewPendingRequests"></div>
                    </div>

                    <div class="cmuk-width-expand@@m">
                        <div id="userViewOrganizationUBOs"></div>
                    </div>
                    <script>
                        componentResource('userViewPendingRequests', jsRoutes.controllers.ComponentViewController.userViewPendingRequests());
                        componentResource('userViewOrganizationUBOs', jsRoutes.controllers.ComponentViewController.userViewOrganizationUBOs());
                    </script>

                }
                case constants.User.TRADER => {
                    <div class="cmuk-width-1-2@@m accountDetails">
                        <div id="traderViewOrganization"></div>
                    </div>

                    <div class="cmuk-width-1-2@@m">
                        <div id="traderViewOrganizationBankAccount"></div>
                    </div>

                    <script>
                        componentResource('traderViewOrganization', jsRoutes.controllers.ComponentViewController.traderViewOrganization());
                        componentResource('traderViewOrganizationBankAccount', jsRoutes.controllers.ComponentViewController.traderViewOrganizationBankAccount());
                    </script>
                }
                case constants.User.ORGANIZATION => {
                    <div class="cmuk-width-1-2@@m">
                        <div id="organization" class="organizationDetails"></div>
                    </div>

                    <div class="cmuk-width-1-2@@m">
                        <div id="organizationBankAccount"></div>
                    </div>
                    <div class="cmuk-width-1-2@@m">
                        <div id="viewOrganizationUBOs" class="organizationUbos"></div>
                    </div>

                    <div class="cmuk-width-expand@@m">
                        <div id="organizationDeclarations" class="organizationUbos"></div>
                    </div>

                    <script>
                        componentResource('organization', jsRoutes.controllers.ComponentViewController.organization());
                        componentResource('organizationBankAccount', jsRoutes.controllers.ComponentViewController.organizationBankAccount());
                        componentResource('viewOrganizationUBOs', jsRoutes.controllers.ComponentViewController.viewOrganizationUBOs());
                        componentResource('organizationDeclarations', jsRoutes.controllers.ComponentViewController.organizationDeclarations());
                    </script>
                }
                case _ => {}
            }
        </div>
    </div>
    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('contact', jsRoutes.controllers.ContactController.contact());
            componentResource('identification', jsRoutes.controllers.ComponentViewController.identification());
    </script>
}

@right = {
    <div class="recentActivityContainer">
        <div id="recentActivities"></div>
    </div>
    <script>
            componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
    </script>
}