@import controllers.actions.LoginState
@import views.html.base._
@import controllers.view.OtherApp

@(id: Int, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, otherApps: Seq[OtherApp], loginState: LoginState = null)

    @views.html.base.common(Messages(constants.View.VALIDATOR), failures, warnings, successes, infos)(left)(center)(right)

    @left = {
        <div class="leftContainer">
            <div id="latestBlockHeight" class="cmuk-margin-bottom tableCard"></div>
            <div id="tokensStatistics" class="cardSelectHeader tableViewCard cmuk-margin-bottom"></div>
        </div>
        <script>
                componentResource('latestBlockHeight', jsRoutes.controllers.ComponentViewController.latestBlockHeight());
                componentResource('tokensStatistics', jsRoutes.controllers.ComponentViewController.tokensStatistics());
        </script>
    }

    @center = {
        <div class="cmuk-container cmuk-margin-bottom">
            <div class="cmuk-grid-small" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div id="proposalDetails" class="tableViewCard"></div>
                </div>
            </div>
            <div class="cmuk-grid-small" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div id="proposalDeposits" class="tableViewCard"></div>
                </div>
            </div>
            <div class="cmuk-grid-small" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div id="proposalVotes" class="tableViewCard"></div>
                </div>
            </div>
        </div>
        <script>
                componentResource('proposalDetails', jsRoutes.controllers.ComponentViewController.proposalDetails(@id));
                componentResource('proposalDeposits', jsRoutes.controllers.ComponentViewController.proposalDeposits(@id));
                componentResource('proposalVotes', jsRoutes.controllers.ComponentViewController.proposalVotes(@id));
        </script>
    }

    @right = {
        <div class="rightContainer">
            <div class="recentActivityContainer">
                <div id="recentActivities"></div>
            </div>
            <div id="votingPowers" class="cmuk-margin-bottom tableViewCard"></div>
        </div>
        <script>
                componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
                componentResource('votingPowers', jsRoutes.controllers.ComponentViewController.votingPowers());
        </script>
    }