@import helper._
@import views.companion.blockchain.RedeemFiat

@(redeemFiatForm: Form[RedeemFiat.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("RedeemFiat")) {
    @form(action = routes.RedeemFiatController.redeemFiat) {
        @CSRF.formField
        @inputText(redeemFiatForm(Messages("from")))
        @inputText(redeemFiatForm(Messages("password")))
        @inputText(redeemFiatForm(Messages("to")))
        @inputText(redeemFiatForm(Messages("redeemAmount")))
        @inputText(redeemFiatForm(Messages("chainID")))
        @inputText(redeemFiatForm(Messages("gas")))

        @if(redeemFiatForm.hasGlobalErrors) {
            <ul>
            @for(error <- redeemFiatForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("RedeemFiat")</button>
    }
}