@import helper._
@import views.companion.blockchain.RedeemAsset

@(redeemAssetForm: Form[RedeemAsset.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("RedeemAsset")) {
    @form(action = routes.RedeemAssetController.redeemAsset) {
        @CSRF.formField
        @inputPassword(redeemAssetForm(Messages("from")))
        @inputPassword(redeemAssetForm(Messages("to")))
        @inputPassword(redeemAssetForm(Messages("pegHash")))
        @inputPassword(redeemAssetForm(Messages("chainID")))
        @inputPassword(redeemAssetForm(Messages("password")))
        @inputPassword(redeemAssetForm(Messages("gas")))

        @if(redeemAssetForm.hasGlobalErrors) {
            <ul>
            @for(error <- redeemAssetForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("RedeemAsset")</button>
    }
}