@import controllers.actions.LoginState
@import models.blockchain._

@(asset: Option[Asset], identity: Option[Identity], splits: Seq[Split], order: Option[Order], metaList: Seq[Meta], classification: Option[Classification], maintainer: Option[Maintainer], failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@views.html.base.common(Messages(constants.View.ACCOUNT), failures, warnings, successes, infos)(left)(center)(right)

@left = {
    <div class="leftContainer">
        <div id="latestBlockHeight" class="cmuk-margin-bottom tableCard"></div>
        <div id="tokensStatistics" class="cardSelectHeader tableViewCard cmuk-margin-bottom"></div>
    </div>
    <script>
            componentResource('latestBlockHeight', jsRoutes.controllers.ComponentViewController.latestBlockHeight());
            componentResource('tokensStatistics', jsRoutes.controllers.ComponentViewController.tokensStatistics());
    </script>
}

@center = {
    <div class="cmuk-container cmuk-margin-bottom">
        @if(asset.isDefined) {
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div class="switcherCard tableViewCard">
                        @views.html.component.blockchain.asset(asset.get)
                    </div>
                </div>
            </div>
        }
        @if(identity.isDefined) {
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div class="switcherCard tableViewCard">
                    @views.html.component.blockchain.identity(identity.get)
                    </div>
                </div>
            </div>
        }
        @if(splits.nonEmpty) {
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div class="switcherCard tableViewCard">
                    @views.html.component.blockchain.splits(splits)
                    </div>
                </div>
            </div>
        }
        @if(order.nonEmpty) {
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div class="switcherCard tableViewCard">
                    @views.html.component.blockchain.order(order.get)
                    </div>
                </div>
            </div>
        }
        @if(metaList.nonEmpty) {
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div class="switcherCard tableViewCard">
                    @views.html.component.blockchain.meta(metaList)
                    </div>
                </div>
            </div>
        }
        @if(classification.nonEmpty) {
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div class="switcherCard tableViewCard">
                    @views.html.component.blockchain.classification(classification.get)
                    </div>
                </div>
            </div>
        }
        @if(maintainer.nonEmpty) {
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div class="switcherCard tableViewCard">
                    @views.html.component.blockchain.maintainer(maintainer.get)
                    </div>
                </div>
            </div>
        }
    </div>
}

@right = {
    <div class="rightContainer">
        <div class="recentActivityContainer">
            <div id="recentActivities"></div>
        </div>
        <div id="votingPowers" class="cmuk-margin-bottom tableViewCard"></div>
    </div>
    <script>
            componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
            componentResource('votingPowers', jsRoutes.controllers.ComponentViewController.votingPowers());
    </script>
}