@import helper._
@import views.companion.blockchain.SellerExecuteOrder

@(sellerExecuteOrderForm: Form[SellerExecuteOrder.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("SellerExecuteOrder")) {
    @form(action = routes.SellerExecuteOrderController.sellerExecuteOrder) {
        @CSRF.formField
        @inputPassword(sellerExecuteOrderForm(Messages("from")))
        @inputPassword(sellerExecuteOrderForm(Messages("password")))
        @inputPassword(sellerExecuteOrderForm(Messages("buyerAddress")))
        @inputPassword(sellerExecuteOrderForm(Messages("sellerAddress")))
        @inputPassword(sellerExecuteOrderForm(Messages("awbProofHash")))
        @inputPassword(sellerExecuteOrderForm(Messages("pegHash")))
        @inputPassword(sellerExecuteOrderForm(Messages("chainID")))
        @inputPassword(sellerExecuteOrderForm(Messages("gas")))

        @if(sellerExecuteOrderForm.hasGlobalErrors) {
            <ul>
            @for(error <- sellerExecuteOrderForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("SellerExecuteOrder")</button>
    }
}