@import helper._
@import views.companion.blockchain.SendAsset

@(sendAssetForm: Form[SendAsset.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("SendAsset")) {
    @form(action = routes.SendAssetController.sendAsset) {
        @CSRF.formField
        @inputText(sendAssetForm(Messages("from")))
        @inputText(sendAssetForm(Messages("password")))
        @inputText(sendAssetForm(Messages("to")))
        @inputText(sendAssetForm(Messages("pegHash")))
        @inputText(sendAssetForm(Messages("chainID")))
        @inputText(sendAssetForm(Messages("gas")))

        @if(sendAssetForm.hasGlobalErrors) {
            <ul>
            @for(error <- sendAssetForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("SendAsset")</button>
    }
}