@import helper._
@import views.forms.SendEmailAddressVerification

@(sendEmailAddressVerificationForm: Form[SendEmailAddressVerification.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@form(action = routes.VerifyEmailAddressController.sendEmailAddressVerification) {
    @CSRF.formField
    @inputText(sendEmailAddressVerificationForm(Messages("Username")))

    @if(sendEmailAddressVerificationForm.hasGlobalErrors) {
        <ul>
        @for(error <- sendEmailAddressVerificationForm.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
    }
    <button type="submit">@Messages("VerifyEmailAddress")</button>
}