@import helper._
@import views.companion.blockchain.SetBuyerFeedback

@(setBuyerFeedbackForm: Form[SetBuyerFeedback.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("Welcome")) {
    @form(action = routes.SignUpController.signUp) {
        @CSRF.formField
        @inputText(setBuyerFeedbackForm(Messages("Username")), 'id -> "username") <label id="result"></label>
        @inputPassword(setBuyerFeedbackForm(Messages("Password")))

        @if(setBuyerFeedbackForm.hasGlobalErrors) {
            <ul>
            @for(error <- setBuyerFeedbackForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("SignUp")</button>
    }
}
<script src="@routes.Assets.versioned("../../public/javascripts/checkUsername.js")" type="text/javascript"></script>