@import helper._
@import views.companion.blockchain.SetBuyerFeedback

@(setBuyerFeedbackForm: Form[SetBuyerFeedback.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("SetBuyerFeedback")) {
    @form(action = routes.SetBuyerFeedbackController.setBuyerFeedback) {
        @CSRF.formField
        @inputText(setBuyerFeedbackForm(Messages("from")))
        @inputText(setBuyerFeedbackForm(Messages("to")))
        @inputText(setBuyerFeedbackForm(Messages("pegHash")))
        @inputText(setBuyerFeedbackForm(Messages("rating")))
        @inputText(setBuyerFeedbackForm(Messages("chainID")))
        @inputText(setBuyerFeedbackForm(Messages("gas")))
        @inputPassword(setBuyerFeedbackForm(Messages("password")))

        @if(setBuyerFeedbackForm.hasGlobalErrors) {
            <ul>
            @for(error <- setBuyerFeedbackForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("SetBuyerFeedback")</button>
    }
}