@import helper._
@import views.companion.blockchain.SetSellerFeedback

@(setSellerFeedbackForm: Form[SetSellerFeedback.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("SetSellerFeedback")) {
    @form(action = routes.SetSellerFeedbackController.setSellerFeedback) {
        @CSRF.formField
        @inputText(setSellerFeedbackForm(Messages("from")))
        @inputText(setSellerFeedbackForm(Messages("password")))
        @inputText(setSellerFeedbackForm(Messages("to")))
        @inputText(setSellerFeedbackForm(Messages("pegHash")))
        @inputText(setSellerFeedbackForm(Messages("rating")))
        @inputText(setSellerFeedbackForm(Messages("chainID")))
        @inputText(setSellerFeedbackForm(Messages("gas")))

        @if(setSellerFeedbackForm.hasGlobalErrors) {
            <ul>
            @for(error <- setSellerFeedbackForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("SetSellerFeedback")</button>
    }
}