@ @
import helper._
@import views.forms.SignUp

@(signUpForm: Form[SignUp.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages("Welcome")) {
        @form(action = routes.SignUpController.signUp) {
            @CSRF.formField
            @inputText(signUpForm(Messages("Username")))
            @inputPassword(signUpForm(Messages("Password")))

            @if(signUpForm.hasGlobalErrors) {
                <ul>
                @for(error <- signUpForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="submit">@Messages("SignUp")</button>
        }
    }