@import models.blockchain.{ACLHash, Asset, Fiat, Negotiation, Order}
@import models.master.{Organization, Zone}
@import utilities.LoginState

@(username: String, totalFiat: Int, zone: Zone, organization: Organization, aclHash: ACLHash)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME))(Html(""))(center)(right)

@right = {

    @if(aclHash.buyerExecuteOrder) {
        <a onclick="getForm(jsRoutes.controllers.BuyerExecuteOrderController.buyerExecuteOrderForm())">@Messages(constants.Form.BUYER_EXECUTE_ORDER)</a>
    } <br>
    @*
    @if(aclHash.changeBuyerBid) {
        <a onclick="getForm(jsRoutes.controllers.ChangeBuyerBidController.changeBuyerBidForm())">@Messages(constants.Form.CHANGE_BUYER_BID)</a>
    } <br>
    @if(aclHash.changeSellerBid) {
        <a onclick="getForm(jsRoutes.controllers.ChangeSellerBidController.changeSellerBidForm())">@Messages(constants.Form.CHANGE_SELLER_BID)</a>
    } <br>
    @if(aclHash.confirmBuyerBid) {
        <a onclick="getForm(jsRoutes.controllers.ConfirmBuyerBidController.confirmBuyerBidForm())">@Messages(constants.Form.CONFIRM_BUYER_BID)</a>
    } <br>
    @if(aclHash.confirmSellerBid) {
        <a onclick="getForm(jsRoutes.controllers.ConfirmSellerBidController.confirmSellerBidForm())">@Messages(constants.Form.CONFIRM_SELLER_BID)</a>
    } <br>
    *@
    @if(aclHash.issueAsset) {
        <a onclick="getForm(jsRoutes.controllers.IssueAssetController.issueAssetRequestForm())">@Messages(constants.Form.ISSUE_ASSET_REQUEST)</a>
    } <br>
    @if(aclHash.issueFiat) {
        <a onclick="getForm(jsRoutes.controllers.IssueFiatController.issueFiatRequestForm())">@Messages(constants.Form.ISSUE_FIAT_REQUEST)</a>
    } <br>
    @if(aclHash.redeemAsset) {
        <a onclick="getForm(jsRoutes.controllers.RedeemAssetController.redeemAssetForm())">@Messages(constants.Form.REDEEM_ASSET)</a>
    } <br>
    @if(aclHash.redeemFiat) {
        <a onclick="getForm(jsRoutes.controllers.RedeemFiatController.redeemFiatForm())">@Messages(constants.Form.REDEEM_FIAT)</a>
    } <br>
    @if(aclHash.releaseAsset) {
        <a onclick="getForm(jsRoutes.controllers.ReleaseAssetController.releaseAssetForm())">@Messages(constants.Form.RELEASE_ASSET)</a>
    } <br>
    @if(aclHash.sellerExecuteOrder) {
        <a onclick="getForm(jsRoutes.controllers.SellerExecuteOrderController.sellerExecuteOrderForm())">@Messages(constants.Form.SELLER_EXECUTE_ORDER)</a>
    } <br>
  @*
  @if(aclHash.sendAsset) {
        <a onclick="getForm(jsRoutes.controllers.SendAssetController.sendAssetForm())">@Messages(constants.Form.SEND_ASSET)</a>
    } <br>
    @if(aclHash.sendFiat) {
        <a onclick="getForm(jsRoutes.controllers.SendFiatController.sendFiatForm())">@Messages(constants.Form.SEND_FIAT)</a>
    } <br>
    *@
    <a onclick="getForm(jsRoutes.controllers.SetBuyerFeedbackController.setBuyerFeedbackForm())">@Messages(constants.Form.SET_BUYER_FEEDBACK)</a>
    <br>
    <a onclick="getForm(jsRoutes.controllers.SetSellerFeedbackController.setSellerFeedbackForm())">@Messages(constants.Form.SET_SELLER_FEEDBACK)</a>
    <br>

    }

@center = {
    <div class="flexContainer">
        <div id="commonHome" class="box flexItem flexGrowth"></div>
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ZONE):</h2>
            </div>
            <div id="zone">

            </div>
        </div>
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ORGANIZATION):</h2>
            </div>
            <div id="organization">

            </div>
        </div>
    </div>
    <div class="flexContainer">
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.User.ASSETS_OWNED) </h2>
                <div class="centerText">
                @if(aclHash.issueAsset) {
                    <button onclick="getForm(jsRoutes.controllers.IssueAssetController.issueAssetRequestForm())">@Messages(constants.Form.ISSUE_ASSET_REQUEST)</button>
                }
                </div>
            </div>
            <div id="assetList" class="flexContainer">
            </div>
        </div>

        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.User.FIATS_OWNED): @totalFiat</h2>
                <div class="centerText">
                    @if(aclHash.issueFiat) {
                        <button onclick="getForm(jsRoutes.controllers.IssueFiatController.issueFiatRequestForm())">@Messages(constants.Form.ISSUE_FIAT_REQUEST)</button>
                    }
                    @if(aclHash.redeemFiat) {
                        <button onclick="getForm(jsRoutes.controllers.RedeemFiatController.redeemFiatForm())">@Messages(constants.Form.REDEEM_FIAT)</button>
                    }
                    @if(aclHash.sendFiat) {
                        <button onclick="getForm(jsRoutes.controllers.SendFiatController.sendFiatForm())">@Messages(constants.Form.SEND_FIAT)</button>
                    }
                </div>
            </div>
            <div id="fiatList" class="flexContainer">
            </div>
        </div>

        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ON_GOING_NEGOTIATIONS)</h2>
            </div>
            <div id="negotiationList" class ="flexContainer"></div>

        </div>
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ON_GOING_ORDERS)</h2>
            </div>
            <div id="orderList" class="flexContainer"></div>
        </div>
    </div>
    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome('@username'));
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails('@username'));
            componentResource('organization', jsRoutes.controllers.ComponentViewController.organizationDetails('@username'));
            componentResource('assetList', jsRoutes.controllers.ComponentViewController.assetList('@username'));
            componentResource('fiatList', jsRoutes.controllers.ComponentViewController.fiatList('@username'));
            componentResource('negotiationList', jsRoutes.controllers.ComponentViewController.negotiationList('@username'));
            componentResource('orderList', jsRoutes.controllers.ComponentViewController.orderList('@username'))
    </script>
}