@import controllers.actions.LoginState
@import models.master.{Organization, Zone}
@import views.html.base.common
@import views.html.base._
@import scala.collection.immutable.ListMap
@(id: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.HOME), failures, warnings, successes, infos)(left)(center)(right)

@left = {
    <div class="leftTradeFinancial secondaryFont">
        <div id="tradeFinancials"></div>
        <div id="tradeDocuments"></div>
    </div>
    <script type="text/javascript">
    @loginState.userType match {
                case constants.User.TRADER => {
                    componentResource('tradeDocuments', jsRoutes.controllers.ComponentViewController.tradeDocumentList('@id'));
                }
                case constants.User.ORGANIZATION => {

                }
    }
    </script>
}

@center = {
    <div class="cmuk-card cmuk-card-default">
        <div class="cmuk-card-body">
         <div id="acceptedNegotiation">

         </div>
        </div>
    </div>
    <iframe class="hidden" src="@routes.NegotiationController.negotiationTermsComet(id)"></iframe>
    <script type="text/javascript">
        @loginState.userType match {
                case constants.User.TRADER => {
                    componentResource('acceptedNegotiation', jsRoutes.controllers.ComponentViewController.traderViewAcceptedNegotiation('@id'));
        }
                case constants.User.ORGANIZATION => {}
        }
            var tradeTermsCometMessage = function (event) {
                componentResource('tradeTerms', jsRoutes.controllers.TradeRoomController.tradeTerms('@id'));
            }
    </script>
}

@right = {
    <div class="right cmuk-flex">
        <button class="refresh"><span><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-amend")"/></svg></span>@Messages(constants.View.AMEND)</button>
        <button class="refresh"><span><svg class="icon"><use xlink:href="@routes.Assets.versioned("images/icons/icons.svg#icon-refresh2")"/></svg></span>
            @Messages(constants.View.REFRESH)</button>
        <div class="cmuk-flex live">
            <span class="liveText secondaryFont">@Messages(constants.View.LIVE_TRADE_ROOM)</span>
            <div class="liveIcon"></div>
        </div>
    </div>
    <div class="recentActivity">
        <div class="recentActivityContainer">
        @commonCard(constants.View.RECENT_ACTIVITY, 'cardIconPath -> "images/icons/icons.svg#icon-recentActivity") {
        } {
            <div class="scroller">
                <div id="recentActivity">
                </div>
                <div class="cover-bar"></div>
            </div>
        }
        </div>
        <div id="chatRoom" class="chatRoom">
        </div>
    </div>
    <script>
            componentResource('recentActivity', jsRoutes.controllers.ComponentViewController.recentActivityForTradeRoom(0, '@id'));
            componentResource('chatRoom', jsRoutes.controllers.ChatController.chatRoom('@id'));

    </script>
}