@import controllers.actions.LoginState
@import models.master.{Organization, Zone}
@import views.html.base.common
@import views.html.base._
@(tradeRoomID: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.HOME), failures, warnings, successes, infos)(left)(center)(right)

@left={
    <div class="left cmuk-flex">
        <div>
            <span cmuk-icon="arrow-left" class="backIcon"></span>
        </div>
        <div class="cmuk-flex">
            <span class="quoteIdTtitle secondaryFont">@Messages(constants.View.TRADE_ROOM_ID):</span><p class="quoteId secondaryFont hashCode cmuk-margin-remove">@tradeRoomID</p>
        </div>
        <div class="userIcons cmuk-flex secondaryFont">
            <span class="buyerIcon userIcon">B</span>
            <span class="sellerIcon userIcon">S</span>
            <span class="financierIcon userIcon">F</span>
        </div>
    </div>
    <div class="leftTradeFinancial secondaryFont">
        <div id="tradeFinancials"></div>
        <div id="documentList"></div>
    </div>
}

@center = {
    <div class="notifications">
        <div class="cmuk-alert-success" cmuk-alert>
            <a class="cmuk-alert-close" cmuk-close></a>
            <span>Lorem ipsum dolor sit amet, </span>
        </div>
    </div>
    <div class="mainTabs">
        <div class="cmuk-card cmuk-card-default">
            <div class="cmuk-card-header">
                <ul cmuk-tab="connect: #component-tab-left; animation: cmuk-animation-fade">
                    <li class="cmuk-active first"><a href="#">Terms View</a></li>
                    <li class="docViewList"><a href="#">Docs View</a></li>
                </ul>
            </div>
            <div class="cmuk-card-body">
            <ul id="component-tab-left" class="cmuk-switcher">
                <li class="tradeTerms">
                    <div  id="tradeTerms">
                    </div>
                </li>
                <li>
                    <div class="documentcontainer" id="documentContainer" class="cmuk-animation-fade">
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
}

@right={
    <div class="right cmuk-flex">
        <button class="refresh"><img src="@routes.Assets.versioned("./images/icons/amendIcon.svg")">Amend</button>
        <button class="refresh "><img src="@routes.Assets.versioned("./images/icons/refreshIcon.svg")">Refresh</button>
        <div class="cmuk-flex live">
            <span class="liveText secondaryFont">Live Trade Room </span>
            <div class="liveIcon"></div>
        </div>
    </div>
    <div class="recentActivity">
        <div class="recentActivityContainer">
        @commonCard(constants.View.RECENT_ACTIVITY) {
        } {
            <div class="scroller">
                <div id="recentActivity">
                </div>
                <div class="cover-bar"></div>
            </div>
        }
        </div>
        <div id="chatRoom" class="chatRoom">
        </div>
    </div>
}

<script>
    componentResource('tradeFinancials', jsRoutes.controllers.TradeRoomController.tradeFinancials());
    componentResource('documentList', jsRoutes.controllers.TradeRoomController.documentList());
    componentResource('tradeTerms', jsRoutes.controllers.TradeRoomController.tradeTerms('@tradeRoomID'));
    componentResource('documentContainer', jsRoutes.controllers.TradeRoomController.documentView("fileName","documentType"));
    componentResource('recentActivity', jsRoutes.controllers.ComponentViewController.recentActivityForTradeRoom(0, '@tradeRoomID'));
    componentResource('chatRoom', jsRoutes.controllers.TradeRoomController.chatRoom('@tradeRoomID'));

</script>