@import controllers.actions.LoginState
@import views.html.base.common

@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.View.TRADES), failures, warnings, successes, infos)(left)(center)(right)

@left = {

}

@center = {
    @loginState.userType match {
        case constants.User.TRADER => {
            <div class="cmuk-margin-top cmuk-margin-bottom">
                <button type="button" class="cmuk-button cmuk-button-primary" onclick="getForm(jsRoutes.controllers.SalesQuoteController.commodityDetailsForm())">@Messages(constants.Form.CREATE_SALES_QUOTE)</button>
            </div>

            <div id="salesQuoteList"></div>
            <div id="tradeList"></div>

            <script>
                componentResource('salesQuoteList', jsRoutes.controllers.ComponentViewController.salesQuoteList());
                componentResource('tradeList', jsRoutes.controllers.TradeRoomController.tradeList());
            </script>
        }

        case _ => {}
    }
}

@right = {

}