@import controllers.actions.LoginState
@import models.master.{Organization, Zone}
@(totalFiat: Int, zone: Zone, organization: Organization, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.HOME), failures, warnings, successes, infos)(Html(""))(center)(Html(""))

@center = {
    <div class="flexContainer">
        <div id="commonHome" class="box flexItem flexGrowth"></div>
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ZONE):</h2>
            </div>
            <div id="zone">
            </div>
        </div>
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ORGANIZATION):</h2>
            </div>
            <div id="organization">
            </div>
        </div>
    </div>
    <div class="flexContainer">
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('assetList', jsRoutes.controllers.ComponentViewController.assetList(), this)">@Messages(constants.Form.ASSETS_OWNED) </h2>
                <div class="centerText">
                @loginState.acl match {
                    case Some(acl) => {
                        @if(acl.issueAsset) {
                            <button onclick="getForm(jsRoutes.controllers.IssueAssetController.issueAssetDetailForm())">@Messages(constants.Form.ISSUE_ASSET_REQUEST.button)</button>
                        }
                    }
                    case _ => {}
                }
                </div>
            </div>
            <div id="assetList" class="flexContainer"></div>
            <script type="text/javascript">
                    var assetCometMessage = function (event) {
                        console.log(event.toString());
                        componentResource('assetList', jsRoutes.controllers.ComponentViewController.assetList());
                    }
            </script>
        </div>

        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('fiatList', jsRoutes.controllers.ComponentViewController.fiatList(), this)">@Messages(constants.Form.FIATS_OWNED)
                    : <span id="totalFiat">@totalFiat</span></h2>
                <div class="centerText">
                @loginState.acl match {
                    case Some(acl) => {
                        @if(acl.issueFiat) {
                            <button onclick="getForm(jsRoutes.controllers.IssueFiatController.issueFiatRequestForm())">@Messages(constants.Form.ISSUE_FIAT_REQUEST.legend)</button>
                        }
                        @if(acl.redeemFiat) {
                            <button onclick="getForm(jsRoutes.controllers.RedeemFiatController.redeemFiatForm('@loginState.address'))">@Messages(constants.Form.REDEEM_FIAT.legend)</button>
                        }
                    }
                    case _ => {}
                }
                </div>
            </div>
            <div id="fiatList" class="flexContainer"></div>
            <script type="text/javascript">
                    var fiatCometMessage = function (event) {
                        console.log(event.toString());
                        $('#totalFiat').html(event);
                        componentResource('fiatList', jsRoutes.controllers.ComponentViewController.fiatList());
                    }
            </script>
        </div>

        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ON_GOING_NEGOTIATIONS)</h2>
            </div>
            <div class ="flexContainer">
                <div class="box">
                    <div>
                        <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('buyNegotiationList', jsRoutes.controllers.ComponentViewController.buyNegotiationList(), this)">@Messages(constants.Form.BUY)</h2>
                    </div>
                    <div id="buyNegotiationList" class ="flexContainer"></div>
                </div>
                <div class="box">
                    <div>
                        <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('sellNegotiationList', jsRoutes.controllers.ComponentViewController.sellNegotiationList(), this)">@Messages(constants.Form.SELL)</h2>
                    </div>
                    <div id="sellNegotiationList" class ="flexContainer"></div>
                </div>
                <script type="text/javascript">
                        var negotiationCometMessage = function (event) {
                            console.log(event.toString());
                            componentResource('buyNegotiationList', jsRoutes.controllers.ComponentViewController.buyNegotiationList());
                            componentResource('sellNegotiationList', jsRoutes.controllers.ComponentViewController.sellNegotiationList());
                        }
                </script>
            </div>
        </div>

        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('orderList', jsRoutes.controllers.ComponentViewController.orderList(), this)">@Messages(constants.Form.ON_GOING_ORDERS)</h2>
            </div>
            <div id="orderList" class="flexContainer"></div>
            <script type="text/javascript">
                    var orderCometMessage = function (event) {
                        console.log(event.toString());
                        componentResource('orderList', jsRoutes.controllers.ComponentViewController.orderList());
                    }
            </script>
        </div>

        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.SUBMIT_FEEDBACK)</h2>
            </div>
            <div class ="flexContainer">
                <div class="box">
                    <div>
                        <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('setBuyerFeedbackList', jsRoutes.controllers.SetBuyerFeedbackController.buyerFeedbackList(), this)">@Messages(constants.Form.BUY_ORDER_FEEDBACKS)</h2>
                    </div>
                    <div id="setBuyerFeedbackList" class="flexContainer"></div>
                </div>
                <div class="box">
                    <div>
                        <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('setSellerFeedbackList', jsRoutes.controllers.SetSellerFeedbackController.sellerFeedbackList(), this)">@Messages(constants.Form.SELL_ORDER_FEEDBACKS)</h2>
                    </div>
                    <div id="setSellerFeedbackList" class="flexContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails());
            componentResource('organization', jsRoutes.controllers.ComponentViewController.organizationDetails());
    </script>
    <iframe class="hidden" src="@routes.ComponentViewController.assetComet"></iframe>
    <iframe class="hidden" src="@routes.ComponentViewController.fiatComet"></iframe>
    <iframe class="hidden" src="@routes.ComponentViewController.negotiationComet"></iframe>
    <iframe class="hidden" src="@routes.ComponentViewController.orderComet"></iframe>
}