@import views.html.base._
@import controllers.actions.LoginState
@import models.common.TransactionMessages._

@(txHash: String, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @views.html.base.common(Messages(constants.View.BLOCK), failures, warnings, successes, infos)(left)(center)(right)

    @left = {
        <div class="leftContainer">
            <div id="latestBlockHeight" class="cmuk-margin-bottom tableCard cmuk-card-styles containerHeight"></div>
            <div id="tokensStatistics" class="cardSelectHeader tableViewCard cmuk-margin-bottom cmuk-card-styles containerHeight"></div>
        </div>
        <script>
                componentResource('latestBlockHeight', jsRoutes.controllers.ComponentViewController.latestBlockHeight());
                componentResource('tokensStatistics', jsRoutes.controllers.ComponentViewController.tokensStatistics());
        </script>
    }

    @center = {
        <div class="cmuk-container cmuk-margin-bottom">
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div id="transactionDetails" class="tableViewCard"></div>
                </div>
            </div>
            <div class="cmuk-grid-match" cmuk-grid>
                <div class="cmuk-width-expand@@m">
                    <div id="transactionMessages" class="transactionMessages"></div>
                </div>
            </div>
        </div>
        <script>
                componentResource('transactionDetails', jsRoutes.controllers.ComponentViewController.transactionDetails('@txHash'));
                componentResource('transactionMessages', jsRoutes.controllers.ComponentViewController.transactionMessages('@txHash'));
        </script>
    }

    @right = {
        <div class="rightContainer">
            <div id="recentActivities" class="cmuk-card-styles containerHeight recentActivityContainer"></div>
            <div id="votingPowers" class="cmuk-margin-bottom tableViewCard cmuk-card-styles containerHeight"></div>
        </div>
        <script>
                componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
                componentResource('votingPowers', jsRoutes.controllers.ComponentViewController.votingPowers());
        </script>
    }
