@import controllers.actions.LoginState
@import views.html.base.common
@import views.html.base._
@(failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.View.TRANSACTIONS), failures, warnings, successes, infos)(left)(center)(right)

@left = {
    <div class="leftContainer">
        <div id="financials" class="financial"></div>
    </div>
    <script>
        @loginState.userType match {
            case constants.User.TRADER => {
            componentResource('financials', jsRoutes.controllers.ComponentViewController.traderFinancials());
            }
            case constants.User.ORGANIZATION => {
            componentResource('financials', jsRoutes.controllers.ComponentViewController.organizationFinancial());
            }
            case constants.User.ZONE => {
            componentResource('financials', jsRoutes.controllers.ComponentViewController.zoneFinancial());
            }
            case constants.User.GENESIS => {}
            case _ => {}
        }
    </script>
}

@center = {

    <div class="cmuk-container cmuk-margin-bottom">
        <div id="sendFiatRequests" class="switcherCard"></div>
        <div id="redeemFiatRequests" class="switcherCard"></div>
        <div id="receiveFiats"></div>
        @loginState.userType match {
            case constants.User.TRADER => {
            <div id="traderViewIssueFiatRequestList"></div>
                <script>
                    componentResource('traderViewIssueFiatRequestList', jsRoutes.controllers.ComponentViewController.traderViewIssueFiatRequestList());
                    componentResource('sendFiatRequests', jsRoutes.controllers.ComponentViewController.traderViewSendFiatRequests());
                    componentResource('redeemFiatRequests', jsRoutes.controllers.ComponentViewController.traderViewRedeemFiatRequests());
                    componentResource('receiveFiats', jsRoutes.controllers.ComponentViewController.traderViewReceiveFiatList());
                </script>
            }
            case constants.User.ORGANIZATION => {
                <div id="organizationViewIssueFiatRequestList"></div>
                <script>
                    componentResource('organizationViewIssueFiatRequestList', jsRoutes.controllers.ComponentViewController.organizationViewIssueFiatRequestList());
                    componentResource('sendFiatRequests', jsRoutes.controllers.ComponentViewController.organizationViewSendFiatRequests());
                    componentResource('redeemFiatRequests', jsRoutes.controllers.ComponentViewController.organizationViewRedeemFiatRequests());
                    componentResource('receiveFiats', jsRoutes.controllers.ComponentViewController.organizationViewReceiveFiatList());
                </script>
            }
            case constants.User.ZONE => {
                <div id="zoneViewIssueFiatRequestList"></div>
                <script>
                    componentResource('zoneViewIssueFiatRequestList', jsRoutes.controllers.ComponentViewController.zoneViewIssueFiatRequestList());
                    componentResource('sendFiatRequests', jsRoutes.controllers.ComponentViewController.zoneViewSendFiatRequests());
                    componentResource('redeemFiatRequests', jsRoutes.controllers.ComponentViewController.zoneViewRedeemFiatRequests());
                    componentResource('receiveFiats', jsRoutes.controllers.ComponentViewController.zoneViewReceiveFiatList());
                </script>
            }
            case constants.User.GENESIS => {}
            case _ => {}
        }

    </div>
}

@right = {
    <div class="rightContainer">
    <div class="recentActivityContainer">
        <div id="recentActivities"></div>
    </div>
    </div>
    <script>
            componentResource('recentActivities', jsRoutes.controllers.ComponentViewController.recentActivities());
    </script>
}
