@import utilities.LoginState
@(username: String, address: String, coins: Int = 0, profilePicture: Array[Byte])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME))(Html(""))(center)(Html(""))
    @center = {
    <div class="flexContainer">
        @component.master.commonHome(username = username, userType = constants.User.UNKNOWN, address = address, coins = coins, profilePicture = profilePicture)
        <button onclick="getForm(jsRoutes.controllers.SendCoinController.requestCoinsForm())">@Messages(constants.Form.REQUEST_COIN)</button>
    </div>
}