@import helper._
@import views.companion.master.UpdateContact

@(updateContactForm: Form[UpdateContact.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages("UpdateContact")) {
        @form(action = routes.UpdateContactController.updateContact) {
            @CSRF.formField
            @inputText(updateContactForm(Messages("mobileNumber")))
            @inputText(updateContactForm(Messages("emailAddress")))

            @if(updateContactForm.hasGlobalErrors) {
                <ul>
                @for(error <- updateContactForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="submit">@Messages("UpdateContact")</button>
        }
}