@ @
import helper._
@import views.forms.VerifyEmailAddress

@(verifyEmailAddressForm: Form[VerifyEmailAddress.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
    @common(Messages("Welcome")) {
        @form(action = routes.VerifyEmailAddressController.verifyEmailAddress) {
            @CSRF.formField
            @inputText(verifyEmailAddressForm(Messages("OTP")))

            @if(verifyEmailAddressForm.hasGlobalErrors) {
                <ul>
                @for(error <- verifyEmailAddressForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            <button type="submit">@Messages("VerifyEmailAddress")</button>
        }
    }