@import helper._
@import views.forms.VerifyMobileNumber

@(verifyMobileNumberForm: Form[VerifyMobileNumber.Data])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)
@common(Messages("Welcome")) {
    @form(action = routes.VerifyMobileNumberController.verifyMobileNumber) {
        @CSRF.formField
        @inputText(verifyMobileNumberForm(Messages("OTP")))

        @if(verifyMobileNumberForm.hasGlobalErrors) {
            <ul>
            @for(error <- verifyMobileNumberForm.globalErrors) {
                <li>@error.format</li>
            }
            </ul>
        }
        <button type="submit">@Messages("VerifyMobileNumber")</button>
    }
}