@import models.master.Zone
@import controllers.actions.LoginState
@(zone: Zone, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME), failures, warnings, successes, infos )(Html(""))(center)(Html(""))

@center = {
    <div cmuk-grid>
        <div class="cmuk-width-3-4 centerText">
            <div class="cmuk-card
                        cmuk-card-default
                        cmuk-card-body">
                        <div id="commonHome" class="flexItem flexGrowth"></div>
            </div>
        </div>
        <div class="cmuk-width-1-4 centerText">
            <div class="cmuk-card
                        cmuk-card-default
                        cmuk-card-body">
                        <span class="heading">@Messages(constants.Form.ZONE):</span>
                        <div id="zone"></div>
            </div>
        </div>
    </div>
    <div class="cmuk-card
                cmuk-card-default
                cmuk-card-body
                cmuk-margin-medium-top">
                <span class="heading">@Messages(constants.Form.GENESIS)</span>
                <div id="genesisDetails" class ="flexContainer"></div>
    </div>

    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails());
            componentResource('genesisDetails', jsRoutes.controllers.ComponentViewController.genesisDetails());
    </script>
}