@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))


    @center = {
        <div class="flexContainer">

            <div class="flexGrowth leftText lightBlue">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('zoneInformation', jsRoutes.controllers.AddOrganizationController.viewOrganizationsInZone() ,this)">@Messages(constants.Form.ORGANIZATIONS) </h2>
                </div>
                <div id="zoneInformation" class="flexContainer scrollableFirst"></div>
            </div>
        </div>
    }
