@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

    @common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))
@center = {
<div class="container">
      <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a onclick="fetchOrShowHide('pendingVerifyOrganizationRequests', jsRoutes.controllers.AddOrganizationController.viewPendingVerifyOrganizationRequests(),this)" class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    @Messages(constants.Form.PENDING_VERIFY_ORGANIZATION_REQUESTS)
                </a>

            </div>
            <div  id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div id="pendingVerifyOrganizationRequests" class="flexContainer">
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Collapse
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>

    </div>
</div>


        <div class="flexContainer">
            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('pendingVerifyOrganizationRequests', jsRoutes.controllers.AddOrganizationController.viewPendingVerifyOrganizationRequests(),this)">@Messages(constants.Form.PENDING_VERIFY_ORGANIZATION_REQUESTS) </h2>
                </div>
                <div id="pendingVerifyOrganizationRequests" class="flexContainer">
                </div>
            </div>
            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('setACLList', jsRoutes.controllers.SetACLController.zoneViewPendingVerifyTraderRequests(),this)">@Messages(constants.Form.SET_ACL) </h2>
                </div>
                <div id="setACLList" class="flexContainer">
                </div>
            </div>
            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('pendingIssueAssetRequests', jsRoutes.controllers.IssueAssetController.viewPendingIssueAssetRequests(),this)">@Messages(constants.Form.PENDING_ISSUE_ASSET_REQUESTS) </h2>
                </div>
                <div id="pendingIssueAssetRequests" class="flexContainer">
                </div>
            </div>

            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('pendingIssueFiatRequests', jsRoutes.controllers.IssueFiatController.viewPendingIssueFiatRequests(),this)">@Messages(constants.Form.PENDING_ISSUE_FIAT_REQUESTS) </h2>
                </div>
                <div id="pendingIssueFiatRequests" class="flexContainer">
                </div>
            </div>

            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('releaseAsset', jsRoutes.controllers.ReleaseAssetController.releaseAssetList(),this)">@Messages(constants.Form.RELEASE_ASSET) </h2>
                </div>
                <div id="releaseAsset" class="flexContainer">
                </div>
            </div>

            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('moderatedBuyerExecuteOrderList', jsRoutes.controllers.BuyerExecuteOrderController.moderatedBuyerExecuteOrderList(),this)">@Messages(constants.Form.BUYER_EXECUTE_ORDER) </h2>
                </div>
                <div id="moderatedBuyerExecuteOrderList" class="flexContainer">
                </div>
            </div>

            <div class="flexGrowth box leftText">
                <div>
                    <h2 class="showHide toggleElement centerText" onclick="fetchOrShowHide('moderatedSellerExecuteOrderList', jsRoutes.controllers.SellerExecuteOrderController.moderatedSellerExecuteOrderList(),this)">@Messages(constants.Form.SELLER_EXECUTE_ORDER) </h2>
                </div>
                <div id="moderatedSellerExecuteOrderList" class="flexContainer">
                </div>
            </div>

        </div>

    }
