@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))

@center = {
    <ul cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('pendingVerifyOrganizationRequests', jsRoutes.controllers.AddOrganizationController.viewPendingVerifyOrganizationRequests(), this)">@Messages(constants.View.PENDING_VERIFY_ORGANIZATION_REQUESTS)</a>
            <div id="pendingVerifyOrganizationRequests" class="flexContainer"></div>
        </li>
    </ul>
    <ul cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('setACLList', jsRoutes.controllers.SetACLController.zoneViewPendingVerifyTraderRequests(), this)">@Messages(constants.View.PENDING_SET_ACL)</a>
            <div id="setACLList" class="flexContainer"></div>
        </li>
    </ul>
    <ul cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#"onclick="fetchOrShowHide('pendingIssueAssetRequests', jsRoutes.controllers.IssueAssetController.viewPendingIssueAssetRequests(), this)">@Messages(constants.View.PENDING_ISSUE_ASSET_REQUESTS)</a>
            <div id="pendingIssueAssetRequests" class="flexContainer"></div>
        </li>
    </ul>
    <ul cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('pendingIssueFiatRequests', jsRoutes.controllers.IssueFiatController.viewPendingIssueFiatRequests(), this)">@Messages(constants.View.PENDING_ISSUE_FIAT_REQUESTS)</a>
            <div id="pendingIssueFiatRequests" class="flexContainer"></div>
        </li>
    </ul>
    <ul cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('releaseAsset', jsRoutes.controllers.ReleaseAssetController.releaseAssetList(), this)">@Messages(constants.View.PENDING_RELEASE_ASSET)</a>
            <div id="releaseAsset" class="flexContainer"></div>
        </li>
    </ul>
    <ul cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('moderatedBuyerExecuteOrderList', jsRoutes.controllers.BuyerExecuteOrderController.moderatedBuyerExecuteOrderList(), this)">@Messages(constants.View.PENDING_BUYER_EXECUTE_ORDER)</a>
            <div id="moderatedBuyerExecuteOrderList" class="flexContainer"></div>
        </li>
    </ul>
    <ul cmuk-accordion>
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('moderatedSellerExecuteOrderList', jsRoutes.controllers.SellerExecuteOrderController.moderatedSellerExecuteOrderList(), this)">@Messages(constants.View.PENDING_SELLER_EXECUTE_ORDER)</a>
            <div id="moderatedSellerExecuteOrderList" class="flexContainer"></div>
        </li>
    </ul>
}
