@import controllers.actions.LoginState
@import models.master.Zone
@(zone: Zone, failures: Seq[constants.Response.Failure] = Seq(), warnings: Seq[constants.Response.Warning] = Seq(), successes: Seq[constants.Response.Success] = Seq(), infos: Seq[constants.Response.Info] = Seq())(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME), failures, warnings, successes, infos)(Html(""))(center)(Html(""))

@center = {
    <div class="row">
        <div class="col-md-8 d-flex align-items-stretch">
            <div id="commonHome" class="flexItem flexGrowth"></div>
        </div>
        <div class="col-md-4 flexItem flexGrowth leftText d-flex align-items-stretch">
            <div class="card">
                <div class="card-header ">
                    <span class="heading">@Messages(constants.Form.ZONE):</span>
                </div>
                <div class="card-body">
                    <div id="zone">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 flexGrowth flexItem d-flex align-items-stretch">
            <div class="card">
                <div class="card-header leftText">
                    <span class="heading">@Messages(constants.Form.GENESIS)</span>
                </div>
                <div class="card-body">
                    <div id="genesisDetails" class ="flexContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails());
            componentResource('genesisDetails', jsRoutes.controllers.ComponentViewController.genesisDetails());
    </script>
}