@import models.master.Zone
@import controllers.actions.LoginState
@(zone: Zone)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.User.HOME))(Html(""))(center)(Html(""))

@center = {
    <div class="flexContainer">
        <div id="commonHome" class="box flexItem flexGrowth"></div>
        <div class="flexItem box leftAlign flexGrowth">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.ZONE):</h2>
            </div>
            <div id="zone">
            </div>
        </div>
        <div class="flexGrowth flexItem box leftText">
            <div>
                <h2 class="showHide toggleElement centerText">@Messages(constants.Form.GENESIS)</h2>
            </div>
            <div id="genesisDetails" class ="flexContainer"></div>
        </div>
    </div>
    <div class="centerText">
        <button onclick="getForm(jsRoutes.controllers.FileController.updateZoneKycForm('@constants.File.BANK_DETAILS'))">@Messages(constants.Form.UPDATE_ZONE_BANK_DETAILS)</button>
        <button onclick="getForm(jsRoutes.controllers.FileController.updateZoneKycForm('@constants.File.IDENTIFICATION'))">@Messages(constants.Form.UPDATE_ZONE_IDENTIFICATION)</button>
    </div>
    <script>
            componentResource('commonHome', jsRoutes.controllers.ComponentViewController.commonHome());
            componentResource('zone', jsRoutes.controllers.ComponentViewController.zoneDetails());
            componentResource('genesisDetails', jsRoutes.controllers.ComponentViewController.genesisDetails());
    </script>
}