@import controllers.actions.LoginState
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)

@common(Messages(constants.Form.INDEX))(Html(""))(center)(Html(""))

@center = {
    <ul cmuk-accordion="multiple: true" class="flexContainer">
        <li>
            <a class="cmuk-accordion-title" href="#" onclick="fetchOrShowHide('zoneInformation', jsRoutes.controllers.AddOrganizationController.viewOrganizationsInZone(), this)">@Messages(constants.Form.ORGANIZATIONS)</a>
            <div class="cmuk-accordion-content">
                <div id="zoneInformation" class="scrollableFirst"></div>
            </div>
        </li>
    </ul>
}
