@import views.html.base._
@import views.html.base.cards._
@import scala.collection.immutable.ListMap

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.TRANSACTIONS) {

} {
    @commonHorizontalSwitcher(ListMap(
        constants.View.NUB -> routes.javascript.ComponentViewController.getTransaction,
        constants.View.DEFINE -> routes.javascript.ComponentViewController.getTransaction,
        constants.View.ISSUE -> routes.javascript.ComponentViewController.getTransaction,
        constants.View.PROVISION -> routes.javascript.ComponentViewController.getTransaction,
        constants.View.UNPROVISION -> routes.javascript.ComponentViewController.getTransaction,
    ),
        'NUB_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.IDENTITY_NUB}'",
        'DEFINE_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.IDENTITY_DEFINE}'",
        'ISSUE_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.IDENTITY_ISSUE}'",
        'PROVISION_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.IDENTITY_PROVISION}'",
        'UNPROVISION_PARAMETERS -> s"'${constants.Blockchain.TransactionRequest.IDENTITY_UNPROVISION}'"
    )
}



