@import models.blockchain.Identity
@import views.html.base.cards._
@import views.html.base.infos._
@import views.html.base.buttons._

@(identity: Identity)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonCard(constants.View.IDENTITY) {
    <span class="stringEllipse" title="@identity.id">@identity.id</span>
} {
    @commonHtmlInfo(constants.View.PROVISIONED_ADDRESS_LIST, commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.provisionedAddresses, 'parameters -> s"'${identity.id}'"))
    @commonHtmlInfo(constants.View.UNPROVISIONED_ADDRESS_LIST, commonModalButton(constants.View.VIEW, routes.javascript.ComponentViewController.unprovisionedAddresses, 'parameters -> s"'${identity.id}'"))
    @views.html.component.blockchain.properties(mutableProperties = identity.mutables.properties.propertyList, immutableProperties = identity.immutables.properties.propertyList)
}