
@import views.html.base._
@import models.blockchainTransaction.IdentityUnprovision

@(identityUnprovisionTransactions: Seq[IdentityUnprovision])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div id="unprovisionTransaction">
@identityUnprovisionTransactions.map{unprovisionTransaction =>
    @commonVerticalInfoBox(){
        @commonVerticalTextInfo(constants.View.TX_HASH, unprovisionTransaction.txHash.getOrElse(""))
        @commonVerticalTextInfo(constants.View.TO, unprovisionTransaction.to)
        @commonVerticalBooleanInfo(constants.View.STATUS, unprovisionTransaction.status)
    }
}
</div>