@import views.html.base._
@import models.blockchainTransaction.IdentityIssue

@(identityIssueTransactions: Seq[IdentityIssue])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div id="issueTransaction">
@identityIssueTransactions.map { issueTransaction =>
    @commonVerticalInfoBox(){
        @commonVerticalTextInfo(constants.View.TX_HASH, issueTransaction.txHash.getOrElse(""))
        @commonVerticalTextInfo(constants.View.FROM_ID, issueTransaction.fromID)
        @commonVerticalBooleanInfo(constants.View.STATUS, issueTransaction.status)
    }
}
</div>