@import views.html.base._
@import models.blockchainTransaction.IdentityProvision

@(identityProvisionTransactions: Seq[IdentityProvision])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div id="provisionTransaction">
@identityProvisionTransactions.map{provisionTransaction =>
    @commonVerticalInfoBox(){
        @commonVerticalTextInfo(constants.View.TX_HASH, provisionTransaction.txHash.getOrElse(""))
        @commonVerticalTextInfo(constants.View.TO, provisionTransaction.to)
        @commonVerticalBooleanInfo(constants.View.STATUS, provisionTransaction.status)
    }
}
</div>