@import views.html.base.infos._
@import models.blockchainTransaction.IdentityNub

@(identityNubTransactions: Seq[IdentityNub])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div id="nubTxs">
@identityNubTransactions.map { nubTransaction  =>
    @commonVerticalInfoBox(){
        @commonVerticalTextInfo(constants.View.TX_HASH, nubTransaction.txHash.getOrElse(""))
        @commonVerticalTextInfo(constants.View.NUB_ID, nubTransaction.nubID)
        @commonVerticalBooleanInfo(constants.View.STATUS, nubTransaction.status)
    }
}
</div>
