@import controllers.actions.LoginState
@import views.companion.wallex.AddOrganizationBeneficiary
@import views.html.base._

@(addOrgWallexBeneficiaryDetails: Form[AddOrganizationBeneficiary.Data] = AddOrganizationBeneficiary.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)
@commonForm(constants.Form.WALLEX_ADD_BENEFICIARY_DETAILS, addOrgWallexBeneficiaryDetails) {

    @commonSelect(addOrgWallexBeneficiaryDetails, constants.FormField.COUNTRY_CODE2)
    @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.COMPANY_ADDRESS)
    @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.CITY)
    @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.STATE_OR_PROVINCE)
    @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.US_POSTAL_CODE)
    @commonSelect(addOrgWallexBeneficiaryDetails, constants.FormField.ENTITY_TYPE)
    @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.COMPANY_NAME)
    @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.NICK_NAME)
    @defining(Option(constants.FormField.WALLEX_BANK_DATA)) { implicit nestedFormField =>
        @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.BANK_NAME)
        @commonSelect(addOrgWallexBeneficiaryDetails, constants.FormField.COUNTRY_CODE2)
        @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.BANK_ADDRESS)
        @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.ACCOUNT_NUMBER)
        @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.ACCOUNT_HOLDER_NAME)
        @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.SWIFT_CODE)
        @commonInputText(addOrgWallexBeneficiaryDetails, constants.FormField.ABA)
        @commonSelect(addOrgWallexBeneficiaryDetails, constants.FormField.WALLEX_CURRENCIES)
    }
}
<div id="wallexMessage">
    @Messages(constants.View.WALLEX_POWERED_BY)
    <img src="@routes.Assets.versioned("images/wallex.png")" alt = "@Messages(constants.View.WALLEX_LOGO)" class="wallexLogo"/>
</div>