@import controllers.actions.LoginState
@import views.companion.wallex.CreateWallexPaymentQuote
@import views.html.base._

@(wallexQuote: Form[CreateWallexPaymentQuote.Data] = CreateWallexPaymentQuote.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState)
@commonForm(constants.Form.WALLEX_INITIATE_PAYMENT, wallexQuote) {
    @commonSelect(wallexQuote, constants.FormField.WALLEX_CURRENCIES_SELL)
    @commonSelect(wallexQuote, constants.FormField.WALLEX_CURRENCIES_BUY)
    @commonInputText(wallexQuote, constants.FormField.BENEFICIARY_ID)
    @commonInputDouble(wallexQuote, constants.FormField.AMOUNT_WALLEX)
}