@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.OrganizationAccount
@import scala.collection.immutable.ListMap
@import models.wallex.UserKYC

@(organizationAccount: Option[OrganizationAccount], wallexDocument: Seq[UserKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

@commonCard(constants.View.WALLEX_ORGANIZATION_ACCOUNT, 'cardIconPath -> "images/icons/icons.svg#wallexAccount") {
    @if(organizationAccount.isDefined) {
        @commonFormButton(constants.Form.WALLEX_TRADER_UPDATE_USER_DETAILS)
    }
} {
    @organizationAccount match {
        case Some(organizationAccount) => {

            @commonHorizontalSwitcher(ListMap(
                constants.View.DETAILS -> views.html.component.wallex.userViewAccountInformation(organizationAccount),
                constants.View.DOCUMENTS -> views.html.component.wallex.wallexKYCDocuments(wallexDocument))
            )
        }
        case None => {
            @commonFormButton(constants.Form.WALLEX_TRADER_ACCOUNT_ADD_OR_UPDATE, 'class -> "cmuk-position-center cmuk-button cmuk-button-primary")
        }
    }
}