@import views.html.base._
@import controllers.actions.LoginState

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

<legend class="cmuk-legend">
    @Messages(constants.View.WALLEX_TERMS_AND_CONDITIONS)
</legend>
<hr>
<div class="modalInfoBlock">
    <div class = "wallexTermsAndConditions">
        <span> @Messages(constants.View.WALLEX_TERMS_AND_CONDITIONS_TEXT) </span>
    </div>


    @commonModalButton(constants.View.BACK, routes.javascript.WallexController.createOrganizationAccountForm)
</div>
