@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.OrganizationBeneficiary

@(organizationWallexBeneficiaryDetail: Seq[OrganizationBeneficiary])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

    @commonCard(constants.View.WALLEX_ORGANIZATION_BENEFICIARY, 'cardIconPath -> "images/icons/icons.svg#bankAccount") {

        @commonFormButton(constants.Form.WALLEX_TRADER_BENEFICIARY_ADD)
    } {
        @organizationWallexBeneficiaryDetail.map { beneficiary =>
            @commonVerticalInfoBox() {
                <div>
                    @commonTextInfo(constants.View.WALLEX_BENEFICIARY_ID, beneficiary.beneficiaryID)
                    @commonTextInfo(constants.View.COMPANY_NAME, beneficiary.companyName)
                    @commonTextInfo(constants.View.NICK_NAME, beneficiary.nickname)
                    @commonTextInfo(constants.View.ACCOUNT_TYPE, beneficiary.accountType)
                    @commonTextInfo(constants.View.ACCOUNT_NUMBER, beneficiary.bankAccount.accountNumber)
                    @commonTextInfo(constants.View.BANK_NAME, beneficiary.bankAccount.bankName)
                    @commonTextInfo(constants.View.SWIFT_CODE, beneficiary.bankAccount.bicSwift)
                    @commonTextInfo(constants.View.ACCOUNT_HOLDER_NAME, beneficiary.bankAccount.bankAccountHolderName)
                    <div class="cmuk-text-center cmuk-margin-top">
                    @commonFormButton(constants.Form.WALLEX_TRADER_BENEFICIARY_DELETE, 'parameters -> s"'${beneficiary.beneficiaryID}'")
                    </div>
                </div>
            }
        }
    }


