@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.OrganizationAccount
@import models.wallex.CollectionAccount

@(organizationAccount: OrganizationAccount, collectionWallex: Option[CollectionAccount])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
    @commonCard(constants.View.WALLEX_COLLECTION_ACCOUNT, 'cardIconPath -> "images/icons/icons.svg#collectionsAccount") {
        @if(collectionWallex.isEmpty) {
            @commonFormButton(constants.Form.WALLEX_TRADER_CREATE_COLLECTION_ACCOUNT, 'parameters -> s"'${organizationAccount.accountID}'")
        }
    } {
        @if(collectionWallex.isDefined) {
            @commonTextInfo(constants.View.WALLEX_COLLECTION_ACCOUNT_ID, collectionWallex.get.id)
            @commonFormButton(constants.Form.WALLEX_TRADER_GET_COLLECTION_ACCOUNT, 'parameters -> s"'${organizationAccount.accountID}'", 'class -> "cmuk-position-center cmuk-button cmuk-button-primary")
        }
    }
