@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.Beneficiary

@(beneficiaries: Seq[Beneficiary])(implicit messagesProvider: MessagesProvider, loginState: LoginState)

    @commonCard(constants.View.WALLEX_ORGANIZATION_BENEFICIARY, 'cardIconPath -> "images/icons/icons.svg#beneficiaries") {

        @commonFormButton(constants.Form.WALLEX_TRADER_BENEFICIARY_ADD)
    } {
        @beneficiaries.map { beneficiary =>
            @commonVerticalInfoBox() {
                <div>
                    @commonTextInfo(constants.View.WALLEX_BENEFICIARY_ID, beneficiary.beneficiaryID)@commonCopyText("beneficiaryID", beneficiary.beneficiaryID)
                    @commonTextInfo(constants.View.COMPANY_NAME, beneficiary.companyName)
                    @commonTextInfo(constants.View.NICK_NAME, beneficiary.nickname)
                    @commonTextInfo(constants.View.WALLEX_ACCOUNT_TYPE, beneficiary.accountType)
                    @commonTextInfo(constants.View.ACCOUNT_NUMBER, beneficiary.bankAccount.accountNumber)
                    @commonTextInfo(constants.View.BANK_NAME, beneficiary.bankAccount.bankName)
                    @commonTextInfo(constants.View.SWIFT_CODE, beneficiary.bankAccount.bicSwift)
                    @commonTextInfo(constants.View.ACCOUNT_HOLDER_NAME, beneficiary.bankAccount.bankAccountHolderName)
                    @commonFormButton(constants.Form.WALLEX_TRADER_BENEFICIARY_DELETE, 'parameters -> s"'${beneficiary.beneficiaryID}'", 'class -> "cmuk-text-center cmuk-margin-top")
                </div>
            }
        }
    }


