@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.OrganizationAccount
@import models.wallex.Beneficiary

@(organizationAccount: OrganizationAccount, beneficiary: Seq[Beneficiary],negotiationID:String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@if(!beneficiary.isEmpty) {
    @commonFormButton(constants.Form.WALLEX_TRADER_PAYMENT_INITIATE, 'parameters -> s"'${negotiationID}'")
}
