@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.OrganizationAccount

@(organizationAccount: OrganizationAccount)(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

<div>
    @commonTextInfo(constants.View.WALLEX_ID, organizationAccount.wallexID)
    @commonTextInfo(constants.View.STATUS, organizationAccount.status)
    @commonTextInfo(constants.View.EMAIL_ADDRESS, organizationAccount.email)
    @commonTextInfo(constants.View.FIRST_NAME, organizationAccount.firstName)
    @commonTextInfo(constants.View.LAST_NAME, organizationAccount.lastName)
    @commonTextInfo(constants.View.ACCOUNT_ID, organizationAccount.accountID)
</div>