@import controllers.actions.LoginState
@import views.html.base._

@import models.wallex.OrganizationWallexDetail
@import models.wallex.OrganizationBeneficiary
@(organizationWallexDetail: Option[OrganizationWallexDetail], wallexBeneficiary: Seq[OrganizationBeneficiary])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, flash: Flash, configuration: play.api.Configuration, loginState: LoginState = null)
@if(organizationWallexDetail.isDefined && !wallexBeneficiary.isEmpty) {
    @commonFormButton(constants.Form.WALLEX_INITIATE_PAYMENT)
}
