@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.UserKYC

@import views.html.component.master.commonDocumentViewer
@(userKYCs: Seq[UserKYC])(implicit messagesProvider: MessagesProvider, loginState: LoginState = null)

    @for(userKYC <- userKYCs) {
        @commonDocumentViewer(userKYC) {
            @routes.FileController.getWallexKYCFile(userKYC.fileName, userKYC.documentType)
        } {
            @commonLink(userKYC.documentType, routes.FileController.getWallexKYCFile(userKYC.fileName, userKYC.documentType))
        } {
            @commonFormButton(constants.Form.WALLEX_TRADER_KYC_DELETE, 'parameters -> s"'${userKYC.fileID}','${userKYC.documentType}'", 'class -> "cmuk-text-center cmuk-margin-top")
        }
    }
        <div class="cmuk-text-center cmuk-margin-top">
        @commonFormButton(constants.Form.WALLEX_TRADER_DOCUMENT_ADD_OR_UPDATE)
        </div>
