@import controllers.actions.LoginState
@import views.html.base._
@import models.wallex.OrganizationAccountDetail

@(wallexDetails: Seq[OrganizationAccountDetail])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)

@wallexDetails.map { request =>
    @commonVerticalInfoBox() {
        @commonVerticalTextInfo(constants.View.ORGANIZATION_ID, request.organizationID)
        @commonVerticalTextInfo(constants.View.WALLEX_ID, request.wallexID)
        @commonVerticalTextInfo(constants.View.STATUS, request.status)
        <div class="listItemChild">
            <p class="listItemChildTitle">
            @Messages(constants.View.ACTION)
            </p>
            <p class="listItemChildValue">
            @commonModalButton(constants.View.VIEW_REQUEST, routes.javascript.WallexController.sendForScreeningForm, 'parameters -> s"'${request.wallexID}'")
            </p>
        </div>
    }
}