@import controllers.actions.LoginState
@import views.companion.wallex.WalletTransfer
@import views.html.base._

@(wallexWalletTransfer: Form[WalletTransfer.Data] = WalletTransfer.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState = null)
@commonForm(constants.Form.WALLEX_ZONE_TRANSFER_WALLET, wallexWalletTransfer) {
    @commonInputText(wallexWalletTransfer, constants.FormField.NEGOTIATION_ID, 'readonly -> true)
    @commonInputText(wallexWalletTransfer, constants.FormField.WALLEX_ON_BEHALF_OF, 'readonly -> true)
    @commonInputText(wallexWalletTransfer, constants.FormField.WALLEX_RECEIVER_ACCOUNT_ID, 'readonly -> true)
    @commonInputMicroNumber(wallexWalletTransfer, constants.FormField.WALLEX_AMOUNT, 'readonly -> true)
    @commonSelect(wallexWalletTransfer, constants.FormField.WALLEX_CURRENCIES, 'readonly -> true)
    @commonSelect(wallexWalletTransfer, constants.FormField.WALLEX_PURPOSE_OF_TRANSFER, 'readonly -> true)
    @commonInputText(wallexWalletTransfer, constants.FormField.WALLEX_REFERENCE, 'readonly -> true)
    @commonInputText(wallexWalletTransfer, constants.FormField.WALLEX_REMARKS, 'readonly -> true)
}